playbook-TCS-Crowdstrike_Hash_detection_playbook_copy.yml
contentitemexportablefields:
  contentitemfields:
    definitionid: ""
    fromServerVersion: ""
    itemVersion: ""
    packID: ""
    packName: ""
    prevname: ""
    propagationLabels:
    - all
    toServerVersion: ""
id: 279c6883-f837-4c0e-833c-2096bff09d28
inputs: []
name: TCS-Crowdstrike Hash detection playbook_copy
outputs: []
sourceplaybookid: 4cba8e1c-b958-4629-8ecf-b7cddccf9ec0
starttaskid: "0"
tasks:
  "0":
    continueonerrortype: ""
    id: "0"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "1"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: cec6c35e-ec71-49fa-8510-7a66c4736964
      iscommand: false
      name: ""
      version: -1
    taskid: cec6c35e-ec71-49fa-8510-7a66c4736964
    timertriggers: []
    type: start
    view: |-
      {
        "position": {
          "x": 730,
          "y": -450
        }
      }
  "1":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: incident.labels.Email/from
          operator: isEqualString
          right:
            value:
              simple: v.ghule@tcs.com
        - left:
            iscontext: true
            value:
              simple: incident.labels.Email/from
          operator: isEqualString
          right:
            value:
              simple: yogesh.gholap@tcs.com
        - left:
            iscontext: true
            value:
              simple: incident.labels.Email/from
          operator: isEqualString
          right:
            value:
              simple: kunal.krushev@tcs.com
        - left:
            iscontext: true
            value:
              simple: incident.labels.Email/from
          operator: isEqualString
          right:
            value:
              simple: internalis.cybersecurityops@tcs.com
        - left:
            iscontext: true
            value:
              simple: incident.labels.Email/from
          operator: isEqualString
          right:
            value:
              simple: nishanth.dharuman@tcs.com
      label: "yes"
    continueonerrortype: ""
    id: "1"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "20"
      "yes":
      - "2"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 0bff1df0-6fab-484b-86d3-512e2360ea13
      iscommand: false
      name: Is Email From Authorized Sender ?
      type: condition
      version: -1
    taskid: 0bff1df0-6fab-484b-86d3-512e2360ea13
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 730,
          "y": -305
        }
      }
  "2":
    continueonerrortype: ""
    id: "2"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "4"
    note: false
    quietmode: 0
    scriptarguments:
      entryID:
        simple: ${File.EntryID}
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: commands.local.cmd.extract.indicators
      id: e149a783-0e62-46f8-89b5-aa4c1651b016
      iscommand: true
      name: Extract Indicators From Text File
      script: Builtin|||extractIndicators
      type: regular
      version: -1
    taskid: e149a783-0e62-46f8-89b5-aa4c1651b016
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 730,
          "y": -60
        }
      }
  "3":
    continueonerrortype: ""
    id: "3"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "17"
    note: false
    quietmode: 0
    scriptarguments:
      body:
        simple: |-
          Hello Human,

          You are not on my authorized list of senders to block these Hashes. Please contact Your XSOAR Support team.

          Regards,
          CSOC Cyber AutoBot
      cc:
        simple: v.ghule@tcs.com
      subject:
        simple: Not Authorized To Send Mail For Hash blocking on CS
      to:
        complex:
          accessor: labels.Email/from
          root: incident
      using:
        simple: Mail Sender_instance_AutoBot
    separatecontext: false
    skipunavailable: false
    task:
      brand: Mail Sender (New)
      description: Send an email
      id: 55c7c8e5-9841-404f-87fe-9d55ec912a73
      iscommand: true
      name: Send Email Notification - Not Authorized User
      script: Mail Sender (New)|||send-mail
      type: regular
      version: -1
    taskid: 55c7c8e5-9841-404f-87fe-9d55ec912a73
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1970,
          "y": 750
        }
      }
  "4":
    continueonerrortype: ""
    id: "4"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "6"
      - "9"
      - "11"
      - "14"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: ea1edf47-deb9-414d-804d-df05ac6fcc28
      iscommand: false
      name: Crowdstrike  Detection
      type: title
      version: -1
    taskid: ea1edf47-deb9-414d-804d-df05ac6fcc28
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 740,
          "y": 430
        }
      }
  "5":
    continueonerrortype: ""
    id: "5"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "16"
    note: false
    quietmode: 0
    scriptarguments:
      ioc_type:
        simple: domain
      policy:
        simple: detect
      share_level:
        simple: red
      value:
        simple: ${ExtractedIndicators.Domain_Test_}
    separatecontext: false
    skipunavailable: false
    task:
      brand: CrowdstrikeFalcon
      description: Uploads an indicator for CrowdStrike to monitor.
      id: 94ba9787-17f8-40a0-80e6-89c7c39d96cc
      iscommand: true
      name: Detect Domain  on Crowdstrike
      script: CrowdstrikeFalcon|||cs-falcon-upload-ioc
      type: regular
      version: -1
    taskid: 94ba9787-17f8-40a0-80e6-89c7c39d96cc
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 320,
          "y": 855
        }
      }
  "6":
    continueonerrortype: ""
    id: "6"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      "no":
      - "16"
      "yes":
      - "8"
    note: false
    quietmode: 0
    scriptarguments:
      value:
        simple: ${ExtractedIndicators.IP}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Check if a given value exists in the context. Will return 'no'
        for empty empty arrays. To be used mostly with DQ and selectors.
      id: fd619846-0077-4ffb-829f-540939dfc8c9
      iscommand: false
      name: Are there IP to Detect?
      script: Exists
      type: condition
      version: -1
    taskid: fd619846-0077-4ffb-829f-540939dfc8c9
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": -90,
          "y": 680
        }
      }
  "8":
    continueonerrortype: ""
    id: "8"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "16"
    note: false
    quietmode: 0
    scriptarguments:
      ioc_type:
        simple: ipv4
      policy:
        simple: detect
      share_level:
        simple: red
      value:
        simple: ${ExtractedIndicators.IP}
    separatecontext: false
    skipunavailable: false
    task:
      brand: CrowdstrikeFalcon
      description: Uploads an indicator for CrowdStrike to monitor.
      id: 1c4b54bf-0ca6-4dbe-848f-8905550e3e5a
      iscommand: true
      name: Detect IP's  on Crowdstrike
      script: CrowdstrikeFalcon|||cs-falcon-upload-ioc
      type: regular
      version: -1
    taskid: 1c4b54bf-0ca6-4dbe-848f-8905550e3e5a
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -90,
          "y": 855
        }
      }
  "9":
    continueonerrortype: ""
    id: "9"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      "no":
      - "16"
      "yes":
      - "5"
    note: false
    quietmode: 0
    scriptarguments:
      value:
        simple: ${ExtractedIndicators.Domain_Test_}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Check if a given value exists in the context. Will return 'no'
        for empty empty arrays. To be used mostly with DQ and selectors.
      id: 33e14f8d-b35f-4a89-8f69-bfb849ef1ea3
      iscommand: false
      name: Are there Domain to Detect?
      script: Exists
      type: condition
      version: -1
    taskid: 33e14f8d-b35f-4a89-8f69-bfb849ef1ea3
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 320,
          "y": 680
        }
      }
  "10":
    continueonerrortype: ""
    id: "10"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "29"
    note: false
    quietmode: 0
    scriptarguments:
      ioc_type:
        simple: md5
      policy:
        simple: detect
      share_level:
        simple: red
      value:
        simple: ${ExtractedIndicators.File_MD5}
    separatecontext: false
    skipunavailable: false
    task:
      brand: CrowdstrikeFalcon
      description: Uploads an indicator for CrowdStrike to monitor.
      id: c7649e0e-aebb-43f6-8908-7b4763d5ff43
      iscommand: true
      name: Detect MD5  on Crowdstrike
      script: CrowdstrikeFalcon|||cs-falcon-upload-ioc
      type: regular
      version: -1
    taskid: c7649e0e-aebb-43f6-8908-7b4763d5ff43
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 750,
          "y": 990
        }
      }
  "11":
    continueonerrortype: ""
    id: "11"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "17"
      "yes":
      - "23"
    note: false
    quietmode: 0
    scriptarguments:
      value:
        simple: ${ExtractedIndicators.File_MD5}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Check if a given value exists in the context. Will return 'no'
        for empty empty arrays. To be used mostly with DQ and selectors.
      id: 1889880d-6dab-401c-81fe-04be76de19f8
      iscommand: false
      name: Are there MD5 to Detect?
      script: Exists
      type: condition
      version: -1
    taskid: 1889880d-6dab-401c-81fe-04be76de19f8
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 740,
          "y": 665
        }
      }
  "14":
    continueonerrortype: ""
    id: "14"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "17"
      "yes":
      - "25"
    note: false
    quietmode: 0
    scriptarguments:
      value:
        simple: ${ExtractedIndicators.File_SHA256}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Check if a given value exists in the context. Will return 'no'
        for empty empty arrays. To be used mostly with DQ and selectors.
      id: dc3bb8c5-6afc-4be7-8585-1c40a90724ea
      iscommand: false
      name: Are there SHA256 to Detect?
      script: Exists
      type: condition
      version: -1
    taskid: dc3bb8c5-6afc-4be7-8585-1c40a90724ea
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 1290,
          "y": 665
        }
      }
  "15":
    continueonerrortype: ""
    id: "15"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "27"
    note: false
    quietmode: 0
    scriptarguments:
      ioc_type:
        simple: sha256
      policy:
        simple: detect
      share_level:
        simple: red
      value:
        simple: ${ExtractedIndicators.File_SHA256}
    separatecontext: false
    skipunavailable: false
    task:
      brand: CrowdstrikeFalcon
      description: Uploads an indicator for CrowdStrike to monitor.
      id: 7259766a-658b-434e-8b7e-931daa40e32c
      iscommand: true
      name: Detect SHA256 on Crowdstrike
      script: CrowdstrikeFalcon|||cs-falcon-upload-ioc
      type: regular
      version: -1
    taskid: 7259766a-658b-434e-8b7e-931daa40e32c
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1290,
          "y": 1005
        }
      }
  "16":
    continueonerrortype: ""
    id: "16"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "17"
    note: false
    quietmode: 0
    scriptarguments:
      body:
        simple: |-
          Hello Human,

          IOC list is added in Crowdstrike hash detection- ${incident.attachment.name}

          XSOAR Investigation id - ${incident.id}


          Regards,
          Cyber AutoBot
      cc:
        simple: v.ghule@tcs.com
      subject:
        simple: IOC Detection on Crowdstrike List Name - ${incident.attachment.name}
      to:
        complex:
          accessor: labels.Email/from
          root: incident
      using:
        simple: Mail Sender_instance_AutoBot
    separatecontext: false
    skipunavailable: false
    task:
      brand: Mail Sender (New)
      description: Send an email
      id: 03ea2019-d815-44f5-81a0-fa686212708a
      iscommand: true
      name: Send Notification Mail
      script: Mail Sender (New)|||send-mail
      type: regular
      version: -1
    taskid: 03ea2019-d815-44f5-81a0-fa686212708a
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 760,
          "y": 1220
        }
      }
  "17":
    continueonerrortype: ""
    id: "17"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "18"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: e659114e-633d-44b0-8717-4a06f7a3a233
      iscommand: false
      name: Close
      type: title
      version: -1
    taskid: e659114e-633d-44b0-8717-4a06f7a3a233
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 850,
          "y": 1405
        }
      }
  "18":
    continueonerrortype: ""
    id: "18"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "19"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: commands.local.cmd.close.inv
      id: d4928c99-7671-4050-8351-767a116ceb38
      iscommand: true
      name: Close Investigation
      script: Builtin|||closeInvestigation
      type: regular
      version: -1
    taskid: d4928c99-7671-4050-8351-767a116ceb38
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 740,
          "y": 1530
        }
      }
  "19":
    continueonerrortype: ""
    id: "19"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 37963117-9785-4fd9-8a82-94aa31f4fda6
      iscommand: false
      name: End
      type: title
      version: -1
    taskid: 37963117-9785-4fd9-8a82-94aa31f4fda6
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 740,
          "y": 1690
        }
      }
  "20":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: ${incident.emailfrom}
          operator: isEqualString
          right:
            value:
              simple: v.ghule@tcs.com
        - left:
            iscontext: true
            value:
              simple: ${incident.emailfrom}
          operator: isEqualString
          right:
            value:
              simple: yogesh.gholap@tcs.com
        - left:
            iscontext: true
            value:
              simple: ${incident.emailfrom}
          operator: isEqualString
          right:
            value:
              simple: kunal.krushev@tcs.com
        - left:
            iscontext: true
            value:
              simple: ${incident.emailfrom}
          operator: isEqualString
          right:
            value:
              simple: internalis.cybersecurityops@tcs.com
        - left:
            iscontext: true
            value:
              simple: ${incident.emailfrom}
          operator: isEqualString
          right:
            value:
              simple: komal.lugade@tcs.com
      label: "yes"
    continueonerrortype: ""
    id: "20"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "3"
      "yes":
      - "2"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: cc388f92-c936-48eb-8493-5b0a6e16536f
      iscommand: false
      name: Is Email From Authorized Sender ?
      type: condition
      version: -1
    taskid: cc388f92-c936-48eb-8493-5b0a6e16536f
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 1280,
          "y": 190
        }
      }
  "21":
    continueonerrortype: ""
    id: "21"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "16"
    note: false
    quietmode: 0
    scriptarguments:
      reputation:
        simple: Bad
      source:
        simple: ${incident.id}
      tags:
        simple: CSOCblockedhashes
      type:
        simple: File_MD5
      value:
        simple: ${ExtractedIndicators.File_MD5}
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: Change the properties of an indicator
      id: d0183a3b-a871-4453-8ddc-a40a558a5990
      iscommand: true
      name: Tag CSOC blocked hashes
      script: Builtin|||createNewIndicator
      tags:
      - CERTDomainBlock
      - ProxyBlockDomain
      type: regular
      version: -1
    taskid: d0183a3b-a871-4453-8ddc-a40a558a5990
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 280,
          "y": 1405
        }
      }
  "23":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                accessor: Email/headers/Subject
                root: incident.labels
                transformers:
                - operator: toLowerCase
          operator: isEqualString
          right:
            value:
              simple: Block cert hashes
      label: "yes"
    continueonerrortype: ""
    id: "23"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "24"
      "yes":
      - "10"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 435f9139-0d56-4713-84e2-d3750f0f631c
      iscommand: false
      name: Are IOC's shared by CSO ?
      type: condition
      version: -1
    taskid: 435f9139-0d56-4713-84e2-d3750f0f631c
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 740,
          "y": 820
        }
      }
  "24":
    continueonerrortype: ""
    id: "24"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "21"
    note: false
    quietmode: 0
    scriptarguments:
      ioc_type:
        simple: md5
      policy:
        simple: detect
      share_level:
        simple: red
      value:
        simple: ${ExtractedIndicators.File_MD5}
    separatecontext: false
    skipunavailable: false
    task:
      brand: CrowdstrikeFalcon
      description: Uploads an indicator for CrowdStrike to monitor.
      id: 2d2b73e1-bb35-4a54-8e6f-988a6c988e21
      iscommand: true
      name: Detect MD5  on Crowdstrike
      script: CrowdstrikeFalcon|||cs-falcon-upload-ioc
      type: regular
      version: -1
    taskid: 2d2b73e1-bb35-4a54-8e6f-988a6c988e21
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 290,
          "y": 1200
        }
      }
  "25":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                accessor: Email/headers/Subject
                root: incident.labels
                transformers:
                - operator: toLowerCase
          operator: isEqualString
          right:
            value:
              simple: Block cert hashes
      label: "yes"
    continueonerrortype: ""
    id: "25"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "26"
      "yes":
      - "15"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 9f2e0d8a-d17a-4844-8c97-e0ddef9aff62
      iscommand: false
      name: Are IOC's shared by CSO ?
      type: condition
      version: -1
    taskid: 9f2e0d8a-d17a-4844-8c97-e0ddef9aff62
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 1290,
          "y": 820
        }
      }
  "26":
    continueonerrortype: ""
    id: "26"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "28"
    note: false
    quietmode: 0
    scriptarguments:
      ioc_type:
        simple: sha256
      policy:
        simple: detect
      share_level:
        simple: red
      value:
        simple: ${ExtractedIndicators.File_SHA256}
    separatecontext: false
    skipunavailable: false
    task:
      brand: CrowdstrikeFalcon
      description: Uploads an indicator for CrowdStrike to monitor.
      id: e0cfcb25-2219-4121-8adf-da4d3924789c
      iscommand: true
      name: Detect SHA256 on Crowdstrike
      script: CrowdstrikeFalcon|||cs-falcon-upload-ioc
      type: regular
      version: -1
    taskid: e0cfcb25-2219-4121-8adf-da4d3924789c
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1960,
          "y": 990
        }
      }
  "27":
    continueonerrortype: ""
    id: "27"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "16"
    note: false
    quietmode: 0
    scriptarguments:
      reputation:
        simple: Bad
      source:
        simple: CSO
      tags:
        simple: CERTBlockdHash
      type:
        simple: Hash
      value:
        simple: ${ExtractedIndicators.File_MD5},${ExtractedIndicators.File_SHA256}
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: Change the properties of an indicator
      id: 3a44830e-133a-404a-87a9-f5e02684d801
      iscommand: true
      name: Tag CERT blocked hashes
      script: Builtin|||createNewIndicator
      tags:
      - CERTDomainBlock
      - ProxyBlockDomain
      type: regular
      version: -1
    taskid: 3a44830e-133a-404a-87a9-f5e02684d801
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1290,
          "y": 1180
        }
      }
  "28":
    continueonerrortype: ""
    id: "28"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "16"
    note: false
    quietmode: 0
    scriptarguments:
      reputation:
        simple: Bad
      source:
        simple: ${incident.id}
      tags:
        simple: CSOCblockedhashes
      type:
        simple: File SHA-256
      value:
        simple: ${ExtractedIndicators.File_SHA256}
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: Change the properties of an indicator
      id: c4a0cd97-0789-4432-806e-249bfff72d4e
      iscommand: true
      name: Tag CSOC blocked hashes
      script: Builtin|||createNewIndicator
      tags:
      - CERTDomainBlock
      - ProxyBlockDomain
      type: regular
      version: -1
    taskid: c4a0cd97-0789-4432-806e-249bfff72d4e
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1250,
          "y": 1390
        }
      }
  "29":
    continueonerrortype: ""
    id: "29"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "16"
    note: false
    quietmode: 0
    scriptarguments:
      reputation:
        simple: Bad
      source:
        simple: CSO
      tags:
        simple: CERTBlockdHash
      type:
        simple: Hash
      value:
        simple: ${ExtractedIndicators.File_MD5},
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: Change the properties of an indicator
      id: b8272484-24a6-4de1-8ccc-d588ca6e698d
      iscommand: true
      name: Tag CERT blocked hashes
      script: Builtin|||createNewIndicator
      tags:
      - CERTDomainBlock
      - ProxyBlockDomain
      type: regular
      version: -1
    taskid: b8272484-24a6-4de1-8ccc-d588ca6e698d
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1730,
          "y": 1405
        }
      }
version: -1
view: |-
  {
    "linkLabelsPosition": {
      "20_3_#default#": 0.45,
      "6_16_no": 0.8
    },
    "paper": {
      "dimensions": {
        "height": 2205,
        "width": 2440,
        "x": -90,
        "y": -450
      }
    }
  }
