playbook-Process_RF_Credential_Leakage_copy.yml
contentitemexportablefields:
  contentitemfields:
    definitionid: ""
    fromServerVersion: ""
    itemVersion: ""
    packID: ""
    packName: ""
    prevname: ""
    propagationLabels:
    - all
    toServerVersion: ""
id: b75f9c06-8968-4499-8aa2-5ff03e2de99a
inputs:
- description: ""
  key: KnownEmail
  playbookInputQuery: null
  required: false
  value:
    simple: alert@recordedfuture.com,sonam.bhandari@tcs.com,nishanth.dharuman@tcs.com,v.ghule@tcs.com
name: Process RF Credential Leakage_copy
outputs: []
sourceplaybookid: e4f94210-7775-40e2-8f3b-e6781dbab101
starttaskid: "0"
tasks:
  "0":
    continueonerrortype: ""
    id: "0"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "5"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: c2c6e1ac-6ee3-46c4-8340-78a43ae0331a
      iscommand: false
      name: ""
      version: -1
    taskid: c2c6e1ac-6ee3-46c4-8340-78a43ae0331a
    timertriggers: []
    type: start
    view: |-
      {
        "position": {
          "x": 590,
          "y": -170
        }
      }
  "2":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: ListCompare.RightOnly
          operator: isNotEmpty
      label: "yes"
    continueonerrortype: ""
    id: "2"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "4"
      "yes":
      - "6"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: cae44019-389b-427f-8d8c-32bc8ade329a
      iscommand: false
      name: Were any email addresses present in the email?
      type: condition
      version: -1
    taskid: cae44019-389b-427f-8d8c-32bc8ade329a
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 590,
          "y": 230
        }
      }
  "4":
    continueonerrortype: ""
    id: "4"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "7"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 312d844c-5c37-4d06-814f-7e97c68004be
      iscommand: false
      name: End Playbook
      type: title
      version: -1
    taskid: 312d844c-5c37-4d06-814f-7e97c68004be
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 890,
          "y": 435
        }
      }
  "5":
    continueonerrortype: ""
    id: "5"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "2"
    note: false
    quietmode: 0
    scriptarguments:
      left:
        simple: ${inputs.KnownEmail}
      right:
        complex:
          accessor: Email/text
          root: incident.labels
          transformers:
          - args:
              error_if_no_match: {}
              ignore_case: {}
              multi_line: {}
              period_matches_newline: {}
              regex:
                value:
                  simple: \b[A-Za-z0-9._%=+\p{L}-]+@[A-Za-z0-9\p{L}.-]+\.[A-Za-z]{2,}\b
            operator: RegexExtractAll
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Compare  two lists and put the differences in context.
      id: 44201385-984f-4c1e-803c-6e7b12613ee6
      iscommand: false
      name: Compare Emails from the known Email list
      script: CompareLists
      type: regular
      version: -1
    taskid: 44201385-984f-4c1e-803c-6e7b12613ee6
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 590,
          "y": 30
        }
      }
  "6":
    continueonerrortype: ""
    id: "6"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      forEach: true
      iscommand: false
      max: 100
      wait: 1
    nexttasks:
      '#none#':
      - "7"
    note: false
    quietmode: 0
    scriptarguments:
      QRadarRefSetInvalidUser:
        simple: leaked-emails-inactive
      QRadarRefSetValidUser:
        simple: leaked-emails-active
      email:
        simple: ${ListCompare.RightOnly}
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      id: 69c25942-ec34-450d-8168-37cad6ad4074
      iscommand: false
      name: Process leaked creds_copy
      playbookId: adb85046-93af-49ea-8f18-703e7ca695ca
      type: playbook
      version: -1
    taskid: 69c25942-ec34-450d-8168-37cad6ad4074
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 370,
          "y": 420
        }
      }
  "7":
    continueonerrortype: ""
    id: "7"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "8"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: commands.local.cmd.close.inv
      id: e8872bef-a827-415d-8d1d-19b2113c7f1e
      iscommand: true
      name: Close Investigation
      script: Builtin|||closeInvestigation
      type: regular
      version: -1
    taskid: e8872bef-a827-415d-8d1d-19b2113c7f1e
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 880,
          "y": 610
        }
      }
  "8":
    continueonerrortype: ""
    id: "8"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: d3c36ee7-8da0-4e33-8700-53148adbecd2
      iscommand: false
      name: End
      type: title
      version: -1
    taskid: d3c36ee7-8da0-4e33-8700-53148adbecd2
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 890,
          "y": 780
        }
      }
version: -1
view: |-
  {
    "linkLabelsPosition": {},
    "paper": {
      "dimensions": {
        "height": 1015,
        "width": 900,
        "x": 370,
        "y": -170
      }
    }
  }
