playbook-TCS-Offense_Closure_Qradar_v1.0_KK_V1.2.yml
contentitemexportablefields:
  contentitemfields:
    definitionid: ""
    fromServerVersion: ""
    itemVersion: ""
    packID: ""
    packName: ""
    prevname: ""
    propagationLabels:
    - all
    toServerVersion: ""
id: ea725995-c560-4210-818d-77ccb736d7d0
inputs: []
name: TCS-Offense Closure Qradar v1.0_KK_V1.2
outputs: []
sourceplaybookid: 69c9cb1c-1aa2-4efe-86db-edc23d80f678
starttaskid: "0"
tasks:
  "0":
    continueonerrortype: ""
    id: "0"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "24"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: ad3e49d7-e297-44e4-8d98-838a1f6b389e
      iscommand: false
      name: ""
      version: -1
    taskid: ad3e49d7-e297-44e4-8d98-838a1f6b389e
    timertriggers: []
    type: start
    view: |-
      {
        "position": {
          "x": -770,
          "y": -160
        }
      }
  "1":
    continueonerrortype: ""
    id: "1"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    scriptarguments:
      contextKey:
        simple: currentTime
      dateFormat:
        simple: UTC
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: |
        Retrieves the current date and time.
      id: 88f79e42-574f-4e9a-8d3b-8629ab53e1c9
      iscommand: false
      name: get time
      script: GetTime
      type: regular
      version: -1
    taskid: 88f79e42-574f-4e9a-8d3b-8629ab53e1c9
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1120,
          "y": 200
        }
      }
  "2":
    continueonerrortype: ""
    id: "2"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "7"
    note: false
    quietmode: 0
    scriptarguments:
      execution-timeout:
        simple: "1500"
      fields:
        simple: id
      filter:
        simple: status=OPEN
      headers:
        simple: ID
      range:
        simple: 0-5
      using:
        simple: QRadar_instance_1
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Gets offenses from QRadar.
      id: 10d91465-3db7-4a27-8542-1df8b663c524
      iscommand: true
      name: Qradar Open Offense id fetch
      script: '|||qradar-offenses'
      type: regular
      version: -1
    taskid: 10d91465-3db7-4a27-8542-1df8b663c524
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 2105,
          "y": 75
        }
      }
  "3":
    continueonerror: true
    continueonerrortype: ""
    id: "3"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    scriptarguments:
      closing_reason_id:
        simple: "2"
      closing_reason_name:
        simple: False-Positive
      execution-timeout:
        simple: "1500"
      fields:
        simple: id
      offense_id:
        simple: ${QRadar.Offense.ID}
      status:
        simple: CLOSED
      using:
        simple: QRadar v3_Typosquat Offences
    separatecontext: false
    skipunavailable: false
    task:
      brand: QRadar v3
      description: Updates an offense.
      id: 54701c34-6d66-4fc0-831e-2dbf58f00c61
      iscommand: true
      name: Updation of offense
      script: QRadar v3|||qradar-offense-update
      type: regular
      version: -1
    taskid: 54701c34-6d66-4fc0-831e-2dbf58f00c61
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1930,
          "y": 960
        }
      }
  "4":
    continueonerrortype: ""
    id: "4"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 9ca84e27-62cf-4e21-8be6-306dd41c6497
      iscommand: false
      name: close
      type: title
      version: -1
    taskid: 9ca84e27-62cf-4e21-8be6-306dd41c6497
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": -800,
          "y": 1310
        }
      }
  "5":
    continueonerrortype: ""
    id: "5"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    scriptarguments:
      key:
        simple: AllOffense
      value:
        complex:
          root: QRadar.Offense.ID
          transformers:
          - args:
              separator:
                value:
                  simple: ','
            operator: join
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Set a value in context under the key you entered.
      id: 0dee131b-4499-415f-8ce5-cbadda7a91cc
      iscommand: false
      name: Closing the qradar cases
      script: Set
      type: regular
      version: -1
    taskid: 0dee131b-4499-415f-8ce5-cbadda7a91cc
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1125,
          "y": 50
        }
      }
  "6":
    continueonerrortype: ""
    id: "6"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    scriptarguments:
      Offenseid:
        complex:
          root: QRadar.Offense.ID
          transformers:
          - args:
              separator:
                value:
                  simple: ','
            operator: join
      instanceName:
        simple: '"QRadar v3_Typosquat Offences"'
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: b23da86a-e50c-487f-8ac6-dcaeb6baf3e2
      iscommand: false
      name: offense automation
      script: 90114593-cbe1-4298-8b91-850fd918b4ed
      type: regular
      version: -1
    taskid: b23da86a-e50c-487f-8ac6-dcaeb6baf3e2
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1125,
          "y": 350
        }
      }
  "7":
    continueonerrortype: ""
    id: "7"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "8"
    note: false
    quietmode: 0
    scriptarguments:
      seconds:
        simple: "120"
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Sleep for X seconds
      id: e2fd44f5-1022-4058-8d27-0e605af6f774
      iscommand: false
      name: 'waiting  for latest offense to fetch '
      script: Sleep
      type: regular
      version: -1
    taskid: e2fd44f5-1022-4058-8d27-0e605af6f774
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 2105,
          "y": 200
        }
      }
  "8":
    continueonerrortype: ""
    id: "8"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    scriptarguments:
      fromDate:
        simple: Today
      incidentTypes:
        simple: QRadar offences onboarding
      includeContext:
        simple: "true"
      limit:
        simple: "1"
      outputFormat:
        simple: json
      query:
        simple: type:"QRadar offences onboarding" and status:"open"
      toDate:
        simple: 4 Hours Ago
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: |-
        Gets a list of incident objects and the associated incident outputs that
        match the specified query and filters. The results are returned in a structured data file.

        This automation runs using the default Limited User role, unless you explicitly change the permissions.
        For more information, see the section about permissions here:
        https://docs.paloaltonetworks.com/cortex/cortex-xsoar/6-5/cortex-xsoar-admin/playbooks/automations.html
      id: 4e07da37-df75-4fe2-8d70-9b2ce5a3bbdb
      iscommand: false
      name: get latest incident fetched in Demisto
      script: GetIncidentsByQuery
      type: regular
      version: -1
    taskid: 4e07da37-df75-4fe2-8d70-9b2ce5a3bbdb
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 2105,
          "y": 325
        }
      }
  "9":
    continueonerrortype: ""
    id: "9"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "10"
    note: false
    quietmode: 2
    scriptarguments:
      entryID:
        simple: ${File.EntryID}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Load the contents of a file into context.
      id: 7b494b75-24a0-467d-8312-a553ad3b434c
      iscommand: false
      name: Read Duplicate incident data from file
      script: ReadFile
      type: regular
      version: -1
    taskid: 7b494b75-24a0-467d-8312-a553ad3b434c
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 2105,
          "y": 460
        }
      }
  "10":
    continueonerrortype: ""
    id: "10"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "11"
    note: false
    quietmode: 0
    scriptarguments:
      key:
        simple: OffenseID
      value:
        complex:
          root: FileData
          transformers:
          - operator: ParseJSON
          - args:
              field:
                value:
                  simple: idoffense
            operator: getField
    separatecontext: false
    skipunavailable: false
    task:
      brand: CrowdstrikeFalcon
      description: Set a value in context under the key you entered.
      id: ed1503a5-749c-40f0-8e99-da43760c0194
      iscommand: false
      name: 'Get recently fetched offense id '
      script: Set
      type: regular
      version: -1
    taskid: ed1503a5-749c-40f0-8e99-da43760c0194
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 2105,
          "y": 595
        }
      }
  "11":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: ${OffenseID}
          operator: greaterThanOrEqual
          right:
            value:
              simple: ${QRadar.Offense.[0].ID}
      label: "yes"
    continueonerrortype: ""
    id: "11"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "18"
      "yes":
      - "3"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 9b9ccc82-5e3f-4cef-8391-444c19ba6c29
      iscommand: false
      name: Matching the recently fetched offense
      type: condition
      version: -1
    taskid: 9b9ccc82-5e3f-4cef-8391-444c19ba6c29
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 2105,
          "y": 730
        }
      }
  "14":
    continueonerrortype: ""
    id: "14"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 0
      wait: 1
    note: false
    quietmode: 0
    scriptarguments:
      Ids:
        complex:
          root: OffenseID
      Interval:
        complex:
          root: inputs.Interval
      PollingCommandArgName:
        simple: hash
      PollingCommandName:
        simple: wildfire-report
      Timeout:
        complex:
          root: inputs.Timeout
      dt:
        simple: WildFire.Report(val.Status != 'Success').SHA256
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      description: |-
        Use this playbook as a sub-playbook to block execution of the master playbook until a remote action is complete.
        This playbook implements polling by continuously running the command in Step \#2 until the operation completes.
        The remote action should have the following structure:

        1. Initiate the operation.
        2. Poll to check if the operation completed.
        3. (optional) Get the results of the operation.
      id: cedfdf4a-9b29-4ca8-833f-f1cea9f2c9f3
      iscommand: false
      name: GenericPolling
      playbookId: GenericPolling
      type: playbook
      version: -1
    taskid: cedfdf4a-9b29-4ca8-833f-f1cea9f2c9f3
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 1575,
          "y": 35
        }
      }
  "15":
    continueonerrortype: ""
    id: "15"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    scriptarguments:
      name:
        simple: Duplicate offense update qradar_WIP
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: commands.local.cmd.set.playbook
      id: da24062a-d80f-404f-8239-e48fa633b3d8
      iscommand: true
      name: wait and rerun the playbook
      script: Builtin|||setPlaybook
      type: regular
      version: -1
    taskid: da24062a-d80f-404f-8239-e48fa633b3d8
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1570,
          "y": 350
        }
      }
  "16":
    continueonerrortype: ""
    id: "16"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "15"
    note: false
    quietmode: 0
    scriptarguments:
      all:
        simple: "yes"
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: |-
        Delete field from context.

        This automation runs using the default Limited User role, unless you explicitly change the permissions.
        For more information, see the section about permissions here:
        https://docs.paloaltonetworks.com/cortex/cortex-xsoar/6-2/cortex-xsoar-admin/playbooks/automations.html
      id: 5b702f0b-2bc7-4948-8489-14c66bfa0b48
      iscommand: false
      name: Delete context
      script: DeleteContext
      type: regular
      version: -1
    taskid: 5b702f0b-2bc7-4948-8489-14c66bfa0b48
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1570,
          "y": 180
        }
      }
  "18":
    continueonerrortype: ""
    id: "18"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "20"
    note: false
    quietmode: 0
    scriptarguments:
      key:
        simple: UpdatedID
      value:
        complex:
          filters:
          - - left:
                iscontext: true
                value:
                  simple: QRadar.Offense.ID
              operator: lessThanOrEqual
              right:
                value:
                  simple: ${OffenseID}
          root: QRadar.Offense.ID
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Set a value in context under the key you entered.
      id: 041047e3-0e67-46ab-8ca7-a30c539cdab3
      iscommand: false
      name: Remove latest Triggered offense
      script: Set
      type: regular
      version: -1
    taskid: 041047e3-0e67-46ab-8ca7-a30c539cdab3
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 2320,
          "y": 960
        }
      }
  "19":
    continueonerrortype: ""
    id: "19"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    scriptarguments:
      key:
        simple: OID
      value:
        simple: "363485"
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Set a value in context under the key you entered.
      id: 89927e25-44bb-463a-8e97-41b1ec5f62de
      iscommand: false
      name: set oid
      script: Set
      type: regular
      version: -1
    taskid: 89927e25-44bb-463a-8e97-41b1ec5f62de
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1575,
          "y": 35
        }
      }
  "20":
    continueonerror: true
    continueonerrortype: ""
    id: "20"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    scriptarguments:
      closing_reason_id:
        simple: "2"
      closing_reason_name:
        simple: False-Positive
      execution-timeout:
        simple: "1500"
      fields:
        simple: id
      offense_id:
        simple: ${UpdatedID}
      status:
        simple: CLOSED
      using:
        simple: QRadar v3_Typosquat Offences
    separatecontext: false
    skipunavailable: false
    task:
      brand: QRadar v3
      description: Updates an offense.
      id: ed73e1e7-d6bb-45bc-8ed0-503d0a30a08e
      iscommand: true
      name: Updation of offense
      script: QRadar v3|||qradar-offense-update
      type: regular
      version: -1
    taskid: ed73e1e7-d6bb-45bc-8ed0-503d0a30a08e
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 2320,
          "y": 1090
        }
      }
  "21":
    continueonerrortype: ""
    id: "21"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "22"
    note: false
    quietmode: 0
    scriptarguments:
      fromDate:
        simple: 11 hours ago
      incidentTypes:
        simple: QRadar offences onboarding
      includeContext:
        simple: "false"
      limit:
        simple: "3000"
      outputFormat:
        simple: json
      populateFields:
        simple: idoffense
      query:
        simple: type:"QRadar offences onboarding" tenant:CORP
      toDate:
        simple: Now
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: |-
        Gets a list of incident objects and the associated incident outputs that
        match the specified query and filters. The results are returned in a structured data file.

        This automation runs using the default Limited User role, unless you explicitly change the permissions.
        For more information, see the section about permissions here:
        https://docs.paloaltonetworks.com/cortex/cortex-xsoar/6-5/cortex-xsoar-admin/playbooks/automations.html
      id: 298ce2ae-9826-4811-87f7-193cd38c61a4
      iscommand: false
      name: Get all incident fetched in Demisto
      script: GetIncidentsByQuery
      type: regular
      version: -1
    taskid: 298ce2ae-9826-4811-87f7-193cd38c61a4
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -510,
          "y": 445
        }
      }
  "22":
    continueonerrortype: ""
    id: "22"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "23"
    note: false
    quietmode: 2
    scriptarguments:
      entryID:
        simple: ${File.EntryID}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Load the contents of a file into context.
      id: c2a67b76-c6e4-48c8-81ec-5c46111b5268
      iscommand: false
      name: Parse incident data from file
      script: ReadFile
      type: regular
      version: -1
    taskid: c2a67b76-c6e4-48c8-81ec-5c46111b5268
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -510,
          "y": 610
        }
      }
  "23":
    continueonerrortype: ""
    id: "23"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "31"
    note: false
    quietmode: 0
    scriptarguments:
      key:
        simple: OffenseID
      value:
        complex:
          root: FileData
          transformers:
          - operator: ParseJSON
          - args:
              field:
                value:
                  simple: idoffense
            operator: getField
    separatecontext: false
    skipunavailable: false
    task:
      brand: CrowdstrikeFalcon
      description: Set a value in context under the key you entered.
      id: d6a8a161-fed7-46dd-8491-f1e3be79e5a4
      iscommand: false
      name: 'Get list of offense id '
      script: Set
      type: regular
      version: -1
    taskid: d6a8a161-fed7-46dd-8491-f1e3be79e5a4
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -510,
          "y": 760
        }
      }
  "24":
    continueonerrortype: ""
    id: "24"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "26"
    note: false
    quietmode: 0
    scriptarguments:
      dateFormat:
        simple: Hours
      hoursAgo:
        simple: "6"
      minutesAgo:
        simple: "30"
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: |
        Retrieves the current date and time.
      id: 2d441366-8049-44c5-833f-c5cde253e3a9
      iscommand: false
      name: Get current time
      script: GetTime
      type: regular
      version: -1
    taskid: 2d441366-8049-44c5-833f-c5cde253e3a9
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -770,
          "y": -20
        }
      }
  "26":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: TimeNow
          operator: lessThanOrEqual
          right:
            value:
              simple: "1"
      label: Night
    continueonerrortype: ""
    id: "26"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "27"
      Night:
      - "21"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Compares a single timestamp to a list of timestamps.
      id: 6d20560d-5d48-44ae-8608-7d6ab14fa361
      iscommand: false
      name: compare time
      type: condition
      version: -1
    taskid: 6d20560d-5d48-44ae-8608-7d6ab14fa361
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": -770,
          "y": 145
        }
      }
  "27":
    continueonerrortype: ""
    id: "27"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "28"
    note: false
    quietmode: 0
    scriptarguments:
      fromDate:
        simple: 450 minutes ago
      incidentTypes:
        simple: QRadar offences onboarding
      includeContext:
        simple: "false"
      limit:
        simple: "3000"
      outputFormat:
        simple: json
      populateFields:
        simple: idoffense
      query:
        simple: type:"QRadar offences onboarding"  and tenant:CORP
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: |-
        Gets a list of incident objects and the associated incident outputs that
        match the specified query and filters. The results are returned in a structured data file.

        This automation runs using the default Limited User role, unless you explicitly change the permissions.
        For more information, see the section about permissions here:
        https://docs.paloaltonetworks.com/cortex/cortex-xsoar/6-5/cortex-xsoar-admin/playbooks/automations.html
      id: 4e13b74a-c802-4a08-8f0e-a7ea1feb14a0
      iscommand: false
      name: Get all incident fetched in Demisto
      script: GetIncidentsByQuery
      type: regular
      version: -1
    taskid: 4e13b74a-c802-4a08-8f0e-a7ea1feb14a0
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -1060,
          "y": 445
        }
      }
  "28":
    continueonerrortype: ""
    id: "28"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "29"
    note: false
    quietmode: 2
    scriptarguments:
      entryID:
        simple: ${File.EntryID}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Load the contents of a file into context.
      id: c85871d3-aec8-47f6-8ac7-5d33cbfb5b44
      iscommand: false
      name: Parse incident data from file
      script: ReadFile
      type: regular
      version: -1
    taskid: c85871d3-aec8-47f6-8ac7-5d33cbfb5b44
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -1060,
          "y": 595
        }
      }
  "29":
    continueonerrortype: ""
    id: "29"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "30"
    note: false
    quietmode: 0
    scriptarguments:
      key:
        simple: OffenseID
      value:
        complex:
          root: FileData
          transformers:
          - operator: ParseJSON
          - args:
              field:
                value:
                  simple: idoffense
            operator: getField
    separatecontext: false
    skipunavailable: false
    task:
      brand: CrowdstrikeFalcon
      description: Set a value in context under the key you entered.
      id: ae2037c3-1b82-47e0-89b3-6f367ffc7398
      iscommand: false
      name: 'Get list of offense id '
      script: Set
      type: regular
      version: -1
    taskid: ae2037c3-1b82-47e0-89b3-6f367ffc7398
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -1060,
          "y": 760
        }
      }
  "30":
    continueonerror: true
    continueonerrortype: ""
    id: "30"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "32"
    note: false
    quietmode: 0
    scriptarguments:
      closing_reason_id:
        simple: "55"
      closing_reason_name:
        simple: False Positive
      execution-timeout:
        simple: "1500"
      fields:
        simple: id
      offense_id:
        simple: ${OffenseID}
      status:
        simple: CLOSED
      using:
        simple: QRadar v3_Offence Fetch
    separatecontext: false
    skipunavailable: false
    task:
      brand: QRadar v3
      description: Updates an offense.
      id: d05a26c6-3ded-4e0e-8edc-75765b85fcfd
      iscommand: true
      name: Closure of offense
      script: QRadar v3|||qradar-offense-update
      type: regular
      version: -1
    taskid: d05a26c6-3ded-4e0e-8edc-75765b85fcfd
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -1060,
          "y": 925
        }
      }
  "31":
    continueonerror: true
    continueonerrortype: ""
    id: "31"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "32"
    note: false
    quietmode: 0
    scriptarguments:
      closing_reason_id:
        simple: "55"
      closing_reason_name:
        simple: False Positive
      execution-timeout:
        simple: "1500"
      fields:
        simple: id
      offense_id:
        simple: ${OffenseID}
      status:
        simple: CLOSED
      using:
        simple: QRadar v3_Offence Fetch
    separatecontext: false
    skipunavailable: false
    task:
      brand: QRadar v3
      description: Updates an offense.
      id: 4c31b067-ecd0-4a77-865d-96d43efc0533
      iscommand: true
      name: Closure of offense
      script: QRadar v3|||qradar-offense-update
      type: regular
      version: -1
    taskid: 4c31b067-ecd0-4a77-865d-96d43efc0533
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -510,
          "y": 925
        }
      }
  "32":
    continueonerrortype: ""
    id: "32"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "4"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: commands.local.cmd.close.inv
      id: 9894385d-266c-4813-86af-102b49bbd864
      iscommand: true
      name: Close Investigation
      script: Builtin|||closeInvestigation
      type: regular
      version: -1
    taskid: 9894385d-266c-4813-86af-102b49bbd864
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -800,
          "y": 1150
        }
      }
version: -1
view: |-
  {
    "linkLabelsPosition": {},
    "paper": {
      "dimensions": {
        "height": 1535,
        "width": 3760,
        "x": -1060,
        "y": -160
      }
    }
  }
