playbook-TCS-CtSddExec.exe_Autoclose.yml
contentitemexportablefields:
  contentitemfields:
    definitionid: ""
    fromServerVersion: ""
    itemVersion: ""
    packID: ""
    packName: ""
    prevname: ""
    propagationLabels:
    - all
    toServerVersion: ""
id: 15171479-912d-4ed3-8a6b-431271cd1c98
inputs: []
name: TCS-CtSddExec.exe Autoclose
outputs: []
sourceplaybookid: 54c068e9-7291-4f1c-840e-5ad2e1ba660b
starttaskid: "0"
tasks:
  "0":
    continueonerrortype: ""
    id: "0"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "1"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: ed02ec7e-98f5-46cc-8468-aa348d07e1e8
      iscommand: false
      name: ""
      version: -1
    taskid: ed02ec7e-98f5-46cc-8468-aa348d07e1e8
    timertriggers: []
    type: start
    view: |-
      {
        "position": {
          "x": 450,
          "y": 50
        }
      }
  "1":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                accessor: crowdstrikehostname
                root: incident
          operator: inList
          right:
            iscontext: true
            value:
              simple: lists.wipeout
      label: "yes"
    continueonerrortype: ""
    id: "1"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "4"
      "yes":
      - "2"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 0f97f422-b406-49ca-8ff8-6cf7caacf3f5
      iscommand: false
      name: Check if Host is in Whitelisted Hosts List
      type: condition
      version: -1
    taskid: 0f97f422-b406-49ca-8ff8-6cf7caacf3f5
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 450,
          "y": 200
        }
      }
  "2":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                accessor: crowdstriketactic
                root: incident
          operator: containsString
          right:
            value:
              simple: Defense Evasion
      - - left:
            iscontext: true
            value:
              complex:
                accessor: crowdstriketechnique
                root: incident
          operator: containsString
          right:
            value:
              simple: Disable or Modify Tools
      label: "yes"
    continueonerrortype: ""
    id: "2"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "4"
      "yes":
      - "3"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 1135a8b6-fa23-44ac-848e-dd32bd14a1e8
      iscommand: false
      name: Is the CS Trigger Logic Satisfied ( CtSddExec.exe)?
      type: condition
      version: -1
    taskid: 1135a8b6-fa23-44ac-848e-dd32bd14a1e8
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 450,
          "y": 420
        }
      }
  "3":
    continueonerrortype: ""
    id: "3"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "4"
    note: false
    quietmode: 0
    scriptarguments:
      key:
        simple: create Ticket
      value:
        simple: "Yes"
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: Set a value in context under the key you entered.
      id: 2d6b435d-fd1d-4a34-8a07-844f2a82bfa0
      iscommand: false
      name: Tickets needed or not
      script: Set
      type: regular
      version: -1
    taskid: 2d6b435d-fd1d-4a34-8a07-844f2a82bfa0
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 450,
          "y": 615
        }
      }
  "4":
    continueonerrortype: ""
    id: "4"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: f1a8485a-f231-42f0-8dd9-f4e5b6483327
      iscommand: false
      name: The End
      type: title
      version: -1
    taskid: f1a8485a-f231-42f0-8dd9-f4e5b6483327
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 450,
          "y": 810
        }
      }
version: -1
view: |-
  {
    "linkLabelsPosition": {
      "1_2_yes": 0.48,
      "2_3_yes": 0.53
    },
    "paper": {
      "dimensions": {
        "height": 825,
        "width": 380,
        "x": 450,
        "y": 50
      }
    }
  }
