playbook-TCS_-_Qradar.yml
contentitemexportablefields:
  contentitemfields:
    definitionid: ""
    fromServerVersion: ""
    itemVersion: ""
    packID: ""
    packName: ""
    prevname: ""
    propagationLabels:
    - all
    toServerVersion: ""
description: Default playbook, Enrich indicators in incident using one or more integrations
hidden: true
id: 11e3554c-d74a-4083-8c5f-6f5ef4557b78
inputs:
- description: Should preform enrichment on all indicators in the incident
  key: Enrich
  playbookInputQuery: null
  required: false
  value:
    simple: "True"
name: TCS - Qradar
outputs: []
sourceplaybookid: playbook0
starttaskid: "0"
tasks:
  "0":
    continueonerrortype: ""
    id: "0"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "1"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 81211ca8-b043-468e-8589-7720e4b2a6f1
      iscommand: false
      name: ""
      version: -1
    taskid: 81211ca8-b043-468e-8589-7720e4b2a6f1
    timertriggers: []
    type: start
    view: |-
      {
        "position": {
          "x": 50,
          "y": 50
        }
      }
  "1":
    conditions:
    - condition:
      - - ignorecase: true
          left:
            iscontext: true
            value:
              complex:
                root: inputs.Enrich
          operator: isEqualString
          right:
            value:
              simple: "True"
      label: "yes"
    continueonerrortype: ""
    id: "1"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "2"
      "yes":
      - "3"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: dc4dfdcf-60a6-4498-8388-00c646ec1e1d
      iscommand: false
      name: Should perform enrichment?
      type: condition
      version: -1
    taskid: dc4dfdcf-60a6-4498-8388-00c646ec1e1d
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 50,
          "y": 195
        }
      }
  "2":
    continueonerrortype: ""
    id: "2"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "7"
    note: false
    quietmode: 0
    scriptarguments:
      assignBy:
        simple: random
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 0b57bebf-e08a-4a93-8f8d-da0ff9806924
      iscommand: false
      name: Choose analyst
      script: AssignAnalystToIncident
      type: regular
      version: -1
    taskid: 0b57bebf-e08a-4a93-8f8d-da0ff9806924
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 50,
          "y": 1040
        }
      }
  "3":
    continueonerrortype: ""
    id: "3"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "4"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 1d1a551a-a082-4935-8a61-532585ecec16
      iscommand: false
      name: Enrich indicators
      type: title
      version: -1
    taskid: 1d1a551a-a082-4935-8a61-532585ecec16
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 162.5,
          "y": 370
        }
      }
  "4":
    continueonerrortype: ""
    id: "4"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "5"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: a07bca5d-e8bd-4e30-81e2-e2e65d12679f
      iscommand: false
      name: ""
      playbookId: extract_indicators_-_generic
      type: playbook
      version: -1
    taskid: a07bca5d-e8bd-4e30-81e2-e2e65d12679f
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 162.5,
          "y": 515
        }
      }
  "5":
    continueonerrortype: ""
    id: "5"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "6"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 59267fbb-a823-4e0b-8b82-c374d391bf38
      iscommand: false
      name: ""
      playbookId: entity_enrichment_generic
      type: playbook
      version: -1
    taskid: 59267fbb-a823-4e0b-8b82-c374d391bf38
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 162.5,
          "y": 690
        }
      }
  "6":
    continueonerrortype: ""
    id: "6"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "2"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 102ec2aa-f9af-488f-8a1a-457b4b079458
      iscommand: false
      name: ""
      playbookId: Calculate Severity - Generic
      type: playbook
      version: -1
    taskid: 102ec2aa-f9af-488f-8a1a-457b4b079458
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 162.5,
          "y": 865
        }
      }
  "7":
    continueonerrortype: ""
    id: "7"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "9"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: dcd1dc21-a559-4524-8dae-105168e2d985
      iscommand: false
      name: Manually review the incident
      type: regular
      version: -1
    taskid: dcd1dc21-a559-4524-8dae-105168e2d985
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 50,
          "y": 1215
        }
      }
  "8":
    continueonerrortype: ""
    id: "8"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    scriptarguments:
      closeNotes:
        simple: Default Enrichment Playbook
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: Close the current incident
      id: c3ade52d-1826-4c1a-8689-63cb8575b0cd
      iscommand: true
      name: Close Investigation
      script: Builtin|||closeInvestigation
      type: regular
      version: -1
    taskid: c3ade52d-1826-4c1a-8689-63cb8575b0cd
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 50,
          "y": 2380
        }
      }
  "9":
    continueonerrortype: ""
    id: "9"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "12"
    note: false
    quietmode: 0
    scriptarguments:
      key:
        simple: SuspiciousIPs
      value:
        complex:
          accessor: Address
          filters:
          - - left:
                iscontext: true
                value:
                  simple: ${IP.RecordedFuture.Criticality}
              operator: isEqualString
              right:
                value:
                  simple: Suspicious
          root: IP
          transformers:
          - operator: uniq
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Sets a value into the context with the given context key
      id: a1e07d51-2a65-4d5e-8ea6-bb58b45647a5
      iscommand: false
      name: Set Incident
      script: Set
      type: regular
      version: -1
    taskid: a1e07d51-2a65-4d5e-8ea6-bb58b45647a5
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 50,
          "y": 1390
        }
      }
  "10":
    continueonerrortype: ""
    id: "10"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "11"
    note: false
    quietmode: 0
    scriptarguments:
      body:
        simple: 'These are suspicious IPS : ${SuspiciousIPs}'
      subject:
        simple: Suspicious IPs to Check
      to:
        simple: v.ghule@tcs.com
    separatecontext: false
    skipunavailable: false
    task:
      brand: Mail Sender (New)
      description: Send an email
      id: aef7e49a-9f17-4a2a-8435-e98c9b7cddfe
      iscommand: true
      name: send Email to Firewall Team
      script: Mail Sender (New)|||send-mail
      type: regular
      version: -1
    taskid: aef7e49a-9f17-4a2a-8435-e98c9b7cddfe
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 50,
          "y": 1710
        }
      }
  "11":
    continueonerrortype: ""
    id: "11"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "13"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 31900239-f410-452b-8a4a-51150e7378c1
      iscommand: false
      name: Ask Analyst
      type: title
      version: -1
    taskid: 31900239-f410-452b-8a4a-51150e7378c1
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 50,
          "y": 1885
        }
      }
  "12":
    continueonerrortype: ""
    id: "12"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "10"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: d5c79e31-177c-40f2-8244-a09610994c17
      iscommand: false
      name: send Email to Firewall Team
      type: title
      version: -1
    taskid: d5c79e31-177c-40f2-8244-a09610994c17
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 50,
          "y": 1565
        }
      }
  "13":
    continueonerrortype: ""
    form:
      description: IPs to Check for blocking
      expired: false
      questions:
      - defaultrows: []
        fieldassociated: ""
        gridcolumns: []
        id: "0"
        label: ""
        labelarg:
          simple: Are these Ip's Blocked?
        options:
        - ""
        - "Yes"
        - "No"
        optionsarg: []
        placeholder: ""
        readonly: false
        required: false
        tooltip: ""
        type: multiSelect
      sender: ""
      title: Confirmation about blocking IPs
      totalanswers: 0
    id: "13"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    message:
      bcc: null
      body:
        simple: 'These are suspicious IPS : ${SuspiciousIPs}'
      cc: null
      format: ""
      methods:
      - email
      subject:
        simple: 'Confirmation about blocking '
      timings:
        completeafterreplies: 1
        completeaftersla: false
        completeafterv2: false
        retriescount: 2
        retriesinterval: 360
      to:
        simple: v.ghule@tcs.com
    nexttasks:
      '#none#':
      - "14"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 0be67822-ef78-4665-878e-9d4adf51973a
      iscommand: false
      name: Seek Confirmation
      type: collection
      version: -1
    taskid: 0be67822-ef78-4665-878e-9d4adf51973a
    timertriggers: []
    type: collection
    view: |-
      {
        "position": {
          "x": 50,
          "y": 2030
        }
      }
  "14":
    continueonerrortype: ""
    id: "14"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "8"
    note: false
    quietmode: 0
    scriptarguments:
      assigned_to:
        simple: "1531551"
      closing_reason_name:
        simple: Ignored
      offense_id:
        simple: ${incident.labels.id}
      status:
        simple: CLOSED
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Update an offense
      id: 03af8c5b-d2b5-4fa5-83be-8d1778077044
      iscommand: true
      name: Closure of Qradar Offence
      script: '|||qradar-update-offense'
      type: regular
      version: -1
    taskid: 03af8c5b-d2b5-4fa5-83be-8d1778077044
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 50,
          "y": 2205
        }
      }
version: -1
view: |-
  {
    "linkLabelsPosition": {},
    "paper": {
      "dimensions": {
        "height": 2425,
        "width": 492.5,
        "x": 50,
        "y": 50
      }
    }
  }
