playbook-TCS-Phishing_URL_&_Domain_Enrichment_v2.0.yml
contentitemexportablefields:
  contentitemfields:
    definitionid: ""
    fromServerVersion: ""
    itemVersion: ""
    packID: ""
    packName: ""
    prevname: ""
    propagationLabels:
    - all
    toServerVersion: ""
description: |-
  Enrich URLs using one or more integrations.

  URL enrichment includes:
  * SSL verification for URLs
  * Threat information
  * Providing of URL screenshots
id: d95f16d0-db21-4164-8243-0f77c1874d11
inputs:
- description: URLs to enrich.
  key: URL
  playbookInputQuery: null
  required: false
  value:
    complex:
      accessor: Data
      root: URL
      transformers:
      - operator: uniq
- description: Should the system take safe screenshots of input URLs?
  key: Rasterize
  playbookInputQuery: null
  required: false
  value:
    simple: "True"
- description: Should the system perform SSL certificate verification on the URLs?
  key: VerifyURL
  playbookInputQuery: null
  required: false
  value:
    simple: "False"
name: TCS-Phishing URL & Domain Enrichment v2.0
outputs:
- contextPath: URL
  description: The URL object.
  type: uknown
- contextPath: URL.Data
  description: The enriched URL.
  type: string
- contextPath: DBotScore
  description: The DBotScore object.
  type: unknown
- contextPath: URL.Malicious
  description: Whether the detected URL was malicious.
  type: unknown
- contextPath: URL.Vendor
  description: Vendor that labeled the URL as malicious.
  type: string
- contextPath: URL.Description
  description: Additional information for the URL.
  type: string
sourceplaybookid: URL Enrichment - Generic v2
starttaskid: "0"
tasks:
  "0":
    continueonerrortype: ""
    id: "0"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "16"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: b26923bb-834d-44c0-83eb-c618e005cf39
      iscommand: false
      name: ""
      version: -1
    taskid: b26923bb-834d-44c0-83eb-c618e005cf39
    timertriggers: []
    type: start
    view: |-
      {
        "position": {
          "x": 490,
          "y": -39
        }
      }
  "16":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: inputs.URL
          operator: isExists
      label: "yes"
    continueonerrortype: ""
    id: "16"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "37"
      "yes":
      - "29"
      - "31"
      - "34"
    note: false
    quietmode: 0
    scriptarguments:
      value:
        simple: inputs.url
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Determine whtether the playbook's input contains at least one URL.
      id: 0cc0fa56-eb9d-41b4-8e8a-16993b82895c
      iscommand: false
      name: Are there URLs?
      type: condition
      version: -1
    taskid: 0cc0fa56-eb9d-41b4-8e8a-16993b82895c
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 490,
          "y": 125
        }
      }
  "24":
    continueonerrortype: ""
    id: "24"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: e976e291-d831-4263-82f8-1c94395f20d2
      iscommand: false
      name: Done
      type: title
      version: -1
    taskid: e976e291-d831-4263-82f8-1c94395f20d2
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 490,
          "y": 1125
        }
      }
  "25":
    continueonerrortype: ""
    id: "25"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "24"
      "yes":
      - "26"
    note: false
    quietmode: 0
    scriptarguments:
      value:
        complex:
          filters:
          - - left:
                iscontext: true
                value:
                  simple: brand
              operator: isEqualString
              right:
                value:
                  simple: Rasterize
          - - left:
                iscontext: true
                value:
                  simple: state
              operator: isEqualString
              right:
                value:
                  simple: active
          root: modules
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Checks if there is an active instance of the Rasterize integration
        enabled.
      id: b5662d32-005c-403b-8f76-a6d0c3ff0e7d
      iscommand: false
      name: 'Is Rasterize integration enabled? '
      script: Exists
      type: condition
      version: -1
    taskid: b5662d32-005c-403b-8f76-a6d0c3ff0e7d
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": -40,
          "y": 710
        }
      }
  "26":
    continueonerror: true
    continueonerrortype: ""
    id: "26"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "24"
    note: false
    quietmode: 0
    reputationcalc: 1
    scriptarguments:
      file_name:
        simple: URL_Snapshot
      url:
        complex:
          root: inputs.URL
          transformers:
          - operator: uniq
    separatecontext: false
    skipunavailable: false
    task:
      brand: Rasterize
      description: Gets a screenshot of the URL page.
      id: 42412683-7151-44cf-8246-4b62c477e820
      iscommand: true
      name: Get URL screenshot
      script: Rasterize|||rasterize
      tags:
      - url_screenshots
      type: regular
      version: -1
    taskid: 42412683-7151-44cf-8246-4b62c477e820
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -40,
          "y": 920
        }
      }
  "27":
    conditions:
    - condition:
      - - ignorecase: true
          left:
            iscontext: true
            value:
              complex:
                root: inputs.Rasterize
          operator: isEqualString
          right:
            value:
              simple: "True"
      label: "yes"
    continueonerrortype: ""
    id: "27"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "24"
      "yes":
      - "25"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Checks if the playbook's Rasterize input is set to "True", which
        determines whether screenshots of the URLs are created.
      id: befce2da-5fe1-40ef-8e0e-6284d845fad6
      iscommand: false
      name: Capture screenshots of the URL?
      type: condition
      version: -1
    taskid: befce2da-5fe1-40ef-8e0e-6284d845fad6
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": -40,
          "y": 500
        }
      }
  "29":
    continueonerrortype: ""
    id: "29"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "27"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 281a1a7c-642d-40e1-8570-c04ac0056369
      iscommand: false
      name: URL Screenshots
      type: title
      version: -1
    taskid: 281a1a7c-642d-40e1-8570-c04ac0056369
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": -40,
          "y": 360
        }
      }
  "31":
    continueonerrortype: ""
    id: "31"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "33"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 3e828e97-9a08-4256-86ea-2317e264f7a9
      iscommand: false
      name: URL Verification
      type: title
      version: -1
    taskid: 3e828e97-9a08-4256-86ea-2317e264f7a9
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 489.5,
          "y": 360
        }
      }
  "32":
    continueonerrortype: ""
    id: "32"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "24"
    note: false
    quietmode: 0
    reputationcalc: 1
    scriptarguments:
      url:
        complex:
          root: inputs.URL
          transformers:
          - operator: uniq
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Verify URL SSL certificate
      id: b3733719-8ff3-4bec-85f8-3fc9892aeb9b
      iscommand: false
      name: Verify SSL for URLs
      script: URLSSLVerification
      type: regular
      version: -1
    taskid: b3733719-8ff3-4bec-85f8-3fc9892aeb9b
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 490,
          "y": 710
        }
      }
  "33":
    conditions:
    - condition:
      - - ignorecase: true
          left:
            iscontext: true
            value:
              complex:
                root: inputs.VerifyURL
          operator: isEqualString
          right:
            value:
              simple: "True"
      label: "yes"
    continueonerrortype: ""
    id: "33"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "24"
      "yes":
      - "32"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Checks if the playbook's VerifyURL input is set to "True", to determine
        whether to perform SSL verification on the URLs.
      id: 5a13faa6-2cff-46a1-856b-a0c95b9e7cd2
      iscommand: false
      name: Verify URLs?
      type: condition
      version: -1
    taskid: 5a13faa6-2cff-46a1-856b-a0c95b9e7cd2
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 490,
          "y": 500
        }
      }
  "34":
    continueonerrortype: ""
    id: "34"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "35"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 8f78cabd-b09b-4ab7-8e42-fcea26a4577f
      iscommand: false
      name: VirusTotal Private API Enrichment
      type: title
      version: -1
    taskid: 8f78cabd-b09b-4ab7-8e42-fcea26a4577f
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 1030,
          "y": 360
        }
      }
  "35":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                accessor: brand
                filters:
                - - left:
                      iscontext: true
                      value:
                        simple: modules.brand
                    operator: isEqualString
                    right:
                      value:
                        simple: VirusTotal - Private API
                - - left:
                      iscontext: true
                      value:
                        simple: modules.state
                    operator: isEqualString
                    right:
                      value:
                        simple: active
                root: modules
          operator: isExists
      label: "yes"
    continueonerrortype: ""
    id: "35"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "24"
      "yes":
      - "36"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: |
        Checks if there is an active instance of the VirusTotal Private API integration enabled.
      id: baee8bc6-651d-4206-83e3-fee6c7e85885
      iscommand: false
      name: Is Virus TotalPrivate API enabled?
      type: condition
      version: -1
    taskid: baee8bc6-651d-4206-83e3-fee6c7e85885
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 1030,
          "y": 510
        }
      }
  "36":
    continueonerrortype: ""
    id: "36"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "24"
    note: false
    quietmode: 0
    reputationcalc: 1
    scriptarguments:
      resource:
        complex:
          root: inputs.URL
          transformers:
          - operator: uniq
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Retrieves a report from VirusTotal API for a specified URL.
      id: ba6692d0-f39f-46ea-8c03-a9a1a6bf7820
      iscommand: true
      name: Get URL report from VirusTotal Private API
      script: '|||vt-private-get-url-report'
      type: regular
      version: -1
    taskid: ba6692d0-f39f-46ea-8c03-a9a1a6bf7820
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1030,
          "y": 720
        }
      }
  "37":
    continueonerrortype: ""
    id: "37"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "24"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: e7570eb7-a7ac-45a1-8e38-8628256516b2
      iscommand: false
      name: No URLs
      type: title
      version: -1
    taskid: e7570eb7-a7ac-45a1-8e38-8628256516b2
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": -510,
          "y": 360
        }
      }
version: -1
view: |-
  {
    "linkLabelsPosition": {
      "25_24_#default#": 0.53,
      "25_26_yes": 0.47,
      "27_25_yes": 0.5,
      "33_24_#default#": 0.13,
      "33_32_yes": 0.67,
      "35_24_#default#": 0.76
    },
    "paper": {
      "dimensions": {
        "height": 1229,
        "width": 1920,
        "x": -510,
        "y": -39
      }
    }
  }
