playbook-Test_Nexpose.yml
contentitemexportablefields:
  contentitemfields:
    definitionid: ""
    fromServerVersion: ""
    itemVersion: ""
    packID: ""
    packName: ""
    prevname: ""
    propagationLabels:
    - all
    toServerVersion: ""
id: b967bf26-6078-4762-8e2b-89d64d615b66
inputs: []
name: Test Nexpose
outputs: []
starttaskid: "0"
tasks:
  "0":
    continueonerrortype: ""
    id: "0"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "16"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: cd965263-90fd-4bfe-894c-51fc1e7c1c0b
      iscommand: false
      name: ""
      version: -1
    taskid: cd965263-90fd-4bfe-894c-51fc1e7c1c0b
    timertriggers: []
    type: start
    view: |-
      {
        "position": {
          "x": 50,
          "y": 50
        }
      }
  "3":
    continueonerrortype: ""
    id: "3"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "17"
    note: false
    quietmode: 0
    scriptarguments:
      format:
        simple: pdf
      scan:
        simple: ${Nexpose.Scan.Id}
    separatecontext: false
    skipunavailable: false
    task:
      brand: Rapid7 Nexpose
      description: Generates a new report for a specified scan.
      id: 8b108b82-fb18-4da2-8df6-d37889108fa0
      iscommand: true
      name: nexpose-create-scan-report
      script: Rapid7 Nexpose|||nexpose-create-scan-report
      type: regular
      version: -1
    taskid: 8b108b82-fb18-4da2-8df6-d37889108fa0
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 387.5,
          "y": 1420
        }
      }
  "9":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: IP.Address
          operator: isExists
      label: "yes"
    continueonerrortype: ""
    id: "9"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "15"
      "yes":
      - "11"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Check whether the values provided in arguments are equal. If either
        of the arguments are missing, no is returned.
      id: d97dd982-dbfc-41ee-8c6d-b30c299b9527
      iscommand: false
      name: Is there IP to scan?
      type: condition
      version: -1
    taskid: d97dd982-dbfc-41ee-8c6d-b30c299b9527
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 162.5,
          "y": 545
        }
      }
  "11":
    continueonerrortype: ""
    id: "11"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "12"
    note: false
    quietmode: 0
    scriptarguments:
      IPs:
        simple: ${IP.Address}
    separatecontext: false
    skipunavailable: false
    task:
      brand: Rapid7 Nexpose
      description: Starts a scan for specified asset IP addresses and host names.
      id: b888cbcd-123f-4cfa-8a51-e9819e7c4d3c
      iscommand: true
      name: Start Scan
      script: Rapid7 Nexpose|||nexpose-start-assets-scan
      type: regular
      version: -1
    taskid: b888cbcd-123f-4cfa-8a51-e9819e7c4d3c
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 275,
          "y": 720
        }
      }
  "12":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: Nexpose.Scan.Id
          operator: isExists
      label: "yes"
    continueonerrortype: ""
    id: "12"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "15"
      "yes":
      - "13"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 1d9e2622-4ea7-4618-8654-e3313e0d1e3b
      iscommand: false
      name: Did scan Find assets?
      type: condition
      version: -1
    taskid: 1d9e2622-4ea7-4618-8654-e3313e0d1e3b
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 275,
          "y": 895
        }
      }
  "13":
    continueonerrortype: ""
    id: "13"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 100
      wait: 1
    nexttasks:
      '#none#':
      - "14"
    note: false
    quietmode: 0
    scriptarguments:
      Ids:
        simple: ${Nexpose.Scan.Id}
      Interval:
        simple: "1"
      PollingCommandArgName:
        simple: id
      PollingCommandName:
        simple: nexpose-get-scan
      Timeout:
        simple: "10"
      dt:
        simple: Nexpose.Scan(val.Status != 'finished' && val.Status != 'error' &&
          val.Status != 'aborted' && val.Status != 'stopped').Id
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      description: |-
        Use this playbook as a sub-playbook to block execution of the master playbook until a remote action is complete.
        This playbook implements polling by continuously running the command in Step \#2 until the operation completes.
        The remote action should have the following structure:

        1. Initiate the operation.
        2. Poll to check if the operation completed.
        3. (optional) Get the results of the operation.
      id: f7b9e2dd-430b-4708-8996-3b795aefa8ef
      iscommand: false
      name: GenericPolling
      playbookId: GenericPolling
      type: playbook
      version: -1
    taskid: f7b9e2dd-430b-4708-8996-3b795aefa8ef
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 387.5,
          "y": 1070
        }
      }
  "14":
    continueonerrortype: ""
    id: "14"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "3"
    note: false
    quietmode: 0
    scriptarguments:
      id:
        simple: ${Nexpose.Scan.Id}
    separatecontext: false
    skipunavailable: false
    task:
      brand: Rapid7 Nexpose
      description: Returns the specified scan.
      id: f263a341-c397-46a1-8c4e-e8d60333141a
      iscommand: true
      name: Nexpose-get-scan
      script: Rapid7 Nexpose|||nexpose-get-scan
      type: regular
      version: -1
    taskid: f263a341-c397-46a1-8c4e-e8d60333141a
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 387.5,
          "y": 1245
        }
      }
  "15":
    continueonerrortype: ""
    id: "15"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 9ac2c798-632b-4aea-8eb8-a4aaed17e2f6
      iscommand: false
      name: Done
      type: title
      version: -1
    taskid: 9ac2c798-632b-4aea-8eb8-a4aaed17e2f6
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 50,
          "y": 1770
        }
      }
  "16":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: incident.labels.Email/from
          operator: isEqualString
          right:
            value:
              simple: sonam.bhandari@tcs.com
      label: "yes"
    continueonerrortype: ""
    id: "16"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "15"
      "yes":
      - "18"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Check whether the values provided in arguments are equal. If either
        of the arguments are missing, no is returned.
      id: f7519e2a-6eb4-47bd-8908-d664108c57d6
      iscommand: false
      name: Is there an Authorized Sender?
      type: condition
      version: -1
    taskid: f7519e2a-6eb4-47bd-8908-d664108c57d6
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 50,
          "y": 195
        }
      }
  "17":
    continueonerrortype: ""
    id: "17"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "15"
    note: false
    quietmode: 0
    scriptarguments:
      attachIDs:
        simple: ${InfoFile.EntryID}
      body:
        simple: "Dear Team ,\n\nPlease find reports of ${subplaybook-18.IP.Address} "
      subject:
        simple: Nexpose Scanned Report
      to:
        simple: sonam.bhandari@tcs.com
    separatecontext: false
    skipunavailable: false
    task:
      brand: Mail Sender (New)
      description: Send an email
      id: 2364af92-ddb1-44c6-8999-b64f0699dfbe
      iscommand: true
      name: 'Send Scan Report '
      script: Mail Sender (New)|||send-mail
      type: regular
      version: -1
    taskid: 2364af92-ddb1-44c6-8999-b64f0699dfbe
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 387.5,
          "y": 1595
        }
      }
  "18":
    continueonerrortype: ""
    id: "18"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 100
      wait: 1
    nexttasks:
      '#none#':
      - "9"
    note: false
    quietmode: 0
    scriptarguments:
      incident:
        simple: ${incident.details}
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      id: 3fe7f19c-2605-43c2-8ec5-ba2a014cd125
      iscommand: false
      name: Extract Indicators - Generic
      playbookId: extract_indicators_-_generic
      type: playbook
      version: -1
    taskid: 3fe7f19c-2605-43c2-8ec5-ba2a014cd125
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 162.5,
          "y": 370
        }
      }
version: -1
view: |-
  {
    "linkLabelsPosition": {
      "16_15_#default#": 0.48
    },
    "paper": {
      "dimensions": {
        "height": 1785,
        "width": 717.5,
        "x": 50,
        "y": 50
      }
    }
  }
