playbook-NewCVE.yml
contentitemexportablefields:
  contentitemfields:
    definitionid: ""
    fromServerVersion: ""
    itemVersion: ""
    packID: ""
    packName: CVE_Eval_Pack
    prevname: ""
    propagationLabels:
    - all
    toServerVersion: ""
id: b891b14e-3e9e-4b7b-8c8f-1027d1c39ff0
inputs:
- description: ""
  key: ""
  playbookInputQuery:
    daterange:
      fromdate: "0001-01-01T00:00:00Z"
      fromdatelicenseval: "0001-01-01T00:00:00Z"
      period:
        by: ""
        byfrom: ""
        byto: ""
        field: ""
        fromvalue: null
        tovalue: null
      todate: "0001-01-01T00:00:00Z"
    query: sourceInstances:"National Vulnerability Database_instance_1"
    queryEntity: indicators
    results: null
    runFromLastJobTime: true
  required: false
  value: {}
name: NewCVE
outputs: []
quiet: true
starttaskid: "0"
tasks:
  "0":
    continueonerrortype: ""
    id: "0"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "10"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: ae54c796-2e32-4135-8a7c-3b438785b449
      iscommand: false
      name: ""
      version: -1
    taskid: ae54c796-2e32-4135-8a7c-3b438785b449
    timertriggers: []
    type: start
    view: |-
      {
        "position": {
          "x": 162.5,
          "y": 50
        }
      }
  "1":
    continueonerrortype: ""
    id: "1"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "11"
      - "14"
    note: false
    quietmode: 0
    scriptarguments:
      key:
        simple: CVEList
      value:
        complex:
          filters:
          - - left:
                iscontext: true
                value:
                  simple: playbookQuery.indicator_type
              operator: isEqualString
              right:
                value:
                  simple: CVE
          root: playbookQuery
          transformers:
          - args:
              expression:
                value:
                  simple: '{CVE: value, Targets: CustomFields.targets}'
            operator: jmespath
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Set a value in context under the key you entered.
      id: ad7290bf-7cf2-4006-8047-fc5867558703
      iscommand: false
      name: Extract CVE List
      script: Set
      type: regular
      version: -1
    taskid: ad7290bf-7cf2-4006-8047-fc5867558703
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 275,
          "y": 545
        }
      }
  "3":
    continueonerrortype: ""
    id: "3"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 1293c085-817b-46f5-8b52-911606c67793
      iscommand: false
      name: Done
      type: title
      version: -1
    taskid: 1293c085-817b-46f5-8b52-911606c67793
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 162.5,
          "y": 1245
        }
      }
  "7":
    continueonerrortype: ""
    id: "7"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "9"
    note: false
    quietmode: 0
    scriptarguments:
      key:
        simple: UnknownCPEs
      value:
        complex:
          filters:
          - - left:
                iscontext: true
                value:
                  simple: CVEList.Targets
              operator: isEmpty
          root: CVEList
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Set a value in context under the key you entered.
      id: 5f9cfa3c-40e1-4474-8256-54e6b5a703dc
      iscommand: false
      name: UnknownCPEs
      script: Set
      type: regular
      version: -1
    taskid: 5f9cfa3c-40e1-4474-8256-54e6b5a703dc
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 162.5,
          "y": 895
        }
      }
  "8":
    continueonerrortype: ""
    id: "8"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "12"
    note: false
    quietmode: 0
    scriptarguments:
      key:
        simple: KnownCPEs
      value:
        complex:
          filters:
          - - left:
                iscontext: true
                value:
                  simple: CVEList.Targets
              operator: isNotEmpty
          root: CVEList
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Set a value in context under the key you entered.
      id: 21101e25-0a25-4362-8732-143fbf4690a8
      iscommand: false
      name: KnownCPEs
      script: Set
      type: regular
      version: -1
    taskid: 21101e25-0a25-4362-8732-143fbf4690a8
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 612.5,
          "y": 895
        }
      }
  "9":
    continueonerrortype: ""
    id: "9"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      forEach: true
      iscommand: false
      max: 100
      wait: 5
    nexttasks:
      '#none#':
      - "3"
    note: false
    quietmode: 0
    scriptarguments:
      CVE:
        simple: ${UnknownCPEs.CVE}
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      id: 674feda3-599c-43ad-8dda-0abd52361dbd
      iscommand: false
      name: NewCVE_UnknownCPE_Incident
      playbookId: 7302f2e1-56e3-4337-856e-da0635004378
      type: playbook
      version: -1
    taskid: 674feda3-599c-43ad-8dda-0abd52361dbd
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 162.5,
          "y": 1070
        }
      }
  "10":
    continueonerrortype: ""
    id: "10"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "13"
    note: false
    quietmode: 0
    scriptarguments:
      all:
        simple: "yes"
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: |-
        Delete field from context.

        This automation runs using the default Limited User role, unless you explicitly change the permissions.
        For more information, see the section about permissions here:
        https://docs.paloaltonetworks.com/cortex/cortex-xsoar/6-2/cortex-xsoar-admin/playbooks/automations.html
      id: 22c55b83-33c3-412d-8e38-3f247c9265e9
      iscommand: false
      name: Delete Context
      script: DeleteContext
      type: regular
      version: -1
    taskid: 22c55b83-33c3-412d-8e38-3f247c9265e9
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 162.5,
          "y": 195
        }
      }
  "11":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                filters:
                - - left:
                      iscontext: true
                      value:
                        simple: CVEList.Targets
                    operator: isEmpty
                root: CVEList
          operator: isNotEmpty
      label: Found Empty
    continueonerrortype: ""
    id: "11"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "3"
      Found Empty:
      - "7"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: ca5ac9fe-eeca-4c41-867a-7b453ef2da5a
      iscommand: false
      name: Are there CVEs with no CPEs?
      type: condition
      version: -1
    taskid: ca5ac9fe-eeca-4c41-867a-7b453ef2da5a
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 50,
          "y": 720
        }
      }
  "12":
    continueonerrortype: ""
    id: "12"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "3"
    note: false
    quietmode: 0
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      id: 79502e2e-c467-4455-8db4-7f6f2a4cd7fa
      iscommand: false
      name: NewCVE_KnownCPE_Check
      playbookId: 47219563-3ac4-4f03-8c1c-db16914d1f10
      type: playbook
      version: -1
    taskid: 79502e2e-c467-4455-8db4-7f6f2a4cd7fa
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 612.5,
          "y": 1070
        }
      }
  "13":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                filters:
                - - left:
                      iscontext: true
                      value:
                        simple: playbookQuery.indicator_type
                    operator: isEqualString
                    right:
                      value:
                        simple: CVE
                root: playbookQuery
          operator: isNotEmpty
      label: New CVEs
    continueonerrortype: ""
    id: "13"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "3"
      New CVEs:
      - "1"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: dccd3e44-c505-43c8-89c0-dfe7d9576bd4
      iscommand: false
      name: Do we have CVEs?
      type: condition
      version: -1
    taskid: dccd3e44-c505-43c8-89c0-dfe7d9576bd4
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 162.5,
          "y": 370
        }
      }
  "14":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                filters:
                - - left:
                      iscontext: true
                      value:
                        simple: CVEList.Targets
                    operator: isNotEmpty
                root: CVEList
          operator: isNotEmpty
          right:
            value: {}
      label: Found Known
    continueonerrortype: ""
    id: "14"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "3"
      Found Known:
      - "8"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: a328d907-b5ef-4a58-87d9-954b49591fea
      iscommand: false
      name: Are there CVEs with known CPEs?
      type: condition
      version: -1
    taskid: a328d907-b5ef-4a58-87d9-954b49591fea
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 500,
          "y": 720
        }
      }
version: -1
view: |-
  {
    "linkLabelsPosition": {},
    "paper": {
      "dimensions": {
        "height": 1260,
        "width": 942.5,
        "x": 50,
        "y": 50
      }
    }
  }
