playbook-TCS-Qradar_Reference_set_Update_XSOAR_RF_Block1_v1.0_PG_WIP.yml
contentitemexportablefields:
  contentitemfields:
    definitionid: ""
    fromServerVersion: ""
    itemVersion: ""
    packID: ""
    packName: ""
    prevname: ""
    propagationLabels:
    - all
    toServerVersion: ""
id: 8ccda202-7b9f-4b47-8912-5e18a787b7e0
inputs: []
name: TCS-Qradar Reference set Update_XSOAR_RF_Block1_v1.0_PG_WIP
outputs: []
quiet: true
sourceplaybookid: 200ef570-1daa-49bd-8d92-66a11f1b896e
starttaskid: "0"
tasks:
  "0":
    continueonerrortype: ""
    id: "0"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "1"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 3d53c8cc-c6c6-4c86-8e5b-6015f57d55a9
      iscommand: false
      name: ""
      version: -1
    taskid: 3d53c8cc-c6c6-4c86-8e5b-6015f57d55a9
    timertriggers: []
    type: start
    view: |-
      {
        "position": {
          "x": -440,
          "y": -320
        }
      }
  "1":
    continueonerrortype: ""
    id: "1"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "2"
    note: false
    quietmode: 0
    scriptarguments:
      method:
        simple: GET
      url:
        simple: https://soar.tcsapps.com/instance/execute/XSOAR_RF_Block1
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Sends http request. Returns the response as json.
      id: eb51b053-8598-4326-8bab-af340e0b6662
      iscommand: false
      name: Get 0365 indicators
      script: http
      type: regular
      version: -1
    taskid: eb51b053-8598-4326-8bab-af340e0b6662
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -440,
          "y": -170
        }
      }
  "2":
    continueonerrortype: ""
    id: "2"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "29"
      - "28"
    note: false
    quietmode: 1
    scriptarguments:
      text:
        simple: ${HttpRequest.Response.Body}
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: commands.local.cmd.extract.indicators
      id: 06bf2cba-abee-4d76-8575-01212d986521
      iscommand: true
      name: extract indicators
      script: Builtin|||extractIndicators
      type: regular
      version: -1
    taskid: 06bf2cba-abee-4d76-8575-01212d986521
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -440,
          "y": 15
        }
      }
  "3":
    continueonerrortype: ""
    id: "3"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "32"
    note: false
    quietmode: 0
    scriptarguments:
      append:
        simple: "true"
      key:
        simple: EDLRFIP
      value:
        complex:
          accessor: IP
          root: ExtractedIndicators
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Set a value in context under the key you entered.
      id: e5745b98-16f7-4894-8b16-ed90c6acb1fd
      iscommand: false
      name: Set common context for IP
      script: Set
      type: regular
      version: -1
    taskid: e5745b98-16f7-4894-8b16-ed90c6acb1fd
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -640,
          "y": 420
        }
      }
  "4":
    continueonerrortype: ""
    id: "4"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "32"
    note: false
    quietmode: 0
    scriptarguments:
      append:
        simple: "true"
      key:
        simple: EDLRFIP
      value:
        complex:
          accessor: CIDR
          root: ExtractedIndicators
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Set a value in context under the key you entered.
      id: 333a6d23-7e89-48d4-86f0-701d3c0d70d0
      iscommand: false
      name: Set common context  for CIDR
      script: Set
      type: regular
      version: -1
    taskid: 333a6d23-7e89-48d4-86f0-701d3c0d70d0
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -170,
          "y": 410
        }
      }
  "24":
    continueonerrortype: ""
    id: "24"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    scriptarguments:
      all:
        simple: "no"
      key:
        simple: ExtractedIndicators,HttpRequest
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: |-
        Delete field from context.

        This automation runs using the default Limited User role, unless you explicitly change the permissions.
        For more information, see the section about permissions here:
        https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/6.10/Cortex-XSOAR-Administrator-Guide/Automations
      id: 5614e36c-5a7d-4bef-84a5-c6033dd46e46
      iscommand: false
      name: Delete context
      script: DeleteContext
      type: regular
      version: -1
    taskid: 5614e36c-5a7d-4bef-84a5-c6033dd46e46
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 2950,
          "y": 2450
        }
      }
  "28":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                accessor: IP
                root: ExtractedIndicators
          operator: isExists
      label: "yes"
    continueonerrortype: ""
    id: "28"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      "yes":
      - "3"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: abc3784e-92c8-473f-89b2-87fc334e3044
      iscommand: false
      name: Check whether any IP present in EDL
      type: condition
      version: -1
    taskid: abc3784e-92c8-473f-89b2-87fc334e3044
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": -650,
          "y": 215
        }
      }
  "29":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                accessor: CIDR
                root: ExtractedIndicators
          operator: isExists
      label: "yes"
    continueonerrortype: ""
    id: "29"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      "yes":
      - "4"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 64a9474f-da0f-4fb7-8133-518e7ed84611
      iscommand: false
      name: Check whether any CIDR present in EDL
      type: condition
      version: -1
    taskid: 64a9474f-da0f-4fb7-8133-518e7ed84611
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": -170,
          "y": 240
        }
      }
  "30":
    continueonerrortype: ""
    id: "30"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    scriptarguments:
      ref_name:
        simple: XSOAR test
      value:
        complex:
          root: EDLRFIP
    separatecontext: false
    skipunavailable: false
    task:
      brand: QRadar v3
      description: Adds or updates an element in a reference set.
      id: 388fbe53-a17f-4677-82d2-8d722ea5b90e
      iscommand: true
      name: Untitled Task
      script: QRadar v3|||qradar-reference-set-value-upsert
      type: regular
      version: -1
    taskid: 388fbe53-a17f-4677-82d2-8d722ea5b90e
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -1200,
          "y": 630
        }
      }
  "31":
    continueonerrortype: ""
    id: "31"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    scriptarguments:
      ref_name:
        simple: XSOAR test
      value:
        complex:
          accessor: IP
          root: ExtractedIndicators
    separatecontext: false
    skipunavailable: false
    task:
      brand: QRadar v3
      description: Adds or updates an element in a reference set.
      id: c16b44f6-660f-472b-893a-e4d2e1370878
      iscommand: true
      name: Untitled Task
      script: QRadar v3|||qradar-reference-set-value-upsert
      type: regular
      version: -1
    taskid: c16b44f6-660f-472b-893a-e4d2e1370878
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 0,
          "y": 920
        }
      }
  "32":
    continueonerrortype: ""
    id: "32"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "33"
    note: false
    quietmode: 0
    scriptarguments:
      ref_name:
        simple: XSOAR test
      value:
        complex:
          root: EDLRFIP
    separatecontext: false
    skipunavailable: false
    task:
      brand: QRadar v3
      description: Adds or updates an element in a reference set.
      id: 41eb264e-5405-486e-8896-7d57e221dce9
      iscommand: true
      name: Update in QRadar reference
      script: QRadar v3|||qradar-reference-set-value-upsert
      type: regular
      version: -1
    taskid: 41eb264e-5405-486e-8896-7d57e221dce9
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -410,
          "y": 630
        }
      }
  "33":
    continueonerrortype: ""
    id: "33"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 96dd5fd9-73f1-4417-8043-963b5e44233c
      iscommand: false
      name: END
      type: title
      version: -1
    taskid: 96dd5fd9-73f1-4417-8043-963b5e44233c
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": -410,
          "y": 790
        }
      }
version: -1
view: |-
  {
    "linkLabelsPosition": {},
    "paper": {
      "dimensions": {
        "height": 2865,
        "width": 4530,
        "x": -1200,
        "y": -320
      }
    }
  }
