playbook-RenewalCustomer_-_Notifications.yml
contentitemexportablefields:
  contentitemfields:
    definitionid: ""
    fromServerVersion: ""
    itemVersion: ""
    packID: ""
    packName: ""
    prevname: ""
    propagationLabels:
    - all
    toServerVersion: ""
id: b8fb5ae6-8a19-48ca-809f-9671ab7095b9
inputs: []
name: RenewalCustomer - Notifications
outputs: []
starttaskid: "0"
tasks:
  "0":
    continueonerrortype: ""
    id: "0"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "1"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 74068ba2-7c7b-4378-8fc4-89a192c700f4
      iscommand: false
      name: ""
      version: -1
    taskid: 74068ba2-7c7b-4378-8fc4-89a192c700f4
    timertriggers: []
    type: start
    view: |-
      {
        "position": {
          "x": 275,
          "y": 50
        }
      }
  "1":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: incident.renewalrep
          operator: isExists
      label: "yes"
    continueonerrortype: ""
    id: "1"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "5"
      "yes":
      - "2"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 8ba4b21d-586f-46c3-8e0a-1f82f85e62d7
      iscommand: false
      name: Check Renewal Rep is exist or not
      type: condition
      version: -1
    taskid: 8ba4b21d-586f-46c3-8e0a-1f82f85e62d7
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 275,
          "y": 195
        }
      }
  "2":
    continueonerrortype: ""
    form:
      description: ""
      expired: false
      questions:
      - defaultrows: []
        fieldassociated: ""
        gridcolumns: []
        id: "0"
        label: ""
        labelarg:
          simple: Are there any Road blocks for Renewal
        options: []
        optionsarg:
        - {}
        - simple: "Yes"
        - simple: "No"
        placeholder: ""
        readonly: false
        required: false
        tooltip: ""
        type: singleSelect
      sender: Your SOC team
      title: Customer Renewal Status
      totalanswers: 0
    id: "2"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    message:
      bcc: null
      body: null
      cc: null
      format: ""
      methods:
      - SlackV3
      subject: null
      timings:
        completeafterreplies: 1
        completeaftersla: true
        completeafterv2: true
        retriescount: 0
        retriesinterval: 0
      to:
        simple: sua@paloaltonetworks.com
    nexttasks:
      '#none#':
      - "3"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    sla:
      days: 0
      hours: 0
      minutes: 0
      weeks: 1
    task:
      brand: ""
      id: b35e75b3-8bb6-4aa6-8189-19914d1bc09e
      iscommand: false
      name: 'Send Slack notification to Renewal Rep '
      type: collection
      version: -1
    taskid: b35e75b3-8bb6-4aa6-8189-19914d1bc09e
    timertriggers: []
    type: collection
    view: |-
      {
        "position": {
          "x": -90,
          "y": 380
        }
      }
  "3":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: incident.renewalrepmanager
          operator: isExists
      label: "yes"
    continueonerrortype: ""
    id: "3"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "5"
      "yes":
      - "4"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 97d04020-3b38-454a-8f9b-1f76eaab785b
      iscommand: false
      name: Check Renewal Rep Manager exists or not
      type: condition
      version: -1
    taskid: 97d04020-3b38-454a-8f9b-1f76eaab785b
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": -90,
          "y": 555
        }
      }
  "4":
    continueonerrortype: ""
    form:
      description: ""
      expired: false
      questions:
      - defaultrows: []
        fieldassociated: ""
        gridcolumns: []
        id: "0"
        label: ""
        labelarg:
          simple: Are there any Road Blocks for the customer to renwal
        options: []
        optionsarg:
        - {}
        - simple: "Yes"
        - simple: "No"
        placeholder: ""
        readonly: false
        required: false
        tooltip: ""
        type: singleSelect
      sender: ""
      title: Customer Renewal Status
      totalanswers: 0
    id: "4"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    message:
      bcc: null
      body: null
      cc:
        simple: ${incident.renewalrep}
      format: ""
      methods:
      - email
      subject:
        simple: ${incident.accountname} is in Renewal Phase
      timings:
        completeafterreplies: 1
        completeaftersla: true
        completeafterv2: true
        retriescount: 2
        retriesinterval: 360
      to:
        simple: ${incident.renewalrepmanager}
    nexttasks:
      '#none#':
      - "5"
    note: false
    quietmode: 0
    scriptarguments:
      cc:
        simple: ${incident.renewalrep}
      subject:
        simple: ${incident.accountname} - Renewal Phase
      to:
        simple: sua@paloaltonetworks.com
    separatecontext: false
    skipunavailable: false
    sla:
      days: 0
      hours: 0
      minutes: 0
      weeks: 1
    task:
      brand: Gmail Single User
      description: Sends an email using Gmail.
      id: ff0f4070-e91a-412f-877a-391a211c2bf6
      iscommand: false
      name: 'Send email to Renewal Rep Manager '
      type: collection
      version: -1
    taskid: ff0f4070-e91a-412f-877a-391a211c2bf6
    timertriggers: []
    type: collection
    view: |-
      {
        "position": {
          "x": -280,
          "y": 760
        }
      }
  "5":
    continueonerrortype: ""
    id: "5"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 18a4f93d-66d7-4e5b-8ca8-d92bf5166330
      iscommand: false
      name: Done
      type: title
      version: -1
    taskid: 18a4f93d-66d7-4e5b-8ca8-d92bf5166330
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 290,
          "y": 1005
        }
      }
version: -1
view: |-
  {
    "linkLabelsPosition": {
      "1_5_#default#": 0.12,
      "3_5_#default#": 0.31
    },
    "paper": {
      "dimensions": {
        "height": 1020,
        "width": 950,
        "x": -280,
        "y": 50
      }
    }
  }
