playbook-TCS-CS_suppress_regedit.exe_FP_alerts__copy.yml
contentitemexportablefields:
  contentitemfields:
    definitionid: ""
    fromServerVersion: ""
    itemVersion: ""
    packID: ""
    packName: ""
    prevname: ""
    propagationLabels:
    - all
    toServerVersion: ""
id: 3207c2fb-b72d-454f-8328-58dadfa093b0
inputs: []
name: TCS-CS suppress regedit.exe FP alerts _copy
outputs: []
sourceplaybookid: 0b6be6b7-4303-4bfe-8e84-4fd1d695283e
starttaskid: "0"
tasks:
  "0":
    continueonerrortype: ""
    id: "0"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "1"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 577c3ccd-2e51-4ad3-8709-9822b97aab90
      iscommand: false
      name: ""
      version: -1
    taskid: 577c3ccd-2e51-4ad3-8709-9822b97aab90
    timertriggers: []
    type: start
    view: |-
      {
        "position": {
          "x": 450,
          "y": 50
        }
      }
  "1":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                accessor: crowdstriketactic
                root: incident
                transformers:
                - operator: toLowerCase
          operator: containsString
          right:
            value:
              simple: defense evasion
      - - left:
            iscontext: true
            value:
              complex:
                accessor: crowdstriketechnique
                root: incident
                transformers:
                - operator: toLowerCase
          operator: containsString
          right:
            value:
              simple: disable or modify tools
      - - left:
            iscontext: true
            value:
              simple: incident.crowdstrikefilename
          operator: containsString
          right:
            value:
              simple: regedit.exe
      label: "yes"
    continueonerrortype: ""
    id: "1"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "4"
      "yes":
      - "2"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: ff5c7af1-7d81-476c-822a-b4e668a3ae16
      iscommand: false
      name: Is the CS Trigger Logic Satisfied ?
      type: condition
      version: -1
    taskid: ff5c7af1-7d81-476c-822a-b4e668a3ae16
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 450,
          "y": 240
        }
      }
  "2":
    continueonerrortype: ""
    id: "2"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "5"
    note: false
    quietmode: 0
    scriptarguments:
      device_id:
        simple: ${incident.crowdstrikedeviceid}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Get policy details of host
      id: f02386f3-c4d9-4694-8af3-5c23318c43c2
      iscommand: true
      name: get policy info
      script: '|||cs-get-policy-details'
      type: regular
      version: -1
    taskid: f02386f3-c4d9-4694-8af3-5c23318c43c2
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 450,
          "y": 470
        }
      }
  "4":
    continueonerrortype: ""
    id: "4"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: c126249f-eb31-43e3-86f1-132d83a4066e
      iscommand: false
      name: done
      type: title
      version: -1
    taskid: c126249f-eb31-43e3-86f1-132d83a4066e
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 850,
          "y": 1030
        }
      }
  "5":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: PolicyDetails.policies.policy_id
          operator: isEqualString
          right:
            value:
              simple: 3b80e5a345694b2d975e9edc1a2ea880
      label: "yes"
    continueonerrortype: ""
    id: "5"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "4"
      "yes":
      - "6"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: b2be779f-a68b-4c5d-8ddf-ae02de027c84
      iscommand: false
      name: check if Tamper Protection Policy is  Disable
      type: condition
      version: -1
    taskid: b2be779f-a68b-4c5d-8ddf-ae02de027c84
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 450,
          "y": 685
        }
      }
  "6":
    continueonerrortype: ""
    id: "6"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "4"
    note: false
    quietmode: 0
    scriptarguments:
      key:
        simple: create Ticket
      value:
        simple: "Yes"
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Set a value in context under the key you entered.
      id: 10270557-0163-4151-8f27-f1d435753207
      iscommand: false
      name: Ticket creation needed or not
      script: Set
      type: regular
      version: -1
    taskid: 10270557-0163-4151-8f27-f1d435753207
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 450,
          "y": 860
        }
      }
  "7":
    continueonerrortype: ""
    id: "7"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    scriptarguments:
      key:
        simple: create Ticket
      value:
        simple: "Yes"
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Set a value in context under the key you entered.
      id: 97de8822-b495-43bf-8cdf-6c5a4ed803be
      iscommand: false
      name: Ticket creation needed or not
      script: Set
      type: regular
      version: -1
    taskid: 97de8822-b495-43bf-8cdf-6c5a4ed803be
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1220,
          "y": 850
        }
      }
version: -1
view: |-
  {
    "linkLabelsPosition": {},
    "paper": {
      "dimensions": {
        "height": 1045,
        "width": 1150,
        "x": 450,
        "y": 50
      }
    }
  }
