playbook-TCS-Auto_close_case__msiexec.exe-KR.yml
contentitemexportablefields:
  contentitemfields:
    definitionid: ""
    fromServerVersion: ""
    itemVersion: ""
    packID: ""
    packName: ""
    prevname: ""
    propagationLabels:
    - all
    toServerVersion: ""
id: 5cfb986a-f0f3-4d45-8549-cc5b264db4b8
inputs: []
name: TCS-Auto close case _msiexec.exe-KR
outputs: []
quiet: true
starttaskid: "0"
tasks:
  "0":
    continueonerrortype: ""
    id: "0"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "1"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: fd78266c-b6af-4c4d-8293-4138aa7c2a0e
      iscommand: false
      name: ""
      version: -1
    taskid: fd78266c-b6af-4c4d-8293-4138aa7c2a0e
    timertriggers: []
    type: start
    view: |-
      {
        "position": {
          "x": 450,
          "y": 50
        }
      }
  "1":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                accessor: crowdstriketactic
                root: incident
                transformers:
                - operator: toLowerCase
          operator: containsString
          right:
            value:
              simple: defense evasion
      - - left:
            iscontext: true
            value:
              complex:
                accessor: crowdstriketechnique
                root: incident
                transformers:
                - operator: toLowerCase
          operator: containsString
          right:
            value:
              simple: disable or modify tools
      label: "yes"
    continueonerrortype: ""
    id: "1"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "5"
      "yes":
      - "2"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 7414fc99-c53f-43f4-8ac1-63899b92fd11
      iscommand: false
      name: Check the TACTIC & TECHNIQUE
      type: condition
      version: -1
    taskid: 7414fc99-c53f-43f4-8ac1-63899b92fd11
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 450,
          "y": 220
        }
      }
  "2":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                accessor: crowdstrikecmdline
                root: incident
          operator: containsGeneral
          right:
            value:
              simple: C:\Windows\system32\msiexec.exe /V
        - left:
            iscontext: true
            value:
              complex:
                accessor: crowdstrikecmdline
                root: incident
          operator: isEqualString
          right:
            value:
              simple: C:\windows\system32\msiexec.exe /V
        - left:
            iscontext: true
            value:
              complex:
                accessor: crowdstrikecmdline
                root: incident
          operator: isEqualString
          right:
            value:
              simple: C:\WINDOWS\system32\msiexec.exe /V
      label: "yes"
    continueonerrortype: ""
    id: "2"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "5"
      "yes":
      - "4"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: ea371418-fd10-4c0a-83a1-495036abdd24
      iscommand: false
      name: Check the command line
      type: condition
      version: -1
    taskid: ea371418-fd10-4c0a-83a1-495036abdd24
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 450,
          "y": 410
        }
      }
  "3":
    continueonerrortype: ""
    id: "3"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "5"
    note: false
    quietmode: 0
    scriptarguments:
      key:
        simple: create Ticket
      value:
        simple: "Yes"
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Set a value in context under the key you entered.
      id: b91d7055-56db-4c33-8a85-93551a2dfa67
      iscommand: false
      name: Tickets needed or not
      script: Set
      type: regular
      version: -1
    taskid: b91d7055-56db-4c33-8a85-93551a2dfa67
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 450,
          "y": 760
        }
      }
  "4":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                accessor: crowdstrikeseverity
                root: incident
                transformers:
                - operator: toLowerCase
          operator: containsGeneral
          right:
            value:
              simple: medium
      label: "yes"
    continueonerrortype: ""
    id: "4"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "5"
      "yes":
      - "3"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 79a6e6bf-e2a8-4807-8d24-f8f979096225
      iscommand: false
      name: Check the severity
      type: condition
      version: -1
    taskid: 79a6e6bf-e2a8-4807-8d24-f8f979096225
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 450,
          "y": 580
        }
      }
  "5":
    continueonerrortype: ""
    id: "5"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 9edd6325-77a4-4ab8-804c-d122922add97
      iscommand: false
      name: End
      type: title
      version: -1
    taskid: 9edd6325-77a4-4ab8-804c-d122922add97
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 450,
          "y": 950
        }
      }
version: -1
view: |-
  {
    "linkLabelsPosition": {},
    "paper": {
      "dimensions": {
        "height": 965,
        "width": 380,
        "x": 450,
        "y": 50
      }
    }
  }
