playbook-TCS-Read_the_indicator_Value_WIP.yml
contentitemexportablefields:
  contentitemfields:
    definitionid: ""
    fromServerVersion: ""
    itemVersion: ""
    packID: ""
    packName: ""
    prevname: ""
    propagationLabels:
    - all
    toServerVersion: ""
id: f82c7649-bf90-4cd4-8426-aa6881733993
inputs:
- description: ""
  key: IP
  playbookInputQuery: null
  required: false
  value: {}
name: TCS-Read the indicator Value_WIP
outputs: []
quiet: true
starttaskid: "0"
tasks:
  "0":
    continueonerrortype: ""
    id: "0"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "1"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 6eb9f273-7bef-4ab1-8d4d-0d160794c36a
      iscommand: false
      name: ""
      version: -1
    taskid: 6eb9f273-7bef-4ab1-8d4d-0d160794c36a
    timertriggers: []
    type: start
    view: |-
      {
        "position": {
          "x": 480,
          "y": -45
        }
      }
  "1":
    continueonerrortype: ""
    id: "1"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "2"
    note: false
    quietmode: 0
    scriptarguments:
      creationdate:
        simple: ${ISOTimeNow}
      tags:
        simple: hostliftcontaincompliance
      type:
        simple: Host
      value:
        simple: ${inputs.IP}
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: commands.local.cmd.new.indicator
      id: cf1f0cf3-bf80-4d4a-8896-10978eb0b9c8
      iscommand: true
      name: Create new indicator
      script: Builtin|||createNewIndicator
      type: regular
      version: -1
    taskid: cf1f0cf3-bf80-4d4a-8896-10978eb0b9c8
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 470,
          "y": 200
        }
      }
  "2":
    continueonerrortype: ""
    id: "2"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: c422424e-7976-4131-8f55-80846d571d09
      iscommand: false
      name: END
      type: title
      version: -1
    taskid: c422424e-7976-4131-8f55-80846d571d09
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 470,
          "y": 360
        }
      }
  "3":
    continueonerrortype: ""
    id: "3"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "4"
    note: false
    quietmode: 0
    scriptarguments:
      extend-context:
        simple: indicator.value=value
      query:
        simple: (tags:"TCSPublicIP" and tags:tcspentestip) and value:${inputs.IP}
      value:
        simple: ${inputs.IP}
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: commands.local.cmd.find.indicators
      id: df351632-6978-4428-8c65-0b4dd3094aca
      iscommand: true
      name: Check if the indicator present
      script: Builtin|||findIndicators
      type: regular
      version: -1
    taskid: df351632-6978-4428-8c65-0b4dd3094aca
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -200,
          "y": -220
        }
      }
  "4":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                accessor: value
                root: indicator
          operator: isExists
      label: "yes"
    continueonerrortype: ""
    id: "4"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "1"
      "yes":
      - "2"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 6d7eeead-baa1-4367-8e4f-393b0db0b803
      iscommand: false
      name: Untitled Task
      type: condition
      version: -1
    taskid: 6d7eeead-baa1-4367-8e4f-393b0db0b803
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": -670,
          "y": -60
        }
      }
version: -1
view: |-
  {
    "linkLabelsPosition": {},
    "paper": {
      "dimensions": {
        "height": 645,
        "width": 1530,
        "x": -670,
        "y": -220
      }
    }
  }
