playbook-AlertingHealthCheckActionableItems.yml
contentitemexportablefields:
  contentitemfields:
    definitionid: ""
    fromServerVersion: ""
    itemVersion: ""
    packID: ""
    packName: ""
    prevname: ""
    propagationLabels:
    - all
    toServerVersion: ""
id: f2b02c08-1813-4d75-881b-967233f8f5f5
inputs: []
name: AlertingHealthCheckActionableItems
outputs: []
quiet: true
starttaskid: "0"
tasks:
  "0":
    continueonerrortype: ""
    id: "0"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "1"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 63381af8-0365-4a9d-882e-30627ac7b650
      iscommand: false
      name: ""
      version: -1
    taskid: 63381af8-0365-4a9d-882e-30627ac7b650
    timertriggers: []
    type: start
    view: |-
      {
        "position": {
          "x": 450,
          "y": 50
        }
      }
  "1":
    continueonerrortype: ""
    id: "1"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "2"
    note: false
    quietmode: 0
    scriptarguments:
      fromdate:
        simple: 7 days ago
      type:
        simple: System Diagnostics and Health Check
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: |-
        Searches Demisto incidents.

        This automation runs using the default Limited User role, unless you explicitly change the permissions.
        For more information, see the section about permissions here:
        https://docs.paloaltonetworks.com/cortex/cortex-xsoar/6-2/cortex-xsoar-admin/playbooks/automations.html
      id: f188a799-b62e-41ff-8c68-6bf017ba44b4
      iscommand: false
      name: Search for HealthCheck Incidents
      script: SearchIncidentsV2
      type: regular
      version: -1
    taskid: f188a799-b62e-41ff-8c68-6bf017ba44b4
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 450,
          "y": 210
        }
      }
  "2":
    continueonerrortype: ""
    id: "2"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      "no":
      - "3"
    note: false
    quietmode: 2
    scriptarguments:
      value:
        simple: ${foundIncidents.CustomFields.healthcheckactionableitems.category}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Check if a given value exists in the context. Will return 'no'
        for empty empty arrays. To be used mostly with DQ and selectors.
      id: 010428eb-53a3-4e9c-8fb3-46ac0e6e0ff3
      iscommand: false
      name: Validate if any Actionable items present or not?
      script: Exists
      type: condition
      version: -1
    taskid: 010428eb-53a3-4e9c-8fb3-46ac0e6e0ff3
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 450,
          "y": 400
        }
      }
  "3":
    continueonerrortype: ""
    id: "3"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    scriptarguments:
      closeNotes:
        simple: No Actionable item, Hence closing the case.
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: commands.local.cmd.close.inv
      id: 9b45f6c4-2334-45c0-8d78-fe0f535aea8b
      iscommand: true
      name: No Actionable item, Hence closing the case.
      script: Builtin|||closeInvestigation
      type: regular
      version: -1
    taskid: 9b45f6c4-2334-45c0-8d78-fe0f535aea8b
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 900,
          "y": 630
        }
      }
version: -1
view: |-
  {
    "linkLabelsPosition": {},
    "paper": {
      "dimensions": {
        "height": 675,
        "width": 830,
        "x": 450,
        "y": 50
      }
    }
  }
