playbook-TCS-IOC_Risk_Score_Playbook_v1.4_WIP.yml
contentitemexportablefields:
  contentitemfields:
    definitionid: ""
    fromServerVersion: ""
    itemVersion: ""
    packID: ""
    packName: ""
    prevname: ""
    propagationLabels:
    - all
    toServerVersion: ""
id: 8f63e670-babd-444e-8452-9d701fbbf1f1
inputs:
- description: ""
  key: File
  playbookInputQuery: null
  required: false
  value: {}
name: TCS-IOC Risk Score Playbook v1.4_WIP
outputs: []
sourceplaybookid: 08c3b260-77a7-4316-8c5d-802cc55f4e22
starttaskid: "0"
tasks:
  "0":
    continueonerrortype: ""
    id: "0"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "116"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 818b6342-17f8-4e73-8b76-9a4cb0c88094
      iscommand: false
      name: ""
      version: -1
    taskid: 818b6342-17f8-4e73-8b76-9a4cb0c88094
    timertriggers: []
    type: start
    view: |-
      {
        "position": {
          "x": 460,
          "y": -1340
        }
      }
  "3":
    continueonerrortype: ""
    id: "3"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "71"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: d9e881ba-a63c-43cf-8126-50a5f6118ea2
      iscommand: false
      name: Email Report / Notify
      type: title
      version: -1
    taskid: d9e881ba-a63c-43cf-8126-50a5f6118ea2
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 450,
          "y": 2230
        }
      }
  "56":
    continueonerrortype: ""
    id: "56"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "61"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 857fc227-360f-4625-8437-2fea576488da
      iscommand: false
      name: Generate Risk Report
      type: title
      version: -1
    taskid: 857fc227-360f-4625-8437-2fea576488da
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 460,
          "y": 190
        }
      }
  "60":
    continueonerrortype: ""
    id: "60"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "93"
    note: false
    quietmode: 0
    scriptarguments:
      csvArray:
        simple: ${RiskScore.Result}
      fileName:
        simple: RFIOC_RiskScore.csv
      headers:
        simple: name,riskScore
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Export given array to csv file
      id: 43d3039c-c281-4c23-89e7-ab0f87fb14a4
      iscommand: false
      name: Create Risk Score Report
      script: ExportToCSV
      type: regular
      version: -1
    taskid: 43d3039c-c281-4c23-89e7-ab0f87fb14a4
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 450,
          "y": 1080
        }
      }
  "61":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                accessor: IP
                root: RecordedFuture
          operator: isExists
        - left:
            iscontext: true
            value:
              complex:
                accessor: Domain
                root: RecordedFuture
          operator: isExists
        - left:
            iscontext: true
            value:
              complex:
                accessor: File
                root: RecordedFuture
          operator: isExists
      label: "yes"
    continueonerrortype: ""
    id: "61"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "70"
      "yes":
      - "64"
      - "100"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: edb8d317-12c6-4b4a-8463-58fb6f4e7b0c
      iscommand: false
      name: Is There A Report To Generate ?
      type: condition
      version: -1
    taskid: edb8d317-12c6-4b4a-8463-58fb6f4e7b0c
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 460,
          "y": 360
        }
      }
  "64":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                accessor: IP
                root: RecordedFuture
          operator: isExists
      label: "yes"
    continueonerrortype: ""
    id: "64"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "66"
      "yes":
      - "65"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 307826bf-52fa-429c-8e9a-4eae4fc6baf5
      iscommand: false
      name: Are There RF IP Address  Results ?
      type: condition
      version: -1
    taskid: 307826bf-52fa-429c-8e9a-4eae4fc6baf5
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 20,
          "y": 660
        }
      }
  "65":
    continueonerrortype: ""
    id: "65"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "66"
    note: false
    quietmode: 0
    reputationcalc: 1
    scriptarguments:
      append:
        simple: "true"
      key:
        simple: RiskScore.Result
      value:
        complex:
          accessor: IP
          root: RecordedFuture
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Set a value in context under the key you entered.
      id: 0785f906-59b7-4452-8e72-758d2db10085
      iscommand: false
      name: 'Set RF IP Address In Context '
      script: Set
      type: regular
      version: -1
    taskid: 0785f906-59b7-4452-8e72-758d2db10085
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 20,
          "y": 850
        }
      }
  "66":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                accessor: Domain
                root: RecordedFuture
          operator: isExists
      label: "yes"
    continueonerrortype: ""
    id: "66"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "68"
      "yes":
      - "67"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: e8716220-8a56-488c-8f7f-1285df612b7c
      iscommand: false
      name: Are There RF Domain Address Results ?
      type: condition
      version: -1
    taskid: e8716220-8a56-488c-8f7f-1285df612b7c
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 460,
          "y": 660
        }
      }
  "67":
    continueonerrortype: ""
    id: "67"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "68"
    note: false
    quietmode: 0
    reputationcalc: 1
    scriptarguments:
      append:
        simple: "true"
      key:
        simple: RiskScore.Result
      value:
        complex:
          accessor: Domain
          root: RecordedFuture
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Set a value in context under the key you entered.
      id: d8fce962-2101-4d73-8e9c-e049d97f1384
      iscommand: false
      name: 'Set RF Domain In Context '
      script: Set
      type: regular
      version: -1
    taskid: d8fce962-2101-4d73-8e9c-e049d97f1384
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 450,
          "y": 850
        }
      }
  "68":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                accessor: File
                root: RecordedFuture
          operator: isExists
      label: "yes"
    continueonerrortype: ""
    id: "68"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "60"
      "yes":
      - "69"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 05dc4bf5-5a69-461d-842d-7cb0ec39550f
      iscommand: false
      name: Are There RF File Results ?
      type: condition
      version: -1
    taskid: 05dc4bf5-5a69-461d-842d-7cb0ec39550f
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 890,
          "y": 660
        }
      }
  "69":
    continueonerrortype: ""
    id: "69"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "60"
    note: false
    quietmode: 0
    reputationcalc: 1
    scriptarguments:
      append:
        simple: "true"
      key:
        simple: RiskScore.Result
      value:
        complex:
          accessor: File
          root: RecordedFuture
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Set a value in context under the key you entered.
      id: 341015af-6d09-4da5-8b54-e9df3f2b5b8d
      iscommand: false
      name: 'Set RF File In Context '
      script: Set
      type: regular
      version: -1
    taskid: 341015af-6d09-4da5-8b54-e9df3f2b5b8d
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 890,
          "y": 850
        }
      }
  "70":
    continueonerrortype: ""
    id: "70"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "89"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 0ae9890a-9798-4ba6-823f-efac6c425110
      iscommand: false
      name: Close Investigation
      type: title
      version: -1
    taskid: 0ae9890a-9798-4ba6-823f-efac6c425110
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 780,
          "y": 2700
        }
      }
  "71":
    continueonerrortype: ""
    id: "71"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "70"
    note: false
    quietmode: 0
    scriptarguments:
      attachIDs:
        complex:
          root: Report
      body:
        simple: "Hello Human,\n\nPFA the Risk Score report for the IoCs shared in
          this file - ${incident.attachment.name} \n\n(Please note if I find any IoCs
          in the file that belong to Microsoft, Google, TCS, Master IOC or other customers
          I will create an additional  risk report with an appropriate file name)\n\n\nRegards,\nCSOC
          Cyber Bot\nAutomation  Id - ${incident.id}"
      cc:
        simple: kunal.krushev@tcs.com
      retry-count:
        simple: "1"
      retry-interval:
        simple: "30"
      subject:
        simple: IOC Risk Score Report For - ${incident.attachment.name}
      to:
        complex:
          accessor: Email/from
          root: incident.labels
    separatecontext: false
    skipunavailable: false
    task:
      brand: EWS Mail Sender
      description: Sends an email using EWS.
      id: ce2b1a15-fe40-491d-8dee-25344318386a
      iscommand: true
      name: Email Report Summary
      script: EWS Mail Sender|||send-mail
      type: regular
      version: -1
    taskid: ce2b1a15-fe40-491d-8dee-25344318386a
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 450,
          "y": 2410
        }
      }
  "74":
    continueonerrortype: ""
    id: "74"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 100
      wait: 1
    nexttasks:
      '#none#':
      - "99"
    note: false
    quietmode: 0
    scriptarguments:
      Domain:
        complex:
          accessor: Domain
          root: ExtractedIndicators
      Hash:
        complex:
          accessor: File
          root: ExtractedIndicators
      IP:
        complex:
          accessor: IP
          root: ExtractedIndicators
          transformers:
          - operator: uniq
      IP Address:
        complex:
          accessor: IP
          root: Address2
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: c480baae-f691-43a0-8321-c3248878138e
      iscommand: false
      name: TCS-Recorded Future IOC Enrichment Playbook v 1.1
      playbookId: 5aaa0bc6-781d-4216-8678-5830391bf6e2
      type: playbook
      version: -1
    taskid: c480baae-f691-43a0-8321-c3248878138e
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 460,
          "y": -155
        }
      }
  "77":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                accessor: riskScore
                root: RiskScore.Result
          operator: greaterThan
          right:
            value:
              simple: "64"
      label: "yes"
    continueonerrortype: ""
    id: "77"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "3"
      "yes":
      - "78"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 53a0a740-b775-4d6f-82b9-ba6022c39326
      iscommand: false
      name: Are There Any IOC Above Risk Score 65 ?
      type: condition
      version: -1
    taskid: 53a0a740-b775-4d6f-82b9-ba6022c39326
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 450,
          "y": 1440
        }
      }
  "78":
    continueonerrortype: ""
    id: "78"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "79"
    note: false
    quietmode: 0
    scriptarguments:
      key:
        simple: RiskScore65
      value:
        complex:
          filters:
          - - left:
                iscontext: true
                value:
                  simple: RiskScore.Result.riskScore
              operator: greaterThan
              right:
                value:
                  simple: "64"
          root: RiskScore.Result
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Set a value in context under the key you entered.
      id: 93f56b97-bf18-4f82-80c6-749aecbbe64d
      iscommand: false
      name: Set IOC Greater Than 64 To Context
      script: Set
      type: regular
      version: -1
    taskid: 93f56b97-bf18-4f82-80c6-749aecbbe64d
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 450,
          "y": 1640
        }
      }
  "79":
    continueonerrortype: ""
    id: "79"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "80"
    note: false
    quietmode: 0
    scriptarguments:
      csvArray:
        simple: ${RiskScore65}
      fileName:
        simple: RF_Above_64_IOC_RiskScore.csv
      headers:
        simple: name,riskScore
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Export given array to csv file
      id: 148b91e6-71a0-45ac-8438-1decbdf34557
      iscommand: false
      name: Create Risk Score Report Above 64
      script: ExportToCSV
      type: regular
      version: -1
    taskid: 148b91e6-71a0-45ac-8438-1decbdf34557
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 450,
          "y": 1810
        }
      }
  "80":
    continueonerrortype: ""
    id: "80"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "3"
    note: false
    quietmode: 0
    scriptarguments:
      append:
        simple: "true"
      key:
        simple: Report
      value:
        simple: '${.=(val.File instanceof Array ? val.File[val.File.length-1].EntryID
          : val.File.EntryID)}'
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Set a value in context under the key you entered.
      id: cbeb1de3-f6ce-4864-879f-0d0442638b95
      iscommand: false
      name: Set 64 Above Report To Context
      script: Set
      type: regular
      version: -1
    taskid: cbeb1de3-f6ce-4864-879f-0d0442638b95
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 450,
          "y": 1990
        }
      }
  "83":
    continueonerrortype: ""
    id: "83"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "91"
    note: false
    quietmode: 0
    scriptarguments:
      entryID:
        simple: ${File.EntryID}
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: commands.local.cmd.extract.indicators
      id: 98e8b385-8a68-46f1-80cd-a0b94d1613be
      iscommand: true
      name: Extract Indicators From Text File
      script: Builtin|||extractIndicators
      type: regular
      version: -1
    taskid: 98e8b385-8a68-46f1-80cd-a0b94d1613be
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 460,
          "y": -820
        }
      }
  "85":
    continueonerrortype: ""
    id: "85"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "70"
    note: false
    quietmode: 0
    scriptarguments:
      body:
        simple: |-
          Hello Human,

          You are not on my authorized list of senders to block these IP address. Please contact Your XSOAR Support team.

          Regards,
          CSOC Cyber AutoBot
      cc:
        simple: kunal.krushev@tcs.com
      subject:
        simple: Not Authorized To Send Mail For Blocking IOCs
      to:
        complex:
          accessor: Email/from
          root: incident.labels
    separatecontext: false
    skipunavailable: false
    task:
      brand: EWS Mail Sender
      description: Sends an email using EWS.
      id: 0e947eea-b7da-4f73-8735-0ce37bd6703d
      iscommand: true
      name: Send Email Notification - Not Authorized User
      script: EWS Mail Sender|||send-mail
      type: regular
      version: -1
    taskid: 0e947eea-b7da-4f73-8735-0ce37bd6703d
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1060,
          "y": 2410
        }
      }
  "86":
    continueonerrortype: ""
    id: "86"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "92"
    note: false
    quietmode: 0
    scriptarguments:
      key:
        simple: IP
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Delete field from context
      id: 6c4ea966-b118-4aff-8791-254d2ffcf157
      iscommand: false
      name: Delete IP Context
      script: DeleteContext
      type: regular
      version: -1
    taskid: 6c4ea966-b118-4aff-8791-254d2ffcf157
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 460,
          "y": -490
        }
      }
  "89":
    continueonerrortype: ""
    id: "89"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "90"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: commands.local.cmd.close.inv
      id: 770a2864-d9c5-42a9-8921-c647feb3a481
      iscommand: true
      name: Close Investigation
      script: Builtin|||closeInvestigation
      type: regular
      version: -1
    taskid: 770a2864-d9c5-42a9-8921-c647feb3a481
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 450,
          "y": 2930
        }
      }
  "90":
    continueonerrortype: ""
    id: "90"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: e8b2c1eb-f008-4a8c-85d8-e43653d1ffe4
      iscommand: false
      name: Done
      type: title
      version: -1
    taskid: e8b2c1eb-f008-4a8c-85d8-e43653d1ffe4
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 450,
          "y": 3200
        }
      }
  "91":
    continueonerrortype: ""
    id: "91"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 100
      wait: 1
    nexttasks:
      '#none#':
      - "86"
    note: false
    quietmode: 0
    scriptarguments:
      IP Address:
        complex:
          accessor: IP
          root: ExtractedIndicators
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 00f1f87b-88bb-48de-8783-b0a04b58f9e3
      iscommand: false
      name: TCS-IP Address Owner Verification_Playbook  v3.4
      playbookId: eebc8129-eea1-4d62-8c98-ce73477dad5f
      type: playbook
      version: -1
    taskid: 00f1f87b-88bb-48de-8783-b0a04b58f9e3
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 460,
          "y": -650
        }
      }
  "92":
    continueonerrortype: ""
    id: "92"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 100
      wait: 1
    nexttasks:
      '#none#':
      - "74"
    note: false
    quietmode: 0
    scriptarguments:
      Domain:
        complex:
          accessor: Domain
          root: ExtractedIndicators
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: ede4e3d7-fa50-4b69-886d-f45fea3e4be1
      iscommand: false
      name: TCS-Domain Owner Verification  v3.4
      playbookId: 16980641-dc12-41db-8e7c-7c7ebc57b470
      type: playbook
      version: -1
    taskid: ede4e3d7-fa50-4b69-886d-f45fea3e4be1
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 460,
          "y": -320
        }
      }
  "93":
    continueonerrortype: ""
    id: "93"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "77"
    note: false
    quietmode: 0
    scriptarguments:
      append:
        simple: "true"
      key:
        simple: Report
      value:
        simple: '${.=(val.File instanceof Array ? val.File[val.File.length-1].EntryID
          : val.File.EntryID)}'
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Set a value in context under the key you entered.
      id: 66bd4e82-424f-4a96-82df-eb3efa627562
      iscommand: false
      name: Set IOC Report To Context
      script: Set
      type: regular
      version: -1
    taskid: 66bd4e82-424f-4a96-82df-eb3efa627562
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 450,
          "y": 1250
        }
      }
  "94":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: ${incident.emailfrom}
          operator: isEqualString
          right:
            value:
              simple: kunal.krushev@tcs.com
        - left:
            iscontext: true
            value:
              simple: ${incident.emailfrom}
          operator: isEqualString
          right:
            value:
              simple: Aashish.Narkar@tcs.com
        - left:
            iscontext: true
            value:
              simple: ${incident.emailfrom}
          operator: isEqualString
          right:
            value:
              simple: internalis.cybersecurityops@tcs.com
        - left:
            iscontext: true
            value:
              simple: ${incident.emailfrom}
          operator: isEqualString
          right:
            value:
              simple: yogesh.gholap@tcs.com
        - left:
            iscontext: true
            value:
              simple: ${incident.emailfrom}
          operator: isEqualString
          right:
            value:
              simple: rupesh.sane@tcs.com
        - left:
            iscontext: true
            value:
              simple: ${incident.emailfrom}
          operator: isEqualString
          right:
            value:
              simple: prasad.kaginkar@tcs.com
        - left:
            iscontext: true
            value:
              simple: ${incident.emailfrom}
          operator: isEqualString
          right:
            value:
              simple: Nimisha.Prajapati@tcs.com
        - left:
            iscontext: true
            value:
              simple: ${incident.emailfrom}
          operator: isEqualString
          right:
            value:
              simple: sonam.bhandari@tcs.com
      label: "yes"
    continueonerrortype: ""
    id: "94"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "85"
      "yes":
      - "83"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 96e61228-8b9c-4616-8fbb-1a53f8507945
      iscommand: false
      name: Is Email From Authorized Sender?
      type: condition
      version: -1
    taskid: 96e61228-8b9c-4616-8fbb-1a53f8507945
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 880,
          "y": -990
        }
      }
  "95":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: incident.labels.Email/from
          operator: isEqualString
          right:
            value:
              simple: kunal.krushev@tcs.com
        - left:
            iscontext: true
            value:
              simple: incident.labels.Email/from
          operator: isEqualString
          right:
            value:
              simple: Aashish.Narkar@tcs.com
        - left:
            iscontext: true
            value:
              simple: incident.labels.Email/from
          operator: isEqualString
          right:
            value:
              simple: internalis.cybersecurityops@tcs.com
        - left:
            iscontext: true
            value:
              simple: incident.labels.Email/from
          operator: isEqualString
          right:
            value:
              simple: yogesh.gholap@tcs.com
        - left:
            iscontext: true
            value:
              simple: incident.labels.Email/from
          operator: isEqualString
          right:
            value:
              simple: rupesh.sane@tcs.com
        - left:
            iscontext: true
            value:
              simple: incident.labels.Email/from
          operator: isEqualString
          right:
            value:
              simple: prasad.kaginkar@tcs.com
        - left:
            iscontext: true
            value:
              simple: incident.labels.Email/from
          operator: isEqualString
          right:
            value:
              simple: Nimisha.Prajapati@tcs.com
        - left:
            iscontext: true
            value:
              simple: incident.labels.Email/from
          operator: isEqualString
          right:
            value:
              simple: sonam.bhandari@tcs.com
      label: "yes"
    continueonerrortype: ""
    id: "95"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "94"
      "yes":
      - "83"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: c72a7805-e309-4077-8cb0-e8961d179f10
      iscommand: false
      name: Is Email From Authorized Sender?
      type: condition
      version: -1
    taskid: c72a7805-e309-4077-8cb0-e8961d179f10
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 460,
          "y": -1160
        }
      }
  "96":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: ${incident.emailfrom}
          operator: inList
          right:
            value:
              simple: ${lists.AuthorizedSenders}
        - left:
            iscontext: true
            value:
              simple: incident.labels.Email/from
          operator: isEqualString
          right:
            value:
              simple: internalis.cybersecurityops@tcs.com
        - left:
            iscontext: true
            value:
              simple: incident.labels.Email/from
          operator: isEqualString
          right:
            value:
              simple: prasad.kaginkar@tcs.com
      label: "yes"
    continueonerrortype: ""
    id: "96"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 3aabc66c-db0c-4a11-8977-518701ad83a3
      iscommand: false
      name: check if sender is present in  list of authorize senders.
      type: condition
      version: -1
    taskid: 3aabc66c-db0c-4a11-8977-518701ad83a3
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 10,
          "y": -1030
        }
      }
  "97":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: ${incident.emailfrom}
          operator: inList
          right:
            value:
              simple: ${lists.AuthorizedSenders}
        - left:
            iscontext: true
            value:
              simple: incident.labels.Email/from
          operator: isEqualString
          right:
            value:
              simple: internalis.cybersecurityops@tcs.com
        - left:
            iscontext: true
            value:
              simple: incident.labels.Email/from
          operator: isEqualString
          right:
            value:
              simple: prasad.kaginkar@tcs.com
      label: "yes"
    continueonerrortype: ""
    id: "97"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 2813571a-c7a0-4992-80e1-4fb1ab5963aa
      iscommand: false
      name: check if sender is present in  list of authorize senders.
      type: condition
      version: -1
    taskid: 2813571a-c7a0-4992-80e1-4fb1ab5963aa
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 1280,
          "y": -830
        }
      }
  "99":
    continueonerrortype: ""
    id: "99"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 100
      wait: 1
    nexttasks:
      '#none#':
      - "56"
    note: false
    quietmode: 0
    scriptarguments:
      Domain:
        complex:
          accessor: Domain
          root: ExtractedIndicators
      Hash:
        complex:
          accessor: File
          root: ExtractedIndicators
      IP:
        complex:
          accessor: IP
          root: ExtractedIndicators
          transformers:
          - operator: uniq
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 6816e083-078e-4567-84af-667a94bb4808
      iscommand: false
      name: TCS-Mandiant IOC Enrichment Playbook v 1.0_WIP
      playbookId: 3257731e-7971-4c0d-8bcb-eb2e6d348a5f
      type: playbook
      version: -1
    taskid: 6816e083-078e-4567-84af-667a94bb4808
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 460,
          "y": 15
        }
      }
  "100":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                accessor: type
                root: Mandiant.Indicator
          operator: isEqualString
          right:
            value:
              simple: ipv4
      label: "yes"
    continueonerrortype: ""
    id: "100"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "103"
      "yes":
      - "102"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: f2f305c9-e372-45c1-8ee1-6c747bf119d5
      iscommand: false
      name: Are there Mandiant IPs?
      type: condition
      version: -1
    taskid: f2f305c9-e372-45c1-8ee1-6c747bf119d5
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": -650,
          "y": 640
        }
      }
  "102":
    continueonerrortype: ""
    id: "102"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "103"
    note: false
    quietmode: 0
    scriptarguments:
      append:
        simple: "true"
      key:
        simple: MandiantRiskScore.Result
      value:
        complex:
          filters:
          - - left:
                iscontext: true
                value:
                  simple: Mandiant.Indicator.type
              operator: isEqualString
              right:
                value:
                  simple: ipv4
          root: Mandiant.Indicator
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Set a value in context under the key you entered.
      id: 202f0704-ce80-4557-8f42-8e390c3d38b6
      iscommand: false
      name: Set Context for IP
      script: Set
      type: regular
      version: -1
    taskid: 202f0704-ce80-4557-8f42-8e390c3d38b6
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -920,
          "y": 810
        }
      }
  "103":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                accessor: type
                root: Mandiant.Indicator
          operator: isEqualString
          right:
            value:
              simple: fqdn
      label: "yes"
    continueonerrortype: ""
    id: "103"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "105"
      "yes":
      - "104"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 13d8799c-48b3-4bd0-8123-ab9e5cc1e27b
      iscommand: false
      name: Are there Mandiant Domains?
      type: condition
      version: -1
    taskid: 13d8799c-48b3-4bd0-8123-ab9e5cc1e27b
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": -650,
          "y": 985
        }
      }
  "104":
    continueonerrortype: ""
    id: "104"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "105"
    note: false
    quietmode: 0
    scriptarguments:
      append:
        simple: "true"
      key:
        simple: MandiantRiskScore.Result
      value:
        complex:
          filters:
          - - left:
                iscontext: true
                value:
                  simple: Mandiant.Indicator.type
              operator: isEqualString
              right:
                value:
                  simple: fqdn
          root: Mandiant.Indicator
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Set a value in context under the key you entered.
      id: 65d7b76b-d0fc-4497-8257-0a773adc8505
      iscommand: false
      name: Set Context for Domain
      script: Set
      type: regular
      version: -1
    taskid: 65d7b76b-d0fc-4497-8257-0a773adc8505
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -910,
          "y": 1155
        }
      }
  "105":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                accessor: type
                root: Mandiant.Indicator
          operator: isEqualString
          right:
            value:
              simple: md5
      label: "yes"
    continueonerrortype: ""
    id: "105"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "108"
      "yes":
      - "106"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 7bb67305-cc78-476e-8394-6757b3778b0e
      iscommand: false
      name: Are there Mandiant Hash?
      type: condition
      version: -1
    taskid: 7bb67305-cc78-476e-8394-6757b3778b0e
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": -650,
          "y": 1330
        }
      }
  "106":
    continueonerrortype: ""
    id: "106"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "108"
    note: false
    quietmode: 0
    scriptarguments:
      append:
        simple: "true"
      extend-context:
        simple: '"name":${Mandiant.Indicator.value}::"riskScore":${Mandiant.Indicator.mscore}'
      key:
        simple: MandiantRiskScore.Result
      value:
        complex:
          filters:
          - - left:
                iscontext: true
                value:
                  simple: Mandiant.Indicator.type
              operator: isEqualString
              right:
                value:
                  simple: md5
          root: Mandiant.Indicator
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Set a value in context under the key you entered.
      id: c31fb557-7f37-4d36-8a73-caf9c0ed5982
      iscommand: false
      name: Set Context for Hash
      script: Set
      type: regular
      version: -1
    taskid: c31fb557-7f37-4d36-8a73-caf9c0ed5982
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -910,
          "y": 1510
        }
      }
  "107":
    continueonerrortype: ""
    id: "107"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "110"
    note: false
    quietmode: 0
    scriptarguments:
      csvArray:
        simple: ${MandiantRiskScore.Result}
      fileName:
        simple: MandiantIOC_RiskScore.csv
      headers:
        simple: value,mscore
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Export given array to csv file
      id: b0d405e5-5fc1-4124-86b0-8bcbcb9d177a
      iscommand: false
      name: Create Mandiant Risk Score Report
      script: ExportToCSV
      type: regular
      version: -1
    taskid: b0d405e5-5fc1-4124-86b0-8bcbcb9d177a
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -660,
          "y": 1880
        }
      }
  "108":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: MandiantRiskScore.Result
          operator: isExists
      label: "yes"
    continueonerrortype: ""
    id: "108"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "3"
      "yes":
      - "107"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 87345071-7b6c-4987-813c-fabadb064a20
      iscommand: false
      name: Is Mandiant Context Set?
      type: condition
      version: -1
    taskid: 87345071-7b6c-4987-813c-fabadb064a20
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": -650,
          "y": 1680
        }
      }
  "109":
    continueonerrortype: ""
    id: "109"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "77"
    note: false
    quietmode: 0
    scriptarguments:
      append:
        simple: "true"
      key:
        simple: Report
      value:
        complex:
          accessor: EntryID
          filters:
          - - left:
                iscontext: true
                value:
                  simple: File.Name
              operator: isEqualString
              right:
                value:
                  simple: RFIOC_RiskScore.csv
          root: File
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Set a value in context under the key you entered.
      id: 9519e950-e49f-4af7-877d-f8907561d92e
      iscommand: false
      name: Set IOC Report To Context
      script: Set
      type: regular
      version: -1
    taskid: 9519e950-e49f-4af7-877d-f8907561d92e
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 60,
          "y": 1260
        }
      }
  "110":
    continueonerrortype: ""
    id: "110"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "3"
      - "111"
    note: false
    quietmode: 0
    scriptarguments:
      append:
        simple: "true"
      key:
        simple: Report
      value:
        complex:
          accessor: EntryID
          filters:
          - - left:
                iscontext: true
                value:
                  simple: File.Name
              operator: isEqualString
              right:
                value:
                  simple: MandiantIOC_RiskScore.csv
          root: File
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Set a value in context under the key you entered.
      id: 81268b9b-4c8f-486c-8189-03d7dc5687ff
      iscommand: false
      name: Set Mandiant IOC Report To Context
      script: Set
      type: regular
      version: -1
    taskid: 81268b9b-4c8f-486c-8189-03d7dc5687ff
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -660,
          "y": 2050
        }
      }
  "111":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                accessor: mscore
                root: MandiantRiskScore.Result
          operator: greaterThan
          right:
            value:
              simple: "64"
      label: "yes"
    continueonerrortype: ""
    id: "111"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "3"
      "yes":
      - "112"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 81f995f4-4e64-4532-8d48-5b3d9fdb68cc
      iscommand: false
      name: Are There Any IOC Above Risk Score 65 ?
      type: condition
      version: -1
    taskid: 81f995f4-4e64-4532-8d48-5b3d9fdb68cc
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": -660,
          "y": 2240
        }
      }
  "112":
    continueonerrortype: ""
    id: "112"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "113"
    note: false
    quietmode: 0
    scriptarguments:
      key:
        simple: MRiskScore65
      value:
        complex:
          filters:
          - - left:
                iscontext: true
                value:
                  simple: MandiantRiskScore.Result.mscore
              operator: greaterThan
              right:
                value:
                  simple: "64"
          root: MandiantRiskScore.Result
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Set a value in context under the key you entered.
      id: 95158109-6791-45cf-8501-5fdbc8df88c7
      iscommand: false
      name: Set IOC Greater Than 64 To Context
      script: Set
      type: regular
      version: -1
    taskid: 95158109-6791-45cf-8501-5fdbc8df88c7
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -660,
          "y": 2440
        }
      }
  "113":
    continueonerrortype: ""
    id: "113"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "114"
    note: false
    quietmode: 0
    scriptarguments:
      csvArray:
        simple: ${MRiskScore65}
      fileName:
        simple: Mandiant_Above_64_IOC_RiskScore.csv
      headers:
        simple: value,mscore
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Export given array to csv file
      id: 870d75c3-78bb-4e88-8499-edd0544b15b0
      iscommand: false
      name: Create Mandiant Risk Score Report Above 64
      script: ExportToCSV
      type: regular
      version: -1
    taskid: 870d75c3-78bb-4e88-8499-edd0544b15b0
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -660,
          "y": 2610
        }
      }
  "114":
    continueonerrortype: ""
    id: "114"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "3"
    note: false
    quietmode: 0
    scriptarguments:
      append:
        simple: "true"
      key:
        simple: Report
      value:
        simple: '${.=(val.File instanceof Array ? val.File[val.File.length-1].EntryID
          : val.File.EntryID)}'
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Set a value in context under the key you entered.
      id: ff201bad-ce92-40ef-88f5-24931ebb368e
      iscommand: false
      name: Set 64 Above Report To Context
      script: Set
      type: regular
      version: -1
    taskid: ff201bad-ce92-40ef-88f5-24931ebb368e
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -670,
          "y": 2790
        }
      }
  "115":
    continueonerrortype: ""
    id: "115"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    scriptarguments:
      append:
        simple: "true"
      key:
        simple: Report
      value:
        complex:
          accessor: EntryID
          filters:
          - - left:
                iscontext: true
                value:
                  simple: File.Name
              operator: isEqualString
              right:
                value:
                  simple: Mandiant_Above_64_IOC_RiskScore.csv
          root: File
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Set a value in context under the key you entered.
      id: fe7da9ab-5eeb-4d1d-8c5c-47ef3f832d60
      iscommand: false
      name: Set Mandiant Above 64 IOC Report To Context
      script: Set
      type: regular
      version: -1
    taskid: fe7da9ab-5eeb-4d1d-8c5c-47ef3f832d60
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -1120,
          "y": 2790
        }
      }
  "116":
    continueonerrortype: ""
    id: "116"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "117"
    note: false
    quietmode: 0
    scriptarguments:
      key:
        simple: hostname
      value:
        simple: GNRGPWIN10PAX64
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Set a value in context under the key you entered.
      id: 324a8c0c-5421-4d76-813e-3463c1912ee4
      iscommand: false
      name: Set Context
      script: Set
      type: regular
      version: -1
    taskid: 324a8c0c-5421-4d76-813e-3463c1912ee4
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 850,
          "y": -1570
        }
      }
  "117":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: hostname
          operator: inList
          right:
            iscontext: true
            value:
              simple: lists.Containment Exception List
      label: "yes"
    continueonerrortype: ""
    id: "117"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "119"
      "yes":
      - "118"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 79a0726b-e55d-4f62-8313-adcc8c73a77b
      iscommand: false
      name: Check if host in list?
      type: condition
      version: -1
    taskid: 79a0726b-e55d-4f62-8313-adcc8c73a77b
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 850,
          "y": -1410
        }
      }
  "118":
    continueonerrortype: ""
    id: "118"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    scriptarguments:
      value:
        simple: "yes"
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Prints text to war room (Markdown supported)
      id: 5ede247c-28e3-4efe-8a34-53431ecc44e8
      iscommand: false
      name: print yes
      script: Print
      type: regular
      version: -1
    taskid: 5ede247c-28e3-4efe-8a34-53431ecc44e8
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1310,
          "y": -1210
        }
      }
  "119":
    continueonerrortype: ""
    id: "119"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    scriptarguments:
      value:
        simple: "no"
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Prints text to war room (Markdown supported)
      id: 273e8ace-fdda-4d16-8189-ff94be195769
      iscommand: false
      name: print no
      script: Print
      type: regular
      version: -1
    taskid: 273e8ace-fdda-4d16-8189-ff94be195769
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 850,
          "y": -1210
        }
      }
version: -1
view: |-
  {
    "linkLabelsPosition": {
      "103_105_#default#": 0.52,
      "105_106_yes": 0.37,
      "108_107_yes": 0.54,
      "117_119_#default#": 0.63
    },
    "paper": {
      "dimensions": {
        "height": 4835,
        "width": 2810,
        "x": -1120,
        "y": -1570
      }
    }
  }
