playbook-TCS-Recorded_Future_IOC_Reputation_v3.0_KK.yml
contentitemexportablefields:
  contentitemfields:
    definitionid: ""
    fromServerVersion: 5.0.0
    itemVersion: 1.2.1
    packID: ""
    packName: ""
    prevname: ""
    propagationLabels:
    - all
    toServerVersion: ""
description: Entity Reputation using sub-playbooks
id: 03487cba-86c9-4b9b-8a78-3805d1df14e3
inputs:
- description: The IP addresses to enrich
  key: IP
  playbookInputQuery: null
  required: false
  value:
    complex:
      accessor: IP
      root: ExtractedIndicators
      transformers:
      - operator: uniq
- description: MD5 to enrich
  key: MD5
  playbookInputQuery: null
  required: false
  value:
    complex:
      accessor: MD5
      root: File
      transformers:
      - operator: uniq
- description: SHA256 to enrich
  key: SHA256
  playbookInputQuery: null
  required: false
  value:
    complex:
      accessor: SHA256
      root: File
      transformers:
      - operator: uniq
- description: SHA1 to enrich
  key: SHA1
  playbookInputQuery: null
  required: false
  value:
    complex:
      accessor: SHA1
      root: File
      transformers:
      - operator: uniq
- description: URL to enrich
  key: URL
  playbookInputQuery: null
  required: false
  value:
    complex:
      accessor: URL
      root: ExtractedIndicators
      transformers:
      - operator: uniq
- description: The domain name to enrich
  key: Domain
  playbookInputQuery: null
  required: false
  value:
    complex:
      accessor: Domain
      root: ExtractedIndicators
      transformers:
      - operator: uniq
- description: ""
  key: File
  playbookInputQuery: null
  required: false
  value:
    complex:
      accessor: File
      root: ExtractedIndicators
name: TCS-Recorded Future IOC Reputation v3.0_KK
outputs:
- contextPath: DBotScore.Indicator
  description: The indicator that was tested
  type: string
- contextPath: DBotScore.Type
  description: Indicator type
  type: string
- contextPath: DBotScore.Vendor
  description: Vendor used to calculate the score
  type: string
- contextPath: DBotScore.Score
  description: The actual score
  type: number
- contextPath: CVE.ID
  description: Vulnerability name
  type: string
- contextPath: Domain.Name
  description: Domain name
  type: string
- contextPath: Domain.Malicious.Vendor
  description: For malicious domains, the vendor that made the decision
  type: string
- contextPath: Domain.Malicious.Description
  description: For malicious domains, the reason that the vendor made the decision
  type: string
- contextPath: IP.Address
  description: IP address
  type: string
- contextPath: IP.Malicious.Vendor
  description: For malicious IP addresses, the vendor that made the decision
  type: string
- contextPath: IP.Malicious.Description
  description: For malicious IP addresses, the reason that the vendor made the decision
  type: string
- contextPath: URL.Data
  description: URL name
  type: string
- contextPath: URL.Malicious.Vendor
  description: For malicious URLs, the vendor that made the decision
  type: string
- contextPath: URL.Malicious.Description
  description: For malicious URLs, the reason that the vendor made the decision
  type: string
- contextPath: File.SHA256
  description: File SHA-256
  type: string
- contextPath: File.SHA512
  description: File SHA-512
  type: string
- contextPath: File.SHA1
  description: File SHA-1
  type: string
- contextPath: File.MD5
  description: File MD5
  type: string
- contextPath: File.CRC32
  description: File CRC32
  type: string
- contextPath: File.CTPH
  description: File CTPH
  type: string
- contextPath: File.Malicious.Vendor
  description: For malicious files, the vendor that made the decision
  type: string
- contextPath: File.Malicious.Description
  description: For malicious files, the reason that the vendor made the decision
  type: string
- contextPath: RecordedFuture.File.riskScore
  description: Recorded Future Hash Risk Score
  type: number
- contextPath: RecordedFuture.File.riskLevel
  description: Recorded Future Hash Risk Level
  type: string
- contextPath: RecordedFuture.File.Evidence.rule
  description: Recorded Future Risk Rule Name
  type: string
- contextPath: RecordedFuture.File.Evidence.mitigation
  description: Recorded Future Risk Rule Mitigation
  type: string
- contextPath: RecordedFuture.File.Evidence.description
  description: Recorded Future Risk Rule description
  type: string
- contextPath: RecordedFuture.File.Evidence.timestamp
  description: Recorded Future Risk Rule timestamp
  type: date
- contextPath: RecordedFuture.File.Evidence.level
  description: Recorded Future Risk Rule Level
  type: number
- contextPath: RecordedFuture.File.Evidence.ruleid
  description: Recorded Future Risk Rule ID
  type: string
- contextPath: RecordedFuture.File.name
  description: Hash
  type: string
- contextPath: RecordedFuture.File.maxRules
  description: Maximum count of Recorded Future Hash Risk Rules
  type: number
- contextPath: RecordedFuture.File.ruleCount
  description: Number of triggered Recorded Future Hash Risk Rules
  type: number
- contextPath: RecordedFuture.IP.riskScore
  description: Recorded Future IP Risk Score
  type: number
- contextPath: RecordedFuture.IP.riskLevel
  description: Recorded Future IP Risk Level
  type: string
- contextPath: RecordedFuture.IP.Evidence.rule
  description: Recorded Future Risk Rule Name
  type: string
- contextPath: RecordedFuture.IP.Evidence.mitigation
  description: Recorded Future Risk Rule Mitigation
  type: string
- contextPath: RecordedFuture.IP.Evidence.description
  description: Recorded Future Risk Rule Description
  type: string
- contextPath: RecordedFuture.IP.Evidence.timestamp
  description: Recorded Future Risk Rule Timestamp
  type: date
- contextPath: RecordedFuture.IP.Evidence.level
  description: Recorded Future Risk Rule Level
  type: number
- contextPath: RecordedFuture.IP.Evidence.ruleid
  description: Recorded Future Risk Rule ID
  type: string
- contextPath: RecordedFuture.IP.name
  description: IP Address
  type: string
- contextPath: RecordedFuture.IP.maxRules
  description: Maximum count of Recorded Future IP Risk Rules
  type: number
- contextPath: RecordedFuture.IP.ruleCount
  description: Number of triggered Recorded Future IP Risk Rules
  type: number
- contextPath: RecordedFuture.CVE.riskLevel
  description: Recorded Future Vulnerability Risk Level
  type: string
- contextPath: RecordedFuture.CVE.riskScore
  description: Risk Score
  type: number
- contextPath: RecordedFuture.CVE.Evidence.rule
  description: Recorded Future Risk Rule Name
  type: string
- contextPath: RecordedFuture.CVE.Evidence.mitigation
  description: Recorded Future Risk Rule Mitigation
  type: string
- contextPath: RecordedFuture.CVE.Evidence.description
  description: Recorded Future Risk Rule description
  type: string
- contextPath: RecordedFuture.CVE.Evidence.timestamp
  description: Recorded Future Risk Rule timestamp
  type: date
- contextPath: RecordedFuture.CVE.Evidence.level
  description: Recorded Future Risk Rule Level
  type: number
- contextPath: RecordedFuture.CVE.Evidence.ruleid
  description: Recorded Future Risk Rule ID
  type: string
- contextPath: RecordedFuture.CVE.name
  description: Vulnerability name
  type: string
- contextPath: RecordedFuture.CVE.maxRules
  description: Maximum count of Recorded Future Vulnerability Risk Rules
  type: number
- contextPath: RecordedFuture.CVE.ruleCount
  description: Number of triggered Recorded Future Vulnerability Risk Rules
  type: number
- contextPath: RecordedFuture.Domain.riskScore
  description: Recorded Future Domain Risk Score
  type: number
- contextPath: RecordedFuture.Domain.riskLevel
  description: Recorded Future Domain Risk Level
  type: string
- contextPath: RecordedFuture.Domain.Evidence.rule
  description: Recorded Future Risk Rule Name
  type: string
- contextPath: RecordedFuture.Domain.Evidence.mitigation
  description: Recorded Future Risk Rule Mitigation
  type: string
- contextPath: RecordedFuture.Domain.Evidence.description
  description: Recorded Future Risk Rule description
  type: string
- contextPath: RecordedFuture.Domain.Evidence.timestamp
  description: Recorded Future Risk Rule timestamp
  type: date
- contextPath: RecordedFuture.Domain.Evidence.level
  description: Recorded Future Risk Rule Level
  type: number
- contextPath: RecordedFuture.Domain.Evidence.ruleid
  description: Recorded Future Risk Rule ID
  type: string
- contextPath: RecordedFuture.Domain.name
  description: Domain name
  type: string
- contextPath: RecordedFuture.Domain.maxRules
  description: Maximum count of Recorded Future Domain Risk Rules
  type: number
- contextPath: RecordedFuture.Domain.ruleCount
  description: Number of triggered Recorded Future Domain Risk Rules
  type: number
- contextPath: RecordedFuture.URL.riskScore
  description: Recorded Future URL Risk Score
  type: number
- contextPath: RecordedFuture.URL.riskLevel
  description: Recorded Future URL Risk Level
  type: string
- contextPath: RecordedFuture.URL.Evidence.rule
  description: Recorded Future Risk Rule Name
  type: string
- contextPath: RecordedFuture.URL.Evidence.mitigation
  description: Recorded Future Risk Rule Mitigation
  type: string
- contextPath: RecordedFuture.URL.Evidence.description
  description: Recorded Future Risk Rule description
  type: string
- contextPath: RecordedFuture.URL.Evidence.timestamp
  description: Recorded Future Risk Rule timestamp
  type: date
- contextPath: RecordedFuture.URL.Evidence.level
  description: Recorded Future Risk Rule Level
  type: number
- contextPath: RecordedFuture.URL.Evidence.ruleid
  description: Recorded Future Risk Rule ID
  type: string
- contextPath: RecordedFuture.URL.name
  description: URL
  type: string
- contextPath: RecordedFuture.URL.maxRules
  description: Maximum count of Recorded Future URL Risk Rules
  type: number
- contextPath: RecordedFuture.URL.ruleCount
  description: Number of triggered Recorded Future URL Risk Rules
  type: number
sourceplaybookid: Recorded Future IOC Reputation
starttaskid: "0"
tasks:
  "0":
    continueonerrortype: ""
    id: "0"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "31"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: de8da7ad-2b9b-4574-8fbe-1b897c628ae1
      iscommand: false
      name: ""
      version: -1
    taskid: de8da7ad-2b9b-4574-8fbe-1b897c628ae1
    timertriggers: []
    type: start
    view: |-
      {
        "position": {
          "x": 280,
          "y": -490
        }
      }
  "15":
    continueonerrortype: ""
    id: "15"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "29"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 2f646157-912e-4121-837d-d8f1c07a2fc7
      iscommand: false
      name: Done
      type: title
      version: -1
    taskid: 2f646157-912e-4121-837d-d8f1c07a2fc7
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 280,
          "y": 530
        }
      }
  "21":
    continueonerrortype: ""
    id: "21"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 100
      wait: 1
    nexttasks:
      '#none#':
      - "15"
    note: false
    quietmode: 0
    scriptarguments:
      CVE:
        complex:
          root: inputs.CVE
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      description: CVE reputation with Recorded Future SOAR enrichment
      id: 71dc164f-904e-4ad5-87fe-5cb02506c11f
      iscommand: false
      name: Get CVE Reputation
      playbookId: 1b566a57-df63-415d-836f-e38ac93cb308
      type: playbook
      version: -1
    taskid: 71dc164f-904e-4ad5-87fe-5cb02506c11f
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 280,
          "y": 260
        }
      }
  "22":
    continueonerrortype: ""
    id: "22"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 100
      wait: 1
    nexttasks:
      '#none#':
      - "15"
    note: false
    quietmode: 0
    scriptarguments:
      Domain:
        complex:
          root: inputs.Domain
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      description: Domain reputation using Recorded Future SOAR enrichment
      id: 06e73045-723c-4b63-83fa-65942de1ba11
      iscommand: false
      name: Get Domain Reputation
      playbookId: 112f0c2f-b261-4e28-8c81-7fdf574a2847
      type: playbook
      version: -1
    taskid: 06e73045-723c-4b63-83fa-65942de1ba11
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": -130,
          "y": 260
        }
      }
  "23":
    continueonerrortype: ""
    id: "23"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 100
      wait: 1
    nexttasks:
      '#none#':
      - "15"
    note: false
    quietmode: 0
    scriptarguments:
      File:
        complex:
          root: inputs.File
      MD5:
        complex:
          root: inputs.MD5
      SHA1:
        complex:
          root: inputs.SHA1
      SHA256:
        complex:
          root: inputs.SHA256
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      description: File reputation using Recorded Future SOAR enrichment
      id: 5ff09b64-4c6e-47cc-8e7a-283b1250da73
      iscommand: false
      name: Get Hash Reputation
      playbookId: 070ff543-bedb-44c6-82c9-bd1b6506cc7d
      type: playbook
      version: -1
    taskid: 5ff09b64-4c6e-47cc-8e7a-283b1250da73
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 1100,
          "y": 260
        }
      }
  "25":
    continueonerrortype: ""
    id: "25"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 100
      wait: 1
    nexttasks:
      '#none#':
      - "15"
    note: false
    quietmode: 0
    scriptarguments:
      IP:
        complex:
          root: inputs.IP
          transformers:
          - operator: uniq
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: IP address reputation using Recorded Future SOAR enrichment
      id: 1ec9c23e-9678-4078-8d0f-6d7547f3ccf3
      iscommand: false
      name: Get IP Reputation
      playbookId: cd7b671b-ee9e-4193-8607-8e055964b93c
      type: playbook
      version: -1
    taskid: 1ec9c23e-9678-4078-8d0f-6d7547f3ccf3
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": -540,
          "y": 260
        }
      }
  "27":
    continueonerrortype: ""
    id: "27"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 100
      wait: 1
    nexttasks:
      '#none#':
      - "15"
    note: false
    quietmode: 0
    scriptarguments:
      URL:
        complex:
          root: inputs.URL
          transformers:
          - operator: uniq
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      description: URL reputation using Recorded Future SOAR enrichment
      id: 1639280f-7444-4d7f-841d-aadd774b70ad
      iscommand: false
      name: Get URL Reputation
      playbookId: ca20ff9f-5c28-487f-8456-cc0f243192e2
      type: playbook
      version: -1
    taskid: 1639280f-7444-4d7f-841d-aadd774b70ad
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 690,
          "y": 260
        }
      }
  "28":
    continueonerrortype: ""
    id: "28"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "21"
      - "27"
      - "23"
      - "22"
      - "25"
    note: false
    quietmode: 0
    scriptarguments:
      l:
        simple: '<h2 style="text-align: center;"><em><span style="color: #008000;">IOC
          Enrichment In Progress</span><br /></em></h2>'
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: commands.local.cmd.set.incident
      id: 0384fe8f-da42-40f3-8292-17524ee42d40
      iscommand: true
      name: Set Notification - IOC Enrichment In Progress
      script: Builtin|||setIncident
      type: regular
      version: -1
    taskid: 0384fe8f-da42-40f3-8292-17524ee42d40
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 280,
          "y": 70
        }
      }
  "29":
    continueonerrortype: ""
    id: "29"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "30"
    note: false
    quietmode: 0
    scriptarguments:
      l:
        simple: '<h2 style="text-align: center;"><em><span style="color: #008000;">IOC
          Enrichment Process Completed</span><br /></em></h2>'
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: commands.local.cmd.set.incident
      id: 3a067a1b-cd1b-4348-894b-62403b13f039
      iscommand: true
      name: Set Notification - IOC Enrichment Complete
      script: Builtin|||setIncident
      type: regular
      version: -1
    taskid: 3a067a1b-cd1b-4348-894b-62403b13f039
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 280,
          "y": 660
        }
      }
  "30":
    continueonerrortype: ""
    id: "30"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: f7d0d1de-9065-4ab6-869e-733db6227a20
      iscommand: false
      name: The End
      type: title
      version: -1
    taskid: f7d0d1de-9065-4ab6-869e-733db6227a20
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 280,
          "y": 820
        }
      }
  "31":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                root: RecordedFuture
          operator: isExists
      label: "yes"
    continueonerrortype: ""
    id: "31"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "28"
      "yes":
      - "32"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 701f2f0b-9ac0-45c3-87ae-f63b9df19682
      iscommand: false
      name: Is "RecordedFuture" Context Set?
      type: condition
      version: -1
    taskid: 701f2f0b-9ac0-45c3-87ae-f63b9df19682
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 280,
          "y": -330
        }
      }
  "32":
    continueonerrortype: ""
    id: "32"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "28"
    note: false
    quietmode: 0
    scriptarguments:
      key:
        simple: RecordedFuture
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: |-
        Delete field from context.

        This automation runs using the default Limited User role, unless you explicitly change the permissions.
        For more information, see the section about permissions here:
        https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/6.10/Cortex-XSOAR-Administrator-Guide/Automations
      id: 412dee54-6cf0-4ace-86d8-ea3a598977df
      iscommand: false
      name: Delete Context 'RecordedFuture'
      script: DeleteContext
      type: regular
      version: -1
    taskid: 412dee54-6cf0-4ace-86d8-ea3a598977df
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 280,
          "y": -130
        }
      }
version: -1
view: |-
  {
    "linkLabelsPosition": {
      "31_32_yes": 0.54
    },
    "paper": {
      "dimensions": {
        "height": 1375,
        "width": 2020,
        "x": -540,
        "y": -490
      }
    }
  }
