playbook-TCS-Revoke_Temp_Admin_Access_v1.0_KK.yml
contentitemexportablefields:
  contentitemfields:
    definitionid: ""
    fromServerVersion: ""
    itemVersion: ""
    packID: ""
    packName: ""
    prevname: ""
    propagationLabels:
    - all
    toServerVersion: ""
id: 3cf11a57-f937-497b-8075-22979ae437eb
inputs: []
name: TCS-Revoke Temp Admin Access v1.0_KK
outputs: []
starttaskid: "0"
tasks:
  "0":
    continueonerrortype: ""
    id: "0"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "5"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: ab541e11-b6f9-4fbd-827a-33c573f17ee4
      iscommand: false
      name: ""
      version: -1
    taskid: ab541e11-b6f9-4fbd-827a-33c573f17ee4
    timertriggers: []
    type: start
    view: |-
      {
        "position": {
          "x": 660,
          "y": -165
        }
      }
  "3":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                accessor: emp
                root: indicator
          operator: isNotEmpty
          right:
            value: {}
      label: "yes"
    continueonerrortype: ""
    id: "3"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "8"
      "yes":
      - "12"
      - "13"
      - "17"
      - "19"
      - "21"
      - "23"
      - "25"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: cc59f8d4-c3b7-4ab3-87bf-e78df8d202a7
      iscommand: false
      name: Is There An Access To Revoke ?
      type: condition
      version: -1
    taskid: cc59f8d4-c3b7-4ab3-87bf-e78df8d202a7
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 660,
          "y": 190
        }
      }
  "5":
    continueonerrortype: ""
    id: "5"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "3"
    note: false
    quietmode: 0
    scriptarguments:
      execution-timeout:
        simple: "43200"
      extend-context:
        simple: indicator.emp.id=value::indicator.emp.Region=CustomFields.tags
      ignore-outputs:
        simple: "false"
      query:
        simple: type:"TCS Employee Id" and expirationStatus:expired
      retry-count:
        simple: "3"
      size:
        simple: "100000"
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: commands.local.cmd.find.indicators
      id: ba33dafb-7d1c-4413-81f1-2f9a592a393a
      iscommand: true
      name: Fetch Temp Admin Rights That Have Expired
      script: Builtin|||findIndicators
      type: regular
      version: -1
    taskid: ba33dafb-7d1c-4413-81f1-2f9a592a393a
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 660,
          "y": -15
        }
      }
  "8":
    continueonerrortype: ""
    id: "8"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "9"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: commands.local.cmd.close.inv
      id: 013bf25c-9b23-4c8b-8fd5-16562dab7a95
      iscommand: true
      name: Close Automation Service
      script: Builtin|||closeInvestigation
      type: regular
      version: -1
    taskid: 013bf25c-9b23-4c8b-8fd5-16562dab7a95
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 660,
          "y": 1640
        }
      }
  "9":
    continueonerrortype: ""
    id: "9"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: ab7e7ae7-1e65-4cb6-825d-7458bbdfe428
      iscommand: false
      name: The End
      type: title
      version: -1
    taskid: ab7e7ae7-1e65-4cb6-825d-7458bbdfe428
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 660,
          "y": 1830
        }
      }
  "11":
    continueonerrortype: ""
    id: "11"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "8"
    note: false
    quietmode: 0
    scriptarguments:
      doNotWhitelist:
        simple: "true"
      query:
        simple: type:"TCS Employee Id" and expirationStatus:expired
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: commands.local.cmd.delete.indicators
      id: 62dd2ec1-ac1c-4bb6-8a66-702c0b129be2
      iscommand: true
      name: Delete Employee From Indicator database
      script: Builtin|||deleteIndicators
      type: regular
      version: -1
    taskid: 62dd2ec1-ac1c-4bb6-8a66-702c0b129be2
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 660,
          "y": 1450
        }
      }
  "12":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                accessor: Region
                root: indicator.emp
          operator: isEqualString
          right:
            value:
              simple: TempAdminRightsIndia
      label: "yes"
    continueonerrortype: ""
    id: "12"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "8"
      "yes":
      - "28"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Check whether the values provided in arguments are equal. If either
        of the arguments are missing, no is returned.
      id: 8610d157-0609-4b57-893e-469148b885a6
      iscommand: false
      name: Is there a INDIA Domain employee ?
      type: condition
      version: -1
    taskid: 8610d157-0609-4b57-893e-469148b885a6
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": -20,
          "y": 590
        }
      }
  "13":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                accessor: Region
                root: indicator.emp
          operator: isEqualString
          right:
            value:
              simple: TempAdminRightsNOAM
      label: "yes"
    continueonerrortype: ""
    id: "13"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "8"
      "yes":
      - "29"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: f3436df8-25a1-4615-8c27-1ee6e40d594d
      iscommand: false
      name: Is there a NOAM Domain employee ?
      type: condition
      version: -1
    taskid: f3436df8-25a1-4615-8c27-1ee6e40d594d
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 440,
          "y": 590
        }
      }
  "15":
    continueonerrortype: ""
    id: "15"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "35"
    note: false
    quietmode: 0
    scriptarguments:
      group-cn:
        simple: Domain Admins
      username:
        complex:
          accessor: id
          root: NOAM
      using:
        simple: Active Directory Query v2_NOAMVSDC10,Active Directory Query v2_NOAMVSDC9
    separatecontext: false
    skipunavailable: false
    task:
      brand: Active Directory Query v2
      description: Removes an Active Directory user or computer from a group.
      id: 2e15d080-97af-4281-8bc2-a8f7268fc3de
      iscommand: true
      name: 'Remove User from NOAM Grp '
      script: Active Directory Query v2|||ad-remove-from-group
      type: regular
      version: -1
    taskid: 2e15d080-97af-4281-8bc2-a8f7268fc3de
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 440,
          "y": 970
        }
      }
  "16":
    continueonerrortype: ""
    id: "16"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "35"
    note: false
    quietmode: 0
    scriptarguments:
      group-cn:
        simple: Domain Admins
      username:
        complex:
          accessor: id
          root: India
      using:
        simple: Active Directory Query v2_INMUMTDCDC20,Active Directory Query v2_INMUMTDCDC13
    separatecontext: false
    skipunavailable: false
    task:
      brand: Active Directory Query v2
      description: Removes an Active Directory user or computer from a group.
      id: 4d0e91c6-e2ca-4228-8aee-76dc6ee16214
      iscommand: true
      name: 'Remove User from India Grp '
      script: Active Directory Query v2|||ad-remove-from-group
      type: regular
      version: -1
    taskid: 4d0e91c6-e2ca-4228-8aee-76dc6ee16214
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -20,
          "y": 960
        }
      }
  "17":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                accessor: Region
                root: indicator.emp
          operator: isEqualString
          right:
            value:
              simple: TempAdminRightsSOAM
      label: "yes"
    continueonerrortype: ""
    id: "17"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "8"
      "yes":
      - "30"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 07a3731b-2e26-45fa-8e38-b39fa3f21c9b
      iscommand: false
      name: Is there a SOAM Domain employee ?
      type: condition
      version: -1
    taskid: 07a3731b-2e26-45fa-8e38-b39fa3f21c9b
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 900,
          "y": 590
        }
      }
  "18":
    continueonerrortype: ""
    id: "18"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "35"
    note: false
    quietmode: 0
    scriptarguments:
      group-cn:
        simple: Domain Admins
      username:
        complex:
          accessor: id
          root: SOAM
      using:
        simple: Active Directory Query v2_SOAMVSDC14,Active Directory Query v2_SOAMVSDC13
    separatecontext: false
    skipunavailable: false
    task:
      brand: Active Directory Query v2
      description: Removes an Active Directory user or computer from a group.
      id: 526b62d2-741f-47d2-8631-192ef6430c6b
      iscommand: true
      name: Remove User from SOAM
      script: Active Directory Query v2|||ad-remove-from-group
      type: regular
      version: -1
    taskid: 526b62d2-741f-47d2-8631-192ef6430c6b
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 900,
          "y": 970
        }
      }
  "19":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                accessor: Region
                root: indicator.emp
          operator: isEqualString
          right:
            value:
              simple: TempAdminRightsAPAC
      label: "yes"
    continueonerrortype: ""
    id: "19"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "8"
      "yes":
      - "20"
      - "31"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 1dff076e-a022-4a3b-8020-d94a4ac3bf4e
      iscommand: false
      name: Is there a APAC Domain employee ?
      type: condition
      version: -1
    taskid: 1dff076e-a022-4a3b-8020-d94a4ac3bf4e
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 1340,
          "y": 590
        }
      }
  "20":
    continueonerrortype: ""
    id: "20"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "35"
    note: false
    quietmode: 0
    scriptarguments:
      group-cn:
        simple: Domain Admins
      username:
        complex:
          accessor: id
          root: APAC
      using:
        simple: Active Directory Query v2_APACVSDC4,Active Directory Query v2_APACVSDC5
    separatecontext: false
    skipunavailable: false
    task:
      brand: Active Directory Query v2
      description: Removes an Active Directory user or computer from a group.
      id: e68ef81c-0b4d-4aba-8feb-ceb3b3b5154c
      iscommand: true
      name: 'Remove User from APAC Grp '
      script: Active Directory Query v2|||ad-remove-from-group
      type: regular
      version: -1
    taskid: e68ef81c-0b4d-4aba-8feb-ceb3b3b5154c
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1340,
          "y": 970
        }
      }
  "21":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                accessor: Region
                root: indicator.emp
          operator: isEqualString
          right:
            value:
              simple: TempAdminRightsEMEA
      label: "yes"
    continueonerrortype: ""
    id: "21"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "8"
      "yes":
      - "22"
      - "32"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 52afe100-1fd7-4ad5-81f2-f25c04a80583
      iscommand: false
      name: Is there a EMEA Domain employee ?
      type: condition
      version: -1
    taskid: 52afe100-1fd7-4ad5-81f2-f25c04a80583
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 1800,
          "y": 590
        }
      }
  "22":
    continueonerrortype: ""
    id: "22"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "35"
    note: false
    quietmode: 0
    scriptarguments:
      group-cn:
        simple: Domain Admins
      username:
        complex:
          accessor: id
          root: EMEA
      using:
        simple: Active Directory Query v2_EMEAVSDC10,Active Directory Query v2_EMEAVSDC11
    separatecontext: false
    skipunavailable: false
    task:
      brand: Active Directory Query v2
      description: Removes an Active Directory user or computer from a group.
      id: 86d5d4db-5e81-413f-80de-d9fde0fd0041
      iscommand: true
      name: 'Remove User from EMEA Grp '
      script: Active Directory Query v2|||ad-remove-from-group
      type: regular
      version: -1
    taskid: 86d5d4db-5e81-413f-80de-d9fde0fd0041
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1800,
          "y": 970
        }
      }
  "23":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                accessor: Region
                root: indicator.emp
          operator: isEqualString
          right:
            value:
              simple: TempAdminRightsGlobe
      label: "yes"
    continueonerrortype: ""
    id: "23"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "8"
      "yes":
      - "24"
      - "33"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: ae8d6328-5af2-4ca5-802c-00266b2f30bb
      iscommand: false
      name: Is there a Globe Domain employee ?
      type: condition
      version: -1
    taskid: ae8d6328-5af2-4ca5-802c-00266b2f30bb
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 2250,
          "y": 590
        }
      }
  "24":
    continueonerrortype: ""
    id: "24"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "35"
    note: false
    quietmode: 0
    scriptarguments:
      group-cn:
        simple: Domain Admins
      username:
        complex:
          accessor: id
          root: Globe
      using:
        simple: Active Directory Query v2_MUMTDCDC10,Active Directory Query v2_MUMTDCDC11
    separatecontext: false
    skipunavailable: false
    task:
      brand: Active Directory Query v2
      description: Removes an Active Directory user or computer from a group.
      id: a67d6e5f-e7f8-4a95-8a2c-2c77348b58eb
      iscommand: true
      name: 'Remove User from Globe Grp '
      script: Active Directory Query v2|||ad-remove-from-group
      type: regular
      version: -1
    taskid: a67d6e5f-e7f8-4a95-8a2c-2c77348b58eb
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 2250,
          "y": 980
        }
      }
  "25":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                accessor: Region
                root: indicator.emp
          operator: isEqualString
          right:
            value:
              simple: TempAdminRightsTCS
      label: "yes"
    continueonerrortype: ""
    id: "25"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "8"
      "yes":
      - "26"
      - "34"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: c5e322dd-f9a6-46c8-88cb-a26f4e59669c
      iscommand: false
      name: Is there a TCS Domain employee ?
      type: condition
      version: -1
    taskid: c5e322dd-f9a6-46c8-88cb-a26f4e59669c
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 2710,
          "y": 580
        }
      }
  "26":
    continueonerrortype: ""
    id: "26"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "35"
    note: false
    quietmode: 0
    scriptarguments:
      group-cn:
        simple: Domain Admins
      username:
        complex:
          accessor: id
          root: TCS
      using:
        simple: Active Directory Query v2_ROOTDC17,Active Directory Query v2_ROOTDC19
    separatecontext: false
    skipunavailable: false
    task:
      brand: Active Directory Query v2
      description: Removes an Active Directory user or computer from a group.
      id: 3712c849-9b39-4c17-8f70-309cd93c3509
      iscommand: true
      name: 'Remove User from TCS Grp '
      script: Active Directory Query v2|||ad-remove-from-group
      type: regular
      version: -1
    taskid: 3712c849-9b39-4c17-8f70-309cd93c3509
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 2720,
          "y": 970
        }
      }
  "28":
    continueonerrortype: ""
    id: "28"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "16"
    note: false
    quietmode: 0
    scriptarguments:
      extend-context:
        simple: India.id=value
      query:
        simple: tags:"TempAdminRightsIndia" and expirationStatus:expired
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: commands.local.cmd.find.indicators
      id: d6bc79e4-7831-4f02-8d6e-5d35f08d101b
      iscommand: true
      name: find Temp India Admin Rights That Have Expired
      script: Builtin|||findIndicators
      type: regular
      version: -1
    taskid: d6bc79e4-7831-4f02-8d6e-5d35f08d101b
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -20,
          "y": 790
        }
      }
  "29":
    continueonerrortype: ""
    id: "29"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "15"
    note: false
    quietmode: 0
    scriptarguments:
      extend-context:
        simple: NOAM.id=value
      query:
        simple: tags:"TempAdminRightsNOAM" and expirationStatus:expired
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: commands.local.cmd.find.indicators
      id: c1915d43-c619-4e75-83ff-1d79e853d42f
      iscommand: true
      name: Find Temp NOAM Admin Rights That Have Expired
      script: Builtin|||findIndicators
      type: regular
      version: -1
    taskid: c1915d43-c619-4e75-83ff-1d79e853d42f
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 440,
          "y": 790
        }
      }
  "30":
    continueonerrortype: ""
    id: "30"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "18"
    note: false
    quietmode: 0
    scriptarguments:
      extend-context:
        simple: SOAM.id=value
      query:
        simple: tags:"TempAdminRightsSOAM" and expirationStatus:expired
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: commands.local.cmd.find.indicators
      id: c06ef1e9-7889-4290-8447-c3ca5c502b2d
      iscommand: true
      name: Find Temp SOAM Admin Rights That Have Expired
      script: Builtin|||findIndicators
      type: regular
      version: -1
    taskid: c06ef1e9-7889-4290-8447-c3ca5c502b2d
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 900,
          "y": 790
        }
      }
  "31":
    continueonerrortype: ""
    id: "31"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "20"
    note: false
    quietmode: 0
    scriptarguments:
      extend-context:
        simple: APAC.id=value
      query:
        simple: tags:"TempAdminRightsAPAC" and expirationStatus:expired
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: commands.local.cmd.find.indicators
      id: a4a9b767-52dc-418d-8392-0dc13ef27002
      iscommand: true
      name: Find Temp APAC Admin Rights That Have Expired
      script: Builtin|||findIndicators
      type: regular
      version: -1
    taskid: a4a9b767-52dc-418d-8392-0dc13ef27002
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1340,
          "y": 790
        }
      }
  "32":
    continueonerrortype: ""
    id: "32"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "22"
    note: false
    quietmode: 0
    scriptarguments:
      extend-context:
        simple: EMEA.id=value
      query:
        simple: tags:"TempAdminRightsEMEA" and expirationStatus:expired
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: commands.local.cmd.find.indicators
      id: 75238aa8-1261-4976-8f92-5397383aa582
      iscommand: true
      name: Find Temp EMEA Admin Rights That Have Expired
      script: Builtin|||findIndicators
      type: regular
      version: -1
    taskid: 75238aa8-1261-4976-8f92-5397383aa582
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1800,
          "y": 790
        }
      }
  "33":
    continueonerrortype: ""
    id: "33"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "24"
    note: false
    quietmode: 0
    scriptarguments:
      extend-context:
        simple: Globe.id=value
      query:
        simple: tags:"TempAdminRightsGlobe" and expirationStatus:expired
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: commands.local.cmd.find.indicators
      id: 34d27f95-e45c-4dd9-8ff6-0d7709b24f24
      iscommand: true
      name: Find Temp Globe Admin Rights That Have Expired
      script: Builtin|||findIndicators
      type: regular
      version: -1
    taskid: 34d27f95-e45c-4dd9-8ff6-0d7709b24f24
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 2250,
          "y": 790
        }
      }
  "34":
    continueonerrortype: ""
    id: "34"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "26"
    note: false
    quietmode: 0
    scriptarguments:
      extend-context:
        simple: TCS.id=value
      query:
        simple: tags:"TempAdminRightsTCS" and expirationStatus:expired
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: commands.local.cmd.find.indicators
      id: 6a0f9fea-b9d5-458f-84e7-d92b02d6a5c1
      iscommand: true
      name: Find Temp TCS Admin Rights That Have Expired
      script: Builtin|||findIndicators
      type: regular
      version: -1
    taskid: 6a0f9fea-b9d5-458f-84e7-d92b02d6a5c1
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 2720,
          "y": 770
        }
      }
  "35":
    continueonerrortype: ""
    id: "35"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "11"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: commands.local.cmd.delete.indicators
      id: bac3b6e0-51a2-4824-873b-9064718f87a4
      iscommand: false
      name: Delete Employee Indicator database
      type: title
      version: -1
    taskid: bac3b6e0-51a2-4824-873b-9064718f87a4
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 660,
          "y": 1270
        }
      }
version: -1
view: |-
  {
    "linkLabelsPosition": {},
    "paper": {
      "dimensions": {
        "height": 2060,
        "width": 3120,
        "x": -20,
        "y": -165
      }
    }
  }
