playbook-TIM_-_QRadar_Add_Url_Indicators_DEMO.yml
contentitemexportablefields:
  contentitemfields:
    definitionid: ""
    fromServerVersion: 5.5.0
    itemVersion: 2.0.15
    packID: ""
    packName: ""
    prevname: ""
    propagationLabels:
    - all
    toServerVersion: ""
description: This playbook queries indicators based on a pre-defined query or results
  from a parent playbook, and adds the resulting indicators to a QRadar Reference
  Set. The Reference Set name must be defined in the playbook inputs.
id: 7d95df2b-cfe8-46d5-87a7-c254072ccdc8
inputs:
- description: The name of the QRadar black list Url reference set to insert the data
    in to.
  key: QRadarBlackListUrlReferenceSetName
  playbookInputQuery: null
  required: false
  value: {}
- description: ""
  key: ""
  playbookInputQuery:
    daterange:
      fromdate: "0001-01-01T00:00:00Z"
      fromdatelicenseval: "0001-01-01T00:00:00Z"
      period:
        by: ""
        byfrom: ""
        byto: ""
        field: ""
        fromvalue: null
        tovalue: null
      todate: "0001-01-01T00:00:00Z"
    query: ""
    queryEntity: indicators
    results: null
    runFromLastJobTime: false
  required: false
  value: {}
- description: The name of the QRadar white list Url reference set to insert the data
    in to.
  key: QRadarWhiteListUrlReferenceSetName
  playbookInputQuery: null
  required: false
  value: {}
- description: The name of the QRadar watch list Url reference set to insert the data
    in to.
  key: QRadarWatchListUrlReferenceSetName
  playbookInputQuery: null
  required: false
  value: {}
name: TIM - QRadar Add Url Indicators_DEMO
outputs: []
quiet: true
sourceplaybookid: TIM - QRadar Add Url Indicators
starttaskid: "0"
tasks:
  "0":
    continueonerrortype: ""
    id: "0"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "18"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 5ce24e49-cf52-46d0-8c38-6e5fb1bb08b8
      iscommand: false
      name: ""
      version: -1
    taskid: 5ce24e49-cf52-46d0-8c38-6e5fb1bb08b8
    timertriggers: []
    type: start
    view: |-
      {
        "position": {
          "x": 340,
          "y": -70
        }
      }
  "9":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                filters:
                - - left:
                      iscontext: true
                      value:
                        simple: modules.brand
                    operator: inList
                    right:
                      value:
                        simple: QRadar,QRadar_v2,QRadar v3
                - - left:
                      iscontext: true
                      value:
                        simple: modules.state
                    operator: isEqualString
                    right:
                      value:
                        simple: active
                root: modules
          operator: isExists
      label: "yes"
    continueonerrortype: ""
    id: "9"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "34"
      "yes":
      - "31"
      - "32"
      - "37"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 9fbb1aa4-5075-46ce-8c97-4e816ecbc573
      iscommand: false
      name: Is QRadarEnabled?
      type: condition
      version: -1
    taskid: 9fbb1aa4-5075-46ce-8c97-4e816ecbc573
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 560,
          "y": 270
        }
      }
  "18":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: playbookQuery.indicator_type
          operator: isEqualString
          right:
            value:
              simple: URL
      label: "yes"
    continueonerrortype: ""
    id: "18"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "34"
      "yes":
      - "9"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: d4c8b27f-ebca-48ee-854d-788bf9c6388e
      iscommand: false
      name: Are there filtered results?
      type: condition
      version: -1
    taskid: d4c8b27f-ebca-48ee-854d-788bf9c6388e
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 340,
          "y": 70
        }
      }
  "26":
    continueonerrortype: ""
    id: "26"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "35"
    note: false
    quietmode: 0
    scriptarguments:
      ref_name:
        simple: ${inputs.QRadarBlackListUrlReferenceSetName}
      value:
        complex:
          accessor: value
          filters:
          - - left:
                iscontext: true
                value:
                  simple: playbookQuery.CustomFields.tags
              operator: isEqualString
              right:
                value:
                  simple: approved_black
          - - left:
                iscontext: true
                value:
                  simple: playbookQuery.indicator_type
              operator: isEqualString
              right:
                value:
                  simple: URL
          root: playbookQuery
          transformers:
          - operator: uniq
      values:
        complex:
          root: playbookQuery
          transformers:
          - operator: uniq
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Add or update a value in a reference set.
      id: 777fd50d-925c-432f-813b-cd77aa27d5f0
      iscommand: true
      name: Add urls to QRadar black list Url reference set
      script: '|||qradar-update-reference-set-value'
      type: regular
      version: -1
    taskid: 777fd50d-925c-432f-813b-cd77aa27d5f0
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 780,
          "y": 1250
        }
      }
  "31":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: inputs.QRadarBlackListUrlReferenceSetName
          operator: isNotEmpty
      - - left:
            iscontext: true
            value:
              complex:
                accessor: value
                filters:
                - - left:
                      iscontext: true
                      value:
                        simple: playbookQuery.CustomFields.tags
                    operator: isEqualString
                    right:
                      value:
                        simple: approved_black
                - - left:
                      iscontext: true
                      value:
                        simple: playbookQuery.indicator_type
                    operator: isEqualString
                    right:
                      value:
                        simple: URL
                root: playbookQuery
          operator: isNotEmpty
      label: "yes"
    continueonerrortype: ""
    id: "31"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "34"
      "yes":
      - "42"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 0777ff2f-32e7-4dc5-856e-6ff0230849f7
      iscommand: false
      name: Is there a Qradar black list Url Reference Set and values?
      type: condition
      version: -1
    taskid: 0777ff2f-32e7-4dc5-856e-6ff0230849f7
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 780,
          "y": 450
        }
      }
  "32":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: inputs.QRadarWhiteistUrlReferenceSetName
          operator: isNotEmpty
      - - left:
            iscontext: true
            value:
              complex:
                accessor: value
                filters:
                - - left:
                      iscontext: true
                      value:
                        simple: playbookQuery.CustomFields.tags
                    operator: isEqualString
                    right:
                      value:
                        simple: approved_white
                - - left:
                      iscontext: true
                      value:
                        simple: playbookQuery.indicator_type
                    operator: isEqualString
                    right:
                      value:
                        simple: URL
                root: playbookQuery
          operator: isNotEmpty
      label: "yes"
    continueonerrortype: ""
    id: "32"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "34"
      "yes":
      - "41"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: ffd49a90-f646-4110-82b7-7a14c174f9dc
      iscommand: false
      name: Is there a Qradar white list Url Reference Set and values?
      type: condition
      version: -1
    taskid: ffd49a90-f646-4110-82b7-7a14c174f9dc
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 2040,
          "y": 450
        }
      }
  "33":
    continueonerrortype: ""
    id: "33"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "36"
    note: false
    quietmode: 0
    scriptarguments:
      ref_name:
        simple: ${inputs.QRadarWhiteListUrlReferenceSetName}
      value:
        complex:
          accessor: value
          filters:
          - - left:
                iscontext: true
                value:
                  simple: playbookQuery.CustomFields.tags
              operator: isEqualString
              right:
                value:
                  simple: approved_white
          - - left:
                iscontext: true
                value:
                  simple: playbookQuery.indicator_type
              operator: isEqualString
              right:
                value:
                  simple: URL
          root: playbookQuery
          transformers:
          - operator: uniq
      values:
        complex:
          root: inputs.playbookQuery
          transformers:
          - operator: uniq
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Add or update a value in a reference set.
      id: 8b03ace7-4032-4082-84e9-cfcc222ee670
      iscommand: true
      name: Add urls to QRadar white list url reference set
      script: '|||qradar-update-reference-set-value'
      type: regular
      version: -1
    taskid: 8b03ace7-4032-4082-84e9-cfcc222ee670
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 2040,
          "y": 1240
        }
      }
  "34":
    continueonerrortype: ""
    id: "34"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: b771e774-d2cf-450a-8cd6-9bba24002ed9
      iscommand: false
      name: Done
      type: title
      version: -1
    taskid: b771e774-d2cf-450a-8cd6-9bba24002ed9
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 340,
          "y": 1570
        }
      }
  "35":
    continueonerrortype: ""
    id: "35"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "34"
    note: false
    quietmode: 0
    scriptarguments:
      field:
        simple: tags
      fieldValue:
        simple: SIEM
      indicatorsValues:
        complex:
          accessor: value
          filters:
          - - left:
                iscontext: true
                value:
                  simple: playbookQuery.CustomFields.tags
              operator: isEqualString
              right:
                value:
                  simple: approved_black
          - - left:
                iscontext: true
                value:
                  simple: playbookQuery.indicator_type
              operator: isEqualString
              right:
                value:
                  simple: URL
          root: playbookQuery
          transformers:
          - operator: uniq
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: Adds the SIEM tag to the indicators.
      id: cc57cd29-8744-4280-8fef-0e29c0380e32
      iscommand: true
      name: Add SIEM tag
      script: Builtin|||appendIndicatorField
      type: regular
      version: -1
    taskid: cc57cd29-8744-4280-8fef-0e29c0380e32
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 780,
          "y": 1390
        }
      }
  "36":
    continueonerrortype: ""
    id: "36"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "34"
    note: false
    quietmode: 0
    scriptarguments:
      field:
        simple: tags
      fieldValue:
        simple: SIEM
      indicatorsValues:
        complex:
          accessor: value
          filters:
          - - left:
                iscontext: true
                value:
                  simple: playbookQuery.CustomFields.tags
              operator: isEqualString
              right:
                value:
                  simple: approved_white
          - - left:
                iscontext: true
                value:
                  simple: playbookQuery.indicator_type
              operator: isEqualString
              right:
                value:
                  simple: URL
          root: playbookQuery
          transformers:
          - operator: uniq
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: Adds the SIEM tag to the indicators.
      id: 3cb4a59a-9435-4a93-84a8-8b4a9c39b194
      iscommand: true
      name: Add SIEM tag
      script: Builtin|||appendIndicatorField
      type: regular
      version: -1
    taskid: 3cb4a59a-9435-4a93-84a8-8b4a9c39b194
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 2040,
          "y": 1390
        }
      }
  "37":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: inputs.QRadarWatchListUrlReferenceSetName
          operator: isNotEmpty
      - - left:
            iscontext: true
            value:
              complex:
                accessor: value
                filters:
                - - left:
                      iscontext: true
                      value:
                        simple: playbookQuery.CustomFields.tags
                    operator: isEqualString
                    right:
                      value:
                        simple: approved_watchlist
                - - left:
                      iscontext: true
                      value:
                        simple: playbookQuery.indicator_type
                    operator: isEqualString
                    right:
                      value:
                        simple: URL
                root: playbookQuery
          operator: isNotEmpty
      label: "yes"
    continueonerrortype: ""
    id: "37"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "34"
      "yes":
      - "40"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 061f3c31-8a82-48e7-8554-af69c4e550a1
      iscommand: false
      name: Is there a Qradar watch list Url Reference Set and values?
      type: condition
      version: -1
    taskid: 061f3c31-8a82-48e7-8554-af69c4e550a1
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 3240,
          "y": 450
        }
      }
  "38":
    continueonerrortype: ""
    id: "38"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "39"
    note: false
    quietmode: 0
    scriptarguments:
      ref_name:
        simple: ${inputs.QRadarWatchListUrlReferenceSetName}
      value:
        complex:
          accessor: value
          filters:
          - - left:
                iscontext: true
                value:
                  simple: playbookQuery.CustomFields.tags
              operator: isEqualString
              right:
                value:
                  simple: approved_watchlist
          - - left:
                iscontext: true
                value:
                  simple: playbookQuery.indicator_type
              operator: isEqualString
              right:
                value:
                  simple: URL
          root: playbookQuery
          transformers:
          - operator: uniq
      values:
        complex:
          root: inputs.playbookQuery
          transformers:
          - operator: uniq
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Add or update a value in a reference set.
      id: c3b2c3a2-883d-4a58-85cc-06f15057edc2
      iscommand: true
      name: Add urls to QRadar watch list url reference set
      script: '|||qradar-update-reference-set-value'
      type: regular
      version: -1
    taskid: c3b2c3a2-883d-4a58-85cc-06f15057edc2
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 3240,
          "y": 1240
        }
      }
  "39":
    continueonerrortype: ""
    id: "39"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "34"
    note: false
    quietmode: 0
    scriptarguments:
      field:
        simple: tags
      fieldValue:
        simple: SIEM
      indicatorsValues:
        complex:
          accessor: value
          filters:
          - - left:
                iscontext: true
                value:
                  simple: playbookQuery.CustomFields.tags
              operator: isEqualString
              right:
                value:
                  simple: approved_watchlist
          - - left:
                iscontext: true
                value:
                  simple: playbookQuery.indicator_type
              operator: isEqualString
              right:
                value:
                  simple: URL
          root: playbookQuery
          transformers:
          - operator: uniq
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: Adds the SIEM tag to the indicators.
      id: 2c12bea0-2de1-48cf-8b57-4486614f9cab
      iscommand: true
      name: Add SIEM tag
      script: Builtin|||appendIndicatorField
      type: regular
      version: -1
    taskid: 2c12bea0-2de1-48cf-8b57-4486614f9cab
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 3240,
          "y": 1390
        }
      }
  "40":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: playbookQuery.CustomFields.tags
          operator: isEqualString
          right:
            value:
              simple: approved_watchlist
      - - left:
            iscontext: true
            value:
              simple: playbookQuery.indicator_type
          operator: isEqualString
          right:
            value:
              simple: URL
      label: "yes"
    continueonerrortype: ""
    id: "40"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "34"
      "yes":
      - "38"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 303ad40e-9cab-446a-82de-004cd929fa89
      iscommand: false
      name: Are there indicators with a watchlist tag?
      type: condition
      version: -1
    taskid: 303ad40e-9cab-446a-82de-004cd929fa89
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 3240,
          "y": 875
        }
      }
  "41":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: playbookQuery.CustomFields.tags
          operator: isEqualString
          right:
            value:
              simple: approved_white
      - - left:
            iscontext: true
            value:
              simple: playbookQuery.indicator_type
          operator: isEqualString
          right:
            value:
              simple: URL
      label: "yes"
    continueonerrortype: ""
    id: "41"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "34"
      "yes":
      - "33"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 89694f98-ae10-41d7-89bc-85afb32c854c
      iscommand: false
      name: Are there indicators with a white tag?
      type: condition
      version: -1
    taskid: 89694f98-ae10-41d7-89bc-85afb32c854c
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 2040,
          "y": 875
        }
      }
  "42":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: playbookQuery.CustomFields.tags
          operator: isEqualString
          right:
            value:
              simple: approved_black
      - - left:
            iscontext: true
            value:
              simple: playbookQuery.indicator_type
          operator: isEqualString
          right:
            value:
              simple: URL
      label: "yes"
    continueonerrortype: ""
    id: "42"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "34"
      "yes":
      - "26"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: de9491a8-c19f-4a74-81ee-cab89706155e
      iscommand: false
      name: Are there indicators with a black tag?
      type: condition
      version: -1
    taskid: de9491a8-c19f-4a74-81ee-cab89706155e
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 780,
          "y": 875
        }
      }
version: -1
view: |-
  {
    "linkLabelsPosition": {},
    "paper": {
      "dimensions": {
        "height": 1705,
        "width": 3280,
        "x": 340,
        "y": -70
      }
    }
  }
