playbook-GCP_-_User_Investigation.yml
contentitemexportablefields:
  contentitemfields:
    definitionid: ""
    fromServerVersion: 6.9.0
    itemVersion: 1.1.19
    packID: GCP-Enrichment-Remediation
    packName: GCP Enrichment and Remediation
    packPropagationLabels:
    - all
    prevname: ""
    propagationLabels: []
    toServerVersion: ""
description: |-
  This playbook performs an investigation on a specific user in GCP environments, using queries and logs from G Suite Auditor, and GCP Logging to locate the following activities performed by the user:
  - Failed login attempt
  - Suspicious API usage by the user
  - Anomalous network traffic by the user
  - Unusual and suspicious login attempt
  - User's password leaked
id: GCP - User Investigation
inputs:
- description: The username to investigate.
  key: Username
  playbookInputQuery: null
  required: false
  value: {}
- description: The GCP project name. This is a mandatory field for GCP queries.
  key: GcpProjectName
  playbookInputQuery: null
  required: false
  value: {}
- description: "The Search Time for the `GetTime` task used by the GCP Logging search
    query. \nThis value represents the number of days to include in the search.\nDefault
    value: 1.  (1 Day)"
  key: GcpTimeSearchFrom
  playbookInputQuery: null
  required: false
  value:
    simple: "1"
name: GCP - User Investigation
outputs:
- contextPath: GcpAnomalousNetworkTraffic
  description: |-
    Determines whether there are events of anomalous network traffic performed by the user in the GCP environment.
    Possible values: True/False.
  type: boolean
- contextPath: GcpSuspiciousApiUsage
  description: |-
    Determines whether there are events of suspicious API usage by the user in the GCP environment.
    Possible values: True/False.
  type: boolean
- contextPath: GcpFailLogonCount
  description: The number of failed logins by the user in the GCP environment.
  type: number
- contextPath: GsuiteFailLogonCount
  description: The number of failed logins by the user in the G Suite environment.
  type: number
- contextPath: GsuiteUnusualLoginAllowedCount
  description: The number of unusual logins performed by the user and allowed in the
    G Suite environment.
  type: number
- contextPath: GsuiteUnusualLoginBlockedCount
  description: The number of unusual logins performed by the user and blocked in the
    G Suite environment.
  type: number
- contextPath: GsuiteSuspiciousLoginCount
  description: The number of suspicious logons performed by the user in the G Suite
    environment.
  type: number
- contextPath: GsuiteUserPasswordLeaked
  description: |-
    Determines whether the user's password was leaked in the G Suite environment.
    Possible values: True/False.
  type: boolean
starttaskid: "0"
system: true
tasks:
  "0":
    continueonerrortype: ""
    id: "0"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "28"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: b27cfc98-c986-48f1-81f5-57a7f1ef7d05
      iscommand: false
      name: ""
      version: -1
    taskid: b27cfc98-c986-48f1-81f5-57a7f1ef7d05
    timertriggers: []
    type: start
    view: |-
      {
        "position": {
          "x": 450,
          "y": -270
        }
      }
  "6":
    conditions:
    - condition:
      - - ignorecase: true
          left:
            iscontext: true
            value:
              complex:
                accessor: state
                filters:
                - - ignorecase: true
                    left:
                      iscontext: true
                      value:
                        simple: modules.brand
                    operator: isEqualString
                    right:
                      value:
                        simple: GoogleCloudLogging
                root: modules
          operator: isEqualString
          right:
            value:
              simple: active
      - - left:
            iscontext: true
            value:
              complex:
                root: inputs.Username
          operator: isNotEmpty
      label: "yes"
    continueonerrortype: ""
    id: "6"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "8"
      "yes":
      - "14"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Checks if the Google Cloud Logging integration is enabled.
      id: dadc9fcb-5a06-46e0-8ab0-90af4b540ab0
      iscommand: false
      name: Is Google Cloud Logging enabled and the user name is defined?
      type: condition
      version: -1
    taskid: dadc9fcb-5a06-46e0-8ab0-90af4b540ab0
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 1210,
          "y": 230
        }
      }
  "7":
    conditions:
    - condition:
      - - ignorecase: true
          left:
            iscontext: true
            value:
              complex:
                accessor: state
                filters:
                - - ignorecase: true
                    left:
                      iscontext: true
                      value:
                        simple: modules.brand
                    operator: isEqualString
                    right:
                      value:
                        simple: GSuiteAuditor
                root: modules
          operator: isEqualString
          right:
            value:
              simple: active
      - - left:
            iscontext: true
            value:
              complex:
                root: inputs.Username
          operator: isExists
      label: "yes"
    continueonerrortype: ""
    id: "7"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "8"
      "yes":
      - "13"
    note: false
    quietmode: 2
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Checks if the G Suite Auditor integration is enabled.
      id: 6d9cbf17-12c3-4665-8982-a8f9cab6f8bb
      iscommand: false
      name: Is G Suite Auditor enabled and the user name is defined?
      type: condition
      version: -1
    taskid: 6d9cbf17-12c3-4665-8982-a8f9cab6f8bb
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": -720,
          "y": 230
        }
      }
  "8":
    continueonerrortype: ""
    id: "8"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: e54c43ff-8afb-4223-800b-86aaeac9073f
      iscommand: false
      name: Done
      type: title
      version: -1
    taskid: e54c43ff-8afb-4223-800b-86aaeac9073f
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 450,
          "y": 980
        }
      }
  "10":
    continueonerrortype: ""
    id: "10"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "12"
    note: false
    quietmode: 2
    scriptarguments:
      application_name:
        simple: login
      end_time:
        complex:
          root: TimeNow
      event_name:
        simple: login_failure
      extend-context:
        simple: GsuiteFailLogon=
      ignore-outputs:
        simple: "true"
      start_time:
        complex:
          root: SearchFromTime
      user_key:
        complex:
          root: inputs.Username
    separatecontext: false
    skipunavailable: true
    task:
      brand: ""
      description: Retrieves a list of activities for a specific customer's account
        and application.
      id: 6dae067b-06cb-43e0-8226-842cf95bf639
      iscommand: true
      name: Failed login
      script: '|||gsuite-activity-search'
      type: regular
      version: -1
    taskid: 6dae067b-06cb-43e0-8226-842cf95bf639
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 80,
          "y": 580
        }
      }
  "12":
    continueonerrortype: ""
    id: "12"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "8"
    note: false
    quietmode: 2
    scriptarguments:
      ignore-outputs:
        simple: "false"
      key:
        simple: GsuiteFailLogonCount
      value:
        complex:
          accessor: name
          root: GsuiteFailLogon.items.events
          transformers:
          - operator: count
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Set a value in context under the key you entered.
      id: e7ae2ca7-97fb-43a9-8b46-56b6c48c49ee
      iscommand: false
      name: 'A count of login failure '
      script: Set
      type: regular
      version: -1
    taskid: e7ae2ca7-97fb-43a9-8b46-56b6c48c49ee
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 80,
          "y": 755
        }
      }
  "13":
    continueonerrortype: ""
    id: "13"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "10"
      - "16"
      - "17"
      - "18"
      - "19"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: bbf3382b-d462-45e3-8492-d2c860dbb660
      iscommand: false
      name: G Suite Auditor
      type: title
      version: -1
    taskid: bbf3382b-d462-45e3-8492-d2c860dbb660
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": -720,
          "y": 430
        }
      }
  "14":
    continueonerrortype: ""
    id: "14"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "15"
      - "25"
      - "26"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 56251e8f-bbc7-4764-8729-da592377f6fc
      iscommand: false
      name: Google Cloud Logging
      type: title
      version: -1
    taskid: 56251e8f-bbc7-4764-8729-da592377f6fc
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 1210,
          "y": 430
        }
      }
  "15":
    continueonerrortype: ""
    id: "15"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "29"
    note: false
    quietmode: 0
    scriptarguments:
      extend-context:
        simple: GcpFailLogon=
      filter:
        simple: |-
          resource.type="audited_resource" AND protoPayload.methodName="google.cloud.audit.login" AND protoPayload.status.code!=0
          AND protoPayload.methodName="google.cloud.audit.AuthenticationInfo.AuthenticationFailed"
          AND protoPayload.authenticationInfo.principalEmail="${inputs.Username}"
          AND timestamp>="${SearchFromTime}"
      ignore-outputs:
        simple: "true"
      project_name:
        complex:
          root: inputs.GcpProjectName
    separatecontext: false
    skipunavailable: true
    task:
      brand: ""
      description: Lists log entries. Use this method to retrieve log entries that
        originated from a project/folder/organization/billing account.
      id: 3a68adeb-b97e-4308-8ad8-0e64b816b2ad
      iscommand: true
      name: Multiple failed login attempts by the service account
      script: '|||gcp-logging-log-entries-list'
      type: regular
      version: -1
    taskid: 3a68adeb-b97e-4308-8ad8-0e64b816b2ad
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 800,
          "y": 590
        }
      }
  "16":
    continueonerrortype: ""
    id: "16"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "22"
    note: false
    quietmode: 2
    scriptarguments:
      application_name:
        simple: login
      end_time:
        complex:
          root: TimeNow
      event_name:
        simple: risky_sensitive_action_allowed
      extend-context:
        simple: UnusualLoginAllowed=
      ignore-outputs:
        simple: "true"
      start_time:
        complex:
          root: SearchFromTime
      user_key:
        complex:
          root: inputs.Username
    separatecontext: false
    skipunavailable: true
    task:
      brand: ""
      description: The login attempt had some unusual characteristics, for example
        the user logged in from an unfamiliar IP address.
      id: d87966fb-9f6e-4fed-8f90-7912f1969ff8
      iscommand: true
      name: An unusual login was performed by the user
      script: '|||gsuite-activity-search'
      type: regular
      version: -1
    taskid: d87966fb-9f6e-4fed-8f90-7912f1969ff8
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -320,
          "y": 580
        }
      }
  "17":
    continueonerrortype: ""
    id: "17"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "21"
    note: false
    quietmode: 2
    scriptarguments:
      application_name:
        simple: login
      end_time:
        complex:
          root: TimeNow
      event_name:
        simple: risky_sensitive_action_blocked
      extend-context:
        simple: GsuiteUnusualLoginBlocked=
      ignore-outputs:
        simple: "true"
      start_time:
        complex:
          root: SearchFromTime
      user_key:
        complex:
          root: inputs.Username
    separatecontext: false
    skipunavailable: true
    task:
      brand: ""
      description: Retrieves a list of activities for a specific customer's account
        and application.
      id: 651f89f0-a093-4922-80a3-10dfba47413f
      iscommand: true
      name: An unusual login attempt was performed by the user and blocked
      script: '|||gsuite-activity-search'
      type: regular
      version: -1
    taskid: 651f89f0-a093-4922-80a3-10dfba47413f
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -720,
          "y": 580
        }
      }
  "18":
    continueonerrortype: ""
    id: "18"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "20"
    note: false
    quietmode: 2
    scriptarguments:
      application_name:
        simple: login
      end_time:
        complex:
          root: TimeNow
      event_name:
        simple: suspicious_login
      extend-context:
        simple: GsuiteSuspiciousLogin=
      ignore-outputs:
        simple: "true"
      start_time:
        complex:
          root: SearchFromTime
      user_key:
        complex:
          root: inputs.Username
    separatecontext: false
    skipunavailable: true
    task:
      brand: ""
      description: Retrieves a list of activities for a specific customer's account
        and application.
      id: 76c3f3ce-9072-4074-8565-2f4f5e24c649
      iscommand: true
      name: Suspicious login was performed by the user
      script: '|||gsuite-activity-search'
      type: regular
      version: -1
    taskid: 76c3f3ce-9072-4074-8565-2f4f5e24c649
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -1120,
          "y": 580
        }
      }
  "19":
    continueonerrortype: ""
    id: "19"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "23"
    note: false
    quietmode: 2
    scriptarguments:
      application_name:
        simple: login
      end_time:
        complex:
          root: TimeNow
      event_name:
        simple: account_disabled_password_leak
      extend-context:
        simple: GsuiteLeakedpassword=
      ignore-outputs:
        simple: "true"
      start_time:
        complex:
          root: SearchFromTime
      user_key:
        complex:
          root: inputs.Username
    separatecontext: false
    skipunavailable: true
    task:
      brand: ""
      description: Retrieves a list of activities for a specific customer's account
        and application.
      id: bcb78ae5-5768-41a7-84d5-043809656e5d
      iscommand: true
      name: The user disabled and the user's password leaked
      script: '|||gsuite-activity-search'
      type: regular
      version: -1
    taskid: bcb78ae5-5768-41a7-84d5-043809656e5d
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -1520,
          "y": 580
        }
      }
  "20":
    continueonerrortype: ""
    id: "20"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "8"
    note: false
    quietmode: 2
    scriptarguments:
      ignore-outputs:
        simple: "false"
      key:
        simple: GsuiteSuspiciousLoginCount
      value:
        complex:
          accessor: name
          root: GoogleUserLogs.items.events
          transformers:
          - operator: count
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Set a value in context under the key you entered.
      id: 4e139f69-d44c-437c-85a5-37bc0b5b362d
      iscommand: false
      name: A count of Suspicious login performed by the user
      script: Set
      type: regular
      version: -1
    taskid: 4e139f69-d44c-437c-85a5-37bc0b5b362d
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -1120,
          "y": 755
        }
      }
  "21":
    continueonerrortype: ""
    id: "21"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "8"
    note: false
    quietmode: 2
    scriptarguments:
      ignore-outputs:
        simple: "false"
      key:
        simple: GsuiteUnusualLoginBlockedCount
      value:
        complex:
          accessor: name
          root: GoogleUserLogs.items.events
          transformers:
          - operator: count
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Set a value in context under the key you entered.
      id: 1a06c391-b315-44cb-81b0-99908ac77676
      iscommand: false
      name: A count of unusual logins attempts performed by the user and blocked
      script: Set
      type: regular
      version: -1
    taskid: 1a06c391-b315-44cb-81b0-99908ac77676
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -720,
          "y": 755
        }
      }
  "22":
    continueonerrortype: ""
    id: "22"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "8"
    note: false
    quietmode: 2
    scriptarguments:
      ignore-outputs:
        simple: "false"
      key:
        simple: GsuiteUnusualLoginAllowedCount
      value:
        complex:
          accessor: name
          root: GoogleUserLogs.items.events
          transformers:
          - operator: count
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Set a value in context under the key you entered.
      id: 2b3aba1d-0642-4246-8a7b-d3823f405798
      iscommand: false
      name: A count of unusual logins performed by the user
      script: Set
      type: regular
      version: -1
    taskid: 2b3aba1d-0642-4246-8a7b-d3823f405798
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -320,
          "y": 755
        }
      }
  "23":
    continueonerrortype: ""
    id: "23"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "8"
    note: false
    quietmode: 2
    scriptarguments:
      ignore-outputs:
        simple: "false"
      key:
        simple: GsuiteUserPasswordLeaked
      value:
        complex:
          root: inputs.Username
          transformers:
          - args:
              condition:
                value:
                  simple: lhs!=rhs
              conditionB: {}
              conditionInBetween: {}
              else:
                value:
                  simple: "False"
              equals: {}
              lhs:
                iscontext: true
                value:
                  simple: LeakedPassword.items.events.name
              lhsB: {}
              options: {}
              optionsB: {}
              rhs: {}
              rhsB: {}
              then:
                value:
                  simple: "True"
            operator: If-Then-Else
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Set a value in context under the key you entered.
      id: 02c4cc95-abd1-4c0e-8b21-daeff88959a2
      iscommand: false
      name: Set If User's password was leaked
      script: Set
      type: regular
      version: -1
    taskid: 02c4cc95-abd1-4c0e-8b21-daeff88959a2
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -1520,
          "y": 755
        }
      }
  "25":
    continueonerrortype: ""
    id: "25"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "30"
    note: false
    quietmode: 0
    scriptarguments:
      extend-context:
        simple: GcpApi=
      filter:
        simple: "resource.type=\"api\" AND \nprotoPayload.type=\"type.googleapis.com/google.cloud.audit.AuditLog\"
          AND protoPayload.authenticationInfo.principalEmail=\"${inputs.Username}\"
          AND protoPayload.status.code!=OK AND timestamp>=\"${SearchFromTime}\""
      ignore-outputs:
        simple: "true"
      project_name:
        complex:
          root: inputs.GcpProjectName
    separatecontext: false
    skipunavailable: true
    task:
      brand: ""
      description: Lists log entries. Use this method to retrieve log entries that
        originated from a project/folder/organization/billing account.
      id: acebc7b1-fc43-4027-8ad2-e8b236ca8ab6
      iscommand: true
      name: ' Suspicious API usage by the service account'
      script: '|||gcp-logging-log-entries-list'
      type: regular
      version: -1
    taskid: acebc7b1-fc43-4027-8ad2-e8b236ca8ab6
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1210,
          "y": 590
        }
      }
  "26":
    continueonerrortype: ""
    id: "26"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "31"
    note: false
    quietmode: 0
    scriptarguments:
      extend-context:
        simple: GcpAnomalousTraffic=
      filter:
        simple: |-
          resource.type="gce_network" AND
          logName="projects/${inputs.GcpProjectName}/logs/compute.googleapis.com%2Fvpc_flows" AND
          protoPayload.authenticationInfo.principalEmail="${inputs.Username}" AND
          protoPayload.status.details="ANOMALOUS_TRAFFIC" AND timestamp>="${SearchFromTime}"
      ignore-outputs:
        simple: "true"
      project_name:
        complex:
          root: inputs.GcpProjectName
    separatecontext: false
    skipunavailable: true
    task:
      brand: ""
      description: Lists log entries. Use this method to retrieve log entries that
        originated from a project/folder/organization/billing account.
      id: 485e7aad-cfa0-4d76-8b57-7909630b2217
      iscommand: true
      name: Anomalous network traffic  by the service account
      script: '|||gcp-logging-log-entries-list'
      type: regular
      version: -1
    taskid: 485e7aad-cfa0-4d76-8b57-7909630b2217
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1620,
          "y": 590
        }
      }
  "27":
    continueonerrortype: ""
    id: "27"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "6"
      - "7"
    note: false
    quietmode: 0
    scriptarguments:
      contextKey:
        simple: SearchFromTime
      dateFormat:
        simple: ISO
      daysAgo:
        complex:
          root: inputs.GcpTimeSearchFrom
      extend-context:
        simple: SearchFromTime=
      ignore-outputs:
        simple: "true"
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: |
        Retrieves the current date and time.
      id: ecdd0724-1f54-46dc-8ca3-195f7106c933
      iscommand: false
      name: Get Time for a search
      script: GetTime
      type: regular
      version: -1
    taskid: ecdd0724-1f54-46dc-8ca3-195f7106c933
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 450,
          "y": 45
        }
      }
  "28":
    continueonerrortype: ""
    id: "28"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "27"
    note: false
    quietmode: 0
    scriptarguments:
      dateFormat:
        simple: ISO
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: |
        Retrieves the current date and time.
      id: ff2101fc-3346-4b65-86f6-aff69984940e
      iscommand: false
      name: Get TimeNow for a search
      script: GetTime
      type: regular
      version: -1
    taskid: ff2101fc-3346-4b65-86f6-aff69984940e
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 450,
          "y": -135
        }
      }
  "29":
    continueonerrortype: ""
    id: "29"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "8"
    note: false
    quietmode: 2
    scriptarguments:
      ignore-outputs:
        simple: "false"
      key:
        simple: GcpFailLogonCount
      value:
        complex:
          accessor: name
          root: GcpFailLogon.items.events
          transformers:
          - operator: count
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Set a value in context under the key you entered.
      id: 70b6ec52-aa56-47c2-822c-cbadf7ff93cc
      iscommand: false
      name: Count of login failure  by the service account
      script: Set
      type: regular
      version: -1
    taskid: 70b6ec52-aa56-47c2-822c-cbadf7ff93cc
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 800,
          "y": 755
        }
      }
  "30":
    continueonerrortype: ""
    id: "30"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "8"
    note: false
    quietmode: 2
    scriptarguments:
      ignore-outputs:
        simple: "false"
      key:
        simple: GcpSuspiciousApiUsage
      value:
        complex:
          root: inputs.Username
          transformers:
          - args:
              condition:
                value:
                  simple: lhs!=rhs
              conditionB: {}
              conditionInBetween: {}
              else:
                value:
                  simple: "False"
              equals: {}
              lhs:
                iscontext: true
                value:
                  simple: GcpApi.items.events.name
              lhsB: {}
              options: {}
              optionsB: {}
              rhs: {}
              rhsB: {}
              then:
                value:
                  simple: "True"
            operator: If-Then-Else
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Set a value in context under the key you entered.
      id: b3ca8f19-3b42-492d-85b9-b88e69668194
      iscommand: false
      name: Set If  there suspicious API usage by the service account
      script: Set
      type: regular
      version: -1
    taskid: b3ca8f19-3b42-492d-85b9-b88e69668194
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1210,
          "y": 755
        }
      }
  "31":
    continueonerrortype: ""
    id: "31"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "8"
    note: false
    quietmode: 2
    scriptarguments:
      ignore-outputs:
        simple: "false"
      key:
        simple: GcpAnomalousNetworkTraffic
      value:
        complex:
          root: inputs.Username
          transformers:
          - args:
              condition:
                value:
                  simple: lhs!=rhs
              conditionB: {}
              conditionInBetween: {}
              else:
                value:
                  simple: "False"
              equals: {}
              lhs:
                iscontext: true
                value:
                  simple: GcpAnomalousTraffic.items.events.name
              lhsB: {}
              options: {}
              optionsB: {}
              rhs: {}
              rhsB: {}
              then:
                value:
                  simple: "True"
            operator: If-Then-Else
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Set a value in context under the key you entered.
      id: 1180b12d-2fa5-44eb-8379-0396652b579e
      iscommand: false
      name: Set If there is anomalous network traffic  by the service account
      script: Set
      type: regular
      version: -1
    taskid: 1180b12d-2fa5-44eb-8379-0396652b579e
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1620,
          "y": 755
        }
      }
version: -1
view: |-
  {
    "linkLabelsPosition": {
      "6_14_yes": 0.52,
      "6_8_#default#": 0.21,
      "7_13_yes": 0.41,
      "7_8_#default#": 0.15
    },
    "paper": {
      "dimensions": {
        "height": 1315,
        "width": 3520,
        "x": -1520,
        "y": -270
      }
    }
  }
