playbook-TCS-Nexpose_Device_Scanning_and_VA_Report_Generation.yml
contentitemexportablefields:
  contentitemfields:
    definitionid: ""
    fromServerVersion: ""
    itemVersion: ""
    packID: ""
    packName: ""
    prevname: ""
    propagationLabels:
    - all
    toServerVersion: ""
id: ebcce2aa-e99a-415e-8770-a56a9874d571
inputs:
- description: ""
  key: IP
  playbookInputQuery: null
  required: false
  value:
    simple: ${IP.Address}
- description: ""
  key: Site
  playbookInputQuery: null
  required: false
  value:
    simple: ${Nexpose.Site.Id}
- description: ""
  key: Hosts
  playbookInputQuery: null
  required: false
  value:
    simple: ${Nexpose.Asset.HostName}
name: TCS-Nexpose Device Scanning and VA Report Generation
outputs: []
starttaskid: "0"
tasks:
  "0":
    continueonerrortype: ""
    id: "0"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "19"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 945b68e9-3516-4a75-868d-f21175b521e4
      iscommand: false
      name: ""
      version: -1
    taskid: 945b68e9-3516-4a75-868d-f21175b521e4
    timertriggers: []
    type: start
    view: |-
      {
        "position": {
          "x": 350,
          "y": -90
        }
      }
  "1":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: ExtractedIndicators.IP
          operator: isExists
      label: "yes"
    continueonerrortype: ""
    id: "1"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "9"
      "yes":
      - "21"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 344d3a50-47ef-49f1-8673-b8a0d36554de
      iscommand: false
      name: IS there IP to scan?
      type: condition
      version: -1
    taskid: 344d3a50-47ef-49f1-8673-b8a0d36554de
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 50,
          "y": 410
        }
      }
  "6":
    continueonerrortype: ""
    id: "6"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "15"
    note: false
    quietmode: 0
    scriptarguments:
      format:
        simple: pdf
      scan:
        simple: ${Nexpose.Scan.Id}
    separatecontext: false
    skipunavailable: false
    task:
      brand: Rapid7 Nexpose
      description: Generates a new report for a specified scan.
      id: e8a4a284-363e-4e60-83b3-3e4b11de3a48
      iscommand: true
      name: Generate IP scan report
      script: Rapid7 Nexpose|||nexpose-create-scan-report
      type: regular
      version: -1
    taskid: e8a4a284-363e-4e60-83b3-3e4b11de3a48
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 50,
          "y": 815
        }
      }
  "9":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: incident.labels.Email/text
          operator: containsGeneral
          right:
            value:
              simple: site
      label: "yes"
    continueonerrortype: ""
    id: "9"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "10"
      "yes":
      - "22"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 7b6ce24f-4403-4080-88e7-28a9258005c7
      iscommand: false
      name: IS there site to scan
      type: condition
      version: -1
    taskid: 7b6ce24f-4403-4080-88e7-28a9258005c7
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 560,
          "y": 400
        }
      }
  "10":
    continueonerrortype: ""
    id: "10"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: commands.local.cmd.close.inv
      id: ac12de73-9ca2-451d-8776-e1a98a779e3a
      iscommand: true
      name: Close  Investigation
      script: Builtin|||closeInvestigation
      type: regular
      version: -1
    taskid: ac12de73-9ca2-451d-8776-e1a98a779e3a
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 300,
          "y": 1220
        }
      }
  "13":
    continueonerrortype: ""
    id: "13"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "18"
    note: false
    quietmode: 0
    scriptarguments:
      format:
        simple: pdf
      scan:
        simple: ${Nexpose.Scan.Id}
    separatecontext: false
    skipunavailable: false
    task:
      brand: Rapid7 Nexpose
      description: Generates a new report for a specified scan.
      id: 66fac865-6e25-4c08-8645-c0429da175ac
      iscommand: true
      name: 'Generate site scan report '
      script: Rapid7 Nexpose|||nexpose-create-scan-report
      type: regular
      version: -1
    taskid: 66fac865-6e25-4c08-8645-c0429da175ac
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 560,
          "y": 865
        }
      }
  "15":
    continueonerrortype: ""
    id: "15"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "10"
    note: false
    quietmode: 0
    scriptarguments:
      attachIDs:
        simple: ${InfoFile.EntryId}
      attachNames:
        simple: ${InfoFile.Name}
      body:
        simple: "Hi,\nPFA report "
      subject:
        simple: scan report
      to:
        simple: v.ghule@tcs.com
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Send an email
      id: 84a6db57-6b24-4c04-810f-81849391e071
      iscommand: true
      name: Send Scan report through email
      script: '|||send-mail'
      type: regular
      version: -1
    taskid: 84a6db57-6b24-4c04-810f-81849391e071
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 50,
          "y": 1010
        }
      }
  "18":
    continueonerrortype: ""
    id: "18"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "10"
    note: false
    quietmode: 0
    scriptarguments:
      attachIDs:
        simple: '${.=(val.File instanceof Array ? val.File[val.File.length-1].EntryID
          : val.File.EntryID)}'
      subject:
        simple: Nexpose Site sacn report
      to:
        simple: v.ghule@tcs.com
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Send an email
      id: 016d1b32-8ba0-4e41-871d-73c154d0a5fd
      iscommand: true
      name: Send report through email
      script: '|||send-mail'
      type: regular
      version: -1
    taskid: 016d1b32-8ba0-4e41-871d-73c154d0a5fd
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 560,
          "y": 1010
        }
      }
  "19":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: incident.labels.Email/from
          operator: isEqualString
          right:
            value:
              simple: v.ghule@tcs.com
      label: "yes"
    continueonerrortype: ""
    id: "19"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "10"
      "yes":
      - "20"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 8f618df0-89b4-4818-8683-73ea3bd90336
      iscommand: false
      name: Is sender id is authorized ?
      type: condition
      version: -1
    taskid: 8f618df0-89b4-4818-8683-73ea3bd90336
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 350,
          "y": 40
        }
      }
  "20":
    continueonerrortype: ""
    id: "20"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "1"
    note: false
    quietmode: 0
    scriptarguments:
      text:
        simple: ${incident.labels.Email/text}
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: commands.local.cmd.extract.indicators
      id: 7fc0c114-ac31-4acc-8395-0ba117f924a4
      iscommand: true
      name: Extract indicator
      script: Builtin|||extractIndicators
      type: regular
      version: -1
    taskid: 7fc0c114-ac31-4acc-8395-0ba117f924a4
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 350,
          "y": 210
        }
      }
  "21":
    continueonerrortype: ""
    id: "21"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 100
      wait: 1
    nexttasks:
      '#none#':
      - "6"
    note: false
    quietmode: 0
    scriptarguments:
      HostNames:
        simple: ${Nexpose.Asset.HostName}
      IPs:
        simple: ${ExtractedIndicators.IP}
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      id: c81c28ef-010e-4ed1-844e-8268d0c7c1dd
      iscommand: false
      name: Scan Assets - Nexpose_copy
      playbookId: e1165d4e-b477-4b81-8a48-3be5dbd8e859
      type: playbook
      version: -1
    taskid: c81c28ef-010e-4ed1-844e-8268d0c7c1dd
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 50,
          "y": 600
        }
      }
  "22":
    continueonerrortype: ""
    id: "22"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 100
      wait: 1
    nexttasks:
      '#none#':
      - "13"
    note: false
    quietmode: 0
    scriptarguments:
      Hosts:
        simple: ${Nexpose.Asset.HostName}
      Site:
        simple: ${Nexpose.Site.name}
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      description: Starts a Nexpose scan by site id and waits for the scan to finish
        by polling its status in pre-defined intervals.
      id: 92a1457e-0ba8-41b9-8345-21521cdc750c
      iscommand: false
      name: Scan Site - Nexpose
      playbookId: scan_site_nexpose
      type: playbook
      version: -1
    taskid: 92a1457e-0ba8-41b9-8345-21521cdc750c
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 560,
          "y": 695
        }
      }
version: -1
view: |-
  {
    "linkLabelsPosition": {},
    "paper": {
      "dimensions": {
        "height": 1405,
        "width": 890,
        "x": 50,
        "y": -90
      }
    }
  }
