playbook-Entity_Enrichment_-_Generic_v3_ENSOC_TI.yml
contentitemexportablefields:
  contentitemfields:
    definitionid: ""
    fromServerVersion: 5.0.0
    itemVersion: ""
    packID: ""
    packName: 4. UTILITY - IOCs Enrichment Contribution Pack
    prevname: ""
    propagationLabels:
    - all
    toServerVersion: ""
description: Enrich entities using one or more integrations.
id: 0694357e-a998-4d9b-881b-25e2513e2e8a
inputs:
- description: The IP addresses to enrich
  key: IP
  playbookInputQuery: null
  required: false
  value:
    simple: ${ExtractedIndicators.IP}
- description: 'A list of internal IP ranges to check IP addresses against. The list
    should be provided in CIDR notation, separated by commas. An example of a list
    of ranges would be: "172.16.0.0/12,10.0.0.0/8,192.168.0.0/16" (without quotes).
    If a list is not provided, will use default list provided in the IsIPInRanges
    script (the known IPv4 private address ranges).'
  key: InternalRange
  playbookInputQuery: null
  required: false
  value: {}
- description: File MD5 to enrich
  key: MD5
  playbookInputQuery: null
  required: false
  value:
    simple: ${ExtractedIndicators.File}
- description: File SHA256 to enrich
  key: SHA256
  playbookInputQuery: null
  required: false
  value:
    simple: ${ExtractedIndicators.File}
- description: File SHA1 to enrich
  key: SHA1
  playbookInputQuery: null
  required: false
  value:
    simple: ${ExtractedIndicators.File}
- description: URL to enrich
  key: URL
  playbookInputQuery: null
  required: false
  value:
    simple: ${ExtractedIndicators.URL}
- description: The email addresses to enrich
  key: Email
  playbookInputQuery: null
  required: false
  value:
    complex:
      accessor: Email.Address
      root: Account
      transformers:
      - operator: uniq
- description: The hostname to enrich
  key: Hostname
  playbookInputQuery: null
  required: false
  value:
    complex:
      accessor: Hostname
      root: Endpoint
      transformers:
      - operator: uniq
- description: The username to enrich
  key: Username
  playbookInputQuery: null
  required: false
  value:
    complex:
      accessor: Username
      root: Account
      transformers:
      - operator: uniq
- description: The domain name to enrich
  key: Domain
  playbookInputQuery: null
  required: false
  value:
    simple: ${ExtractedIndicators.Domain}
- description: Determines whether the IP Enrichment - Generic playbook should convert
    IP addresses to hostnames using a DNS query. True - Resolves the IP addresses
    to hostnames. False - Does not resolve the IP addresses to hostnames.
  key: ResolveIP
  playbookInputQuery: null
  required: false
  value:
    simple: "False"
- description: A CSV list of internal domains. The list will be used to determine
    whether an email address is internal or external.
  key: InternalDomains
  playbookInputQuery: null
  required: false
  value: {}
- description: CVE ID to enrich.
  key: CVE
  playbookInputQuery: null
  required: false
  value:
    complex:
      accessor: ID
      root: CVE
name: Entity Enrichment - Generic v3_ENSOC TI
outputs:
- contextPath: IP
  description: The IP object.
  type: unknown
- contextPath: Endpoint
  description: The endpoint object.
  type: unknown
- contextPath: Endpoint.Hostname
  description: The hostname that was enriched.
  type: string
- contextPath: Endpoint.OS
  description: The endpoint's operating system.
  type: string
- contextPath: Endpoint.IP
  description: A list of endpoint IP addresses.
- contextPath: Endpoint.MAC
  description: A list of endpoint MAC addresses.
- contextPath: Endpoint.Domain
  description: The endpoint domain name.
  type: string
- contextPath: DBotScore
  description: The DBotScore object.
  type: unknown
- contextPath: DBotScore.Indicator
  description: The indicator that was tested.
  type: string
- contextPath: DBotScore.Type
  description: The indicator type.
  type: string
- contextPath: DBotScore.Vendor
  description: Vendor used to calculate the score.
  type: string
- contextPath: DBotScore.Score
  description: The actual score.
  type: number
- contextPath: File
  description: The file object.
  type: unknown
- contextPath: File.SHA1
  description: SHA1 hash of the file.
  type: string
- contextPath: File.SHA256
  description: SHA256 hash of the file.
  type: string
- contextPath: File.MD5
  description: MD5 hash of the file.
  type: string
- contextPath: File.Malicious
  description: Whether the file is malicious.
  type: unknown
- contextPath: File.Malicious.Vendor
  description: For malicious files, the vendor that made the decision.
  type: string
- contextPath: URL
  description: The URL object.
  type: uknown
- contextPath: URL.Data
  description: The enriched URL.
  type: string
- contextPath: URL.Malicious
  description: Whether the detected URL was malicious.
  type: unknown
- contextPath: URL.Vendor
  description: Vendor that labeled the URL as malicious.
  type: string
- contextPath: URL.Description
  description: Additional information for the URL.
  type: string
- contextPath: Domain
  description: The domain object.
  type: unknown
- contextPath: Account
  description: The account object.
  type: unknown
- contextPath: Account.Email
  description: The email of the account.
  type: unknown
- contextPath: Account.Email.NetworkType
  description: The email account NetworkType (Internal/External).
  type: string
- contextPath: Account.Email.Distance
  description: 'The object that contains the distance between the email domain and
    the compared domain. '
  type: unknown
- contextPath: Account.Email.Distance.Domain
  description: The compared domain.
  type: string
- contextPath: Account.Email.Distance.Value
  description: 'The distance between the email domain and the compared domain. '
  type: number
- contextPath: ActiveDirectory.Users
  description: An object containing information about the user from Active Directory.
  type: unknown
- contextPath: ActiveDirectory.Users.sAMAccountName
  description: The user's samAccountName.
- contextPath: ActiveDirectory.Users.userAccountControl
  description: The user's account control flag.
- contextPath: ActiveDirectory.Users.mail
  description: The user's email address.
- contextPath: ActiveDirectory.Users.memberOf
  description: Groups the user is a member of.
- contextPath: CylanceProtectDevice
  description: The device information about the hostname that was enriched using Cylance
    Protect v2.
  type: unknown
sourceplaybookid: Entity Enrichment - Generic v3
starttaskid: "0"
tasks:
  "0":
    continueonerrortype: ""
    id: "0"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "27"
      - "32"
      - "33"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: da6b45cb-8df0-4c12-8897-f1ba8466a11e
      iscommand: false
      name: ""
      version: -1
    taskid: da6b45cb-8df0-4c12-8897-f1ba8466a11e
    timertriggers: []
    type: start
    view: |-
      {
        "position": {
          "x": 1770,
          "y": 50
        }
      }
  "15":
    continueonerrortype: ""
    id: "15"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 09c19672-38e7-4e06-8d4b-430bd58bfcb8
      iscommand: false
      name: Done
      type: title
      version: -1
    taskid: 09c19672-38e7-4e06-8d4b-430bd58bfcb8
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 2415,
          "y": 545
        }
      }
  "16":
    continueonerrortype: ""
    id: "16"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 0
      wait: 1
    nexttasks:
      '#none#':
      - "15"
    note: false
    quietmode: 0
    scriptarguments:
      IP:
        complex:
          root: inputs.IP
          transformers:
          - operator: uniq
      InternalRange:
        complex:
          root: inputs.InternalRange
          transformers:
          - operator: uniq
      ResolveIP:
        complex:
          root: inputs.ResolveIP
      UseReputationCommand:
        simple: "True"
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      description: |-
        Enrich IP addresses using one or more integrations.

        - Resolve IP addresses to hostnames (DNS)
        - Provide threat information
        - Separate internal and external IP addresses
        - For internal IP addresses, get host information
      id: 218eb104-646f-443a-82b1-a2d8f93f0bf0
      iscommand: false
      name: IP Enrichment - Generic v2
      playbookId: IP Enrichment - Generic v2
      type: playbook
      version: -1
    taskid: 218eb104-646f-443a-82b1-a2d8f93f0bf0
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 50,
          "y": 370
        }
      }
  "18":
    continueonerrortype: ""
    id: "18"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 0
      wait: 1
    nexttasks:
      '#none#':
      - "15"
    note: false
    quietmode: 0
    scriptarguments:
      MD5:
        complex:
          root: inputs.MD5
          transformers:
          - operator: uniq
      SHA1:
        complex:
          root: inputs.SHA1
          transformers:
          - operator: uniq
      SHA256:
        complex:
          root: inputs.SHA256
          transformers:
          - operator: uniq
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      id: 278f7533-a62e-421e-8a9c-d713941e1e6d
      iscommand: false
      name: File Enrichment - Generic v2
      playbookId: File Enrichment - Generic v2
      type: playbook
      version: -1
    taskid: 278f7533-a62e-421e-8a9c-d713941e1e6d
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 910,
          "y": 370
        }
      }
  "19":
    continueonerrortype: ""
    id: "19"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 0
      wait: 1
    nexttasks:
      '#none#':
      - "15"
    note: false
    quietmode: 0
    scriptarguments:
      Rasterize:
        simple: "True"
      URL:
        complex:
          root: inputs.URL
          transformers:
          - operator: uniq
      UseReputationCommand:
        simple: "True"
      VerifyURL:
        simple: "False"
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      description: |-
        Enrich URLs using one or more integrations.

        URL enrichment includes:
        * SSL verification for URLs
        * Threat information
        * Providing of URL screenshots
        * URL Reputation using !url
      id: 074d9a71-8878-465e-834d-9dfb9ee4c58a
      iscommand: false
      name: URL Enrichment - Generic v2
      playbookId: URL Enrichment - Generic v2
      type: playbook
      version: -1
    taskid: 074d9a71-8878-465e-834d-9dfb9ee4c58a
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 1770,
          "y": 370
        }
      }
  "22":
    continueonerrortype: ""
    id: "22"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 0
      wait: 1
    nexttasks:
      '#none#':
      - "15"
    note: false
    quietmode: 0
    scriptarguments:
      Domain:
        complex:
          root: inputs.Domain
          transformers:
          - operator: uniq
      UseReputationCommand:
        simple: "True"
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      description: |-
        Enrich domains using one or more integrations.
        Domain enrichment includes:
        * Threat information
        * Domain reputation using !domain command
      id: 0211d31f-0939-4401-8911-f7b3af04826e
      iscommand: false
      name: Domain Enrichment - Generic v2
      playbookId: Domain Enrichment - Generic v2
      type: playbook
      version: -1
    taskid: 0211d31f-0939-4401-8911-f7b3af04826e
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 2200,
          "y": 370
        }
      }
  "23":
    continueonerrortype: ""
    id: "23"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 0
      wait: 1
    nexttasks:
      '#none#':
      - "15"
    note: false
    quietmode: 0
    scriptarguments:
      Domain:
        complex:
          root: inputs.Domain
          transformers:
          - operator: uniq
      Email:
        complex:
          root: inputs.Email
          transformers:
          - operator: uniq
      InternalDomains:
        complex:
          root: inputs.InternalDomains
          transformers:
          - operator: uniq
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      id: a937501c-26ce-4cb7-85a7-7fe807a521bf
      iscommand: false
      name: Email Address Enrichment - Generic v2.1
      playbookId: Email Address Enrichment - Generic v2.1
      type: playbook
      version: -1
    taskid: a937501c-26ce-4cb7-85a7-7fe807a521bf
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 2630,
          "y": 370
        }
      }
  "24":
    continueonerrortype: ""
    id: "24"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 0
      wait: 1
    nexttasks:
      '#none#':
      - "15"
    note: false
    quietmode: 0
    scriptarguments:
      Username:
        complex:
          root: inputs.Username
          transformers:
          - operator: uniq
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      id: ea85a3d8-884e-4fd2-8c80-a0c5670c7c34
      iscommand: false
      name: Account Enrichment - Generic v2.1
      playbookId: Account Enrichment - Generic v2.1
      type: playbook
      version: -1
    taskid: ea85a3d8-884e-4fd2-8c80-a0c5670c7c34
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 3060,
          "y": 370
        }
      }
  "25":
    continueonerrortype: ""
    id: "25"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 0
      wait: 1
    nexttasks:
      '#none#':
      - "15"
    note: false
    quietmode: 0
    scriptarguments:
      Hostname:
        complex:
          root: inputs.Hostname
          transformers:
          - operator: uniq
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      id: 977dc4da-3cdd-426e-860c-9f205c92779f
      iscommand: false
      name: Endpoint Enrichment - Generic v2.1
      playbookId: Endpoint Enrichment - Generic v2.1
      type: playbook
      version: -1
    taskid: 977dc4da-3cdd-426e-860c-9f205c92779f
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 3490,
          "y": 370
        }
      }
  "26":
    continueonerrortype: ""
    id: "26"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 0
      wait: 1
    nexttasks:
      '#none#':
      - "15"
    note: false
    quietmode: 0
    scriptarguments:
      cve_id:
        complex:
          root: inputs.CVE
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      description: |-
        This playbook performs CVE Enrichment using the following integrations:
        - VulnDB
        - CVE Search
        - IBM X-Force Exchange
      id: 659bd66c-61ac-47a5-81c8-ee4dbbe80359
      iscommand: false
      name: CVE Enrichment - Generic v2
      playbookId: CVE Enrichment - Generic v2
      type: playbook
      version: -1
    taskid: 659bd66c-61ac-47a5-81c8-ee4dbbe80359
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 3920,
          "y": 370
        }
      }
  "27":
    continueonerror: true
    continueonerrortype: ""
    id: "27"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "16"
    note: false
    quietmode: 0
    scriptarguments:
      value:
        complex:
          filters:
          - - left:
                iscontext: true
                value:
                  simple: inputs.IP
              operator: isNotEmpty
          - - left:
                iscontext: true
                value:
                  simple: inputs.IP
              operator: isExists
          - - left:
                iscontext: true
                value:
                  simple: inputs.IP
              operator: isNotEqualString
              right:
                value:
                  simple: 0.0.0.0
          root: inputs.IP
          transformers:
          - args:
              applyIfEmpty: {}
              defaultValue:
                value:
                  simple: 'defaultValue: Not Available'
            operator: SetIfEmpty
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Get the overall score for the indicator as calculated by DBot.
      id: 73cad150-416f-4785-81db-fd1a4504895f
      iscommand: false
      name: Create List for Expired Indicator_IP
      script: GetIndicatorDBotScoreFromCache
      type: regular
      version: -1
    taskid: 73cad150-416f-4785-81db-fd1a4504895f
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 50,
          "y": 195
        }
      }
  "28":
    continueonerror: true
    continueonerrortype: ""
    id: "28"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "23"
    note: false
    quietmode: 0
    scriptarguments:
      value:
        complex:
          filters:
          - - left:
                iscontext: true
                value:
                  simple: inputs.Email
              operator: isNotEmpty
          - - left:
                iscontext: true
                value:
                  simple: inputs.Email
              operator: isExists
          - - left:
                iscontext: true
                value:
                  simple: inputs.Email
              operator: containsGeneral
              right:
                value:
                  simple: '@'
          root: inputs.Email
          transformers:
          - args:
              applyIfEmpty: {}
              defaultValue:
                value:
                  simple: Not Available
            operator: SetIfEmpty
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Get the overall score for the indicator as calculated by DBot.
      id: aa1784a4-7600-4d0e-893f-c7e8f8ce851b
      iscommand: false
      name: Create List for Expired Indicator_Email
      script: GetIndicatorDBotScoreFromCache
      type: regular
      version: -1
    taskid: aa1784a4-7600-4d0e-893f-c7e8f8ce851b
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 2630,
          "y": 195
        }
      }
  "29":
    continueonerror: true
    continueonerrortype: ""
    id: "29"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "18"
    note: false
    quietmode: 0
    scriptarguments:
      value:
        complex:
          filters:
          - - left:
                iscontext: true
                value:
                  simple: inputs.SHA256
              operator: isNotEmpty
          - - left:
                iscontext: true
                value:
                  simple: inputs.SHA256
              operator: isExists
          root: inputs.SHA256
          transformers:
          - args:
              applyIfEmpty: {}
              defaultValue:
                value:
                  simple: Not Available
            operator: SetIfEmpty
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Get the overall score for the indicator as calculated by DBot.
      id: 50255883-28d3-4940-8c0f-5745e2e6e796
      iscommand: false
      name: Create List for Expired Indicator_SHA256
      script: GetIndicatorDBotScoreFromCache
      type: regular
      version: -1
    taskid: 50255883-28d3-4940-8c0f-5745e2e6e796
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 480,
          "y": 195
        }
      }
  "30":
    continueonerror: true
    continueonerrortype: ""
    id: "30"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "18"
    note: false
    quietmode: 0
    scriptarguments:
      value:
        complex:
          filters:
          - - left:
                iscontext: true
                value:
                  simple: inputs.SHA1
              operator: isNotEmpty
          - - left:
                iscontext: true
                value:
                  simple: inputs.SHA1
              operator: isExists
          root: inputs.SHA1
          transformers:
          - args:
              applyIfEmpty: {}
              defaultValue:
                value:
                  simple: Not Available
            operator: SetIfEmpty
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Get the overall score for the indicator as calculated by DBot.
      id: 8078c890-45c4-4feb-86ad-dae0801ebe9a
      iscommand: false
      name: Create List for Expired Indicator_SHA1
      script: GetIndicatorDBotScoreFromCache
      type: regular
      version: -1
    taskid: 8078c890-45c4-4feb-86ad-dae0801ebe9a
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 910,
          "y": 195
        }
      }
  "31":
    continueonerror: true
    continueonerrortype: ""
    id: "31"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "18"
    note: false
    quietmode: 0
    scriptarguments:
      value:
        complex:
          filters:
          - - left:
                iscontext: true
                value:
                  simple: inputs.MD5
              operator: isNotEmpty
          - - left:
                iscontext: true
                value:
                  simple: inputs.MD5
              operator: isExists
          root: inputs.MD5
          transformers:
          - args:
              applyIfEmpty: {}
              defaultValue:
                value:
                  simple: Not Available
            operator: SetIfEmpty
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Get the overall score for the indicator as calculated by DBot.
      id: 946744c8-77c8-42a4-8d32-07de796b85c9
      iscommand: false
      name: Create List for Expired Indicator_MD5
      script: GetIndicatorDBotScoreFromCache
      type: regular
      version: -1
    taskid: 946744c8-77c8-42a4-8d32-07de796b85c9
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1340,
          "y": 195
        }
      }
  "32":
    continueonerror: true
    continueonerrortype: ""
    id: "32"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "19"
    note: false
    quietmode: 0
    scriptarguments:
      value:
        complex:
          filters:
          - - left:
                iscontext: true
                value:
                  simple: inputs.URL
              operator: isNotEmpty
          - - left:
                iscontext: true
                value:
                  simple: inputs.URL
              operator: isExists
          root: inputs.URL
          transformers:
          - args:
              applyIfEmpty: {}
              defaultValue:
                value:
                  simple: Not Available
            operator: SetIfEmpty
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Get the overall score for the indicator as calculated by DBot.
      id: 1f20fd53-beba-4a80-8aa3-8209fd82515a
      iscommand: false
      name: Create List for Expired Indicator_URL
      script: GetIndicatorDBotScoreFromCache
      type: regular
      version: -1
    taskid: 1f20fd53-beba-4a80-8aa3-8209fd82515a
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1770,
          "y": 195
        }
      }
  "33":
    continueonerror: true
    continueonerrortype: ""
    id: "33"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "22"
    note: false
    quietmode: 0
    scriptarguments:
      value:
        complex:
          filters:
          - - left:
                iscontext: true
                value:
                  simple: inputs.Domain
              operator: isNotEmpty
          - - left:
                iscontext: true
                value:
                  simple: inputs.Domain
              operator: isExists
          root: inputs.Domain
          transformers:
          - args:
              applyIfEmpty: {}
              defaultValue:
                value:
                  simple: Not Available
            operator: SetIfEmpty
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Get the overall score for the indicator as calculated by DBot.
      id: 10493713-36eb-442d-8155-7533a5b0e335
      iscommand: false
      name: Create List for Expired Indicator_Domain
      script: GetIndicatorDBotScoreFromCache
      type: regular
      version: -1
    taskid: 10493713-36eb-442d-8155-7533a5b0e335
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 2200,
          "y": 195
        }
      }
version: -1
view: |-
  {
    "linkLabelsPosition": {},
    "paper": {
      "dimensions": {
        "height": 560,
        "width": 4250,
        "x": 50,
        "y": 50
      }
    }
  }
