playbook-TCS-CS_Hardening_Policy_for_Severs_Autoclose_v1.0_KL.yml
contentitemexportablefields:
  contentitemfields:
    definitionid: ""
    fromServerVersion: ""
    itemVersion: ""
    packID: ""
    packName: ""
    prevname: ""
    propagationLabels:
    - all
    toServerVersion: ""
id: 54c068e9-7291-4f1c-840e-5ad2e1ba660b
inputs: []
name: TCS-CS Hardening Policy for Severs Autoclose v1.0_KL
outputs: []
starttaskid: "0"
tasks:
  "0":
    continueonerrortype: ""
    id: "0"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "1"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: af705bc3-6b9c-4176-8f97-655049c69c23
      iscommand: false
      name: ""
      version: -1
    taskid: af705bc3-6b9c-4176-8f97-655049c69c23
    timertriggers: []
    type: start
    view: |-
      {
        "position": {
          "x": 450,
          "y": 50
        }
      }
  "1":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                accessor: crowdstrikehostname
                root: incident
          operator: inList
          right:
            iscontext: true
            value:
              simple: lists.HostList_HardeningPolicy
      label: "yes"
    continueonerrortype: ""
    id: "1"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "4"
      "yes":
      - "2"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 7982cafd-bdc6-47db-884e-a7606105c6ab
      iscommand: false
      name: Check if Host is in Whitelisted Hosts List
      type: condition
      version: -1
    taskid: 7982cafd-bdc6-47db-884e-a7606105c6ab
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 450,
          "y": 200
        }
      }
  "2":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                accessor: crowdstrikecmdline
                root: incident
          operator: containsGeneral
          right:
            value:
              simple: HardeningPolicy_v2.1.ps1
      label: "yes"
    continueonerrortype: ""
    id: "2"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "4"
      "yes":
      - "3"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: fc10015d-73e8-4246-80c2-a89611cc43ba
      iscommand: false
      name: Check if Command Line contains whitelisted script
      type: condition
      version: -1
    taskid: fc10015d-73e8-4246-80c2-a89611cc43ba
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 450,
          "y": 420
        }
      }
  "3":
    continueonerrortype: ""
    id: "3"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "4"
    note: false
    quietmode: 0
    scriptarguments:
      key:
        simple: create Ticket
      value:
        simple: "Yes"
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: Set a value in context under the key you entered.
      id: c2798f72-c0d0-4a5c-84ed-982b2a093bbe
      iscommand: false
      name: Tickets needed or not
      script: Set
      type: regular
      version: -1
    taskid: c2798f72-c0d0-4a5c-84ed-982b2a093bbe
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 450,
          "y": 615
        }
      }
  "4":
    continueonerrortype: ""
    id: "4"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 16688e37-6217-4504-8dbf-1670cf3f0a7f
      iscommand: false
      name: The End
      type: title
      version: -1
    taskid: 16688e37-6217-4504-8dbf-1670cf3f0a7f
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 450,
          "y": 810
        }
      }
version: -1
view: |-
  {
    "linkLabelsPosition": {
      "1_2_yes": 0.48,
      "2_3_yes": 0.53
    },
    "paper": {
      "dimensions": {
        "height": 825,
        "width": 380,
        "x": 450,
        "y": 50
      }
    }
  }
