playbook-TCS-Investigation_Playbook-Attack_Vector-Cross_site_scripting1.yml
contentitemexportablefields:
  contentitemfields:
    definitionid: ""
    fromServerVersion: ""
    itemVersion: ""
    packID: ""
    packName: ""
    prevname: ""
    propagationLabels:
    - all
    toServerVersion: ""
id: 950a3ace-afcf-4357-8c45-af911800d28c
inputs: []
name: TCS-Investigation Playbook-Attack Vector-Cross site scripting1
outputs: []
sourceplaybookid: 6746e62f-12b0-42bf-8292-bb8efdac16bc
starttaskid: "0"
tasks:
  "0":
    continueonerrortype: ""
    id: "0"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "61"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: af7b6313-9d32-4847-8d0d-2077c18e4e8d
      iscommand: false
      name: ""
      version: -1
    taskid: af7b6313-9d32-4847-8d0d-2077c18e4e8d
    timertriggers: []
    type: start
    view: |-
      {
        "position": {
          "x": 680,
          "y": -320
        }
      }
  "5":
    continueonerrortype: ""
    form:
      description: ""
      expired: false
      questions:
      - defaultrows: []
        fieldassociated: ""
        gridcolumns: []
        id: "0"
        label: ""
        labelarg:
          simple: Check hits on web servers and other network traffic for this source
            IP.
        options: []
        optionsarg:
        - {}
        - simple: Done. Move to the next task.
        placeholder: ""
        readonly: false
        required: true
        tooltip: ""
        type: singleSelect
      sender: ""
      title: Check hits on web servers and other network traffic for this source IP.
      totalanswers: 0
    id: "5"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    message:
      bcc: null
      body: {}
      cc: null
      format: ""
      methods: []
      replyOptions:
      - Done
      subject: null
      timings:
        completeafterreplies: 1
        completeaftersla: false
        completeafterv2: true
        retriescount: 2
        retriesinterval: 360
      to: null
    nexttasks:
      '#none#':
      - "53"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 6bfd0f12-aac9-4f7c-8330-996f65b43909
      iscommand: false
      name: Check hits on web servers and other network traffic for this source IP.
      type: collection
      version: -1
    taskid: 6bfd0f12-aac9-4f7c-8330-996f65b43909
    timertriggers: []
    type: collection
    view: |-
      {
        "position": {
          "x": 1380,
          "y": 3085
        }
      }
  "28":
    continueonerrortype: ""
    id: "28"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: e0513a25-3fec-4796-8c9d-a03b77f472ab
      iscommand: false
      name: The End
      type: title
      version: -1
    taskid: e0513a25-3fec-4796-8c9d-a03b77f472ab
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 660,
          "y": 5675
        }
      }
  "29":
    continueonerrortype: ""
    id: "29"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 100
      wait: 1
    nexttasks:
      '#none#':
      - "28"
    note: false
    quietmode: 0
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      id: 9837a6ff-b912-4463-8d6f-9358d22df27f
      iscommand: false
      name: 'Sub Playbook: Document & Close Section'
      playbookId: 4a46e3dc-82da-4b3a-86ca-eb2f9dfd589f
      type: playbook
      version: -1
    taskid: 9837a6ff-b912-4463-8d6f-9358d22df27f
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 660,
          "y": 5510
        }
      }
  "34":
    continueonerrortype: ""
    id: "34"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    message:
      bcc: null
      body:
        simple: Is This a True Positive Alert ?
      cc: null
      format: ""
      methods: []
      replyOptions:
      - No, Its a Confirmed - False Positive
      - No, Its a Benign-True Positive
      - Yes, it is True Positive
      subject: null
      timings:
        completeafterreplies: 1
        completeaftersla: false
        completeafterv2: true
        retriescount: 2
        retriesinterval: 360
      to:
        simple: Analyst
    nexttasks:
      No, Its a Benign-True Positive:
      - "36"
      No, Its a Confirmed - False Positive:
      - "35"
      Yes, it is True Positive:
      - "94"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 740379c2-e292-4b75-88ba-f0b09b75e55d
      iscommand: false
      name: Is This a True Positive Alert ?
      type: condition
      version: -1
    taskid: 740379c2-e292-4b75-88ba-f0b09b75e55d
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 900,
          "y": 2340
        }
      }
  "35":
    continueonerrortype: ""
    id: "35"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "117"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 143594ae-5426-4e25-858a-94f2d5ce6dcb
      iscommand: false
      name: Document & Close - False Positive
      type: title
      version: -1
    taskid: 143594ae-5426-4e25-858a-94f2d5ce6dcb
    timertriggers:
    - action: stop
      fieldname: detectionsla
    type: title
    view: |-
      {
        "position": {
          "x": 880,
          "y": 2940
        }
      }
  "36":
    continueonerrortype: ""
    id: "36"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "42"
    note: true
    quietmode: 2
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 6f3321c9-ad96-487f-8d1c-f7c1b3c8bd02
      iscommand: false
      name: Document & Close - Benign True Positive
      type: title
      version: -1
    taskid: 6f3321c9-ad96-487f-8d1c-f7c1b3c8bd02
    timertriggers:
    - action: stop
      fieldname: detectionsla
    type: title
    view: |-
      {
        "position": {
          "x": 210,
          "y": 2930
        }
      }
  "42":
    continueonerrortype: ""
    id: "42"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "29"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 37fa8402-4d60-4a5c-8886-d51eeba39fc6
      iscommand: false
      name: Document & Close Investigation
      type: title
      version: -1
    taskid: 37fa8402-4d60-4a5c-8886-d51eeba39fc6
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 660,
          "y": 5375
        }
      }
  "44":
    continueonerrortype: ""
    id: "44"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    message:
      bcc: null
      body:
        simple: Check if any attempts have been allowed or not (response code 200)?
      cc: null
      format: ""
      methods: []
      replyOptions:
      - Allowed
      - Blocked
      subject: null
      timings:
        completeafterreplies: 1
        completeaftersla: false
        completeafterv2: true
        retriescount: 2
        retriesinterval: 360
      to: null
    nexttasks:
      Allowed:
      - "111"
      Blocked:
      - "113"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 14743b46-9369-43f4-8aef-2038b31ddbdc
      iscommand: false
      name: Check if any attempts have been allowed or not (response code 200)?
      type: condition
      version: -1
    taskid: 14743b46-9369-43f4-8aef-2038b31ddbdc
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 1060,
          "y": 530
        }
      }
  "48":
    continueonerrortype: ""
    id: "48"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    message:
      bcc: null
      body:
        simple: Check hits on web servers and other network traffic for  source IP
      cc: null
      format: ""
      methods: []
      replyOptions:
      - Yes, Proceed to next task
      subject: null
      timings:
        completeafterreplies: 1
        completeaftersla: false
        completeafterv2: true
        retriescount: 2
        retriesinterval: 360
      to: null
    nexttasks:
      Yes, Proceed to next task:
      - "34"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 0c2224e5-55b5-41a5-867e-6852d5dd2e03
      iscommand: false
      name: Check hits on web servers and other network traffic for  source IP
      type: condition
      version: -1
    taskid: 0c2224e5-55b5-41a5-867e-6852d5dd2e03
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 910,
          "y": 2115
        }
      }
  "53":
    continueonerrortype: ""
    form:
      description: ""
      expired: false
      questions:
      - defaultrows: []
        fieldassociated: ""
        gridcolumns: []
        id: "0"
        label: ""
        labelarg:
          simple: Check application logs and timeline logs for any execution.
        options: []
        optionsarg:
        - {}
        - simple: Done. Move to the next task.
        placeholder: ""
        readonly: false
        required: true
        tooltip: ""
        type: singleSelect
      sender: ""
      title: Check application logs and timeline logs for any execution.
      totalanswers: 0
    id: "53"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    message:
      bcc: null
      body: {}
      cc: null
      format: ""
      methods: []
      replyOptions:
      - Done
      subject: null
      timings:
        completeafterreplies: 1
        completeaftersla: false
        completeafterv2: true
        retriescount: 2
        retriesinterval: 360
      to: null
    nexttasks:
      '#none#':
      - "106"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 80ff5c8b-d1d7-4340-86b5-296bbed38fee
      iscommand: false
      name: ' Check application logs and timeline logs for any execution.'
      type: collection
      version: -1
    taskid: 80ff5c8b-d1d7-4340-86b5-296bbed38fee
    timertriggers: []
    type: collection
    view: |-
      {
        "position": {
          "x": 1380,
          "y": 3250
        }
      }
  "61":
    continueonerrortype: ""
    id: "61"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "92"
    note: false
    quietmode: 0
    scriptarguments:
      attackvectors:
        simple: Cross-Site Scripting (XSS)
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: commands.local.cmd.set.incident
      id: d88d18a2-b1ba-4640-89c5-8b4fd07dd903
      iscommand: true
      name: Set Attack Vector Context Field To 'Cross site scripting'
      script: Builtin|||setIncident
      type: regular
      version: -1
    taskid: d88d18a2-b1ba-4640-89c5-8b4fd07dd903
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 680,
          "y": -185
        }
      }
  "82":
    continueonerrortype: ""
    formDisplay:
      bodybackgroundcolor: ""
      bodyfontcolor: ""
      headerbackgroundcolor: ""
      headerfontcolor: ""
      isexternalrtl: false
      sender: ""
      submitbuttonbackgroundcolor: ""
      submitbuttonfontcolor: ""
      submittext: ""
    id: "82"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    message:
      bcc: null
      body:
        simple: 'Study The IoC Threat Intelligence Report. Are IoCs Part of The XSOAR
          Block List ? (check if the indicators have block tags and the expiration
          status. Also check for ''Related Incidents'') '
      cc: null
      format: ""
      methods: []
      replyOptions:
      - Yes - SOME IoCs Are Part of The Block List
      - Yes - ALL IoCs Are Part of The Block List
      - No - NONE of The IoCs are Part of The Block List
      subject: null
      timings:
        completeafterreplies: 1
        completeaftersla: false
        completeafterv2: true
        retriescount: 2
        retriesinterval: 360
      to: null
    nexttasks:
      No - NONE of The IoCs are Part of The Block List:
      - "85"
      Yes - ALL IoCs Are Part of The Block List:
      - "84"
      Yes - SOME IoCs Are Part of The Block List:
      - "83"
    note: true
    quietmode: 2
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 452ab2de-d213-41c7-8a97-3c1a74587fbb
      iscommand: false
      name: 'Study The IoC Threat Intelligence Report. Are IoCs Part of The XSOAR
        Block List ? (check if the indicators have block tags and the expiration status.
        Also check for ''Related Incidents'') '
      tags:
      - report
      type: condition
      version: -1
    taskid: 452ab2de-d213-41c7-8a97-3c1a74587fbb
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 1440,
          "y": 1150
        }
      }
  "83":
    continueonerrortype: ""
    form:
      description: ""
      expired: false
      questions:
      - defaultrows: []
        fieldassociated: ""
        gridcolumns: []
        id: "0"
        label: ""
        labelarg:
          simple: Review The IoC Intel To Assess The Threat Severity of The IoCs That
            Are Not Blocked. Once Your Ready - Move To The Next Task
        options: []
        optionsarg:
        - {}
        - simple: I'm Ready - Move To The Next Task
        placeholder: ""
        readonly: false
        required: false
        tooltip: ""
        type: singleSelect
      sender: ""
      title: Investigation Guide
      totalanswers: 0
    id: "83"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    message:
      bcc: null
      body:
        simple: Investigation Guide
      cc: null
      format: ""
      methods: []
      replyOptions:
      - I'm Ready - Procced To Next Task
      subject: null
      timings:
        completeafterreplies: 1
        completeaftersla: false
        completeafterv2: true
        retriescount: 2
        retriesinterval: 360
      to: null
    nexttasks:
      '#none#':
      - "84"
    note: false
    quietmode: 2
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 892585ae-3ce2-4c35-8a1a-e08d8332b1e0
      iscommand: false
      name: Review The IoC Intel To Assess The Threat Severity of The IoCs That Are
        Not Blocked. Once Your Ready - Move To The Next Task
      tags:
      - report
      type: collection
      version: -1
    taskid: 892585ae-3ce2-4c35-8a1a-e08d8332b1e0
    timertriggers: []
    type: collection
    view: |-
      {
        "position": {
          "x": 1240,
          "y": 1385
        }
      }
  "84":
    continueonerrortype: ""
    id: "84"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    message:
      bcc: null
      body:
        simple: Based on The IoC Intel, Do You Need To Change The Alert Severity ?
      cc: null
      format: ""
      methods: []
      replyOptions:
      - "Yes"
      - "No"
      subject: null
      timings:
        completeafterreplies: 1
        completeaftersla: false
        completeafterv2: true
        retriescount: 2
        retriesinterval: 360
      to: null
    nexttasks:
      "No":
      - "114"
      "Yes":
      - "109"
    note: false
    quietmode: 2
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 45b06452-cef0-4d25-8801-0dcf1f17bbf4
      iscommand: false
      name: Based on The IoC Intel/alert investigation, Do You Need To Change The
        Alert Severity ?
      tags:
      - report
      type: condition
      version: -1
    taskid: 45b06452-cef0-4d25-8801-0dcf1f17bbf4
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 1440,
          "y": 1590
        }
      }
  "85":
    continueonerrortype: ""
    form:
      description: ""
      expired: false
      questions:
      - defaultrows: []
        fieldassociated: ""
        gridcolumns: []
        id: "0"
        label: ""
        labelarg:
          simple: Review The IoC Intel To Assess The Threat. Once Your Ready - Move
            To The Next Task
        options: []
        optionsarg:
        - {}
        - simple: I'm Ready - Procced To Next Task
        placeholder: ""
        readonly: false
        required: false
        tooltip: ""
        type: singleSelect
      sender: ""
      title: Investigation Guide
      totalanswers: 0
    id: "85"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    message:
      bcc: null
      body:
        simple: Investigation Guide
      cc: null
      format: ""
      methods: []
      replyOptions:
      - I'm Ready - Procced To Next Task
      subject: null
      timings:
        completeafterreplies: 1
        completeaftersla: false
        completeafterv2: true
        retriescount: 2
        retriesinterval: 360
      to: null
    nexttasks:
      '#none#':
      - "84"
    note: false
    quietmode: 2
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 6978c9d5-e894-48ba-8032-edff8ff415a3
      iscommand: false
      name: Review The IoC Intel To Assess The Threat. Once Your Ready - Move To The
        Next Task
      tags:
      - report
      type: collection
      version: -1
    taskid: 6978c9d5-e894-48ba-8032-edff8ff415a3
    timertriggers: []
    type: collection
    view: |-
      {
        "position": {
          "x": 1740,
          "y": 1370
        }
      }
  "90":
    continueonerrortype: ""
    id: "90"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "44"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 6e5039a3-342b-47e6-8593-5a78d5b2e8d1
      iscommand: false
      name: Investigate - Not Sure To Be Determined
      type: title
      version: -1
    taskid: 6e5039a3-342b-47e6-8593-5a78d5b2e8d1
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 1060,
          "y": 400
        }
      }
  "91":
    continueonerrortype: ""
    id: "91"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "107"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: e18a34b2-e18f-439c-8455-6a7369eda84d
      iscommand: false
      name: Investigate - True Positive
      type: title
      version: -1
    taskid: e18a34b2-e18f-439c-8455-6a7369eda84d
    timertriggers:
    - action: stop
      fieldname: detectionsla
    type: title
    view: |-
      {
        "position": {
          "x": 1770,
          "y": 390
        }
      }
  "92":
    continueonerrortype: ""
    id: "92"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    message:
      bcc: null
      body:
        simple: Is This a True Positive Alert ?
      cc: null
      format: ""
      methods: []
      replyOptions:
      - No, Its a Confirmed - False Positive
      - Not Sure - To Be Determined
      - No, Its a Benign-True Positive
      - Yes, it is True Positive
      subject: null
      timings:
        completeafterreplies: 1
        completeaftersla: false
        completeafterv2: true
        retriescount: 2
        retriesinterval: 360
      to:
        simple: Analyst
    nexttasks:
      No, Its a Benign-True Positive:
      - "36"
      No, Its a Confirmed - False Positive:
      - "35"
      Not Sure - To Be Determined:
      - "90"
      Yes, it is True Positive:
      - "91"
    note: false
    quietmode: 2
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 1d7907a1-e37b-4f26-8ffa-3825b2a1527e
      iscommand: false
      name: Is This a True Positive Alert ?
      tags:
      - report
      type: condition
      version: -1
    taskid: 1d7907a1-e37b-4f26-8ffa-3825b2a1527e
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 680,
          "y": -20
        }
      }
  "94":
    continueonerrortype: ""
    id: "94"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "5"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: c9f83fab-375e-4548-8d66-d0ea7a8142f7
      iscommand: false
      name: Stop Detection SLA - True Positive
      type: title
      version: -1
    taskid: c9f83fab-375e-4548-8d66-d0ea7a8142f7
    timertriggers:
    - action: stop
      fieldname: detectionsla
    - action: start
      fieldname: threatresponsesla
    type: title
    view: |-
      {
        "position": {
          "x": 1380,
          "y": 2960
        }
      }
  "95":
    continueonerrortype: ""
    form:
      description: ""
      expired: false
      questions:
      - defaultrows: []
        fieldassociated: imtnumber
        gridcolumns: []
        id: "0"
        label: ""
        labelarg:
          simple: Enter The IMT Number
        options: []
        optionsarg: []
        placeholder: ""
        readonly: false
        required: true
        tooltip: ""
        type: shortText
      sender: ""
      title: Enter The IMT Number
      totalanswers: 0
    id: "95"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    message:
      bcc: null
      body: null
      cc: null
      format: ""
      methods: []
      subject: null
      timings:
        completeafterreplies: 1
        completeaftersla: false
        completeafterv2: true
        retriescount: 2
        retriesinterval: 360
      to: null
    nexttasks:
      '#none#':
      - "42"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: a6782c7c-43cc-46d6-84d9-0e1791ee3eca
      iscommand: false
      name: Enter The IMT Number
      type: collection
      version: -1
    taskid: a6782c7c-43cc-46d6-84d9-0e1791ee3eca
    timertriggers: []
    type: collection
    view: |-
      {
        "position": {
          "x": 910,
          "y": 5180
        }
      }
  "96":
    continueonerrortype: ""
    id: "96"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "95"
    note: false
    quietmode: 0
    scriptarguments:
      imtraised:
        simple: "yes"
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: commands.local.cmd.set.incident
      id: e0a4c820-1ba8-4211-8bd8-99097e0bb2d0
      iscommand: true
      name: Update IMT Context To - Yes
      script: Builtin|||setIncident
      type: regular
      version: -1
    taskid: e0a4c820-1ba8-4211-8bd8-99097e0bb2d0
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 910,
          "y": 4990
        }
      }
  "97":
    continueonerrortype: ""
    id: "97"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "42"
    note: false
    quietmode: 0
    scriptarguments:
      imtraised:
        simple: "no"
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: commands.local.cmd.set.incident
      id: 77242f36-b14a-43f3-872c-93abd06764f1
      iscommand: true
      name: Update IMT Context To - No
      script: Builtin|||setIncident
      type: regular
      version: -1
    taskid: 77242f36-b14a-43f3-872c-93abd06764f1
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1380,
          "y": 5160
        }
      }
  "98":
    continueonerrortype: ""
    id: "98"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    message:
      bcc: null
      body:
        simple: Review The Alert - Check If You Need To Raise an IMT ?
      cc: null
      format: ""
      methods: []
      replyOptions:
      - No -  IMT Not Required
      - Yes - I Have Raised an IMT
      - I'm Not Sure - Will Do It later
      subject: null
      timings:
        completeafterreplies: 1
        completeaftersla: false
        completeafterv2: true
        retriescount: 2
        retriesinterval: 360
      to: null
    nexttasks:
      I'm Not Sure - Will Do It later:
      - "42"
      No -  IMT Not Required:
      - "97"
      Yes - I Have Raised an IMT:
      - "96"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: e02966e2-917b-4f86-8577-aa1c351ef6e2
      iscommand: false
      name: Review The Alert - Check If You Need To Raise an IMT ?
      type: condition
      version: -1
    taskid: e02966e2-917b-4f86-8577-aa1c351ef6e2
    timertriggers:
    - action: stop
      fieldname: threatresponsesla
    type: condition
    view: |-
      {
        "position": {
          "x": 1380,
          "y": 4815
        }
      }
  "99":
    continueonerrortype: ""
    id: "99"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 100
      wait: 1
    nexttasks:
      '#none#':
      - "98"
    note: false
    quietmode: 2
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 80f0c546-8a4f-4abc-8573-14781198451b
      iscommand: false
      name: 'Sub Playbook: CSOC Submitted IOC Block Process'
      playbookId: 00a90bfa-b2f8-4ee1-8f6f-84824afdd3f2
      type: playbook
      version: -1
    taskid: 80f0c546-8a4f-4abc-8573-14781198451b
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 930,
          "y": 4620
        }
      }
  "100":
    continueonerrortype: ""
    id: "100"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 100
      wait: 1
    nexttasks:
      '#none#':
      - "99"
    note: false
    quietmode: 2
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 13886172-2664-4857-85d2-ffa40b8c1473
      iscommand: false
      name: TCS-Select IOC To Block_CM Playbook v1_KK
      playbookId: 9dacaaf8-64e7-4758-822e-694b991ee19c
      type: playbook
      version: -1
    taskid: 13886172-2664-4857-85d2-ffa40b8c1473
    timertriggers:
    - action: start
      fieldname: mitigationsla
    type: playbook
    view: |-
      {
        "position": {
          "x": 930,
          "y": 4460
        }
      }
  "101":
    continueonerrortype: ""
    id: "101"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    message:
      bcc: null
      body:
        simple: "Any IoCs You'd Like To Block on Palo Alto FW \\ ZScaler \\ CrowdStrike
          ? \n(NOTE: for IP address blocking other than Palo Alto FW, pls connect
          with location FW owner)"
      cc: null
      format: ""
      methods: []
      replyOptions:
      - "Yes"
      - No - They Are Already Blocked
      subject: null
      timings:
        completeafterreplies: 1
        completeaftersla: false
        completeafterv2: true
        retriescount: 2
        retriesinterval: 360
      to: null
    nexttasks:
      No - They Are Already Blocked:
      - "98"
      "Yes":
      - "100"
    note: false
    quietmode: 2
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 949d6060-a25a-4e22-8b57-9127ce25ce2c
      iscommand: false
      name: 'Any IoCs You''d Like To Block on Palo Alto FW \ ZScaler \ CrowdStrike
        ? (NOTE: for IP address blocking other than Palo Alto FW, pls connect with
        location FW owner)'
      tags:
      - report
      type: condition
      version: -1
    taskid: 949d6060-a25a-4e22-8b57-9127ce25ce2c
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 1380,
          "y": 4260
        }
      }
  "102":
    continueonerrortype: ""
    id: "102"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "101"
    note: false
    quietmode: 2
    scriptarguments:
      bcc:
        simple: kunal.krushev@tcs.com
      body:
        simple: |-
          ${incident.emailbody}

          Investigation Link --> https://incldxsoar01.india.tcs.com/#/Custom/caseinfoid/${incident.id}
      cc:
        simple: ${UserByUsername.email}
      subject:
        simple: '*True Positive Notification* SIEM Investigation - Severity - ${incident.mailerseverity}'
      to:
        simple: nimisha.prajapati@tcs.com,yogesh.gholap@tcs.com,
      using:
        simple: Mail Sender_instance_CSOC_Mail
    separatecontext: false
    skipunavailable: false
    task:
      brand: Mail Sender (New)
      description: Send an email
      id: 45a6da37-7dea-4674-8a9e-901ca5c2c2be
      iscommand: true
      name: Notify CSOC Manager & Necessary Stakeholders
      script: Mail Sender (New)|||send-mail
      type: regular
      version: -1
    taskid: 45a6da37-7dea-4674-8a9e-901ca5c2c2be
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 960,
          "y": 4090
        }
      }
  "103":
    continueonerrortype: ""
    form:
      description: ""
      expired: false
      questions:
      - defaultrows: []
        fieldassociated: emailbody
        gridcolumns: []
        id: "0"
        label: ""
        labelarg:
          simple: Enter Notification Message To CSOC Manager (give a brief about the
            true positive alert and the impact)
        options: []
        optionsarg: []
        placeholder: ""
        readonly: false
        required: true
        tooltip: ""
        type: longText
      sender: ""
      title: Enter Notification Message To CSOC Manager
      totalanswers: 0
    id: "103"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    message:
      bcc: null
      body: null
      cc: null
      format: ""
      methods: []
      subject: null
      timings:
        completeafterreplies: 1
        completeaftersla: false
        completeafterv2: true
        retriescount: 2
        retriesinterval: 360
      to: null
    nexttasks:
      '#none#':
      - "102"
    note: true
    quietmode: 2
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 851e178a-b73c-4777-86ee-abf6d11deb21
      iscommand: false
      name: Enter Notification Message To CSOC Manager (give a brief about the true
        positive alert and the impact)
      type: collection
      version: -1
    taskid: 851e178a-b73c-4777-86ee-abf6d11deb21
    timertriggers: []
    type: collection
    view: |-
      {
        "position": {
          "x": 960,
          "y": 3930
        }
      }
  "104":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                accessor: "0"
                root: Was there any Impact ? .Answers
                transformers:
                - operator: toLowerCase
          operator: isEqualString
          right:
            value:
              simple: "yes"
      label: "yes"
    continueonerrortype: ""
    id: "104"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "101"
      "yes":
      - "103"
    note: false
    quietmode: 2
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: a536af86-3497-4607-8cff-c5354fbe7bd0
      iscommand: false
      name: Does The CSOC Manager Need To Be Notified ? (auto select if impact is
        'Yes')
      tags:
      - report
      type: condition
      version: -1
    taskid: a536af86-3497-4607-8cff-c5354fbe7bd0
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 1380,
          "y": 3760
        }
      }
  "105":
    continueonerrortype: ""
    form:
      description: ""
      expired: false
      questions:
      - defaultrows: []
        fieldassociated: anyimpact
        gridcolumns: []
        id: "0"
        label: ""
        labelarg:
          simple: 'Was there any Impact ? (service disruption, malware installed,
            successful exploit ..etc) '
        options: []
        optionsarg:
        - {}
        - simple: "No"
        - simple: "Yes"
        placeholder: ""
        readonly: false
        required: true
        tooltip: ""
        type: singleSelect
      sender: ""
      title: Was there any Impact ? (service disruption, malware installed, successful
        C&C communication..etc)
      totalanswers: 0
    id: "105"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    message:
      bcc: null
      body: null
      cc: null
      format: ""
      methods: []
      subject: null
      timings:
        completeafterreplies: 1
        completeaftersla: false
        completeafterv2: true
        retriescount: 2
        retriesinterval: 360
      to: null
    nexttasks:
      '#none#':
      - "104"
    note: true
    quietmode: 2
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 9ede86ff-355c-42ce-8af0-b08f91b2a194
      iscommand: false
      name: 'Was there any Impact ? (service disruption, malware installed, successful
        C&C communication..etc) '
      type: collection
      version: -1
    taskid: 9ede86ff-355c-42ce-8af0-b08f91b2a194
    timertriggers: []
    type: collection
    view: |-
      {
        "position": {
          "x": 1380,
          "y": 3595
        }
      }
  "106":
    continueonerrortype: ""
    id: "106"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "105"
    note: false
    quietmode: 0
    scriptarguments:
      investigationconclusion:
        simple: True Positive
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: commands.local.cmd.set.incident
      id: dfc1c91d-32ae-4a3e-81dc-d4145526d658
      iscommand: true
      name: Set 'Investigation Conclusion' To True Positive
      script: Builtin|||setIncident
      type: regular
      version: -1
    taskid: dfc1c91d-32ae-4a3e-81dc-d4145526d658
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1380,
          "y": 3430
        }
      }
  "107":
    continueonerrortype: ""
    id: "107"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    message:
      bcc: null
      body:
        simple: Based on The IoC Intel, Do You Need To Change The Alert Severity ?
      cc: null
      format: ""
      methods: []
      replyOptions:
      - "Yes"
      - "No"
      subject: null
      timings:
        completeafterreplies: 1
        completeaftersla: false
        completeafterv2: true
        retriescount: 2
        retriesinterval: 360
      to: null
    nexttasks:
      "No":
      - "94"
      "Yes":
      - "108"
    note: false
    quietmode: 2
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: b70c9973-694b-41a8-8e21-f5e9fea24f5c
      iscommand: false
      name: Based on The IoC Intel, Do You Need To Change The Alert Severity ?
      tags:
      - report
      type: condition
      version: -1
    taskid: b70c9973-694b-41a8-8e21-f5e9fea24f5c
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 1970,
          "y": 1970
        }
      }
  "108":
    continueonerrortype: ""
    id: "108"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 100
      wait: 1
    nexttasks:
      '#none#':
      - "94"
    note: false
    quietmode: 2
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: d2c932ec-a1dc-4460-8847-2c148e899b6f
      iscommand: false
      name: 'Sub Playbook: Re-Assess - Triage The Alert Severity'
      playbookId: b82a6df1-9a17-4fae-889e-c6f7bde37df1
      type: playbook
      version: -1
    taskid: d2c932ec-a1dc-4460-8847-2c148e899b6f
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 1970,
          "y": 2315
        }
      }
  "109":
    continueonerrortype: ""
    id: "109"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 100
      wait: 1
    nexttasks:
      '#none#':
      - "114"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: e873f6e4-8e16-4a8d-8489-93bcd08d36f1
      iscommand: false
      name: 'Sub Playbook: Triage The Alert'
      playbookId: b82a6df1-9a17-4fae-889e-c6f7bde37df1
      type: playbook
      version: -1
    taskid: e873f6e4-8e16-4a8d-8489-93bcd08d36f1
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 1440,
          "y": 1810
        }
      }
  "111":
    continueonerrortype: ""
    id: "111"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    message:
      bcc: null
      body:
        simple: Check with the application team to verify  if any unwarranted changes
          have occurred in the application or not?
      cc: null
      format: ""
      methods: []
      replyOptions:
      - Found changes
      - Not found changes
      subject: null
      timings:
        completeafterreplies: 1
        completeaftersla: false
        completeafterv2: true
        retriescount: 2
        retriesinterval: 360
      to: null
    nexttasks:
      Found changes:
      - "113"
      Not found changes:
      - "82"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: e5f55595-1cf6-4f7b-8f19-412fde9de75e
      iscommand: false
      name: Check with the application team to verify  if any unwarranted changes
        have occurred in the application or not?
      type: condition
      version: -1
    taskid: e5f55595-1cf6-4f7b-8f19-412fde9de75e
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 1060,
          "y": 740
        }
      }
  "113":
    continueonerrortype: ""
    form:
      description: ""
      expired: false
      questions:
      - defaultrows: []
        fieldassociated: ""
        gridcolumns: []
        id: "0"
        label: ""
        labelarg:
          simple: 'Check if user agent is genuine and belongs to any application(Chrome/Mozilla/safari)
            and verify the payload URI request if that is benign and belongs to TCS
            application URL. If benign, check if it can be whitelisted. '
        options: []
        optionsarg:
        - {}
        - simple: Cannot be whitelisted
        - simple: Can be whitelisted
        placeholder: ""
        readonly: false
        required: true
        tooltip: ""
        type: singleSelect
      sender: ""
      title: Check if user agent is genuine and belongs to any application(Chrome/Mozilla/safari)
        and verify the payload URI request if that is benign and belongs to TCS application
        URL. If benign, check if it can be whitelisted.
      totalanswers: 0
    id: "113"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    message:
      bcc: null
      body: {}
      cc: null
      format: ""
      methods: []
      replyOptions:
      - Can be whitelisted
      - Cannot be whitelisted
      subject: null
      timings:
        completeafterreplies: 1
        completeaftersla: false
        completeafterv2: true
        retriescount: 2
        retriesinterval: 360
      to: null
    nexttasks:
      '#none#':
      - "82"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 998f681b-caf6-42ae-8b8a-9519ee562d02
      iscommand: false
      name: Check the payload.(for any URL,file,script,etc)
      type: collection
      version: -1
    taskid: 998f681b-caf6-42ae-8b8a-9519ee562d02
    timertriggers: []
    type: collection
    view: |-
      {
        "position": {
          "x": 1060,
          "y": 970
        }
      }
  "114":
    continueonerrortype: ""
    id: "114"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    message:
      bcc: null
      body:
        simple: Is There Any File You'd Like To Sandbox ? (make sure the .zip file
          is protected with password 'infected')
      cc: null
      format: ""
      methods: []
      replyOptions:
      - "Yes"
      - "No"
      subject: null
      timings:
        completeafterreplies: 1
        completeaftersla: false
        completeafterv2: true
        retriescount: 2
        retriesinterval: 360
      to: null
    nexttasks:
      "No":
      - "48"
      "Yes":
      - "115"
    note: false
    quietmode: 2
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: de8d507e-80f4-4a5f-8af7-d443c6edf65d
      iscommand: false
      name: Is There Any File You'd Like To Sandbox ? (make sure the .zip file is
        protected with password 'infected')
      tags:
      - report
      type: condition
      version: -1
    taskid: de8d507e-80f4-4a5f-8af7-d443c6edf65d
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 910,
          "y": 1560
        }
      }
  "115":
    continueonerrortype: ""
    id: "115"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 100
      wait: 1
    nexttasks:
      '#none#':
      - "116"
    note: false
    quietmode: 1
    scriptarguments:
      File:
        complex:
          root: File
      Interval:
        simple: "1"
      Timeout:
        simple: "15"
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: |-
        Detonate one or more files using the Wildfire integration. This playbook
        returns relevant reports to the War Room and file reputations to the context data.
        The detonation supports the following file types -
        APK, JAR, DOC, DOCX, RTF, XLS, XLSX, PPT, PPTX, OOXML, PE32, PDF, DMG, PKG, RAR, 7Z
      id: 6ca89b31-2c1c-4c7a-8125-38a6da47b143
      iscommand: false
      name: TCS-OnDemand-WildFire-Detonate File v3_KK
      playbookId: f6c63e73-b7a8-4dec-813b-cca83d83f590
      type: playbook
      version: -1
    taskid: 6ca89b31-2c1c-4c7a-8125-38a6da47b143
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 910,
          "y": 1725
        }
      }
  "116":
    continueonerrortype: ""
    id: "116"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    message:
      bcc: null
      body:
        simple: Review The Sandbox Report
      cc: null
      format: ""
      methods: []
      replyOptions:
      - Report Reviewed - Move To Next Step
      subject: null
      timings:
        completeafterreplies: 1
        completeaftersla: false
        completeafterv2: true
        retriescount: 2
        retriesinterval: 360
      to: null
    nexttasks:
      Report Reviewed - Move To Next Step:
      - "48"
    note: false
    quietmode: 2
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 0ece4ffc-4c0d-4ff2-8af6-b8475d2a8dfb
      iscommand: false
      name: Go To The 'Evidence Dashboard' And Review The Sandbox Report
      tags:
      - report
      type: condition
      version: -1
    taskid: 0ece4ffc-4c0d-4ff2-8af6-b8475d2a8dfb
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 910,
          "y": 1905
        }
      }
  "117":
    continueonerrortype: ""
    id: "117"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    message:
      bcc: null
      body:
        simple: Have you informed team for finetuning
      cc: null
      format: ""
      methods: []
      replyOptions:
      - "Yes"
      subject: null
      timings:
        completeafterreplies: 1
        completeaftersla: false
        completeafterv2: true
        retriescount: 2
        retriesinterval: 360
      to: null
    nexttasks:
      "Yes":
      - "42"
    note: false
    quietmode: 2
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: dbf9f169-02ce-4f4e-8894-93bbf3138a91
      iscommand: false
      name: Have you informed team for finetuning
      tags:
      - report
      type: condition
      version: -1
    taskid: dbf9f169-02ce-4f4e-8894-93bbf3138a91
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 890,
          "y": 3250
        }
      }
version: -1
view: |-
  {
    "linkLabelsPosition": {
      "101_100_Yes": 0.53,
      "34_35_No, Its a Confirmed - False Positive": 0.67,
      "34_36_No, Its a Benign-True Positive": 0.69,
      "82_83_Yes - SOME IoCs Are Part of The Block List": 0.84,
      "84_109_Yes": 0.37,
      "92_35_No, Its a Confirmed - False Positive": 0.1,
      "92_36_No, Its a Benign-True Positive": 0.1,
      "92_90_Not Sure - To Be Determined": 0.85,
      "92_91_Yes, it is True Positive": 0.83,
      "98_42_I'm Not Sure - Will Do It later": 0.29,
      "98_96_Yes - I Have Raised an IMT": 0.51,
      "98_97_No -  IMT Not Required": 0.59
    },
    "paper": {
      "dimensions": {
        "height": 6060,
        "width": 2140,
        "x": 210,
        "y": -320
      }
    }
  }
