playbook-TCS-Tag_TCS_Public_IP_Address_v1.0_Kunal.yml
contentitemexportablefields:
  contentitemfields:
    definitionid: ""
    fromServerVersion: ""
    itemVersion: ""
    packID: ""
    packName: ""
    prevname: ""
    propagationLabels:
    - all
    toServerVersion: ""
id: 4f9ba77e-c7d6-4a06-8c5a-10cb765b9c20
inputs:
- description: ""
  key: IP
  playbookInputQuery: null
  required: false
  value: {}
name: TCS-Tag TCS Public IP Address v1.0_Kunal
outputs: []
starttaskid: "0"
tasks:
  "0":
    continueonerrortype: ""
    id: "0"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "1"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 5651a039-1e40-4d33-89b5-92b5ddcca950
      iscommand: false
      name: ""
      version: -1
    taskid: 5651a039-1e40-4d33-89b5-92b5ddcca950
    timertriggers: []
    type: start
    view: |-
      {
        "position": {
          "x": 650,
          "y": -200
        }
      }
  "1":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                root: indicator
          operator: isExists
      label: "yes"
    continueonerrortype: ""
    id: "1"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "3"
      "yes":
      - "2"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 77715137-4244-4b85-8f07-c6cf4813292b
      iscommand: false
      name: Is Indicator Context Set ?
      type: condition
      version: -1
    taskid: 77715137-4244-4b85-8f07-c6cf4813292b
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 650,
          "y": -20
        }
      }
  "2":
    continueonerrortype: ""
    id: "2"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "3"
    note: false
    quietmode: 0
    scriptarguments:
      key:
        simple: indicator
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Delete field from context
      id: c7a0e8e7-d16a-4e32-8613-eabc645af1c2
      iscommand: false
      name: Delete 'Indicator' Context
      script: DeleteContext
      type: regular
      version: -1
    taskid: c7a0e8e7-d16a-4e32-8613-eabc645af1c2
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 650,
          "y": 190
        }
      }
  "3":
    continueonerrortype: ""
    id: "3"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "4"
    note: false
    quietmode: 0
    scriptarguments:
      extend-context:
        simple: indicator.value=value::indicator.tag=CustomFields.tags
      using:
        simple: InnerServicesModule
      value:
        complex:
          root: inputs.IP
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: commands.local.cmd.find.indicators
      id: e446af4e-a58e-472e-8b5d-6178a4e8d21e
      iscommand: true
      name: Check If Indicator Exists
      script: Builtin|||findIndicators
      type: regular
      version: -1
    taskid: e446af4e-a58e-472e-8b5d-6178a4e8d21e
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 650,
          "y": 410
        }
      }
  "4":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                accessor: value
                root: indicator
          operator: isExists
      label: "yes"
    continueonerrortype: ""
    id: "4"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "8"
      "yes":
      - "5"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 1b8ee2b8-7933-44f5-87aa-7432ae9d1e7e
      iscommand: false
      name: Found Indicator ?
      type: condition
      version: -1
    taskid: 1b8ee2b8-7933-44f5-87aa-7432ae9d1e7e
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 650,
          "y": 590
        }
      }
  "5":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                accessor: tag
                root: indicator
                transformers:
                - operator: toLowerCase
          operator: isEqualString
          right:
            value:
              simple: tcspublicip
      label: "yes"
    continueonerrortype: ""
    id: "5"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "7"
      "yes":
      - "9"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: e421eae9-8826-4ce3-8a35-e87bc8515aad
      iscommand: false
      name: Is This Indicator TCSPublicIP Tagged ?
      type: condition
      version: -1
    taskid: e421eae9-8826-4ce3-8a35-e87bc8515aad
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 650,
          "y": 800
        }
      }
  "6":
    continueonerror: true
    continueonerrortype: ""
    id: "6"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    scriptarguments:
      field:
        simple: tags
      fieldValue:
        simple: ${indicator.tag}
      indicatorsValues:
        simple: ${inputs.IP}
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: commands.local.cmd.remove.values.to.indicator.multi.select.field
      id: 5a5e4cf0-10c1-4808-8c3b-2cf6dd513b48
      iscommand: true
      name: Remove Old Tag
      script: Builtin|||removeIndicatorField
      type: regular
      version: -1
    taskid: 5a5e4cf0-10c1-4808-8c3b-2cf6dd513b48
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 650,
          "y": 1020
        }
      }
  "7":
    continueonerrortype: ""
    id: "7"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "9"
    note: false
    quietmode: 0
    scriptarguments:
      tags:
        simple: TCSPublicIP
      value:
        simple: ${inputs.IP}
      verdict:
        simple: Benign
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: commands.local.cmd.set.indicator
      id: c20d48ea-95f5-4044-8801-5a7137be65df
      iscommand: true
      name: Add New TCSPublicIP Tag
      script: Builtin|||setIndicator
      type: regular
      version: -1
    taskid: c20d48ea-95f5-4044-8801-5a7137be65df
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 650,
          "y": 1210
        }
      }
  "8":
    continueonerrortype: ""
    id: "8"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "9"
    note: false
    quietmode: 0
    scriptarguments:
      execution-timeout:
        simple: "1000000"
      retry-count:
        simple: "3"
      source:
        simple: ${incident.id}
      tags:
        simple: TCSPublicIP
      type:
        simple: IP
      value:
        simple: ${inputs.IP}
      verdict:
        simple: Benign
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: commands.local.cmd.new.indicator
      id: 6ca76820-5429-4830-845b-b7435358694b
      iscommand: true
      name: Tag The Indicator With 'TCSPublicIP'
      script: Builtin|||createNewIndicator
      type: regular
      version: -1
    taskid: 6ca76820-5429-4830-845b-b7435358694b
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 170,
          "y": 1210
        }
      }
  "9":
    continueonerrortype: ""
    id: "9"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: d50cb15d-d883-421b-8336-158e029542c0
      iscommand: false
      name: The End
      type: title
      version: -1
    taskid: d50cb15d-d883-421b-8336-158e029542c0
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 650,
          "y": 1500
        }
      }
version: -1
view: |-
  {
    "linkLabelsPosition": {},
    "paper": {
      "dimensions": {
        "height": 1765,
        "width": 860,
        "x": 170,
        "y": -200
      }
    }
  }
