playbook-TCS-Document_&_Close_Section_v2.0_KK.yml
contentitemexportablefields:
  contentitemfields:
    definitionid: ""
    fromServerVersion: ""
    itemVersion: ""
    packID: ""
    packName: ""
    prevname: ""
    propagationLabels:
    - all
    toServerVersion: ""
id: 4a46e3dc-82da-4b3a-86ca-eb2f9dfd589f
inputs: []
name: TCS-Document & Close Section v2.0_KK
outputs: []
starttaskid: "0"
tasks:
  "0":
    continueonerrortype: ""
    id: "0"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "9"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 750721a0-5287-4349-8769-944659436872
      iscommand: false
      name: ""
      version: -1
    taskid: 750721a0-5287-4349-8769-944659436872
    timertriggers: []
    type: start
    view: |-
      {
        "position": {
          "x": 1200,
          "y": 6050
        }
      }
  "1":
    continueonerrortype: ""
    id: "1"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    message:
      bcc: null
      body:
        simple: 'If You''ve Concluded The Investigation Head Over To The ''Report
          Summary'' Tab And Write Your Report  '
      cc: null
      format: ""
      methods: []
      replyOptions:
      - Yes, I've finished Writing My Report
      subject: null
      timings:
        completeafterreplies: 1
        completeaftersla: false
        completeafterv2: true
        retriescount: 2
        retriesinterval: 360
      to: null
    nexttasks:
      Yes, I've finished Writing My Report:
      - "2"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: e49120a6-2122-4674-8718-f1f88a3b8a0c
      iscommand: false
      name: 'If You''ve Concluded The Investigation Head Over To The ''Report Summary''
        Tab And Write Your Report  '
      type: condition
      version: -1
    taskid: e49120a6-2122-4674-8718-f1f88a3b8a0c
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 1200,
          "y": 6420
        }
      }
  "2":
    continueonerrortype: ""
    id: "2"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    message:
      bcc: null
      body:
        simple: Are You Ready To Close The Investigation ?
      cc: null
      format: ""
      methods: []
      replyOptions:
      - Yes (make sure all mandatory fields are populated else the investigation will
        not close)
      subject: null
      timings:
        completeafterreplies: 1
        completeaftersla: false
        completeafterv2: true
        retriescount: 2
        retriesinterval: 360
      to: null
    nexttasks:
      Yes (make sure all mandatory fields are populated else the investigation will not close):
      - "10"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 87a21a72-9c00-412b-88f2-95d56dbbf7d2
      iscommand: false
      name: Are You Ready To Close The Investigation ?
      type: condition
      version: -1
    taskid: 87a21a72-9c00-412b-88f2-95d56dbbf7d2
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 1200,
          "y": 6620
        }
      }
  "3":
    continueonerror: true
    continueonerrortype: ""
    id: "3"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "8"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: commands.local.cmd.close.inv
      id: 4f282160-cb4d-4725-8457-1c363cabf1a7
      iscommand: true
      name: Close Investigation
      script: Builtin|||closeInvestigation
      type: regular
      version: -1
    taskid: 4f282160-cb4d-4725-8457-1c363cabf1a7
    timertriggers:
    - action: stop
      fieldname: closuresla
    type: regular
    view: |-
      {
        "position": {
          "x": 1200,
          "y": 7520
        }
      }
  "4":
    continueonerror: true
    continueonerrortype: ""
    id: "4"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      "no":
      - "8"
      "yes":
      - "5"
    note: false
    quietmode: 0
    scriptarguments:
      entryId:
        simple: ${lastCompletedTaskEntries}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Check whether given entry/entries returned an error. Use ${lastCompletedTaskEntries}
        to check the previous task entries. If array is provided, will return yes
        if one of the entries returned an error.
      id: 9d309198-f33d-4d10-8ac5-ee3ef6e53e66
      iscommand: false
      name: Is The Previous Task In Error State ?
      script: isError
      type: condition
      version: -1
    taskid: 9d309198-f33d-4d10-8ac5-ee3ef6e53e66
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 1200,
          "y": 7760
        }
      }
  "5":
    continueonerrortype: ""
    id: "5"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "6"
    note: false
    quietmode: 0
    scriptarguments:
      actionnotification:
        simple: '<h1 style="text-align: center;"><span style="color: #ffffff; background-color:
          #ff0000;"><strong>Oops!!You''ve Missed Filling a Mandatory Field. Double
          Check The ''Report Summary'' Tab</strong></span></h1>'
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: commands.local.cmd.set.incident
      id: 6c1570a0-9de9-4bdd-8992-c690b2c0149e
      iscommand: true
      name: Notify Mandatory Field Not Filled
      script: Builtin|||setIncident
      type: regular
      version: -1
    taskid: 6c1570a0-9de9-4bdd-8992-c690b2c0149e
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1200,
          "y": 7970
        }
      }
  "6":
    continueonerrortype: ""
    id: "6"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    message:
      bcc: null
      body:
        simple: Oops!! Last Time You Missed Filling A Mandatory Field. Are You Sure
          You're Ready To Close This Investigation ?
      cc: null
      format: ""
      methods: []
      replyOptions:
      - Yes (make sure all mandatory fields are populated else the investigation will
        not close)
      subject: null
      timings:
        completeafterreplies: 1
        completeaftersla: false
        completeafterv2: true
        retriescount: 2
        retriesinterval: 360
      to: null
    nexttasks:
      Yes (make sure all mandatory fields are populated else the investigation will not close):
      - "7"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 2f00b0c6-4e63-46c4-8aa4-9950a7aad66d
      iscommand: false
      name: Oops!! Last Time You Missed Filling A Mandatory Field. Are You Sure You're
        Ready To Close This Investigation ?
      type: condition
      version: -1
    taskid: 2f00b0c6-4e63-46c4-8aa4-9950a7aad66d
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 1200,
          "y": 8140
        }
      }
  "7":
    continueonerrortype: ""
    id: "7"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "8"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: commands.local.cmd.close.inv
      id: 5673055f-0295-4c74-82e7-088b6f5dfb51
      iscommand: true
      name: Close Investigation
      script: Builtin|||closeInvestigation
      type: regular
      version: -1
    taskid: 5673055f-0295-4c74-82e7-088b6f5dfb51
    timertriggers:
    - action: stop
      fieldname: closuresla
    type: regular
    view: |-
      {
        "position": {
          "x": 1200,
          "y": 8330
        }
      }
  "8":
    continueonerrortype: ""
    id: "8"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: d74dfedd-b1a7-4174-8690-840803c7a94b
      iscommand: false
      name: The End
      type: title
      version: -1
    taskid: d74dfedd-b1a7-4174-8690-840803c7a94b
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 910,
          "y": 8520
        }
      }
  "9":
    continueonerrortype: ""
    id: "9"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "1"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 34075e0f-a01f-4a4e-821e-e446fb933e42
      iscommand: false
      name: Document & Close
      type: title
      version: -1
    taskid: 34075e0f-a01f-4a4e-821e-e446fb933e42
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 1200,
          "y": 6230
        }
      }
  "10":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                accessor: type
                root: incident
                transformers:
                - operator: toLowerCase
          operator: isEqualString
          right:
            value:
              simple: qradar offences onboarding
      label: SIEM
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                accessor: type
                root: incident
                transformers:
                - operator: toLowerCase
          operator: isEqualString
          right:
            value:
              simple: malware investigation
      label: EDR
    continueonerrortype: ""
    id: "10"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "26"
      EDR:
      - "16"
      SIEM:
      - "12"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: ee1d8692-6d93-43ee-8d60-7507081810f0
      iscommand: false
      name: Is This an SIEM or EDR ALert
      type: condition
      version: -1
    taskid: ee1d8692-6d93-43ee-8d60-7507081810f0
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 1200,
          "y": 6820
        }
      }
  "11":
    continueonerror: true
    continueonerrortype: ""
    id: "11"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "26"
    note: false
    quietmode: 0
    scriptarguments:
      assigned_to:
        complex:
          accessor: phone
          root: IncidentOwner.[0]
          transformers:
          - args:
              to:
                value:
                  simple: '@'
            operator: substringTo
      closing_reason_id:
        simple: "55"
      closing_reason_name:
        simple: False Positive
      offense_id:
        complex:
          accessor: idoffense
          root: incident
      status:
        simple: CLOSED
      using:
        simple: ${incident.sourceInstance}
    separatecontext: false
    skipunavailable: false
    task:
      brand: QRadar v3
      description: Updates an offense.
      id: 7c6cee06-5c64-4d96-8d8b-3456d21e3867
      iscommand: true
      name: Update Investigation Conclusion in SIEM - False Positive
      script: QRadar v3|||qradar-offense-update
      type: regular
      version: -1
    taskid: 7c6cee06-5c64-4d96-8d8b-3456d21e3867
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -290,
          "y": 7190
        }
      }
  "12":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                accessor: investigationconclusion
                root: incident
                transformers:
                - operator: toLowerCase
          operator: isEqualString
          right:
            value:
              simple: false positive
      label: FP
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                accessor: investigationconclusion
                root: incident
                transformers:
                - operator: toLowerCase
          operator: isEqualString
          right:
            value:
              simple: true positive
      label: TP
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                accessor: investigationconclusion
                root: incident
                transformers:
                - operator: toLowerCase
          operator: isEqualString
          right:
            value:
              simple: benign-true positive
      label: BTP
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                accessor: investigationconclusion
                root: incident
                transformers:
                - operator: toLowerCase
          operator: isEqualString
          right:
            value:
              simple: duplicate
      label: Duplicate
    continueonerrortype: ""
    id: "12"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      BTP:
      - "14"
      Duplicate:
      - "15"
      FP:
      - "11"
      TP:
      - "13"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: ff961806-f371-45b9-85eb-4ccaf0d4710b
      iscommand: false
      name: SIEM Investigation Conclusion ?
      type: condition
      version: -1
    taskid: ff961806-f371-45b9-85eb-4ccaf0d4710b
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 330,
          "y": 7000
        }
      }
  "13":
    continueonerror: true
    continueonerrortype: ""
    id: "13"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "26"
    note: false
    quietmode: 0
    scriptarguments:
      assigned_to:
        complex:
          accessor: phone
          root: IncidentOwner.[0]
          transformers:
          - args:
              to:
                value:
                  simple: '@'
            operator: substringTo
      closing_reason_id:
        simple: "54"
      closing_reason_name:
        simple: True Positive
      offense_id:
        complex:
          accessor: idoffense
          root: incident
      status:
        simple: CLOSED
      using:
        simple: ${incident.sourceInstance}
    separatecontext: false
    skipunavailable: false
    task:
      brand: QRadar v3
      description: Updates an offense.
      id: b6da0001-227f-4cd0-8adb-da795f8aa4e4
      iscommand: true
      name: Update Investigation Conclusion in SIEM - True Positive
      script: QRadar v3|||qradar-offense-update
      type: regular
      version: -1
    taskid: b6da0001-227f-4cd0-8adb-da795f8aa4e4
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 120,
          "y": 7190
        }
      }
  "14":
    continueonerror: true
    continueonerrortype: ""
    id: "14"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "26"
    note: false
    quietmode: 0
    scriptarguments:
      assigned_to:
        complex:
          accessor: phone
          root: IncidentOwner.[0]
          transformers:
          - args:
              to:
                value:
                  simple: '@'
            operator: substringTo
      closing_reason_id:
        simple: "105"
      closing_reason_name:
        simple: Benign-True Positive
      offense_id:
        complex:
          accessor: idoffense
          root: incident
      status:
        simple: CLOSED
      using:
        simple: ${incident.sourceInstance}
    separatecontext: false
    skipunavailable: false
    task:
      brand: QRadar v3
      description: Updates an offense.
      id: ae1d1bc7-bff5-4b82-89e6-dd224e1869a1
      iscommand: true
      name: Update Investigation Conclusion in SIEM - Benign-True Positive
      script: QRadar v3|||qradar-offense-update
      type: regular
      version: -1
    taskid: ae1d1bc7-bff5-4b82-89e6-dd224e1869a1
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 530,
          "y": 7190
        }
      }
  "15":
    continueonerror: true
    continueonerrortype: ""
    id: "15"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "26"
    note: false
    quietmode: 0
    scriptarguments:
      assigned_to:
        complex:
          accessor: phone
          root: IncidentOwner.[0]
          transformers:
          - args:
              to:
                value:
                  simple: '@'
            operator: substringTo
      closing_reason_id:
        simple: "104"
      closing_reason_name:
        simple: Duplicate
      offense_id:
        complex:
          accessor: idoffense
          root: incident
      status:
        simple: CLOSED
      using:
        simple: ${incident.sourceInstance}
    separatecontext: false
    skipunavailable: false
    task:
      brand: QRadar v3
      description: Updates an offense.
      id: 315e5552-9047-46b2-8cb0-871b5cbf5b2c
      iscommand: true
      name: Update Investigation Conclusion in SIEM - Duplicate
      script: QRadar v3|||qradar-offense-update
      type: regular
      version: -1
    taskid: 315e5552-9047-46b2-8cb0-871b5cbf5b2c
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 930,
          "y": 7190
        }
      }
  "16":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                accessor: investigationconclusion
                root: incident
                transformers:
                - operator: toLowerCase
          operator: isEqualString
          right:
            value:
              simple: false positive
      label: FP
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                accessor: investigationconclusion
                root: incident
                transformers:
                - operator: toLowerCase
          operator: isEqualString
          right:
            value:
              simple: true positive
      label: TP
    continueonerrortype: ""
    id: "16"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "20"
      FP:
      - "18"
      TP:
      - "19"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 82d70c5e-a8c5-41f8-8945-960af52825b1
      iscommand: false
      name: EDR Investigation Conclusion ?
      type: condition
      version: -1
    taskid: 82d70c5e-a8c5-41f8-8945-960af52825b1
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 1900,
          "y": 7000
        }
      }
  "18":
    continueonerror: true
    continueonerrortype: ""
    id: "18"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "26"
    note: false
    quietmode: 0
    scriptarguments:
      comment:
        complex:
          accessor: closingnote
          root: incident
      ids:
        complex:
          accessor: crowdstrikedetectionid
          root: incident
      status:
        simple: false_positive
      username:
        complex:
          accessor: email
          root: IncidentOwner
      using:
        simple: ${incident.sourceInstance}
    separatecontext: false
    skipunavailable: false
    task:
      brand: CrowdstrikeFalcon
      description: Resolves and updates a detection.
      id: 75ccc95d-67cd-42b2-840b-d41b0b6bd4cd
      iscommand: true
      name: Update Investigation Conclusion in EDR - False Positive
      script: CrowdstrikeFalcon|||cs-falcon-resolve-detection
      type: regular
      version: -1
    taskid: 75ccc95d-67cd-42b2-840b-d41b0b6bd4cd
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1450,
          "y": 7190
        }
      }
  "19":
    continueonerror: true
    continueonerrortype: ""
    id: "19"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "26"
    note: false
    quietmode: 0
    scriptarguments:
      comment:
        complex:
          accessor: closingnote
          root: incident
      ids:
        complex:
          accessor: crowdstrikedetectionid
          root: incident
      status:
        simple: true_positive
      username:
        complex:
          accessor: email
          root: IncidentOwner
      using:
        simple: ${incident.sourceInstance}
    separatecontext: false
    skipunavailable: false
    task:
      brand: CrowdstrikeFalcon
      description: Resolves and updates a detection.
      id: a195cf79-73f5-4bee-8430-2ab1a250a56a
      iscommand: true
      name: Update Investigation Conclusion in EDR - True Positive
      script: CrowdstrikeFalcon|||cs-falcon-resolve-detection
      type: regular
      version: -1
    taskid: a195cf79-73f5-4bee-8430-2ab1a250a56a
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1880,
          "y": 7190
        }
      }
  "20":
    continueonerror: true
    continueonerrortype: ""
    id: "20"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "26"
    note: false
    quietmode: 0
    scriptarguments:
      comment:
        complex:
          accessor: closingnote
          root: incident
      ids:
        complex:
          accessor: crowdstrikedetectionid
          root: incident
      status:
        simple: closed
      username:
        complex:
          accessor: email
          root: IncidentOwner
      using:
        simple: ${incident.sourceInstance}
    separatecontext: false
    skipunavailable: false
    task:
      brand: CrowdstrikeFalcon
      description: Resolves and updates a detection.
      id: 50ad5158-1eed-46dc-8175-e3ab096684ec
      iscommand: true
      name: Update Investigation Conclusion in EDR - Other
      script: CrowdstrikeFalcon|||cs-falcon-resolve-detection
      type: regular
      version: -1
    taskid: 50ad5158-1eed-46dc-8175-e3ab096684ec
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 2300,
          "y": 7190
        }
      }
  "23":
    continueonerrortype: ""
    id: "23"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "4"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 310aba0f-ab3a-4ef0-8a42-8d90222f55d4
      iscommand: false
      name: Check For Error Task
      type: title
      version: -1
    taskid: 310aba0f-ab3a-4ef0-8a42-8d90222f55d4
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 1210,
          "y": 7670
        }
      }
  "24":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                accessor: hosttimeline
                root: incident
          operator: isExists
          right:
            value: {}
        - left:
            iscontext: true
            value:
              complex:
                accessor: investigationconclusion
                root: incident
          operator: isEqualString
          right:
            value:
              simple: Duplicate
      - - left:
            iscontext: true
            value:
              complex:
                accessor: hosttimeline
                root: incident
          operator: isNotEmpty
        - left:
            iscontext: true
            value:
              complex:
                accessor: investigationconclusion
                root: incident
          operator: isEqualString
          right:
            value:
              simple: Duplicate
      label: "yes"
    continueonerrortype: ""
    id: "24"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "25"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 9efa16a1-03c5-46f9-8f92-64753c634bf6
      iscommand: false
      name: Is host time line attached?
      type: condition
      version: -1
    taskid: 9efa16a1-03c5-46f9-8f92-64753c634bf6
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 2800,
          "y": 6980
        }
      }
  "25":
    continueonerrortype: ""
    form:
      description: ""
      expired: false
      questions:
      - defaultrows: []
        fieldassociated: hosttimeline
        gridcolumns: []
        id: "0"
        label: ""
        labelarg:
          simple: Attach Host Timeline
        options: []
        optionsarg: []
        placeholder: ""
        readonly: false
        required: true
        tooltip: ""
        type: attachments
      sender: ""
      title: Attach Host Timeline
      totalanswers: 0
    id: "25"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    message:
      bcc: null
      body: null
      cc: null
      format: ""
      methods: []
      subject: null
      timings:
        completeafterreplies: 1
        completeaftersla: false
        completeafterv2: true
        retriescount: 2
        retriesinterval: 360
      to: null
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 8b39ea26-d2ad-41b0-8dd9-fab7957e81dc
      iscommand: false
      name: Attach Host Timeline
      type: collection
      version: -1
    taskid: 8b39ea26-d2ad-41b0-8dd9-fab7957e81dc
    timertriggers: []
    type: collection
    view: |-
      {
        "position": {
          "x": 2800,
          "y": 7205
        }
      }
  "26":
    continueonerrortype: ""
    id: "26"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "3"
    note: false
    quietmode: 0
    scriptarguments:
      documentclassification:
        simple: TCS Confidential
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: commands.local.cmd.set.incident
      id: 52084653-e804-4852-85b2-0c510b70b521
      iscommand: true
      name: Set context for document classification
      script: Builtin|||setIncident
      type: regular
      version: -1
    taskid: 52084653-e804-4852-85b2-0c510b70b521
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1200,
          "y": 7375
        }
      }
version: -1
view: |-
  {
    "linkLabelsPosition": {
      "24_25_#default#": 0.48,
      "4_8_no": 0.2
    },
    "paper": {
      "dimensions": {
        "height": 2535,
        "width": 3470,
        "x": -290,
        "y": 6050
      }
    }
  }
