playbook-Block_Domain_-_FireEye_Email_Security.yml
contentitemexportablefields:
  contentitemfields:
    definitionid: ""
    fromServerVersion: 6.0.0
    itemVersion: 2.0.29
    packID: FireEyeEX
    packName: FireEye Email Security (EX)
    packPropagationLabels:
    - all
    prevname: ""
    propagationLabels: []
    toServerVersion: ""
description: |-
  This playbook blocks domains using FireEye Email Security.
  The playbook checks whether the FireEye Email Security integration is enabled, whether the Domain input has been provided and if so, blocks the domain.
id: Block Domain - FireEye Email Security
inputs:
- description: The Domain to block.
  key: Domain
  playbookInputQuery: null
  required: false
  value: {}
name: Block Domain - FireEye Email Security
outputs: []
starttaskid: "0"
system: true
tasks:
  "0":
    continueonerrortype: ""
    id: "0"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "4"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 94163ae0-f7a8-4641-803d-11ce2e35a27a
      iscommand: false
      name: ""
      version: -1
    taskid: 94163ae0-f7a8-4641-803d-11ce2e35a27a
    timertriggers: []
    type: start
    view: |-
      {
        "position": {
          "x": 450,
          "y": -100
        }
      }
  "1":
    conditions:
    - condition:
      - - ignorecase: true
          left:
            iscontext: true
            value:
              complex:
                accessor: brand
                filters:
                - - ignorecase: true
                    left:
                      iscontext: true
                      value:
                        simple: modules.brand
                    operator: isEqualString
                    right:
                      value:
                        simple: FireEye Email Security
                - - ignorecase: true
                    left:
                      iscontext: true
                      value:
                        simple: modules.state
                    operator: isEqualString
                    right:
                      value:
                        simple: Active
                root: modules
          operator: isExists
      label: "yes"
    continueonerrortype: ""
    id: "1"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "3"
      "yes":
      - "2"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Verify that there is a valid instance of Check Point Firewall enabled.
      id: e1a529d9-ad4c-4392-8249-128a5b760eba
      iscommand: false
      name: Is FireEye Email Security  enabled?
      type: condition
      version: -1
    taskid: e1a529d9-ad4c-4392-8249-128a5b760eba
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 670,
          "y": 200
        }
      }
  "2":
    continueonerrortype: ""
    id: "2"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "3"
    note: false
    quietmode: 0
    scriptarguments:
      entry_value:
        complex:
          root: inputs.Domain
      type:
        simple: sender_domain
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Creates the blocked sender domain.
      id: a3c34dcc-8863-4c06-88d6-10416932bdd1
      iscommand: true
      name: Block Domain
      script: '|||fireeye-ex-create-blockedlist'
      type: regular
      version: -1
    taskid: a3c34dcc-8863-4c06-88d6-10416932bdd1
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 860,
          "y": 370
        }
      }
  "3":
    continueonerrortype: ""
    id: "3"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 3b6ec932-ffb3-43c5-8666-13b769935c00
      iscommand: false
      name: Done
      type: title
      version: -1
    taskid: 3b6ec932-ffb3-43c5-8666-13b769935c00
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 450,
          "y": 560
        }
      }
  "4":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                root: inputs.Domain
          operator: isNotEmpty
      label: "yes"
    continueonerrortype: ""
    id: "4"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "3"
      "yes":
      - "1"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Check whether the necessary inputs were provided
      id: 8a98155b-9114-4772-8676-5dea5fa7809c
      iscommand: false
      name: Check if Domain input was provided
      type: condition
      version: -1
    taskid: 8a98155b-9114-4772-8676-5dea5fa7809c
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 450,
          "y": 30
        }
      }
version: -1
view: |-
  {
    "linkLabelsPosition": {
      "1_2_yes": 0.66
    },
    "paper": {
      "dimensions": {
        "height": 725,
        "width": 790,
        "x": 450,
        "y": -100
      }
    }
  }
