playbook-AD_Test_ad-search-subsequent.yml
contentitemexportablefields:
  contentitemfields:
    definitionid: ""
    fromServerVersion: ""
    itemVersion: ""
    packID: ""
    packName: ""
    prevname: ""
    propagationLabels:
    - all
    toServerVersion: ""
id: 0fb4c595-2e0d-4446-857c-0c84c449e24e
inputs:
- description: ""
  key: filter
  playbookInputQuery: null
  required: true
  value:
    simple: (objectClass=*)
- description: ""
  key: attributes
  playbookInputQuery: null
  required: false
  value:
    simple: ALL
- description: ""
  key: base-dn
  playbookInputQuery: null
  required: false
  value: {}
- description: ""
  key: page-size
  playbookInputQuery: null
  required: false
  value: {}
name: AD Test ad-search-subsequent
outputs: []
quiet: true
sourceplaybookid: 128b585b-27b2-4f47-80e6-7398a60bed12
starttaskid: "0"
tasks:
  "0":
    continueonerrortype: ""
    id: "0"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "5"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 68616378-955a-45b2-8362-dcefd1e9e47a
      iscommand: false
      name: ""
      version: -1
    taskid: 68616378-955a-45b2-8362-dcefd1e9e47a
    timertriggers: []
    type: start
    view: |-
      {
        "position": {
          "x": 265,
          "y": 50
        }
      }
  "1":
    continueonerrortype: ""
    id: "1"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "7"
    note: false
    quietmode: 2
    scriptarguments:
      attributes:
        complex:
          root: inputs.attributes
      base-dn:
        complex:
          root: inputs.base-dn
      context-output:
        simple: "yes"
      filter:
        complex:
          root: inputs.filter
      page-cookie:
        complex:
          root: SearchPageCookie
      page-size:
        complex:
          root: inputs.page-size
      using:
        simple: Active Directory Query v2_instance_1
    separatecontext: false
    skipunavailable: false
    task:
      brand: Active Directory Query v2
      description: Runs Active Directory queries.
      id: 724890b6-674d-4516-8fc0-5144e2371b25
      iscommand: true
      name: ad-search subsequent
      script: Active Directory Query v2|||ad-search
      type: regular
      version: -1
    taskid: 724890b6-674d-4516-8fc0-5144e2371b25
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 50,
          "y": 370
        }
      }
  "2":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                accessor: SearchPageCookie
                root: ActiveDirectory
          operator: isExists
          right:
            value: {}
      label: "yes"
    continueonerrortype: ""
    id: "2"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "8"
      "yes":
      - "3"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 10675e05-21e7-4f1a-8b33-cc7c983c3995
      iscommand: false
      name: need next loop?
      type: condition
      version: -1
    taskid: 10675e05-21e7-4f1a-8b33-cc7c983c3995
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 265,
          "y": 720
        }
      }
  "3":
    continueonerrortype: ""
    id: "3"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "4"
    note: false
    quietmode: 0
    scriptarguments:
      append:
        simple: "false"
      key:
        simple: SearchPageCookie
      stringify:
        simple: "false"
      value:
        complex:
          accessor: SearchPageCookie
          root: ActiveDirectory
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Set a value in context under the key you entered.
      id: cca6935f-e547-461c-8459-6aa7c6fd72cb
      iscommand: false
      name: Set - SearchPageCookie
      script: Set
      type: regular
      version: -1
    taskid: cca6935f-e547-461c-8459-6aa7c6fd72cb
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 50,
          "y": 895
        }
      }
  "4":
    continueonerrortype: ""
    id: "4"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    scriptarguments:
      all:
        simple: "no"
      key:
        simple: ActiveDirectory
      subplaybook:
        simple: "no"
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: |-
        Delete field from context.

        This automation runs using the default Limited User role, unless you explicitly change the permissions.
        For more information, see the section about permissions here:
        https://docs.paloaltonetworks.com/cortex/cortex-xsoar/6-2/cortex-xsoar-admin/playbooks/automations.html
      id: ac001941-ede1-41af-83b2-5773e6a614fd
      iscommand: false
      name: DeleteContext - ActiveDirectory
      script: DeleteContext
      type: regular
      version: -1
    taskid: ac001941-ede1-41af-83b2-5773e6a614fd
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 265,
          "y": 1070
        }
      }
  "5":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                root: SearchPageCookie
          operator: isExists
      label: "yes"
    continueonerrortype: ""
    id: "5"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "6"
      "yes":
      - "1"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: b0cea134-7540-48b2-801f-8ccee39b123a
      iscommand: false
      name: subsequent search?
      type: condition
      version: -1
    taskid: b0cea134-7540-48b2-801f-8ccee39b123a
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 265,
          "y": 195
        }
      }
  "6":
    continueonerrortype: ""
    id: "6"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "7"
    note: false
    quietmode: 2
    scriptarguments:
      attributes:
        complex:
          root: inputs.attributes
      base-dn:
        complex:
          root: inputs.base-dn
      context-output:
        simple: "yes"
      filter:
        complex:
          root: inputs.filter
      page-size:
        complex:
          root: inputs.page-size
      using:
        simple: Active Directory Query v2_instance_1
    separatecontext: false
    skipunavailable: false
    task:
      brand: Active Directory Query v2
      description: Runs Active Directory queries.
      id: 72f94f2d-3db5-42f9-8b23-cb14cc9ab2aa
      iscommand: true
      name: ad-search 1st
      script: Active Directory Query v2|||ad-search
      type: regular
      version: -1
    taskid: 72f94f2d-3db5-42f9-8b23-cb14cc9ab2aa
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 480,
          "y": 370
        }
      }
  "7":
    continueonerrortype: ""
    id: "7"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "2"
    note: false
    quietmode: 0
    scriptarguments:
      append:
        simple: "true"
      key:
        simple: AD.Result
      stringify:
        simple: "false"
      value:
        complex:
          accessor: Search
          root: ActiveDirectory
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Set a value in context under the key you entered.
      id: 7181a989-2044-4c99-8d12-dd727e7afdc5
      iscommand: false
      name: Set - AD.Result
      script: Set
      type: regular
      version: -1
    taskid: 7181a989-2044-4c99-8d12-dd727e7afdc5
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 265,
          "y": 545
        }
      }
  "8":
    continueonerrortype: ""
    id: "8"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "4"
    note: false
    quietmode: 0
    scriptarguments:
      append:
        simple: "false"
      key:
        simple: NextSearch
      stringify:
        simple: "false"
      value:
        simple: "false"
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Set a value in context under the key you entered.
      id: 32d42dba-bf64-44a6-8848-9e58f0a7e3d6
      iscommand: false
      name: Set - NextSearch
      script: Set
      type: regular
      version: -1
    taskid: 32d42dba-bf64-44a6-8848-9e58f0a7e3d6
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 480,
          "y": 895
        }
      }
version: -1
view: |-
  {
    "linkLabelsPosition": {},
    "paper": {
      "dimensions": {
        "height": 1115,
        "width": 810,
        "x": 50,
        "y": 50
      }
    }
  }
