playbook-TCS-Validate_Submitted_IOC_v3.2_KR.yml
contentitemexportablefields:
  contentitemfields:
    definitionid: ""
    fromServerVersion: ""
    itemVersion: ""
    packID: ""
    packName: ""
    prevname: ""
    propagationLabels:
    - all
    toServerVersion: ""
id: fde881e4-5800-47cf-8fa9-c47544501055
inputs:
- description: ""
  key: suspiciousiocs
  playbookInputQuery: null
  required: false
  value:
    simple: ${inputs.suspiciousiocs}
name: TCS-Validate Submitted IOC v3.2_KR
outputs: []
sourceplaybookid: 7e0105f5-2558-456a-85df-77c9558ebba6
starttaskid: "0"
tasks:
  "0":
    continueonerrortype: ""
    id: "0"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "1"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 944599c4-d1cd-4cde-899f-fd9faa25fa0e
      iscommand: false
      name: ""
      version: -1
    taskid: 944599c4-d1cd-4cde-899f-fd9faa25fa0e
    timertriggers: []
    type: start
    view: |-
      {
        "position": {
          "x": 670,
          "y": -520
        }
      }
  "1":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                root: inputs.suspiciousiocs
          operator: isNotEmpty
          right:
            value: {}
      label: "yes"
    continueonerrortype: ""
    id: "1"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "14"
      "yes":
      - "56"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 54ef47b2-7cb3-45ba-821b-0f6075afb4f6
      iscommand: false
      name: Are There IoC(s) For Blacklisting ?
      type: condition
      version: -1
    taskid: 54ef47b2-7cb3-45ba-821b-0f6075afb4f6
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 670,
          "y": -390
        }
      }
  "2":
    continueonerrortype: ""
    id: "2"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "51"
      - "52"
      - "53"
      - "54"
    note: false
    quietmode: 0
    scriptarguments:
      append:
        simple: "true"
      key:
        simple: BlacklistIOC
      value:
        complex:
          root: inputs.suspiciousiocs
          transformers:
          - args:
              delimiter:
                value:
                  simple: |2+

            operator: split
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Set a value in context under the key you entered.
      id: 03e47e34-1c54-4efd-899c-3902951efa04
      iscommand: false
      name: Set IoC(s) In Contest
      script: Set
      type: regular
      version: -1
    taskid: 03e47e34-1c54-4efd-899c-3902951efa04
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 670,
          "y": 410
        }
      }
  "5":
    continueonerrortype: ""
    id: "5"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "20"
    note: false
    quietmode: 0
    scriptarguments:
      append:
        simple: "true"
      key:
        simple: Blacklist.URL
      value:
        complex:
          filters:
          - - left:
                iscontext: true
                value:
                  simple: BlacklistIOC
              operator: in
              right:
                iscontext: true
                value:
                  simple: ExtractedIndicators.URL
          root: BlacklistIOC
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Set a value in context under the key you entered.
      id: 550fb7c7-4d77-4748-8b1a-60e333643e1e
      iscommand: false
      name: Set Blacklist URL in 'Blacklist.URL' Context
      script: Set
      type: regular
      version: -1
    taskid: 550fb7c7-4d77-4748-8b1a-60e333643e1e
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 450,
          "y": 870
        }
      }
  "7":
    continueonerrortype: ""
    id: "7"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "22"
    note: false
    quietmode: 0
    scriptarguments:
      append:
        simple: "true"
      key:
        simple: Blacklist.Domain
      value:
        complex:
          filters:
          - - left:
                iscontext: true
                value:
                  simple: BlacklistIOC
              operator: in
              right:
                iscontext: true
                value:
                  simple: ExtractedIndicators.Domain_Test_
            - left:
                iscontext: true
                value:
                  simple: BlacklistIOC
              operator: in
              right:
                iscontext: true
                value:
                  simple: ExtractedIndicators.Domain
          root: BlacklistIOC
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Set a value in context under the key you entered.
      id: 2c8cbe2b-d375-46db-8465-c6e3439d2a74
      iscommand: false
      name: Set Blacklist Domain in 'Blacklist.Domain' Context
      script: Set
      type: regular
      version: -1
    taskid: 2c8cbe2b-d375-46db-8465-c6e3439d2a74
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 880,
          "y": 870
        }
      }
  "9":
    continueonerrortype: ""
    id: "9"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "29"
    note: false
    quietmode: 0
    reputationcalc: 1
    scriptarguments:
      append:
        simple: "true"
      key:
        simple: Blacklist.IPV4
      value:
        complex:
          filters:
          - - left:
                iscontext: true
                value:
                  simple: BlacklistIOC
              operator: in
              right:
                iscontext: true
                value:
                  simple: ExtractedIndicators.IP
          root: BlacklistIOC
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Set a value in context under the key you entered.
      id: 435a1ab7-e11d-49b0-862d-5835d7d3d00c
      iscommand: false
      name: Set Blacklist IPv4 IP Address in 'Blacklist.IPV4' Context
      script: Set
      type: regular
      version: -1
    taskid: 435a1ab7-e11d-49b0-862d-5835d7d3d00c
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 20,
          "y": 870
        }
      }
  "11":
    continueonerrortype: ""
    id: "11"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "46"
    note: false
    quietmode: 0
    scriptarguments:
      append:
        simple: "true"
      key:
        simple: FinalBlacklist.Hash
      value:
        complex:
          filters:
          - - left:
                iscontext: true
                value:
                  simple: BlacklistIOC
              operator: in
              right:
                iscontext: true
                value:
                  simple: ExtractedIndicators.File
          root: BlacklistIOC
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Set a value in context under the key you entered.
      id: 8339dd65-61ce-4582-8d4f-3bbf2e821e82
      iscommand: false
      name: Set Blacklist Hash in 'Blacklist.Hash' Context
      script: Set
      type: regular
      version: -1
    taskid: 8339dd65-61ce-4582-8d4f-3bbf2e821e82
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1310,
          "y": 870
        }
      }
  "14":
    continueonerrortype: ""
    id: "14"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "36"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 6f31dcd7-f900-4a13-8464-5315ec537c45
      iscommand: false
      name: Check If Submitted IoC(s) Are Part of The Trusted Domain List
      type: title
      version: -1
    taskid: 6f31dcd7-f900-4a13-8464-5315ec537c45
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 1960,
          "y": 1080
        }
      }
  "20":
    continueonerrortype: ""
    id: "20"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "55"
    note: false
    quietmode: 0
    scriptarguments:
      domains:
        simple: ${lists.TCS_Customer_Domain_List},${TCS_Created_Domain},${lists.Zscaler
          autofetch indicators},${lists.TrustedIOClist-Autofetched}
      urls:
        complex:
          accessor: URL
          root: Blacklist
          transformers:
          - args:
              delimiter: {}
            operator: split
          - args:
              separator:
                value:
                  simple: ','
            operator: join
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Checks if the supplied URLs are in the specified domains.
      id: a1ebad78-8be7-4b8c-87c2-d0ff2199a74c
      iscommand: false
      name: Is The URL Part of The Trusted List
      script: IsUrlPartOfDomain
      type: regular
      version: -1
    taskid: a1ebad78-8be7-4b8c-87c2-d0ff2199a74c
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 450,
          "y": 1280
        }
      }
  "21":
    continueonerrortype: ""
    id: "21"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "49"
    note: false
    quietmode: 0
    scriptarguments:
      append:
        simple: "true"
      key:
        simple: Trusted.URL
      value:
        complex:
          accessor: URL
          filters:
          - - left:
                iscontext: true
                value:
                  simple: IsUrlPartOfDomain.IsInternal
              operator: isEqualString
              right:
                value:
                  simple: "true"
          - - left:
                iscontext: true
                value:
                  simple: IsUrlPartOfDomain.URL
              operator: in
              right:
                iscontext: true
                value:
                  simple: Blacklist.URL
          root: IsUrlPartOfDomain
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Set a value in context under the key you entered.
      id: 72097a37-3644-449b-87fd-5f60305549fb
      iscommand: false
      name: Set Identified Trusted URL in Context
      script: Set
      type: regular
      version: -1
    taskid: 72097a37-3644-449b-87fd-5f60305549fb
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 450,
          "y": 1650
        }
      }
  "22":
    continueonerrortype: ""
    id: "22"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "25"
    note: false
    quietmode: 2
    scriptarguments:
      main_domains:
        simple: ${lists.TCS_Customer_Domain_List},${lists.TCS_Created_Domain},${lists.CS&ZscalerDomains},${lists.Zscaler
          autofetch indicators},${lists.TrustedIOClist-Autofetched}
      possible_sub_domains_to_test:
        complex:
          accessor: Domain
          root: Blacklist
          transformers:
          - args:
              delimiter: {}
            operator: split
          - args:
              separator:
                value:
                  simple: ','
            operator: join
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: This script accepts multiple values for both arguments and will
        iterate through each of the domains to check if the specified subdomains are
        located in at least one of the specified main domains. If the tested subdomain
        is in one of the main domains, the result will be true. For example, if the
        domain_to_check values are apps.paloaltonetworks.com and apps.paloaltonetworks.bla
        and the domains_to_compare values are paloaltonetworks.com and demisto.com,
        the result for apps.paloaltonetworks.com will be true since it is a part of
        the paloaltonetworks.com domain. The result for apps.paloaltonetworks.bla
        will be false since it is not a part of the paloaltonetworks.com or demisto.com
        domain.
      id: 548b1d8e-b63c-4a12-87fe-c03b5b9e720a
      iscommand: false
      name: Is The Domain Part of The Trusted List
      script: IsInternalDomainName
      type: regular
      version: -1
    taskid: 548b1d8e-b63c-4a12-87fe-c03b5b9e720a
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 880,
          "y": 1280
        }
      }
  "23":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                accessor: URL
                root: Blacklist
          operator: notIn
          right:
            iscontext: true
            value:
              simple: Trusted.URL
      label: "yes"
    continueonerrortype: ""
    id: "23"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "36"
      "yes":
      - "24"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: b25fda7f-da65-423c-8e88-ef97ae04337a
      iscommand: false
      name: Are There Any URLs For Blacklisting ?
      type: condition
      version: -1
    taskid: b25fda7f-da65-423c-8e88-ef97ae04337a
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 450,
          "y": 2130
        }
      }
  "24":
    continueonerrortype: ""
    id: "24"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "43"
    note: false
    quietmode: 0
    scriptarguments:
      append:
        simple: "true"
      key:
        simple: FinalBlacklist.URL
      value:
        complex:
          filters:
          - - left:
                iscontext: true
                value:
                  simple: Blacklist.URL
              operator: notIn
              right:
                iscontext: true
                value:
                  simple: Trusted.URL
          root: Blacklist.URL
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Set a value in context under the key you entered.
      id: 396a837e-3715-424f-8fb7-d3c276cb3fdc
      iscommand: false
      name: Set The Filtered Blacklisting URLs in Context
      script: Set
      tags:
      - validatedioc
      type: regular
      version: -1
    taskid: 396a837e-3715-424f-8fb7-d3c276cb3fdc
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 450,
          "y": 2380
        }
      }
  "25":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                accessor: IsInternal
                root: IsInternalDomain
          operator: containsGeneral
          right:
            value:
              simple: "true"
      label: "yes"
    continueonerrortype: ""
    id: "25"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "27"
      "yes":
      - "26"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 5c383330-c7ed-4bde-8a7c-611d2023e2ad
      iscommand: false
      name: Are There Domain(s) Part of The Trusted List
      type: condition
      version: -1
    taskid: 5c383330-c7ed-4bde-8a7c-611d2023e2ad
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 880,
          "y": 1450
        }
      }
  "26":
    continueonerrortype: ""
    id: "26"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "50"
    note: false
    quietmode: 0
    scriptarguments:
      append:
        simple: "true"
      key:
        simple: Trusted.Domain
      value:
        complex:
          accessor: DomainToTest
          filters:
          - - left:
                iscontext: true
                value:
                  simple: IsInternalDomain.DomainToTest
              operator: in
              right:
                iscontext: true
                value:
                  simple: Blacklist.Domain
          - - left:
                iscontext: true
                value:
                  simple: IsInternalDomain.IsInternal
              operator: isEqualString
              right:
                value:
                  simple: "true"
          root: IsInternalDomain
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Set a value in context under the key you entered.
      id: 976b6197-bf87-4696-8285-5144d8c31825
      iscommand: false
      name: Set Identified Trusted Domain in Context
      script: Set
      type: regular
      version: -1
    taskid: 976b6197-bf87-4696-8285-5144d8c31825
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 880,
          "y": 1650
        }
      }
  "27":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                accessor: Domain
                root: Blacklist
          operator: notIn
          right:
            iscontext: true
            value:
              simple: Trusted.Domain
      label: "yes"
    continueonerrortype: ""
    id: "27"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "36"
      "yes":
      - "28"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 49855256-bf50-42a9-873e-d51882b4fa51
      iscommand: false
      name: Are There Any Domains For Blacklisting ?
      type: condition
      version: -1
    taskid: 49855256-bf50-42a9-873e-d51882b4fa51
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 880,
          "y": 2130
        }
      }
  "28":
    continueonerrortype: ""
    id: "28"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "45"
    note: false
    quietmode: 0
    scriptarguments:
      append:
        simple: "true"
      key:
        simple: FinalBlacklist.Domain
      value:
        complex:
          filters:
          - - left:
                iscontext: true
                value:
                  simple: Blacklist.Domain
              operator: notIn
              right:
                iscontext: true
                value:
                  simple: Trusted.Domain
          root: Blacklist.Domain
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Set a value in context under the key you entered.
      id: a43bca35-6d29-47ad-807d-446a4eb816ca
      iscommand: false
      name: Set The Filtered Blacklisting Domains in Context
      script: Set
      tags:
      - validatedioc
      type: regular
      version: -1
    taskid: a43bca35-6d29-47ad-807d-446a4eb816ca
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 880,
          "y": 2380
        }
      }
  "29":
    continueonerrortype: ""
    id: "29"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "31"
      "yes":
      - "30"
    note: false
    quietmode: 0
    scriptarguments:
      ip:
        complex:
          accessor: IPV4
          root: Blacklist
      ipRanges:
        simple: ${lists.Google Public IP Addresses},${lists.Microsoft Public IP Addresses},${lists.TCS_Public_IP_Addresses},${lists.MasterIOC_IP
          Address},${lists.ZscalerIPAddresses},${lists.TCS_RFScanIP_list},${lists.Zscaler
          Aggregate IP Address Ranges},${lists.Crowdstrike indicators},${lists.customer
          IP Addresses},${lists.Zscaler autofetch indicators},${lists.TrustedIOClist-Autofetched}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Returns yes if the IP is in one of the ranges provided, returns
        no otherwise.
      id: ac03f6d5-b45a-42cf-83c5-6c3431e72a1b
      iscommand: false
      name: Is The IP Address Part of The Trusted List
      script: b502efb7-b0a1-449b-8d9e-31e8fe70f470
      type: condition
      version: -1
    taskid: ac03f6d5-b45a-42cf-83c5-6c3431e72a1b
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 20,
          "y": 1280
        }
      }
  "30":
    continueonerrortype: ""
    id: "30"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "48"
    note: false
    quietmode: 0
    scriptarguments:
      append:
        simple: "true"
      key:
        simple: Trusted.IPV4
      value:
        complex:
          accessor: Address
          filters:
          - - left:
                iscontext: true
                value:
                  simple: IP.InRange
              operator: isEqualString
              right:
                value:
                  simple: "yes"
          root: IP
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Set a value in context under the key you entered.
      id: b190c915-b147-4ac1-8104-ef3fc8b05ada
      iscommand: false
      name: Set Identified Trusted IP Address in Context
      script: Set
      type: regular
      version: -1
    taskid: b190c915-b147-4ac1-8104-ef3fc8b05ada
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 20,
          "y": 1650
        }
      }
  "31":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                accessor: InRange
                root: IP
          operator: isEqualString
          right:
            value:
              simple: "no"
      label: "yes"
    continueonerrortype: ""
    id: "31"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "36"
      "yes":
      - "32"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: c7f7db96-1480-4fb6-85e1-74577eb0409f
      iscommand: false
      name: Are There Any IP Addresses For Blacklisting ?
      type: condition
      version: -1
    taskid: c7f7db96-1480-4fb6-85e1-74577eb0409f
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 20,
          "y": 2130
        }
      }
  "32":
    continueonerrortype: ""
    id: "32"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "44"
    note: false
    quietmode: 0
    scriptarguments:
      append:
        simple: "true"
      key:
        simple: FinalBlacklist.IPV4
      value:
        complex:
          accessor: Address
          filters:
          - - left:
                iscontext: true
                value:
                  simple: IP.InRange
              operator: isEqualString
              right:
                value:
                  simple: "no"
          root: IP
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Set a value in context under the key you entered.
      id: 89c68f1a-60f7-4618-889e-f13516dc069a
      iscommand: false
      name: Set The Filtered Blacklisting IP Address in Context
      script: Set
      tags:
      - validatedioc
      type: regular
      version: -1
    taskid: 89c68f1a-60f7-4618-889e-f13516dc069a
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 20,
          "y": 2380
        }
      }
  "36":
    continueonerrortype: ""
    id: "36"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "37"
      - "40"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 4d67e6c4-6e9b-4043-8ff1-49565076b4e7
      iscommand: false
      name: Update Widgets For Trusted & Validated IoC(s)
      type: title
      version: -1
    taskid: 4d67e6c4-6e9b-4043-8ff1-49565076b4e7
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 1960,
          "y": 2720
        }
      }
  "37":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                root: Trusted
          operator: isExists
      label: "yes"
    continueonerrortype: ""
    id: "37"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "38"
      "yes":
      - "41"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: commands.local.cmd.close.inv
      id: aa829330-b66f-4316-8dae-0c007f2ec9b3
      iscommand: false
      name: Are There Trusted IoC(s)?
      type: condition
      version: -1
    taskid: aa829330-b66f-4316-8dae-0c007f2ec9b3
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 1720,
          "y": 2890
        }
      }
  "38":
    continueonerrortype: ""
    id: "38"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "58"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 1c302d02-1cce-4ba3-81af-93e43e21b8bc
      iscommand: false
      name: Verify & Close Automation
      type: title
      version: -1
    taskid: 1c302d02-1cce-4ba3-81af-93e43e21b8bc
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 1960,
          "y": 3310
        }
      }
  "39":
    continueonerrortype: ""
    id: "39"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "2"
    note: false
    quietmode: 0
    reputationcalc: 2
    scriptarguments:
      text:
        simple: ${inputs.suspiciousiocs}
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: commands.local.cmd.extract.indicators
      id: b479bb32-1a8d-4aed-88c2-934379e62168
      iscommand: true
      name: Extract & Enrich Indicators
      script: Builtin|||extractIndicators
      type: regular
      version: -1
    taskid: b479bb32-1a8d-4aed-88c2-934379e62168
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 670,
          "y": 210
        }
      }
  "40":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                root: FinalBlacklist
          operator: isExists
      label: "yes"
    continueonerrortype: ""
    id: "40"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "38"
      "yes":
      - "42"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: commands.local.cmd.close.inv
      id: 2bc54301-d4fe-4dc0-80f2-0b415f5f08ef
      iscommand: false
      name: 'Are There Validated IoC(s)? '
      type: condition
      version: -1
    taskid: 2bc54301-d4fe-4dc0-80f2-0b415f5f08ef
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 2200,
          "y": 2890
        }
      }
  "41":
    continueonerrortype: ""
    id: "41"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "38"
    note: false
    quietmode: 0
    scriptarguments:
      trustediocs:
        complex:
          root: Trusted
          transformers:
          - operator: Stringify
          - args:
              chars:
                value:
                  simple: '{}'
            operator: StripChars
          - args:
              delimiter:
                value:
                  simple: ','
            operator: split
          - args:
              separator:
                value:
                  simple: |2+

            operator: join
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: commands.local.cmd.set.incident
      id: 5904c4ab-00a3-4b57-883b-3f4e903df750
      iscommand: true
      name: Set The Trusted IoC(s) Context
      script: Builtin|||setIncident
      type: regular
      version: -1
    taskid: 5904c4ab-00a3-4b57-883b-3f4e903df750
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1720,
          "y": 3060
        }
      }
  "42":
    continueonerrortype: ""
    id: "42"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "38"
    note: false
    quietmode: 0
    reputationcalc: 2
    scriptarguments:
      validatediocsforblacklisting:
        complex:
          root: FinalBlacklist
          transformers:
          - operator: Stringify
          - args:
              chars:
                value:
                  simple: '{}'
            operator: StripChars
          - args:
              delimiter:
                value:
                  simple: ','
            operator: split
          - args:
              separator:
                value:
                  simple: |2+

            operator: join
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: commands.local.cmd.set.incident
      id: 910e2ad9-a17f-4a0f-8539-8673881938a9
      iscommand: true
      name: Set The Trusted IoC(s) Context
      script: Builtin|||setIncident
      type: regular
      version: -1
    taskid: 910e2ad9-a17f-4a0f-8539-8673881938a9
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 2200,
          "y": 3070
        }
      }
  "43":
    continueonerrortype: ""
    id: "43"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "36"
    note: false
    quietmode: 0
    scriptarguments:
      validatedurl:
        complex:
          accessor: URL
          root: FinalBlacklist
          transformers:
          - operator: StringifyArray
          - args:
              chars:
                value:
                  simple: '[" "]'
            operator: StripChars
          - args:
              delimiter:
                value:
                  simple: '","'
            operator: split
          - args:
              separator:
                value:
                  simple: |2+

            operator: join
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: commands.local.cmd.set.incident
      id: 11e595f7-acd8-4053-8e76-818f12327929
      iscommand: true
      name: Set Incident Context ' Validated URL'
      script: Builtin|||setIncident
      type: regular
      version: -1
    taskid: 11e595f7-acd8-4053-8e76-818f12327929
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 450,
          "y": 2550
        }
      }
  "44":
    continueonerrortype: ""
    id: "44"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "36"
    note: false
    quietmode: 0
    scriptarguments:
      validatedipaddress:
        complex:
          accessor: IPV4
          root: FinalBlacklist
          transformers:
          - operator: StringifyArray
          - args:
              chars:
                value:
                  simple: '[" "]'
            operator: StripChars
          - args:
              delimiter:
                value:
                  simple: '","'
            operator: split
          - args:
              separator:
                value:
                  simple: |2+

            operator: join
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: commands.local.cmd.set.incident
      id: 083d094b-d40a-4419-8469-f9dc3e4acebb
      iscommand: true
      name: Set Incident Context ' Validated IP Address'
      script: Builtin|||setIncident
      type: regular
      version: -1
    taskid: 083d094b-d40a-4419-8469-f9dc3e4acebb
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 20,
          "y": 2550
        }
      }
  "45":
    continueonerrortype: ""
    id: "45"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "36"
    note: false
    quietmode: 0
    scriptarguments:
      validateddomain:
        complex:
          accessor: Domain
          root: FinalBlacklist
          transformers:
          - operator: StringifyArray
          - args:
              chars:
                value:
                  simple: '[" "]'
            operator: StripChars
          - args:
              delimiter:
                value:
                  simple: '","'
            operator: split
          - args:
              separator:
                value:
                  simple: |2+

            operator: join
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: commands.local.cmd.set.incident
      id: 7f98b0cc-963e-41ff-89f3-2f7264aa0ceb
      iscommand: true
      name: Set Incident Context ' Validated Domain'
      script: Builtin|||setIncident
      type: regular
      version: -1
    taskid: 7f98b0cc-963e-41ff-89f3-2f7264aa0ceb
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 880,
          "y": 2550
        }
      }
  "46":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                accessor: Hash
                root: FinalBlacklist
          operator: isExists
      label: "yes"
    continueonerrortype: ""
    id: "46"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "36"
      "yes":
      - "47"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 53636c9b-ee0b-4a72-879d-c5fe8b489b9d
      iscommand: false
      name: Check If Context 'FinalBlacklist.Hash' is Set
      type: condition
      version: -1
    taskid: 53636c9b-ee0b-4a72-879d-c5fe8b489b9d
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 1310,
          "y": 2130
        }
      }
  "47":
    continueonerrortype: ""
    id: "47"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "36"
    note: false
    quietmode: 0
    scriptarguments:
      validatedhash:
        complex:
          accessor: Hash
          root: FinalBlacklist
          transformers:
          - operator: StringifyArray
          - args:
              chars:
                value:
                  simple: '[" "]'
            operator: StripChars
          - args:
              delimiter:
                value:
                  simple: '","'
            operator: split
          - args:
              separator:
                value:
                  simple: |2+

            operator: join
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: commands.local.cmd.set.incident
      id: 8e764daf-4f87-45c2-8b46-e8f2f8d7e500
      iscommand: true
      name: Set Incident Context ' Validated Hash'
      script: Builtin|||setIncident
      type: regular
      version: -1
    taskid: 8e764daf-4f87-45c2-8b46-e8f2f8d7e500
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1310,
          "y": 2550
        }
      }
  "48":
    continueonerrortype: ""
    id: "48"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "31"
    note: false
    quietmode: 0
    scriptarguments:
      trustedipaddress:
        complex:
          accessor: IPV4
          root: Trusted
          transformers:
          - operator: StringifyArray
          - args:
              chars:
                value:
                  simple: '[" "]'
            operator: StripChars
          - args:
              delimiter:
                value:
                  simple: '","'
            operator: split
          - args:
              separator:
                value:
                  simple: |2+

            operator: join
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: commands.local.cmd.set.incident
      id: 6ec75226-5920-42e5-85f9-d96af681c689
      iscommand: true
      name: Set Incident Context ' Trusted IP Address'
      script: Builtin|||setIncident
      type: regular
      version: -1
    taskid: 6ec75226-5920-42e5-85f9-d96af681c689
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 20,
          "y": 1870
        }
      }
  "49":
    continueonerrortype: ""
    id: "49"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "23"
    note: false
    quietmode: 0
    scriptarguments:
      trustedurl:
        complex:
          accessor: URL
          root: Trusted
          transformers:
          - operator: StringifyArray
          - args:
              chars:
                value:
                  simple: '[" "]'
            operator: StripChars
          - args:
              delimiter:
                value:
                  simple: '","'
            operator: split
          - args:
              separator:
                value:
                  simple: |2+

            operator: join
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: commands.local.cmd.set.incident
      id: ca47e743-2abe-41ad-8fa0-6d56885a0209
      iscommand: true
      name: Set Incident Context ' Trusted URL'
      script: Builtin|||setIncident
      type: regular
      version: -1
    taskid: ca47e743-2abe-41ad-8fa0-6d56885a0209
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 450,
          "y": 1870
        }
      }
  "50":
    continueonerrortype: ""
    id: "50"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "27"
    note: false
    quietmode: 0
    scriptarguments:
      trusteddomain:
        complex:
          accessor: Domain
          root: Trusted
          transformers:
          - operator: StringifyArray
          - args:
              chars:
                value:
                  simple: '[" "]'
            operator: StripChars
          - args:
              delimiter:
                value:
                  simple: '","'
            operator: split
          - args:
              separator:
                value:
                  simple: |2+

            operator: join
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: commands.local.cmd.set.incident
      id: 1f186c58-4563-4847-84c6-0b244fbf2aec
      iscommand: true
      name: Set Incident Context ' Trusted Domain'
      script: Builtin|||setIncident
      type: regular
      version: -1
    taskid: 1f186c58-4563-4847-84c6-0b244fbf2aec
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 880,
          "y": 1870
        }
      }
  "51":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                accessor: IP
                root: ExtractedIndicators
          operator: isExists
      label: "yes"
    continueonerrortype: ""
    id: "51"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "14"
      "yes":
      - "9"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 98ab7049-0ce7-4865-8631-268fd92b8c54
      iscommand: false
      name: Is There an IPv4 IP Address in The Submitted Blacklist IoC Request ?
      type: condition
      version: -1
    taskid: 98ab7049-0ce7-4865-8631-268fd92b8c54
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 20,
          "y": 620
        }
      }
  "52":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                accessor: URL
                root: ExtractedIndicators
          operator: isExists
      label: "yes"
    continueonerrortype: ""
    id: "52"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "14"
      "yes":
      - "5"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 20f9b7cc-3648-4b97-893f-942f28c0fa71
      iscommand: false
      name: Is There a URL in The Submitted Blacklist IoC Request ?
      type: condition
      version: -1
    taskid: 20f9b7cc-3648-4b97-893f-942f28c0fa71
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 450,
          "y": 620
        }
      }
  "53":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                filters:
                - - left:
                      iscontext: true
                      value:
                        simple: ExtractedIndicators.Domain
                    operator: in
                    right:
                      iscontext: true
                      value:
                        simple: BlacklistIOC
                root: ExtractedIndicators.Domain
          operator: isExists
        - left:
            iscontext: true
            value:
              complex:
                filters:
                - - left:
                      iscontext: true
                      value:
                        simple: ExtractedIndicators.Domain_Test_
                    operator: in
                    right:
                      iscontext: true
                      value:
                        simple: BlacklistIOC
                root: ExtractedIndicators.Domain_Test_
          operator: isExists
      label: "yes"
    continueonerrortype: ""
    id: "53"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "14"
      "yes":
      - "7"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: f28c4efa-93ae-427a-8e08-41391de535a3
      iscommand: false
      name: Is There a Domain in The Submitted Blacklist IoC Request ?
      type: condition
      version: -1
    taskid: f28c4efa-93ae-427a-8e08-41391de535a3
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 880,
          "y": 620
        }
      }
  "54":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                filters:
                - - left:
                      iscontext: true
                      value:
                        simple: ExtractedIndicators.File
                    operator: in
                    right:
                      iscontext: true
                      value:
                        simple: BlacklistIOC
                root: ExtractedIndicators.File
          operator: isExists
      label: "yes"
    continueonerrortype: ""
    id: "54"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "14"
      "yes":
      - "11"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 99f363d6-5ec2-43aa-81cc-f7bb048a09cb
      iscommand: false
      name: Is There a Hash in The Submitted Blacklist IoC Request ?
      type: condition
      version: -1
    taskid: 99f363d6-5ec2-43aa-81cc-f7bb048a09cb
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 1310,
          "y": 620
        }
      }
  "55":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                accessor: IsInternal
                root: IsUrlPartOfDomain
          operator: containsGeneral
          right:
            value:
              simple: "true"
      label: "yes"
    continueonerrortype: ""
    id: "55"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "23"
      "yes":
      - "21"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 016474e5-0df2-484b-83bb-ae287fed5f75
      iscommand: false
      name: Are There URL(s) Part of The Trusted Domain List
      type: condition
      version: -1
    taskid: 016474e5-0df2-484b-83bb-ae287fed5f75
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 450,
          "y": 1450
        }
      }
  "56":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                root: ExtractedIndicators
          operator: isExists
          right:
            value: {}
      label: "yes"
    continueonerrortype: ""
    id: "56"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "39"
      "yes":
      - "57"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 6cbefadf-12e1-4449-8feb-ff56723799b5
      iscommand: false
      name: Is 'ExtractedIndicators' Context Set ?
      type: condition
      version: -1
    taskid: 6cbefadf-12e1-4449-8feb-ff56723799b5
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 670,
          "y": -180
        }
      }
  "57":
    continueonerrortype: ""
    id: "57"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "39"
    note: false
    quietmode: 0
    scriptarguments:
      key:
        simple: ExtractedIndicators
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: |-
        Delete field from context.

        This automation runs using the default Limited User role, unless you explicitly change the permissions.
        For more information, see the section about permissions here:
        https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/6.10/Cortex-XSOAR-Administrator-Guide/Automations
      id: aa49d6f0-199a-4c45-8bfe-4b2910f89e4a
      iscommand: false
      name: Detele 'ExtractedIndicators' Context
      script: DeleteContext
      type: regular
      version: -1
    taskid: aa49d6f0-199a-4c45-8bfe-4b2910f89e4a
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 670,
          "y": 20
        }
      }
  "58":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                accessor: rawType
                root: incident
                transformers:
                - operator: toLowerCase
          operator: isEqualString
          right:
            value:
              simple: ioc validation for blacklisting
      label: "yes"
    continueonerrortype: ""
    id: "58"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "60"
      "yes":
      - "59"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 60bc6449-65cd-4d66-8260-8a978a88a025
      iscommand: false
      name: Check If Type is 'IOC Validation For Blacklisting'
      type: condition
      version: -1
    taskid: 60bc6449-65cd-4d66-8260-8a978a88a025
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 1960,
          "y": 3460
        }
      }
  "59":
    continueonerrortype: ""
    id: "59"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "60"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: commands.local.cmd.close.inv
      id: 7816c882-79bc-46c5-8647-73e23128b6c0
      iscommand: true
      name: Close Automation
      script: Builtin|||closeInvestigation
      type: regular
      version: -1
    taskid: 7816c882-79bc-46c5-8647-73e23128b6c0
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1960,
          "y": 3660
        }
      }
  "60":
    continueonerrortype: ""
    id: "60"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 4b1b050c-0190-42bf-8fde-36db5645aa17
      iscommand: false
      name: The End
      type: title
      version: -1
    taskid: 4b1b050c-0190-42bf-8fde-36db5645aa17
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 1960,
          "y": 3840
        }
      }
version: -1
view: |-
  {
    "linkLabelsPosition": {
      "1_14_#default#": 0.15,
      "1_56_yes": 0.46,
      "23_24_yes": 0.45,
      "23_36_#default#": 0.1,
      "25_26_yes": 0.5,
      "25_27_#default#": 0.21,
      "27_28_yes": 0.46,
      "27_36_#default#": 0.11,
      "29_30_yes": 0.47,
      "29_31_#default#": 0.32,
      "31_32_yes": 0.48,
      "31_36_#default#": 0.1,
      "46_36_#default#": 0.15,
      "46_47_yes": 0.21,
      "51_9_yes": 0.5,
      "52_5_yes": 0.45,
      "53_7_yes": 0.47,
      "54_11_yes": 0.47,
      "55_21_yes": 0.44,
      "55_23_#default#": 0.22,
      "56_57_yes": 0.42,
      "58_59_yes": 0.53
    },
    "paper": {
      "dimensions": {
        "height": 4425,
        "width": 2560,
        "x": 20,
        "y": -520
      }
    }
  }
