playbook-QRadar_IoC_Response.yml
contentitemexportablefields:
  contentitemfields:
    definitionid: ""
    fromServerVersion: ""
    itemVersion: ""
    packID: ""
    packName: ""
    prevname: ""
    propagationLabels:
    - all
    toServerVersion: ""
id: ecdb2e2f-8976-424c-8ed6-10697deb792e
inputs: []
name: QRadar IoC Response
outputs: []
starttaskid: "0"
tasks:
  "0":
    continueonerrortype: ""
    id: "0"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "1"
      - "2"
      - "3"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 33864449-dbc8-4dbe-84a0-69dfda48cd33
      iscommand: false
      name: ""
      version: -1
    taskid: 33864449-dbc8-4dbe-84a0-69dfda48cd33
    timertriggers: []
    type: start
    view: |-
      {
        "position": {
          "x": 560,
          "y": 90
        }
      }
  "1":
    continueonerrortype: ""
    id: "1"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    scriptarguments:
      entry_id:
        complex:
          accessor: EntryID
          root: InfoFile
      threshold:
        simple: "90"
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: dd9a9be8-76ac-48fa-826e-d908c73d6cff
      iscommand: false
      name: Fetch IP from recorded future
      script: 0168202e-ccbb-45b4-8c04-ab2dc493a3a6
      type: regular
      version: -1
    taskid: dd9a9be8-76ac-48fa-826e-d908c73d6cff
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 140,
          "y": 290
        }
      }
  "2":
    continueonerrortype: ""
    id: "2"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    scriptarguments:
      threshold:
        simple: "90"
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Extracts the domain risk list from Recorded Future and creates
        indicators accordingly.
      id: 2aad6a1e-6232-43d5-8bcb-1f8014479dc0
      iscommand: false
      name: Fetch domain from RF
      script: RecordedFutureDomainRiskList
      type: regular
      version: -1
    taskid: 2aad6a1e-6232-43d5-8bcb-1f8014479dc0
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 570,
          "y": 290
        }
      }
  "3":
    continueonerrortype: ""
    id: "3"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    scriptarguments:
      threshold:
        simple: "90"
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Extracts the hash risk list from Recorded Future and creates indicators
        accordingly.
      id: 08672657-4cd1-4fe9-8581-a9ea59cd51dd
      iscommand: false
      name: Fetch hash from RF
      script: RecordedFutureHashRiskList
      type: regular
      version: -1
    taskid: 08672657-4cd1-4fe9-8581-a9ea59cd51dd
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1030,
          "y": 290
        }
      }
version: -1
view: |-
  {
    "linkLabelsPosition": {},
    "paper": {
      "dimensions": {
        "height": 295,
        "width": 1270,
        "x": 140,
        "y": 90
      }
    }
  }
