playbook-Content_Update_Manager_copy.yml
contentitemexportablefields:
  contentitemfields:
    definitionid: ""
    fromServerVersion: 6.0.0
    itemVersion: 1.0.6
    packID: ""
    packName: XSOAR Content Update Notifications
    prevname: ""
    propagationLabels:
    - all
    toServerVersion: ""
description: "This playbook checks for any available content updates for selected
  installed content packs and notifies users via e-mail or Slack. \nIt also contains
  an auto-update flow that lets users decide via playbook inputs or communication
  tasks if they want to trigger an auto-update process to install all updates that
  were found.\nThis playbook can be used as a Cortex XSOAR job to help users track
  marketplace pack updates and install them regularly."
id: 620d245d-d557-4eb5-8283-0b5d3a950012
inputs:
- description: A CSV of packs to monitor.
  key: packs
  playbookInputQuery: null
  required: true
  value:
    complex:
      accessor: contentpackselection
      root: incident
      transformers:
      - args:
          applyIfEmpty: {}
          defaultValue:
            value:
              simple: All
        operator: SetIfEmpty
      - args:
          delimiter:
            value:
              simple: ','
        operator: split
name: Content Update Manager_copy
outputs: []
sourceplaybookid: Content Update Manager
starttaskid: "0"
tasks:
  "0":
    continueonerrortype: ""
    id: "0"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "31"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 40eb57e7-f9d5-44d3-8aa0-58a08e9bc94f
      iscommand: false
      name: ""
      version: -1
    taskid: 40eb57e7-f9d5-44d3-8aa0-58a08e9bc94f
    timertriggers: []
    type: start
    view: |-
      {
        "position": {
          "x": 120,
          "y": 510
        }
      }
  "5":
    continueonerrortype: ""
    id: "5"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "9"
    note: false
    quietmode: 0
    scriptarguments:
      closeNotes:
        simple: ${incident.closeNotes}
      closeReason:
        simple: ${incident.closeReason}
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: Close the investigation.
      id: 2026679e-dbf5-4189-8950-e7caf12f46e6
      iscommand: true
      name: Close investigation
      script: Builtin|||closeInvestigation
      type: regular
      version: -1
    taskid: 2026679e-dbf5-4189-8950-e7caf12f46e6
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 460,
          "y": 4690
        }
      }
  "6":
    continueonerrortype: ""
    id: "6"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "59"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: f6948e48-83c0-4d8d-8d7f-8bd026843d17
      iscommand: false
      name: Process Notifications
      type: title
      version: -1
    taskid: f6948e48-83c0-4d8d-8d7f-8bd026843d17
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 420,
          "y": 1525
        }
      }
  "9":
    continueonerrortype: ""
    id: "9"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 3823bcc9-b881-4926-890b-7b8410f941bd
      iscommand: false
      name: Done
      type: title
      version: -1
    taskid: 3823bcc9-b881-4926-890b-7b8410f941bd
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 460,
          "y": 4875
        }
      }
  "10":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                filters:
                - - left:
                      iscontext: true
                      value:
                        simple: modules.commands.name
                    operator: isEqualString
                    right:
                      value:
                        simple: send-mail
                - - left:
                      iscontext: true
                      value:
                        simple: modules.state
                    operator: isEqualString
                    right:
                      value:
                        simple: active
                root: modules
          operator: isNotEmpty
      - - left:
            iscontext: true
            value:
              complex:
                root: inputs.notificationemail
          operator: isNotEmpty
      label: Send Emails
    continueonerrortype: ""
    id: "10"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "43"
      Send Emails:
      - "46"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Checks if e-mail addresses are provided in the inputs and whether
        any "send-mail" compatible integrations are enabled.
      id: 1080ec15-a855-4dd7-835f-6a4ee00a80ab
      iscommand: false
      name: Are there e-mail addresses?
      type: condition
      version: -1
    taskid: 1080ec15-a855-4dd7-835f-6a4ee00a80ab
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 700,
          "y": 1970
        }
      }
  "12":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                filters:
                - - left:
                      iscontext: true
                      value:
                        simple: modules.brand
                    operator: containsString
                    right:
                      value:
                        simple: Slack
                - - left:
                      iscontext: true
                      value:
                        simple: modules.state
                    operator: isEqualString
                    right:
                      value:
                        simple: active
                root: modules
          operator: isNotEmpty
      - - left:
            iscontext: true
            value:
              complex:
                root: inputs.slackchannel
          operator: isNotEmpty
      label: Send Slack Channel
    continueonerrortype: ""
    id: "12"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "43"
      Send Slack Channel:
      - "18"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Checks if a Slack channel is provided in the inputs and whether
        any Slack integrations are configured.
      id: 53e7671c-a2db-4954-8364-0dac8903f6a7
      iscommand: false
      name: Are there Slack channels?
      type: condition
      version: -1
    taskid: 53e7671c-a2db-4954-8364-0dac8903f6a7
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 1157.5,
          "y": 1970
        }
      }
  "13":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                filters:
                - - left:
                      iscontext: true
                      value:
                        simple: modules.brand
                    operator: containsString
                    right:
                      value:
                        simple: Slack
                - - left:
                      iscontext: true
                      value:
                        simple: modules.state
                    operator: isEqualString
                    right:
                      value:
                        simple: active
                root: modules
          operator: isNotEmpty
      - - left:
            iscontext: true
            value:
              complex:
                root: inputs.slackuser
          operator: isNotEmpty
      label: Send Slack User
    continueonerrortype: ""
    id: "13"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "43"
      Send Slack User:
      - "45"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Checks if a Slack username is provided in the inputs and whether
        any Slack integrations are configured.
      id: 0cc12dec-00ce-4e69-8cb5-2a8e7e3fd342
      iscommand: false
      name: Are there Slack users?
      type: condition
      version: -1
    taskid: 0cc12dec-00ce-4e69-8cb5-2a8e7e3fd342
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 1610,
          "y": 1970
        }
      }
  "16":
    continueonerrortype: ""
    id: "16"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "17"
    note: false
    quietmode: 0
    scriptarguments:
      closeNotes:
        simple: There are no available updates.
      closeReason:
        simple: Resolved
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: Sets closing reason and notes for the investigation.
      id: 396c4cef-ad44-4a04-8129-2c58836b1d51
      iscommand: true
      name: Set closing information - no updates
      script: Builtin|||setIncident
      type: regular
      version: -1
    taskid: 396c4cef-ad44-4a04-8129-2c58836b1d51
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 2010,
          "y": 4370
        }
      }
  "17":
    continueonerrortype: ""
    id: "17"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "5"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: e4a2a17f-7107-4aa1-89a4-f8709e6f49a5
      iscommand: false
      name: Close Investigation
      type: title
      version: -1
    taskid: e4a2a17f-7107-4aa1-89a4-f8709e6f49a5
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 460,
          "y": 4545
        }
      }
  "18":
    continueonerror: true
    continueonerrortype: ""
    form:
      description: ""
      expired: false
      questions:
      - defaultrows: []
        fieldassociated: ""
        gridcolumns: []
        id: "0"
        label: ""
        labelarg:
          simple: Would you like XSOAR to perform automatic update for the found content
            packs?
        options: []
        optionsarg:
        - simple: "No"
        - simple: "Yes"
        placeholder: ""
        readonly: false
        required: false
        tooltip: ""
        type: singleSelect
      sender: ""
      title: New content updates available for XSOAR
      totalanswers: 0
    id: "18"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    message:
      bcc: null
      body:
        complex:
          root: ContentData
          transformers:
          - args:
              field:
                value:
                  simple: name
            operator: getField
          - args:
              prefix:
                value:
                  simple: '*- '
              suffix:
                value:
                  simple: '*'
            operator: concat
          - args:
              separator:
                value:
                  simple: |2+

            operator: join
          - args:
              prefix:
                value:
                  simple: |+
                    There are content updates available for XSOAR:

              suffix:
                value:
                  simple: |2

                    View them here:
            operator: concat
          - args:
              prefix: {}
              suffix:
                iscontext: true
                value:
                  simple: ServerURL.URL
            operator: concat
          - args:
              prefix: {}
              suffix:
                value:
                  simple: |
                    /#/market/installed
            operator: concat
          - args:
              prefix:
                value:
                  simple: |2+

              suffix:
                value:
                  simple: |
                    Please answer the survey below if you wish for XSOAR to perform an auto-update process on the packs that were found:
            operator: concat
      cc: null
      format: ""
      methods:
      - SlackV2
      - SlackV3
      subject: null
      timings:
        completeafterreplies: 1
        completeaftersla: false
        completeafterv2: false
        retriescount: 2
        retriesinterval: 360
      to:
        complex:
          root: inputs.slackchannel
    nexttasks:
      '#none#':
      - "43"
    note: false
    quietmode: 0
    scriptarguments:
      channel:
        complex:
          accessor: contentnotificationslackchannel
          root: incident
      ignoreAddURL:
        simple: "true"
      message:
        complex:
          root: ContentData
          transformers:
          - args:
              field:
                value:
                  simple: name
            operator: getField
          - args:
              prefix:
                value:
                  simple: '*- '
              suffix:
                value:
                  simple: '*'
            operator: concat
          - args:
              separator:
                value:
                  simple: |2+

            operator: join
          - args:
              prefix:
                value:
                  simple: |+
                    There are content updates available for XSOAR:

              suffix:
                value:
                  simple: |2

                    View them here:
            operator: concat
          - args:
              prefix: {}
              suffix:
                iscontext: true
                value:
                  simple: ServerURL.URL
            operator: concat
          - args:
              prefix: {}
              suffix:
                value:
                  simple: /#/market/installed
            operator: concat
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Sends a Slack message to a user, group, or channel.
      id: df34291d-c65b-4292-8e78-b7fb020b1388
      iscommand: false
      name: Send Slack notification and question to channel
      type: collection
      version: -1
    taskid: df34291d-c65b-4292-8e78-b7fb020b1388
    timertriggers: []
    type: collection
    view: |-
      {
        "position": {
          "x": 1157.5,
          "y": 2170
        }
      }
  "19":
    continueonerrortype: ""
    id: "19"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "17"
    note: false
    quietmode: 0
    scriptarguments:
      closeNotes:
        simple: The "Content Update Manager" has finished its run.
      closeReason:
        simple: Resolved
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: Set closing reason and notes for the investigation.
      id: 4520c539-5014-4dab-8e98-fe25b0d52f7e
      iscommand: true
      name: Set closing information - finished update
      script: Builtin|||setIncident
      type: regular
      version: -1
    taskid: 4520c539-5014-4dab-8e98-fe25b0d52f7e
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 460,
          "y": 4380
        }
      }
  "23":
    continueonerrortype: ""
    id: "23"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 720
      wait: 120
    nexttasks:
      '#none#':
      - "26"
    note: false
    quietmode: 0
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      description: This playbook checks for content updates.
      id: 3fcb2cc3-9a9b-4d8e-84d8-cb35435496c1
      iscommand: false
      name: Check For Content Installation
      playbookId: Check For Content Installation
      type: playbook
      version: -1
    taskid: 3fcb2cc3-9a9b-4d8e-84d8-cb35435496c1
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 420,
          "y": 3030
        }
      }
  "24":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                root: ContentData
          operator: isNotEmpty
      label: "yes"
    continueonerrortype: ""
    id: "24"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "38"
      "yes":
      - "6"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Checks if relevant updates are available. It includes all updates
        if the user selects monitoring "All" packs.
      id: f0b91b9c-bac0-4d80-8470-086e04affe7e
      iscommand: false
      name: Are there relevant updates?
      type: condition
      version: -1
    taskid: f0b91b9c-bac0-4d80-8470-086e04affe7e
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 120,
          "y": 1350
        }
      }
  "25":
    continueonerrortype: ""
    id: "25"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "17"
    note: false
    quietmode: 0
    scriptarguments:
      closeNotes:
        complex:
          accessor: contentupdatemanagerpackselection
          root: incident
          transformers:
          - args:
              separator:
                value:
                  simple: ', '
            operator: join
          - args:
              prefix:
                value:
                  simple: Updates available but they do not match the user filter
                    (
              suffix:
                value:
                  simple: )
            operator: concat
      closeReason:
        simple: Resolved
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: Sets closing reason and notes for the investigation.
      id: 1ffccb9b-a426-49c4-8d7f-367797599c4c
      iscommand: true
      name: Set closing information - no updates
      script: Builtin|||setIncident
      type: regular
      version: -1
    taskid: 1ffccb9b-a426-49c4-8d7f-367797599c4c
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -390,
          "y": 4370
        }
      }
  "26":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: PacksUpdated
          operator: isTrue
      label: "yes"
    continueonerrortype: ""
    id: "26"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "50"
      "yes":
      - "72"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Checks whether the packs were updated after either the sub-playbook
        timed out or there are no more updates to apply. It results in the "yes" branch
        if the installed updates match those selected in the content packs to be monitored.
      id: e6bbe07d-c396-4839-84ab-f5720e90fd1b
      iscommand: false
      name: Were the packs updated?
      type: condition
      version: -1
    taskid: e6bbe07d-c396-4839-84ab-f5720e90fd1b
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 420,
          "y": 3200
        }
      }
  "29":
    continueonerror: true
    continueonerrortype: ""
    id: "29"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "30"
    note: false
    quietmode: 0
    scriptarguments:
      channel:
        complex:
          root: inputs.slackchannel
      channel_id:
        complex:
          root: inputs.slackchannelid
      ignoreAddURL:
        simple: "true"
      message:
        complex:
          root: ContentDataPreCheck
          transformers:
          - operator: Stringify
          - args:
              prefix:
                value:
                  simple: |+
                    The "Content Update Manager" playbook  has finished updating the packs!

                    The following packs were not updated successfully:

              suffix: {}
            operator: concat
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Sends a Slack message to a user, group, or channel.
      id: e9369929-0f99-4a20-8deb-ee1a3d3fd19e
      iscommand: true
      name: Send Slack notification
      script: '|||send-notification'
      type: regular
      version: -1
    taskid: e9369929-0f99-4a20-8deb-ee1a3d3fd19e
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -60,
          "y": 3860
        }
      }
  "30":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                root: ContentDataPreCheck
          operator: isNotEqualString
          right:
            value:
              simple: None.
      label: "yes"
    continueonerrortype: ""
    id: "30"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "19"
      "yes":
      - "73"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: Were there any failed updates?
      id: caeb1a6c-c054-481e-8a20-b3ed31993364
      iscommand: false
      name: Were there any failed updates?
      type: condition
      version: -1
    taskid: caeb1a6c-c054-481e-8a20-b3ed31993364
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 460,
          "y": 4040
        }
      }
  "31":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                root: inputs.packs
                transformers:
                - operator: toLowerCase
          operator: isEqualString
          right:
            value:
              simple: all
        - left:
            iscontext: true
            value:
              complex:
                root: inputs.packs
          operator: isEmpty
      label: "No"
    continueonerrortype: ""
    id: "31"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "35"
      "No":
      - "33"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Checks whether the user provided a specific content pack update
        filter other than "All".
      id: 26558dc2-b682-4bee-865c-25b13b057f4e
      iscommand: false
      name: Is there a user filter?
      type: condition
      version: -1
    taskid: 26558dc2-b682-4bee-865c-25b13b057f4e
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 120,
          "y": 660
        }
      }
  "33":
    continueonerror: true
    continueonerrortype: ""
    fieldMapping:
    - incidentfield: Content Updates Available
      output:
        complex:
          root: ContentData
          transformers:
          - operator: Stringify
          - args:
              separator:
                value:
                  simple: ','
            operator: join
          - args:
              prefix:
                value:
                  simple: '['
              suffix:
                value:
                  simple: ']'
            operator: concat
          - operator: 6b3c5e6d-4da6-44bc-8c19-f3608b077e72
    id: "33"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "71"
    note: false
    quietmode: 0
    scriptarguments:
      append:
        simple: "false"
      key:
        simple: ContentData
      value:
        complex:
          root: ContentPreData
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Add all of the existing updates to a check list.
      id: ded0d45c-55aa-4847-8e7b-1c542dfc3117
      iscommand: false
      name: Add all updates to check list
      script: Set
      type: regular
      version: -1
    taskid: ded0d45c-55aa-4847-8e7b-1c542dfc3117
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 400,
          "y": 830
        }
      }
  "35":
    continueonerror: true
    continueonerrortype: ""
    fieldMapping:
    - incidentfield: Content Updates Available
      output:
        complex:
          root: ContentData
          transformers:
          - operator: Stringify
          - args:
              separator:
                value:
                  simple: ','
            operator: join
          - args:
              prefix:
                value:
                  simple: '['
              suffix:
                value:
                  simple: ']'
            operator: concat
          - operator: 6b3c5e6d-4da6-44bc-8c19-f3608b077e72
    id: "35"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "71"
    note: false
    quietmode: 0
    scriptarguments:
      append:
        simple: "true"
      key:
        simple: ContentData
      value:
        complex:
          filters:
          - - left:
                iscontext: true
                value:
                  simple: ContentPreData.name
              operator: in
              right:
                iscontext: true
                value:
                  simple: ${inputs.packs}
          root: ContentPreData
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Set a value in context under the key you entered.
      id: ce3ed7ca-685e-4eb6-808a-1c569d65536f
      iscommand: false
      name: Add specific updates to check list
      script: Set
      type: regular
      version: -1
    taskid: ce3ed7ca-685e-4eb6-808a-1c569d65536f
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -137.5,
          "y": 830
        }
      }
  "38":
    continueonerrortype: ""
    id: "38"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "25"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: ec80fed9-637b-4578-88dd-929a41fae176
      iscommand: false
      name: Close Investigation
      type: title
      version: -1
    taskid: ec80fed9-637b-4578-88dd-929a41fae176
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": -390,
          "y": 1525
        }
      }
  "39":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                filters:
                - - left:
                      iscontext: true
                      value:
                        simple: modules.brand
                    operator: containsString
                    right:
                      value:
                        simple: Slack
                - - left:
                      iscontext: true
                      value:
                        simple: modules.state
                    operator: isEqualString
                    right:
                      value:
                        simple: active
                root: modules
          operator: isNotEmpty
      - - left:
            iscontext: true
            value:
              complex:
                root: inputs.slackchannel
          operator: isNotEmpty
        - left:
            iscontext: true
            value:
              simple: inputs.slackchannelid
          operator: isNotEmpty
      label: Send Slack channel update
    continueonerrortype: ""
    id: "39"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "30"
      Send Slack channel update:
      - "29"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Checks if a Slack channel is provided in the inputs and whether
        any Slack integrations are configured.
      id: 2263d9ce-9426-490a-868e-aedd20b9b34a
      iscommand: false
      name: Are there Slack channels?
      type: condition
      version: -1
    taskid: 2263d9ce-9426-490a-868e-aedd20b9b34a
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": -20,
          "y": 3690
        }
      }
  "40":
    continueonerrortype: ""
    id: "40"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "70"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Collect packs data for packs with updates.
      id: 1949d61e-f0b0-48e9-847b-e6b3884e486a
      iscommand: false
      name: Collect packs data
      script: CollectPacksData
      type: regular
      version: -1
    taskid: 1949d61e-f0b0-48e9-847b-e6b3884e486a
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 420,
          "y": 2685
        }
      }
  "43":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                accessor: "0"
                root: New content updates available for XSOAR.Answers
                transformers:
                - operator: toLowerCase
          operator: isNotEqualString
          right:
            value:
              simple: "no"
      label: "yes"
    continueonerrortype: ""
    id: "43"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "44"
      "yes":
      - "40"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Should the playbook perform auto-update?
      id: b0a13de8-9ca9-4d2c-88da-74e873c7e2fe
      iscommand: false
      name: Should the playbook perform auto-update?
      type: condition
      version: -1
    taskid: b0a13de8-9ca9-4d2c-88da-74e873c7e2fe
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 1157.5,
          "y": 2340
        }
      }
  "44":
    continueonerrortype: ""
    id: "44"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "62"
      "yes":
      - "40"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Manual - Do you allow the playbook to perform auto-update?
      id: 414b53e8-58ee-45db-8721-32cff61e188a
      iscommand: false
      name: Manual - Do you allow the playbook to perform auto-update?
      type: condition
      version: -1
    taskid: 414b53e8-58ee-45db-8721-32cff61e188a
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 1377.5,
          "y": 2510
        }
      }
  "45":
    continueonerror: true
    continueonerrortype: ""
    form:
      description: ""
      expired: false
      questions:
      - defaultrows: []
        fieldassociated: ""
        gridcolumns: []
        id: "0"
        label: ""
        labelarg:
          simple: Would you like XSOAR to perform automatic update for the found content
            packs?
        options: []
        optionsarg:
        - simple: "No"
        - simple: "Yes"
        placeholder: ""
        readonly: false
        required: false
        tooltip: ""
        type: singleSelect
      sender: ""
      title: New content updates available for XSOAR
      totalanswers: 0
    id: "45"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    message:
      bcc: null
      body:
        complex:
          root: ContentData
          transformers:
          - args:
              field:
                value:
                  simple: name
            operator: getField
          - args:
              prefix:
                value:
                  simple: '*- '
              suffix:
                value:
                  simple: '*'
            operator: concat
          - args:
              separator:
                value:
                  simple: |2+

            operator: join
          - args:
              prefix:
                value:
                  simple: |+
                    There are content updates available for XSOAR:

              suffix:
                value:
                  simple: |2

                    View them here:
            operator: concat
          - args:
              prefix: {}
              suffix:
                iscontext: true
                value:
                  simple: ServerURL.URL
            operator: concat
          - args:
              prefix: {}
              suffix:
                value:
                  simple: |
                    /#/market/installed
            operator: concat
          - args:
              prefix:
                value:
                  simple: |2+


              suffix:
                value:
                  simple: |
                    Please answer the survey below if you wish for XSOAR to perform an auto-update process on the packs that were found:
            operator: concat
      cc: null
      format: ""
      methods:
      - SlackV2
      - SlackV3
      subject: null
      timings:
        completeafterreplies: 1
        completeaftersla: false
        completeafterv2: false
        retriescount: 2
        retriesinterval: 360
      to:
        complex:
          root: inputs.slackuser
    nexttasks:
      '#none#':
      - "43"
    note: false
    quietmode: 0
    scriptarguments:
      channel:
        complex:
          accessor: contentnotificationslackusername
          root: incident
      ignoreAddURL:
        simple: "true"
      message:
        complex:
          root: ContentData
          transformers:
          - args:
              field:
                value:
                  simple: name
            operator: getField
          - args:
              prefix:
                value:
                  simple: '*- '
              suffix:
                value:
                  simple: '*'
            operator: concat
          - args:
              separator:
                value:
                  simple: |2+

            operator: join
          - args:
              prefix:
                value:
                  simple: |+
                    There are content updates available for XSOAR:

              suffix:
                value:
                  simple: |2

                    View them here:
            operator: concat
          - args:
              prefix: {}
              suffix:
                iscontext: true
                value:
                  simple: ServerURL.URL
            operator: concat
          - args:
              prefix: {}
              suffix:
                value:
                  simple: /#/market/installed
            operator: concat
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Sends a Slack message to a user, group, or channel.
      id: 1ccdd7a4-e120-466a-88a8-2cc63bb8c124
      iscommand: false
      name: Send Slack notification and question to user
      type: collection
      version: -1
    taskid: 1ccdd7a4-e120-466a-88a8-2cc63bb8c124
    timertriggers: []
    type: collection
    view: |-
      {
        "position": {
          "x": 1610,
          "y": 2170
        }
      }
  "46":
    continueonerror: true
    continueonerrortype: ""
    form:
      description: ""
      expired: false
      questions:
      - defaultrows: []
        fieldassociated: ""
        gridcolumns: []
        id: "0"
        label: ""
        labelarg:
          simple: Would you like XSOAR to perform automatic update for the found content
            packs?
        options: []
        optionsarg:
        - simple: "No"
        - simple: "Yes"
        placeholder: ""
        readonly: false
        required: false
        tooltip: ""
        type: singleSelect
      sender: ""
      title: New content updates available for XSOAR
      totalanswers: 0
    id: "46"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    message:
      bcc: null
      body:
        complex:
          root: ContentData
          transformers:
          - args:
              field:
                value:
                  simple: name
            operator: getField
          - args:
              prefix:
                value:
                  simple: '*- '
              suffix:
                value:
                  simple: '*'
            operator: concat
          - args:
              separator:
                value:
                  simple: |2+

            operator: join
          - args:
              prefix:
                value:
                  simple: |+
                    There are content updates available for XSOAR:

              suffix:
                value:
                  simple: |2

                    View them here:
            operator: concat
          - args:
              prefix: {}
              suffix:
                iscontext: true
                value:
                  simple: ServerURL.URL
            operator: concat
          - args:
              prefix: {}
              suffix:
                value:
                  simple: |
                    /#/market/installed
            operator: concat
          - args:
              prefix:
                value:
                  simple: |2+

              suffix:
                value:
                  simple: |
                    Please answer the survey below if you wish for XSOAR to perform an auto-update process on the packs that were found:
            operator: concat
      cc: null
      format: ""
      methods:
      - email
      subject:
        simple: New content updates available for XSOAR
      timings:
        completeafterreplies: 1
        completeaftersla: false
        completeafterv2: false
        retriescount: 2
        retriesinterval: 360
      to:
        complex:
          root: inputs.notificationemail
    nexttasks:
      '#none#':
      - "43"
    note: false
    quietmode: 0
    scriptarguments:
      channel:
        complex:
          accessor: contentnotificationslackchannel
          root: incident
      ignoreAddURL:
        simple: "true"
      message:
        complex:
          root: ContentData
          transformers:
          - args:
              field:
                value:
                  simple: name
            operator: getField
          - args:
              prefix:
                value:
                  simple: '*- '
              suffix:
                value:
                  simple: '*'
            operator: concat
          - args:
              separator:
                value:
                  simple: |2+

            operator: join
          - args:
              prefix:
                value:
                  simple: |+
                    There are content updates available for XSOAR:

              suffix:
                value:
                  simple: |2

                    View them here:
            operator: concat
          - args:
              prefix: {}
              suffix:
                iscontext: true
                value:
                  simple: ServerURL.URL
            operator: concat
          - args:
              prefix: {}
              suffix:
                value:
                  simple: /#/market/installed
            operator: concat
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Sends an email message to a user.
      id: ff34953f-8f84-4f72-86b6-3fedc3cb7f43
      iscommand: false
      name: Send E-mail notification and question
      type: collection
      version: -1
    taskid: ff34953f-8f84-4f72-86b6-3fedc3cb7f43
    timertriggers: []
    type: collection
    view: |-
      {
        "position": {
          "x": 700,
          "y": 2170
        }
      }
  "48":
    continueonerrortype: ""
    id: "48"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    scriptarguments:
      contentupdatesavailable:
        complex:
          root: ContentData
          transformers:
          - args:
              headers:
                value:
                  simple: name,author,categories,useCases,contentItemTypes,currentVersion,lastInstallDate,premium,updated,changelog
              is_auto_json_transform: {}
              json_transform_properties:
                value:
                  simple: '{"changelog": {"keys": ["releaseNotes","released"], "is_nested":
                    true}}'
              title: {}
            operator: JsonToTable
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: Add the list of available updates to the layout.
      id: 53b6e2a4-2d3a-49e4-84b4-88c51932773d
      iscommand: true
      name: Add available updates to layout
      script: Builtin|||setIncident
      type: regular
      version: -1
    taskid: 53b6e2a4-2d3a-49e4-84b4-88c51932773d
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 120,
          "y": 1180
        }
      }
  "50":
    continueonerrortype: ""
    id: "50"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "39"
      - "52"
      - "63"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 71e3303c-4df8-4dc2-8333-15d0c1d2f893
      iscommand: false
      name: Send Slack notification
      type: title
      version: -1
    taskid: 71e3303c-4df8-4dc2-8333-15d0c1d2f893
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 420,
          "y": 3540
        }
      }
  "52":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                filters:
                - - left:
                      iscontext: true
                      value:
                        simple: modules.brand
                    operator: containsString
                    right:
                      value:
                        simple: Slack
                - - left:
                      iscontext: true
                      value:
                        simple: modules.state
                    operator: isEqualString
                    right:
                      value:
                        simple: active
                root: modules
          operator: isNotEmpty
      - - left:
            iscontext: true
            value:
              complex:
                root: inputs.slackuser
          operator: isNotEmpty
      label: Send Slack User
    continueonerrortype: ""
    id: "52"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "30"
      Send Slack User:
      - "53"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Checks if a Slack username is provided in the inputs and whether
        any Slack integrations are configured.
      id: 48a21b8d-0f1e-4fad-8638-fbdbae15eb05
      iscommand: false
      name: Are there Slack users?
      type: condition
      version: -1
    taskid: 48a21b8d-0f1e-4fad-8638-fbdbae15eb05
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 420,
          "y": 3690
        }
      }
  "53":
    continueonerror: true
    continueonerrortype: ""
    id: "53"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "30"
    note: false
    quietmode: 0
    scriptarguments:
      ignoreAddURL:
        simple: "true"
      message:
        complex:
          root: ContentDataPreCheck
          transformers:
          - operator: Stringify
          - args:
              prefix:
                value:
                  simple: |+
                    The "Content Update Manager" playbook  has finished updating the packs!

                    The following packs were not updated successfully:

              suffix: {}
            operator: concat
      to:
        complex:
          root: inputs.slackuser
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Sends a Slack message to a user, group, or channel.
      id: 3475423c-53ff-461e-8e48-265c7c693e31
      iscommand: true
      name: Send Slack notification
      script: '|||send-notification'
      type: regular
      version: -1
    taskid: 3475423c-53ff-461e-8e48-265c7c693e31
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 460,
          "y": 3860
        }
      }
  "59":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                root: inputs.auto_update
                transformers:
                - operator: toLowerCase
          operator: isEqualString
          right:
            value:
              simple: "yes"
        - left:
            iscontext: true
            value:
              simple: inputs.auto_update
          operator: isTrue
      label: "yes"
    continueonerrortype: ""
    id: "59"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "60"
      "yes":
      - "61"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Is the auto-update input set to yes?
      id: 0a6ad0b2-0d88-4091-8b02-d54f01ddfcd8
      iscommand: false
      name: Is the auto-update input set to "Yes"?
      type: condition
      version: -1
    taskid: 0a6ad0b2-0d88-4091-8b02-d54f01ddfcd8
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 420,
          "y": 1660
        }
      }
  "60":
    continueonerrortype: ""
    id: "60"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "10"
      - "12"
      - "13"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: f7135dd7-44eb-4553-83c0-d26bae0443f3
      iscommand: false
      name: Ask by survey
      type: title
      version: -1
    taskid: f7135dd7-44eb-4553-83c0-d26bae0443f3
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 1157.5,
          "y": 1830
        }
      }
  "61":
    continueonerrortype: ""
    id: "61"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "40"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: ce60cec4-68d2-4809-88ac-fe03e3e38542
      iscommand: false
      name: Update packs
      type: title
      version: -1
    taskid: ce60cec4-68d2-4809-88ac-fe03e3e38542
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 420,
          "y": 2540
        }
      }
  "62":
    continueonerrortype: ""
    id: "62"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "23"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Manually update content packs.
      id: 988083e2-1344-4a98-83b6-540df660589e
      iscommand: false
      name: Manually update content packs
      type: regular
      version: -1
    taskid: 988083e2-1344-4a98-83b6-540df660589e
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1390,
          "y": 2720
        }
      }
  "63":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                filters:
                - - left:
                      iscontext: true
                      value:
                        simple: modules.commands.name
                    operator: isEqualString
                    right:
                      value:
                        simple: send-mail
                - - left:
                      iscontext: true
                      value:
                        simple: modules.state
                    operator: isEqualString
                    right:
                      value:
                        simple: active
                root: modules
          operator: isNotEmpty
      - - left:
            iscontext: true
            value:
              complex:
                root: inputs.notificationemail
          operator: isNotEmpty
      label: Send Emails
    continueonerrortype: ""
    id: "63"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "30"
      Send Emails:
      - "64"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Checks if e-mail addresses are provided in the inputs and whether
        any "send-mail" compatible integrations are enabled.
      id: ac0f48bc-bd32-4fa2-8ffc-3b8bf930ef30
      iscommand: false
      name: Are there e-mail addresses?
      type: condition
      version: -1
    taskid: ac0f48bc-bd32-4fa2-8ffc-3b8bf930ef30
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 860,
          "y": 3690
        }
      }
  "64":
    continueonerrortype: ""
    id: "64"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "30"
    note: false
    quietmode: 0
    scriptarguments:
      body:
        complex:
          root: ContentDataPreCheck
          transformers:
          - operator: Stringify
          - args:
              prefix:
                value:
                  simple: |+
                    The "Content Update Manager" playbook  has finished updating the packs!

                    The following packs were not updated successfully:

              suffix: {}
            operator: concat
      subject:
        simple: Content packs updated
      to:
        complex:
          root: inputs.notificationemail
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Sends an email notification using Gmail.
      id: ac4803ab-8690-45f8-83de-9f763d301757
      iscommand: true
      name: Send Email notification
      script: '|||send-mail'
      type: regular
      version: -1
    taskid: ac4803ab-8690-45f8-83de-9f763d301757
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 910,
          "y": 3860
        }
      }
  "70":
    continueonerrortype: ""
    id: "70"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "23"
    note: false
    quietmode: 0
    scriptarguments:
      pack_id_key:
        simple: packid
      pack_version_key:
        simple: packversion
      packs_data:
        simple: ${ConfigurationSetup.MarketplacePacks}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Content packs installer from marketplace.
      id: 03159444-9ab3-453d-8a86-77e1027f27b9
      iscommand: false
      name: Install updates for chosen packs
      script: ContentPackInstaller
      type: regular
      version: -1
    taskid: 03159444-9ab3-453d-8a86-77e1027f27b9
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 420,
          "y": 2850
        }
      }
  "71":
    continueonerrortype: ""
    id: "71"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    scriptarguments:
      content_data:
        complex:
          root: ContentData
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: This script retrieves the latest release notes for selected packs.
      id: ae1b6925-309d-428e-8fd7-f9b8fc182058
      iscommand: false
      name: Save latest release notes
      script: c50fbfb9-2c6d-48e7-80e1-3703a6df58f0
      type: regular
      version: -1
    taskid: ae1b6925-309d-428e-8fd7-f9b8fc182058
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 120,
          "y": 1000
        }
      }
  "72":
    continueonerrortype: ""
    id: "72"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "50"
    note: false
    quietmode: 0
    scriptarguments:
      append:
        simple: "false"
      key:
        simple: ContentDataPreCheck
      value:
        simple: None.
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Set successful update.
      id: 5ee67686-fdf3-4701-80c6-e0b218412fa9
      iscommand: false
      name: Set successful update
      script: SetAndHandleEmpty
      type: regular
      version: -1
    taskid: 5ee67686-fdf3-4701-80c6-e0b218412fa9
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 680,
          "y": 3370
        }
      }
  "73":
    continueonerrortype: ""
    id: "73"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "19"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: Sets closing reason and notes for the investigation.
      id: f377a940-fb77-4e30-8c71-36a18094a15c
      iscommand: false
      name: Manual - review failed update task
      type: regular
      version: -1
    taskid: f377a940-fb77-4e30-8c71-36a18094a15c
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 190,
          "y": 4210
        }
      }
  "74":
    conditions:
    - condition:
      - - left:
            value:
              simple: Common Widgets
          operator: in
          right:
            iscontext: true
            value:
              simple: ${ContentPreData.name}
      label: "yes"
    continueonerror: true
    continueonerrortype: ""
    fieldMapping:
    - incidentfield: Content Updates Available
      output:
        complex:
          root: ContentData
          transformers:
          - operator: Stringify
          - args:
              separator:
                value:
                  simple: ','
            operator: join
          - args:
              prefix:
                value:
                  simple: '['
              suffix:
                value:
                  simple: ']'
            operator: concat
          - operator: 6b3c5e6d-4da6-44bc-8c19-f3608b077e72
    id: "74"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      "yes":
      - "75"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Set a value in context under the key you entered.
      id: 68dab0ef-41d5-47d8-8461-d99719646952
      iscommand: false
      name: Add specific updates to check list
      type: condition
      version: -1
    taskid: 68dab0ef-41d5-47d8-8461-d99719646952
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": -570,
          "y": 735
        }
      }
  "75":
    continueonerrortype: ""
    id: "75"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    scriptarguments:
      append:
        simple: "true"
      key:
        simple: ContentData
      value:
        complex:
          filters:
          - - left:
                iscontext: true
                value:
                  simple: ContentPreData.name
              operator: in
              right:
                iscontext: true
                value:
                  simple: inputs.packs
          root: ContentPreData
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Set a value in context under the key you entered.
      id: c5ee82ad-97f7-4f79-8f50-3d46bf29d4db
      iscommand: false
      name: Set ContentData
      script: Set
      type: regular
      version: -1
    taskid: c5ee82ad-97f7-4f79-8f50-3d46bf29d4db
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -620,
          "y": 1010
        }
      }
version: -1
view: |-
  {
    "linkLabelsPosition": {
      "10_43_#default#": 0.23,
      "12_43_#default#": 0.36,
      "13_43_#default#": 0.41,
      "30_19_#default#": 0.43,
      "43_40_yes": 0.17,
      "44_40_yes": 0.29,
      "74_75_yes": 0.21
    },
    "paper": {
      "dimensions": {
        "height": 4430,
        "width": 3010,
        "x": -620,
        "y": 510
      }
    }
  }
