playbook-TCS-Manage_Shift_Leaves_v1.2_JP.yml
contentitemexportablefields:
  contentitemfields:
    definitionid: ""
    fromServerVersion: ""
    itemVersion: ""
    packID: ""
    packName: ""
    prevname: ""
    propagationLabels:
    - all
    toServerVersion: ""
id: c80413e9-f824-46f3-8b0d-dd419f25c07c
inputs: []
name: TCS-Manage Shift Leaves v1.2_JP
outputs: []
sourceplaybookid: 93c7b31c-1b0c-4657-80a4-352933fc47d1
starttaskid: "0"
tasks:
  "0":
    continueonerrortype: ""
    id: "0"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "1"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 7ff7fa2c-ad3b-4cf1-8a30-079fda077134
      iscommand: false
      name: ""
      version: -1
    taskid: 7ff7fa2c-ad3b-4cf1-8a30-079fda077134
    timertriggers: []
    type: start
    view: |-
      {
        "position": {
          "x": 180,
          "y": -2140
        }
      }
  "1":
    continueonerrortype: ""
    id: "1"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "36"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 6b7d7f4d-2694-4f30-8ac8-c06a93c43f89
      iscommand: false
      name: Map labels
      script: 1f310579-df3e-4ff6-838f-5ff2c92607ea
      type: regular
      version: -1
    taskid: 6b7d7f4d-2694-4f30-8ac8-c06a93c43f89
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 180,
          "y": -1950
        }
      }
  "2":
    continueonerrortype: ""
    id: "2"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 6fc74cb1-8c7c-45a3-829c-04d9c8d9d6eb
      iscommand: false
      name: Close
      type: title
      version: -1
    taskid: 6fc74cb1-8c7c-45a3-829c-04d9c8d9d6eb
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 310,
          "y": 1300
        }
      }
  "3":
    continueonerrortype: ""
    form:
      description: ""
      expired: false
      questions:
      - defaultrows: []
        fieldassociated: ""
        gridcolumns: []
        id: "0"
        label: ""
        labelarg:
          simple: 'Enter the IOC which shared for blocking '
        options: []
        optionsarg: []
        placeholder: ""
        readonly: false
        required: false
        tooltip: ""
        type: longText
      sender: ""
      title: IOC block
      totalanswers: 0
    id: "3"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    message:
      bcc: null
      body: null
      cc: null
      format: ""
      methods: []
      subject: null
      timings:
        completeafterreplies: 1
        completeaftersla: false
        completeafterv2: true
        retriescount: 2
        retriesinterval: 360
      to: null
    nexttasks:
      '#none#':
      - "7"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 780458dd-9b6b-4ef1-8558-78ace8ee2ee0
      iscommand: false
      name: 'Enter the IOC which were shared for blocking '
      type: collection
      version: -1
    taskid: 780458dd-9b6b-4ef1-8558-78ace8ee2ee0
    timertriggers: []
    type: collection
    view: |-
      {
        "position": {
          "x": 180,
          "y": -340
        }
      }
  "4":
    continueonerrortype: ""
    form:
      description: ""
      expired: false
      questions:
      - defaultrows: []
        fieldassociated: ""
        gridcolumns: []
        id: "0"
        label: ""
        labelarg:
          simple: Enter the CR number
        options: []
        optionsarg: []
        placeholder: ""
        readonly: false
        required: false
        tooltip: ""
        type: shortText
      sender: ""
      title: CR number
      totalanswers: 0
    id: "4"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    message:
      bcc: null
      body: null
      cc: null
      format: ""
      methods: []
      subject: null
      timings:
        completeafterreplies: 1
        completeaftersla: false
        completeafterv2: true
        retriescount: 2
        retriesinterval: 360
      to: null
    nexttasks:
      '#none#':
      - "15"
      - "16"
      - "18"
      - "26"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: da97e9e1-6518-46fd-8983-fc54c8d6f4fc
      iscommand: false
      name: Enter the CR number
      type: collection
      version: -1
    taskid: da97e9e1-6518-46fd-8983-fc54c8d6f4fc
    timertriggers: []
    type: collection
    view: |-
      {
        "position": {
          "x": 180,
          "y": -20
        }
      }
  "7":
    continueonerrortype: ""
    id: "7"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "4"
    note: false
    quietmode: 0
    scriptarguments:
      text:
        complex:
          accessor: "0"
          root: IOC block.Answers
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: commands.local.cmd.extract.indicators
      id: 60176ea7-70b9-438b-8d12-820f0b6e7637
      iscommand: true
      name: extract the IOC
      script: Builtin|||extractIndicators
      type: regular
      version: -1
    taskid: 60176ea7-70b9-438b-8d12-820f0b6e7637
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 180,
          "y": -180
        }
      }
  "15":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: ExtractedIndicators.IP
          operator: isExists
          right:
            value: {}
      label: "yes"
    continueonerrortype: ""
    id: "15"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "21"
      "yes":
      - "19"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: c4d7bd5c-e507-4138-822f-79b936ea76d3
      iscommand: false
      name: Any Ip is present
      type: condition
      version: -1
    taskid: c4d7bd5c-e507-4138-822f-79b936ea76d3
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": -330,
          "y": 170
        }
      }
  "16":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: ExtractedIndicators.Domain
          operator: isExists
          right:
            value: {}
      label: "yes"
    continueonerrortype: ""
    id: "16"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "21"
      "yes":
      - "17"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 07d4be74-8f1a-4daa-863c-71a6012fb37f
      iscommand: false
      name: Any Domain is present
      type: condition
      version: -1
    taskid: 07d4be74-8f1a-4daa-863c-71a6012fb37f
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 180,
          "y": 160
        }
      }
  "17":
    continueonerrortype: ""
    id: "17"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      forEach: true
      iscommand: false
      max: 100
      wait: 1
    nexttasks:
      '#none#':
      - "21"
    note: false
    quietmode: 0
    scriptarguments:
      Domain:
        simple: ${ExtractedIndicators.Domain}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: e5f648e0-e6f9-4f86-8ec6-55bc705b7bef
      iscommand: false
      name: TCS-Add CR number tags to domain Indicator
      playbookId: a66ff152-b7c5-4ab3-84ea-9eec693f265c
      type: playbook
      version: -1
    taskid: e5f648e0-e6f9-4f86-8ec6-55bc705b7bef
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 190,
          "y": 430
        }
      }
  "18":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: ExtractedIndicators.URL
          operator: isExists
      label: "yes"
    continueonerrortype: ""
    id: "18"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "21"
      "yes":
      - "20"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: f95d901f-96e8-419b-86f4-f7b233d9e2d2
      iscommand: false
      name: Any URL is present
      type: condition
      version: -1
    taskid: f95d901f-96e8-419b-86f4-f7b233d9e2d2
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 700,
          "y": 170
        }
      }
  "19":
    continueonerrortype: ""
    id: "19"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      forEach: true
      iscommand: false
      max: 100
      wait: 1
    nexttasks:
      '#none#':
      - "21"
    note: false
    quietmode: 0
    scriptarguments:
      IP:
        simple: ${ExtractedIndicators.IP}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 0daf19e7-dffc-459d-85eb-851890a2f2e5
      iscommand: false
      name: TCS-Add CR number to IP Indicator_v1
      playbookId: e87c6ec1-c0f7-4f71-892f-de11cfad093d
      type: playbook
      version: -1
    taskid: 0daf19e7-dffc-459d-85eb-851890a2f2e5
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": -330,
          "y": 435
        }
      }
  "20":
    continueonerrortype: ""
    id: "20"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      forEach: true
      iscommand: false
      max: 100
      wait: 1
    nexttasks:
      '#none#':
      - "21"
    note: false
    quietmode: 0
    scriptarguments:
      URL:
        simple: ${ExtractedIndicators.URL}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: d6a1c69f-ec1e-49c8-8401-d05b6e840b16
      iscommand: false
      name: TCS-Add CR number to URL Indicator_v1
      playbookId: 4d23693a-109b-4ea2-89c9-c656862989bd
      type: playbook
      version: -1
    taskid: d6a1c69f-ec1e-49c8-8401-d05b6e840b16
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 700,
          "y": 445
        }
      }
  "21":
    continueonerrortype: ""
    id: "21"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "25"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: commands.local.cmd.close.inv
      id: 20f59b2a-7fbf-4e11-8360-847c760e4ca5
      iscommand: true
      name: CloseInvestigation
      script: Builtin|||closeInvestigation
      type: regular
      version: -1
    taskid: 20f59b2a-7fbf-4e11-8360-847c760e4ca5
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 430,
          "y": 690
        }
      }
  "22":
    continueonerrortype: ""
    id: "22"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    message:
      bcc: null
      body:
        simple: Any IOC sent for blocking today
      cc: null
      format: ""
      methods: []
      replyOptions:
      - "Yes"
      - "No"
      subject: null
      timings:
        completeafterreplies: 1
        completeaftersla: false
        completeafterv2: true
        retriescount: 2
        retriesinterval: 360
      to: null
    nexttasks:
      "No":
      - "21"
      "Yes":
      - "3"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 76cfd28c-cba7-4020-8449-ae99f0c83d0e
      iscommand: false
      name: 'Any IOC sent for blocking '
      type: condition
      version: -1
    taskid: 76cfd28c-cba7-4020-8449-ae99f0c83d0e
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 180,
          "y": -535
        }
      }
  "25":
    continueonerrortype: ""
    id: "25"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: bfcaa931-65ea-4d59-85eb-41fd2399f9a5
      iscommand: false
      name: END
      type: title
      version: -1
    taskid: bfcaa931-65ea-4d59-85eb-41fd2399f9a5
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 430,
          "y": 870
        }
      }
  "26":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: ExtractedIndicators.File_SHA256
          operator: isExists
      label: "yes"
    continueonerrortype: ""
    id: "26"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "21"
      "yes":
      - "27"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 956cd376-18af-4fbd-8ac5-76366988a69c
      iscommand: false
      name: Any Hash is present
      type: condition
      version: -1
    taskid: 956cd376-18af-4fbd-8ac5-76366988a69c
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 1210,
          "y": 170
        }
      }
  "27":
    continueonerrortype: ""
    id: "27"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      forEach: true
      iscommand: false
      max: 100
      wait: 1
    nexttasks:
      '#none#':
      - "21"
    note: false
    quietmode: 0
    scriptarguments:
      Hash:
        simple: ${ExtractedIndicators.File_SHA256}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: abd795a9-3012-48c3-822e-9816f2273a77
      iscommand: false
      name: TCS-Add CR number to Hash Indicator_v1
      playbookId: 1c041835-6c7c-45a1-8eb7-b934565492b1
      type: playbook
      version: -1
    taskid: abd795a9-3012-48c3-822e-9816f2273a77
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 1200,
          "y": 430
        }
      }
  "28":
    continueonerrortype: ""
    form:
      description: ""
      expired: false
      questions:
      - defaultrows: []
        fieldassociated: artifacts
        gridcolumns: []
        id: "0"
        label: ""
        labelarg:
          simple: Upload TXT File for Break Details(format- FIRST COL -EMPID,SECOND
            COL-BREAK START TIME,THIRD COL - BREAK END TIME. NO NEED TO MENTION THE
            COLUMN HEADERS).
        options: []
        optionsarg: []
        placeholder: ""
        readonly: false
        required: false
        tooltip: ""
        type: attachments
      sender: Your SOC team
      title: Upload TXT File for Break Details(format- FIRST COL -EMPID,SECOND COL-BREAK
        START TIME,THIRD COL - BREAK END TIME. NO NEED TO MENTION THE COLUMN HEADERS).
      totalanswers: 0
    id: "28"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    message:
      bcc: null
      body:
        simple: Upload TXT File for Break Details(format- FIRST COL -EMPID,SECOND
          COL-BREAK START TIME,THIRD COL - BREAK END TIME. NO NEED TO MENTION THE
          COLUMN HEADERS).
      cc: null
      format: ""
      methods: []
      subject: null
      timings:
        completeafterreplies: 1
        completeaftersla: false
        completeafterv2: true
        retriescount: 2
        retriesinterval: 360
      to: null
    nexttasks:
      '#none#':
      - "29"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: a4f8f252-36f5-49fa-8141-e7bf3b2eaa1a
      iscommand: false
      name: Upload TXT File for Break Details(format- FIRST COL -EMPID,SECOND COL-BREAK
        START TIME,THIRD COL - BREAK END TIME. NO NEED TO MENTION THE COLUMN HEADERS).
      type: collection
      version: -1
    taskid: a4f8f252-36f5-49fa-8141-e7bf3b2eaa1a
    timertriggers: []
    type: collection
    view: |-
      {
        "position": {
          "x": 180,
          "y": -1420
        }
      }
  "29":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: File.Extension
          operator: isEqualString
          right:
            value:
              simple: txt
      label: "yes"
    continueonerrortype: ""
    id: "29"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "31"
      "yes":
      - "34"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 2c3177f1-b63c-46fc-8939-3087dbd502f1
      iscommand: false
      name: Check whether file is txt
      type: condition
      version: -1
    taskid: 2c3177f1-b63c-46fc-8939-3087dbd502f1
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 180,
          "y": -1250
        }
      }
  "30":
    continueonerrortype: ""
    id: "30"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "22"
    note: false
    quietmode: 0
    scriptarguments:
      entryid:
        complex:
          accessor: EntryID
          filters:
          - - left:
                iscontext: true
                value:
                  simple: File.Extension
              operator: isEqualString
              right:
                value:
                  simple: txt
          root: File
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: b3d9d6a3-142f-4ab0-802f-5c1ddfa978e8
      iscommand: false
      name: Set Break Details
      script: 13ae11cf-c8dc-4ef6-8f18-3e7fd71a9d48
      type: regular
      version: -1
    taskid: b3d9d6a3-142f-4ab0-802f-5c1ddfa978e8
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 180,
          "y": -770
        }
      }
  "31":
    continueonerrortype: ""
    id: "31"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "33"
    note: false
    quietmode: 0
    scriptarguments:
      value:
        simple: Upload the File in proper format
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Prints text to war room (Markdown supported)
      id: cf741e20-d79e-475c-88d4-f266e942884c
      iscommand: false
      name: Upload the File in proper format
      script: Print
      type: regular
      version: -1
    taskid: cf741e20-d79e-475c-88d4-f266e942884c
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 780,
          "y": -1070
        }
      }
  "32":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: File.Extension
          operator: isEqualString
          right:
            value:
              simple: csv
      label: "yes"
    continueonerrortype: ""
    id: "32"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 7a809cb6-40fe-4489-8622-be043924b24b
      iscommand: false
      name: Check whether file is csv
      type: condition
      version: -1
    taskid: 7a809cb6-40fe-4489-8622-be043924b24b
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 2030,
          "y": -810
        }
      }
  "33":
    continueonerrortype: ""
    form:
      description: ""
      expired: false
      questions:
      - defaultrows: []
        fieldassociated: artifacts
        gridcolumns: []
        id: "0"
        label: ""
        labelarg:
          simple: Upload TXT File for Break Details(format- FIRST COL -EMPID,SECOND
            COL-BREAK START TIME,THIRD COL - BREAK END TIME. NO NEED TO MENTION THE
            COLUMN HEADERS).
        options: []
        optionsarg: []
        placeholder: ""
        readonly: false
        required: true
        tooltip: ""
        type: attachments
      sender: ""
      title: Upload TXT File for Break Details(format- FIRST COL -EMPID,SECOND COL-BREAK
        START TIME,THIRD COL - BREAK END TIME. NO NEED TO MENTION THE COLUMN HEADERS).
      totalanswers: 0
    id: "33"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    message:
      bcc: null
      body: null
      cc: null
      format: ""
      methods: []
      subject: null
      timings:
        completeafterreplies: 1
        completeaftersla: false
        completeafterv2: true
        retriescount: 2
        retriesinterval: 360
      to: null
    nexttasks:
      '#none#':
      - "30"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: f788712b-ad94-4f30-8b2b-61a1d4d99dc4
      iscommand: false
      name: Upload TXT File for Break Details(format- FIRST COL -EMPID,SECOND COL-BREAK
        START TIME,THIRD COL - BREAK END TIME. NO NEED TO MENTION THE COLUMN HEADERS).
      type: collection
      version: -1
    taskid: f788712b-ad94-4f30-8b2b-61a1d4d99dc4
    timertriggers: []
    type: collection
    view: |-
      {
        "position": {
          "x": 790,
          "y": -690
        }
      }
  "34":
    continueonerrortype: ""
    id: "34"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    message:
      bcc: null
      body:
        simple: Do you want to update the details in TXT before break? If Yes, then
          upload the File agan with updated details
      cc: null
      format: ""
      methods: []
      replyOptions:
      - "Yes"
      - "No"
      subject: null
      timings:
        completeafterreplies: 1
        completeaftersla: false
        completeafterv2: true
        retriescount: 2
        retriesinterval: 360
      to: null
    nexttasks:
      "No":
      - "30"
      "Yes":
      - "41"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 97e91500-a103-4b07-8fad-bae00a997099
      iscommand: false
      name: Do you want to update the details in TXT before break?
      type: condition
      version: -1
    taskid: 97e91500-a103-4b07-8fad-bae00a997099
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 180,
          "y": -1055
        }
      }
  "35":
    continueonerrortype: ""
    id: "35"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    scriptarguments:
      command:
        simple: getList listName=\"Operators Profile\"
      cron:
        simple: 1,31 19-21,12-13,4-6 * * *
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Schedule a command to run inside the war room at a future time
        (once or reoccurring)
      id: f30ab74a-f32a-462d-8687-c07a1d93b19a
      iscommand: false
      name: Get details
      script: ScheduleCommand
      type: regular
      version: -1
    taskid: f30ab74a-f32a-462d-8687-c07a1d93b19a
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1210,
          "y": -570
        }
      }
  "36":
    continueonerrortype: ""
    formDisplay:
      bodybackgroundcolor: ""
      bodyfontcolor: ""
      headerbackgroundcolor: ""
      headerfontcolor: ""
      isexternalrtl: false
      sender: ""
      submitbuttonbackgroundcolor: ""
      submitbuttonfontcolor: ""
      submittext: ""
    id: "36"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    message:
      bcc: null
      body:
        simple: Select the Shift
      cc: null
      format: ""
      methods: []
      replyOptions:
      - Morning
      - Noon
      - Night
      - Weekend
      subject: null
      timings:
        completeafterreplies: 1
        completeaftersla: false
        completeafterv2: true
        retriescount: 2
        retriesinterval: 360
      to: null
    nexttasks:
      Morning:
      - "39"
      Night:
      - "40"
      Noon:
      - "38"
      Weekend:
      - "22"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: fdb3e1b4-f24e-4f08-8c55-149454af8d9d
      iscommand: false
      name: Select shift
      type: condition
      version: -1
    taskid: fdb3e1b4-f24e-4f08-8c55-149454af8d9d
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 180,
          "y": -1770
        }
      }
  "38":
    continueonerrortype: ""
    id: "38"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "28"
    note: true
    quietmode: 2
    scriptarguments:
      command:
        simple: '!getList listName="Operators Profile"'
      cron:
        simple: 1,31 19-21 * * *
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Schedule a command to run inside the war room at a future time
        (once or reoccurring)
      id: cef7e86e-a0a0-44a6-80cd-8429f6efbfd1
      iscommand: false
      name: Get details
      script: ScheduleCommand
      type: regular
      version: -1
    taskid: cef7e86e-a0a0-44a6-80cd-8429f6efbfd1
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 180,
          "y": -1600
        }
      }
  "39":
    continueonerrortype: ""
    id: "39"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "28"
    note: true
    quietmode: 2
    scriptarguments:
      command:
        simple: '!getList listName="Operators Profile"'
      cron:
        simple: 1,31 12-13 * * *
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Schedule a command to run inside the war room at a future time
        (once or reoccurring)
      id: 8dae8411-269e-4611-8c6a-728c67d5bed8
      iscommand: false
      name: Get details
      script: ScheduleCommand
      type: regular
      version: -1
    taskid: 8dae8411-269e-4611-8c6a-728c67d5bed8
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -260,
          "y": -1600
        }
      }
  "40":
    continueonerrortype: ""
    id: "40"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "28"
    note: true
    quietmode: 2
    scriptarguments:
      command:
        simple: '!getList listName="Operators Profile"'
      cron:
        simple: 1,31 4-6 * * *
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Schedule a command to run inside the war room at a future time
        (once or reoccurring)
      id: 2e25a5a4-80a2-4f33-82c6-450b7006a103
      iscommand: false
      name: Get details
      script: ScheduleCommand
      type: regular
      version: -1
    taskid: 2e25a5a4-80a2-4f33-82c6-450b7006a103
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 630,
          "y": -1590
        }
      }
  "41":
    continueonerrortype: ""
    id: "41"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "33"
    note: false
    quietmode: 0
    scriptarguments:
      all:
        simple: "no"
      key:
        simple: File
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: |-
        Delete field from context.

        This automation runs using the default Limited User role, unless you explicitly change the permissions.
        For more information, see the section about permissions here:
        https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/6.10/Cortex-XSOAR-Administrator-Guide/Automations
      id: cfad9d1a-73a5-4948-8d95-899a57867879
      iscommand: false
      name: Delete the previous file
      script: DeleteContext
      type: regular
      version: -1
    taskid: cfad9d1a-73a5-4948-8d95-899a57867879
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 790,
          "y": -865
        }
      }
  "42":
    continueonerrortype: ""
    id: "42"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    scriptarguments:
      command:
        simple: getList listName="Operators Profile"
      cron:
        simple: 1 19-21 * * *
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Schedule a command to run inside the war room at a future time
        (once or reoccurring)
      id: cddede2f-4414-4acc-86ea-06f08156f79b
      iscommand: false
      name: Get details
      script: ScheduleCommand
      type: regular
      version: -1
    taskid: cddede2f-4414-4acc-86ea-06f08156f79b
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 700,
          "y": -2030
        }
      }
version: -1
view: |-
  {
    "linkLabelsPosition": {},
    "paper": {
      "dimensions": {
        "height": 3505,
        "width": 2740,
        "x": -330,
        "y": -2140
      }
    }
  }
