playbook-TCS-Validate_Submitted_IOC_v3.0_KK_WIP.yml
contentitemexportablefields:
  contentitemfields:
    definitionid: ""
    fromServerVersion: ""
    itemVersion: ""
    packID: ""
    packName: ""
    prevname: ""
    propagationLabels:
    - all
    toServerVersion: ""
id: d682a411-9689-4cf0-8066-1578cbf73c55
inputs:
- description: ""
  key: suspiciousiocs
  playbookInputQuery: null
  required: false
  value: {}
name: TCS-Validate Submitted IOC v3.0_KK_WIP
outputs: []
sourceplaybookid: 7e0105f5-2558-456a-85df-77c9558ebba6
starttaskid: "0"
tasks:
  "0":
    continueonerrortype: ""
    id: "0"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "1"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 7ce08f09-0529-41c2-88ed-b5435cf8702f
      iscommand: false
      name: ""
      version: -1
    taskid: 7ce08f09-0529-41c2-88ed-b5435cf8702f
    timertriggers: []
    type: start
    view: |-
      {
        "position": {
          "x": 670,
          "y": -180
        }
      }
  "1":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                root: inputs.suspiciousiocs
          operator: isNotEmpty
          right:
            value: {}
      label: "yes"
    continueonerrortype: ""
    id: "1"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "14"
      "yes":
      - "39"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 1d955fc6-c268-4dd5-8e6a-b9aa70458e7e
      iscommand: false
      name: Are There IoC(s) For Blacklisting ?
      type: condition
      version: -1
    taskid: 1d955fc6-c268-4dd5-8e6a-b9aa70458e7e
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 670,
          "y": -10
        }
      }
  "2":
    continueonerrortype: ""
    id: "2"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "51"
      - "52"
      - "53"
      - "54"
    note: false
    quietmode: 0
    scriptarguments:
      append:
        simple: "true"
      key:
        simple: BlacklistIOC
      value:
        complex:
          root: inputs.suspiciousiocs
          transformers:
          - args:
              delimiter:
                value:
                  simple: |2+

            operator: split
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Set a value in context under the key you entered.
      id: aa9d5a09-50f7-42c7-8edd-b5d81a080dff
      iscommand: false
      name: Set IoC(s) In Contest
      script: Set
      type: regular
      version: -1
    taskid: aa9d5a09-50f7-42c7-8edd-b5d81a080dff
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 670,
          "y": 410
        }
      }
  "5":
    continueonerrortype: ""
    id: "5"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "20"
    note: false
    quietmode: 0
    scriptarguments:
      append:
        simple: "true"
      key:
        simple: Blacklist.URL
      value:
        complex:
          filters:
          - - left:
                iscontext: true
                value:
                  simple: BlacklistIOC
              operator: in
              right:
                iscontext: true
                value:
                  simple: ExtractedIndicators.URL
          root: BlacklistIOC
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Set a value in context under the key you entered.
      id: ce4dd7e9-d45b-4268-8267-29bcec80c041
      iscommand: false
      name: Set Blacklist URL in 'Blacklist.URL' Context
      script: Set
      type: regular
      version: -1
    taskid: ce4dd7e9-d45b-4268-8267-29bcec80c041
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 450,
          "y": 870
        }
      }
  "7":
    continueonerrortype: ""
    id: "7"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "22"
    note: false
    quietmode: 0
    scriptarguments:
      append:
        simple: "true"
      key:
        simple: Blacklist.Domain
      value:
        complex:
          filters:
          - - left:
                iscontext: true
                value:
                  simple: BlacklistIOC
              operator: in
              right:
                iscontext: true
                value:
                  simple: ExtractedIndicators.Domain_Test_
            - left:
                iscontext: true
                value:
                  simple: BlacklistIOC
              operator: in
              right:
                iscontext: true
                value:
                  simple: ExtractedIndicators.Domain
          root: BlacklistIOC
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Set a value in context under the key you entered.
      id: 8d5a37c8-e9fd-4ef6-8ab1-22da19b298d5
      iscommand: false
      name: Set Blacklist Domain in 'Blacklist.Domain' Context
      script: Set
      type: regular
      version: -1
    taskid: 8d5a37c8-e9fd-4ef6-8ab1-22da19b298d5
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 880,
          "y": 870
        }
      }
  "9":
    continueonerrortype: ""
    id: "9"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "29"
    note: false
    quietmode: 0
    reputationcalc: 1
    scriptarguments:
      append:
        simple: "true"
      key:
        simple: Blacklist.IPV4
      value:
        complex:
          filters:
          - - left:
                iscontext: true
                value:
                  simple: BlacklistIOC
              operator: in
              right:
                iscontext: true
                value:
                  simple: ExtractedIndicators.IP
          root: BlacklistIOC
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Set a value in context under the key you entered.
      id: 9d56ea56-a472-47f0-863c-44bf809d8c8e
      iscommand: false
      name: Set Blacklist IPv4 IP Address in 'Blacklist.IPV4' Context
      script: Set
      type: regular
      version: -1
    taskid: 9d56ea56-a472-47f0-863c-44bf809d8c8e
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 20,
          "y": 870
        }
      }
  "11":
    continueonerrortype: ""
    id: "11"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "46"
    note: false
    quietmode: 0
    scriptarguments:
      append:
        simple: "true"
      key:
        simple: FinalBlacklist.Hash
      value:
        complex:
          filters:
          - - left:
                iscontext: true
                value:
                  simple: BlacklistIOC
              operator: in
              right:
                iscontext: true
                value:
                  simple: ExtractedIndicators.File
          root: BlacklistIOC
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Set a value in context under the key you entered.
      id: 031920f6-78b2-4ba3-86b3-8be4ebe84163
      iscommand: false
      name: Set Blacklist Hash in 'Blacklist.Hash' Context
      script: Set
      type: regular
      version: -1
    taskid: 031920f6-78b2-4ba3-86b3-8be4ebe84163
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1310,
          "y": 870
        }
      }
  "14":
    continueonerrortype: ""
    id: "14"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "36"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 0a3d3b93-41b1-4c3e-856f-f188b1ea6fa6
      iscommand: false
      name: Check If Submitted IoC(s) Are Part of The Trusted Domain List
      type: title
      version: -1
    taskid: 0a3d3b93-41b1-4c3e-856f-f188b1ea6fa6
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 1960,
          "y": 1080
        }
      }
  "20":
    continueonerrortype: ""
    id: "20"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "55"
    note: false
    quietmode: 0
    scriptarguments:
      domains:
        simple: ${lists.TCS_Customer_Domain_List},${TCS_Created_Domain}
      urls:
        complex:
          accessor: URL
          root: Blacklist
          transformers:
          - args:
              delimiter: {}
            operator: split
          - args:
              separator:
                value:
                  simple: ','
            operator: join
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Checks if the supplied URLs are in the specified domains.
      id: c2ec0183-635d-4aed-8e08-5a6effdaf41d
      iscommand: false
      name: Is The URL Part of The Trusted List
      script: IsUrlPartOfDomain
      type: regular
      version: -1
    taskid: c2ec0183-635d-4aed-8e08-5a6effdaf41d
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 450,
          "y": 1280
        }
      }
  "21":
    continueonerrortype: ""
    id: "21"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "49"
    note: false
    quietmode: 0
    scriptarguments:
      append:
        simple: "true"
      key:
        simple: Trusted.URL
      value:
        complex:
          accessor: URL
          filters:
          - - left:
                iscontext: true
                value:
                  simple: IsUrlPartOfDomain.IsInternal
              operator: isEqualString
              right:
                value:
                  simple: "true"
          - - left:
                iscontext: true
                value:
                  simple: IsUrlPartOfDomain.URL
              operator: in
              right:
                iscontext: true
                value:
                  simple: Blacklist.URL
          root: IsUrlPartOfDomain
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Set a value in context under the key you entered.
      id: 9f8c6d5b-bf08-45a1-83ca-cce8ed94a1af
      iscommand: false
      name: Set Identified Trusted URL in Context
      script: Set
      type: regular
      version: -1
    taskid: 9f8c6d5b-bf08-45a1-83ca-cce8ed94a1af
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 450,
          "y": 1650
        }
      }
  "22":
    continueonerrortype: ""
    id: "22"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "25"
    note: false
    quietmode: 2
    scriptarguments:
      main_domains:
        simple: ${lists.TCS_Customer_Domain_List},${lists.TCS_Created_Domain}
      possible_sub_domains_to_test:
        complex:
          accessor: Domain
          root: Blacklist
          transformers:
          - args:
              delimiter: {}
            operator: split
          - args:
              separator:
                value:
                  simple: ','
            operator: join
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: This script accepts multiple values for both arguments and will
        iterate through each of the domains to check if the specified subdomains are
        located in at least one of the specified main domains. If the tested subdomain
        is in one of the main domains, the result will be true. For example, if the
        domain_to_check values are apps.paloaltonetworks.com and apps.paloaltonetworks.bla
        and the domains_to_compare values are paloaltonetworks.com and demisto.com,
        the result for apps.paloaltonetworks.com will be true since it is a part of
        the paloaltonetworks.com domain. The result for apps.paloaltonetworks.bla
        will be false since it is not a part of the paloaltonetworks.com or demisto.com
        domain.
      id: 97f7f775-caab-45d6-8f15-265215a272cb
      iscommand: false
      name: Is The Domain Part of The Trusted List
      script: IsInternalDomainName
      type: regular
      version: -1
    taskid: 97f7f775-caab-45d6-8f15-265215a272cb
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 880,
          "y": 1280
        }
      }
  "23":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                accessor: URL
                root: Blacklist
          operator: notIn
          right:
            iscontext: true
            value:
              simple: Trusted.URL
      label: "yes"
    continueonerrortype: ""
    id: "23"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "36"
      "yes":
      - "24"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 5d875ea1-42ca-4ad8-8492-57e7931d7aca
      iscommand: false
      name: Are There Any URLs For Blacklisting ?
      type: condition
      version: -1
    taskid: 5d875ea1-42ca-4ad8-8492-57e7931d7aca
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 450,
          "y": 2130
        }
      }
  "24":
    continueonerrortype: ""
    id: "24"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "43"
    note: false
    quietmode: 0
    scriptarguments:
      append:
        simple: "true"
      key:
        simple: FinalBlacklist.URL
      value:
        complex:
          filters:
          - - left:
                iscontext: true
                value:
                  simple: Blacklist.URL
              operator: notIn
              right:
                iscontext: true
                value:
                  simple: Trusted.URL
          root: Blacklist.URL
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Set a value in context under the key you entered.
      id: 629dfeaa-e1dd-44f6-81d0-964f93b9db25
      iscommand: false
      name: Set The Filtered Blacklisting URLs in Context
      script: Set
      tags:
      - validatedioc
      type: regular
      version: -1
    taskid: 629dfeaa-e1dd-44f6-81d0-964f93b9db25
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 450,
          "y": 2380
        }
      }
  "25":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                accessor: IsInternal
                root: IsInternalDomain
          operator: containsGeneral
          right:
            value:
              simple: "true"
      label: "yes"
    continueonerrortype: ""
    id: "25"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "27"
      "yes":
      - "26"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 5b6d2910-2e32-4eb2-8e1d-1f573837a30c
      iscommand: false
      name: Are There Domain(s) Part of The Trusted List
      type: condition
      version: -1
    taskid: 5b6d2910-2e32-4eb2-8e1d-1f573837a30c
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 880,
          "y": 1450
        }
      }
  "26":
    continueonerrortype: ""
    id: "26"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "50"
    note: false
    quietmode: 0
    scriptarguments:
      append:
        simple: "true"
      key:
        simple: Trusted.Domain
      value:
        complex:
          accessor: DomainToTest
          filters:
          - - left:
                iscontext: true
                value:
                  simple: IsInternalDomain.DomainToTest
              operator: in
              right:
                iscontext: true
                value:
                  simple: Blacklist.Domain
          - - left:
                iscontext: true
                value:
                  simple: IsInternalDomain.IsInternal
              operator: isEqualString
              right:
                value:
                  simple: "true"
          root: IsInternalDomain
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Set a value in context under the key you entered.
      id: ba169d7f-5eff-47dc-8574-45a11f2d4644
      iscommand: false
      name: Set Identified Trusted Domain in Context
      script: Set
      type: regular
      version: -1
    taskid: ba169d7f-5eff-47dc-8574-45a11f2d4644
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 880,
          "y": 1650
        }
      }
  "27":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                accessor: Domain
                root: Blacklist
          operator: notIn
          right:
            iscontext: true
            value:
              simple: Trusted.Domain
      label: "yes"
    continueonerrortype: ""
    id: "27"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "36"
      "yes":
      - "28"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 8080b4c8-4ac5-4842-8add-355ab8488f75
      iscommand: false
      name: Are There Any Domains For Blacklisting ?
      type: condition
      version: -1
    taskid: 8080b4c8-4ac5-4842-8add-355ab8488f75
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 880,
          "y": 2130
        }
      }
  "28":
    continueonerrortype: ""
    id: "28"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "45"
    note: false
    quietmode: 0
    scriptarguments:
      append:
        simple: "true"
      key:
        simple: FinalBlacklist.Domain
      value:
        complex:
          filters:
          - - left:
                iscontext: true
                value:
                  simple: Blacklist.Domain
              operator: notIn
              right:
                iscontext: true
                value:
                  simple: Trusted.Domain
          root: Blacklist.Domain
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Set a value in context under the key you entered.
      id: 5e4e88be-1e96-4e78-88f5-53d4d209de79
      iscommand: false
      name: Set The Filtered Blacklisting Domains in Context
      script: Set
      tags:
      - validatedioc
      type: regular
      version: -1
    taskid: 5e4e88be-1e96-4e78-88f5-53d4d209de79
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 880,
          "y": 2380
        }
      }
  "29":
    continueonerrortype: ""
    id: "29"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "31"
      "yes":
      - "30"
    note: false
    quietmode: 0
    scriptarguments:
      ip:
        complex:
          accessor: IPV4
          root: Blacklist
      ipRanges:
        simple: ${lists.Google Public IP Addresses},${lists.Microsoft Public IP Addresses},${lists.TCS_Public_IP_Addresses},${lists.MasterIOC_IP
          Address},${lists.ZscalerIPAddresses}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Returns yes if the IP is in one of the ranges provided, returns
        no otherwise.
      id: fa7bd33a-6808-4575-8414-0f56fb8d1b44
      iscommand: false
      name: Is The IP Address Part of The Trusted List
      script: b502efb7-b0a1-449b-8d9e-31e8fe70f470
      type: condition
      version: -1
    taskid: fa7bd33a-6808-4575-8414-0f56fb8d1b44
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 20,
          "y": 1280
        }
      }
  "30":
    continueonerrortype: ""
    id: "30"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "48"
    note: false
    quietmode: 0
    scriptarguments:
      append:
        simple: "true"
      key:
        simple: Trusted.IPV4
      value:
        complex:
          accessor: Address
          filters:
          - - left:
                iscontext: true
                value:
                  simple: IP.InRange
              operator: isEqualString
              right:
                value:
                  simple: "yes"
          root: IP
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Set a value in context under the key you entered.
      id: cde79aa9-a07e-4ef5-8316-e84f1e065f90
      iscommand: false
      name: Set Identified Trusted IP Address in Context
      script: Set
      type: regular
      version: -1
    taskid: cde79aa9-a07e-4ef5-8316-e84f1e065f90
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 20,
          "y": 1650
        }
      }
  "31":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                accessor: InRange
                root: IP
          operator: isEqualString
          right:
            value:
              simple: "no"
      label: "yes"
    continueonerrortype: ""
    id: "31"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "36"
      "yes":
      - "32"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 0dc2c640-862d-4d23-87f0-24f753a2c9c3
      iscommand: false
      name: Are There Any IP Addresses For Blacklisting ?
      type: condition
      version: -1
    taskid: 0dc2c640-862d-4d23-87f0-24f753a2c9c3
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 20,
          "y": 2130
        }
      }
  "32":
    continueonerrortype: ""
    id: "32"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "44"
    note: false
    quietmode: 0
    scriptarguments:
      append:
        simple: "true"
      key:
        simple: FinalBlacklist.IPV4
      value:
        complex:
          accessor: Address
          filters:
          - - left:
                iscontext: true
                value:
                  simple: IP.InRange
              operator: isEqualString
              right:
                value:
                  simple: "no"
          root: IP
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Set a value in context under the key you entered.
      id: 82907418-5684-49ea-8e24-dacfaa25609a
      iscommand: false
      name: Set The Filtered Blacklisting IP Address in Context
      script: Set
      tags:
      - validatedioc
      type: regular
      version: -1
    taskid: 82907418-5684-49ea-8e24-dacfaa25609a
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 20,
          "y": 2380
        }
      }
  "36":
    continueonerrortype: ""
    id: "36"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "37"
      - "40"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 8c58829a-8024-4594-8f9e-f229ff3d74c8
      iscommand: false
      name: Update Widgets For Trusted & Validated IoC(s)
      type: title
      version: -1
    taskid: 8c58829a-8024-4594-8f9e-f229ff3d74c8
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 1960,
          "y": 2720
        }
      }
  "37":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                root: Trusted
          operator: isExists
      label: "yes"
    continueonerrortype: ""
    id: "37"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "38"
      "yes":
      - "41"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: commands.local.cmd.close.inv
      id: 9e08c072-c67d-4be3-86a5-b86c82ceaac6
      iscommand: false
      name: Are There Trusted IoC(s)?
      type: condition
      version: -1
    taskid: 9e08c072-c67d-4be3-86a5-b86c82ceaac6
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 1720,
          "y": 2890
        }
      }
  "38":
    continueonerrortype: ""
    id: "38"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 11634f6b-20b4-4d04-862c-a13e00111a08
      iscommand: false
      name: The End
      type: title
      version: -1
    taskid: 11634f6b-20b4-4d04-862c-a13e00111a08
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 1960,
          "y": 3310
        }
      }
  "39":
    continueonerrortype: ""
    id: "39"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "2"
    note: false
    quietmode: 0
    reputationcalc: 2
    scriptarguments:
      text:
        simple: ${inputs.suspiciousiocs}
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: commands.local.cmd.extract.indicators
      id: 6c549819-74f3-4a2c-8dca-154bd2589bb5
      iscommand: true
      name: Extract & Enrich Indicators
      script: Builtin|||extractIndicators
      type: regular
      version: -1
    taskid: 6c549819-74f3-4a2c-8dca-154bd2589bb5
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 670,
          "y": 210
        }
      }
  "40":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                root: FinalBlacklist
          operator: isExists
      label: "yes"
    continueonerrortype: ""
    id: "40"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "38"
      "yes":
      - "42"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: commands.local.cmd.close.inv
      id: 21f38d27-bbc2-4630-87b2-c84ab43b4f97
      iscommand: false
      name: 'Are There Validated IoC(s)? '
      type: condition
      version: -1
    taskid: 21f38d27-bbc2-4630-87b2-c84ab43b4f97
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 2200,
          "y": 2890
        }
      }
  "41":
    continueonerrortype: ""
    id: "41"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "38"
    note: false
    quietmode: 0
    scriptarguments:
      trustediocs:
        complex:
          root: Trusted
          transformers:
          - operator: Stringify
          - args:
              chars:
                value:
                  simple: '{}'
            operator: StripChars
          - args:
              delimiter:
                value:
                  simple: ','
            operator: split
          - args:
              separator:
                value:
                  simple: |2+

            operator: join
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: commands.local.cmd.set.incident
      id: 068a72f7-5a2d-42e8-8d8e-fbf0881cbc2c
      iscommand: true
      name: Set The Trusted IoC(s) Context
      script: Builtin|||setIncident
      type: regular
      version: -1
    taskid: 068a72f7-5a2d-42e8-8d8e-fbf0881cbc2c
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1720,
          "y": 3060
        }
      }
  "42":
    continueonerrortype: ""
    id: "42"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "38"
    note: false
    quietmode: 0
    reputationcalc: 2
    scriptarguments:
      validatediocsforblacklisting:
        complex:
          root: FinalBlacklist
          transformers:
          - operator: Stringify
          - args:
              chars:
                value:
                  simple: '{}'
            operator: StripChars
          - args:
              delimiter:
                value:
                  simple: ','
            operator: split
          - args:
              separator:
                value:
                  simple: |2+

            operator: join
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: commands.local.cmd.set.incident
      id: 613b9847-8670-4992-83fd-a61c5fc414bb
      iscommand: true
      name: Set The Trusted IoC(s) Context
      script: Builtin|||setIncident
      type: regular
      version: -1
    taskid: 613b9847-8670-4992-83fd-a61c5fc414bb
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 2200,
          "y": 3070
        }
      }
  "43":
    continueonerrortype: ""
    id: "43"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "36"
    note: false
    quietmode: 0
    scriptarguments:
      validatedurl:
        complex:
          accessor: URL
          root: FinalBlacklist
          transformers:
          - operator: StringifyArray
          - args:
              chars:
                value:
                  simple: '[" "]'
            operator: StripChars
          - args:
              delimiter:
                value:
                  simple: '","'
            operator: split
          - args:
              separator:
                value:
                  simple: |2+

            operator: join
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: commands.local.cmd.set.incident
      id: a89d96dc-06a3-4f42-8b54-aed6799a2451
      iscommand: true
      name: Set Incident Context ' Validated URL'
      script: Builtin|||setIncident
      type: regular
      version: -1
    taskid: a89d96dc-06a3-4f42-8b54-aed6799a2451
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 450,
          "y": 2550
        }
      }
  "44":
    continueonerrortype: ""
    id: "44"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "36"
    note: false
    quietmode: 0
    scriptarguments:
      validatedipaddress:
        complex:
          accessor: IPV4
          root: FinalBlacklist
          transformers:
          - operator: StringifyArray
          - args:
              chars:
                value:
                  simple: '[" "]'
            operator: StripChars
          - args:
              delimiter:
                value:
                  simple: '","'
            operator: split
          - args:
              separator:
                value:
                  simple: |2+

            operator: join
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: commands.local.cmd.set.incident
      id: 5e886311-eab8-4e5c-8f42-1925d521847d
      iscommand: true
      name: Set Incident Context ' Validated IP Address'
      script: Builtin|||setIncident
      type: regular
      version: -1
    taskid: 5e886311-eab8-4e5c-8f42-1925d521847d
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 20,
          "y": 2550
        }
      }
  "45":
    continueonerrortype: ""
    id: "45"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "36"
    note: false
    quietmode: 0
    scriptarguments:
      validateddomain:
        complex:
          accessor: Domain
          root: FinalBlacklist
          transformers:
          - operator: StringifyArray
          - args:
              chars:
                value:
                  simple: '[" "]'
            operator: StripChars
          - args:
              delimiter:
                value:
                  simple: '","'
            operator: split
          - args:
              separator:
                value:
                  simple: |2+

            operator: join
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: commands.local.cmd.set.incident
      id: 93991dea-8a65-4e28-8a56-ffbc3f5a579d
      iscommand: true
      name: Set Incident Context ' Validated Domain'
      script: Builtin|||setIncident
      type: regular
      version: -1
    taskid: 93991dea-8a65-4e28-8a56-ffbc3f5a579d
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 880,
          "y": 2550
        }
      }
  "46":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                accessor: Hash
                root: FinalBlacklist
          operator: isExists
      label: "yes"
    continueonerrortype: ""
    id: "46"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "36"
      "yes":
      - "47"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 0867eed6-e668-43ca-85dd-2c75b07aa92f
      iscommand: false
      name: Check If Context 'FinalBlacklist.Hash' is Set
      type: condition
      version: -1
    taskid: 0867eed6-e668-43ca-85dd-2c75b07aa92f
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 1310,
          "y": 2130
        }
      }
  "47":
    continueonerrortype: ""
    id: "47"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "36"
    note: false
    quietmode: 0
    scriptarguments:
      validatedhash:
        complex:
          accessor: Hash
          root: FinalBlacklist
          transformers:
          - operator: StringifyArray
          - args:
              chars:
                value:
                  simple: '[" "]'
            operator: StripChars
          - args:
              delimiter:
                value:
                  simple: '","'
            operator: split
          - args:
              separator:
                value:
                  simple: |2+

            operator: join
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: commands.local.cmd.set.incident
      id: 9a263ecc-da7e-454c-8523-ebfa07dddc47
      iscommand: true
      name: Set Incident Context ' Validated Hash'
      script: Builtin|||setIncident
      type: regular
      version: -1
    taskid: 9a263ecc-da7e-454c-8523-ebfa07dddc47
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1310,
          "y": 2550
        }
      }
  "48":
    continueonerrortype: ""
    id: "48"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "31"
    note: false
    quietmode: 0
    scriptarguments:
      trustedipaddress:
        complex:
          accessor: IPV4
          root: Trusted
          transformers:
          - operator: StringifyArray
          - args:
              chars:
                value:
                  simple: '[" "]'
            operator: StripChars
          - args:
              delimiter:
                value:
                  simple: '","'
            operator: split
          - args:
              separator:
                value:
                  simple: |2+

            operator: join
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: commands.local.cmd.set.incident
      id: 562e57b5-9e74-4491-8fe9-9eb5f2efb2e0
      iscommand: true
      name: Set Incident Context ' Trusted IP Address'
      script: Builtin|||setIncident
      type: regular
      version: -1
    taskid: 562e57b5-9e74-4491-8fe9-9eb5f2efb2e0
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 20,
          "y": 1870
        }
      }
  "49":
    continueonerrortype: ""
    id: "49"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "23"
    note: false
    quietmode: 0
    scriptarguments:
      trustedurl:
        complex:
          accessor: URL
          root: Trusted
          transformers:
          - operator: StringifyArray
          - args:
              chars:
                value:
                  simple: '[" "]'
            operator: StripChars
          - args:
              delimiter:
                value:
                  simple: '","'
            operator: split
          - args:
              separator:
                value:
                  simple: |2+

            operator: join
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: commands.local.cmd.set.incident
      id: 70874e2a-4791-4d06-805c-fbed15f5e9d6
      iscommand: true
      name: Set Incident Context ' Trusted URL'
      script: Builtin|||setIncident
      type: regular
      version: -1
    taskid: 70874e2a-4791-4d06-805c-fbed15f5e9d6
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 450,
          "y": 1870
        }
      }
  "50":
    continueonerrortype: ""
    id: "50"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "27"
    note: false
    quietmode: 0
    scriptarguments:
      trusteddomain:
        complex:
          accessor: Domain
          root: Trusted
          transformers:
          - operator: StringifyArray
          - args:
              chars:
                value:
                  simple: '[" "]'
            operator: StripChars
          - args:
              delimiter:
                value:
                  simple: '","'
            operator: split
          - args:
              separator:
                value:
                  simple: |2+

            operator: join
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: commands.local.cmd.set.incident
      id: 1d10867f-c9fb-4746-847a-381c2230652a
      iscommand: true
      name: Set Incident Context ' Trusted Domain'
      script: Builtin|||setIncident
      type: regular
      version: -1
    taskid: 1d10867f-c9fb-4746-847a-381c2230652a
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 880,
          "y": 1870
        }
      }
  "51":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                accessor: IP
                root: ExtractedIndicators
          operator: isExists
      label: "yes"
    continueonerrortype: ""
    id: "51"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "14"
      "yes":
      - "9"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: ce1cfc14-9a65-477e-847c-4e899886bf43
      iscommand: false
      name: Is There an IPv4 IP Address in The Submitted Blacklist IoC Request ?
      type: condition
      version: -1
    taskid: ce1cfc14-9a65-477e-847c-4e899886bf43
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 20,
          "y": 620
        }
      }
  "52":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                accessor: URL
                root: ExtractedIndicators
          operator: isExists
      label: "yes"
    continueonerrortype: ""
    id: "52"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "14"
      "yes":
      - "5"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 17ecd627-ec48-4bdb-8cc2-728322431838
      iscommand: false
      name: Is There a URL in The Submitted Blacklist IoC Request ?
      type: condition
      version: -1
    taskid: 17ecd627-ec48-4bdb-8cc2-728322431838
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 450,
          "y": 620
        }
      }
  "53":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                filters:
                - - left:
                      iscontext: true
                      value:
                        simple: ExtractedIndicators.Domain
                    operator: in
                    right:
                      iscontext: true
                      value:
                        simple: BlacklistIOC
                root: ExtractedIndicators.Domain
          operator: isExists
        - left:
            iscontext: true
            value:
              complex:
                filters:
                - - left:
                      iscontext: true
                      value:
                        simple: ExtractedIndicators.Domain_Test_
                    operator: in
                    right:
                      iscontext: true
                      value:
                        simple: BlacklistIOC
                root: ExtractedIndicators.Domain_Test_
          operator: isExists
      label: "yes"
    continueonerrortype: ""
    id: "53"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "14"
      "yes":
      - "7"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 0780efd5-ac98-4739-8ec0-c58474194d1d
      iscommand: false
      name: Is There a Domain in The Submitted Blacklist IoC Request ?
      type: condition
      version: -1
    taskid: 0780efd5-ac98-4739-8ec0-c58474194d1d
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 880,
          "y": 620
        }
      }
  "54":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                filters:
                - - left:
                      iscontext: true
                      value:
                        simple: ExtractedIndicators.File
                    operator: in
                    right:
                      iscontext: true
                      value:
                        simple: BlacklistIOC
                root: ExtractedIndicators.File
          operator: isExists
      label: "yes"
    continueonerrortype: ""
    id: "54"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "14"
      "yes":
      - "11"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: dd6b90b9-df4e-4255-86cd-a2d4bcc0c3b4
      iscommand: false
      name: Is There a Hash in The Submitted Blacklist IoC Request ?
      type: condition
      version: -1
    taskid: dd6b90b9-df4e-4255-86cd-a2d4bcc0c3b4
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 1310,
          "y": 620
        }
      }
  "55":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                accessor: IsInternal
                root: IsUrlPartOfDomain
          operator: containsGeneral
          right:
            value:
              simple: "true"
      label: "yes"
    continueonerrortype: ""
    id: "55"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "23"
      "yes":
      - "21"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 89d77288-76d6-4229-8bd0-8de522c7cd8e
      iscommand: false
      name: Are There URL(s) Part of The Trusted Domain List
      type: condition
      version: -1
    taskid: 89d77288-76d6-4229-8bd0-8de522c7cd8e
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 450,
          "y": 1450
        }
      }
version: -1
view: |-
  {
    "linkLabelsPosition": {
      "1_14_#default#": 0.15,
      "1_39_yes": 0.61,
      "23_24_yes": 0.45,
      "23_36_#default#": 0.1,
      "25_26_yes": 0.5,
      "25_27_#default#": 0.21,
      "27_28_yes": 0.46,
      "27_36_#default#": 0.11,
      "29_30_yes": 0.47,
      "29_31_#default#": 0.32,
      "31_32_yes": 0.48,
      "31_36_#default#": 0.1,
      "46_36_#default#": 0.15,
      "46_47_yes": 0.21,
      "51_9_yes": 0.5,
      "52_5_yes": 0.45,
      "53_7_yes": 0.47,
      "54_11_yes": 0.47,
      "55_21_yes": 0.44,
      "55_23_#default#": 0.22
    },
    "paper": {
      "dimensions": {
        "height": 3555,
        "width": 2560,
        "x": 20,
        "y": -180
      }
    }
  }
