playbook-newplaybook.yml
contentitemexportablefields:
  contentitemfields:
    definitionid: ""
    fromServerVersion: ""
    itemVersion: ""
    packID: ""
    packName: ""
    prevname: ""
    propagationLabels:
    - all
    toServerVersion: ""
id: f3fb96a5-9bc4-4158-8917-bf80e9f30a6b
inputs: []
name: newplaybook
outputs: []
starttaskid: "0"
tasks:
  "0":
    continueonerrortype: ""
    id: "0"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "4"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: af9fcfbb-be4f-4eac-8231-578e2a37621f
      iscommand: false
      name: ""
      version: -1
    taskid: af9fcfbb-be4f-4eac-8231-578e2a37621f
    timertriggers: []
    type: start
    view: |-
      {
        "position": {
          "x": 50,
          "y": 50
        }
      }
  "1":
    continueonerrortype: ""
    id: "1"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "2"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: cbe624d8-2adb-4a92-8993-bf561eb49287
      iscommand: false
      name: User Response
      tags:
      - response
      type: regular
      version: -1
    taskid: cbe624d8-2adb-4a92-8993-bf561eb49287
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 50,
          "y": 545
        }
      }
  "2":
    continueonerrortype: ""
    id: "2"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    scriptarguments:
      responseEntryId:
        simple: ${lastCompletedTaskEntries}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Extract user's response from EmailAskUser reply. Returns the first
        textual response line of the provided entry that contains the reply body.
        Use ${lastCompletedTaskEntries} to analyze the previous playbook task containing
        the user's reply.
      id: be99058f-907d-4a10-807a-ab0874d89e70
      iscommand: false
      name: Validating User response
      script: EmailAskUserResponse
      type: condition
      version: -1
    taskid: be99058f-907d-4a10-807a-ab0874d89e70
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 50,
          "y": 720
        }
      }
  "3":
    continueonerrortype: ""
    id: "3"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 0
      wait: 1
    nexttasks:
      '#none#':
      - "1"
    note: false
    quietmode: 0
    scriptarguments:
      DatetimeToWaitUntil:
        simple: ${initiatetime]
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      description: Pauses execution until the date and time that was specified in
        the plabyook input is reached.
      id: d215159f-2f38-4b7d-87f3-76390aafc313
      iscommand: false
      name: Wait Until Datetime
      playbookId: Wait Until Datetime
      type: playbook
      version: -1
    taskid: d215159f-2f38-4b7d-87f3-76390aafc313
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 50,
          "y": 370
        }
      }
  "4":
    continueonerrortype: ""
    id: "4"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "3"
    note: false
    quietmode: 0
    scriptarguments:
      key:
        simple: initiatetime
      value:
        complex:
          accessor: created
          root: incident
          transformers:
          - args:
              variation:
                value:
                  simple: in 2 minutes
            operator: ModifyDateTime
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Set a value in context under the key you entered.
      id: d3190fff-1d33-4514-8ee8-529ebf805cd2
      iscommand: false
      name: Set wait time by 2 minutes
      script: Set
      type: regular
      version: -1
    taskid: d3190fff-1d33-4514-8ee8-529ebf805cd2
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 50,
          "y": 195
        }
      }
version: -1
view: |-
  {
    "linkLabelsPosition": {},
    "paper": {
      "dimensions": {
        "height": 765,
        "width": 380,
        "x": 50,
        "y": 50
      }
    }
  }
