playbook-TCS-IOC_Risk_Score_Playbook_v1.3.yml
contentitemexportablefields:
  contentitemfields:
    definitionid: ""
    fromServerVersion: ""
    itemVersion: ""
    packID: ""
    packName: ""
    prevname: ""
    propagationLabels:
    - all
    toServerVersion: ""
hidden: true
id: 6eef2731-a99b-4bd4-837d-97135d14c71c
inputs:
- description: ""
  key: File
  playbookInputQuery: null
  required: false
  value: {}
name: TCS-IOC Risk Score Playbook v1.3
outputs: []
sourceplaybookid: 08c3b260-77a7-4316-8c5d-802cc55f4e22
starttaskid: "0"
tasks:
  "0":
    continueonerrortype: ""
    id: "0"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "82"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 93719525-d4c1-4b73-89c2-c725d26482d0
      iscommand: false
      name: ""
      version: -1
    taskid: 93719525-d4c1-4b73-89c2-c725d26482d0
    timertriggers: []
    type: start
    view: |-
      {
        "position": {
          "x": 460,
          "y": -880
        }
      }
  "3":
    continueonerrortype: ""
    id: "3"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "80"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 96034eaa-c727-4400-83aa-76e9ccc2b90d
      iscommand: false
      name: Email Report / Notify
      type: title
      version: -1
    taskid: 96034eaa-c727-4400-83aa-76e9ccc2b90d
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 450,
          "y": 1990
        }
      }
  "56":
    continueonerrortype: ""
    id: "56"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "61"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: c070eeb6-a420-401d-84ee-7ec3e064b296
      iscommand: false
      name: Generate Risk Report
      type: title
      version: -1
    taskid: c070eeb6-a420-401d-84ee-7ec3e064b296
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 450,
          "y": 540
        }
      }
  "60":
    continueonerrortype: ""
    id: "60"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "3"
    note: false
    quietmode: 0
    scriptarguments:
      csvArray:
        simple: ${RiskScore.Result}
      fileName:
        simple: IOC_RiskScore.csv
      headers:
        simple: name,riskScore
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Export given array to csv file
      id: 137532af-3f07-4b54-82b1-65f75b6d4db3
      iscommand: false
      name: Create Risk Score Report
      script: ExportToCSV
      type: regular
      version: -1
    taskid: 137532af-3f07-4b54-82b1-65f75b6d4db3
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 450,
          "y": 1460
        }
      }
  "61":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                accessor: IP
                root: RecordedFuture
          operator: isExists
        - left:
            iscontext: true
            value:
              complex:
                accessor: Domain
                root: RecordedFuture
          operator: isExists
        - left:
            iscontext: true
            value:
              complex:
                accessor: File
                root: RecordedFuture
          operator: isExists
      label: "yes"
    continueonerrortype: ""
    id: "61"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "70"
      "yes":
      - "64"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 372809e2-8e20-4b3c-83db-49c86bc3599a
      iscommand: false
      name: Is There A Report To Generate ?
      type: condition
      version: -1
    taskid: 372809e2-8e20-4b3c-83db-49c86bc3599a
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 450,
          "y": 730
        }
      }
  "64":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                accessor: IP
                root: RecordedFuture
          operator: isExists
      label: "yes"
    continueonerrortype: ""
    id: "64"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "66"
      "yes":
      - "65"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: da956184-82da-4be8-8080-959ecc60ab8b
      iscommand: false
      name: Are There RF IP Address  Results ?
      type: condition
      version: -1
    taskid: da956184-82da-4be8-8080-959ecc60ab8b
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": -30,
          "y": 985
        }
      }
  "65":
    continueonerrortype: ""
    id: "65"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "66"
    note: false
    quietmode: 0
    reputationcalc: 1
    scriptarguments:
      append:
        simple: "true"
      key:
        simple: RiskScore.Result
      value:
        complex:
          accessor: IP
          root: RecordedFuture
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Set a value in context under the key you entered.
      id: af7b2069-f2f5-4e1b-8b9e-e2fe20a37289
      iscommand: false
      name: 'Set RF IP Address In Context '
      script: Set
      type: regular
      version: -1
    taskid: af7b2069-f2f5-4e1b-8b9e-e2fe20a37289
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -30,
          "y": 1200
        }
      }
  "66":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                accessor: Domain
                root: RecordedFuture
          operator: isExists
      label: "yes"
    continueonerrortype: ""
    id: "66"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "68"
      "yes":
      - "67"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 1ebef0df-d540-4be3-884b-70396aced4ea
      iscommand: false
      name: Are There RF Domain Address Results ?
      type: condition
      version: -1
    taskid: 1ebef0df-d540-4be3-884b-70396aced4ea
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 450,
          "y": 985
        }
      }
  "67":
    continueonerrortype: ""
    id: "67"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "68"
    note: false
    quietmode: 0
    reputationcalc: 1
    scriptarguments:
      append:
        simple: "true"
      key:
        simple: RiskScore.Result
      value:
        complex:
          accessor: Domain
          root: RecordedFuture
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Set a value in context under the key you entered.
      id: b91822c3-1cb8-4bdd-870e-3bd2749b878c
      iscommand: false
      name: 'Set RF Domain In Context '
      script: Set
      type: regular
      version: -1
    taskid: b91822c3-1cb8-4bdd-870e-3bd2749b878c
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 450,
          "y": 1200
        }
      }
  "68":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                accessor: File
                root: RecordedFuture
          operator: isExists
      label: "yes"
    continueonerrortype: ""
    id: "68"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "60"
      "yes":
      - "69"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 954427a6-1d52-453d-89b5-c183ba68a66b
      iscommand: false
      name: Are There RF File Results ?
      type: condition
      version: -1
    taskid: 954427a6-1d52-453d-89b5-c183ba68a66b
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 920,
          "y": 985
        }
      }
  "69":
    continueonerrortype: ""
    id: "69"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "60"
      - "77"
    note: false
    quietmode: 0
    reputationcalc: 1
    scriptarguments:
      append:
        simple: "true"
      key:
        simple: RiskScore.Result
      value:
        complex:
          accessor: File
          root: RecordedFuture
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Set a value in context under the key you entered.
      id: 6386b551-2f37-4472-825b-01f8cdc23066
      iscommand: false
      name: 'Set RF File In Context '
      script: Set
      type: regular
      version: -1
    taskid: 6386b551-2f37-4472-825b-01f8cdc23066
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 920,
          "y": 1200
        }
      }
  "70":
    continueonerrortype: ""
    id: "70"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "89"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: efcf16d0-8123-47b5-8a15-b9f849800d99
      iscommand: false
      name: Close Investigation
      type: title
      version: -1
    taskid: efcf16d0-8123-47b5-8a15-b9f849800d99
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 710,
          "y": 2590
        }
      }
  "71":
    continueonerrortype: ""
    id: "71"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "70"
    note: false
    quietmode: 0
    scriptarguments:
      attachIDs:
        complex:
          root: Report
      body:
        simple: "Hello Human,\n\nPFA the Risk Score report for the IoCs shared in
          this file - ${incident.attachment.name} \n\nXSOAR Investigation Id - ${incident.id}\n\n\nRegards,\nCSOC
          Cyber Bot"
      cc:
        simple: kunal.krushev@tcs.com
      retry-count:
        simple: "1"
      retry-interval:
        simple: "30"
      subject:
        simple: IOC Risk Score Report For - ${incident.attachment.name}
      to:
        complex:
          accessor: Email/from
          root: incident.labels
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Send an email
      id: 0462a6ee-49e7-4260-8f12-6ae66943a8fb
      iscommand: true
      name: Email Report Summary
      script: '|||send-mail'
      type: regular
      version: -1
    taskid: 0462a6ee-49e7-4260-8f12-6ae66943a8fb
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 450,
          "y": 2420
        }
      }
  "74":
    continueonerrortype: ""
    id: "74"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 100
      wait: 1
    nexttasks:
      '#none#':
      - "56"
    note: false
    quietmode: 0
    scriptarguments:
      Domain:
        complex:
          accessor: Domain
          root: ExtractedIndicators
      Hash:
        complex:
          accessor: File
          root: ExtractedIndicators
      IP:
        complex:
          accessor: IP
          root: ExtractedIndicators
          transformers:
          - operator: uniq
      IP Address:
        complex:
          accessor: IP
          root: Address2
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: af552796-d7f9-40c8-854b-c7e07b2791a9
      iscommand: false
      name: TCS-Recorded Future IOC Enrichment Playbook v 1.1
      playbookId: 5aaa0bc6-781d-4216-8678-5830391bf6e2
      type: playbook
      version: -1
    taskid: af552796-d7f9-40c8-854b-c7e07b2791a9
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 450,
          "y": 365
        }
      }
  "75":
    continueonerrortype: ""
    id: "75"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "74"
    note: false
    quietmode: 0
    scriptarguments:
      key:
        simple: RecordedFuture
      subplaybook:
        simple: auto
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Delete field from context
      id: 35a96271-40cc-490b-8ea7-034dd1475f03
      iscommand: false
      name: Delete Recorded Future Context From Previous Task
      script: DeleteContext
      type: regular
      version: -1
    taskid: 35a96271-40cc-490b-8ea7-034dd1475f03
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 450,
          "y": 180
        }
      }
  "76":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                root: RecordedFuture
          operator: isExists
      label: "yes"
    continueonerrortype: ""
    id: "76"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "74"
      "yes":
      - "75"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: b863b966-28a4-4b61-8566-ccc5769c3332
      iscommand: false
      name: Is Recorded Future Context Set ?
      type: condition
      version: -1
    taskid: b863b966-28a4-4b61-8566-ccc5769c3332
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 450,
          "y": -10
        }
      }
  "77":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                accessor: riskScore
                root: RiskScore.Result
          operator: greaterThan
          right:
            value:
              simple: "64"
      label: "yes"
    continueonerrortype: ""
    id: "77"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "3"
      "yes":
      - "78"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 4e7375c4-ffe7-49d1-8268-ead9be01ff87
      iscommand: false
      name: Are There Any IOC Above Risk Score 65 ?
      type: condition
      version: -1
    taskid: 4e7375c4-ffe7-49d1-8268-ead9be01ff87
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": -10,
          "y": 1460
        }
      }
  "78":
    continueonerrortype: ""
    id: "78"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "79"
    note: false
    quietmode: 0
    scriptarguments:
      key:
        simple: RiskScore2
      value:
        complex:
          filters:
          - - left:
                iscontext: true
                value:
                  simple: RiskScore.Result.riskScore
              operator: greaterThan
              right:
                value:
                  simple: "64"
          root: RiskScore.Result
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Set a value in context under the key you entered.
      id: 5a1f9929-45f7-4398-89b9-18850cb80aa8
      iscommand: false
      name: Set IOC Greater Than 64 To Context
      script: Set
      type: regular
      version: -1
    taskid: 5a1f9929-45f7-4398-89b9-18850cb80aa8
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -10,
          "y": 1620
        }
      }
  "79":
    continueonerrortype: ""
    id: "79"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "3"
    note: false
    quietmode: 0
    scriptarguments:
      csvArray:
        simple: ${RiskScore2}
      fileName:
        simple: Above_64_IOC_RiskScore.csv
      headers:
        simple: name,riskScore
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Export given array to csv file
      id: 7dfda0bb-6479-44e4-8384-e3678607d862
      iscommand: false
      name: Create Risk Score Report Above 64
      script: ExportToCSV
      type: regular
      version: -1
    taskid: 7dfda0bb-6479-44e4-8384-e3678607d862
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -10,
          "y": 1785
        }
      }
  "80":
    continueonerrortype: ""
    id: "80"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "71"
    note: false
    quietmode: 0
    scriptarguments:
      key:
        simple: Report
      value:
        complex:
          accessor: EntryID
          filters:
          - - left:
                iscontext: true
                value:
                  simple: File.Info
              operator: isEqualString
              right:
                value:
                  simple: csv
          - - left:
                iscontext: true
                value:
                  simple: File.Name
              operator: isNotEqualString
              right:
                value:
                  simple: Risk Score.csv
          - - left:
                iscontext: true
                value:
                  simple: File.Name
              operator: isNotEqualString
              right:
                value:
                  simple: Domain Risk Score.csv
          root: File
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Set a value in context under the key you entered.
      id: 74d53a6d-e0fb-4638-86a7-1c1cea5a0578
      iscommand: false
      name: Set 64 Above Report To Context
      script: Set
      type: regular
      version: -1
    taskid: 74d53a6d-e0fb-4638-86a7-1c1cea5a0578
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 450,
          "y": 2280
        }
      }
  "82":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: incident.labels.Email/from
          operator: isEqualString
          right:
            value:
              simple: kunal.krushev@tcs.com
        - left:
            iscontext: true
            value:
              simple: incident.labels.Email/from
          operator: isEqualString
          right:
            value:
              simple: Aashish.Narkar@tcs.com
        - left:
            iscontext: true
            value:
              simple: incident.labels.Email/from
          operator: isEqualString
          right:
            value:
              simple: internalis.cybersecurityops@tcs.com
        - left:
            iscontext: true
            value:
              simple: incident.labels.Email/from
          operator: isEqualString
          right:
            value:
              simple: yogesh.gholap@tcs.com
        - left:
            iscontext: true
            value:
              simple: incident.labels.Email/from
          operator: isEqualString
          right:
            value:
              simple: rupesh.sane@tcs.com
      label: "yes"
    continueonerrortype: ""
    id: "82"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "85"
      "yes":
      - "83"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 050efcf3-5a09-4e39-86bc-4f1ad8b29136
      iscommand: false
      name: Is Email From Authorized Sender?
      type: condition
      version: -1
    taskid: 050efcf3-5a09-4e39-86bc-4f1ad8b29136
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 460,
          "y": -720
        }
      }
  "83":
    continueonerrortype: ""
    id: "83"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "87"
    note: false
    quietmode: 0
    scriptarguments:
      entryID:
        simple: ${File.EntryID}
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: commands.local.cmd.extract.indicators
      id: 3580aa43-abee-4164-8fd4-1c2d1a3913aa
      iscommand: true
      name: Extract Indicators From Text File
      script: Builtin|||extractIndicators
      type: regular
      version: -1
    taskid: 3580aa43-abee-4164-8fd4-1c2d1a3913aa
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 460,
          "y": -540
        }
      }
  "85":
    continueonerrortype: ""
    id: "85"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "70"
    note: false
    quietmode: 0
    scriptarguments:
      body:
        simple: |-
          Hello Human,

          You are not on my authorized list of senders to block these IP address. Please contact Your XSOAR Support team.

          Regards,
          CSOC Cyber AutoBot
      cc:
        simple: kunal.krushev@tcs.com
      subject:
        simple: Not Authorized To Send Mail For Blocking IOCs
      to:
        complex:
          accessor: Email/from
          root: incident.labels
    separatecontext: false
    skipunavailable: false
    task:
      brand: Mail Sender (New)
      description: Send an email
      id: 5f25c28d-e0bf-4006-8fd7-072a72c7b840
      iscommand: true
      name: Send Email Notification - Not Authorized User
      script: Mail Sender (New)|||send-mail
      type: regular
      version: -1
    taskid: 5f25c28d-e0bf-4006-8fd7-072a72c7b840
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1370,
          "y": 2340
        }
      }
  "86":
    continueonerrortype: ""
    id: "86"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "88"
    note: false
    quietmode: 0
    scriptarguments:
      key:
        simple: IP
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Delete field from context
      id: 1033700b-f3ce-4d22-809c-0317daf92ea4
      iscommand: false
      name: Delete IP Context
      script: DeleteContext
      type: regular
      version: -1
    taskid: 1033700b-f3ce-4d22-809c-0317daf92ea4
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 460,
          "y": -260
        }
      }
  "87":
    continueonerrortype: ""
    id: "87"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 100
      wait: 1
    nexttasks:
      '#none#':
      - "86"
    note: false
    quietmode: 0
    scriptarguments:
      IP Address:
        complex:
          accessor: IP
          root: ExtractedIndicators
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 022dc238-a91d-42ba-864c-d752b6849386
      iscommand: false
      name: TCS-IP Address Owner Verification_Playbook  v3.3
      playbookId: 13313a64-c3af-4ec8-84e6-61e715682b2c
      type: playbook
      version: -1
    taskid: 022dc238-a91d-42ba-864c-d752b6849386
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 30,
          "y": -280
        }
      }
  "88":
    continueonerrortype: ""
    id: "88"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 100
      wait: 1
    nexttasks:
      '#none#':
      - "76"
    note: false
    quietmode: 0
    scriptarguments:
      Domain:
        complex:
          accessor: Domain
          root: ExtractedIndicators
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 526a53d0-c3f7-4991-8b5d-d2fceb4798ba
      iscommand: false
      name: TCS-Domain Owner Verification  v3.3
      playbookId: aa4cb35f-adb7-47da-8f34-c72c23c3c1e5
      type: playbook
      version: -1
    taskid: 526a53d0-c3f7-4991-8b5d-d2fceb4798ba
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 890,
          "y": -280
        }
      }
  "89":
    continueonerrortype: ""
    id: "89"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "90"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: commands.local.cmd.close.inv
      id: 0848865c-9dcf-4895-839d-86124324522b
      iscommand: true
      name: Close Investigation
      script: Builtin|||closeInvestigation
      type: regular
      version: -1
    taskid: 0848865c-9dcf-4895-839d-86124324522b
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 450,
          "y": 2760
        }
      }
  "90":
    continueonerrortype: ""
    id: "90"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 33c88706-b652-48a8-808d-e092ebbd2fdd
      iscommand: false
      name: Done
      type: title
      version: -1
    taskid: 33c88706-b652-48a8-808d-e092ebbd2fdd
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 450,
          "y": 2960
        }
      }
version: -1
view: |-
  {
    "linkLabelsPosition": {},
    "paper": {
      "dimensions": {
        "height": 3905,
        "width": 1780,
        "x": -30,
        "y": -880
      }
    }
  }
