playbook-TCS-Investigation_Playbook-Attack_Vector-Recon_v2.0_KK.yml
contentitemexportablefields:
  contentitemfields:
    definitionid: ""
    fromServerVersion: ""
    itemVersion: ""
    packID: ""
    packName: ""
    prevname: ""
    propagationLabels:
    - all
    toServerVersion: ""
id: 890aeb75-42cc-45ce-8892-c3d34332269f
inputs: []
name: TCS-Investigation Playbook-Attack Vector-Recon v2.0_KK
outputs: []
quiet: true
sourceplaybookid: 988d87a9-fb4c-4d7b-82cd-f2fbfa1b2070
starttaskid: "0"
tasks:
  "0":
    continueonerrortype: ""
    id: "0"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "108"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 4f53fc89-0572-498b-8cce-102e808fba92
      iscommand: false
      name: ""
      version: -1
    taskid: 4f53fc89-0572-498b-8cce-102e808fba92
    timertriggers: []
    type: start
    view: |-
      {
        "position": {
          "x": 720,
          "y": 3130
        }
      }
  "40":
    continueonerrortype: ""
    id: "40"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "45"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: abadb51e-c58b-496d-8c1c-5948411d617a
      iscommand: false
      name: Document & Close Investigation - False Positive
      type: title
      version: -1
    taskid: abadb51e-c58b-496d-8c1c-5948411d617a
    timertriggers:
    - action: stop
      fieldname: detectionsla
    type: title
    view: |-
      {
        "position": {
          "x": 710,
          "y": 5615
        }
      }
  "43":
    continueonerrortype: ""
    id: "43"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 0c91446f-2424-48ae-8bd7-74db4542ef4c
      iscommand: false
      name: The End
      type: title
      version: -1
    taskid: 0c91446f-2424-48ae-8bd7-74db4542ef4c
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 1420,
          "y": 9520
        }
      }
  "45":
    continueonerrortype: ""
    id: "45"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "104"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 41b8b5c9-eccf-474a-8901-52aa0125f002
      iscommand: false
      name: Document & Close Investigation
      type: title
      version: -1
    taskid: 41b8b5c9-eccf-474a-8901-52aa0125f002
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 1420,
          "y": 9210
        }
      }
  "73":
    continueonerrortype: ""
    id: "73"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "45"
    note: true
    quietmode: 2
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 282faec3-1029-4b75-8b76-6855bc790b1b
      iscommand: false
      name: Document & Close - Benign True Positive
      type: title
      version: -1
    taskid: 282faec3-1029-4b75-8b76-6855bc790b1b
    timertriggers:
    - action: stop
      fieldname: threatresponsesla
    type: title
    view: |-
      {
        "position": {
          "x": 830,
          "y": 6715
        }
      }
  "76":
    continueonerrortype: ""
    id: "76"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "118"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 80d2f9d2-f20e-4dc8-87c2-1ae5a43d2ac7
      iscommand: false
      name: Stop Detection SLA
      type: title
      version: -1
    taskid: 80d2f9d2-f20e-4dc8-87c2-1ae5a43d2ac7
    timertriggers:
    - action: stop
      fieldname: detectionsla
    - action: start
      fieldname: threatresponsesla
    type: title
    view: |-
      {
        "position": {
          "x": 1290,
          "y": 4200
        }
      }
  "77":
    continueonerrortype: ""
    id: "77"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "127"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 4688ccfd-280b-4041-81da-36a057be9415
      iscommand: false
      name: Triage
      type: title
      version: -1
    taskid: 4688ccfd-280b-4041-81da-36a057be9415
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 1530,
          "y": 4550
        }
      }
  "79":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: ${incident.offensesource}
          operator: IsRFC1918Address
          right:
            value:
              simple: 10.0.0.0/8,172.16.0.0/12,192.168.0.0/16
      label: "yes"
    continueonerrortype: ""
    formDisplay:
      bodybackgroundcolor: ""
      bodyfontcolor: ""
      headerbackgroundcolor: ""
      headerfontcolor: ""
      isexternalrtl: false
      sender: ""
      submitbuttonbackgroundcolor: ""
      submitbuttonfontcolor: ""
      submittext: ""
    id: "79"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "107"
      "yes":
      - "123"
    note: false
    quietmode: 2
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Check whether the values provided in arguments are equal. If either
        of the arguments are missing, no is returned.
      id: f376a0d9-ccf7-4d57-8289-f8f225ffe581
      iscommand: false
      name: Is source IP internal ?
      tags:
      - report
      type: condition
      version: -1
    taskid: f376a0d9-ccf7-4d57-8289-f8f225ffe581
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 720,
          "y": 3450
        }
      }
  "83":
    continueonerrortype: ""
    id: "83"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    message:
      bcc: null
      body:
        simple: Have You Identified threat actor performing the scanning Request ?
      cc: null
      format: ""
      methods: []
      replyOptions:
      - "Yes"
      - "No"
      subject: null
      timings:
        completeafterreplies: 1
        completeaftersla: false
        completeafterv2: true
        retriescount: 2
        retriesinterval: 360
      to: null
    nexttasks:
      "No":
      - "85"
      "Yes":
      - "126"
    note: false
    quietmode: 2
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 93d6be13-ff38-4dd5-8d3a-6b33f86eb540
      iscommand: false
      name: Have You Identified threat actor performing the scanning Request ?
      tags:
      - report
      type: condition
      version: -1
    taskid: 93d6be13-ff38-4dd5-8d3a-6b33f86eb540
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 1300,
          "y": 5330
        }
      }
  "85":
    continueonerrortype: ""
    id: "85"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    message:
      bcc: null
      body:
        simple: Collaborate With Senior L1/L2 To Identify The threat actor
      cc: null
      format: ""
      methods: []
      replyOptions:
      - Yes - Threat Identified
      subject: null
      timings:
        completeafterreplies: 1
        completeaftersla: false
        completeafterv2: true
        retriescount: 2
        retriesinterval: 360
      to: null
    nexttasks:
      Yes - Threat Identified:
      - "126"
    note: false
    quietmode: 2
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 59cd5d6c-0fcc-4fe8-821e-95b302cc177b
      iscommand: false
      name: Collaborate With Senior L1/L2 To Identify The threat actor
      tags:
      - report
      type: condition
      version: -1
    taskid: 59cd5d6c-0fcc-4fe8-821e-95b302cc177b
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 1530,
          "y": 5520
        }
      }
  "87":
    continueonerrortype: ""
    id: "87"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    message:
      bcc: null
      body:
        simple: Is There Any File You'd Like To Sandbox ? (make sure the .zip file
          is protected with password 'infected')
      cc: null
      format: ""
      methods: []
      replyOptions:
      - "Yes"
      - "No"
      subject: null
      timings:
        completeafterreplies: 1
        completeaftersla: false
        completeafterv2: true
        retriescount: 2
        retriesinterval: 360
      to: null
    nexttasks:
      "No":
      - "83"
      "Yes":
      - "88"
    note: false
    quietmode: 2
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 4b3b1671-a906-4471-8e17-954c47c9b86c
      iscommand: false
      name: Is There Any File You'd Like To Sandbox ? (make sure the .zip file is
        protected with password 'infected')
      tags:
      - report
      type: condition
      version: -1
    taskid: 4b3b1671-a906-4471-8e17-954c47c9b86c
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 1300,
          "y": 4830
        }
      }
  "88":
    continueonerrortype: ""
    id: "88"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 100
      wait: 1
    nexttasks:
      '#none#':
      - "89"
    note: false
    quietmode: 1
    scriptarguments:
      File:
        complex:
          root: File
      Interval:
        simple: "1"
      Timeout:
        simple: "15"
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: |-
        Detonate one or more files using the Wildfire integration. This playbook
        returns relevant reports to the War Room and file reputations to the context data.
        The detonation supports the following file types -
        APK, JAR, DOC, DOCX, RTF, XLS, XLSX, PPT, PPTX, OOXML, PE32, PDF, DMG, PKG, RAR, 7Z
      id: ed12700f-a52a-474f-8e3f-c800b90dd80b
      iscommand: false
      name: TCS-OnDemand-WildFire-Detonate File v3_KK
      playbookId: f6c63e73-b7a8-4dec-813b-cca83d83f590
      type: playbook
      version: -1
    taskid: ed12700f-a52a-474f-8e3f-c800b90dd80b
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 1560,
          "y": 5015
        }
      }
  "89":
    continueonerrortype: ""
    id: "89"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    message:
      bcc: null
      body:
        simple: Review The Sandbox Report
      cc: null
      format: ""
      methods: []
      replyOptions:
      - Report Reviewed - Move To Next Step
      subject: null
      timings:
        completeafterreplies: 1
        completeaftersla: false
        completeafterv2: true
        retriescount: 2
        retriesinterval: 360
      to: null
    nexttasks:
      Report Reviewed - Move To Next Step:
      - "83"
    note: false
    quietmode: 2
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 70beb9e0-704c-4818-8590-5ade3635863f
      iscommand: false
      name: Go To The 'Evidence Dashboard' And Review The Sandbox Report
      tags:
      - report
      type: condition
      version: -1
    taskid: 70beb9e0-704c-4818-8590-5ade3635863f
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 1570,
          "y": 5150
        }
      }
  "104":
    continueonerrortype: ""
    id: "104"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 100
      wait: 1
    nexttasks:
      '#none#':
      - "43"
    note: false
    quietmode: 1
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: b056067a-e7e7-4343-8dab-0bd375a6dec2
      iscommand: false
      name: TCS-Document & Close Section v1_KK
      playbookId: 4a46e3dc-82da-4b3a-86ca-eb2f9dfd589f
      type: playbook
      version: -1
    taskid: b056067a-e7e7-4343-8dab-0bd375a6dec2
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 1420,
          "y": 9345
        }
      }
  "107":
    continueonerrortype: ""
    id: "107"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    message:
      bcc: null
      body:
        simple: Review The IoC Intel To Assess The Threat Severity. Once Your Ready
          - Move To The Next Task
      cc: null
      format: ""
      methods: []
      replyOptions:
      - I'm Ready - Procced To Next Task
      subject: null
      timings:
        completeafterreplies: 1
        completeaftersla: false
        completeafterv2: true
        retriescount: 2
        retriesinterval: 360
      to: null
    nexttasks:
      I'm Ready - Procced To Next Task:
      - "123"
    note: false
    quietmode: 2
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: fe8fbd15-3a26-4f27-8ff4-2feaeb54c668
      iscommand: false
      name: Review The IoC Intel To Assess The Threat Severity. Once Your Ready -
        Move To The Next Task
      tags:
      - report
      type: condition
      version: -1
    taskid: fe8fbd15-3a26-4f27-8ff4-2feaeb54c668
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 1237.5,
          "y": 3640
        }
      }
  "108":
    continueonerrortype: ""
    id: "108"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "79"
    note: false
    quietmode: 0
    scriptarguments:
      attackvectors:
        simple: Reconnaissance
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: commands.local.cmd.set.incident
      id: 2c5be1cd-cc22-4e61-83ed-bb097b438935
      iscommand: true
      name: Set Attack Vector Context Field To 'Reconnaissance'
      script: Builtin|||setIncident
      type: regular
      version: -1
    taskid: 2c5be1cd-cc22-4e61-83ed-bb097b438935
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 720,
          "y": 3280
        }
      }
  "113":
    continueonerrortype: ""
    id: "113"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "130"
    note: false
    quietmode: 0
    scriptarguments:
      investigationconclusion:
        simple: True Positive
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: commands.local.cmd.set.incident
      id: 2502799d-f490-4601-8c4b-16933e938426
      iscommand: true
      name: Set 'Investigation Conclusion' To True Positive
      script: Builtin|||setIncident
      type: regular
      version: -1
    taskid: 2502799d-f490-4601-8c4b-16933e938426
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1420,
          "y": 6490
        }
      }
  "114":
    continueonerrortype: ""
    id: "114"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    message:
      bcc: null
      body:
        simple: Check which process intiated communication (System process , dsa.msc
          , nmap)
      cc: null
      format: ""
      methods: []
      replyOptions:
      - Yes , it is Genuine (Confirmed Falsepositive)
      - No , its not Genuine (Could be true positive or Benign True Positive)
      subject: null
      timings:
        completeafterreplies: 1
        completeaftersla: false
        completeafterv2: true
        retriescount: 2
        retriesinterval: 360
      to: null
    nexttasks:
      No , its not Genuine (Could be true positive or Benign True Positive):
      - "76"
      Yes , it is Genuine (Confirmed Falsepositive):
      - "129"
    note: false
    quietmode: 2
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: fd4c2f20-de7e-4e71-8dcc-6f68bd816ebe
      iscommand: false
      name: Check which process intiated communication (System process , dsa.msc ,
        nmap)
      type: condition
      version: -1
    taskid: fd4c2f20-de7e-4e71-8dcc-6f68bd816ebe
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 890,
          "y": 4000
        }
      }
  "116":
    continueonerrortype: ""
    form:
      description: ""
      expired: false
      questions:
      - defaultrows: []
        fieldassociated: emailbody
        gridcolumns: []
        id: "0"
        label: ""
        labelarg:
          simple: Enter Notification Message To CSOC Manager (give a brief about the
            true positive alert and the impact)
        options: []
        optionsarg: []
        placeholder: ""
        readonly: false
        required: true
        tooltip: ""
        type: longText
      sender: ""
      title: Enter Notification Message To CSOC Manager
      totalanswers: 0
    id: "116"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    message:
      bcc: null
      body: null
      cc: null
      format: ""
      methods: []
      subject: null
      timings:
        completeafterreplies: 1
        completeaftersla: false
        completeafterv2: true
        retriescount: 2
        retriesinterval: 360
      to: null
    nexttasks:
      '#none#':
      - "117"
    note: true
    quietmode: 2
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: a3d3fb43-eb52-4769-8106-6e67a474f712
      iscommand: false
      name: Enter Notification Message To CSOC Manager (give a brief about the true
        positive alert and the impact)
      type: collection
      version: -1
    taskid: a3d3fb43-eb52-4769-8106-6e67a474f712
    timertriggers: []
    type: collection
    view: |-
      {
        "position": {
          "x": 1710,
          "y": 5905
        }
      }
  "117":
    continueonerrortype: ""
    id: "117"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "125"
    note: false
    quietmode: 2
    scriptarguments:
      bcc:
        simple: kunal.krushev@tcs.com
      body:
        simple: |-
          ${incident.emailbody}

          Investigation Link --> https://soar.tcsapps.com/#/Custom/caseinfoid/${incident.id}
      cc:
        simple: ${UserByUsername.email}
      subject:
        simple: '*True Positive Notification* SIEM Investigation - Severity - ${incident.mailerseverity}'
      to:
        simple: nimisha.prajapati@tcs.com,yogesh.gholap@tcs.com,csocsenioroperator@tcscomprod.onmicrosoft.com,csocanalyst@tcscomprod.onmicrosoft.com
      using:
        simple: Mail Sender_instance_CSOC_Mail
    separatecontext: false
    skipunavailable: false
    task:
      brand: Mail Sender (New)
      description: Send an email
      id: aa7cde94-e265-4dc9-8659-618a17a6de49
      iscommand: true
      name: Notify CSOC Manager & Necessary Stakeholders
      script: Mail Sender (New)|||send-mail
      type: regular
      version: -1
    taskid: aa7cde94-e265-4dc9-8659-618a17a6de49
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1710,
          "y": 6035
        }
      }
  "118":
    continueonerrortype: ""
    id: "118"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    message:
      bcc: null
      body:
        simple: Based on The IoC Intel, Do You Need To Change The Alert Severity ?
      cc: null
      format: ""
      methods: []
      replyOptions:
      - "Yes"
      - "No"
      subject: null
      timings:
        completeafterreplies: 1
        completeaftersla: false
        completeafterv2: true
        retriescount: 2
        retriesinterval: 360
      to: null
    nexttasks:
      "No":
      - "87"
      "Yes":
      - "77"
    note: false
    quietmode: 2
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 4696ce74-691b-4fa2-8d0b-75428bff2b55
      iscommand: false
      name: Based on The IoC Intel, Do You Need To Change The Alert Severity ?
      tags:
      - report
      type: condition
      version: -1
    taskid: 4696ce74-691b-4fa2-8d0b-75428bff2b55
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 1300,
          "y": 4330
        }
      }
  "123":
    continueonerrortype: ""
    id: "123"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    message:
      bcc: null
      body:
        simple: Check if the source IP address belongs to an authorized source (Check
          IP owner information on TGIM /Sentinel/crowdstrike )
      cc: null
      format: ""
      methods: []
      replyOptions:
      - ' Yes , It is Authorized (Confirmed Falsepositive)'
      - No , it is Unauthorized
      subject: null
      timings:
        completeafterreplies: 1
        completeaftersla: false
        completeafterv2: true
        retriescount: 2
        retriesinterval: 360
      to: null
    nexttasks:
      ' Yes , It is Authorized (Confirmed Falsepositive)':
      - "124"
      No , it is Unauthorized:
      - "114"
    note: false
    quietmode: 2
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 0335aeb7-2aed-483d-8a25-781568badbb4
      iscommand: false
      name: Check if the source IP address belongs to an authorized source(Check IP
        owner information , TGIM , Sentinel and crowdstrike )
      tags:
      - report
      type: condition
      version: -1
    taskid: 0335aeb7-2aed-483d-8a25-781568badbb4
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 460,
          "y": 3980
        }
      }
  "124":
    continueonerrortype: ""
    id: "124"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    message:
      bcc: null
      body:
        simple: Have you informed SIEM team for finetuning
      cc: null
      format: ""
      methods: []
      replyOptions:
      - "Yes"
      subject: null
      timings:
        completeafterreplies: 1
        completeaftersla: false
        completeafterv2: true
        retriescount: 2
        retriesinterval: 360
      to: null
    nexttasks:
      "Yes":
      - "129"
    note: false
    quietmode: 2
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: fbd150c2-68c0-446b-88f4-4008f7242666
      iscommand: false
      name: Have you informed team for finetuning
      tags:
      - report
      type: condition
      version: -1
    taskid: fbd150c2-68c0-446b-88f4-4008f7242666
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 427.5,
          "y": 5000
        }
      }
  "125":
    continueonerrortype: ""
    id: "125"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    message:
      bcc: null
      body:
        simple: Based on your investigation so far , Is this Benign True positive
          alert or truepositive alert.
      cc: null
      format: ""
      methods: []
      replyOptions:
      - Benign - True Positive
      - True Positive
      subject: null
      timings:
        completeafterreplies: 1
        completeaftersla: false
        completeafterv2: true
        retriescount: 2
        retriesinterval: 360
      to: null
    nexttasks:
      Benign - True Positive:
      - "128"
      True Positive:
      - "113"
    note: false
    quietmode: 2
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: ffa3b680-6c90-46c3-8259-b6287f6c3d10
      iscommand: false
      name: Based on your investigation so far , Is this Benign True positive alert
        or truepositive alert.
      tags:
      - report
      type: condition
      version: -1
    taskid: ffa3b680-6c90-46c3-8259-b6287f6c3d10
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 1280,
          "y": 6240
        }
      }
  "126":
    continueonerrortype: ""
    id: "126"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    message:
      bcc: null
      body:
        simple: Was There Any Impact ?? (Service Disruption , malware installed )
      cc: null
      format: ""
      methods: []
      replyOptions:
      - "Yes"
      - "No"
      subject: null
      timings:
        completeafterreplies: 1
        completeaftersla: false
        completeafterv2: true
        retriescount: 2
        retriesinterval: 360
      to: null
    nexttasks:
      "No":
      - "125"
      "Yes":
      - "116"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: b2f1fb0d-b362-4afd-8662-81aa9588d12e
      iscommand: false
      name: Was There Any Impact ?? (Service Disruption , malware installed )
      type: condition
      version: -1
    taskid: b2f1fb0d-b362-4afd-8662-81aa9588d12e
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 1280,
          "y": 5730
        }
      }
  "127":
    continueonerrortype: ""
    id: "127"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "87"
    note: false
    quietmode: 0
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      id: 7c876ec3-33f8-4a8b-8013-d5f6cf423fac
      iscommand: false
      name: TCS-Triage-Case Management v3_KK
      playbookId: b82a6df1-9a17-4fae-889e-c6f7bde37df1
      type: playbook
      version: -1
    taskid: 7c876ec3-33f8-4a8b-8013-d5f6cf423fac
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 1530,
          "y": 4660
        }
      }
  "128":
    continueonerrortype: ""
    id: "128"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "73"
    note: false
    quietmode: 0
    scriptarguments:
      investigationconclusion:
        simple: Benign-True Positive
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: commands.local.cmd.set.incident
      id: 9deb7e91-00d4-4d83-857d-4c91883a0b97
      iscommand: true
      name: Set 'Investigation Conclusion' To Benign - True Positive
      script: Builtin|||setIncident
      type: regular
      version: -1
    taskid: 9deb7e91-00d4-4d83-857d-4c91883a0b97
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 830,
          "y": 6490
        }
      }
  "129":
    continueonerrortype: ""
    id: "129"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "40"
    note: false
    quietmode: 0
    scriptarguments:
      investigationconclusion:
        simple: False Positive
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: commands.local.cmd.set.incident
      id: eb42b842-69eb-40c6-8129-d1a8b4de8366
      iscommand: true
      name: Set 'Investigation Conclusion' To False Positive
      script: Builtin|||setIncident
      type: regular
      version: -1
    taskid: eb42b842-69eb-40c6-8129-d1a8b4de8366
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 700,
          "y": 5400
        }
      }
  "130":
    continueonerrortype: ""
    id: "130"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    message:
      bcc: null
      body:
        simple: 'Do You Need To Mitigate The Threat By Blocking IoCs or Containing
          Host ? (NOTE: for IP address blocking other than Palo Alto FW, pls connect
          with location FW owner)'
      cc: null
      format: ""
      methods: []
      replyOptions:
      - Yes - I Want To Block IOC
      - Yes - I Want To Contain Host
      - No - They Are Already Blocked / Contained
      subject: null
      timings:
        completeafterreplies: 1
        completeaftersla: false
        completeafterv2: true
        retriescount: 2
        retriesinterval: 360
      to: null
    nexttasks:
      No - They Are Already Blocked / Contained:
      - "141"
      Yes - I Want To Block IOC:
      - "132"
      Yes - I Want To Contain Host:
      - "131"
    note: false
    quietmode: 2
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: ed3295eb-697c-413c-8630-bfd3d43866e1
      iscommand: false
      name: 'Do You Need To Mitigate The Threat By Blocking IoCs or Containing Host
        ? (NOTE: for IP address blocking other than Palo Alto FW, pls connect with
        location FW owner)'
      tags:
      - report
      type: condition
      version: -1
    taskid: ed3295eb-697c-413c-8630-bfd3d43866e1
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 1420,
          "y": 6810
        }
      }
  "131":
    continueonerrortype: ""
    id: "131"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "134"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: f3aba5c5-f5e6-4e6b-8dc1-119cf222c98d
      iscommand: false
      name: Start Contain Host SLA\Timer (Inside Sub Playbook)
      type: title
      version: -1
    taskid: f3aba5c5-f5e6-4e6b-8dc1-119cf222c98d
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 1170,
          "y": 7000
        }
      }
  "132":
    continueonerrortype: ""
    id: "132"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "133"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: e55cd26e-7290-40ef-84d8-548aae200aff
      iscommand: false
      name: Start Block IOC\Mitigation SLA Timer (Inside Sub Playbook)
      type: title
      version: -1
    taskid: e55cd26e-7290-40ef-84d8-548aae200aff
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 1670,
          "y": 7000
        }
      }
  "133":
    continueonerrortype: ""
    id: "133"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "135"
    note: false
    quietmode: 0
    scriptarguments:
      iocblockrequest:
        simple: "yes"
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: commands.local.cmd.set.incident
      id: 1c5cad47-53dd-440d-8fc1-64521c55132f
      iscommand: true
      name: Set Context IOC Block Request To - Yes
      script: Builtin|||setIncident
      type: regular
      version: -1
    taskid: 1c5cad47-53dd-440d-8fc1-64521c55132f
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1670,
          "y": 7130
        }
      }
  "134":
    continueonerrortype: ""
    id: "134"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "136"
    note: false
    quietmode: 0
    scriptarguments:
      containmachine:
        simple: "yes"
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: commands.local.cmd.set.incident
      id: aa9a5cae-61ee-4bd7-875f-486a474b3c1e
      iscommand: true
      name: Set Contain Machine Context To - YES
      script: Builtin|||setIncident
      type: regular
      version: -1
    taskid: aa9a5cae-61ee-4bd7-875f-486a474b3c1e
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1170,
          "y": 7290
        }
      }
  "135":
    continueonerrortype: ""
    id: "135"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 100
      wait: 1
    nexttasks:
      '#none#':
      - "162"
    note: false
    quietmode: 2
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 419ebf6e-97e3-44f6-8a17-c187063cdd3a
      iscommand: false
      name: TCS-Select IOC To Block_CM Playbook v1_KK
      playbookId: 9dacaaf8-64e7-4758-822e-694b991ee19c
      type: playbook
      version: -1
    taskid: 419ebf6e-97e3-44f6-8a17-c187063cdd3a
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 1670,
          "y": 7315
        }
      }
  "136":
    continueonerrortype: ""
    id: "136"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 100
      wait: 1
    nexttasks:
      '#none#':
      - "138"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 1487921c-a8d9-4858-8ab7-c12859efdad7
      iscommand: false
      name: 'Sub Playbook: Contain Host via CrowdStrike'
      playbookId: a4d833cf-d2ae-4de1-846a-992f5293b414
      type: playbook
      version: -1
    taskid: 1487921c-a8d9-4858-8ab7-c12859efdad7
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 1170,
          "y": 7455
        }
      }
  "138":
    continueonerrortype: ""
    id: "138"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "142"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 2a010b90-af26-437d-868e-66ba1be02b5c
      iscommand: false
      name: Stop Mitigation SLA (Inside Sub Playbook)
      type: title
      version: -1
    taskid: 2a010b90-af26-437d-868e-66ba1be02b5c
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 1840,
          "y": 8110
        }
      }
  "141":
    continueonerrortype: ""
    id: "141"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "142"
    note: false
    quietmode: 0
    scriptarguments:
      iocblockrequest:
        simple: "no"
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: commands.local.cmd.set.incident
      id: d445d51c-f4ae-4c03-82d8-b5efb64261a5
      iscommand: true
      name: Set Context Block IOC To  - No
      script: Builtin|||setIncident
      type: regular
      version: -1
    taskid: d445d51c-f4ae-4c03-82d8-b5efb64261a5
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1430,
          "y": 8065
        }
      }
  "142":
    continueonerrortype: ""
    id: "142"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "144"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 56e76ff1-8e4d-4b4c-88f0-0ac6c34f8aa8
      iscommand: false
      name: Stop Threat Response SLA
      type: title
      version: -1
    taskid: 56e76ff1-8e4d-4b4c-88f0-0ac6c34f8aa8
    timertriggers:
    - action: stop
      fieldname: threatresponsesla
    type: title
    view: |-
      {
        "position": {
          "x": 1430,
          "y": 8250
        }
      }
  "144":
    continueonerrortype: ""
    id: "144"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    message:
      bcc: null
      body:
        simple: Review The Alert - Check If You Need To Raise an IMT ?
      cc: null
      format: ""
      methods: []
      replyOptions:
      - No -  IMT Not Required
      - Yes - I Have Raised an IMT
      - I'm Not Sure - Will Do It later
      subject: null
      timings:
        completeafterreplies: 1
        completeaftersla: false
        completeafterv2: true
        retriescount: 2
        retriesinterval: 360
      to: null
    nexttasks:
      I'm Not Sure - Will Do It later:
      - "153"
      No -  IMT Not Required:
      - "146"
      Yes - I Have Raised an IMT:
      - "147"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: c2b2b490-00e2-4886-836a-8f7f7188a5c6
      iscommand: false
      name: Review The Alert - Check If You Need To Raise an IMT ?
      type: condition
      version: -1
    taskid: c2b2b490-00e2-4886-836a-8f7f7188a5c6
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 1420,
          "y": 8350
        }
      }
  "146":
    continueonerrortype: ""
    id: "146"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "153"
    note: false
    quietmode: 0
    scriptarguments:
      imtraised:
        simple: "no"
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: commands.local.cmd.set.incident
      id: ffdec454-f19e-4f41-8492-5cb4ae33f95b
      iscommand: true
      name: Update IMT Context To - No
      script: Builtin|||setIncident
      type: regular
      version: -1
    taskid: ffdec454-f19e-4f41-8492-5cb4ae33f95b
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1420,
          "y": 8595
        }
      }
  "147":
    continueonerrortype: ""
    id: "147"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "151"
    note: false
    quietmode: 0
    scriptarguments:
      imtraised:
        simple: "yes"
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: commands.local.cmd.set.incident
      id: 6c057d24-b31d-4cec-84c4-f7e6ae6dbfc6
      iscommand: true
      name: Update IMT Context To - Yes
      script: Builtin|||setIncident
      type: regular
      version: -1
    taskid: 6c057d24-b31d-4cec-84c4-f7e6ae6dbfc6
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1830,
          "y": 8595
        }
      }
  "151":
    continueonerrortype: ""
    form:
      description: ""
      expired: false
      questions:
      - defaultrows: []
        fieldassociated: imtnumber
        gridcolumns: []
        id: "0"
        label: ""
        labelarg:
          simple: Enter The IMT Number
        options: []
        optionsarg: []
        placeholder: ""
        readonly: false
        required: true
        tooltip: ""
        type: shortText
      sender: ""
      title: Enter The IMT Number
      totalanswers: 0
    id: "151"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    message:
      bcc: null
      body: null
      cc: null
      format: ""
      methods: []
      subject: null
      timings:
        completeafterreplies: 1
        completeaftersla: false
        completeafterv2: true
        retriescount: 2
        retriesinterval: 360
      to: null
    nexttasks:
      '#none#':
      - "158"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 99f74fdc-83d8-46f5-8181-e9c081a6c4a2
      iscommand: false
      name: Enter The IMT Number
      type: collection
      version: -1
    taskid: 99f74fdc-83d8-46f5-8181-e9c081a6c4a2
    timertriggers: []
    type: collection
    view: |-
      {
        "position": {
          "x": 1840,
          "y": 8750
        }
      }
  "153":
    continueonerrortype: ""
    id: "153"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 100
      wait: 1
    nexttasks:
      '#none#':
      - "45"
    note: false
    quietmode: 2
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 7dfc21fa-f42b-49f1-82a8-62fcd5c64b20
      iscommand: false
      name: 'Sub Playbook: Check With Investigator for Lift Containment'
      playbookId: 67fdcc7f-387d-4349-825a-597ed003e264
      type: playbook
      version: -1
    taskid: 7dfc21fa-f42b-49f1-82a8-62fcd5c64b20
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 1420,
          "y": 8930
        }
      }
  "158":
    continueonerrortype: ""
    form:
      description: ""
      expired: false
      questions:
      - defaultrows: []
        fieldassociated: imtlocation
        gridcolumns: []
        id: "0"
        label: ""
        labelarg:
          simple: Enter The IMT Location
        options: []
        optionsarg: []
        placeholder: 'Enter Branch and Location.  Eg: TCS-Mumbai-Olympus'
        readonly: false
        required: true
        tooltip: ""
        type: shortText
      sender: Your SOC team
      title: Enter The IMT Location
      totalanswers: 0
    formDisplay:
      bodybackgroundcolor: ""
      bodyfontcolor: ""
      headerbackgroundcolor: ""
      headerfontcolor: ""
      isexternalrtl: false
      sender: ""
      submitbuttonbackgroundcolor: ""
      submitbuttonfontcolor: ""
      submittext: ""
    id: "158"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    message:
      bcc: null
      body: null
      cc: null
      format: ""
      methods: []
      subject: null
      timings:
        completeafterreplies: 1
        completeaftersla: false
        completeafterv2: true
        retriescount: 2
        retriesinterval: 360
      to: null
    nexttasks:
      '#none#':
      - "153"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 2f2b6449-0e26-4f2e-8cf9-b310acd8a222
      iscommand: false
      name: Enter The IMT Location
      type: collection
      version: -1
    taskid: 2f2b6449-0e26-4f2e-8cf9-b310acd8a222
    timertriggers: []
    type: collection
    view: |-
      {
        "position": {
          "x": 1850,
          "y": 8880
        }
      }
  "159":
    continueonerrortype: ""
    id: "159"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 100
      wait: 1
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: c7952e47-04c3-4b9c-8f76-d7b38d231ba2
      iscommand: false
      name: TCS-Block-CyberSOC Shared IOC v2.1_KK
      playbookId: 08d910d3-8abe-48de-8e69-0ab4027205b5
      type: playbook
      version: -1
    taskid: c7952e47-04c3-4b9c-8f76-d7b38d231ba2
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 2410,
          "y": 7280
        }
      }
  "160":
    continueonerrortype: ""
    id: "160"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 100
      wait: 1
    nexttasks:
      '#none#':
      - "161"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 151140fe-3a4c-4fd7-8edb-0f7ebebc4fd3
      iscommand: false
      name: 'Sub Playbook: Select IOC To Block'
      playbookId: 3a55bd64-9e7f-40bc-88f8-d2ac28c0e4b0
      type: playbook
      version: -1
    taskid: 151140fe-3a4c-4fd7-8edb-0f7ebebc4fd3
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 2520,
          "y": 7565
        }
      }
  "161":
    continueonerrortype: ""
    id: "161"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 100
      wait: 1
    note: false
    quietmode: 0
    scriptarguments:
      suspiciousiocs:
        complex:
          accessor: "0"
          root: Which IOC.Answers
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: a8dac008-e0af-4151-8678-4110516021c3
      iscommand: false
      name: 'Sub Playbook: CSOC Submitted IOC Block Process'
      playbookId: 7e0105f5-2558-456a-85df-77c9558ebba6
      type: playbook
      version: -1
    taskid: a8dac008-e0af-4151-8678-4110516021c3
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 2530,
          "y": 7760
        }
      }
  "162":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                accessor: "1"
                root: Which IOC.Answers
          operator: isNotEmpty
      label: "yes"
    continueonerrortype: ""
    id: "162"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "166"
      "yes":
      - "163"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: fef6b7b3-b432-4b75-87ca-a4aacb3c5f4a
      iscommand: false
      name: Check condition if extra IOC are selected
      type: condition
      version: -1
    taskid: fef6b7b3-b432-4b75-87ca-a4aacb3c5f4a
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 1670,
          "y": 7485
        }
      }
  "163":
    continueonerrortype: ""
    id: "163"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "164"
    note: false
    quietmode: 0
    scriptarguments:
      arrayData:
        simple: ${Which IOC.Answers.1},${Which IOC.Answers.0}
      contextKey:
        simple: SelectedIOCAnswer
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: 'Will create an array object in context from given string input '
      id: 67eeee51-5eec-4f30-80c2-edaa0e9b00c8
      iscommand: false
      name: Set in array for context value
      script: CreateArray
      type: regular
      version: -1
    taskid: 67eeee51-5eec-4f30-80c2-edaa0e9b00c8
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1670,
          "y": 7650
        }
      }
  "164":
    continueonerrortype: ""
    id: "164"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "165"
    note: false
    quietmode: 0
    scriptarguments:
      append:
        simple: "true"
      key:
        simple: FinalselectedIOC
      value:
        complex:
          root: SelectedIOCAnswer
          transformers:
          - args:
              chars:
                value:
                  simple: '[]'
            operator: StripChars
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Set a value in context under the key you entered.
      id: 7585828c-7111-4b4a-8590-689527092ccb
      iscommand: false
      name: Set Final Selected IOC in context
      script: Set
      type: regular
      version: -1
    taskid: 7585828c-7111-4b4a-8590-689527092ccb
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1670,
          "y": 7790
        }
      }
  "165":
    continueonerrortype: ""
    id: "165"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 100
      wait: 1
    nexttasks:
      '#none#':
      - "138"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 80a9b923-bd0a-49de-8a04-5112bf6b3601
      iscommand: false
      name: TCS-Blacklist IOC v3.0_PG
      playbookId: 72dda1e2-ca72-42c4-8232-4592b180eb04
      type: playbook
      version: -1
    taskid: 80a9b923-bd0a-49de-8a04-5112bf6b3601
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 1670,
          "y": 7955
        }
      }
  "166":
    continueonerrortype: ""
    id: "166"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "165"
    note: false
    quietmode: 0
    scriptarguments:
      append:
        simple: "true"
      key:
        simple: FinalselectedIOC
      value:
        complex:
          accessor: "0"
          root: Which IOC.Answers
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Set a value in context under the key you entered.
      id: 78568962-fc98-41cb-8da8-c482a2052bd6
      iscommand: false
      name: Set Context Value
      script: Set
      type: regular
      version: -1
    taskid: 78568962-fc98-41cb-8da8-c482a2052bd6
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 2090,
          "y": 7715
        }
      }
version: -1
view: |-
  {
    "linkLabelsPosition": {
      "107_123_I'm Ready - Procced To Next Task": 0.69,
      "114_129_Yes , it is Genuine (Confirmed Falsepositive)": 0.67,
      "130_141_No - They Are Already Blocked / Contained": 0.42
    },
    "paper": {
      "dimensions": {
        "height": 6455,
        "width": 2482.5,
        "x": 427.5,
        "y": 3130
      }
    }
  }
