playbook-Tested_multiple_subplaybooks_access_to_context.yml
contentitemexportablefields:
  contentitemfields:
    definitionid: ""
    fromServerVersion: ""
    itemVersion: ""
    packID: ""
    packName: ""
    prevname: ""
    propagationLabels:
    - all
    toServerVersion: ""
id: 129f405d-ec24-4351-8c4b-e5b0eea04738
inputs: []
name: Tested multiple subplaybooks access to context
outputs: []
starttaskid: "0"
tasks:
  "0":
    continueonerrortype: ""
    id: "0"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "1"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 95966de7-e502-4420-8858-3a3274556f8c
      iscommand: false
      name: ""
      version: -1
    taskid: 95966de7-e502-4420-8858-3a3274556f8c
    timertriggers: []
    type: start
    view: |-
      {
        "position": {
          "x": 50,
          "y": 50
        }
      }
  "1":
    continueonerrortype: ""
    id: "1"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "2"
    note: false
    quietmode: 0
    scriptarguments:
      key:
        simple: test
      value:
        simple: print test
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Set a value in context under the key you entered.
      id: ae6ece24-ec0f-4855-8fda-65410f626e1a
      iscommand: false
      name: set
      script: Set
      type: regular
      version: -1
    taskid: ae6ece24-ec0f-4855-8fda-65410f626e1a
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 50,
          "y": 195
        }
      }
  "2":
    continueonerrortype: ""
    id: "2"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "3"
    note: false
    quietmode: 0
    scriptarguments:
      value:
        simple: ${test} in main playbook
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Prints text to war room (Markdown supported)
      id: bfb7a448-a583-4b4a-8093-66ed27849c32
      iscommand: false
      name: Print
      script: Print
      type: regular
      version: -1
    taskid: bfb7a448-a583-4b4a-8093-66ed27849c32
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 50,
          "y": 370
        }
      }
  "3":
    continueonerrortype: ""
    id: "3"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      id: e83cf582-7729-49b1-8b80-e9bc9f30d315
      iscommand: false
      name: sub-pb
      playbookId: ba00221b-fb94-47aa-865a-5225c0ee2c63
      type: playbook
      version: -1
    taskid: e83cf582-7729-49b1-8b80-e9bc9f30d315
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 50,
          "y": 545
        }
      }
version: -1
view: |-
  {
    "linkLabelsPosition": {},
    "paper": {
      "dimensions": {
        "height": 590,
        "width": 380,
        "x": 50,
        "y": 50
      }
    }
  }
