playbook-Test-ReadPlaybook.yml
contentitemexportablefields:
  contentitemfields:
    definitionid: ""
    fromServerVersion: ""
    itemVersion: ""
    packID: ""
    packName: ""
    prevname: ""
    propagationLabels:
    - all
    toServerVersion: ""
id: 1eb4b7ca-7bd7-4c16-89b2-ee7ca97b9464
inputs:
- description: ""
  key: domain
  playbookInputQuery: null
  required: false
  value:
    simple: commbank.com.au
name: Test-ReadPlaybook
outputs: []
starttaskid: "0"
tasks:
  "0":
    continueonerrortype: ""
    id: "0"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "2"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 1e86da2d-c816-4291-81dd-cb9d5460f42b
      iscommand: false
      name: ""
      version: -1
    taskid: 1e86da2d-c816-4291-81dd-cb9d5460f42b
    timertriggers: []
    type: start
    view: |-
      {
        "position": {
          "x": 50,
          "y": 50
        }
      }
  "2":
    continueonerrortype: ""
    id: "2"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "4"
    note: false
    quietmode: 0
    scriptarguments:
      domain:
        simple: ${inputs.domain}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Queries a domain in AlienVault OTX.
      id: 943e077a-e1f5-401b-8b63-1f3a2acebc21
      iscommand: true
      name: Domain command
      script: '|||domain'
      type: regular
      version: -1
    taskid: 943e077a-e1f5-401b-8b63-1f3a2acebc21
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 50,
          "y": 195
        }
      }
  "3":
    continueonerrortype: ""
    id: "3"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: a086762a-e127-4b91-8c19-576cad863bdf
      iscommand: false
      name: Done
      type: title
      version: -1
    taskid: a086762a-e127-4b91-8c19-576cad863bdf
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": -250,
          "y": 1870
        }
      }
  "4":
    continueonerrortype: ""
    id: "4"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "5"
    note: false
    quietmode: 0
    scriptarguments:
      value:
        simple: ${Domain}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Prints text to war room (Markdown supported)
      id: 4801239f-893e-409a-80ee-e004c7cf4ff5
      iscommand: false
      name: Print Domain Result
      script: Print
      type: regular
      version: -1
    taskid: 4801239f-893e-409a-80ee-e004c7cf4ff5
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 50,
          "y": 370
        }
      }
  "5":
    continueonerror: true
    continueonerrortype: errorPath
    id: "5"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#error#':
      - "8"
      '#none#':
      - "6"
    note: false
    quietmode: 0
    scriptarguments:
      body:
        simple: ${incident.emailbody}
      subject:
        simple: ${incident.name}
      to:
        simple: ${incident.username}
    separatecontext: false
    skipunavailable: false
    task:
      brand: EWS v2
      description: Sends an email using EWS.
      id: 69e08b23-7dcd-446f-8abd-4228994cdb2a
      iscommand: true
      name: Send Mail
      script: EWS v2|||send-mail
      type: regular
      version: -1
    taskid: 69e08b23-7dcd-446f-8abd-4228994cdb2a
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 50,
          "y": 545
        }
      }
  "6":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: Domain.Name
          operator: isEqualString
          right:
            iscontext: true
            value:
              simple: ${inputs.domain}
      label: "yes"
    continueonerrortype: ""
    id: "6"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "3"
      "yes":
      - "7"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: ac5b39c2-b887-4d50-8673-b6a03ee0c259
      iscommand: false
      name: test conditional
      type: condition
      version: -1
    taskid: ac5b39c2-b887-4d50-8673-b6a03ee0c259
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 50,
          "y": 895
        }
      }
  "7":
    continueonerrortype: ""
    id: "7"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "10"
    note: false
    quietmode: 0
    scriptarguments:
      value:
        simple: Valid Domain
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Prints text to war room (Markdown supported)
      id: 4b4bbf7c-1b87-4f3c-8eb3-a8040e18afb9
      iscommand: false
      name: Print "Yes"
      script: Print
      type: regular
      version: -1
    taskid: 4b4bbf7c-1b87-4f3c-8eb3-a8040e18afb9
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 460,
          "y": 1150
        }
      }
  "8":
    continueonerrortype: ""
    id: "8"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "6"
    note: false
    quietmode: 0
    scriptarguments:
      bodyType:
        simple: HTML
      htmlBody:
        simple: ${incident.emailbody}
      subject:
        simple: ${incident.name}
      to:
        simple: sua@paloaltonetworks.com
    separatecontext: false
    skipunavailable: false
    task:
      brand: EWS v2
      description: Sends an email using EWS.
      id: 34c11b61-2c80-468b-8b9a-cdb549d5df36
      iscommand: true
      name: Send-Mail Task
      script: EWS v2|||send-mail
      type: regular
      version: -1
    taskid: 34c11b61-2c80-468b-8b9a-cdb549d5df36
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 550,
          "y": 720
        }
      }
  "9":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: Domain.Name
          operator: isEqualString
          right:
            iscontext: true
            value:
              simple: ${inputs.domain}
      label: "yes"
    continueonerrortype: ""
    id: "9"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: a97618c7-266b-4a80-8172-df9b7c85a007
      iscommand: false
      name: test conditional
      type: condition
      version: -1
    taskid: a97618c7-266b-4a80-8172-df9b7c85a007
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": -610,
          "y": 1055
        }
      }
  "10":
    continueonerrortype: ""
    id: "10"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      "No":
      - "12"
      "yes":
      - "11"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 6f9a359c-0e79-4183-8f92-c6333db159d3
      iscommand: false
      name: Test Conditional Task
      type: condition
      version: -1
    taskid: 6f9a359c-0e79-4183-8f92-c6333db159d3
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 460,
          "y": 1340
        }
      }
  "11":
    continueonerrortype: ""
    id: "11"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "3"
    note: false
    quietmode: 0
    scriptarguments:
      value:
        simple: "Yes"
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Prints text to war room (Markdown supported)
      id: 4f44c8f3-f195-4858-8d42-19788732b2e4
      iscommand: false
      name: Print "Yes" task
      script: Print
      type: regular
      version: -1
    taskid: 4f44c8f3-f195-4858-8d42-19788732b2e4
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 140,
          "y": 1580
        }
      }
  "12":
    continueonerrortype: ""
    id: "12"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "3"
    note: false
    quietmode: 0
    scriptarguments:
      value:
        simple: "No"
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Prints text to war room (Markdown supported)
      id: 76efffef-e41e-4646-8a8a-fe764e1e0e2f
      iscommand: false
      name: Print "No" task
      script: Print
      type: regular
      version: -1
    taskid: 76efffef-e41e-4646-8a8a-fe764e1e0e2f
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 740,
          "y": 1580
        }
      }
version: -1
view: |-
  {
    "linkLabelsPosition": {},
    "paper": {
      "dimensions": {
        "height": 1885,
        "width": 1730,
        "x": -610,
        "y": 50
      }
    }
  }
