playbook-TCS_-_Does_Offence_Belongs_to_citi_Project_v1.0_KK.yml
contentitemexportablefields:
  contentitemfields:
    definitionid: ""
    fromServerVersion: ""
    itemVersion: ""
    packID: ""
    packName: ""
    prevname: ""
    propagationLabels:
    - all
    toServerVersion: ""
id: 5f927e50-cf6b-4d54-837b-d3ade76bc624
inputs: []
name: TCS - Does Offence Belongs to citi Project v1.0_KK
outputs: []
starttaskid: "0"
tasks:
  "0":
    continueonerrortype: ""
    id: "0"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "1"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 7d23af6c-811a-4ae6-8b47-2f6875e03076
      iscommand: false
      name: ""
      version: -1
    taskid: 7d23af6c-811a-4ae6-8b47-2f6875e03076
    timertriggers: []
    type: start
    view: |-
      {
        "position": {
          "x": 450,
          "y": 50
        }
      }
  "1":
    conditions:
    - condition:
      - - ignorecase: true
          left:
            iscontext: true
            value:
              simple: incident.crowdstrikehostname
          operator: inList
          right:
            value:
              simple: ${lists.Citi Hostnames}
        - ignorecase: true
          left:
            iscontext: true
            value:
              simple: incident.labels.offense_source
          operator: inList
          right:
            value:
              simple: lists.Citi IPs
        - left:
            iscontext: true
            value:
              simple: incident.labels.offense_source
          operator: inList
          right:
            value:
              simple: lists.Citi Employee IDs
      label: citi_host
    continueonerrortype: ""
    id: "1"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "6"
      citi_host:
      - "2"
    note: false
    quietmode: 2
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 2370865d-a82a-4ea7-8dd4-19e2f476ef6e
      iscommand: false
      name: Is the offence associated with Citi
      type: condition
      version: -1
    taskid: 2370865d-a82a-4ea7-8dd4-19e2f476ef6e
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 450,
          "y": 190
        }
      }
  "2":
    continueonerrortype: ""
    id: "2"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "6"
    note: false
    quietmode: 0
    scriptarguments:
      listData:
        simple: ${incident.id}
      listName:
        simple: List of Citi Offences Triggered
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: commands.local.cmd.list.add
      id: 4d01aaf2-9233-4887-834f-7ebb15a8d2c3
      iscommand: true
      name: Add Offence ID to list
      script: Builtin|||addToList
      type: regular
      version: -1
    taskid: 4d01aaf2-9233-4887-834f-7ebb15a8d2c3
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 180,
          "y": 450
        }
      }
  "6":
    continueonerrortype: ""
    id: "6"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: a62528d0-b5cd-4b77-8828-f2960f5ebe1f
      iscommand: false
      name: Exit
      type: title
      version: -1
    taskid: a62528d0-b5cd-4b77-8828-f2960f5ebe1f
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 450,
          "y": 670
        }
      }
version: -1
view: |-
  {
    "linkLabelsPosition": {},
    "paper": {
      "dimensions": {
        "height": 685,
        "width": 650,
        "x": 180,
        "y": 50
      }
    }
  }
