playbook-TCS-New_Manual_Incident_copy.yml
contentitemexportablefields:
  contentitemfields:
    definitionid: ""
    fromServerVersion: ""
    itemVersion: ""
    packID: ""
    packName: ""
    prevname: ""
    propagationLabels:
    - all
    toServerVersion: ""
id: 0372de9c-7e0b-49fc-8db2-2a102f9e77c7
inputs: []
name: TCS-New Manual Incident_copy
outputs: []
sourceplaybookid: 988d87a9-fb4c-4d7b-82cd-f2fbfa1b2070
starttaskid: "0"
tasks:
  "0":
    continueonerrortype: ""
    id: "0"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "2"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 5d36aae3-4726-4656-8f11-972ffda9bd06
      iscommand: false
      name: ""
      version: -1
    taskid: 5d36aae3-4726-4656-8f11-972ffda9bd06
    timertriggers: []
    type: start
    view: |-
      {
        "position": {
          "x": 910,
          "y": -45
        }
      }
  "2":
    continueonerrortype: ""
    id: "2"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "39"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Expose the incident owner into IncidentOwner context key
      id: c8d3d66d-498c-4dad-8135-355c19edabca
      iscommand: false
      name: Populate Incident Owner Context
      script: ExposeIncidentOwner
      type: regular
      version: -1
    taskid: c8d3d66d-498c-4dad-8135-355c19edabca
    timertriggers:
    - action: start
      fieldname: closuresla
    - action: start
      fieldname: detectionsla
    type: regular
    view: |-
      {
        "position": {
          "x": 910,
          "y": 85
        }
      }
  "14":
    continueonerrortype: ""
    id: "14"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "40"
    note: false
    quietmode: 0
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      id: 56e95855-489a-442e-8af0-2c509e79468e
      iscommand: false
      name: TCS-Triage-Case Management v1.0_Kunal
      playbookId: 471f1166-d504-42dd-8101-f0c4c00c68e8
      type: playbook
      version: -1
    taskid: 56e95855-489a-442e-8af0-2c509e79468e
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 910,
          "y": 905
        }
      }
  "16":
    continueonerrortype: ""
    id: "16"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 9188b7c7-2ef1-4729-8ea3-7449c8b729f5
      iscommand: false
      name: Close Investigation
      type: title
      version: -1
    taskid: 9188b7c7-2ef1-4729-8ea3-7449c8b729f5
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 900,
          "y": 1790
        }
      }
  "36":
    continueonerrortype: ""
    id: "36"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 100
      wait: 1
    note: false
    quietmode: 0
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      id: be18adca-2713-4646-8d46-b264eb823781
      iscommand: false
      name: True Positive Questionnaire_WIP
      playbookId: 827cb3f4-4d1b-4c8c-8255-2d63c2962f17
      type: playbook
      version: -1
    taskid: be18adca-2713-4646-8d46-b264eb823781
    timertriggers:
    - action: stop
      fieldname: detectionsla
    type: playbook
    view: |-
      {
        "position": {
          "x": 1850,
          "y": 1310
        }
      }
  "38":
    continueonerrortype: ""
    id: "38"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "44"
    note: false
    quietmode: 0
    scriptarguments:
      selectshift:
        complex:
          accessor: roles
          root: UserByUsername
          transformers:
          - args:
              from:
                value:
                  simple: '['
            operator: substringFrom
          - args:
              to:
                value:
                  simple: ']'
            operator: substringTo
          - args:
              delimiter:
                value:
                  simple: ' '
            operator: splitAndTrim
          - args:
              separator:
                value:
                  simple: ' '
            operator: join
          - args:
              regex:
                value:
                  simple: ' CSOC-XSOAR-Admin'
              replaceWith: {}
            operator: replaceMatch
          - args:
              regex:
                value:
                  simple: ' Read-Only'
              replaceWith: {}
            operator: replaceMatch
          - args:
              regex:
                value:
                  simple: ' Operator'
              replaceWith: {}
            operator: replaceMatch
          - args:
              delimiter: {}
            operator: splitAndTrim
      shift:
        complex:
          accessor: roles
          root: UserByUsername
          transformers:
          - args:
              from:
                value:
                  simple: '['
            operator: substringFrom
          - args:
              to:
                value:
                  simple: ']'
            operator: substringTo
          - args:
              delimiter: {}
            operator: splitAndTrim
          - args:
              separator:
                value:
                  simple: ' '
            operator: join
          - args:
              regex:
                value:
                  simple: ' CSOC-XSOAR-Admin'
              replaceWith: {}
            operator: replaceMatch
          - args:
              regex:
                value:
                  simple: ' Read-Only'
              replaceWith: {}
            operator: replaceMatch
          - args:
              regex:
                value:
                  simple: ' Operator'
              replaceWith: {}
            operator: replaceMatch
          - args:
              delimiter: {}
            operator: splitAndTrim
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: commands.local.cmd.set.incident
      id: 2a59d73a-367f-4622-8bdc-09cee54742d3
      iscommand: true
      name: Set Investigator Role In Context
      script: Builtin|||setIncident
      type: regular
      version: -1
    taskid: 2a59d73a-367f-4622-8bdc-09cee54742d3
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 910,
          "y": 420
        }
      }
  "39":
    continueonerrortype: ""
    id: "39"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "38"
    note: false
    quietmode: 0
    scriptarguments:
      username:
        complex:
          accessor: owner
          root: incident
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: commands.local.cmd.get.user.by.username
      id: 2a674dd5-65e6-4b78-86a2-c1ad8e3765d7
      iscommand: true
      name: Get Incident Owner Details
      script: Builtin|||getUserByUsername
      type: regular
      version: -1
    taskid: 2a674dd5-65e6-4b78-86a2-c1ad8e3765d7
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 910,
          "y": 245
        }
      }
  "40":
    continueonerrortype: ""
    id: "40"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    message:
      bcc: null
      body:
        simple: "Is This a True Positive Alert ?\n(Study The IoC Threat Intelligence
          Report. Are IoCs Part of The XSOAR Block List ? Check if the indicators
          have block tags and the expiration status. Also check for 'Related Incidents') "
      cc: null
      format: ""
      methods: []
      replyOptions:
      - 'No, It is False Positive '
      - No, its a Benign-True Positive
      - Yes, it is True Positive
      subject: null
      timings:
        completeafterreplies: 1
        completeaftersla: false
        completeafterv2: true
        retriescount: 2
        retriesinterval: 360
      to: {}
    nexttasks:
      'No, It is False Positive ':
      - "42"
      No, its a Benign-True Positive:
      - "43"
      Yes, it is True Positive:
      - "46"
    note: true
    quietmode: 2
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 3327af66-11c3-4601-8f7c-b18055cd396f
      iscommand: false
      name: "Is This a True Positive Alert ? \n(Study The IoC Threat Intelligence
        Report. Are IoCs Part of The XSOAR Block List ? Check if the indicators have
        block tags and the expiration status. Also check for 'Related Incidents') "
      tags:
      - Note
      type: condition
      version: -1
    taskid: 3327af66-11c3-4601-8f7c-b18055cd396f
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 910,
          "y": 1080
        }
      }
  "41":
    continueonerrortype: ""
    id: "41"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 100
      wait: 1
    nexttasks:
      '#none#':
      - "16"
    note: false
    quietmode: 2
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      id: 7137eb4d-79ec-4e75-824e-58cba931b877
      iscommand: false
      name: 'Sub Playbook: Document & Close'
      playbookId: 4a46e3dc-82da-4b3a-86ca-eb2f9dfd589f
      type: playbook
      version: -1
    taskid: 7137eb4d-79ec-4e75-824e-58cba931b877
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 900,
          "y": 1580
        }
      }
  "42":
    continueonerrortype: ""
    id: "42"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "41"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: d6e6c234-fdef-45d3-81f2-7f13cc867b20
      iscommand: false
      name: Close Investigation- False Positive
      type: title
      version: -1
    taskid: d6e6c234-fdef-45d3-81f2-7f13cc867b20
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 420,
          "y": 1295
        }
      }
  "43":
    continueonerrortype: ""
    id: "43"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "41"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 3032a629-cccb-4325-802e-1cd6ba4e0b6a
      iscommand: false
      name: 'Close Investigation -Benign True positive '
      type: title
      version: -1
    taskid: 3032a629-cccb-4325-802e-1cd6ba4e0b6a
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 900,
          "y": 1295
        }
      }
  "44":
    continueonerrortype: ""
    id: "44"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "45"
    note: false
    quietmode: 0
    scriptarguments:
      prismacloudownerdetails:
        simple: https://tcscomprod-my.sharepoint.com/:x:/g/personal/2035449_tcs_com/EbBDoOnDYUVKqFGCZx6iU7QBRKqmkgUyzq_x3rxjcLyLMw?e=sZhdEW
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: commands.local.cmd.set.incident
      id: eb851c37-ee91-4770-8160-e93c87be3f69
      iscommand: true
      name: 'Set Prisma Cloud Owner Details  Link '
      script: Builtin|||setIncident
      type: regular
      version: -1
    taskid: eb851c37-ee91-4770-8160-e93c87be3f69
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 910,
          "y": 580
        }
      }
  "45":
    continueonerrortype: ""
    id: "45"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "14"
    note: false
    quietmode: 0
    scriptarguments:
      prioritymatrix:
        simple: |-
          <table style="height: 212px; border-style: solid; width: 658px; background-color: #ffffff;" width="658">
          <tbody>
          <tr style="height: 46px;">
          <td style="height: 92px; width: 199.688px; border-style: solid;" colspan="2" rowspan="2">
          <h3 style="text-align: center;"><strong><span style="color: #0000ff;">Priority</span><span style="color: #0000ff;"> Matrix</span></strong></h3>
          </td>
          <td style="height: 46px; width: 442.312px; border-style: solid;" colspan="3">
          <h3 style="text-align: center;"><strong><span style="color: #0000ff;">Impact</span></strong></h3>
          </td>
          </tr>
          <tr style="height: 46px;">
          <td style="height: 46px; width: 124.094px; border-style: solid;">
          <h3><strong>&nbsp;1 - High</strong></h3>
          </td>
          <td style="height: 46px; width: 120.297px; border-style: solid;">
          <h3><strong>&nbsp;2 - Medium</strong></h3>
          </td>
          <td style="height: 46px; width: 185.922px; border-style: solid;">
          <h3><strong>&nbsp;3 - Low</strong></h3>
          </td>
          </tr>
          <tr style="height: 46px;">
          <td style="height: 120px; width: 93.25px; border-style: solid;" rowspan="3">
          <h3 style="text-align: center;"><strong><span style="color: #0000ff;">Urgency</span></strong></h3>
          </td>
          <td style="height: 46px; width: 100.438px; border-style: solid;">
          <h3><strong>&nbsp;1 - High</strong></h3>
          </td>
          <td style="height: 46px; width: 124.094px; border-style: solid;">
          <h3>&nbsp;<strong><span style="color: #ff0000;">0- Critical</span></strong></h3>
          </td>
          <td style="height: 46px; width: 120.297px; border-style: solid;">
          <h3>&nbsp;<strong><span style="color: #ff9900;">1 - High</span></strong></h3>
          </td>
          <td style="height: 46px; width: 185.922px; border-style: solid;">
          <h3>&nbsp;<strong><span style="color: #00ccff;">2 - Medium</span></strong></h3>
          </td>
          </tr>
          <tr style="height: 64px;">
          <td style="height: 64px; width: 100.438px; border-style: solid;">
          <h3><strong>&nbsp;2 - Medium</strong></h3>
          </td>
          <td style="height: 64px; width: 124.094px; border-style: solid;">
          <h3>&nbsp;<strong><span style="color: #ff9900;">1 - High</span></strong></h3>
          </td>
          <td style="height: 64px; width: 120.297px; border-style: solid;">
          <h3><strong><span style="color: #00ccff;">&nbsp;2 - Medium</span></strong></h3>
          </td>
          <td style="height: 64px; width: 185.922px; border-style: solid;">
          <h3>&nbsp;<span style="color: #ff00ff;"><strong>3 - Low</strong></span></h3>
          </td>
          </tr>
          <tr style="height: 10px;">
          <td style="height: 10px; width: 100.438px; border-style: solid;">
          <h3><strong>&nbsp;3 - Low</strong></h3>
          </td>
          <td style="height: 10px; width: 124.094px; border-style: solid;">
          <h3>&nbsp;<span style="color: #00ccff;"><strong>2 - Medium</strong></span></h3>
          </td>
          <td style="height: 10px; width: 120.297px; border-style: solid;">
          <h3><span style="color: #ff00ff;">&nbsp;<strong>3 - Low</strong></span></h3>
          </td>
          <td style="height: 10px; width: 185.922px; border-style: solid;">
          <h3>&nbsp;<strong><span style="color: #339966;">4 - Informational</span></strong></h3>
          </td>
          </tr>
          </tbody>
          </table>
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: commands.local.cmd.set.incident
      id: 09560ad9-4341-410e-8196-e1f206449faa
      iscommand: true
      name: Set Priority Matrix Table
      script: Builtin|||setIncident
      type: regular
      version: -1
    taskid: 09560ad9-4341-410e-8196-e1f206449faa
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 910,
          "y": 740
        }
      }
  "46":
    continueonerrortype: ""
    id: "46"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 100
      wait: 1
    nexttasks:
      '#none#':
      - "41"
    note: false
    quietmode: 0
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      id: 7115539e-a896-4c2e-8046-5950be755d29
      iscommand: false
      name: TCS-True Positive Questionnaire_v1
      playbookId: 5cdd9a41-beb2-4faa-8d29-5e718e15d517
      type: playbook
      version: -1
    taskid: 7115539e-a896-4c2e-8046-5950be755d29
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 1410,
          "y": 1400
        }
      }
version: -1
view: |-
  {
    "linkLabelsPosition": {
      "40_42_No, It is False Positive ": 0.89
    },
    "paper": {
      "dimensions": {
        "height": 1900,
        "width": 1810,
        "x": 420,
        "y": -45
      }
    }
  }
