playbook-TCS-Temp_blocking_playbook_v1.2_KR.yml
contentitemexportablefields:
  contentitemfields:
    definitionid: ""
    fromServerVersion: ""
    itemVersion: ""
    packID: ""
    packName: ""
    prevname: ""
    propagationLabels:
    - all
    toServerVersion: ""
id: 9bd32a18-0031-4be7-82ad-4b50f01b21a0
inputs: []
name: TCS-Temp blocking playbook v1.2_KR
outputs: []
quiet: true
sourceplaybookid: 9bccf4f2-f7da-4633-8f47-808a4b272c11
starttaskid: "0"
tasks:
  "0":
    continueonerrortype: ""
    id: "0"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "20"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 95046c11-6d99-42f5-854b-3bee9f0012e5
      iscommand: false
      name: ""
      version: -1
    taskid: 95046c11-6d99-42f5-854b-3bee9f0012e5
    timertriggers: []
    type: start
    view: |-
      {
        "position": {
          "x": 440,
          "y": 95
        }
      }
  "2":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                accessor: entertheiocsforblocking
                root: incident
          operator: isNotEmpty
          right:
            value: {}
      label: "yes"
    continueonerrortype: ""
    id: "2"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "6"
      "yes":
      - "3"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 81d7a8a2-0544-4190-8daf-23d92f744918
      iscommand: false
      name: Are There IoCs For Blocking ?
      type: condition
      version: -1
    taskid: 81d7a8a2-0544-4190-8daf-23d92f744918
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 440,
          "y": 420
        }
      }
  "3":
    continueonerrortype: ""
    id: "3"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "19"
    note: false
    quietmode: 0
    reputationcalc: 2
    scriptarguments:
      text:
        simple: ${incident.entertheiocsforblocking}
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: commands.local.cmd.extract.indicators
      id: 877e372b-56d8-4443-8caa-2af378efaad1
      iscommand: true
      name: Extract Indicators From Context
      script: Builtin|||extractIndicators
      type: regular
      version: -1
    taskid: 877e372b-56d8-4443-8caa-2af378efaad1
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 430,
          "y": 670
        }
      }
  "6":
    continueonerrortype: ""
    id: "6"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "15"
    note: false
    quietmode: 0
    scriptarguments:
      actionnotification:
        simple: '<h2 style="text-align: center;"><em><span style="color: #ff00ff;">No
          IoCs Found For Blocking</span></em></h2>'
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: commands.local.cmd.set.incident
      id: 37642002-ad72-4264-8a9b-c6a8c98e36b9
      iscommand: true
      name: Update Notification - No IoCs Found For Blocking
      script: Builtin|||setIncident
      type: regular
      version: -1
    taskid: 37642002-ad72-4264-8a9b-c6a8c98e36b9
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1410,
          "y": 880
        }
      }
  "13":
    continueonerrortype: ""
    id: "13"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 100
      wait: 1
    nexttasks:
      '#none#':
      - "15"
    note: false
    quietmode: 0
    scriptarguments:
      Hash:
        complex:
          accessor: Hash
          root: FinalBlacklist
      IP:
        complex:
          accessor: IPV4
          root: FinalBlacklist
      URL:
        complex:
          accessor: URL
          root: FinalBlacklist
      domain:
        complex:
          accessor: Domain
          root: FinalBlacklist
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 2d551bd6-0f86-401d-8480-ec40ff2bf5cb
      iscommand: false
      name: TCS-Temp Blocking for investigation_KR
      playbookId: bf8cf532-d70b-4560-80e9-68e4f9a524c5
      type: playbook
      version: -1
    taskid: 2d551bd6-0f86-401d-8480-ec40ff2bf5cb
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 430,
          "y": 1115
        }
      }
  "15":
    continueonerrortype: ""
    id: "15"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "16"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: commands.local.cmd.close.inv
      id: 748146b7-0587-413d-803b-8575786a3739
      iscommand: true
      name: Close Investigation
      script: Builtin|||closeInvestigation
      type: regular
      version: -1
    taskid: 748146b7-0587-413d-803b-8575786a3739
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1390,
          "y": 1550
        }
      }
  "16":
    continueonerrortype: ""
    id: "16"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: d4b94ffb-eab6-41a2-86cd-ba625790c22e
      iscommand: false
      name: END
      type: title
      version: -1
    taskid: d4b94ffb-eab6-41a2-86cd-ba625790c22e
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 1390,
          "y": 1750
        }
      }
  "18":
    continueonerrortype: ""
    id: "18"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 0
      wait: 1
    note: false
    quietmode: 0
    scriptarguments:
      Domain:
        simple: ExtractedIndicators.Domain
      IP:
        simple: ExtractedIndicators.IP
      URL:
        simple: ExtractedIndicators.URL
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 5eb6612f-68eb-46da-83e1-8088164d2a34
      iscommand: false
      name: TCS-Sub playbook for Check Trusted IOC_v1.1_PG_WIP
      playbookId: 126baddf-335e-4b23-8883-d502a36a1cc7
      type: playbook
      version: -1
    taskid: 5eb6612f-68eb-46da-83e1-8088164d2a34
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": -190,
          "y": 920
        }
      }
  "19":
    continueonerrortype: ""
    id: "19"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 100
      wait: 1
    nexttasks:
      '#none#':
      - "13"
    note: false
    quietmode: 0
    scriptarguments:
      suspiciousiocs:
        complex:
          accessor: entertheiocsforblocking
          root: incident
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 24da0e15-655d-4c36-838f-b8b8ba1efdb2
      iscommand: false
      name: TCS-Validate Submitted IOC v3.0_KK_copy_WIP
      playbookId: fde881e4-5800-47cf-8fa9-c47544501055
      type: playbook
      version: -1
    taskid: 24da0e15-655d-4c36-838f-b8b8ba1efdb2
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 430,
          "y": 840
        }
      }
  "20":
    continueonerrortype: ""
    id: "20"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "2"
    note: false
    quietmode: 0
    scriptarguments:
      severity:
        simple: Low
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: commands.local.cmd.set.incident
      id: cd436007-29e9-43a9-8daf-18d8854adeb4
      iscommand: true
      name: Set incident as 'low'
      script: Builtin|||setIncident
      type: regular
      version: -1
    taskid: cd436007-29e9-43a9-8daf-18d8854adeb4
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 440,
          "y": 240
        }
      }
version: -1
view: |-
  {
    "linkLabelsPosition": {},
    "paper": {
      "dimensions": {
        "height": 1720,
        "width": 1980,
        "x": -190,
        "y": 95
      }
    }
  }
