playbook-TCS-Stacked_Blocked_Intrusion_on_Perimeter_FW_v1.0_KK.yml
contentitemexportablefields:
  contentitemfields:
    definitionid: ""
    fromServerVersion: ""
    itemVersion: ""
    packID: ""
    packName: ""
    prevname: ""
    propagationLabels:
    - all
    toServerVersion: ""
id: 6dc548aa-fbad-427f-8061-da9fa544ed0f
inputs:
- description: How much time to wait before a timeout occurs (minutes)
  key: timeout
  playbookInputQuery: null
  required: false
  value:
    simple: "600"
- description: Polling frequency - how often the polling command should run (minutes)
  key: interval
  playbookInputQuery: null
  required: false
  value:
    simple: "1"
- description: The query expressions in AQL
  key: query_expression
  playbookInputQuery: null
  required: true
  value: {}
- description: Range of results to return (e.g. 0-20)
  key: range
  playbookInputQuery: null
  required: false
  value: {}
- description: Table headers
  key: headers
  playbookInputQuery: null
  required: false
  value: {}
name: TCS-Stacked Blocked Intrusion on Perimeter FW v1.0_KK
outputs:
- contextPath: QRadar.Search.Result
  description: The result of the search.
sourceplaybookid: 8ecfbb09-5e4c-4a64-8416-5fbee98831c8
starttaskid: "0"
tasks:
  "0":
    continueonerrortype: ""
    id: "0"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "1"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: f67cc972-9279-4de9-8a6c-8f3c7d2313e7
      iscommand: false
      name: ""
      version: -1
    taskid: f67cc972-9279-4de9-8a6c-8f3c7d2313e7
    timertriggers: []
    type: start
    view: |-
      {
        "position": {
          "x": 442.5,
          "y": 50
        }
      }
  "1":
    continueonerrortype: ""
    id: "1"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "2"
    note: false
    quietmode: 0
    scriptarguments:
      query_expression:
        simple: select CATEGORYNAME(category) AS Lowcategory,LONG(SUM(eventcount))
          AS eventcount from events where (logSourceId in ('175','176','177','178','6059','6062','6070','6072','6077','6079')
          AND eventDirection in ('R2R','R2L') AND PANW_TYPE = 'THREAT' AND PANW_Subtype
          not IN ('data', 'file') AND ActualAction not IN ('alert','default','sinkhole','syn_cookies'))
          AND CATEGORYNAME(category) <> 'Information' GROUP BY Lowcategory ORDER BY
          eventcount DESC last 24 HOURS
      retry-count:
        simple: "3"
      using:
        simple: QRadar v3_Typosquat Offences
    separatecontext: false
    skipunavailable: false
    task:
      brand: QRadar v3
      description: Creates a new asynchronous Ariel search. Returns the search ID.
        Search status and results can be polled by sending the search ID to the 'qradar-search-status-get'
        and 'qradar-search-results-get' commands. Accepts SELECT query expressions
        only.
      id: 6e2c0169-69de-438a-80dc-6b23720c8a81
      iscommand: true
      name: qradar-searches Stack Count
      script: QRadar v3|||qradar-search-create
      type: regular
      version: -1
    taskid: 6e2c0169-69de-438a-80dc-6b23720c8a81
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 442.5,
          "y": 190
        }
      }
  "2":
    continueonerrortype: ""
    id: "2"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "3"
    note: false
    quietmode: 0
    scriptarguments:
      headers:
        simple: ${inputs.headers}
      search_id:
        simple: ${QRadar.Search.ID}
      using:
        simple: QRadar_v2_Autoclosure_of_phishing_offenses
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Gets search object to initialize polling playbook
      id: 6aff639e-2baf-4a80-838c-075eb383e55d
      iscommand: true
      name: qradar-get-search
      script: '|||qradar-get-search'
      type: regular
      version: -1
    taskid: 6aff639e-2baf-4a80-838c-075eb383e55d
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 442.5,
          "y": 400
        }
      }
  "3":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: QRadar.Search.Status
          operator: isEqualString
          right:
            value:
              simple: COMPLETED
      label: "yes"
    continueonerrortype: ""
    id: "3"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "4"
      "yes":
      - "5"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Checks whether the search is completed
      id: bfdcdc29-0062-4804-883c-aecdfb713a9f
      iscommand: false
      name: Is search completed?
      type: condition
      version: -1
    taskid: bfdcdc29-0062-4804-883c-aecdfb713a9f
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 442.5,
          "y": 575
        }
      }
  "4":
    continueonerrortype: ""
    id: "4"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "5"
    note: false
    quietmode: 0
    scriptarguments:
      AdditionalPollingCommandArgNames:
        simple: using
      AdditionalPollingCommandArgValues:
        simple: QRadar v3_Typosquat Offences
      Ids:
        simple: ${QRadar.Search.ID}
      Interval:
        simple: ${inputs.interval}
      PollingCommandArgName:
        simple: search_id
      PollingCommandName:
        simple: qradar-get-search
      Timeout:
        simple: ${inputs.timeout}
      dt:
        simple: QRadar.Search(val.Status!=='COMPLETED' ).ID
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      description: |-
        Use this playbook as a sub-playbook to block execution of the master playbook until a remote action is complete.
        This playbook implements polling by continuously running the command in Step \#2 until the operation completes.
        The remote action should have the following structure:

        1. Initiate the operation.
        2. Poll to check if the operation completed.
        3. (optional) Get the results of the operation.
      id: 2d559fe8-6c1a-468f-822c-8055aafab476
      iscommand: false
      name: GenericPolling
      playbookId: GenericPolling
      type: playbook
      version: -1
    taskid: 2d559fe8-6c1a-468f-822c-8055aafab476
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 100,
          "y": 760
        }
      }
  "5":
    continueonerrortype: ""
    id: "5"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "7"
    note: false
    quietmode: 0
    scriptarguments:
      headers:
        simple: ${inputs.headers}
      range:
        simple: ${inputs.range}
      search_id:
        simple: ${QRadar.Search.ID}
      using:
        simple: QRadar_v2_Autoclosure_of_phishing_offenses
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: executes qradar-get-search-results to get the search results
      id: 9247683d-b25c-43cf-8066-bac77f2d5de9
      iscommand: true
      name: qradar-get-search-results
      script: '|||qradar-get-search-results'
      type: regular
      version: -1
    taskid: 9247683d-b25c-43cf-8066-bac77f2d5de9
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 442.5,
          "y": 945
        }
      }
  "6":
    continueonerrortype: ""
    id: "6"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "12"
    note: false
    quietmode: 0
    scriptarguments:
      counts:
        simple: ${QRadar.Search.Result}
      stackListName:
        simple: FWStackTimeLine
      subCounts:
        simple: ${subplaybook-6.QRadar.Search.Result}
      totalCount:
        simple: ${QRadar.Search.Result.events}
      totalList:
        simple: FWIOCTimeline
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: c6366f23-3f83-442a-8e31-109311c24bdf
      iscommand: false
      name: Update List
      script: a72fa6bd-c1b9-44f6-82db-d2f6b43161dc
      type: regular
      version: -1
    taskid: c6366f23-3f83-442a-8e31-109311c24bdf
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 230,
          "y": 1310
        }
      }
  "7":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: QRadar.Search.Result
          operator: isExists
      label: "yes"
    continueonerrortype: ""
    id: "7"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "8"
      "yes":
      - "6"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 528cdd4e-f725-458e-8110-ea263d5aef56
      iscommand: false
      name: Are results fetched?
      type: condition
      version: -1
    taskid: 528cdd4e-f725-458e-8110-ea263d5aef56
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 442.5,
          "y": 1120
        }
      }
  "8":
    continueonerrortype: ""
    id: "8"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "14"
    note: false
    quietmode: 0
    scriptarguments:
      counts:
        simple: "0"
      stackListName:
        simple: FWStackTimeLine
      subCounts:
        simple: ${subplaybook-6.QRadar.Search.Result}
      totalCount:
        simple: ${QRadar.Search.Result.events}
      totalList:
        simple: FWIOCTimeline
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 14dc8181-eea7-4394-8e0f-5de793664823
      iscommand: false
      name: Update List with 0 count
      script: a72fa6bd-c1b9-44f6-82db-d2f6b43161dc
      type: regular
      version: -1
    taskid: 14dc8181-eea7-4394-8e0f-5de793664823
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 680,
          "y": 1310
        }
      }
  "9":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: EventSum
          operator: greaterThan
          right:
            iscontext: true
            value:
              simple: Threshold
      label: "yes"
    continueonerrortype: ""
    id: "9"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "11"
      "yes":
      - "10"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: b347313f-2f78-45bf-8a9d-c4e7e94a9674
      iscommand: false
      name: Is Threshold Exceeded?
      type: condition
      version: -1
    taskid: b347313f-2f78-45bf-8a9d-c4e7e94a9674
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 232.5,
          "y": 1700
        }
      }
  "10":
    continueonerrortype: ""
    id: "10"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "15"
    note: false
    quietmode: 0
    scriptarguments:
      body:
        simple: |-
          Hello,

          FW Inbound Threats Mitigated events count for ${Date} is ${QRadar.Search.Result.events.SUM_eventcount}, which has crossed the threshold limit - ${Threshold}. Kindly investigate further.

          Regards,
          CSOC Cyber AutoBot
      cc:
        simple: kunal.krushev@tcs.com,yogesh.gholap@tcs.com,rupesh.sane@tcs.com,nimisha.prajapati@tcs.com
      subject:
        simple: FW Inbound Threats Mitigated - Threshold limit exceeded
      to:
        simple: vaithilingam.arumugam@tcs.com,prashant.matle@tcs.com,prasad.kaginkar@tcs.com,samadhan.pardeshi@tcs.com
    separatecontext: false
    skipunavailable: false
    task:
      brand: EWS Mail Sender
      description: Sends an email using EWS.
      id: ee67038f-58f5-41fe-844a-4d86aca9898a
      iscommand: true
      name: Send email notification to Leads
      script: EWS Mail Sender|||send-mail
      type: regular
      version: -1
    taskid: ee67038f-58f5-41fe-844a-4d86aca9898a
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 232.5,
          "y": 1890
        }
      }
  "11":
    continueonerrortype: ""
    id: "11"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "13"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: commands.local.cmd.close.inv
      id: e130f39d-7d9c-4819-879a-903a54a05c5d
      iscommand: true
      name: Close Investigation
      script: Builtin|||closeInvestigation
      type: regular
      version: -1
    taskid: e130f39d-7d9c-4819-879a-903a54a05c5d
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 680,
          "y": 1960
        }
      }
  "12":
    continueonerrortype: ""
    id: "12"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "9"
    note: false
    quietmode: 0
    scriptarguments:
      list:
        simple: FWIOCTimeline
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 7bf21e87-12f1-41bf-8f68-0942521f01be
      iscommand: false
      name: Calculate Threshold
      script: 914ac02b-da5c-48fa-880d-103752aeaa92
      type: regular
      version: -1
    taskid: 7bf21e87-12f1-41bf-8f68-0942521f01be
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 232.5,
          "y": 1520
        }
      }
  "13":
    continueonerrortype: ""
    id: "13"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Playbook is done
      id: 8f7b0f2d-b046-4bad-8769-c3af50b22e55
      iscommand: false
      name: Done
      type: title
      version: -1
    taskid: 8f7b0f2d-b046-4bad-8769-c3af50b22e55
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 680,
          "y": 2175
        }
      }
  "14":
    continueonerrortype: ""
    id: "14"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "11"
    note: false
    quietmode: 0
    scriptarguments:
      body:
        simple: |-
          Hello,

          No results were found for FW Inbound Threats Mitigated events for ${Date}.
          Regards,

          CSOC Cyber AutoBot
      cc:
        simple: kunal.krushev@tcs.com,yogesh.gholap@tcs.com,rupesh.sane@tcs.com,nimisha.prajapati@tcs.com,Shahnawaz.Kohati@tcs.com
      subject:
        simple: FW Inbound Threats Mitigated - No results found
      to:
        simple: priyadarshani.kate@tcs.com,jha.sweta1@tcs.com,sonam.bhandari@tcs.com,vaithilingam.arumugam@tcs.com,gayathri.pulla@tcs.com,prasad.kaginkar@tcs.com,samadhan.pardeshi@tcs.com
      using:
        simple: Mail Sender_instance_AutoBot
    separatecontext: false
    skipunavailable: false
    task:
      brand: Mail Sender (New)
      description: Send an email
      id: c68df745-67b2-4319-88a7-29ec372b476f
      iscommand: true
      name: Send email notification to Leads
      script: Mail Sender (New)|||send-mail
      type: regular
      version: -1
    taskid: c68df745-67b2-4319-88a7-29ec372b476f
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 680,
          "y": 1520
        }
      }
  "15":
    continueonerrortype: ""
    id: "15"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "11"
    note: false
    quietmode: 0
    scriptarguments:
      name:
        simple: Perimeter FW Threshold Breached - ${Date}
      qradardescription:
        simple: ${QRadar.Search.Result}
      thresholdvalue:
        complex:
          root: Threshold
      trendeventsum:
        simple: ${EventSum}
      type:
        simple: Threshold Breach Investigation
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: commands.local.cmd.create.inc
      id: 45a4a567-7816-4a72-8ca8-ef9f71f552a7
      iscommand: true
      name: Trigger New Incident For Investigation
      script: Builtin|||createNewIncident
      type: regular
      version: -1
    taskid: 45a4a567-7816-4a72-8ca8-ef9f71f552a7
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 232.5,
          "y": 2075
        }
      }
version: -1
view: |-
  {
    "linkLabelsPosition": {},
    "paper": {
      "dimensions": {
        "height": 2190,
        "width": 960,
        "x": 100,
        "y": 50
      }
    }
  }
