playbook-Test__-_Indicator_Extraction.yml
contentitemexportablefields:
  contentitemfields:
    definitionid: ""
    fromServerVersion: ""
    itemVersion: ""
    packID: ""
    packName: ""
    prevname: ""
    propagationLabels:
    - all
    toServerVersion: ""
id: 901fa4a7-2872-40f2-84ab-f728d384e0f8
inputs: []
name: Test  - Indicator Extraction
outputs: []
starttaskid: "0"
tasks:
  "0":
    continueonerrortype: ""
    id: "0"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "1"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 90d13792-8e28-4ab9-81ce-93d9ae532cfa
      iscommand: false
      name: ""
      version: -1
    taskid: 90d13792-8e28-4ab9-81ce-93d9ae532cfa
    timertriggers: []
    type: start
    view: |-
      {
        "position": {
          "x": 450,
          "y": 50
        }
      }
  "1":
    continueonerrortype: ""
    id: "1"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "3"
    note: false
    quietmode: 0
    scriptarguments:
      text:
        simple: ${incident.details}
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: commands.local.cmd.extract.indicators
      id: 08ca1894-bb4a-478a-8b69-ff0ec9c6da3a
      iscommand: true
      name: Extract Indicators
      script: Builtin|||extractIndicators
      type: regular
      version: -1
    taskid: 08ca1894-bb4a-478a-8b69-ff0ec9c6da3a
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 450,
          "y": 200
        }
      }
  "2":
    continueonerrortype: ""
    id: "2"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    scriptarguments:
      value:
        simple: ${Test.Answers.0}
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: commands.local.cmd.new.indicator
      id: 049f2bb8-4186-4cfe-8cc3-7a15948221ac
      iscommand: true
      name: Create Indicators
      script: Builtin|||createNewIndicator
      type: regular
      version: -1
    taskid: 049f2bb8-4186-4cfe-8cc3-7a15948221ac
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -120,
          "y": 610
        }
      }
  "3":
    continueonerrortype: ""
    form:
      description: ""
      expired: false
      questions:
      - defaultrows: []
        fieldassociated: ""
        gridcolumns: []
        id: "0"
        label: ""
        labelarg:
          simple: VT Enrichment
        options: []
        optionsarg:
        - {}
        - simple: ${ExtractedIndicators.IP}
        - simple: ${ExtractedIndicators.Domain}
        placeholder: ""
        readonly: false
        required: false
        tooltip: ""
        type: multiSelect
      - defaultrows: []
        fieldassociated: ""
        gridcolumns: []
        id: "1"
        label: ""
        labelarg:
          simple: WHOIS
        options: []
        optionsarg:
        - {}
        - simple: ${ExtractedIndicators.Domain}
        - {}
        placeholder: ""
        readonly: false
        required: false
        tooltip: ""
        type: singleSelect
      sender: ""
      title: Test
      totalanswers: 0
    id: "3"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    message:
      bcc: null
      body: null
      cc: null
      format: ""
      methods: []
      subject: null
      timings:
        completeafterreplies: 1
        completeaftersla: false
        completeafterv2: true
        retriescount: 2
        retriesinterval: 360
      to: null
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: c6157f26-9554-4539-89f5-bae70cb635dc
      iscommand: false
      name: Data collection
      type: collection
      version: -1
    taskid: c6157f26-9554-4539-89f5-bae70cb635dc
    timertriggers: []
    type: collection
    view: |-
      {
        "position": {
          "x": 450,
          "y": 370
        }
      }
version: -1
view: |-
  {
    "linkLabelsPosition": {},
    "paper": {
      "dimensions": {
        "height": 655,
        "width": 950,
        "x": -120,
        "y": 50
      }
    }
  }
