playbook-sha.yml
contentitemexportablefields:
  contentitemfields:
    definitionid: ""
    fromServerVersion: ""
    itemVersion: ""
    packID: ""
    packName: ""
    prevname: ""
    propagationLabels:
    - all
    toServerVersion: ""
id: 87933269-f606-46f9-8641-c505b5aa013c
inputs: []
name: sha
outputs: []
starttaskid: "0"
tasks:
  "0":
    continueonerrortype: ""
    id: "0"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "1"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 8ae1839e-0743-4508-8529-e119ef451bac
      iscommand: false
      name: ""
      version: -1
    taskid: 8ae1839e-0743-4508-8529-e119ef451bac
    timertriggers: []
    type: start
    view: |-
      {
        "position": {
          "x": 450,
          "y": 50
        }
      }
  "1":
    continueonerrortype: ""
    id: "1"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "2"
    note: false
    quietmode: 0
    scriptarguments:
      all:
        simple: "yes"
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: |-
        Delete field from context.

        This automation runs using the default Limited User role, unless you explicitly change the permissions.
        For more information, see the section about permissions here:
        https://docs.paloaltonetworks.com/cortex/cortex-xsoar/6-2/cortex-xsoar-admin/playbooks/automations.html
      id: 2c2fe337-8017-42de-8c2d-2e426bcfdba9
      iscommand: false
      name: delete context
      script: DeleteContext
      type: regular
      version: -1
    taskid: 2c2fe337-8017-42de-8c2d-2e426bcfdba9
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 450,
          "y": 190
        }
      }
  "2":
    continueonerrortype: ""
    form:
      description: ""
      expired: false
      questions:
      - defaultrows: []
        fieldassociated: ""
        gridcolumns: []
        id: "0"
        label: ""
        labelarg:
          simple: New CVE ${newCVE} found. You want to take action on it?
        options: []
        optionsarg:
        - simple: "Yes"
        - simple: "No"
        - simple: Need more information
        placeholder: ""
        readonly: false
        required: true
        tooltip: ""
        type: singleSelect
      sender: ""
      title: New CVE Alert !!!!
      totalanswers: 0
    id: "2"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    message:
      bcc: null
      body:
        simple: New message from the XBot
      cc: null
      format: ""
      methods:
      - SlackV2
      subject: null
      timings:
        completeafterreplies: 1
        completeaftersla: false
        completeafterv2: true
        retriescount: 2
        retriesinterval: 360
      to:
        simple: shapatil@paloaltonetworks.com
    nexttasks:
      '#none#':
      - "4"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: f079f78f-864b-482c-825c-02c18de22fd5
      iscommand: false
      name: CVE found! Ask manager for approval
      type: collection
      version: -1
    taskid: f079f78f-864b-482c-825c-02c18de22fd5
    timertriggers: []
    type: collection
    view: |-
      {
        "position": {
          "x": 450,
          "y": 350
        }
      }
  "3":
    continueonerrortype: ""
    id: "3"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    scriptarguments:
      ignoreAddURL:
        simple: "true"
      message:
        simple: Blocked. Thank you for your response!
      to:
        simple: shapatil@paloaltonetworks.com
    separatecontext: false
    skipunavailable: false
    task:
      brand: SlackV2
      description: Sends a message to a user, group, or channel.
      id: f2aef9d1-7cf9-4ed6-8aa5-b0cde2ad07eb
      iscommand: true
      name: Block it
      script: SlackV2|||send-notification
      type: regular
      version: -1
    taskid: f2aef9d1-7cf9-4ed6-8aa5-b0cde2ad07eb
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 210,
          "y": 770
        }
      }
  "4":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: New CVE Alert !!!!.Answers.0
          operator: isEqualString
          right:
            value:
              simple: "Yes"
      label: "yes"
    - condition:
      - - left:
            iscontext: true
            value:
              simple: New CVE Alert !!!!.Answers.0
          operator: isEqualString
          right:
            value:
              simple: "No"
      label: "no"
    - condition:
      - - left:
            iscontext: true
            value:
              simple: New CVE Alert !!!!.Answers.0
          operator: isEqualString
          right:
            value:
              simple: Need more information
      label: need more info
    continueonerrortype: ""
    id: "4"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      need more info:
      - "6"
      "no":
      - "5"
      "yes":
      - "3"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 4b2d9532-4948-4d63-806b-a15aee94ff3a
      iscommand: false
      name: Check Manager response
      type: condition
      version: -1
    taskid: 4b2d9532-4948-4d63-806b-a15aee94ff3a
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 450,
          "y": 520
        }
      }
  "5":
    continueonerrortype: ""
    id: "5"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    scriptarguments:
      ignoreAddURL:
        simple: "true"
      message:
        simple: Ignored. Thank you for your response!
      to:
        simple: shapatil@paloaltonetworks.com
    separatecontext: false
    skipunavailable: false
    task:
      brand: SlackV2
      description: Sends a message to a user, group, or channel.
      id: 6f40a512-7a59-4e5b-8d31-fac44d92e079
      iscommand: true
      name: Ignored it
      script: SlackV2|||send-notification
      type: regular
      version: -1
    taskid: 6f40a512-7a59-4e5b-8d31-fac44d92e079
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 630,
          "y": 770
        }
      }
  "6":
    continueonerrortype: ""
    id: "6"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "7"
    note: false
    quietmode: 0
    scriptarguments:
      Question:
        simple: Explain vulnerability cve-2017-20
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: c9c52fc8-2d1b-4998-8094-5feda9594df1
      iscommand: false
      name: Query ChatGPT
      script: fb578079-3b32-485e-8cff-d23fff27b1c1
      type: regular
      version: -1
    taskid: c9c52fc8-2d1b-4998-8094-5feda9594df1
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1110,
          "y": 760
        }
      }
  "7":
    continueonerrortype: ""
    id: "7"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "8"
    note: false
    quietmode: 0
    scriptarguments:
      ignoreAddURL:
        simple: "true"
      message:
        simple: ${ChatGPT.response}
      to:
        simple: shapatil@paloaltonetworks.com
    separatecontext: false
    skipunavailable: false
    task:
      brand: SlackV2
      description: Sends a message to a user, group, or channel.
      id: 64c1d69e-5a43-48ed-8e72-61ddf26eacb0
      iscommand: true
      name: Send ChatGPT response to Manager
      script: SlackV2|||send-notification
      type: regular
      version: -1
    taskid: 64c1d69e-5a43-48ed-8e72-61ddf26eacb0
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1110,
          "y": 970
        }
      }
  "8":
    continueonerrortype: ""
    id: "8"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "9"
    note: false
    quietmode: 0
    scriptarguments:
      uri:
        simple: /search/playbooks
    separatecontext: false
    skipunavailable: false
    task:
      brand: Core REST API
      description: send HTTP GET requests
      id: 8073e6f1-ddc1-4a12-84c6-b34ca9f6acae
      iscommand: true
      name: Untitled Task
      script: Core REST API|||core-api-get
      type: regular
      version: -1
    taskid: 8073e6f1-ddc1-4a12-84c6-b34ca9f6acae
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1110,
          "y": 1200
        }
      }
  "9":
    continueonerrortype: ""
    id: "9"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    scriptarguments:
      body:
        simple: test
      uri:
        simple: /automations/search
    separatecontext: false
    skipunavailable: false
    task:
      brand: Core REST API
      description: send HTTP POST request
      id: 4bd68a41-7e58-493d-8de1-c85afe9cc58b
      iscommand: true
      name: Untitled Task
      script: Core REST API|||core-api-post
      type: regular
      version: -1
    taskid: 4bd68a41-7e58-493d-8de1-c85afe9cc58b
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1110,
          "y": 1370
        }
      }
version: -1
view: |-
  {
    "linkLabelsPosition": {},
    "paper": {
      "dimensions": {
        "height": 1415,
        "width": 1280,
        "x": 210,
        "y": 50
      }
    }
  }
