playbook-TCS_-_Domain_associated_to_malicious_category_on_Open_DNS_v1.0_KK.yml
contentitemexportablefields:
  contentitemfields:
    definitionid: ""
    fromServerVersion: ""
    itemVersion: ""
    packID: ""
    packName: ""
    prevname: ""
    propagationLabels:
    - all
    toServerVersion: ""
id: b1eff180-c32d-44cb-869e-e5a63a13e162
inputs: []
name: TCS - Domain associated to malicious category on Open DNS v1.0_KK
outputs: []
starttaskid: "0"
tasks:
  "0":
    continueonerrortype: ""
    id: "0"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "1"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: d8105299-6485-40f2-8069-f637db2b2ea5
      iscommand: false
      name: ""
      version: -1
    taskid: d8105299-6485-40f2-8069-f637db2b2ea5
    timertriggers: []
    type: start
    view: |-
      {
        "position": {
          "x": 377.5,
          "y": 50
        }
      }
  "1":
    continueonerrortype: ""
    id: "1"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "29"
    note: false
    quietmode: 0
    scriptarguments:
      domains:
        simple: "0"
      entryID:
        simple: ${File.EntryID}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: This script will parse a CSV file and place the unique IPs, Domains
        and Hashes into the context.
      id: 243cfe1f-2119-4644-842a-53de95c89b06
      iscommand: false
      name: Read report to context
      script: ParseCSV
      type: regular
      version: -1
    taskid: 243cfe1f-2119-4644-842a-53de95c89b06
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 377.5,
          "y": 195
        }
      }
  "2":
    continueonerrortype: ""
    id: "2"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "4"
    note: false
    quietmode: 0
    scriptarguments:
      ref_name:
        simple: RF - Domain - Recently Linked to Cyber Attack
    separatecontext: false
    skipunavailable: false
    task:
      brand: QRadar_v2_copy
      description: Information about the reference set that had data added or updated.
        This returns the information set, but not the contained data. This feature
        is supported from version 8.1 and upward.
      id: d086cd47-d266-49b9-8cac-119f7bbbcfcf
      iscommand: true
      name: Fetch Qradar reference set linked to recent Cyber Attacks
      script: QRadar_v2_copy|||qradar-get-reference-by-name
      type: regular
      version: -1
    taskid: d086cd47-d266-49b9-8cac-119f7bbbcfcf
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 265,
          "y": 720
        }
      }
  "3":
    continueonerrortype: ""
    id: "3"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "2"
    note: false
    quietmode: 0
    scriptarguments:
      listData:
        simple: ${ParseCSV.ParsedCSV.ODNSDomain \(custom\)}
      listName:
        simple: DomainAssociatedWithMaliciousOpenDNSCategory
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: commands.local.cmd.list.add
      id: 05e46947-ce5c-4e3d-86cf-52e81ac5bb92
      iscommand: true
      name: Store OpenDNS data in list
      script: Builtin|||addToList
      type: regular
      version: -1
    taskid: 05e46947-ce5c-4e3d-86cf-52e81ac5bb92
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 265,
          "y": 545
        }
      }
  "4":
    continueonerrortype: ""
    id: "4"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "5"
    note: false
    quietmode: 0
    scriptarguments:
      listData:
        simple: ${QRadar.Reference.Data.Value}
      listName:
        simple: Qradar reference set linked to recent cyber attacks
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: commands.local.cmd.list.add
      id: 2089315c-080e-49b8-885e-d358fcde5d10
      iscommand: true
      name: Store reference set data to list
      script: Builtin|||addToList
      type: regular
      version: -1
    taskid: 2089315c-080e-49b8-885e-d358fcde5d10
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 265,
          "y": 895
        }
      }
  "5":
    continueonerrortype: ""
    id: "5"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "6"
    note: false
    quietmode: 0
    scriptarguments:
      left:
        simple: ${lists.DomainAssociatedWithMaliciousOpenDNSCategory}
      right:
        simple: ${lists.Qradar reference set linked to recent cyber attacks}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Compare  two lists and put the differences in context.
      id: 1e595194-03cb-41a6-805e-9df26e61b39c
      iscommand: false
      name: compare lists
      script: CompareLists
      type: regular
      version: -1
    taskid: 1e595194-03cb-41a6-805e-9df26e61b39c
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 265,
          "y": 1070
        }
      }
  "6":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: ListCompare.Both
          operator: isNotEmpty
      label: "yes"
    continueonerrortype: ""
    id: "6"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "8"
      "yes":
      - "14"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 888b0368-37d8-4107-8e92-6d6d330f9721
      iscommand: false
      name: Is there anything common
      type: condition
      version: -1
    taskid: 888b0368-37d8-4107-8e92-6d6d330f9721
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 265,
          "y": 1245
        }
      }
  "8":
    continueonerrortype: ""
    id: "8"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "9"
    note: false
    quietmode: 0
    scriptarguments:
      domain:
        simple: ${ListCompare.LeftOnly}
    separatecontext: false
    skipunavailable: false
    task:
      brand: Recorded Future v2
      description: Gets a quick indicator of the risk associated with a domain.
      id: 47343440-068e-4789-813b-558b539ef6a5
      iscommand: true
      name: Check RF Riskscore
      script: Recorded Future v2|||domain
      type: regular
      version: -1
    taskid: 47343440-068e-4789-813b-558b539ef6a5
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 265,
          "y": 1595
        }
      }
  "9":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: RecordedFuture.Domain.riskScore
          operator: greaterThan
          right:
            value:
              simple: "65"
      label: "yes"
    continueonerrortype: ""
    id: "9"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "18"
      "yes":
      - "15"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 5d2c5bc4-5d32-441b-859c-c8827b8ef2de
      iscommand: false
      name: riskscore > 65
      type: condition
      version: -1
    taskid: 5d2c5bc4-5d32-441b-859c-c8827b8ef2de
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 265,
          "y": 1770
        }
      }
  "10":
    continueonerrortype: ""
    id: "10"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "19"
    note: false
    quietmode: 0
    scriptarguments:
      query:
        simple: ${ParseCSV.ParsedCSV.ODNSDomain \(custom\)}
    separatecontext: false
    skipunavailable: false
    task:
      brand: PassiveTotal v2
      description: Gets WHOIS information records based on queries.
      id: 340ba392-768b-496c-89b6-59fb35a56fbe
      iscommand: true
      name: check who is info
      script: PassiveTotal v2|||pt-get-whois
      type: regular
      version: -1
    taskid: 340ba392-768b-496c-89b6-59fb35a56fbe
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 265,
          "y": 2295
        }
      }
  "12":
    continueonerrortype: ""
    id: "12"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "13"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: commands.local.cmd.close.inv
      id: e6dc7069-6c82-4b04-8fd4-cb90642c78ff
      iscommand: true
      name: Close Investigation
      script: Builtin|||closeInvestigation
      type: regular
      version: -1
    taskid: e6dc7069-6c82-4b04-8fd4-cb90642c78ff
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 377.5,
          "y": 4045
        }
      }
  "13":
    continueonerrortype: ""
    id: "13"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 75dabbfb-e5e9-4cc1-8271-42b0c8019f4e
      iscommand: false
      name: Done
      type: title
      version: -1
    taskid: 75dabbfb-e5e9-4cc1-8271-42b0c8019f4e
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 377.5,
          "y": 4220
        }
      }
  "14":
    continueonerrortype: ""
    id: "14"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "8"
    note: false
    quietmode: 0
    scriptarguments:
      append:
        simple: "true"
      key:
        simple: ZscalerBlock
      value:
        simple: ${ListCompare.Both}
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: Set a value in context under the key you entered.
      id: 72f52a3e-fe50-485b-861a-156f307dbf37
      iscommand: false
      name: Set Zscaler Context
      script: Set
      type: regular
      version: -1
    taskid: 72f52a3e-fe50-485b-861a-156f307dbf37
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 480,
          "y": 1420
        }
      }
  "15":
    continueonerrortype: ""
    id: "15"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "16"
    note: false
    quietmode: 0
    scriptarguments:
      append:
        simple: "true"
      key:
        simple: ZscalerBlock
      value:
        complex:
          accessor: name
          filters:
          - - left:
                iscontext: true
                value:
                  simple: RecordedFuture.Domain.riskScore
              operator: greaterThanOrEqual
              right:
                value:
                  simple: "65"
          root: RecordedFuture.Domain
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: Set a value in context under the key you entered.
      id: 1bb33984-a702-48ef-89e6-1305f41d5f03
      iscommand: false
      name: Set Zscaler Context
      script: Set
      type: regular
      version: -1
    taskid: 1bb33984-a702-48ef-89e6-1305f41d5f03
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 50,
          "y": 1945
        }
      }
  "16":
    continueonerrortype: ""
    id: "16"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "10"
    note: false
    quietmode: 0
    scriptarguments:
      listData:
        simple: ${ZscalerBlock}
      listName:
        simple: OpenDNS
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: commands.local.cmd.list.remove
      id: b3935f38-7e36-424a-88a2-e19b3e73a805
      iscommand: true
      name: Remove malicious Domains from Opendns list
      script: Builtin|||removeFromList
      type: regular
      version: -1
    taskid: b3935f38-7e36-424a-88a2-e19b3e73a805
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 60,
          "y": 2120
        }
      }
  "18":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: ZscalerBlock
          operator: isExists
      label: "yes"
    continueonerrortype: ""
    id: "18"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "10"
      "yes":
      - "16"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: e38e47b0-79b9-4c93-8fad-36f198dd9b74
      iscommand: false
      name: 'Anything found malicious till now '
      type: condition
      version: -1
    taskid: e38e47b0-79b9-4c93-8fad-36f198dd9b74
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 480,
          "y": 1945
        }
      }
  "19":
    continueonerrortype: ""
    id: "19"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "20"
    note: false
    quietmode: 0
    scriptarguments:
      dateFormat:
        simple: ISO
      monthsAgo:
        simple: "1"
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: |
        Retrieves the current date and time.
      id: a1f44311-2b34-48af-84a4-90ca990875eb
      iscommand: false
      name: Get 30 days old date
      script: GetTime
      type: regular
      version: -1
    taskid: a1f44311-2b34-48af-84a4-90ca990875eb
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 265,
          "y": 2470
        }
      }
  "20":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                accessor: registered
                root: PassiveTotal.WHOIS
                transformers:
                - args:
                    add_utc_timezone: {}
                    dayfirst:
                      value:
                        simple: "false"
                    fuzzy: {}
                    yearfirst:
                      value:
                        simple: "true"
                  operator: DateStringToISOFormat
                - args:
                    delimiter:
                      value:
                        simple: T
                    fields:
                      value:
                        simple: "1"
                  operator: Cut
          operator: AfterRelativeDate
          right:
            iscontext: true
            value:
              complex:
                root: TimeNow
                transformers:
                - args:
                    delimiter:
                      value:
                        simple: T
                    fields:
                      value:
                        simple: "1"
                  operator: Cut
      label: "yes"
    continueonerrortype: ""
    id: "20"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "28"
      "yes":
      - "21"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: e5ac44e0-41ee-455c-8773-902ff0716949
      iscommand: false
      name: Is creation date within 30 days
      type: condition
      version: -1
    taskid: e5ac44e0-41ee-455c-8773-902ff0716949
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 265,
          "y": 2645
        }
      }
  "21":
    continueonerrortype: ""
    id: "21"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "28"
    note: false
    quietmode: 0
    scriptarguments:
      append:
        simple: "true"
      key:
        simple: ZscalerBlock
      value:
        complex:
          accessor: domain
          filters:
          - - left:
                iscontext: true
                value:
                  simple: PassiveTotal.WHOIS.registered
              operator: isAfter
              right:
                iscontext: true
                value:
                  simple: TimeNow
          root: PassiveTotal.WHOIS
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Set a value in context under the key you entered.
      id: 949b909f-1ea7-43d0-8dc3-7e21fcbda130
      iscommand: false
      name: Set ZscalerBlock Context
      script: Set
      type: regular
      version: -1
    taskid: 949b909f-1ea7-43d0-8dc3-7e21fcbda130
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 152.5,
          "y": 2820
        }
      }
  "23":
    continueonerrortype: ""
    id: "23"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "27"
    note: false
    quietmode: 0
    reputationcalc: 1
    scriptarguments:
      category-id:
        simple: CUSTOM_126
      execution-timeout:
        simple: "1000000"
      url:
        simple: ${ZscalerBlock}
      using:
        simple: Zscaler_instance_1
    separatecontext: false
    skipunavailable: false
    task:
      brand: Zscaler
      description: Adds URLs to the specified category.
      id: f1a777ae-3ddd-4eb3-8a84-cb2c2f11787d
      iscommand: true
      name: Blacklist Domain on ZScalar Proxy - Corp
      script: Zscaler|||zscaler-category-add-url
      type: regular
      version: -1
    taskid: f1a777ae-3ddd-4eb3-8a84-cb2c2f11787d
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 152.5,
          "y": 3345
        }
      }
  "24":
    continueonerrortype: ""
    id: "24"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "23"
    note: false
    quietmode: 0
    reputationcalc: 1
    scriptarguments:
      execution-timeout:
        simple: "1000000"
      url:
        simple: ${ZscalerBlock}
      using:
        simple: Zscaler_instance_BPS
    separatecontext: false
    skipunavailable: false
    task:
      brand: Zscaler
      description: Adds URL to the blacklist.
      id: 8622f652-5ed0-4bd4-82d8-d0c7f2b76116
      iscommand: true
      name: Blacklist Domain on ZScalar Proxy - BPS
      script: Zscaler|||zscaler-blacklist-url
      type: regular
      version: -1
    taskid: 8622f652-5ed0-4bd4-82d8-d0c7f2b76116
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 152.5,
          "y": 3170
        }
      }
  "25":
    continueonerrortype: ""
    id: "25"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "26"
    note: false
    quietmode: 0
    scriptarguments:
      listData:
        simple: ${ListCompare.LeftOnly}
      listName:
        simple: DomainAssociatedWithMaliciousOpenDNSCategory
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: commands.local.cmd.list.remove
      id: c8e638e3-f027-4d9e-863f-fb7b9f1e0b15
      iscommand: true
      name: 'Delete OpenDNS List '
      script: Builtin|||removeFromList
      type: regular
      version: -1
    taskid: c8e638e3-f027-4d9e-863f-fb7b9f1e0b15
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 265,
          "y": 3735
        }
      }
  "26":
    continueonerrortype: ""
    id: "26"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "12"
    note: false
    quietmode: 0
    scriptarguments:
      listData:
        simple: ${ListCompare.RightOnly}
      listName:
        simple: Qradar reference set linked to recent cyber attacks
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: commands.local.cmd.list.remove
      id: 818dfc8f-5ef4-4ce9-8d74-adaebe76083e
      iscommand: true
      name: 'Delete Qradar List '
      script: Builtin|||removeFromList
      type: regular
      version: -1
    taskid: 818dfc8f-5ef4-4ce9-8d74-adaebe76083e
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 265,
          "y": 3870
        }
      }
  "27":
    continueonerrortype: ""
    id: "27"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "30"
    note: false
    quietmode: 0
    scriptarguments:
      reputation:
        simple: Bad
      source:
        simple: ${incident.id}
      tags:
        simple: COSCBlockDomain
      type:
        simple: Domain
      value:
        simple: ${ZscalerBlock}
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: Change the properties of an indicator
      id: f744a8ac-7fbb-4d5b-8b89-8dd21dc60d89
      iscommand: true
      name: Tag 'CSOC' Bad Domain Indicator
      script: Builtin|||createNewIndicator
      tags:
      - ProxyBlockDomain
      type: regular
      version: -1
    taskid: f744a8ac-7fbb-4d5b-8b89-8dd21dc60d89
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 152.5,
          "y": 3520
        }
      }
  "28":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: ${ZscalerBlock}
          operator: isExists
      label: "yes"
    continueonerrortype: ""
    id: "28"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "25"
      "yes":
      - "24"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: b051ded8-e435-4fdd-8242-9998164e57dc
      iscommand: false
      name: Are there URLs to block?
      type: condition
      version: -1
    taskid: b051ded8-e435-4fdd-8242-9998164e57dc
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 265,
          "y": 2995
        }
      }
  "29":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: ParseCSV.ParsedCSV.[0].ODNSDomain \(custom\)
          operator: isExists
      label: "yes"
    continueonerrortype: ""
    id: "29"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "12"
      "yes":
      - "3"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 87477087-3e01-40ea-82a6-a7919b444e76
      iscommand: false
      name: Report contains data
      type: condition
      version: -1
    taskid: 87477087-3e01-40ea-82a6-a7919b444e76
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 377.5,
          "y": 370
        }
      }
  "30":
    continueonerrortype: ""
    id: "30"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "25"
    note: false
    quietmode: 0
    scriptarguments:
      body:
        simple: "Hi Team , \n\nAs part of auto investigation of Domains that are triggered
          due to malicious categorization in Open DNS . Following domains are blocked
          on Zscaler : ${ZscalerBlock}."
      subject:
        simple: Domain recognized malicious from OpenDNS report_${incident.id}
      to:
        simple: internalis.cybersecurityops@tcs.com
    separatecontext: false
    skipunavailable: false
    task:
      brand: EWS Mail Sender
      description: Sends an email using EWS.
      id: f858c809-99dc-4af6-8ce5-7e4d8a3187a9
      iscommand: true
      name: 'Send Email Notification to team '
      script: EWS Mail Sender|||send-mail
      type: regular
      version: -1
    taskid: f858c809-99dc-4af6-8ce5-7e4d8a3187a9
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -210,
          "y": 3690
        }
      }
version: -1
view: |-
  {
    "linkLabelsPosition": {},
    "paper": {
      "dimensions": {
        "height": 4235,
        "width": 1070,
        "x": -210,
        "y": 50
      }
    }
  }
