playbook-DataCollectionWithRepeatquestions.yml
contentitemexportablefields:
  contentitemfields:
    definitionid: ""
    fromServerVersion: ""
    itemVersion: ""
    packID: ""
    packName: ""
    prevname: ""
    propagationLabels:
    - all
    toServerVersion: ""
id: 60efe89b-99db-41b9-8e9f-d5a412199bdf
inputs: []
name: DataCollectionWithRepeatquestions
outputs: []
starttaskid: "0"
tasks:
  "0":
    continueonerrortype: ""
    id: "0"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "1"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 87ab6048-293d-468f-8f43-9955665012e3
      iscommand: false
      name: ""
      version: -1
    taskid: 87ab6048-293d-468f-8f43-9955665012e3
    timertriggers: []
    type: start
    view: |-
      {
        "position": {
          "x": 50,
          "y": 50
        }
      }
  "1":
    continueonerrortype: ""
    form:
      description: ""
      expired: false
      questions:
      - defaultrows: []
        fieldassociated: ""
        gridcolumns: []
        id: "0"
        label: ""
        labelarg:
          simple: Whatistheanswer
        options: []
        optionsarg:
        - {}
        - simple: "Yes"
        - simple: "No"
        placeholder: ""
        readonly: false
        required: false
        tooltip: ""
        type: multiSelect
      sender: ""
      title: Survey1
      totalanswers: 0
    id: "1"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    message:
      bcc: null
      body: null
      cc: null
      format: ""
      methods:
      - email
      subject:
        simple: Firstsetofapprovers
      timings:
        completeafterreplies: 0
        completeaftersla: false
        completeafterv2: false
        retriescount: 2
        retriesinterval: 360
      to:
        simple: Administrator
    nexttasks:
      '#none#':
      - "2"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    sla:
      days: 0
      hours: 1
      minutes: 0
      weeks: 0
    task:
      brand: ""
      id: 7de0f492-9836-4318-8713-bc6f86dd4e3d
      iscommand: false
      name: Datacollection1
      type: collection
      version: -1
    taskid: 7de0f492-9836-4318-8713-bc6f86dd4e3d
    timertriggers: []
    type: collection
    view: |-
      {
        "position": {
          "x": 50,
          "y": 195
        }
      }
  "2":
    continueonerrortype: ""
    id: "2"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      "no":
      - "4"
      "yes":
      - "3"
    note: false
    quietmode: 0
    scriptarguments:
      value:
        simple: ${Survey1.Answers.0}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Check if a given value exists in the context. Will return 'no'
        for empty empty arrays. To be used mostly with DQ and selectors.
      id: c59661ba-d0b5-431c-8730-8e27fd875b6e
      iscommand: false
      name: Does an answer exist
      script: Exists
      type: condition
      version: -1
    taskid: c59661ba-d0b5-431c-8730-8e27fd875b6e
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 50,
          "y": 370
        }
      }
  "3":
    continueonerrortype: ""
    id: "3"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 1724f800-5ecb-42a3-83df-7008c25f4dc4
      iscommand: false
      name: Perform the action
      type: regular
      version: -1
    taskid: 1724f800-5ecb-42a3-83df-7008c25f4dc4
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 50,
          "y": 720
        }
      }
  "4":
    continueonerrortype: ""
    form:
      description: ""
      expired: false
      questions:
      - defaultrows: []
        fieldassociated: ""
        gridcolumns: []
        id: "0"
        label: ""
        labelarg:
          simple: Whatistheanswer
        options: []
        optionsarg:
        - {}
        - simple: "Yes"
        - simple: "No"
        placeholder: ""
        readonly: false
        required: false
        tooltip: ""
        type: multiSelect
      sender: ""
      title: Survey1
      totalanswers: 0
    id: "4"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    message:
      bcc: null
      body: null
      cc: null
      format: ""
      methods:
      - email
      subject:
        simple: Datacollection2
      timings:
        completeafterreplies: 0
        completeaftersla: false
        completeafterv2: false
        retriescount: 0
        retriesinterval: 500
      to:
        simple: Analyst
    nexttasks:
      '#none#':
      - "3"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    sla:
      days: 0
      hours: 1
      minutes: 0
      weeks: 0
    task:
      brand: ""
      id: 374e5cde-a6f2-4c6e-8323-88f72f2f6c47
      iscommand: false
      name: Datacollection2
      type: collection
      version: -1
    taskid: 374e5cde-a6f2-4c6e-8323-88f72f2f6c47
    timertriggers: []
    type: collection
    view: |-
      {
        "position": {
          "x": 330,
          "y": 550
        }
      }
version: -1
view: |-
  {
    "linkLabelsPosition": {},
    "paper": {
      "dimensions": {
        "height": 765,
        "width": 660,
        "x": 50,
        "y": 50
      }
    }
  }
