playbook-TIM_-_UBI_Sub-Palybook_Set_Field_Value_for_IP_Indicator.yml
contentitemexportablefields:
  contentitemfields:
    definitionid: ""
    fromServerVersion: ""
    itemVersion: ""
    packID: ""
    packName: ""
    prevname: ""
    propagationLabels:
    - all
    toServerVersion: ""
id: 3ff7812f-7ff1-4fbe-80c4-47061c4bf407
inputs:
- description: This field stores IP Address
  key: IPAddress_Value
  playbookInputQuery: null
  required: true
  value: {}
- description: This field stores Id of Indicator
  key: ID
  playbookInputQuery: null
  required: false
  value: {}
name: TIM - UBI Sub-Palybook Set Field Value for IP Indicator
outputs: []
quiet: true
starttaskid: "0"
tasks:
  "0":
    continueonerrortype: ""
    id: "0"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "95"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 209102c6-793d-4d60-85b8-1a721c6f1642
      iscommand: false
      name: ""
      version: -1
    taskid: 209102c6-793d-4d60-85b8-1a721c6f1642
    timertriggers: []
    type: start
    view: |-
      {
        "position": {
          "x": 50,
          "y": 65
        }
      }
  "8":
    continueonerrortype: ""
    id: "8"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "12"
    note: false
    quietmode: 1
    scriptarguments:
      key:
        simple: SetScore.Alienvault
      stringify:
        simple: "true"
      value:
        simple: ${fulldetails.[0].moduleToFeedMap.AlienVault OTX v2.score}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Set a value in context under the key you entered.
      id: 20e35840-4bba-4b1f-8f8d-54a31304f9cf
      iscommand: false
      name: Set score
      script: Set
      type: regular
      version: -1
    taskid: 20e35840-4bba-4b1f-8f8d-54a31304f9cf
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 735,
          "y": 1245
        }
      }
  "9":
    continueonerrortype: ""
    id: "9"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "14"
    note: false
    quietmode: 1
    scriptarguments:
      key:
        simple: SetScore.Mandiant
      value:
        simple: ${fulldetails.[0].moduleToFeedMap.74d62722-b24a-4714-8177-8740c2d16ffc.score}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Set a value in context under the key you entered.
      id: a44ab775-40ed-44c6-8351-9343d4b4d047
      iscommand: false
      name: Set score
      script: Set
      type: regular
      version: -1
    taskid: a44ab775-40ed-44c6-8351-9343d4b4d047
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1307.5,
          "y": 895
        }
      }
  "10":
    continueonerrortype: ""
    id: "10"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "15"
    note: false
    quietmode: 1
    scriptarguments:
      key:
        simple: SetScore.VirusTotal
      stringify:
        simple: "true"
      value:
        simple: ${fulldetails.[0].moduleToFeedMap.VirusTotal \(API v3\).score}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Set a value in context under the key you entered.
      id: b26810ea-6f9c-4dec-8ab4-fe2f41babb46
      iscommand: false
      name: Set score
      script: Set
      type: regular
      version: -1
    taskid: b26810ea-6f9c-4dec-8ab4-fe2f41babb46
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 285,
          "y": 1245
        }
      }
  "11":
    continueonerrortype: ""
    id: "11"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "16"
    note: false
    quietmode: 1
    scriptarguments:
      key:
        simple: SetScore.Unit42
      stringify:
        simple: "true"
      value:
        simple: ${fulldetails.[0].moduleToFeedMap.9fea1ccf-c87d-4a71-8fd1-f9201cfc0549.score}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Set a value in context under the key you entered.
      id: f3386cbf-0066-48f0-8b53-a872300b30fe
      iscommand: false
      name: Set score
      script: Set
      type: regular
      version: -1
    taskid: f3386cbf-0066-48f0-8b53-a872300b30fe
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 4940,
          "y": 1245
        }
      }
  "12":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: ${SetScore.Alienvault}
          operator: isEqualString
          right:
            value:
              simple: "3"
      label: "yes"
    continueonerrortype: ""
    id: "12"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "28"
      "yes":
      - "17"
    note: false
    quietmode: 1
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: e8bee81b-98c9-4f60-881b-95e109a1eedc
      iscommand: false
      name: Check score is 3 or not?
      type: condition
      version: -1
    taskid: e8bee81b-98c9-4f60-881b-95e109a1eedc
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 735,
          "y": 1420
        }
      }
  "14":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: ${SetScore.Mandiant}
          operator: isEqualNumber
          right:
            value:
              simple: "3"
      label: "yes"
    continueonerrortype: ""
    id: "14"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "28"
      "yes":
      - "19"
    note: false
    quietmode: 1
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: bfadb700-cc58-4ad3-85a8-5fa5c3ac3d5c
      iscommand: false
      name: Check score is 3 or not?
      type: condition
      version: -1
    taskid: bfadb700-cc58-4ad3-85a8-5fa5c3ac3d5c
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 1307.5,
          "y": 1070
        }
      }
  "15":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: ${SetScore.VirusTotal}
          operator: isEqualString
          right:
            value:
              simple: "3"
      label: "yes"
    continueonerrortype: ""
    id: "15"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "28"
      "yes":
      - "20"
    note: false
    quietmode: 1
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: ec76a0d0-cabd-4538-8303-6b872ead50e0
      iscommand: false
      name: Check score is 3 or not?
      type: condition
      version: -1
    taskid: ec76a0d0-cabd-4538-8303-6b872ead50e0
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 285,
          "y": 1420
        }
      }
  "16":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: ${SetScore.Unit42}
          operator: isEqualString
          right:
            value:
              simple: "3"
      label: "yes"
    continueonerrortype: ""
    id: "16"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "28"
      "yes":
      - "21"
    note: false
    quietmode: 1
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 55b27082-d15e-4149-8a61-d6936d9376e6
      iscommand: false
      name: Check score is 3 or not?
      type: condition
      version: -1
    taskid: 55b27082-d15e-4149-8a61-d6936d9376e6
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 4940,
          "y": 1420
        }
      }
  "17":
    continueonerrortype: ""
    id: "17"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "22"
    note: false
    quietmode: 1
    scriptarguments:
      key:
        simple: raw.data0
      value:
        simple: AlienVault OTX
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Set a value in context under the key you entered.
      id: d77111a6-129f-417a-8167-119a13b3896f
      iscommand: false
      name: Set Source Brand
      script: Set
      type: regular
      version: -1
    taskid: d77111a6-129f-417a-8167-119a13b3896f
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 847.5,
          "y": 1595
        }
      }
  "19":
    continueonerrortype: ""
    id: "19"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "23"
    note: false
    quietmode: 1
    scriptarguments:
      key:
        simple: raw.data3
      value:
        simple: ${fulldetails.[0].moduleToFeedMap.74d62722-b24a-4714-8177-8740c2d16ffc.sourceBrand}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Set a value in context under the key you entered.
      id: fa0f0b23-a368-4505-8429-cebc91cd0643
      iscommand: false
      name: Set Source Brand
      script: Set
      type: regular
      version: -1
    taskid: fa0f0b23-a368-4505-8429-cebc91cd0643
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1420,
          "y": 1245
        }
      }
  "20":
    continueonerrortype: ""
    id: "20"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "24"
    note: false
    quietmode: 1
    scriptarguments:
      key:
        simple: raw.data2
      value:
        simple: VirusTotal
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Set a value in context under the key you entered.
      id: 517fffbc-af4c-4d1c-82d5-20206a759904
      iscommand: false
      name: Set Source Brand
      script: Set
      type: regular
      version: -1
    taskid: 517fffbc-af4c-4d1c-82d5-20206a759904
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 397.5,
          "y": 1595
        }
      }
  "21":
    continueonerrortype: ""
    id: "21"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "25"
    note: false
    quietmode: 1
    scriptarguments:
      key:
        simple: raw.data1
      value:
        simple: Unit42v2
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Set a value in context under the key you entered.
      id: 56299604-786e-435b-866f-7ca2890ca853
      iscommand: false
      name: Set Source Brand
      script: Set
      type: regular
      version: -1
    taskid: 56299604-786e-435b-866f-7ca2890ca853
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 5092.5,
          "y": 1595
        }
      }
  "22":
    continueonerrortype: ""
    id: "22"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "92"
    note: false
    quietmode: 1
    scriptarguments:
      key:
        simple: raw.instance0
      value:
        simple: AlienVault OTX v2
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Set a value in context under the key you entered.
      id: 282aab2a-c9a5-4190-82d1-9228df775150
      iscommand: false
      name: Set Source Instance
      script: Set
      type: regular
      version: -1
    taskid: 282aab2a-c9a5-4190-82d1-9228df775150
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 847.5,
          "y": 1770
        }
      }
  "23":
    continueonerrortype: ""
    id: "23"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "26"
    note: false
    quietmode: 1
    scriptarguments:
      key:
        simple: raw.instance3
      value:
        simple: ${fulldetails.[0].moduleToFeedMap.74d62722-b24a-4714-8177-8740c2d16ffc.sourceInstance}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Set a value in context under the key you entered.
      id: 5ed66f6c-f55f-4dcb-898d-8a0d43271bac
      iscommand: false
      name: Set Source Instance
      script: Set
      type: regular
      version: -1
    taskid: 5ed66f6c-f55f-4dcb-898d-8a0d43271bac
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1420,
          "y": 1420
        }
      }
  "24":
    continueonerrortype: ""
    id: "24"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "92"
    note: false
    quietmode: 1
    scriptarguments:
      key:
        simple: raw.instance2
      value:
        simple: VirusTotal(APIv3)
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Set a value in context under the key you entered.
      id: 81138b5a-b84b-4fb3-8d44-913291a87378
      iscommand: false
      name: Set Source Instance
      script: Set
      type: regular
      version: -1
    taskid: 81138b5a-b84b-4fb3-8d44-913291a87378
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 397.5,
          "y": 1770
        }
      }
  "25":
    continueonerrortype: ""
    id: "25"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "92"
    note: false
    quietmode: 1
    scriptarguments:
      key:
        simple: raw.instance1
      value:
        simple: Unit42v2_Feed_instance_1
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Set a value in context under the key you entered.
      id: 87b0c1f1-e739-4fe4-81dd-2b53717c1188
      iscommand: false
      name: Set Source Instance
      script: Set
      type: regular
      version: -1
    taskid: 87b0c1f1-e739-4fe4-81dd-2b53717c1188
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 5092.5,
          "y": 1770
        }
      }
  "26":
    continueonerror: true
    continueonerrortype: errorPath
    id: "26"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#error#':
      - "117"
      '#none#':
      - "92"
    note: false
    quietmode: 1
    scriptarguments:
      key:
        simple: Value.Mscore
      stringify:
        simple: "true"
      value:
        simple: ${fulldetails.[0].moduleToFeedMap.74d62722-b24a-4714-8177-8740c2d16ffc.fields.mscore}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Set a value in context under the key you entered.
      id: 6ad358a4-00f8-4fc5-8e08-f28d3b18c259
      iscommand: false
      name: Set Mscore
      script: Set
      type: regular
      version: -1
    taskid: 6ad358a4-00f8-4fc5-8e08-f28d3b18c259
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1420,
          "y": 1595
        }
      }
  "27":
    continueonerrortype: ""
    id: "27"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "69"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 632acbac-751b-4bc1-8383-637875719f82
      iscommand: false
      name: Vendor not present
      type: title
      version: -1
    taskid: 632acbac-751b-4bc1-8383-637875719f82
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 2955,
          "y": 1260
        }
      }
  "28":
    continueonerrortype: ""
    id: "28"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "93"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 448c8b56-e20a-4325-8b0e-fcb3becad394
      iscommand: false
      name: Condition Checked
      type: title
      version: -1
    taskid: 448c8b56-e20a-4325-8b0e-fcb3becad394
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 4202.5,
          "y": 2120
        }
      }
  "29":
    continueonerrortype: ""
    id: "29"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "89"
    note: false
    quietmode: 1
    scriptarguments:
      key:
        simple: Source_Brand_Value
      value:
        simple: '["${raw.data0}","${raw.data1}","${raw.data2}","${raw.data3}","${raw.data4}","${raw.data5}","${raw.data6}","${raw.data7}","${raw.data8}"]'
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Set a value in context under the key you entered.
      id: 1579dd24-3536-4ef0-80c7-fc057201232f
      iscommand: false
      name: Set SourceBand
      script: Set
      type: regular
      version: -1
    taskid: 1579dd24-3536-4ef0-80c7-fc057201232f
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 4172.5,
          "y": 2440
        }
      }
  "30":
    continueonerrortype: ""
    id: "30"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "86"
    note: false
    quietmode: 1
    scriptarguments:
      key:
        simple: Source_InstanceValue
      value:
        simple: '["${raw.instance0}","${raw.instance1}","${raw.instance2}","${raw.instance3}","${raw.instance4}","${raw.instance5}","${raw.instance6}","${raw.instance7}","${raw.instance8}"]'
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Set a value in context under the key you entered.
      id: 2f817b75-c8a9-409f-8d62-75dc39dfbe91
      iscommand: false
      name: Store Source Instance
      script: Set
      type: regular
      version: -1
    taskid: 2f817b75-c8a9-409f-8d62-75dc39dfbe91
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 4602.5,
          "y": 2440
        }
      }
  "33":
    continueonerrortype: ""
    id: "33"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "36"
    note: false
    quietmode: 1
    scriptarguments:
      key:
        simple: Value.IPAddress
      value:
        simple: ${inputs.IPAddress_Value}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Set a value in context under the key you entered.
      id: 16d834f3-d679-4ea5-832a-99768418d4dc
      iscommand: false
      name: Set IP values
      script: Set
      type: regular
      version: -1
    taskid: 16d834f3-d679-4ea5-832a-99768418d4dc
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 3180,
          "y": 3780
        }
      }
  "35":
    continueonerrortype: ""
    id: "35"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 4f12d0f3-f45b-4c2b-8a14-ec324f3d3e9d
      iscommand: false
      name: Done
      type: title
      version: -1
    taskid: 4f12d0f3-f45b-4c2b-8a14-ec324f3d3e9d
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 2147.5,
          "y": 4625
        }
      }
  "36":
    continueonerrortype: ""
    id: "36"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "62"
    note: false
    quietmode: 1
    scriptarguments:
      key:
        simple: Value.ID
      stringify:
        simple: "true"
      value:
        simple: ${inputs.ID}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Set a value in context under the key you entered.
      id: 8b4939bb-ae2d-4cb0-87f4-43315ef2a38e
      iscommand: false
      name: Set ID values
      script: Set
      type: regular
      version: -1
    taskid: 8b4939bb-ae2d-4cb0-87f4-43315ef2a38e
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 3180,
          "y": 3955
        }
      }
  "42":
    continueonerror: true
    continueonerrortype: errorPath
    id: "42"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#error#':
      - "76"
      '#none#':
      - "132"
    note: false
    quietmode: 1
    scriptarguments:
      key:
        simple: Value.FirstSeen
      value:
        complex:
          accessor: firstSeen}
          root: ${fulldetails.[0]
          transformers:
          - args:
              applyIfEmpty: {}
              defaultValue:
                value:
                  simple: NA
            operator: SetIfEmpty
          - args:
              to:
                value:
                  simple: .
            operator: substringTo
          - args:
              limit: {}
              replaceWith:
                value:
                  simple: ' '
              toReplace:
                value:
                  simple: T
            operator: replace
          - args:
              limit: {}
              replaceWith:
                value:
                  simple: /
              toReplace:
                value:
                  simple: '-'
            operator: replace
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Set a value in context under the key you entered.
      id: 0aef83a0-98c1-44df-8432-d7bd736f6ca0
      iscommand: false
      name: Set First Seen Time
      script: Set
      type: regular
      version: -1
    taskid: 0aef83a0-98c1-44df-8432-d7bd736f6ca0
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 2547.5,
          "y": 3450
        }
      }
  "43":
    continueonerror: true
    continueonerrortype: errorPath
    id: "43"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#error#':
      - "77"
      '#none#':
      - "132"
    note: false
    quietmode: 1
    scriptarguments:
      key:
        simple: Value.LastSeen
      value:
        complex:
          accessor: lastSeen}
          root: ${fulldetails.[0]
          transformers:
          - args:
              applyIfEmpty: {}
              defaultValue:
                value:
                  simple: NA
            operator: SetIfEmpty
          - args:
              to:
                value:
                  simple: .
            operator: substringTo
          - args:
              limit: {}
              replaceWith:
                value:
                  simple: ' '
              toReplace:
                value:
                  simple: T
            operator: replace
          - args:
              limit: {}
              replaceWith:
                value:
                  simple: /
              toReplace:
                value:
                  simple: '-'
            operator: replace
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Set a value in context under the key you entered.
      id: 6a466657-86d1-4b16-8788-be912b09993f
      iscommand: false
      name: Set Last Seen Time
      script: Set
      type: regular
      version: -1
    taskid: 6a466657-86d1-4b16-8788-be912b09993f
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 3010,
          "y": 3450
        }
      }
  "48":
    continueonerror: true
    continueonerrortype: errorPath
    id: "48"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#error#':
      - "83"
      '#none#':
      - "49"
    note: false
    quietmode: 1
    scriptarguments:
      key:
        simple: Value.CountryName
      value:
        complex:
          accessor: geocountry}
          root: ${fulldetails.[0].CustomFields
          transformers:
          - args:
              country_code:
                value:
                  simple: ${fulldetails.[0].CustomFields.geocountry}
              country_name: {}
            operator: ConvertCountryCodeCountryName
          - operator: toUpperCase
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Set a value in context under the key you entered.
      id: 0c8da45c-cde1-40c0-8815-a76a9f20a1d7
      iscommand: false
      name: Set County Name
      script: Set
      type: regular
      version: -1
    taskid: 0c8da45c-cde1-40c0-8815-a76a9f20a1d7
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 4857.5,
          "y": 3605
        }
      }
  "49":
    continueonerror: true
    continueonerrortype: errorPath
    id: "49"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#error#':
      - "84"
      '#none#':
      - "62"
    note: false
    quietmode: 1
    scriptarguments:
      key:
        simple: Value.GeoLocation
      value:
        simple: ${fulldetails.[0].CustomFields.geolocation}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Set a value in context under the key you entered.
      id: fbfc7776-d9ce-4ce3-8387-0c3875ca9b14
      iscommand: false
      name: Set Geo Location
      script: Set
      type: regular
      version: -1
    taskid: fbfc7776-d9ce-4ce3-8387-0c3875ca9b14
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 4877.5,
          "y": 3780
        }
      }
  "51":
    continueonerror: true
    continueonerrortype: errorPath
    id: "51"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#error#':
      - "82"
      '#none#':
      - "48"
    note: false
    quietmode: 1
    scriptarguments:
      key:
        simple: Value.GeoCountry
      value:
        complex:
          accessor: geocountry}
          root: ${fulldetails.[0].CustomFields
          transformers:
          - operator: toUpperCase
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Set a value in context under the key you entered.
      id: 071de2bc-eb79-49b9-8779-b36e2071bdb9
      iscommand: false
      name: Set GeoCountry
      script: Set
      type: regular
      version: -1
    taskid: 071de2bc-eb79-49b9-8779-b36e2071bdb9
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 4837.5,
          "y": 3430
        }
      }
  "55":
    continueonerrortype: ""
    id: "55"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "56"
    note: false
    quietmode: 1
    scriptarguments:
      key:
        simple: Arcsight_IndicatorTypeFieldName
      stringify:
        simple: "true"
      value:
        simple: IP
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Set a value in context under the key you entered.
      id: 28be4c7d-ec4a-4405-8fb8-5e780bf3cac6
      iscommand: false
      name: Set Indicator Type
      script: Set
      type: regular
      version: -1
    taskid: 28be4c7d-ec4a-4405-8fb8-5e780bf3cac6
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 735,
          "y": 3605
        }
      }
  "56":
    continueonerrortype: ""
    id: "56"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "57"
    note: false
    quietmode: 1
    scriptarguments:
      key:
        simple: Value.CVSSScore
      value:
        simple: "null"
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Set a value in context under the key you entered.
      id: d9f64fd2-8fd4-4436-8d22-ccde8342d172
      iscommand: false
      name: Set CVSS Score
      script: Set
      type: regular
      version: -1
    taskid: d9f64fd2-8fd4-4436-8d22-ccde8342d172
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 735,
          "y": 3780
        }
      }
  "57":
    continueonerrortype: ""
    id: "57"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "62"
    note: false
    quietmode: 1
    scriptarguments:
      key:
        simple: Value.CVSS3
      value:
        simple: "null"
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Set a value in context under the key you entered.
      id: f6a1b9e6-09e9-4d86-8728-5771b4011ff2
      iscommand: false
      name: Set CVSS3 Score
      script: Set
      type: regular
      version: -1
    taskid: f6a1b9e6-09e9-4d86-8728-5771b4011ff2
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 735,
          "y": 3955
        }
      }
  "58":
    continueonerrortype: ""
    id: "58"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "59"
      - "55"
      - "60"
    note: false
    quietmode: 1
    scriptarguments:
      key:
        simple: Value.MitreID
      value:
        simple: "null"
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Set a value in context under the key you entered.
      id: 56c91f80-ca0e-40c3-87cb-a69128c6540b
      iscommand: false
      name: Set MITRE Id
      script: Set
      type: regular
      version: -1
    taskid: 56c91f80-ca0e-40c3-87cb-a69128c6540b
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1165,
          "y": 3430
        }
      }
  "59":
    continueonerrortype: ""
    id: "59"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "120"
    note: false
    quietmode: 1
    scriptarguments:
      key:
        simple: Value.MitreTactics
      value:
        simple: "null"
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Set a value in context under the key you entered.
      id: f4d6a67e-6a98-4e0d-821f-cecefc021fd3
      iscommand: false
      name: Set MITRE Tactics
      script: Set
      type: regular
      version: -1
    taskid: f4d6a67e-6a98-4e0d-821f-cecefc021fd3
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1165,
          "y": 3605
        }
      }
  "60":
    continueonerrortype: ""
    id: "60"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "33"
    note: false
    quietmode: 1
    scriptarguments:
      key:
        simple: Value.KillChainPhases
      value:
        simple: "null"
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Set a value in context under the key you entered.
      id: c2021633-0a13-4d56-82ef-23e8d5427165
      iscommand: false
      name: Set Kill Chain Phases
      script: Set
      type: regular
      version: -1
    taskid: c2021633-0a13-4d56-82ef-23e8d5427165
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1595,
          "y": 3605
        }
      }
  "62":
    continueonerrortype: ""
    id: "62"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "63"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: d6eea46c-f9c9-4bc5-880c-4a0745b0fe4b
      iscommand: false
      name: Data Store Completed
      type: title
      version: -1
    taskid: d6eea46c-f9c9-4bc5-880c-4a0745b0fe4b
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 3487.5,
          "y": 4130
        }
      }
  "63":
    continueonerrortype: ""
    id: "63"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 100
      wait: 1
    nexttasks:
      '#none#':
      - "69"
    note: false
    quietmode: 1
    scriptarguments:
      ArcSight_ActiveListResourceID:
        simple: Hq1oI14sBABCsqNR2FV-mxw==
      ArcSight_ExpirationStatusFieldName:
        simple: ExpirationStatus
      Arcsight_CVSS_Score_Field_Name:
        simple: CVSSScore
      Arcsight_CVSS3Field_Name:
        simple: CVSS3
      Arcsight_CountryCodeField_Name:
        simple: CountryCode
      Arcsight_CountryNameField_Name:
        simple: CountryName
      Arcsight_Entry-ID_FieldName:
        simple: ID
      Arcsight_FirstSeenField_Name:
        simple: FirstSeen
      Arcsight_GeoCountryField_Name:
        simple: GeoCountry
      Arcsight_GeoLocationField_Name:
        simple: GeoLocation
      Arcsight_IOC_VerdictFieldName:
        simple: Verdict
      Arcsight_IP_AddressFieldName:
        simple: IPAddress
      Arcsight_KillChainPhases_Field_Name:
        simple: KillChainPhases
      Arcsight_LastSeenField_Name:
        simple: LastSeen
      Arcsight_MITRE_ID_Field_Name:
        simple: MitreID
      Arcsight_MITRE_Tactics_Field_Name:
        simple: MitreTactics
      Arcsight_MscoreField_Name:
        simple: Mscore
      Arcsight_SourceBrandField_Name:
        simple: SourceBrands
      Arcsight_SourceInstanceField_Name:
        simple: SourceInstances
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: ca85d3a3-6ab7-4b91-8d2c-613e263b2273
      iscommand: false
      name: TIM - UBI Sub Playbook Add IP Indicators to Arcsight SIEM
      playbookId: 21ce8491-ba19-4813-8f99-f3764238e54d
      type: playbook
      version: -1
    taskid: ca85d3a3-6ab7-4b91-8d2c-613e263b2273
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 3487.5,
          "y": 4275
        }
      }
  "65":
    continueonerrortype: ""
    id: "65"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "66"
    note: false
    quietmode: 1
    scriptarguments:
      key:
        simple: SetScore.Unit42Object
      stringify:
        simple: "true"
      value:
        simple: ${fulldetails.[0].moduleToFeedMap.2633708e-f772-426e-863d-9e79e3cacfc1.score}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Set a value in context under the key you entered.
      id: 038f8267-6e8d-496d-880b-6033dddeb527
      iscommand: false
      name: Set score
      script: Set
      type: regular
      version: -1
    taskid: 038f8267-6e8d-496d-880b-6033dddeb527
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1860,
          "y": 1245
        }
      }
  "66":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: ${SetScore.Unit42Object}
          operator: isEqualString
          right:
            value:
              simple: "3"
      label: "yes"
    continueonerrortype: ""
    id: "66"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "28"
      "yes":
      - "67"
    note: false
    quietmode: 1
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 7336d15f-e7e5-435a-8148-1356017f8e44
      iscommand: false
      name: Check score is 3 or not?
      type: condition
      version: -1
    taskid: 7336d15f-e7e5-435a-8148-1356017f8e44
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 1860,
          "y": 1420
        }
      }
  "67":
    continueonerrortype: ""
    id: "67"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "68"
    note: false
    quietmode: 1
    scriptarguments:
      key:
        simple: raw.data4
      value:
        simple: ${fulldetails.[0].moduleToFeedMap.2633708e-f772-426e-863d-9e79e3cacfc1.sourceBrand}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Set a value in context under the key you entered.
      id: 0e04f665-dea3-4183-821e-f566be3469f9
      iscommand: false
      name: Set Source Brand
      script: Set
      type: regular
      version: -1
    taskid: 0e04f665-dea3-4183-821e-f566be3469f9
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1972.5,
          "y": 1595
        }
      }
  "68":
    continueonerrortype: ""
    id: "68"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "92"
    note: false
    quietmode: 1
    scriptarguments:
      key:
        simple: raw.instance4
      value:
        simple: ${fulldetails.[0].moduleToFeedMap.2633708e-f772-426e-863d-9e79e3cacfc1.sourceInstance}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Set a value in context under the key you entered.
      id: f12282e3-789e-4cb6-85ae-2480955a9a01
      iscommand: false
      name: Set Source Instance
      script: Set
      type: regular
      version: -1
    taskid: f12282e3-789e-4cb6-85ae-2480955a9a01
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1972.5,
          "y": 1770
        }
      }
  "69":
    continueonerrortype: ""
    id: "69"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "70"
    note: false
    quietmode: 1
    scriptarguments:
      append:
        simple: "false"
      key:
        simple: Counter
      value:
        simple: ${Counter=val+1}
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: Set a value in context under the key you entered.
      id: c5b06903-9af7-4ba7-8a8e-bacf46bfe63b
      iscommand: false
      name: Update_Counter
      script: Set
      type: regular
      version: -1
    taskid: c5b06903-9af7-4ba7-8a8e-bacf46bfe63b
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1165,
          "y": 4275
        }
      }
  "70":
    continueonerrortype: ""
    id: "70"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "35"
    note: false
    quietmode: 1
    scriptarguments:
      all:
        simple: "yes"
      keysToKeep:
        simple: File,FileData,Fresh-Add_Count,Counter
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: |-
        Delete field from context.

        This automation runs using the default Limited User role, unless you explicitly change the permissions.
        For more information, see the section about permissions here:
        https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/6.10/Cortex-XSOAR-Administrator-Guide/Automations
      id: 038e1826-3207-4952-848e-f365e504840c
      iscommand: false
      name: Remove Context
      script: DeleteContext
      type: regular
      version: -1
    taskid: 038e1826-3207-4952-848e-f365e504840c
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 2147.5,
          "y": 4450
        }
      }
  "71":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: fulldetails.[0].moduleToFeedMap.a2b9dd7d-8d1a-4d55-8c5a-aad8dbb7a594.sourceBrand
          operator: isEqualString
          right:
            value:
              simple: TAXIIFeed
      label: "yes"
    continueonerrortype: ""
    id: "71"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "27"
      "yes":
      - "72"
    note: false
    quietmode: 1
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: b4f2eab2-f773-49f4-87e2-aa1f5c31a501
      iscommand: false
      name: Is Taxii a2b9dd7d-8d1a-4d55-8c5a-aad8dbb7a594 Present?
      type: condition
      version: -1
    taskid: b4f2eab2-f773-49f4-87e2-aa1f5c31a501
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 5370,
          "y": 1070
        }
      }
  "72":
    continueonerrortype: ""
    id: "72"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "73"
    note: false
    quietmode: 1
    scriptarguments:
      key:
        simple: SetScore.TaxiiFeed.a2b9dd7d-8d1a-4d55-8c5a-aad8dbb7a594
      stringify:
        simple: "true"
      value:
        simple: ${fulldetails.[0].moduleToFeedMap.a2b9dd7d-8d1a-4d55-8c5a-aad8dbb7a594.score}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Set a value in context under the key you entered.
      id: 5b942cae-8109-4568-8979-115c7cac2974
      iscommand: false
      name: Set score
      script: Set
      type: regular
      version: -1
    taskid: 5b942cae-8109-4568-8979-115c7cac2974
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 5390,
          "y": 1245
        }
      }
  "73":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: ${SetScore.TaxiiFeed.a2b9dd7d-8d1a-4d55-8c5a-aad8dbb7a594}
          operator: isEqualString
          right:
            value:
              simple: "3"
      label: "yes"
    continueonerrortype: ""
    id: "73"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "28"
      "yes":
      - "74"
    note: false
    quietmode: 1
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 0b76d43e-bb08-4ef6-8aed-b0349deb7f39
      iscommand: false
      name: Check score is 3 or not?
      type: condition
      version: -1
    taskid: 0b76d43e-bb08-4ef6-8aed-b0349deb7f39
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 5390,
          "y": 1420
        }
      }
  "74":
    continueonerrortype: ""
    id: "74"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "75"
    note: false
    quietmode: 1
    scriptarguments:
      key:
        simple: raw.data5
      value:
        simple: ${fulldetails.[0].moduleToFeedMap.a2b9dd7d-8d1a-4d55-8c5a-aad8dbb7a594.sourceBrand}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Set a value in context under the key you entered.
      id: d39d0c6c-c1b1-4147-831a-55fe60cee337
      iscommand: false
      name: Set Source Brand
      script: Set
      type: regular
      version: -1
    taskid: d39d0c6c-c1b1-4147-831a-55fe60cee337
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 5542.5,
          "y": 1595
        }
      }
  "75":
    continueonerrortype: ""
    id: "75"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "92"
    note: false
    quietmode: 1
    scriptarguments:
      key:
        simple: raw.instance5
      value:
        simple: ${fulldetails.[0].moduleToFeedMap.a2b9dd7d-8d1a-4d55-8c5a-aad8dbb7a594.sourceInstance}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Set a value in context under the key you entered.
      id: 282bbde8-8d67-4ef3-805d-48b39ea4d786
      iscommand: false
      name: Set Source Instance
      script: Set
      type: regular
      version: -1
    taskid: 282bbde8-8d67-4ef3-805d-48b39ea4d786
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 5542.5,
          "y": 1770
        }
      }
  "76":
    continueonerrortype: ""
    id: "76"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "132"
    note: false
    quietmode: 1
    scriptarguments:
      key:
        simple: Value.FirstSeen
      value:
        simple: N/A
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Set a value in context under the key you entered.
      id: cd4b76ac-a7cc-4105-89d5-6b96eeb8e723
      iscommand: false
      name: First seen not available
      script: Set
      type: regular
      version: -1
    taskid: cd4b76ac-a7cc-4105-89d5-6b96eeb8e723
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 2445,
          "y": 3625
        }
      }
  "77":
    continueonerrortype: ""
    id: "77"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "132"
    note: false
    quietmode: 1
    scriptarguments:
      key:
        simple: Value.LastSeen
      value:
        simple: N/A
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Set a value in context under the key you entered.
      id: 7b83f5c6-c802-4887-8fc8-5300bba14399
      iscommand: false
      name: Last seen not available
      script: Set
      type: regular
      version: -1
    taskid: 7b83f5c6-c802-4887-8fc8-5300bba14399
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 2915,
          "y": 3625
        }
      }
  "78":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: ${fulldetails.[0].firstSeen}
          operator: isSame
          right:
            value:
              simple: "0001-01-01T00:00:00Z"
      label: Firstseen Value Not Found
    continueonerrortype: ""
    id: "78"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "42"
      Firstseen Value Not Found:
      - "76"
    note: false
    quietmode: 1
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: fd1dbfc2-312b-4de3-87ca-76654b3b418a
      iscommand: false
      name: Is firstseen value is correct?
      type: condition
      version: -1
    taskid: fd1dbfc2-312b-4de3-87ca-76654b3b418a
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 2547.5,
          "y": 3275
        }
      }
  "79":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: ${fulldetails.[0].lastSeen}
          operator: isSame
          right:
            value:
              simple: "0001-01-01T00:00:00Z"
      label: Lastseen Value Not Found
    continueonerrortype: ""
    id: "79"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "43"
      Lastseen Value Not Found:
      - "77"
    note: false
    quietmode: 1
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 8838bb50-e0d5-4e69-879d-38df445d0ec6
      iscommand: false
      name: Is Lastseen value is correct?
      type: condition
      version: -1
    taskid: 8838bb50-e0d5-4e69-879d-38df445d0ec6
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 3017.5,
          "y": 3275
        }
      }
  "81":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: ${fulldetails.[0].expirationStatus}
          operator: isEqualString
          right:
            value:
              simple: active
      label: "yes"
    continueonerrortype: ""
    id: "81"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "69"
      "yes":
      - "110"
    note: false
    quietmode: 1
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: b91e1e05-df4f-4ccb-8dd0-f0e1ee43b6d2
      iscommand: false
      name: Is Indicator Is Active ?
      type: condition
      version: -1
    taskid: b91e1e05-df4f-4ccb-8dd0-f0e1ee43b6d2
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 50,
          "y": 400
        }
      }
  "82":
    continueonerrortype: ""
    id: "82"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "83"
    note: false
    quietmode: 1
    scriptarguments:
      key:
        simple: Value.GeoCountry
      value:
        simple: "null"
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Set a value in context under the key you entered.
      id: 18e48e8b-ed3f-449a-8f51-a758eb8170ad
      iscommand: false
      name: Set Country Code
      script: Set
      type: regular
      version: -1
    taskid: 18e48e8b-ed3f-449a-8f51-a758eb8170ad
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 4407.5,
          "y": 3605
        }
      }
  "83":
    continueonerrortype: ""
    id: "83"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "84"
    note: false
    quietmode: 1
    scriptarguments:
      key:
        simple: Value.CountryName
      value:
        simple: "null"
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Set a value in context under the key you entered.
      id: 9f9d7978-1c70-4ea7-86b2-4430d91b6ab8
      iscommand: false
      name: Set County Name
      script: Set
      type: regular
      version: -1
    taskid: 9f9d7978-1c70-4ea7-86b2-4430d91b6ab8
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 4407.5,
          "y": 3780
        }
      }
  "84":
    continueonerrortype: ""
    id: "84"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "62"
    note: false
    quietmode: 1
    scriptarguments:
      key:
        simple: Value.GeoLocation
      value:
        simple: "null"
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Set a value in context under the key you entered.
      id: 83652699-df66-40c5-8f09-6a205daa8e8d
      iscommand: false
      name: Set Geo Location
      script: Set
      type: regular
      version: -1
    taskid: 83652699-df66-40c5-8f09-6a205daa8e8d
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 4407.5,
          "y": 3955
        }
      }
  "86":
    continueonerrortype: ""
    id: "86"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "87"
    note: false
    quietmode: 0
    scriptarguments:
      key:
        simple: SourceInstance_Value
      stringify:
        simple: "true"
      value:
        complex:
          root: ${Source_InstanceValue}
          transformers:
          - args:
              empty_values: {}
              remove_keys:
                value:
                  simple: "true"
            operator: RemoveEmpty
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Set a value in context under the key you entered.
      id: 95572a08-5a72-4cf0-8184-2b226e44ac01
      iscommand: false
      name: Format Source Instance
      script: Set
      type: regular
      version: -1
    taskid: 95572a08-5a72-4cf0-8184-2b226e44ac01
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 4602.5,
          "y": 2615
        }
      }
  "87":
    continueonerrortype: ""
    id: "87"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "94"
    note: false
    quietmode: 1
    scriptarguments:
      key:
        simple: Value.SourceInstances
      value:
        complex:
          root: ${SourceInstance_Value}
          transformers:
          - args:
              limit: {}
              replaceWith: {}
              toReplace:
                value:
                  simple: '['
            operator: replace
          - args:
              limit: {}
              replaceWith: {}
              toReplace:
                value:
                  simple: '"'
            operator: replace
          - args:
              limit: {}
              replaceWith: {}
              toReplace:
                value:
                  simple: '"'
            operator: replace
          - args:
              limit: {}
              replaceWith: {}
              toReplace:
                value:
                  simple: ']'
            operator: replace
          - args:
              limit: {}
              replaceWith:
                value:
                  simple: ',  '
              toReplace:
                value:
                  simple: ','
            operator: replace
          - operator: toUpperCase
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Set a value in context under the key you entered.
      id: 763b7cb9-f747-439d-8e9d-f2771637b916
      iscommand: false
      name: Ready Source Instance
      script: Set
      type: regular
      version: -1
    taskid: 763b7cb9-f747-439d-8e9d-f2771637b916
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 4602.5,
          "y": 2790
        }
      }
  "89":
    continueonerrortype: ""
    id: "89"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "90"
    note: false
    quietmode: 0
    scriptarguments:
      key:
        simple: Format_SourceBrand_Value
      stringify:
        simple: "true"
      value:
        complex:
          root: ${Source_Brand_Value}
          transformers:
          - args:
              empty_values: {}
              remove_keys:
                value:
                  simple: "true"
            operator: RemoveEmpty
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Set a value in context under the key you entered.
      id: 7dedc1c0-2a88-45d5-89e2-6512eda50628
      iscommand: false
      name: Format Source Brand
      script: Set
      type: regular
      version: -1
    taskid: 7dedc1c0-2a88-45d5-89e2-6512eda50628
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 4172.5,
          "y": 2615
        }
      }
  "90":
    continueonerrortype: ""
    id: "90"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "94"
    note: false
    quietmode: 1
    scriptarguments:
      key:
        simple: Value.SourceBrands
      value:
        complex:
          root: ${Format_SourceBrand_Value}
          transformers:
          - args:
              limit: {}
              replaceWith: {}
              toReplace:
                value:
                  simple: '['
            operator: replace
          - args:
              limit: {}
              replaceWith: {}
              toReplace:
                value:
                  simple: '"'
            operator: replace
          - args:
              limit: {}
              replaceWith: {}
              toReplace:
                value:
                  simple: '"'
            operator: replace
          - args:
              limit: {}
              replaceWith: {}
              toReplace:
                value:
                  simple: ']'
            operator: replace
          - args:
              limit: {}
              replaceWith:
                value:
                  simple: ',  '
              toReplace:
                value:
                  simple: ','
            operator: replace
          - operator: toUpperCase
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Set a value in context under the key you entered.
      id: c7fbdc0b-4e7b-4fb7-8fd1-06eefac5b11c
      iscommand: false
      name: Ready Source Brand
      script: Set
      type: regular
      version: -1
    taskid: c7fbdc0b-4e7b-4fb7-8fd1-06eefac5b11c
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 4172.5,
          "y": 2790
        }
      }
  "92":
    continueonerrortype: ""
    id: "92"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "28"
    note: false
    quietmode: 0
    scriptarguments:
      key:
        simple: Value.Verdict
      value:
        simple: MALICIOUS
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Set a value in context under the key you entered.
      id: f64a603f-e7e3-4106-8967-f6d30e5fc4c0
      iscommand: false
      name: Set Verdict Value
      script: Set
      type: regular
      version: -1
    taskid: f64a603f-e7e3-4106-8967-f6d30e5fc4c0
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 4060,
          "y": 1945
        }
      }
  "93":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: ${raw}
          operator: isNotEmpty
          right:
            value: {}
      label: Present
    continueonerrortype: ""
    id: "93"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "69"
      Present:
      - "29"
      - "30"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 75105a38-3679-479d-88eb-5d21a6f910fb
      iscommand: false
      name: Is Source Brand Present?
      type: condition
      version: -1
    taskid: 75105a38-3679-479d-88eb-5d21a6f910fb
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 4202.5,
          "y": 2265
        }
      }
  "94":
    continueonerrortype: ""
    id: "94"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "133"
      - "131"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 3f1735ff-8051-4617-8efc-ec638ea9905a
      iscommand: false
      name: Source Value set
      type: title
      version: -1
    taskid: 3f1735ff-8051-4617-8efc-ec638ea9905a
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 4202.5,
          "y": 2965
        }
      }
  "95":
    continueonerrortype: ""
    id: "95"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "81"
    note: false
    quietmode: 1
    scriptarguments:
      extend-context:
        simple: fulldetails=
      value:
        simple: ${inputs.IPAddress_Value}
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: commands.local.cmd.find.indicators
      id: e4aa47e0-d4b8-4616-8a4e-797b07ed14d5
      iscommand: true
      name: Get Indicator
      script: Builtin|||findIndicators
      type: regular
      version: -1
    taskid: e4aa47e0-d4b8-4616-8a4e-797b07ed14d5
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 50,
          "y": 225
        }
      }
  "96":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: fulldetails.[0].moduleToFeedMap.74d62722-b24a-4714-8177-8740c2d16ffc.sourceBrand
          operator: isEqualString
          right:
            value:
              simple: Mandiant Advantage Threat Intelligence
      label: "yes"
    continueonerrortype: ""
    id: "96"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "27"
      "yes":
      - "9"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 75134023-68d2-446e-8e00-e92ace0c7053
      iscommand: false
      name: Is Mandiant Advantage Present?
      type: condition
      version: -1
    taskid: 75134023-68d2-446e-8e00-e92ace0c7053
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 1195,
          "y": 720
        }
      }
  "97":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: fulldetails.[0].moduleToFeedMap.VirusTotal \(API v3\).sourceBrand
          operator: isEqualString
          right:
            value:
              simple: VirusTotal (API v3)
      label: "Yes"
    continueonerrortype: ""
    id: "97"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "27"
      "Yes":
      - "10"
    note: false
    quietmode: 1
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: e76d912a-84ea-45c4-8d71-64780b85ce5f
      iscommand: false
      name: Is VirusTotal Present?
      type: condition
      version: -1
    taskid: e76d912a-84ea-45c4-8d71-64780b85ce5f
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 275,
          "y": 1070
        }
      }
  "98":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: fulldetails.[0].moduleToFeedMap.AlienVault OTX v2.sourceBrand
          operator: isEqualString
          right:
            value:
              simple: AlienVault OTX v2
      label: "yes"
    continueonerrortype: ""
    id: "98"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "27"
      "yes":
      - "8"
    note: false
    quietmode: 1
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: e2e15010-cbb0-407e-8103-33124561a445
      iscommand: false
      name: Is AlienVault Present?
      type: condition
      version: -1
    taskid: e2e15010-cbb0-407e-8103-33124561a445
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 725,
          "y": 1070
        }
      }
  "101":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: fulldetails.[0].moduleToFeedMap.2633708e-f772-426e-863d-9e79e3cacfc1.moduleId
          operator: isEqualString
          right:
            value:
              simple: 2633708e-f772-426e-863d-9e79e3cacfc1
      label: "yes"
    continueonerrortype: ""
    id: "101"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "27"
      "yes":
      - "65"
    note: false
    quietmode: 1
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: a5280602-cd03-4333-827e-204a4fb81455
      iscommand: false
      name: Is Unit42IntelObjectsFeed  Present?
      type: condition
      version: -1
    taskid: a5280602-cd03-4333-827e-204a4fb81455
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 1850,
          "y": 1070
        }
      }
  "102":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: fulldetails.[0].moduleToFeedMap.a482c147-44e2-4104-85eb-2403809cee99.moduleId
          operator: isEqualString
          right:
            value:
              simple: a482c147-44e2-4104-85eb-2403809cee99
      label: "yes"
    continueonerrortype: ""
    id: "102"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "27"
      "yes":
      - "104"
    note: false
    quietmode: 1
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 3bf17c27-6628-4df5-8cd5-0228f1b8e1f3
      iscommand: false
      name: Is Autofocus  Present?
      type: condition
      version: -1
    taskid: 3bf17c27-6628-4df5-8cd5-0228f1b8e1f3
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 4060,
          "y": 1070
        }
      }
  "104":
    continueonerrortype: ""
    id: "104"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "105"
    note: false
    quietmode: 1
    scriptarguments:
      key:
        simple: SetScore.Autofocus
      stringify:
        simple: "true"
      value:
        simple: ${fulldetails.[0].moduleToFeedMap.a482c147-44e2-4104-85eb-2403809cee99.score}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Set a value in context under the key you entered.
      id: e46231c5-698f-4ab3-8b8a-179da818ed46
      iscommand: false
      name: Set score
      script: Set
      type: regular
      version: -1
    taskid: e46231c5-698f-4ab3-8b8a-179da818ed46
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 4060,
          "y": 1245
        }
      }
  "105":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: ${SetScore.Autofocus}
          operator: isEqualString
          right:
            value:
              simple: "3"
      label: "yes"
    continueonerrortype: ""
    id: "105"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      "yes":
      - "106"
    note: false
    quietmode: 1
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 5effdfce-864f-43bc-8bb3-5b4a0d66f244
      iscommand: false
      name: Check score is 3 or not?
      type: condition
      version: -1
    taskid: 5effdfce-864f-43bc-8bb3-5b4a0d66f244
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 4060,
          "y": 1420
        }
      }
  "106":
    continueonerrortype: ""
    id: "106"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "107"
    note: false
    quietmode: 1
    scriptarguments:
      key:
        simple: raw.data7
      value:
        simple: ${fulldetails.[0].moduleToFeedMap.a482c147-44e2-4104-85eb-2403809cee99.sourceBrand}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Set a value in context under the key you entered.
      id: dc8cbc86-fd7d-4c95-8f62-9e6e32dd7cad
      iscommand: false
      name: Set Source Brand
      script: Set
      type: regular
      version: -1
    taskid: dc8cbc86-fd7d-4c95-8f62-9e6e32dd7cad
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 4060,
          "y": 1595
        }
      }
  "107":
    continueonerrortype: ""
    id: "107"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "92"
    note: false
    quietmode: 1
    scriptarguments:
      key:
        simple: raw.instance7
      value:
        simple: ${fulldetails.[0].moduleToFeedMap.a482c147-44e2-4104-85eb-2403809cee99.sourceInstance}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Set a value in context under the key you entered.
      id: db34440a-5200-4363-87b2-6fd07432623f
      iscommand: false
      name: Set Source Instance
      script: Set
      type: regular
      version: -1
    taskid: db34440a-5200-4363-87b2-6fd07432623f
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 4060,
          "y": 1770
        }
      }
  "110":
    continueonerrortype: ""
    id: "110"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "97"
      - "98"
      - "96"
      - "101"
      - "102"
      - "111"
      - "116"
      - "71"
      - "125"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 5a4b1a03-b8bd-4041-8e4c-0dc3a5edbe1d
      iscommand: false
      name: Check for Vendors
      type: title
      version: -1
    taskid: 5a4b1a03-b8bd-4041-8e4c-0dc3a5edbe1d
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 2515,
          "y": 575
        }
      }
  "111":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: fulldetails.[0].moduleToFeedMap.Unit42Intel.sourceBrand
          operator: isEqualString
          right:
            value:
              simple: Unit42Intel
      label: "yes"
    continueonerrortype: ""
    id: "111"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "27"
      "yes":
      - "112"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 59214759-e84a-4986-8c0c-710ee1c56b83
      iscommand: false
      name: Is Unit42v2 Feed Present?
      type: condition
      version: -1
    taskid: 59214759-e84a-4986-8c0c-710ee1c56b83
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 4470,
          "y": 1070
        }
      }
  "112":
    continueonerrortype: ""
    id: "112"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "113"
    note: false
    quietmode: 1
    scriptarguments:
      key:
        simple: SetScore.Unit42Intel
      stringify:
        simple: "true"
      value:
        simple: ${fulldetails.[0].moduleToFeedMap.Unit42Intel.score}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Set a value in context under the key you entered.
      id: abd105c6-f3c5-4aa7-818a-a2fa49f079c1
      iscommand: false
      name: Set score
      script: Set
      type: regular
      version: -1
    taskid: abd105c6-f3c5-4aa7-818a-a2fa49f079c1
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 4490,
          "y": 1245
        }
      }
  "113":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: ${SetScore.Unit42Intel}
          operator: isEqualString
          right:
            value:
              simple: "3"
      label: "yes"
    continueonerrortype: ""
    id: "113"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "28"
      "yes":
      - "114"
    note: false
    quietmode: 1
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 15210790-e0c3-4fcd-8356-33357cbdf689
      iscommand: false
      name: Check score is 3 or not?
      type: condition
      version: -1
    taskid: 15210790-e0c3-4fcd-8356-33357cbdf689
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 4490,
          "y": 1420
        }
      }
  "114":
    continueonerrortype: ""
    id: "114"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "115"
    note: false
    quietmode: 1
    scriptarguments:
      key:
        simple: raw.data6
      value:
        simple: Unit42v2 Feed
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Set a value in context under the key you entered.
      id: ebaaafe1-c0ce-47c0-81d9-10f1a8046f95
      iscommand: false
      name: Set Source Brand
      script: Set
      type: regular
      version: -1
    taskid: ebaaafe1-c0ce-47c0-81d9-10f1a8046f95
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 4642.5,
          "y": 1595
        }
      }
  "115":
    continueonerrortype: ""
    id: "115"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "92"
    note: false
    quietmode: 1
    scriptarguments:
      key:
        simple: raw.instance6
      value:
        simple: Unit42v2 Feed_instance_1
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Set a value in context under the key you entered.
      id: d576ecf5-b0b0-4acb-8ecb-ef4d8282438e
      iscommand: false
      name: Set Source Instance
      script: Set
      type: regular
      version: -1
    taskid: d576ecf5-b0b0-4acb-8ecb-ef4d8282438e
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 4642.5,
          "y": 1770
        }
      }
  "116":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: fulldetails.[0].moduleToFeedMap.9fea1ccf-c87d-4a71-8fd1-f9201cfc0549.moduleId
          operator: isEqualString
          right:
            value:
              simple: 9fea1ccf-c87d-4a71-8fd1-f9201cfc0549
      label: "yes"
    continueonerrortype: ""
    id: "116"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "27"
      "yes":
      - "11"
    note: false
    quietmode: 1
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 9d214cb2-fdfc-4be5-8991-2198ae565247
      iscommand: false
      name: Is Unit 42 Atom Present?
      type: condition
      version: -1
    taskid: 9d214cb2-fdfc-4be5-8991-2198ae565247
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 4920,
          "y": 1070
        }
      }
  "117":
    continueonerrortype: ""
    id: "117"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "92"
    note: false
    quietmode: 0
    scriptarguments:
      key:
        simple: Value.Mscore
      value:
        simple: N/A
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Set a value in context under the key you entered.
      id: c1d037d4-2f9d-4d57-8f9e-206fb38e4f3a
      iscommand: false
      name: Set Mscore
      script: Set
      type: regular
      version: -1
    taskid: c1d037d4-2f9d-4d57-8f9e-206fb38e4f3a
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1307.5,
          "y": 1770
        }
      }
  "120":
    continueonerror: true
    continueonerrortype: errorPath
    id: "120"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#error#':
      - "121"
      '#none#':
      - "62"
    note: false
    quietmode: 0
    scriptarguments:
      key:
        simple: Value.ExpirationStatus
      value:
        complex:
          accessor: expirationStatus}
          root: ${fulldetails.[0]
          transformers:
          - operator: toUpperCase
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Set a value in context under the key you entered.
      id: 2206a4ac-0554-4dd2-8aac-fb7bf3023de1
      iscommand: false
      name: Set Expiration Status
      script: Set
      type: regular
      version: -1
    taskid: 2206a4ac-0554-4dd2-8aac-fb7bf3023de1
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 3702.5,
          "y": 3780
        }
      }
  "121":
    continueonerrortype: ""
    id: "121"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "62"
    note: false
    quietmode: 0
    scriptarguments:
      key:
        simple: Value.ExpirationStatus
      value:
        simple: "null"
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Set a value in context under the key you entered.
      id: 77817021-0864-47aa-8c8a-b03f044b683e
      iscommand: false
      name: Set Expiration Status
      script: Set
      type: regular
      version: -1
    taskid: 77817021-0864-47aa-8c8a-b03f044b683e
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 3610,
          "y": 3955
        }
      }
  "122":
    continueonerrortype: ""
    id: "122"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "110"
    note: false
    quietmode: 1
    scriptarguments:
      key:
        simple: Value.Mscore
      value:
        simple: "null"
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Set a value in context under the key you entered.
      id: 2939982e-661e-4991-8424-9aef672f643b
      iscommand: false
      name: Set Mscore
      script: Set
      type: regular
      version: -1
    taskid: 2939982e-661e-4991-8424-9aef672f643b
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 2525,
          "y": 400
        }
      }
  "123":
    continueonerror: true
    continueonerrortype: errorPath
    id: "123"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#error#':
      - "124"
      '#none#':
      - "51"
    note: false
    quietmode: 1
    scriptarguments:
      key:
        simple: Value.CountryCode
      value:
        complex:
          accessor: geocountry}
          root: ${fulldetails.[0].CustomFields
          transformers:
          - operator: toUpperCase
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Set a value in context under the key you entered.
      id: 3b999fc0-3f0c-49bb-83e8-7d513aa4e698
      iscommand: false
      name: Set Country Code
      script: Set
      type: regular
      version: -1
    taskid: 3b999fc0-3f0c-49bb-83e8-7d513aa4e698
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 4407.5,
          "y": 3255
        }
      }
  "124":
    continueonerrortype: ""
    id: "124"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "82"
    note: false
    quietmode: 1
    scriptarguments:
      key:
        simple: Value.CountryCode
      value:
        simple: "null"
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Set a value in context under the key you entered.
      id: 087c0513-04e0-48de-8e92-7f91df7879c8
      iscommand: false
      name: Set Country Code
      script: Set
      type: regular
      version: -1
    taskid: 087c0513-04e0-48de-8e92-7f91df7879c8
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 4407.5,
          "y": 3430
        }
      }
  "125":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: fulldetails.[0].moduleToFeedMap.ab144522-61b3-4643-83a2-3f8b920f22c8.sourceBrand
          operator: isEqualString
          right:
            value:
              simple: TAXIIFeed
      label: "yes"
    continueonerrortype: ""
    id: "125"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "27"
      "yes":
      - "126"
    note: false
    quietmode: 1
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 72800698-c3a3-4324-8623-0ffc2425f79c
      iscommand: false
      name: Is Taxii ab144522-61b3-4643-83a2-3f8b920f22c8 Present?
      type: condition
      version: -1
    taskid: 72800698-c3a3-4324-8623-0ffc2425f79c
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 5820,
          "y": 1070
        }
      }
  "126":
    continueonerrortype: ""
    id: "126"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "127"
    note: false
    quietmode: 1
    scriptarguments:
      key:
        simple: SetScore.TaxiiFeed.ab144522-61b3-4643-83a2-3f8b920f22c8
      stringify:
        simple: "true"
      value:
        simple: ${fulldetails.[0].moduleToFeedMap.ab144522-61b3-4643-83a2-3f8b920f22c8.score}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Set a value in context under the key you entered.
      id: e5ceb792-7000-40de-8683-dd5d809c9509
      iscommand: false
      name: Set score
      script: Set
      type: regular
      version: -1
    taskid: e5ceb792-7000-40de-8683-dd5d809c9509
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 5840,
          "y": 1245
        }
      }
  "127":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: ${SetScore.TaxiiFeed.ab144522-61b3-4643-83a2-3f8b920f22c8}
          operator: isEqualString
          right:
            value:
              simple: "3"
      label: "yes"
    continueonerrortype: ""
    id: "127"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "28"
      "yes":
      - "128"
    note: false
    quietmode: 1
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: dd312d05-16df-405a-8c10-b5487aa36edc
      iscommand: false
      name: Check score is 3 or not?
      type: condition
      version: -1
    taskid: dd312d05-16df-405a-8c10-b5487aa36edc
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 5840,
          "y": 1420
        }
      }
  "128":
    continueonerrortype: ""
    id: "128"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "129"
    note: false
    quietmode: 1
    scriptarguments:
      key:
        simple: raw.data8
      value:
        simple: ${fulldetails.[0].moduleToFeedMap.ab144522-61b3-4643-83a2-3f8b920f22c8.sourceBrand}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Set a value in context under the key you entered.
      id: 9341a03b-34c0-49ae-8e26-b14043c28ab3
      iscommand: false
      name: Set Source Brand
      script: Set
      type: regular
      version: -1
    taskid: 9341a03b-34c0-49ae-8e26-b14043c28ab3
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 5992.5,
          "y": 1595
        }
      }
  "129":
    continueonerrortype: ""
    id: "129"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "92"
    note: false
    quietmode: 1
    scriptarguments:
      key:
        simple: raw.instance8
      value:
        simple: ${fulldetails.[0].moduleToFeedMap.ab144522-61b3-4643-83a2-3f8b920f22c8.sourceInstance}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Set a value in context under the key you entered.
      id: 6cd8ca9c-9539-41da-861a-a68760ac8ce1
      iscommand: false
      name: Set Source Instance
      script: Set
      type: regular
      version: -1
    taskid: 6cd8ca9c-9539-41da-861a-a68760ac8ce1
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 5992.5,
          "y": 1770
        }
      }
  "130":
    continueonerrortype: ""
    id: "130"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 1
    scriptarguments:
      all:
        simple: "yes"
      keysToKeep:
        simple: File,FileData,Counter,ResourceID,MAX_Count,Delete_Count,Fresh-Add_Count,Delete_Count_Error
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: |-
        Delete field from context.

        This automation runs using the default Limited User role, unless you explicitly change the permissions.
        For more information, see the section about permissions here:
        https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/6.10/Cortex-XSOAR-Administrator-Guide/Automations
      id: 9bf46342-da35-4cb9-8cb7-87304851b037
      iscommand: false
      name: Remove Context
      script: DeleteContext
      type: regular
      version: -1
    taskid: 9bf46342-da35-4cb9-8cb7-87304851b037
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 480,
          "y": 50
        }
      }
  "131":
    continueonerrortype: ""
    id: "131"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "78"
      - "79"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: e3c7da8e-0700-4a93-834b-5163d86c3255
      iscommand: false
      name: Date Format
      type: title
      version: -1
    taskid: e3c7da8e-0700-4a93-834b-5163d86c3255
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 2547.5,
          "y": 3115
        }
      }
  "132":
    continueonerrortype: ""
    id: "132"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "63"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: fdb4a5af-706a-4635-832b-5197a3da6b82
      iscommand: false
      name: Data Format Complete
      type: title
      version: -1
    taskid: fdb4a5af-706a-4635-832b-5197a3da6b82
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 2660,
          "y": 3800
        }
      }
  "133":
    continueonerrortype: ""
    id: "133"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "33"
      - "120"
      - "123"
      - "58"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 90568597-ae62-4391-8969-1ceadb07d5a0
      iscommand: false
      name: Field Value
      type: title
      version: -1
    taskid: 90568597-ae62-4391-8969-1ceadb07d5a0
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 4172.5,
          "y": 3110
        }
      }
version: -1
view: |-
  {
    "linkLabelsPosition": {
      "73_28_#default#": 0.68
    },
    "paper": {
      "dimensions": {
        "height": 4640,
        "width": 6322.5,
        "x": 50,
        "y": 50
      }
    }
  }
