playbook-Microsoft_365_Defender_-_Emails_Indicators_Hunt.yml
contentitemexportablefields:
  contentitemfields:
    definitionid: ""
    fromServerVersion: 6.2.0
    itemVersion: 4.5.30
    packID: Microsoft365Defender
    packName: Microsoft 365 Defender
    packPropagationLabels:
    - all
    prevname: ""
    propagationLabels: []
    toServerVersion: ""
description: |-
  This playbook retrieves email data based on the "URLDomain", "SHA256" and "IPAddress" inputs.
  SHA256 - Emails with attachments matching the "SHA256" input are retrieved.
  URLDomain - If the "URLDomain" value is found as a substring of URL(s) in the body of the email, the email is retrieved.
  IPAddress - Emails with "SenderIPv4"/SenderIPv6" or URLs (in the body) matching the "IPAddress" input are retrieved.
id: Microsoft 365 Defender - Emails Indicators Hunt
inputs:
- description: Domain or URL to search within emails. Can be a single domain or URL
    or an array of domains or URLs to search. The search looks for the exact Domain
    or URL.
  key: URLDomain
  playbookInputQuery: null
  required: false
  value: {}
- description: The SHA256 hash file or an array of hashes to search within emails.
  key: SHA256
  playbookInputQuery: null
  required: false
  value: {}
- description: The source or destination IP address to search. Can be a single address
    or an array of IP addresses.
  key: IPAddress
  playbookInputQuery: null
  required: false
  value: {}
- description: The time limit in seconds for the HTTP request to run. Default is 180.
  key: Timeout
  playbookInputQuery: null
  required: false
  value:
    simple: "180"
- description: Number of days past to search. Default is 7.
  key: SearchTimeframe
  playbookInputQuery: null
  required: false
  value:
    simple: "7"
- description: Number of retrieved entries. Enter -1 for unlimited query. 50 is the
    default.
  key: ResultsLimit
  playbookInputQuery: null
  required: false
  value:
    simple: "50"
- description: The mailbox of the listening integration. In case it is provided, the
    emails found in it will be ignored.
  key: ListenerMailbox
  playbookInputQuery: null
  required: false
  value: {}
name: Microsoft 365 Defender - Emails Indicators Hunt
outputs:
- contextPath: Microsoft365Defender.RetrievedEmails
  description: Email objects containing relevant fields.
  type: string
- contextPath: Microsoft365Defender.RetrievedEmails.InternetMessageId
  description: Internet Message ID of the email.
  type: string
- contextPath: Microsoft365Defender.RetrievedEmails.SenderFromDomain
  description: Sender domain.
  type: string
- contextPath: Microsoft365Defender.RetrievedEmails.EmailDirection
  description: Email direction (inbound/outbound).
  type: string
- contextPath: Microsoft365Defender.RetrievedEmails.DeliveryLocation
  description: Delivery location.
  type: string
- contextPath: Microsoft365Defender.RetrievedEmails.AuthenticationDetails
  description: Authentication details (SPF, DKIM, DMARC, CompAuth).
  type: string
- contextPath: Microsoft365Defender.RetrievedEmails.DeliveryAction
  description: Delivery action.
  type: string
- contextPath: Microsoft365Defender.RetrievedEmails.Subject
  description: Email subject.
  type: string
- contextPath: Microsoft365Defender.RetrievedEmails.AttachmentCount
  description: Number of attachments.
  type: string
- contextPath: Microsoft365Defender.RetrievedEmails.ThreatNames
  description: Threat names.
  type: string
- contextPath: Microsoft365Defender.RetrievedEmails.RecipientEmailAddress
  description: Recipient email address.
  type: string
- contextPath: Microsoft365Defender.RetrievedEmails.EmailAction
  description: Email action.
  type: string
- contextPath: Microsoft365Defender.RetrievedEmails.EmailLanguage
  description: Email language.
  type: string
- contextPath: Microsoft365Defender.RetrievedEmails.SenderFromAddress
  description: Sender address.
  type: string
- contextPath: Microsoft365Defender.RetrievedEmails.Timestamp
  description: Timestamp.
  type: string
- contextPath: Microsoft365Defender.RetrievedEmails.SenderDisplayName
  description: Sender display name.
  type: string
- contextPath: Microsoft365Defender.RetrievedEmails.SenderIPv4
  description: Sender IPv4
  type: string
- contextPath: Microsoft365Defender.RetrievedEmails.ConfidenceLevel
  description: Confidence level.
  type: string
- contextPath: Microsoft365Defender.RetrievedEmails.ThreatTypes
  description: Threat types.
  type: string
- contextPath: Microsoft365Defender.RetrievedEmails.SHA256
  description: SHA256 of the attachments (if exists in the email).
  type: string
- contextPath: Microsoft365Defender.RetrievedEmails.Url
  description: URLs found in the email's body.
  type: string
- contextPath: Microsoft365Defender.RetrievedEmails.UrlCount
  description: Number of URLs found in the email's body.
  type: string
- contextPath: Microsoft365Defender.RetrievedEmails.SenderIPv6
  description: Sender IPv6.
  type: unknown
starttaskid: "0"
system: true
tasks:
  "0":
    continueonerrortype: ""
    id: "0"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "1"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 4e50d59c-2f80-42a2-877d-c95d20e20047
      iscommand: false
      name: ""
      version: -1
    taskid: 4e50d59c-2f80-42a2-877d-c95d20e20047
    timertriggers: []
    type: start
    view: |-
      {
        "position": {
          "x": 40,
          "y": -120
        }
      }
  "1":
    continueonerrortype: ""
    id: "1"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      "no":
      - "4"
      "yes":
      - "2"
      - "3"
      - "13"
    note: false
    quietmode: 0
    scriptarguments:
      brandname:
        simple: Microsoft 365 Defender
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Returns 'yes' if integration brand is available. Otherwise returns
        'no'.
      id: 4c477a33-925d-4946-83e3-e237dfa465a2
      iscommand: false
      name: Check if Microsoft 365 Defender is enabled
      script: IsIntegrationAvailable
      type: condition
      version: -1
    taskid: 4c477a33-925d-4946-83e3-e237dfa465a2
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 40,
          "y": 60
        }
      }
  "2":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                root: inputs.URLDomain
          operator: isNotEmpty
      label: URLDomain Exists
    continueonerrortype: ""
    id: "2"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "4"
      URLDomain Exists:
      - "11"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: d7b8bb79-3028-4f41-85b4-52cd5b913070
      iscommand: false
      name: URLDomain input exists?
      type: condition
      version: -1
    taskid: d7b8bb79-3028-4f41-85b4-52cd5b913070
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 770,
          "y": 270
        }
      }
  "3":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                root: inputs.SHA256
          operator: isNotEmpty
      label: SHA256 Exists
    continueonerrortype: ""
    id: "3"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "4"
      SHA256 Exists:
      - "12"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 18e4ddb8-4e5f-4abe-8272-7c05f414081d
      iscommand: false
      name: SHA256 input exists?
      type: condition
      version: -1
    taskid: 18e4ddb8-4e5f-4abe-8272-7c05f414081d
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 310,
          "y": 270
        }
      }
  "4":
    continueonerrortype: ""
    id: "4"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: de06f46a-17b8-427d-83fe-d58c41119de7
      iscommand: false
      name: Done
      type: title
      version: -1
    taskid: de06f46a-17b8-427d-83fe-d58c41119de7
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 40,
          "y": 1290
        }
      }
  "5":
    continueonerrortype: ""
    id: "5"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "10"
    note: false
    quietmode: 0
    scriptarguments:
      limit:
        complex:
          root: inputs.ResultsLimit
      query:
        simple: let _start = now(-${inputs.SearchTimeframe}d); EmailEvents | where
          Timestamp >= _start | where RecipientEmailAddress != "${inputs.ListenerMailbox}"
          | join EmailUrlInfo on NetworkMessageId | where Url has_any ("${URLDomainParsed}")
          or UrlDomain has_any ("${URLDomainParsed}") | project-away AdditionalFields,
          EmailActionPolicy, UserLevelPolicy, EmailActionPolicyGuid, OrgLevelPolicy,
          UserLevelAction, EmailClusterId, ReportId, ReportId1, Timestamp1, OrgLevelAction,
          SenderObjectId, NetworkMessageId1
      timeout:
        simple: ${inputs.Timeout}
    separatecontext: false
    skipunavailable: false
    task:
      brand: Microsoft 365 Defender
      description: 'Advanced hunting is a threat-hunting tool that uses specially
        constructed queries to examine the past 30 days of event data in Microsoft
        365 Defender. Details on how to write queries: https://docs.microsoft.com/en-us/microsoft-365/security/defender/advanced-hunting-query-language?view=o365-worldwide.'
      id: 7ef19685-5d03-44e8-8718-bdcaa1891658
      iscommand: true
      name: Retrieve emails data (URLDomain)
      script: Microsoft 365 Defender|||microsoft-365-defender-advanced-hunting
      type: regular
      version: -1
    taskid: 7ef19685-5d03-44e8-8718-bdcaa1891658
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 770,
          "y": 720
        }
      }
  "6":
    continueonerrortype: ""
    id: "6"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "10"
    note: false
    quietmode: 0
    scriptarguments:
      limit:
        complex:
          root: inputs.ResultsLimit
      query:
        simple: let _start = now(-${inputs.SearchTimeframe}d); EmailEvents | where
          Timestamp >= _start | where RecipientEmailAddress != "${inputs.ListenerMailbox}"
          | join EmailAttachmentInfo on NetworkMessageId | where SHA256 has_any ("${SHA256Parsed}")
          | project-away AdditionalFields, EmailActionPolicy, UserLevelPolicy, EmailActionPolicyGuid,
          OrgLevelPolicy, UserLevelAction, EmailClusterId, ReportId, ReportId1, Timestamp1,
          RecipientEmailAddress1, SenderDisplayName1, NetworkMessageId1, DetectionMethods1,
          SenderFromAddress1, RecipientObjectId1, ThreatNames1, ThreatTypes1, SenderObjectId1,
          OrgLevelAction, SenderObjectId
      timeout:
        simple: ${inputs.Timeout}
    separatecontext: false
    skipunavailable: false
    task:
      brand: Microsoft 365 Defender
      description: 'Advanced hunting is a threat-hunting tool that uses specially
        constructed queries to examine the past 30 days of event data in Microsoft
        365 Defender. Details on how to write queries: https://docs.microsoft.com/en-us/microsoft-365/security/defender/advanced-hunting-query-language?view=o365-worldwide.'
      id: 1386f67d-0a38-438e-8a03-7435ffe62954
      iscommand: true
      name: Retrieve emails data (SHA256)
      script: Microsoft 365 Defender|||microsoft-365-defender-advanced-hunting
      type: regular
      version: -1
    taskid: 1386f67d-0a38-438e-8a03-7435ffe62954
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 310,
          "y": 720
        }
      }
  "10":
    continueonerrortype: ""
    id: "10"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "16"
    note: false
    quietmode: 0
    scriptarguments:
      key:
        simple: Microsoft365Defender.RetrievedEmails
      value:
        complex:
          filters:
          - - left:
                iscontext: true
                value:
                  simple: Microsoft365Defender.Hunt.results.SHA256
              operator: isNotEmpty
            - left:
                iscontext: true
                value:
                  simple: Microsoft365Defender.Hunt.results.Url
              operator: isNotEmpty
          root: Microsoft365Defender.Hunt.results
          transformers:
          - operator: uniq
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: |-
        Set a value in context under the key you entered. If no value is entered, the script doesn't do anything.

        This automation runs using the default Limited User role, unless you explicitly change the permissions.
        For more information, see the section about permissions here:
        https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/6.10/Cortex-XSOAR-Administrator-Guide/Automations.
      id: 8bd4c50d-26ba-48ac-8d71-a918feb08ecb
      iscommand: false
      name: Save matching email results (with URLs or attachments)
      script: SetAndHandleEmpty
      type: regular
      version: -1
    taskid: 8bd4c50d-26ba-48ac-8d71-a918feb08ecb
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1000,
          "y": 920
        }
      }
  "11":
    continueonerrortype: ""
    id: "11"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "5"
    note: false
    quietmode: 0
    scriptarguments:
      key:
        simple: URLDomainParsed
      value:
        complex:
          root: inputs.URLDomain
          transformers:
          - args:
              separator:
                value:
                  simple: ', '
            operator: join
          - args:
              limit: {}
              replaceWith:
                value:
                  simple: '", "'
              toReplace:
                value:
                  simple: ', '
            operator: replace
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Set a value in context under the key you entered.
      id: a4a3ec81-21db-43a8-885b-bdd11db950ea
      iscommand: false
      name: Set URLDomain search argument
      script: Set
      type: regular
      version: -1
    taskid: a4a3ec81-21db-43a8-885b-bdd11db950ea
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 770,
          "y": 510
        }
      }
  "12":
    continueonerrortype: ""
    id: "12"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "6"
    note: false
    quietmode: 0
    scriptarguments:
      key:
        simple: SHA256Parsed
      value:
        complex:
          root: inputs.SHA256
          transformers:
          - args:
              separator:
                value:
                  simple: ', '
            operator: join
          - args:
              limit: {}
              replaceWith:
                value:
                  simple: '","'
              toReplace:
                value:
                  simple: ','
            operator: replace
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Set a value in context under the key you entered.
      id: 28263a51-7d7a-4213-8d41-0d01ffdf09b2
      iscommand: false
      name: Set SHA256 search argument
      script: Set
      type: regular
      version: -1
    taskid: 28263a51-7d7a-4213-8d41-0d01ffdf09b2
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 310,
          "y": 510
        }
      }
  "13":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                root: inputs.IPAddress
          operator: isNotEmpty
          right:
            value: {}
      label: IPAddress Exists
    continueonerrortype: ""
    id: "13"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "4"
      IPAddress Exists:
      - "14"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: bf851c18-5e4c-4594-8ec7-6a3b2d8bae6c
      iscommand: false
      name: IPAddress input exists?
      type: condition
      version: -1
    taskid: bf851c18-5e4c-4594-8ec7-6a3b2d8bae6c
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 1450,
          "y": 270
        }
      }
  "14":
    continueonerrortype: ""
    id: "14"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "15"
      - "18"
    note: false
    quietmode: 0
    scriptarguments:
      key:
        simple: IPAddressParsed
      value:
        complex:
          root: inputs.IPAddress
          transformers:
          - args:
              separator:
                value:
                  simple: ', '
            operator: join
          - args:
              limit: {}
              replaceWith:
                value:
                  simple: '", "'
              toReplace:
                value:
                  simple: ', '
            operator: replace
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Set a value in context under the key you entered.
      id: 22329bf3-20bb-4f0a-8247-0d247a7672ad
      iscommand: false
      name: Set IPAddress search argument
      script: Set
      type: regular
      version: -1
    taskid: 22329bf3-20bb-4f0a-8247-0d247a7672ad
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1450,
          "y": 510
        }
      }
  "15":
    continueonerrortype: ""
    id: "15"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "10"
    note: false
    quietmode: 0
    scriptarguments:
      limit:
        complex:
          root: inputs.ResultsLimit
      query:
        simple: let _start = now(-${inputs.SearchTimeframe}d); EmailEvents | where
          Timestamp >= _start | where RecipientEmailAddress != "${inputs.ListenerMailbox}"
          | where SenderIPv4 has_any ("${IPAddressParsed}") or SenderIPv6 in ("${IPAddressParsed}")
          | project-away AdditionalFields, EmailActionPolicy, UserLevelPolicy, EmailActionPolicyGuid,
          OrgLevelPolicy, UserLevelAction, EmailClusterId, ReportId, OrgLevelAction,
          SenderObjectId
      timeout:
        simple: ${inputs.Timeout}
    separatecontext: false
    skipunavailable: false
    task:
      brand: Microsoft 365 Defender
      description: This task will retrieve emails data based on the EmailEvents table.
        It will look for the given IP in the "SenderIPv4" and in the "SenderIPv46"
        properties.
      id: a9b33515-9725-4e37-8188-2120f8fb69e3
      iscommand: true
      name: Retrieve emails data (IPAddress) - EmailEvents table
      script: Microsoft 365 Defender|||microsoft-365-defender-advanced-hunting
      type: regular
      version: -1
    taskid: a9b33515-9725-4e37-8188-2120f8fb69e3
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1230,
          "y": 720
        }
      }
  "16":
    continueonerrortype: ""
    id: "16"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "4"
    note: false
    quietmode: 0
    scriptarguments:
      append:
        simple: "true"
      key:
        simple: Microsoft365Defender.RetrievedEmails
      value:
        complex:
          filters:
          - - left:
                iscontext: true
                value:
                  simple: Microsoft365Defender.Hunt.results.NetworkMessageId
              operator: notIn
              right:
                iscontext: true
                value:
                  simple: Microsoft365Defender.RetrievedEmails.NetworkMessageId
          root: Microsoft365Defender.Hunt.results
          transformers:
          - operator: uniq
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: |-
        Set a value in context under the key you entered. If no value is entered, the script doesn't do anything.

        This automation runs using the default Limited User role, unless you explicitly change the permissions.
        For more information, see the section about permissions here:
        https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/6.10/Cortex-XSOAR-Administrator-Guide/Automations.
      id: ea249095-3e24-4994-8a27-030a0e0d9da1
      iscommand: false
      name: Save matching email results (based on sender IP)
      script: SetAndHandleEmpty
      type: regular
      version: -1
    taskid: ea249095-3e24-4994-8a27-030a0e0d9da1
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1000,
          "y": 1100
        }
      }
  "18":
    continueonerrortype: ""
    id: "18"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "10"
    note: false
    quietmode: 0
    scriptarguments:
      limit:
        complex:
          root: inputs.ResultsLimit
      query:
        simple: let _start = now(-${inputs.SearchTimeframe}d); EmailEvents | where
          Timestamp >= _start | where RecipientEmailAddress != "${inputs.ListenerMailbox}"
          | join EmailUrlInfo on NetworkMessageId | where UrlDomain has_any ("${IPAddressParsed}")
          | project-away AdditionalFields, EmailActionPolicy, UserLevelPolicy, EmailActionPolicyGuid,
          OrgLevelPolicy, UserLevelAction, EmailClusterId, ReportId, ReportId1, Timestamp1,
          OrgLevelAction, SenderObjectId, NetworkMessageId1
      timeout:
        simple: ${inputs.Timeout}
    separatecontext: false
    skipunavailable: false
    task:
      brand: Microsoft 365 Defender
      description: This task will retrieve email data based on the EmailUrlInfo table.
        It will look for the given IP in the "UrlDomain" property since the IP can
        be part of a URL.
      id: 42a24672-f182-4b50-83b7-b08a6b79c4c6
      iscommand: true
      name: Retrieve emails data (IPAddress) - EmailUrlInfo table
      script: Microsoft 365 Defender|||microsoft-365-defender-advanced-hunting
      type: regular
      version: -1
    taskid: 42a24672-f182-4b50-83b7-b08a6b79c4c6
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1670,
          "y": 720
        }
      }
version: -1
view: |-
  {
    "linkLabelsPosition": {
      "13_4_#default#": 0.16,
      "1_13_yes": 0.88,
      "1_2_yes": 0.89,
      "1_4_no": 0.12,
      "2_4_#default#": 0.12,
      "3_4_#default#": 0.15
    },
    "paper": {
      "dimensions": {
        "height": 1475,
        "width": 2010,
        "x": 40,
        "y": -120
      }
    }
  }
