playbook-hash_sort_prasad.yml
contentitemexportablefields:
  contentitemfields:
    definitionid: ""
    fromServerVersion: ""
    itemVersion: ""
    packID: ""
    packName: ""
    prevname: ""
    propagationLabels:
    - all
    toServerVersion: ""
id: 9168d322-afad-4200-872c-7a55a1009a72
inputs: []
name: hash_sort_prasad
outputs: []
starttaskid: "0"
tasks:
  "0":
    continueonerrortype: ""
    id: "0"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "3"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: bbb7e448-1282-4bce-8773-05d9adbdcc94
      iscommand: false
      name: ""
      version: -1
    taskid: bbb7e448-1282-4bce-8773-05d9adbdcc94
    timertriggers: []
    type: start
    view: |-
      {
        "position": {
          "x": 450,
          "y": 50
        }
      }
  "1":
    continueonerrortype: ""
    id: "1"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "5"
    note: false
    quietmode: 0
    scriptarguments:
      hash:
        simple: MD5
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Gets hashes (MD5,SHA1,SHA256) from context.
      id: b64050a1-5ab9-4f45-8991-2ab066ba4f59
      iscommand: false
      name: ContextGetHashes_MD5
      script: ContextGetHashes
      type: regular
      version: -1
    taskid: b64050a1-5ab9-4f45-8991-2ab066ba4f59
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -20,
          "y": 370
        }
      }
  "2":
    continueonerrortype: ""
    id: "2"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "6"
    note: false
    quietmode: 0
    scriptarguments:
      hash:
        simple: SHA256
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Gets hashes (MD5,SHA1,SHA256) from context.
      id: 1a11984c-ee15-4d48-82b4-f95cd3e481d3
      iscommand: false
      name: ContextGetHashes_Sha256
      script: ContextGetHashes
      type: regular
      version: -1
    taskid: 1a11984c-ee15-4d48-82b4-f95cd3e481d3
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1010,
          "y": 370
        }
      }
  "3":
    continueonerrortype: ""
    id: "3"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "4"
      - "1"
      - "2"
    note: false
    quietmode: 0
    reputationcalc: 1
    scriptarguments:
      entryID:
        complex:
          accessor: EntryID
          filters:
          - - left:
                iscontext: true
                value:
                  simple: File.Extension
              operator: isEqualString
              right:
                value:
                  simple: txt
          root: File
      using:
        simple: InnerServicesModule
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: commands.local.cmd.extract.indicators
      id: beeb29dc-d52f-4098-886b-9a4bf71b7407
      iscommand: true
      name: Extract Indicator From File
      script: Builtin|||extractIndicators
      type: regular
      version: -1
    taskid: beeb29dc-d52f-4098-886b-9a4bf71b7407
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 450,
          "y": 200
        }
      }
  "4":
    continueonerrortype: ""
    id: "4"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    scriptarguments:
      data:
        simple: ${ExtractedIndicators.File_SHA256}
      filename:
        simple: ioc.txt
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: |
        Will create a file (using the given data input or entry ID) and upload it to current investigation war room.
      id: d3c5d48f-b461-4f57-8271-558e9f91d2fc
      iscommand: false
      name: text_output
      script: FileCreateAndUpload
      type: regular
      version: -1
    taskid: d3c5d48f-b461-4f57-8271-558e9f91d2fc
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 450,
          "y": 425
        }
      }
  "5":
    continueonerrortype: ""
    id: "5"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    scriptarguments:
      data:
        simple: ${ExtractedIndicators}
      file_name:
        simple: exporthashmd5.xlsx
      sheet_name:
        simple: exporthash
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Exports context data to a Microsoft Excel Open XML Spreadsheet
        (XLSX) file.
      id: 1f0fb3a5-84d2-45bb-89e6-08b5e1c3663d
      iscommand: false
      name: exportoxls
      script: ExportToXLSX
      type: regular
      version: -1
    taskid: 1f0fb3a5-84d2-45bb-89e6-08b5e1c3663d
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -20,
          "y": 560
        }
      }
  "6":
    continueonerrortype: ""
    id: "6"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    scriptarguments:
      data:
        simple: ${ExtractedIndicators}
      file_name:
        simple: exporthashsh256.xlsx
      sheet_name:
        simple: exporthash
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Exports context data to a Microsoft Excel Open XML Spreadsheet
        (XLSX) file.
      id: 17b4c5cb-fab9-4caa-832b-8c68119e3176
      iscommand: false
      name: exportoxls
      script: ExportToXLSX
      type: regular
      version: -1
    taskid: 17b4c5cb-fab9-4caa-832b-8c68119e3176
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1010,
          "y": 540
        }
      }
version: -1
view: |-
  {
    "linkLabelsPosition": {},
    "paper": {
      "dimensions": {
        "height": 605,
        "width": 1410,
        "x": -20,
        "y": 50
      }
    }
  }
