playbook-TCS-SubPlaybook-Trusted_Domain_Verification_v1.0_KK.yml
contentitemexportablefields:
  contentitemfields:
    definitionid: ""
    fromServerVersion: ""
    itemVersion: ""
    packID: ""
    packName: ""
    prevname: ""
    propagationLabels:
    - all
    toServerVersion: ""
id: 3a941d7f-73a7-4b2a-8c1b-95b0973c89db
inputs:
- description: ""
  key: Domain
  playbookInputQuery: null
  required: false
  value: {}
name: 'TCS-SubPlaybook-Trusted Domain Verification v1.0_KK '
outputs: []
quiet: true
starttaskid: "0"
tasks:
  "0":
    continueonerrortype: ""
    id: "0"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "1"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 237e1bc0-58cb-431b-8ef5-486b65c4d5f1
      iscommand: false
      name: ""
      version: -1
    taskid: 237e1bc0-58cb-431b-8ef5-486b65c4d5f1
    timertriggers: []
    type: start
    view: |-
      {
        "position": {
          "x": 450,
          "y": 230
        }
      }
  "1":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: inputs.Domain
          operator: CheckIfSubdomain
          right:
            value:
              simple: google.com
        - left:
            iscontext: true
            value:
              simple: inputs.Domain
          operator: CheckIfSubdomain
          right:
            value:
              simple: tcs.com
        - left:
            iscontext: true
            value:
              simple: inputs.Domain
          operator: CheckIfSubdomain
          right:
            value:
              simple: microsoft.com
        - left:
            iscontext: true
            value:
              simple: inputs.Domain
          operator: inList
          right:
            iscontext: true
            value:
              simple: lists.TCS_Customer_Domain_List
        - left:
            iscontext: true
            value:
              simple: inputs.Domain
          operator: CheckIfSubdomain
          right:
            value:
              simple: kunal.com
      label: "yes"
    continueonerrortype: ""
    id: "1"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "10"
      "yes":
      - "5"
      - "11"
      - "8"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: f86233db-0319-4459-8b79-edd872a1026c
      iscommand: false
      name: Is This a Trusted Domain ?
      type: condition
      version: -1
    taskid: f86233db-0319-4459-8b79-edd872a1026c
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 450,
          "y": 440
        }
      }
  "3":
    continueonerrortype: ""
    id: "3"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "9"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: d7c54288-6dac-4d2b-8f7e-aaff73929216
      iscommand: false
      name: Expire Indicator
      type: title
      version: -1
    taskid: d7c54288-6dac-4d2b-8f7e-aaff73929216
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 450,
          "y": 1390
        }
      }
  "5":
    continueonerror: true
    continueonerrortype: ""
    id: "5"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "6"
    note: false
    quietmode: 0
    scriptarguments:
      category-id:
        simple: CUSTOM_126
      url:
        simple: ${inputs.Domain}
      using:
        simple: Zscaler_instance_1
    separatecontext: false
    skipunavailable: false
    task:
      brand: Zscaler
      description: Removes URLs from the specified category.
      id: 5734c02a-17b5-47de-891d-1e8a92675699
      iscommand: true
      name: Unblock Domain From Zscaler Corporate Tenant
      script: Zscaler|||zscaler-category-remove-url
      type: regular
      version: -1
    taskid: 5734c02a-17b5-47de-891d-1e8a92675699
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 450,
          "y": 730
        }
      }
  "6":
    continueonerror: true
    continueonerrortype: ""
    id: "6"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "7"
    note: false
    quietmode: 0
    scriptarguments:
      category-id:
        simple: CUSTOM_240
      url:
        simple: ${inputs.Domain}
      using:
        simple: Zscaler_instance_BPS
    separatecontext: false
    skipunavailable: false
    task:
      brand: Zscaler
      description: Removes URLs from the specified category.
      id: 9294ef37-15d6-488a-8542-6a1904c55856
      iscommand: true
      name: Unblock Domain From Zscaler BPS Tenant
      script: Zscaler|||zscaler-category-remove-url
      type: regular
      version: -1
    taskid: 9294ef37-15d6-488a-8542-6a1904c55856
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 450,
          "y": 910
        }
      }
  "7":
    continueonerror: true
    continueonerrortype: ""
    id: "7"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "3"
    note: false
    quietmode: 0
    scriptarguments:
      category-id:
        simple: CUSTOM_57
      url:
        simple: ${inputs.Domain}
      using:
        simple: Zscaler_instance_GNDM
    separatecontext: false
    skipunavailable: false
    task:
      brand: Zscaler
      description: Removes URLs from the specified category.
      id: ba1e2c26-0c48-4649-8587-ffa332daef4e
      iscommand: true
      name: Unblock IP From Zscaler GNDM Tenant
      script: Zscaler|||zscaler-category-remove-url
      type: regular
      version: -1
    taskid: ba1e2c26-0c48-4649-8587-ffa332daef4e
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 450,
          "y": 1090
        }
      }
  "8":
    continueonerror: true
    continueonerrortype: ""
    id: "8"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "3"
    note: false
    quietmode: 0
    scriptarguments:
      name:
        simple: ${inputs.Domain}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Delete domain.
      id: ce61f639-d9c2-4ab6-87a2-12ed37bf92e1
      iscommand: true
      name: Unblock Domain From OpenDNS
      script: '|||umbrella-domain-delete'
      type: regular
      version: -1
    taskid: ce61f639-d9c2-4ab6-87a2-12ed37bf92e1
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 30,
          "y": 730
        }
      }
  "9":
    continueonerrortype: ""
    id: "9"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "12"
    note: false
    quietmode: 0
    scriptarguments:
      indicatorsValues:
        simple: ${inputs.Domain}
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: commands.server.cmd.expireIndicators
      id: 19c47c39-aa1b-42c8-8f9a-e3b6dbfb3c03
      iscommand: true
      name: Expire Indicator
      script: Builtin|||expireIndicators
      type: regular
      version: -1
    taskid: 19c47c39-aa1b-42c8-8f9a-e3b6dbfb3c03
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 450,
          "y": 1560
        }
      }
  "10":
    continueonerrortype: ""
    id: "10"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 50a6e1fe-3c8d-4877-8250-3bb19c6716c8
      iscommand: false
      name: The End
      type: title
      version: -1
    taskid: 50a6e1fe-3c8d-4877-8250-3bb19c6716c8
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 720,
          "y": 1980
        }
      }
  "11":
    continueonerrortype: ""
    id: "11"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "3"
      - "10"
    note: false
    quietmode: 0
    scriptarguments:
      append:
        simple: "true"
      key:
        simple: TrustedDomain
      value:
        simple: ${inputs.Domain}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Set a value in context under the key you entered.
      id: fa035e3b-5120-42d7-8959-0cb6a1efffd5
      iscommand: false
      name: Set Context For Trusted Domain
      script: Set
      type: regular
      version: -1
    taskid: fa035e3b-5120-42d7-8959-0cb6a1efffd5
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 940,
          "y": 730
        }
      }
  "12":
    continueonerrortype: ""
    id: "12"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "10"
    note: false
    quietmode: 0
    scriptarguments:
      append:
        simple: "true"
      key:
        simple: ActionTaken
      value:
        simple: ${inputs.Domain}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Set a value in context under the key you entered.
      id: 75e9ba4e-fc0c-41a9-8475-3c19b8e97893
      iscommand: false
      name: Action Taken Tag
      script: Set
      type: regular
      version: -1
    taskid: 75e9ba4e-fc0c-41a9-8475-3c19b8e97893
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 450,
          "y": 1725
        }
      }
version: -1
view: |-
  {
    "linkLabelsPosition": {},
    "paper": {
      "dimensions": {
        "height": 1815,
        "width": 1290,
        "x": 30,
        "y": 230
      }
    }
  }
