playbook-test_in.yml
contentitemexportablefields:
  contentitemfields:
    definitionid: ""
    fromServerVersion: ""
    itemVersion: ""
    packID: ""
    packName: ""
    prevname: ""
    propagationLabels:
    - all
    toServerVersion: ""
id: 9244e454-85e5-499a-8f43-58146b42bd3d
inputs: []
name: test_in
outputs: []
starttaskid: "0"
tasks:
  "0":
    continueonerrortype: ""
    id: "0"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "1"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 7b643b50-3115-4130-8470-870690f9e601
      iscommand: false
      name: ""
      version: -1
    taskid: 7b643b50-3115-4130-8470-870690f9e601
    timertriggers: []
    type: start
    view: |-
      {
        "position": {
          "x": 50,
          "y": 50
        }
      }
  "1":
    continueonerrortype: ""
    id: "1"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "2"
    note: false
    quietmode: 0
    scriptarguments:
      key:
        simple: Test
      value:
        complex:
          root: ${TestName}
          transformers:
          - args:
              to:
                value:
                  simple: ' -'
            operator: substringTo
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Set a value in context under the key you entered.
      id: 2e134013-49a4-4317-8f6f-ecbd15c7c343
      iscommand: false
      name: Set
      script: Set
      type: regular
      version: -1
    taskid: 2e134013-49a4-4317-8f6f-ecbd15c7c343
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 60,
          "y": 200
        }
      }
  "2":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: ${Test}
          operator: isEqualString
          right:
            value:
              simple: P1
      label: "yes"
    continueonerrortype: ""
    id: "2"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 89c6cc26-e1ae-43eb-8bf6-ece072c39394
      iscommand: false
      name: Check the Priority
      type: condition
      version: -1
    taskid: 89c6cc26-e1ae-43eb-8bf6-ece072c39394
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 60,
          "y": 390
        }
      }
version: -1
view: |-
  {
    "linkLabelsPosition": {},
    "paper": {
      "dimensions": {
        "height": 435,
        "width": 390,
        "x": 50,
        "y": 50
      }
    }
  }
