playbook-TCS-Malicious_Network_Activity-Brute_Force_v1.1_Sweta.yml
contentitemexportablefields:
  contentitemfields:
    definitionid: ""
    fromServerVersion: ""
    itemVersion: ""
    packID: ""
    packName: ""
    prevname: ""
    propagationLabels:
    - all
    toServerVersion: ""
id: af118e8b-bc0d-4662-89fe-50e6cff91eda
inputs: []
name: TCS-Malicious Network Activity-Brute Force v1.1_Sweta
outputs: []
sourceplaybookid: a1dbf5d6-aa8b-4c29-8860-cbc5c4677328
starttaskid: "0"
tasks:
  "0":
    continueonerrortype: ""
    id: "0"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "1"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 0d0ac5bc-d675-4d28-89e2-7894d8420495
      iscommand: false
      name: ""
      version: -1
    taskid: 0d0ac5bc-d675-4d28-89e2-7894d8420495
    timertriggers: []
    type: start
    view: |-
      {
        "position": {
          "x": -210,
          "y": -5610
        }
      }
  "1":
    continueonerrortype: ""
    id: "1"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "129"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 83a86fb8-fed1-41d3-82c6-22c1176ed073
      iscommand: false
      name: Brute Force/Network Alert Detected
      type: title
      version: -1
    taskid: 83a86fb8-fed1-41d3-82c6-22c1176ed073
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": -210,
          "y": -5410
        }
      }
  "5":
    continueonerrortype: ""
    id: "5"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "31"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: e647272f-c663-462a-8096-74e758655851
      iscommand: false
      name: Raise IMT If Required
      type: regular
      version: -1
    taskid: e647272f-c663-462a-8096-74e758655851
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 590,
          "y": 1480
        }
      }
  "31":
    continueonerrortype: ""
    id: "31"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "184"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 693b84cb-d203-47e4-84ea-426abe24c0c0
      iscommand: false
      name: Close Investigation
      type: title
      version: -1
    taskid: 693b84cb-d203-47e4-84ea-426abe24c0c0
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 590,
          "y": 1660
        }
      }
  "49":
    continueonerrortype: ""
    id: "49"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    message:
      bcc: null
      body:
        simple: Brute Force From Internal or External IP Address?
      cc: null
      format: ""
      methods: []
      replyOptions:
      - Internal IP Address
      - External IP Address
      subject: null
      timings:
        completeafterreplies: 1
        completeaftersla: false
        completeafterv2: false
        retriescount: 2
        retriesinterval: 360
      to:
        simple: Analyst
    nexttasks:
      External IP Address:
      - "92"
      Internal IP Address:
      - "93"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 4087e992-294f-41a0-89a1-c57475dadc15
      iscommand: false
      name: Brute Force/Network Alert From Internal or External IP Address?
      type: condition
      version: -1
    taskid: 4087e992-294f-41a0-89a1-c57475dadc15
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": -210,
          "y": -3020
        }
      }
  "55":
    continueonerrortype: ""
    id: "55"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "76"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 995b7371-727e-4fa3-83c7-a06a06aa3a89
      iscommand: false
      name: 'Investigation Step 5: Document Investigation'
      type: title
      version: -1
    taskid: 995b7371-727e-4fa3-83c7-a06a06aa3a89
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 590,
          "y": 810
        }
      }
  "59":
    continueonerrortype: ""
    id: "59"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    message:
      bcc: null
      body:
        simple: Is There a Domain To Block ?
      cc: null
      format: ""
      methods: []
      replyOptions:
      - "Yes"
      - "No"
      subject: null
      timings:
        completeafterreplies: 1
        completeaftersla: false
        completeafterv2: false
        retriescount: 2
        retriesinterval: 360
      to:
        simple: Analyst
    nexttasks:
      "No":
      - "61"
      "Yes":
      - "128"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 0ed1c57c-6c43-4691-8a0d-610fa63d682a
      iscommand: false
      name: Is There a Domain To Block ?
      type: condition
      version: -1
    taskid: 0ed1c57c-6c43-4691-8a0d-610fa63d682a
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 590,
          "y": -425
        }
      }
  "60":
    continueonerrortype: ""
    id: "60"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "62"
    note: false
    quietmode: 0
    scriptarguments:
      url:
        complex:
          accessor: Domain_Test_
          root: ExtractedIndicators
          transformers:
          - args:
              limit: {}
              replaceWith: {}
              toReplace:
                value:
                  simple: '"'
            operator: replace
          - args:
              delimiter: {}
            operator: split
          - args:
              separator:
                value:
                  simple: ','
            operator: join
    separatecontext: false
    skipunavailable: false
    task:
      brand: Zscaler
      description: Adds the specified URLs to the blacklist.
      id: cd01f8a0-07cf-474c-8354-4be72d3ec62c
      iscommand: true
      name: Block Domain on Zscaler
      script: Zscaler|||zscaler-blacklist-url
      type: regular
      version: -1
    taskid: cd01f8a0-07cf-474c-8354-4be72d3ec62c
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 590,
          "y": 95
        }
      }
  "61":
    continueonerrortype: ""
    id: "61"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    message:
      bcc: null
      body:
        simple: Is There an IP Address To Block ?
      cc: null
      format: ""
      methods: []
      replyOptions:
      - "Yes"
      - "No"
      subject: null
      timings:
        completeafterreplies: 1
        completeaftersla: false
        completeafterv2: false
        retriescount: 2
        retriesinterval: 360
      to:
        simple: Analyst
    nexttasks:
      "No":
      - "139"
      "Yes":
      - "118"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: d04d42ba-c0ad-4124-8005-83379984737f
      iscommand: false
      name: Is There an IP Address To Block ?
      type: condition
      version: -1
    taskid: d04d42ba-c0ad-4124-8005-83379984737f
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 1150,
          "y": -590
        }
      }
  "62":
    continueonerrortype: ""
    id: "62"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "61"
    note: false
    quietmode: 0
    scriptarguments:
      reputation:
        simple: Bad
      source:
        simple: ${incident.id}
      tags:
        simple: ProxyBlockDomain,Bruteforce
      type:
        simple: Domain
      value:
        simple: ${ExtractedIndicators.Domain_Test_}
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: commands.local.cmd.new.indicator
      id: 70bd57f0-233c-4327-8bce-86999a082126
      iscommand: true
      name: Tag Bad Domain Indicator
      script: Builtin|||createNewIndicator
      type: regular
      version: -1
    taskid: 70bd57f0-233c-4327-8bce-86999a082126
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 590,
          "y": 255
        }
      }
  "63":
    continueonerrortype: ""
    id: "63"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 100
      wait: 1
    nexttasks:
      '#none#':
      - "170"
    note: false
    quietmode: 0
    scriptarguments:
      From User Info:
        complex:
          accessor: Email/from
          root: incident.labels
      Google IP Address:
        complex:
          accessor: GIP
          root: Address
      Microsoft IP Address:
        complex:
          accessor: MIP
          root: Address
      Non Customer IP Address:
        complex:
          accessor: IP
          root: Address2
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 19fcc2d4-a635-46b6-8710-82c995c0af2e
      iscommand: false
      name: TCS-Block IP Address on Panorama FW v1.0_CM_Kunal
      playbookId: c8a72a0d-7c14-4dca-83d0-9757431aabaf
      type: playbook
      version: -1
    taskid: 19fcc2d4-a635-46b6-8710-82c995c0af2e
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 1160,
          "y": -80
        }
      }
  "76":
    continueonerrortype: ""
    form:
      description: ""
      expired: false
      questions:
      - defaultrows: []
        fieldassociated: ""
        gridcolumns: []
        id: "0"
        label: ""
        labelarg:
          simple: Investigation Summary
        options: []
        optionsarg: []
        placeholder: ""
        readonly: false
        required: true
        tooltip: ""
        type: longText
      sender: ""
      title: Investigation Summary
      totalanswers: 0
    id: "76"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    message:
      bcc: null
      body:
        simple: Investigation Summary
      cc: null
      format: ""
      methods: []
      subject: null
      timings:
        completeafterreplies: 1
        completeaftersla: false
        completeafterv2: false
        retriescount: 2
        retriesinterval: 360
      to: null
    note: true
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 04b6dd3c-eb21-4741-8969-53f256423eee
      iscommand: false
      name: Investigation Summary
      type: collection
      version: -1
    taskid: 04b6dd3c-eb21-4741-8969-53f256423eee
    timertriggers: []
    type: collection
    view: |-
      {
        "position": {
          "x": 590,
          "y": 955
        }
      }
  "78":
    continueonerrortype: ""
    id: "78"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    message:
      bcc: null
      body:
        simple: Alert Triggered From Qradar ?
      cc: null
      format: ""
      methods: []
      replyOptions:
      - Qradar
      - User
      - Other Security Tool
      - CrowdStrike
      subject: null
      timings:
        completeafterreplies: 1
        completeaftersla: false
        completeafterv2: false
        retriescount: 2
        retriesinterval: 360
      to:
        simple: Analyst
    nexttasks:
      CrowdStrike:
      - "190"
      Other Security Tool:
      - "84"
      Qradar:
      - "79"
      User:
      - "82"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: d3ddb762-95df-474b-896f-deabef67b37c
      iscommand: false
      name: What Was The Alert Trigger Source ?
      type: condition
      version: -1
    taskid: d3ddb762-95df-474b-896f-deabef67b37c
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": -210,
          "y": -4680
        }
      }
  "79":
    continueonerrortype: ""
    id: "79"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "183"
    note: false
    quietmode: 0
    scriptarguments:
      using:
        simple: QRadar_v2_Fetch Reference List
    separatecontext: false
    skipunavailable: false
    task:
      brand: QRadar_v2
      description: Gets offense with matching offense ID from qradar.
      id: fa423fb8-fc80-47bf-82cd-e60104a3dfc8
      iscommand: true
      name: Fetch Alert Details From Qradar
      script: QRadar_v2|||qradar-offense-by-id
      type: regular
      version: -1
    taskid: fa423fb8-fc80-47bf-82cd-e60104a3dfc8
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -210,
          "y": -4480
        }
      }
  "80":
    continueonerrortype: ""
    id: "80"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "78"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: c185511b-2925-43ca-86c0-e03381ab2a4c
      iscommand: false
      name: 'Investigation Step 1: Collect Incident Details'
      type: title
      version: -1
    taskid: c185511b-2925-43ca-86c0-e03381ab2a4c
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": -210,
          "y": -4800
        }
      }
  "81":
    continueonerrortype: ""
    id: "81"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "131"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 6e706f47-0ac7-461d-86a0-c827bb246ac1
      iscommand: false
      name: 'Investigation Step 2: Enrich IOC'
      type: title
      version: -1
    taskid: 6e706f47-0ac7-461d-86a0-c827bb246ac1
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 590,
          "y": -2260
        }
      }
  "82":
    continueonerrortype: ""
    form:
      description: ""
      expired: false
      questions:
      - defaultrows: []
        fieldassociated: ""
        gridcolumns: []
        id: "0"
        label: ""
        labelarg:
          simple: Associate Name
        options: []
        optionsarg: []
        placeholder: ""
        readonly: false
        required: false
        tooltip: ""
        type: shortText
      - defaultrows: []
        fieldassociated: ""
        gridcolumns: []
        id: "1"
        label: ""
        labelarg:
          simple: Associate Project
        options: []
        optionsarg: []
        placeholder: ""
        readonly: false
        required: false
        tooltip: ""
        type: shortText
      - defaultrows: []
        fieldassociated: ""
        gridcolumns: []
        id: "2"
        label: ""
        labelarg:
          simple: Note
        options: []
        optionsarg: []
        placeholder: ""
        readonly: false
        required: false
        tooltip: ""
        type: longText
      sender: ""
      title: Document User Details
      totalanswers: 0
    id: "82"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    message:
      bcc: null
      body: null
      cc: null
      format: ""
      methods: []
      subject: null
      timings:
        completeafterreplies: 1
        completeaftersla: false
        completeafterv2: false
        retriescount: 2
        retriesinterval: 360
      to: null
    nexttasks:
      '#none#':
      - "183"
    note: true
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 2981b8f2-e72e-4940-89ae-590ea333c772
      iscommand: false
      name: Document User Details
      type: collection
      version: -1
    taskid: 2981b8f2-e72e-4940-89ae-590ea333c772
    timertriggers: []
    type: collection
    view: |-
      {
        "position": {
          "x": 240,
          "y": -4480
        }
      }
  "84":
    continueonerrortype: ""
    form:
      description: ""
      expired: false
      questions:
      - defaultrows: []
        fieldassociated: ""
        gridcolumns: []
        id: "0"
        label: ""
        labelarg:
          simple: Domain
        options: []
        optionsarg: []
        placeholder: ""
        readonly: false
        required: false
        tooltip: ""
        type: shortText
      - defaultrows: []
        fieldassociated: ""
        gridcolumns: []
        id: "1"
        label: ""
        labelarg:
          simple: URL
        options: []
        optionsarg: []
        placeholder: ""
        readonly: false
        required: false
        tooltip: ""
        type: shortText
      - defaultrows: []
        fieldassociated: ""
        gridcolumns: []
        id: "2"
        label: ""
        labelarg:
          simple: IP Address
        options: []
        optionsarg: []
        placeholder: ""
        readonly: false
        required: false
        tooltip: ""
        type: shortText
      - defaultrows: []
        fieldassociated: ""
        gridcolumns: []
        id: "3"
        label: ""
        labelarg:
          simple: File Hash
        options: []
        optionsarg: []
        placeholder: ""
        readonly: false
        required: false
        tooltip: ""
        type: shortText
      - defaultrows: []
        fieldassociated: ""
        gridcolumns: []
        id: "4"
        label: ""
        labelarg:
          simple: Notes
        options: []
        optionsarg: []
        placeholder: ""
        readonly: false
        required: false
        tooltip: ""
        type: longText
      - defaultrows: []
        fieldassociated: ""
        gridcolumns: []
        id: "5"
        label: ""
        labelarg:
          simple: Supporting Files
        options: []
        optionsarg: []
        placeholder: ""
        readonly: false
        required: false
        tooltip: ""
        type: attachments
      sender: ""
      title: Collect Relevant Details About The Incident
      totalanswers: 0
    id: "84"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    message:
      bcc: null
      body: null
      cc: null
      format: ""
      methods: []
      subject: null
      timings:
        completeafterreplies: 1
        completeaftersla: false
        completeafterv2: false
        retriescount: 2
        retriesinterval: 360
      to: null
    nexttasks:
      '#none#':
      - "183"
    note: true
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: eac892a2-ba82-4691-896e-d69f5fc2b370
      iscommand: false
      name: Collect Relevant Details About The Incident
      type: collection
      version: -1
    taskid: eac892a2-ba82-4691-896e-d69f5fc2b370
    timertriggers: []
    type: collection
    view: |-
      {
        "position": {
          "x": -1070,
          "y": -4480
        }
      }
  "88":
    continueonerrortype: ""
    id: "88"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "167"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 9ec90e4d-5262-4813-8371-bbfb976a13e0
      iscommand: false
      name: 'Investigation Step 3: Respond'
      type: title
      version: -1
    taskid: 9ec90e4d-5262-4813-8371-bbfb976a13e0
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 590,
          "y": -715
        }
      }
  "89":
    continueonerrortype: ""
    id: "89"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "90"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: commands.local.cmd.close.inv
      id: 1934b47c-7689-4f8a-84f7-4078f01ee158
      iscommand: true
      name: Close Investigation
      script: Builtin|||closeInvestigation
      type: regular
      version: -1
    taskid: 1934b47c-7689-4f8a-84f7-4078f01ee158
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 590,
          "y": 1910
        }
      }
  "90":
    continueonerrortype: ""
    id: "90"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 1edf1a18-274a-4c1d-8640-96a08ee222be
      iscommand: false
      name: The End
      type: title
      version: -1
    taskid: 1edf1a18-274a-4c1d-8640-96a08ee222be
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 590,
          "y": 2090
        }
      }
  "92":
    continueonerrortype: ""
    id: "92"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    message:
      bcc: null
      body:
        simple: Is It a Known Authorized IP Address ?
      cc: null
      format: ""
      methods: []
      replyOptions:
      - Yes - False Positive
      - "No"
      subject: null
      timings:
        completeafterreplies: 1
        completeaftersla: false
        completeafterv2: false
        retriescount: 2
        retriesinterval: 360
      to:
        simple: Analyst
    nexttasks:
      "No":
      - "81"
      Yes - False Positive:
      - "97"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 3980c8c8-752e-4fe4-8092-07f1f0c3eb6c
      iscommand: false
      name: Is It a Known Authorized IP Address ?
      type: condition
      version: -1
    taskid: 3980c8c8-752e-4fe4-8092-07f1f0c3eb6c
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 920,
          "y": -2810
        }
      }
  "93":
    continueonerrortype: ""
    id: "93"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    message:
      bcc: null
      body:
        simple: Is It a Known Authorized IP Address ?
      cc: null
      format: ""
      methods: []
      replyOptions:
      - Yes - False Positive
      - "No"
      subject: null
      timings:
        completeafterreplies: 1
        completeaftersla: false
        completeafterv2: false
        retriescount: 2
        retriesinterval: 360
      to:
        simple: Analyst
    nexttasks:
      "No":
      - "171"
      Yes - False Positive:
      - "119"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: e0930f5d-5468-4aff-81d8-04e566d8a11b
      iscommand: false
      name: Is It a Known Authorized IP Address ?
      type: condition
      version: -1
    taskid: e0930f5d-5468-4aff-81d8-04e566d8a11b
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": -1160,
          "y": -2810
        }
      }
  "94":
    continueonerrortype: ""
    id: "94"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    message:
      bcc: null
      body:
        simple: Do You want To Contain The Host  ?
      cc: null
      format: ""
      methods: []
      replyOptions:
      - "Yes"
      - "No"
      subject: null
      timings:
        completeafterreplies: 1
        completeaftersla: false
        completeafterv2: false
        retriescount: 2
        retriesinterval: 360
      to:
        simple: Analyst
    nexttasks:
      "No":
      - "109"
      "Yes":
      - "95"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 914894e7-34ed-49de-8338-c107e856fc4c
      iscommand: false
      name: Do You Want To Contain The Host ?
      type: condition
      version: -1
    taskid: 914894e7-34ed-49de-8338-c107e856fc4c
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": -730,
          "y": -2000
        }
      }
  "95":
    continueonerrortype: ""
    id: "95"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "96"
    note: false
    quietmode: 0
    scriptarguments:
      key:
        simple: TCSHostname
    separatecontext: false
    skipunavailable: false
    task:
      brand: CrowdstrikeFalcon
      description: Set a value in context under the key you entered.
      id: 12140a93-1f58-47c4-833d-a0120c3c2aac
      iscommand: false
      name: Contain Host if CrowdStrike is Present
      script: Set
      type: regular
      version: -1
    taskid: 12140a93-1f58-47c4-833d-a0120c3c2aac
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -730,
          "y": -1780
        }
      }
  "96":
    continueonerrortype: ""
    id: "96"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 100
      wait: 1
    nexttasks:
      '#none#':
      - "134"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 72ef70a8-b9da-46b2-8e76-60c1eec64236
      iscommand: false
      name: TCS-OnDemand Host Containment Playbook v1.4_CM_Kunal
      playbookId: a4d833cf-d2ae-4de1-846a-992f5293b414
      type: playbook
      version: -1
    taskid: 72ef70a8-b9da-46b2-8e76-60c1eec64236
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": -730,
          "y": -1560
        }
      }
  "97":
    continueonerrortype: ""
    id: "97"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "98"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 999d8e07-d436-4166-83ec-7a5ae0ecb23d
      iscommand: false
      name: Fine Tune CrowdStrike Detection/SIEM Use case
      type: regular
      version: -1
    taskid: 999d8e07-d436-4166-83ec-7a5ae0ecb23d
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1730,
          "y": -2290
        }
      }
  "98":
    continueonerrortype: ""
    id: "98"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "105"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: bdec55dd-e174-44aa-82c2-1cb4d31794bf
      iscommand: false
      name: Update Exception list in KB Article /KEDB
      type: regular
      version: -1
    taskid: bdec55dd-e174-44aa-82c2-1cb4d31794bf
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1730,
          "y": -1865
        }
      }
  "99":
    continueonerrortype: ""
    id: "99"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    message:
      bcc: null
      body:
        simple: Suspected File Found ?
      cc: null
      format: ""
      methods: []
      replyOptions:
      - "Yes"
      - "No"
      subject: null
      timings:
        completeafterreplies: 1
        completeaftersla: false
        completeafterv2: false
        retriescount: 2
        retriesinterval: 360
      to:
        simple: Analyst
    nexttasks:
      "No":
      - "114"
      "Yes":
      - "115"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 75dbf0f2-842a-482d-8209-7111eac49c76
      iscommand: false
      name: Any File Associated With The Brute Force ?
      type: condition
      version: -1
    taskid: 75dbf0f2-842a-482d-8209-7111eac49c76
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": -730,
          "y": -1080
        }
      }
  "100":
    continueonerrortype: ""
    id: "100"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "94"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 82356e9d-876b-4df8-821d-cc92999d3cf8
      iscommand: false
      name: 'Investigation Step 2: Respond'
      type: title
      version: -1
    taskid: 82356e9d-876b-4df8-821d-cc92999d3cf8
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": -730,
          "y": -2120
        }
      }
  "101":
    continueonerrortype: ""
    id: "101"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "114"
    note: false
    quietmode: 0
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      id: b0fb60df-e552-43ed-8c81-19910ecc962b
      iscommand: false
      name: TCS-Malware Investigation v1.1_Kunal
      playbookId: 563c8a25-9f25-4cf3-8365-1c47af1adf80
      type: playbook
      version: -1
    taskid: b0fb60df-e552-43ed-8c81-19910ecc962b
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": -730,
          "y": -555
        }
      }
  "104":
    continueonerrortype: ""
    id: "104"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "106"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: commands.local.cmd.close.inv
      id: 457a6e1a-2601-4018-86c0-44c98d9eb155
      iscommand: true
      name: Close Investigation
      script: Builtin|||closeInvestigation
      type: regular
      version: -1
    taskid: 457a6e1a-2601-4018-86c0-44c98d9eb155
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1730,
          "y": -1290
        }
      }
  "105":
    continueonerrortype: ""
    id: "105"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "107"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 0dfdf9e5-cea0-48ed-8dcd-eae9a1fb18c6
      iscommand: false
      name: 'Investigation Step 2: Document & Close Investigation'
      type: title
      version: -1
    taskid: 0dfdf9e5-cea0-48ed-8dcd-eae9a1fb18c6
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 1730,
          "y": -1655
        }
      }
  "106":
    continueonerrortype: ""
    id: "106"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: c44958a0-3f2a-4eaa-872d-d1045c53e11e
      iscommand: false
      name: The End
      type: title
      version: -1
    taskid: c44958a0-3f2a-4eaa-872d-d1045c53e11e
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 1730,
          "y": -1105
        }
      }
  "107":
    continueonerrortype: ""
    form:
      description: ""
      expired: false
      questions:
      - defaultrows: []
        fieldassociated: ""
        gridcolumns: []
        id: "0"
        label: ""
        labelarg:
          simple: Investigation Summary
        options: []
        optionsarg: []
        placeholder: ""
        readonly: false
        required: true
        tooltip: ""
        type: longText
      sender: ""
      title: Investigation Summary
      totalanswers: 0
    id: "107"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    message:
      bcc: null
      body:
        simple: Investigation Summary
      cc: null
      format: ""
      methods: []
      subject: null
      timings:
        completeafterreplies: 1
        completeaftersla: false
        completeafterv2: false
        retriescount: 2
        retriesinterval: 360
      to: null
    nexttasks:
      '#none#':
      - "104"
    note: true
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: d617e07e-6a1c-4a78-8bfe-f065bb8bff00
      iscommand: false
      name: Investigation Summary
      type: collection
      version: -1
    taskid: d617e07e-6a1c-4a78-8bfe-f065bb8bff00
    timertriggers: []
    type: collection
    view: |-
      {
        "position": {
          "x": 1730,
          "y": -1490
        }
      }
  "109":
    continueonerrortype: ""
    form:
      description: ""
      expired: false
      questions:
      - defaultrows: []
        fieldassociated: ""
        gridcolumns: []
        id: "0"
        label: ""
        labelarg:
          simple: Note
        options: []
        optionsarg: []
        placeholder: ""
        readonly: false
        required: true
        tooltip: ""
        type: longText
      sender: ""
      title: Justify Why Host Should Not Be Contained
      totalanswers: 0
    id: "109"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    message:
      bcc: null
      body: null
      cc: null
      format: ""
      methods: []
      subject: null
      timings:
        completeafterreplies: 1
        completeaftersla: false
        completeafterv2: false
        retriescount: 2
        retriesinterval: 360
      to: null
    nexttasks:
      '#none#':
      - "99"
    note: true
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 751f2291-0e59-4012-864d-196af48897db
      iscommand: false
      name: Consult With L2 And Confirm Containment Not Required
      type: collection
      version: -1
    taskid: 751f2291-0e59-4012-864d-196af48897db
    timertriggers: []
    type: collection
    view: |-
      {
        "position": {
          "x": -1180,
          "y": -1780
        }
      }
  "111":
    continueonerrortype: ""
    form:
      description: ""
      expired: false
      questions:
      - defaultrows: []
        fieldassociated: ""
        gridcolumns: []
        id: "0"
        label: ""
        labelarg:
          simple: Investigation Summary
        options: []
        optionsarg: []
        placeholder: ""
        readonly: false
        required: true
        tooltip: ""
        type: longText
      sender: ""
      title: Investigation Summary
      totalanswers: 0
    id: "111"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    message:
      bcc: null
      body:
        simple: Investigation Summary
      cc: null
      format: ""
      methods: []
      subject: null
      timings:
        completeafterreplies: 1
        completeaftersla: false
        completeafterv2: false
        retriescount: 2
        retriesinterval: 360
      to: null
    nexttasks:
      '#none#':
      - "177"
    note: true
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: fd3de901-9c3a-43e3-8253-a497394255e5
      iscommand: false
      name: Investigation Summary
      type: collection
      version: -1
    taskid: fd3de901-9c3a-43e3-8253-a497394255e5
    timertriggers: []
    type: collection
    view: |-
      {
        "position": {
          "x": -730,
          "y": -190
        }
      }
  "112":
    continueonerrortype: ""
    id: "112"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "116"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: a8354564-08c2-4e71-8bd7-0d8b4313ae0d
      iscommand: false
      name: Raise IMT If Required
      type: regular
      version: -1
    taskid: a8354564-08c2-4e71-8bd7-0d8b4313ae0d
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -730,
          "y": 410
        }
      }
  "113":
    continueonerrortype: ""
    id: "113"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "117"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: commands.local.cmd.close.inv
      id: a661f218-97fd-43e0-8242-d20826117e0f
      iscommand: true
      name: Close Investigation
      script: Builtin|||closeInvestigation
      type: regular
      version: -1
    taskid: a661f218-97fd-43e0-8242-d20826117e0f
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -730,
          "y": 1160
        }
      }
  "114":
    continueonerrortype: ""
    id: "114"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "111"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: e207adf9-7e7a-4047-8ccb-856a8ed4e816
      iscommand: false
      name: 'Investigation Step 4: Document  Investigation'
      type: title
      version: -1
    taskid: e207adf9-7e7a-4047-8ccb-856a8ed4e816
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": -730,
          "y": -350
        }
      }
  "115":
    continueonerrortype: ""
    id: "115"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "101"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 3e319d8b-fa1b-4852-8efc-214d5df89fb1
      iscommand: false
      name: 'Investigation Step 3: Analyze The File'
      type: title
      version: -1
    taskid: 3e319d8b-fa1b-4852-8efc-214d5df89fb1
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": -730,
          "y": -725
        }
      }
  "116":
    continueonerrortype: ""
    id: "116"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "186"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 8cff8265-139a-442c-8937-bcc566aac4ae
      iscommand: false
      name: Close Investigation
      type: title
      version: -1
    taskid: 8cff8265-139a-442c-8937-bcc566aac4ae
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": -730,
          "y": 565
        }
      }
  "117":
    continueonerrortype: ""
    id: "117"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 432742a2-4717-4b3b-80fc-ce3e36048fe1
      iscommand: false
      name: The End
      type: title
      version: -1
    taskid: 432742a2-4717-4b3b-80fc-ce3e36048fe1
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": -730,
          "y": 1315
        }
      }
  "118":
    continueonerrortype: ""
    form:
      description: ""
      expired: false
      questions:
      - defaultrows: []
        fieldassociated: ""
        gridcolumns: []
        id: "0"
        label: ""
        labelarg:
          simple: Input Malicious IP Address
        options: []
        optionsarg: []
        placeholder: ""
        readonly: false
        required: false
        tooltip: ""
        type: shortText
      sender: ""
      title: Input IP Address For Blocking
      totalanswers: 0
    id: "118"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    message:
      bcc: null
      body: null
      cc: null
      format: ""
      methods: []
      subject: null
      timings:
        completeafterreplies: 1
        completeaftersla: false
        completeafterv2: false
        retriescount: 2
        retriesinterval: 360
      to: null
    nexttasks:
      '#none#':
      - "169"
    note: false
    quietmode: 0
    scriptarguments:
      append:
        simple: "true"
      key:
        simple: Extractedindicators.IP
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Set a value in context under the key you entered.
      id: c30b012f-31c3-47d8-8054-05a75b79acf8
      iscommand: false
      name: Input IP Address For Blocking
      type: collection
      version: -1
    taskid: c30b012f-31c3-47d8-8054-05a75b79acf8
    timertriggers: []
    type: collection
    view: |-
      {
        "position": {
          "x": 1160,
          "y": -435
        }
      }
  "119":
    continueonerrortype: ""
    id: "119"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "120"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: b2e1279e-a6b2-448a-8551-c7edb53b587d
      iscommand: false
      name: Fine Tune CrowdStrike Detection/SIEM Use case
      type: regular
      version: -1
    taskid: b2e1279e-a6b2-448a-8551-c7edb53b587d
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -1730,
          "y": -2810
        }
      }
  "120":
    continueonerrortype: ""
    id: "120"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "123"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 537b92fe-c25f-49d1-81ad-05d6a3e6a1ea
      iscommand: false
      name: Update Exception list in KB Article /KEDB
      type: regular
      version: -1
    taskid: 537b92fe-c25f-49d1-81ad-05d6a3e6a1ea
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -1730,
          "y": -2120
        }
      }
  "121":
    continueonerrortype: ""
    form:
      description: ""
      expired: false
      questions:
      - defaultrows: []
        fieldassociated: ""
        gridcolumns: []
        id: "0"
        label: ""
        labelarg:
          simple: Investigation Summary
        options: []
        optionsarg: []
        placeholder: ""
        readonly: false
        required: true
        tooltip: ""
        type: longText
      sender: ""
      title: Investigation Summary
      totalanswers: 0
    id: "121"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    message:
      bcc: null
      body:
        simple: Investigation Summary
      cc: null
      format: ""
      methods: []
      subject: null
      timings:
        completeafterreplies: 1
        completeaftersla: false
        completeafterv2: false
        retriescount: 2
        retriesinterval: 360
      to: null
    nexttasks:
      '#none#':
      - "122"
    note: true
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: fc530d17-8c9d-49f8-8f30-60aece6868ff
      iscommand: false
      name: Investigation Summary
      type: collection
      version: -1
    taskid: fc530d17-8c9d-49f8-8f30-60aece6868ff
    timertriggers: []
    type: collection
    view: |-
      {
        "position": {
          "x": -1730,
          "y": -1560
        }
      }
  "122":
    continueonerrortype: ""
    id: "122"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "124"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: commands.local.cmd.close.inv
      id: f4ad48cb-f2c9-4257-8f21-952abec96c5d
      iscommand: true
      name: Close Investigation
      script: Builtin|||closeInvestigation
      type: regular
      version: -1
    taskid: f4ad48cb-f2c9-4257-8f21-952abec96c5d
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -1730,
          "y": -1370
        }
      }
  "123":
    continueonerrortype: ""
    id: "123"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "121"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 69f26e4a-f3f0-4f8b-83c1-65a65f74a127
      iscommand: false
      name: 'Investigation Step 2: Document & Close Investigation'
      type: title
      version: -1
    taskid: 69f26e4a-f3f0-4f8b-83c1-65a65f74a127
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": -1730,
          "y": -1735
        }
      }
  "124":
    continueonerrortype: ""
    id: "124"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 12acefee-69a6-4337-8ab5-4fb031079410
      iscommand: false
      name: The End
      type: title
      version: -1
    taskid: 12acefee-69a6-4337-8ab5-4fb031079410
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": -1730,
          "y": -1200
        }
      }
  "128":
    continueonerrortype: ""
    form:
      description: ""
      expired: false
      questions:
      - defaultrows: []
        fieldassociated: associatedmaliciousdomains
        gridcolumns: []
        id: "0"
        label: ""
        labelarg:
          simple: Input Malicious Domain
        options: []
        optionsarg: []
        placeholder: ""
        readonly: false
        required: false
        tooltip: ""
        type: shortText
      sender: ""
      title: Input Malicious Domain(s)
      totalanswers: 0
    id: "128"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    message:
      bcc: null
      body: null
      cc: null
      format: ""
      methods: []
      subject: null
      timings:
        completeafterreplies: 1
        completeaftersla: false
        completeafterv2: false
        retriescount: 2
        retriesinterval: 360
      to: null
    nexttasks:
      '#none#':
      - "168"
    note: false
    quietmode: 0
    scriptarguments:
      append:
        simple: "true"
      key:
        simple: Extractedindicators.Domain
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Set a value in context under the key you entered.
      id: 1a9492db-5d64-48ab-8ec0-7abeefca90f0
      iscommand: false
      name: Input Domain For Blocking
      type: collection
      version: -1
    taskid: 1a9492db-5d64-48ab-8ec0-7abeefca90f0
    timertriggers: []
    type: collection
    view: |-
      {
        "position": {
          "x": 590,
          "y": -240
        }
      }
  "129":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: incident.sourceBrand
          operator: isEqualString
          right:
            value:
              simple: Manual
      label: Manual
    continueonerrortype: ""
    id: "129"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "130"
      Manual:
      - "189"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 95484c8b-25ca-452a-85ee-0e59c983f611
      iscommand: false
      name: Manual or Tool Triggered ?
      type: condition
      version: -1
    taskid: 95484c8b-25ca-452a-85ee-0e59c983f611
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": -210,
          "y": -5210
        }
      }
  "130":
    continueonerrortype: ""
    id: "130"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "188"
    note: false
    quietmode: 0
    scriptarguments:
      assignBy:
        simple: machine-learning
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: |-
        Assign analyst to incident.
        By default,  the analyst is picked randomly from the available users, according to the provided roles (if no roles provided, will fetch all users).
        Otherwise, the analyst will be picked according to the 'assignBy' arguments.
        machine-learning: DBot will calculated and decide who is the best analyst for the job.
        top-user: The user that is most commonly owns this type of incident
        less-busy-user: The less busy analyst will be picked to be the incident owner.
        online: The analyst is picked randomly from all online analysts, according to the provided roles (if no roles provided, will fetch all users).
        current: The user that executed the command
      id: 22f96f6a-fbd8-4ed9-8169-36166d3124ac
      iscommand: false
      name: 'Assign Incident To Operator/Analyst '
      script: AssignAnalystToIncident_V2
      type: regular
      version: -1
    taskid: 22f96f6a-fbd8-4ed9-8169-36166d3124ac
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 290,
          "y": -5220
        }
      }
  "131":
    continueonerrortype: ""
    id: "131"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "156"
    note: false
    quietmode: 0
    reputationcalc: 2
    scriptarguments:
      text:
        simple: ${Collect Relevant Details About The Incident.Answers.0},${Collect
          Relevant Details About The Incident.Answers.1},${Collect Relevant Details
          About The Incident.Answers.2},${Collect Relevant Details About The Incident.Answers.3},${Collect
          Relevant Details About The Incident.Answers.4},${Collect Relevant Details
          About The Incident.Answers.5}
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: commands.local.cmd.extract.indicators
      id: 91a899e8-fd9b-4e39-8a6e-e303f5242af6
      iscommand: true
      name: Extract IOC Indicators From The Data Collected in Previous Task
      script: Builtin|||extractIndicators
      type: regular
      version: -1
    taskid: 91a899e8-fd9b-4e39-8a6e-e303f5242af6
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 590,
          "y": -2120
        }
      }
  "132":
    continueonerrortype: ""
    form:
      description: ""
      expired: false
      questions:
      - defaultrows: []
        fieldassociated: crowdstrikehostname
        gridcolumns: []
        id: "0"
        label: ""
        labelarg:
          simple: Input Hostname
        options: []
        optionsarg: []
        placeholder: ""
        readonly: false
        required: false
        tooltip: ""
        type: shortText
      sender: ""
      title: Input Hostname
      totalanswers: 0
    id: "132"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    message:
      bcc: null
      body: null
      cc: null
      format: ""
      methods: []
      subject: null
      timings:
        completeafterreplies: 1
        completeaftersla: false
        completeafterv2: false
        retriescount: 2
        retriesinterval: 360
      to: null
    nexttasks:
      '#none#':
      - "180"
    note: false
    quietmode: 0
    scriptarguments:
      key:
        simple: TCSHostname
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Set a value in context under the key you entered.
      id: 5ead20d7-8338-4481-8a88-b147622477c3
      iscommand: false
      name: Input Hostname
      type: collection
      version: -1
    taskid: 5ead20d7-8338-4481-8a88-b147622477c3
    timertriggers: []
    type: collection
    view: |-
      {
        "position": {
          "x": -650,
          "y": -4140
        }
      }
  "134":
    continueonerrortype: ""
    id: "134"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "99"
    note: false
    quietmode: 0
    scriptarguments:
      using:
        simple: Mail Sender (New)_instance_1_copy_1
    separatecontext: false
    skipunavailable: false
    task:
      brand: Mail Sender (New)
      description: Send an email
      id: 0812fd78-f7e7-4f90-8f69-b7363b4ce2c0
      iscommand: true
      name: Notify End User & Other Stakeholders of The Host Containment
      script: Mail Sender (New)|||send-mail
      type: regular
      version: -1
    taskid: 0812fd78-f7e7-4f90-8f69-b7363b4ce2c0
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -730,
          "y": -1340
        }
      }
  "138":
    continueonerrortype: ""
    id: "138"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "139"
    note: false
    quietmode: 0
    scriptarguments:
      reputation:
        simple: Bad
      source:
        simple: ${incident.id}
      tags:
        simple: 'blockedipaddress,Reconnaissance '
      type:
        simple: IP
      value:
        simple: ${NEWEDLDATA}
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: commands.local.cmd.new.indicator
      id: d89482cc-c7e6-4fc7-83e2-9e8fd6b44a12
      iscommand: true
      name: Tag Bad IP Address Indicator
      script: Builtin|||createNewIndicator
      type: regular
      version: -1
    taskid: d89482cc-c7e6-4fc7-83e2-9e8fd6b44a12
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1160,
          "y": 255
        }
      }
  "139":
    continueonerrortype: ""
    id: "139"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "140"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 4066b0d0-f81a-498a-8353-9cb455f11e17
      iscommand: false
      name: 'Investigation Step 4: Check Historical Logs For IOCs'
      type: title
      version: -1
    taskid: 4066b0d0-f81a-498a-8353-9cb455f11e17
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 590,
          "y": 470
        }
      }
  "140":
    continueonerrortype: ""
    form:
      description: ""
      expired: false
      questions:
      - defaultrows: []
        fieldassociated: ""
        gridcolumns: []
        id: "0"
        label: ""
        labelarg:
          simple: Investigation Summary
        options: []
        optionsarg: []
        placeholder: ""
        readonly: false
        required: true
        tooltip: ""
        type: longText
      sender: ""
      title: Investigation Summary
      totalanswers: 0
    id: "140"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    message:
      bcc: null
      body:
        simple: Investigation Summary
      cc: null
      format: ""
      methods: []
      subject: null
      timings:
        completeafterreplies: 1
        completeaftersla: false
        completeafterv2: false
        retriescount: 2
        retriesinterval: 360
      to: null
    nexttasks:
      '#none#':
      - "55"
    note: true
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 4943e864-03e3-482a-8c86-b76913000d40
      iscommand: false
      name: Check For IOCs in SIEM / CrowdStrike
      type: collection
      version: -1
    taskid: 4943e864-03e3-482a-8c86-b76913000d40
    timertriggers: []
    type: collection
    view: |-
      {
        "position": {
          "x": 590,
          "y": 610
        }
      }
  "142":
    continueonerrortype: ""
    form:
      description: ""
      expired: false
      questions:
      - defaultrows: []
        fieldassociated: accountid
        gridcolumns: []
        id: "0"
        label: ""
        labelarg:
          simple: What Was The User ID(s) Being Brute Forced ?
        options: []
        optionsarg: []
        placeholder: ""
        readonly: false
        required: false
        tooltip: ""
        type: shortText
      - defaultrows: []
        fieldassociated: ""
        gridcolumns: []
        id: "1"
        label: ""
        labelarg:
          simple: Attack Source IP Address
        options: []
        optionsarg: []
        placeholder: ""
        readonly: false
        required: false
        tooltip: ""
        type: shortText
      - defaultrows: []
        fieldassociated: ""
        gridcolumns: []
        id: "2"
        label: ""
        labelarg:
          simple: Port Numbers
        options: []
        optionsarg: []
        placeholder: ""
        readonly: false
        required: false
        tooltip: ""
        type: shortText
      - defaultrows: []
        fieldassociated: ""
        gridcolumns: []
        id: "3"
        label: ""
        labelarg:
          simple: Domain
        options: []
        optionsarg: []
        placeholder: ""
        readonly: false
        required: false
        tooltip: ""
        type: shortText
      - defaultrows: []
        fieldassociated: ""
        gridcolumns: []
        id: "4"
        label: ""
        labelarg:
          simple: URL
        options: []
        optionsarg: []
        placeholder: ""
        readonly: false
        required: false
        tooltip: ""
        type: shortText
      - defaultrows: []
        fieldassociated: ""
        gridcolumns: []
        id: "5"
        label: ""
        labelarg:
          simple: File Hash
        options: []
        optionsarg: []
        placeholder: ""
        readonly: false
        required: false
        tooltip: ""
        type: shortText
      - defaultrows: []
        fieldassociated: ""
        gridcolumns: []
        id: "6"
        label: ""
        labelarg:
          simple: Notes
        options: []
        optionsarg: []
        placeholder: ""
        readonly: false
        required: false
        tooltip: ""
        type: longText
      - defaultrows: []
        fieldassociated: ""
        gridcolumns: []
        id: "7"
        label: ""
        labelarg:
          simple: 'Users Machine Hostname '
        options: []
        optionsarg: []
        placeholder: ""
        readonly: false
        required: false
        tooltip: ""
        type: shortText
      - defaultrows: []
        fieldassociated: ""
        gridcolumns: []
        id: "8"
        label: ""
        labelarg:
          simple: Attach Logs
        options: []
        optionsarg: []
        placeholder: ""
        readonly: false
        required: false
        tooltip: ""
        type: attachments
      - defaultrows: []
        fieldassociated: ""
        gridcolumns: []
        id: "9"
        label: ""
        labelarg:
          simple: Were There Any Successful Login Attempts ?
        options: []
        optionsarg:
        - simple: "Yes"
        - simple: "No"
        placeholder: ""
        readonly: false
        required: false
        tooltip: ""
        type: singleSelect
      sender: ""
      title: Collect Relevant Details About The Incident
      totalanswers: 0
    id: "142"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    message:
      bcc: null
      body: null
      cc: null
      format: ""
      methods: []
      subject: null
      timings:
        completeafterreplies: 1
        completeaftersla: false
        completeafterv2: false
        retriescount: 2
        retriesinterval: 360
      to: null
    nexttasks:
      '#none#':
      - "148"
    note: true
    quietmode: 0
    reputationcalc: 2
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 23f52535-3be9-4ca2-8c03-6404fb825efc
      iscommand: false
      name: Collect Relevant Details About The Incident & Attach Logs
      type: collection
      version: -1
    taskid: 23f52535-3be9-4ca2-8c03-6404fb825efc
    timertriggers: []
    type: collection
    view: |-
      {
        "position": {
          "x": 90,
          "y": -3950
        }
      }
  "148":
    continueonerrortype: ""
    id: "148"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 100
      wait: 1
    nexttasks:
      '#none#':
      - "151"
    note: false
    quietmode: 0
    scriptarguments:
      Username:
        complex:
          accessor: accountid
          root: incident
          transformers:
          - operator: uniq
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: |-
        Enrich accounts using one or more integrations.
        Supported integrations:
        - Active Directory
      id: 53007c1a-245e-43f6-8b30-14c63cf2242c
      iscommand: false
      name: TCS-Account Enrichment - Generic v2.1
      playbookId: e2b70f7c-cc46-473e-835c-72799a471904
      type: playbook
      version: -1
    taskid: 53007c1a-245e-43f6-8b30-14c63cf2242c
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 90,
          "y": -3760
        }
      }
  "151":
    continueonerrortype: ""
    form:
      description: 'We have identified several failed login attempts with your user
        ID. Please confirm or deny that you attempted these logins. '
      expired: false
      questions:
      - defaultrows: []
        fieldassociated: ""
        gridcolumns: []
        id: "0"
        label: ""
        labelarg:
          simple: Were the login attempts made by you?
        options: []
        optionsarg:
        - {}
        - simple: "Yes"
        - simple: "No"
        placeholder: ""
        readonly: false
        required: true
        tooltip: ""
        type: singleSelect
      sender: ""
      title: Failed login attempts
      totalanswers: 0
    id: "151"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    message:
      bcc: null
      body:
        simple: "Dear Associate,\n\nWe have identified several failed login attempts
          with your user ID. Please confirm or deny that you attempted these logins. "
      cc: null
      format: ""
      methods:
      - email
      subject:
        simple: Failed login attempts
      timings:
        completeafterreplies: 1
        completeaftersla: false
        completeafterv2: false
        retriescount: 2
        retriesinterval: 360
      to:
        complex:
          accessor: mail
          root: ActiveDirectory.Users
    nexttasks:
      '#none#':
      - "153"
      - "49"
    note: false
    quietmode: 0
    scriptarguments:
      to:
        complex:
          accessor: mail
          root: ActiveDirectory.Users
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Send an email
      id: bb24b33f-4bd1-4296-8251-28ae39671228
      iscommand: false
      name: Ask User To Confirm Login Attempt
      type: collection
      version: -1
    taskid: bb24b33f-4bd1-4296-8251-28ae39671228
    timertriggers: []
    type: collection
    view: |-
      {
        "position": {
          "x": 90,
          "y": -3595
        }
      }
  "153":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                accessor: "0"
                root: Failed login attempts.Answers
                transformers:
                - operator: toLowerCase
          operator: isEqualString
          right:
            value:
              simple: "Yes"
      label: Yes - False Positive
    continueonerrortype: ""
    id: "153"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "154"
      Yes - False Positive:
      - "119"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: af4c19bb-9229-4fcf-80b6-762724d0443c
      iscommand: false
      name: User confirmed the account activity?
      type: condition
      version: -1
    taskid: af4c19bb-9229-4fcf-80b6-762724d0443c
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": -220,
          "y": -3390
        }
      }
  "154":
    continueonerrortype: ""
    id: "154"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "49"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 42509e26-283f-4427-8013-6d000c1130c4
      iscommand: false
      name: Ask User To Reset Ultimatix and Domain Password
      type: regular
      version: -1
    taskid: 42509e26-283f-4427-8013-6d000c1130c4
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -210,
          "y": -3210
        }
      }
  "156":
    continueonerrortype: ""
    id: "156"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 100
      wait: 1
    nexttasks:
      '#none#':
      - "157"
    note: false
    quietmode: 0
    scriptarguments:
      DBotScore:
        complex:
          root: DBotScore
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Calculates and sets the incident severity based on the combination
        of the current incident severity, and the severity returned from the Evaluate
        Severity - Set By Highest DBotScore playbook.
      id: 4ec401b6-1661-426b-8c90-84be5c5418b0
      iscommand: false
      name: Calculate Severity - Standard
      playbookId: Calculate Severity - Standard
      type: playbook
      version: -1
    taskid: 4ec401b6-1661-426b-8c90-84be5c5418b0
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 590,
          "y": -1865
        }
      }
  "157":
    continueonerrortype: ""
    form:
      description: ""
      expired: false
      questions:
      - defaultrows: []
        fieldassociated: ""
        gridcolumns: []
        id: "0"
        label: ""
        labelarg:
          simple: Note
        options: []
        optionsarg: []
        placeholder: ""
        readonly: false
        required: false
        tooltip: ""
        type: longText
      sender: ""
      title: Analyze IOCs Report
      totalanswers: 0
    id: "157"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    message:
      bcc: null
      body: null
      cc: null
      format: ""
      methods: []
      subject: null
      timings:
        completeafterreplies: 1
        completeaftersla: false
        completeafterv2: false
        retriescount: 2
        retriesinterval: 360
      to: null
    nexttasks:
      '#none#':
      - "158"
    note: true
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Copy all entries marked as notes from current incident to another
        incident.
      id: 8ae4c121-ae9d-4c4b-849c-1b77aa590dfb
      iscommand: false
      name: Study The IOC Analysis. Perform Additional Analysis If Required
      tags:
      - Note
      type: collection
      version: -1
    taskid: 8ae4c121-ae9d-4c4b-849c-1b77aa590dfb
    timertriggers: []
    type: collection
    view: |-
      {
        "position": {
          "x": 590,
          "y": -1635
        }
      }
  "158":
    continueonerrortype: ""
    id: "158"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    message:
      bcc: null
      body:
        simple: Is The IOC Malicious  ?
      cc: null
      format: ""
      methods: []
      replyOptions:
      - Malicious
      - False Positive
      subject: null
      timings:
        completeafterreplies: 1
        completeaftersla: false
        completeafterv2: false
        retriescount: 2
        retriesinterval: 360
      to:
        simple: Analyst
    nexttasks:
      False Positive:
      - "97"
      Malicious:
      - "159"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 2541aaca-b03b-4067-8b17-bd64f66227b3
      iscommand: false
      name: Is The IOC Malicious or False Positive  ?
      type: condition
      version: -1
    taskid: 2541aaca-b03b-4067-8b17-bd64f66227b3
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 590,
          "y": -1460
        }
      }
  "159":
    continueonerrortype: ""
    id: "159"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    message:
      bcc: null
      body:
        simple: 'Re-access Incident Severity '
      cc: null
      format: ""
      methods: []
      replyOptions:
      - Low
      - Medium
      - High
      - Critical
      subject: null
      timings:
        completeafterreplies: 1
        completeaftersla: false
        completeafterv2: false
        retriescount: 2
        retriesinterval: 360
      to:
        simple: Analyst
    nexttasks:
      Critical:
      - "163"
      High:
      - "162"
      Low:
      - "160"
      Medium:
      - "161"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 6c572e8a-6ffa-4eb8-81a8-66871953da4c
      iscommand: false
      name: 'Re-access Incident Severity '
      type: condition
      version: -1
    taskid: 6c572e8a-6ffa-4eb8-81a8-66871953da4c
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 590,
          "y": -1260
        }
      }
  "160":
    continueonerrortype: ""
    id: "160"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "164"
    note: false
    quietmode: 0
    scriptarguments:
      severity:
        simple: Low
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: commands.local.cmd.set.incident
      id: 72449d2d-3382-45b7-8f5d-5c7b0da304c5
      iscommand: true
      name: Set Severity To 'Low' - P3
      script: Builtin|||setIncident
      type: regular
      version: -1
    taskid: 72449d2d-3382-45b7-8f5d-5c7b0da304c5
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -90,
          "y": -1050
        }
      }
  "161":
    continueonerrortype: ""
    id: "161"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "164"
    note: false
    quietmode: 0
    scriptarguments:
      severity:
        simple: Medium
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: commands.local.cmd.set.incident
      id: ea59d926-bef6-4137-83e0-53329ad8dd25
      iscommand: true
      name: Set Severity To 'Medium' - P2
      script: Builtin|||setIncident
      type: regular
      version: -1
    taskid: ea59d926-bef6-4137-83e0-53329ad8dd25
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 360,
          "y": -1050
        }
      }
  "162":
    continueonerrortype: ""
    id: "162"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "164"
    note: false
    quietmode: 0
    scriptarguments:
      severity:
        simple: High
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: commands.local.cmd.set.incident
      id: 2412cf20-128a-41c5-83bc-54ac84c5a24f
      iscommand: true
      name: Set Severity To 'High' - P1
      script: Builtin|||setIncident
      type: regular
      version: -1
    taskid: 2412cf20-128a-41c5-83bc-54ac84c5a24f
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 820,
          "y": -1050
        }
      }
  "163":
    continueonerrortype: ""
    id: "163"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "164"
    note: false
    quietmode: 0
    scriptarguments:
      severity:
        simple: Critical
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: commands.local.cmd.set.incident
      id: 41a29224-9b24-42bc-8dc7-595dfe122011
      iscommand: true
      name: Set Severity To 'Critical' - P0
      script: Builtin|||setIncident
      type: regular
      version: -1
    taskid: 41a29224-9b24-42bc-8dc7-595dfe122011
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1270,
          "y": -1050
        }
      }
  "164":
    continueonerrortype: ""
    id: "164"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "88"
    note: false
    quietmode: 0
    scriptarguments:
      subject:
        simple: Brute Force Attack Detected
    separatecontext: false
    skipunavailable: false
    task:
      brand: Mail Sender (New)
      description: Send an email
      id: 851831c4-5f25-4f3f-8103-9d2c450207aa
      iscommand: true
      name: Notify CSOC Manager & Necessary Stakeholders
      script: Mail Sender (New)|||send-mail
      type: regular
      version: -1
    taskid: 851831c4-5f25-4f3f-8103-9d2c450207aa
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 590,
          "y": -870
        }
      }
  "167":
    continueonerrortype: ""
    id: "167"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "59"
    note: false
    quietmode: 0
    scriptarguments:
      key:
        simple: ExtractedIndicators
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Delete field from context
      id: d8255a45-3a28-45a4-88ef-3845fb908b2b
      iscommand: false
      name: Delete Extracted Indicators Context
      script: DeleteContext
      type: regular
      version: -1
    taskid: d8255a45-3a28-45a4-88ef-3845fb908b2b
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 590,
          "y": -590
        }
      }
  "168":
    continueonerrortype: ""
    id: "168"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "60"
    note: false
    quietmode: 0
    scriptarguments:
      text:
        complex:
          accessor: Answers
          root: Input Malicious Domain
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: commands.local.cmd.extract.indicators
      id: 632fcd43-5b44-4e77-8625-3afc139aa614
      iscommand: true
      name: Extract IOC Indicators From The Data Collected in Previous Task
      script: Builtin|||extractIndicators
      type: regular
      version: -1
    taskid: 632fcd43-5b44-4e77-8625-3afc139aa614
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 590,
          "y": -80
        }
      }
  "169":
    continueonerrortype: ""
    id: "169"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "63"
    note: false
    quietmode: 0
    scriptarguments:
      text:
        complex:
          accessor: Answers
          root: Input IP Address For Blocking
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: commands.local.cmd.extract.indicators
      id: 47891402-8432-436d-8cd3-41a5c78693d7
      iscommand: true
      name: Extract IOC Indicators From The Data Collected in Previous Task
      script: Builtin|||extractIndicators
      type: regular
      version: -1
    taskid: 47891402-8432-436d-8cd3-41a5c78693d7
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1160,
          "y": -240
        }
      }
  "170":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                root: NEWEDLDATA
          operator: isExists
      label: "yes"
    continueonerrortype: ""
    id: "170"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "139"
      "yes":
      - "138"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: ad5d8c01-77a0-4952-8374-e3c122c205d0
      iscommand: false
      name: Is There New IP Indicator To Tag
      type: condition
      version: -1
    taskid: ad5d8c01-77a0-4952-8374-e3c122c205d0
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 1160,
          "y": 80
        }
      }
  "171":
    continueonerrortype: ""
    id: "171"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    message:
      bcc: null
      body:
        simple: 'Access Incident Severity '
      cc: null
      format: ""
      methods: []
      replyOptions:
      - Low
      - Medium
      - High
      - Critical
      subject: null
      timings:
        completeafterreplies: 1
        completeaftersla: false
        completeafterv2: false
        retriescount: 2
        retriesinterval: 360
      to:
        simple: Analyst
    nexttasks:
      Critical:
      - "175"
      High:
      - "174"
      Low:
      - "172"
      Medium:
      - "173"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 555ada80-7f04-49fb-812d-537f2da1e3ff
      iscommand: false
      name: 'Access Incident Severity '
      type: condition
      version: -1
    taskid: 555ada80-7f04-49fb-812d-537f2da1e3ff
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": -1160,
          "y": -2630
        }
      }
  "172":
    continueonerrortype: ""
    id: "172"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "176"
    note: false
    quietmode: 0
    scriptarguments:
      severity:
        simple: Low
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: commands.local.cmd.set.incident
      id: 703d6c08-aa88-40b1-833a-22fee74ff8ed
      iscommand: true
      name: Set Severity To 'Low' - P3
      script: Builtin|||setIncident
      type: regular
      version: -1
    taskid: 703d6c08-aa88-40b1-833a-22fee74ff8ed
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -1160,
          "y": -2450
        }
      }
  "173":
    continueonerrortype: ""
    id: "173"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "176"
    note: false
    quietmode: 0
    scriptarguments:
      severity:
        simple: Medium
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: commands.local.cmd.set.incident
      id: 4691d06a-2524-4831-8235-6eac863e4236
      iscommand: true
      name: Set Severity To 'Medium' - P2
      script: Builtin|||setIncident
      type: regular
      version: -1
    taskid: 4691d06a-2524-4831-8235-6eac863e4236
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -730,
          "y": -2450
        }
      }
  "174":
    continueonerrortype: ""
    id: "174"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "176"
    note: false
    quietmode: 0
    scriptarguments:
      severity:
        simple: High
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: commands.local.cmd.set.incident
      id: c9c1b1e6-c61c-4d10-8079-a2aff5309d52
      iscommand: true
      name: Set Severity To 'High' - P1
      script: Builtin|||setIncident
      type: regular
      version: -1
    taskid: c9c1b1e6-c61c-4d10-8079-a2aff5309d52
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -300,
          "y": -2450
        }
      }
  "175":
    continueonerrortype: ""
    id: "175"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "176"
    note: false
    quietmode: 0
    scriptarguments:
      severity:
        simple: Critical
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: commands.local.cmd.set.incident
      id: 5726722d-251c-4135-80f7-8a6f932dac6a
      iscommand: true
      name: Set Severity To 'Critical' - P0
      script: Builtin|||setIncident
      type: regular
      version: -1
    taskid: 5726722d-251c-4135-80f7-8a6f932dac6a
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 130,
          "y": -2450
        }
      }
  "176":
    continueonerrortype: ""
    id: "176"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "100"
    note: false
    quietmode: 0
    scriptarguments:
      subject:
        simple: Brute Force Attack Detected
    separatecontext: false
    skipunavailable: false
    task:
      brand: Mail Sender (New)
      description: Send an email
      id: 910c972a-1453-4acf-8932-65d2208566a4
      iscommand: true
      name: Notify CSOC Manager & Necessary Stakeholders
      script: Mail Sender (New)|||send-mail
      type: regular
      version: -1
    taskid: 910c972a-1453-4acf-8932-65d2208566a4
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -730,
          "y": -2275
        }
      }
  "177":
    continueonerrortype: ""
    id: "177"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    message:
      bcc: null
      body:
        simple: Is There a Host To Remove From Containment ?
      cc: null
      format: ""
      methods: []
      replyOptions:
      - "Yes"
      - "No"
      subject: null
      timings:
        completeafterreplies: 1
        completeaftersla: false
        completeafterv2: false
        retriescount: 2
        retriesinterval: 360
      to:
        simple: Analyst
    nexttasks:
      "No":
      - "112"
      "Yes":
      - "178"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: b639fae4-728c-4baf-88f0-b4733526c30d
      iscommand: false
      name: Is There a Host To Remove From Containment ?
      type: condition
      version: -1
    taskid: b639fae4-728c-4baf-88f0-b4733526c30d
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": -730,
          "y": -5
        }
      }
  "178":
    continueonerrortype: ""
    id: "178"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "112"
    note: false
    quietmode: 0
    scriptarguments:
      ids:
        complex:
          accessor: ID
          root: CrowdStrike.Device
    separatecontext: false
    skipunavailable: false
    task:
      brand: CrowdstrikeFalcon
      description: Lifts containment on the host, which returns its network communications
        to normal.
      id: 5f57214c-5207-4795-8cc2-0641766eaea1
      iscommand: true
      name: Remove Host From Containment
      script: CrowdstrikeFalcon|||cs-falcon-lift-host-containment
      type: regular
      version: -1
    taskid: 5f57214c-5207-4795-8cc2-0641766eaea1
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -730,
          "y": 200
        }
      }
  "180":
    continueonerrortype: ""
    id: "180"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 100
      wait: 1
    nexttasks:
      '#none#':
      - "191"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 656c939e-6d7f-4cb4-8d01-62091431be99
      iscommand: false
      name: TCS-CrowdStrike Incident Info Context Input v1.0_Kunal
      playbookId: 58a33f37-14f8-4fae-8ec5-ee4d39f9ff19
      type: playbook
      version: -1
    taskid: 656c939e-6d7f-4cb4-8d01-62091431be99
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": -650,
          "y": -4000
        }
      }
  "181":
    continueonerrortype: ""
    id: "181"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "182"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 5babc8ce-3e2e-4161-8ff0-7b310a86607c
      iscommand: false
      name: Start Response SLA Timer
      type: title
      version: -1
    taskid: 5babc8ce-3e2e-4161-8ff0-7b310a86607c
    timertriggers:
    - action: start
      fieldname: detectionsla
    type: title
    view: |-
      {
        "position": {
          "x": 290,
          "y": -4875
        }
      }
  "182":
    continueonerrortype: ""
    id: "182"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "78"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: d176fa43-79e4-4c46-8d90-e962da90133b
      iscommand: false
      name: Start Remediation SLA Timer
      type: title
      version: -1
    taskid: d176fa43-79e4-4c46-8d90-e962da90133b
    timertriggers:
    - action: start
      fieldname: remediationsla
    type: title
    view: |-
      {
        "position": {
          "x": 290,
          "y": -4760
        }
      }
  "183":
    continueonerrortype: ""
    id: "183"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "142"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 106d762f-a016-46ad-827a-c175de52cf37
      iscommand: false
      name: Stop Response SLA
      type: title
      version: -1
    taskid: 106d762f-a016-46ad-827a-c175de52cf37
    timertriggers:
    - action: stop
      fieldname: detectionsla
    type: title
    view: |-
      {
        "position": {
          "x": 90,
          "y": -4110
        }
      }
  "184":
    continueonerrortype: ""
    id: "184"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 2488325d-aeff-4b44-8b22-efbcd5bdef17
      iscommand: false
      name: Stop Remediation SLA
      type: title
      version: -1
    taskid: 2488325d-aeff-4b44-8b22-efbcd5bdef17
    timertriggers:
    - action: stop
      fieldname: remediationsla
    type: title
    view: |-
      {
        "position": {
          "x": 590,
          "y": 1780
        }
      }
  "185":
    continueonerrortype: ""
    id: "185"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "113"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 7986a815-bd20-4d7d-813b-8981d3f9cfe5
      iscommand: false
      name: Stop Remediation SLA
      type: title
      version: -1
    taskid: 7986a815-bd20-4d7d-813b-8981d3f9cfe5
    timertriggers:
    - action: stop
      fieldname: remediationsla
    type: title
    view: |-
      {
        "position": {
          "x": -730,
          "y": 1010
        }
      }
  "186":
    continueonerrortype: ""
    id: "186"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "187"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Delete field from context
      id: 7cfaf877-f1ba-4a01-8f3d-2da98509f7ff
      iscommand: false
      name: Delete Context Incident Owner
      script: DeleteContext
      type: regular
      version: -1
    taskid: 7cfaf877-f1ba-4a01-8f3d-2da98509f7ff
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -730,
          "y": 690
        }
      }
  "187":
    continueonerrortype: ""
    id: "187"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "185"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Expose the incident owner into IncidentOwner context key
      id: ad2e9b70-07a3-49ac-8191-855aa80d325e
      iscommand: false
      name: Populate Context Incident Owner
      script: ExposeIncidentOwner
      type: regular
      version: -1
    taskid: ad2e9b70-07a3-49ac-8191-855aa80d325e
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -730,
          "y": 860
        }
      }
  "188":
    continueonerrortype: ""
    id: "188"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "181"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Expose the incident owner into IncidentOwner context key
      id: ec9eaf4a-8f7c-475d-8df3-02591cb11fd0
      iscommand: false
      name: Populate  Incident Owner Context
      script: ExposeIncidentOwner
      type: regular
      version: -1
    taskid: ec9eaf4a-8f7c-475d-8df3-02591cb11fd0
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 290,
          "y": -5030
        }
      }
  "189":
    continueonerrortype: ""
    id: "189"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "80"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Expose the incident owner into IncidentOwner context key
      id: 37ed0c98-798f-4dbe-8c45-7adee4f37cfd
      iscommand: false
      name: Populate  Incident Owner Context
      script: ExposeIncidentOwner
      type: regular
      version: -1
    taskid: 37ed0c98-798f-4dbe-8c45-7adee4f37cfd
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -210,
          "y": -4960
        }
      }
  "190":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                root: crowdstrike
          operator: isEqualString
          right:
            value:
              simple: is defined {General}
      - - left:
            iscontext: true
            value:
              complex:
                root: crowdstrike
          operator: isEqualString
          right:
            value:
              simple: is not empty
      label: "yes"
    continueonerrortype: ""
    id: "190"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "132"
      "yes":
      - "192"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: df0f748c-9008-448f-81a9-86a07ef28d77
      iscommand: false
      name: Check If Detection Details Have been Pulled
      type: condition
      version: -1
    taskid: df0f748c-9008-448f-81a9-86a07ef28d77
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": -650,
          "y": -4480
        }
      }
  "191":
    continueonerrortype: ""
    id: "191"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 100
      wait: 1
    nexttasks:
      '#none#':
      - "192"
    note: false
    quietmode: 0
    scriptarguments:
      DBotScore:
        complex:
          root: DBotScore
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Calculates and sets the incident severity based on the combination
        of the current incident severity, and the severity returned from the Evaluate
        Severity - Set By Highest DBotScore playbook.
      id: c870d81f-27c8-4ca9-802a-707c03e2c1ca
      iscommand: false
      name: Calculate Severity - Standard
      playbookId: Calculate Severity - Standard
      type: playbook
      version: -1
    taskid: c870d81f-27c8-4ca9-802a-707c03e2c1ca
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": -650,
          "y": -3845
        }
      }
  "192":
    continueonerrortype: ""
    id: "192"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    message:
      bcc: null
      body:
        simple: Confirmed - False Positive
      cc: null
      format: ""
      methods: []
      replyOptions:
      - Confirmed - False Positive
      - No / Not Sure - To Be Determined
      subject: null
      timings:
        completeafterreplies: 1
        completeaftersla: false
        completeafterv2: false
        retriescount: 2
        retriesinterval: 360
      to: null
    nexttasks:
      No / Not Sure - To Be Determined:
      - "193"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 71d1de9c-6376-4b5e-8e1b-4d122834d381
      iscommand: false
      name: Is This a False Positive Alert ?
      type: condition
      version: -1
    taskid: 71d1de9c-6376-4b5e-8e1b-4d122834d381
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": -650,
          "y": -3690
        }
      }
  "193":
    continueonerrortype: ""
    id: "193"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    message:
      bcc: null
      body:
        simple: Is There An IOC You'd Like To Block ?
      cc: null
      format: ""
      methods: []
      replyOptions:
      - "Yes"
      - "No"
      subject: null
      timings:
        completeafterreplies: 1
        completeaftersla: false
        completeafterv2: false
        retriescount: 2
        retriesinterval: 360
      to: null
    nexttasks:
      "No":
      - "81"
      "Yes":
      - "194"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 25814087-c46e-42b4-8769-d07f99754004
      iscommand: false
      name: Is There An IOC You'd Like To Block ?
      type: condition
      version: -1
    taskid: 25814087-c46e-42b4-8769-d07f99754004
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 650,
          "y": -3420
        }
      }
  "194":
    continueonerrortype: ""
    id: "194"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "195"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: f9ad09be-45c9-4032-8851-06378e9a19c7
      iscommand: false
      name: Respond
      type: title
      version: -1
    taskid: f9ad09be-45c9-4032-8851-06378e9a19c7
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 510,
          "y": -3260
        }
      }
  "195":
    continueonerrortype: ""
    id: "195"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "81"
    note: false
    quietmode: 0
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      id: e7dc6f86-ff91-4adf-846e-2a7ebeef33c0
      iscommand: false
      name: TCS-Respond Section Case Management v1.0_Kunal
      playbookId: 76dc63ee-7a36-456c-8fe3-b1d4e9198c97
      type: playbook
      version: -1
    taskid: e7dc6f86-ff91-4adf-846e-2a7ebeef33c0
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 950,
          "y": -3115
        }
      }
version: -1
view: |-
  {
    "linkLabelsPosition": {
      "153_119_Yes - False Positive": 0.23,
      "158_97_False Positive": 0.19,
      "159_162_High": 0.7,
      "49_92_External IP Address": 0.46,
      "49_93_Internal IP Address": 0.55,
      "78_79_Qradar": 0.76,
      "78_82_User": 0.42,
      "78_84_Other Security Tool": 0.66,
      "92_81_No": 0.55,
      "92_97_Yes - False Positive": 0.37,
      "93_119_Yes - False Positive": 0.28,
      "94_109_No": 0.29,
      "94_95_Yes": 0.73,
      "99_114_No": 0.16,
      "99_115_Yes": 0.46
    },
    "paper": {
      "dimensions": {
        "height": 7765,
        "width": 3840,
        "x": -1730,
        "y": -5610
      }
    }
  }
