playbook-TCS-Check_For_Trusted_IOC_v1.2.yml
contentitemexportablefields:
  contentitemfields:
    definitionid: ""
    fromServerVersion: ""
    itemVersion: ""
    packID: ""
    packName: ""
    prevname: ""
    propagationLabels:
    - all
    toServerVersion: ""
id: a2bcc8f3-957a-47ec-841f-f3a7a225e449
inputs: []
name: TCS-Check For Trusted IOC v1.2
outputs: []
sourceplaybookid: 0aa3e22c-ad9c-441d-8143-79132fca1d1e
starttaskid: "0"
tasks:
  "0":
    continueonerrortype: ""
    id: "0"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "13"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 1b942c39-6d7f-44f3-819b-1e09a64d9677
      iscommand: false
      name: ""
      version: -1
    taskid: 1b942c39-6d7f-44f3-819b-1e09a64d9677
    timertriggers: []
    type: start
    view: |-
      {
        "position": {
          "x": 540,
          "y": -730
        }
      }
  "1":
    continueonerrortype: ""
    id: "1"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "26"
    note: false
    quietmode: 0
    scriptarguments:
      entryID:
        simple: '${.=(val.File instanceof Array ? val.File[val.File.length-1].EntryID
          : val.File.EntryID)}'
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: commands.local.cmd.extract.indicators
      id: e112490e-52bd-4fa4-85c5-108dbe9f8a56
      iscommand: true
      name: Extract Indicators From Text File
      script: Builtin|||extractIndicators
      type: regular
      version: -1
    taskid: e112490e-52bd-4fa4-85c5-108dbe9f8a56
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 170,
          "y": 270
        }
      }
  "3":
    continueonerrortype: ""
    id: "3"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 100
      wait: 1
    nexttasks:
      '#none#':
      - "5"
    note: false
    quietmode: 0
    scriptarguments:
      Domain:
        complex:
          accessor: Domain
          root: ExtractedIndicators
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: eefbf6b9-8c0c-4b16-8100-0eeefc89d34d
      iscommand: false
      name: TCS-Domain Owner Verification  v3.3
      playbookId: aa4cb35f-adb7-47da-8f34-c72c23c3c1e5
      type: playbook
      version: -1
    taskid: eefbf6b9-8c0c-4b16-8100-0eeefc89d34d
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 170,
          "y": 920
        }
      }
  "4":
    continueonerrortype: ""
    id: "4"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "3"
    note: false
    quietmode: 0
    scriptarguments:
      key:
        simple: IP
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Delete field from context
      id: d847f453-62e3-4907-8465-b0e280c7a922
      iscommand: false
      name: Delete IP Context
      script: DeleteContext
      type: regular
      version: -1
    taskid: d847f453-62e3-4907-8465-b0e280c7a922
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 170,
          "y": 700
        }
      }
  "5":
    continueonerrortype: ""
    id: "5"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "6"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 8488e23e-1985-43f1-821b-7d8b10062e06
      iscommand: false
      name: Close Investigation
      type: title
      version: -1
    taskid: 8488e23e-1985-43f1-821b-7d8b10062e06
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 890,
          "y": 1110
        }
      }
  "6":
    continueonerrortype: ""
    id: "6"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "7"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: commands.local.cmd.close.inv
      id: 9f47c352-786d-4506-8424-0796d198a5ff
      iscommand: true
      name: Close Investigation
      script: Builtin|||closeInvestigation
      type: regular
      version: -1
    taskid: 9f47c352-786d-4506-8424-0796d198a5ff
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 890,
          "y": 1290
        }
      }
  "7":
    continueonerrortype: ""
    id: "7"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: a780dfcf-42b0-43bf-8b79-f2ac92a332be
      iscommand: false
      name: Done
      type: title
      version: -1
    taskid: a780dfcf-42b0-43bf-8b79-f2ac92a332be
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 890,
          "y": 1460
        }
      }
  "8":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: ${incident.emailfrom}
          operator: isEqualString
          right:
            value:
              simple: kunal.krushev@tcs.com
        - left:
            iscontext: true
            value:
              simple: ${incident.emailfrom}
          operator: isEqualString
          right:
            value:
              simple: yogesh.gholap@tcs.com
        - left:
            iscontext: true
            value:
              simple: ${incident.emailfrom}
          operator: isEqualString
          right:
            value:
              simple: internalis.cybersecurityops@tcs.com
        - left:
            iscontext: true
            value:
              simple: ${incident.emailfrom}
          operator: isEqualString
          right:
            value:
              simple: InternalIS.LogForensics@tcs.com
        - left:
            iscontext: true
            value:
              simple: ${incident.emailfrom}
          operator: isEqualString
          right:
            value:
              simple: InternalIS.SecurityLogReview@tcs.com
      label: "yes"
    continueonerrortype: ""
    id: "8"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 688f1943-f951-45ad-8a05-f5098fcdef9c
      iscommand: false
      name: Is Email From Authorized Sender?
      type: condition
      version: -1
    taskid: 688f1943-f951-45ad-8a05-f5098fcdef9c
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": -160,
          "y": -100
        }
      }
  "9":
    continueonerrortype: ""
    id: "9"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "5"
    note: false
    quietmode: 0
    scriptarguments:
      body:
        simple: |-
          Hello Human,

          You are not on my authorized list of senders . Please contact Your XSOAR Support team.

          Regards,
          CSOC Cyber AutoBot
      subject:
        simple: Not Authorized To Send Mail
      to:
        complex:
          accessor: Email/from
          root: incident.labels
    separatecontext: false
    skipunavailable: false
    task:
      brand: EWS Mail Sender
      description: Sends an email using EWS.
      id: a02a8df6-b2b2-46e1-8c5a-99125add0375
      iscommand: true
      name: Send Email Notification - Not Authorized User
      script: EWS Mail Sender|||send-mail
      type: regular
      version: -1
    taskid: a02a8df6-b2b2-46e1-8c5a-99125add0375
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 930,
          "y": 300
        }
      }
  "12":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: ${incident.emailfrom}
          operator: inList
          right:
            value:
              simple: ${lists.AuthorizedSenders}
        - left:
            iscontext: true
            value:
              simple: ${incident.emailfrom}
          operator: isEqualString
          right:
            value:
              simple: internalis.cybersecurityops@tcs.com
        - left:
            iscontext: true
            value:
              simple: ${incident.emailfrom}
          operator: isEqualString
          right:
            value:
              simple: InternalIS.LogForensics@tcs.com
        - left:
            iscontext: true
            value:
              simple: ${incident.emailfrom}
          operator: isEqualString
          right:
            value:
              simple: InternalIS.SecurityLogReview@tcs.com
      label: "yes"
    continueonerrortype: ""
    id: "12"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "9"
      "yes":
      - "1"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 09d7ad23-533e-4363-8005-3c6a07718b94
      iscommand: false
      name: check if sender is present in  list of authorize senders.
      type: condition
      version: -1
    taskid: 09d7ad23-533e-4363-8005-3c6a07718b94
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 530,
          "y": -280
        }
      }
  "13":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                accessor: sourceBrand
                root: incident
                transformers:
                - operator: toLowerCase
          operator: isEqualString
          right:
            value:
              simple: manual
      label: Manual
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                accessor: sourceBrand
                root: incident
                transformers:
                - operator: toLowerCase
          operator: isNotEqualString
          right:
            value:
              simple: manual
      label: Tool
    continueonerrortype: ""
    id: "13"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      Manual:
      - "14"
      Tool:
      - "12"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 45b674fe-cb7d-4aa8-876e-3c257f8facea
      iscommand: false
      name: Manual or Tool Triggered ?
      type: condition
      version: -1
    taskid: 45b674fe-cb7d-4aa8-876e-3c257f8facea
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 550,
          "y": -580
        }
      }
  "14":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                accessor: enterioc
                root: incident
          operator: isNotEmpty
          right:
            value: {}
      label: "yes"
    continueonerrortype: ""
    id: "14"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "16"
      "yes":
      - "15"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 1317a1e3-0a38-45bc-80f8-02ff0b38fc72
      iscommand: false
      name: Are There IoCs ?
      type: condition
      version: -1
    taskid: 1317a1e3-0a38-45bc-80f8-02ff0b38fc72
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 1960,
          "y": -420
        }
      }
  "15":
    continueonerrortype: ""
    id: "15"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "24"
    note: false
    quietmode: 0
    scriptarguments:
      text:
        simple: ${incident.enterioc}
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: commands.local.cmd.extract.indicators
      id: 0042d0b6-c5f6-48b6-83df-11fb0ffaf8bf
      iscommand: true
      name: Extract Indicators From Context
      script: Builtin|||extractIndicators
      type: regular
      version: -1
    taskid: 0042d0b6-c5f6-48b6-83df-11fb0ffaf8bf
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1300,
          "y": -250
        }
      }
  "16":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: incident.attachment
          operator: isNotEmpty
          right:
            value: {}
      label: "yes"
    continueonerrortype: ""
    id: "16"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "17"
      "yes":
      - "18"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 9dabbb80-4720-408d-813a-ad487b2ad1a1
      iscommand: false
      name: Is There Any Attachment For Processing ?
      type: condition
      version: -1
    taskid: 9dabbb80-4720-408d-813a-ad487b2ad1a1
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 2660,
          "y": -270
        }
      }
  "17":
    continueonerrortype: ""
    id: "17"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "5"
    note: false
    quietmode: 0
    scriptarguments:
      actionnotification:
        simple: '<h2 style="text-align: center;"><em><span style="color: #ff00ff;">No
          IoCs Found For Blocking</span></em></h2>'
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: commands.local.cmd.set.incident
      id: 78774cbd-2393-4f54-834e-456d59ad0eda
      iscommand: true
      name: 'Update Notification - No IoCs Found '
      script: Builtin|||setIncident
      type: regular
      version: -1
    taskid: 78774cbd-2393-4f54-834e-456d59ad0eda
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 2940,
          "y": -5
        }
      }
  "18":
    continueonerrortype: ""
    id: "18"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "24"
    note: false
    quietmode: 0
    scriptarguments:
      entryID:
        simple: '${.=(val.File instanceof Array ? val.File[val.File.length-1].EntryID
          : val.File.EntryID)}'
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: commands.local.cmd.extract.indicators
      id: f1902551-ddc3-49c5-81fd-f89487888efb
      iscommand: true
      name: Extract Indicators From Text File
      script: Builtin|||extractIndicators
      type: regular
      version: -1
    taskid: f1902551-ddc3-49c5-81fd-f89487888efb
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1950,
          "y": 60
        }
      }
  "19":
    continueonerrortype: ""
    id: "19"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 100
      wait: 1
    note: false
    quietmode: 0
    scriptarguments:
      IP Address:
        complex:
          accessor: IP
          root: ExtractedIndicators
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 6d404d96-3e81-47a9-85ba-f5d788dea356
      iscommand: false
      name: TCS-IP Address Owner Verification_Playbook  v3.3
      playbookId: 13313a64-c3af-4ec8-84e6-61e715682b2c
      type: playbook
      version: -1
    taskid: 6d404d96-3e81-47a9-85ba-f5d788dea356
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 2410,
          "y": 290
        }
      }
  "20":
    continueonerrortype: ""
    id: "20"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "25"
    note: false
    quietmode: 0
    scriptarguments:
      key:
        simple: IP
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Delete field from context
      id: ff4b1dae-87b0-491d-8117-719038f34094
      iscommand: false
      name: Delete IP Context
      script: DeleteContext
      type: regular
      version: -1
    taskid: ff4b1dae-87b0-491d-8117-719038f34094
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1950,
          "y": 490
        }
      }
  "21":
    continueonerrortype: ""
    id: "21"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 100
      wait: 1
    note: false
    quietmode: 0
    scriptarguments:
      Domain:
        complex:
          accessor: Domain
          root: ExtractedIndicators
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: d46f8423-6d55-440e-8ee4-74d3a124977c
      iscommand: false
      name: TCS-Domain Owner Verification  v3.3
      playbookId: aa4cb35f-adb7-47da-8f34-c72c23c3c1e5
      type: playbook
      version: -1
    taskid: d46f8423-6d55-440e-8ee4-74d3a124977c
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 2590,
          "y": 740
        }
      }
  "23":
    continueonerrortype: ""
    id: "23"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      id: 7fbaba91-d4f7-47f6-8151-1ab5b8e91144
      iscommand: false
      name: TCS-Domain Owner Verification  v3.3_copy
      playbookId: bbf78894-1a36-465f-8b22-7c59370eff6c
      type: playbook
      version: -1
    taskid: 7fbaba91-d4f7-47f6-8151-1ab5b8e91144
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": -480,
          "y": 1040
        }
      }
  "24":
    continueonerrortype: ""
    id: "24"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 0
      wait: 1
    nexttasks:
      '#none#':
      - "20"
    note: false
    quietmode: 0
    scriptarguments:
      IP Address:
        complex:
          accessor: IP
          root: ExtractedIndicators
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 32fdcbd1-66fc-42f3-8f78-8dd57c2b7c52
      iscommand: false
      name: TCS-IP Address Owner Verification_Playbook  v3.3_old_copy
      playbookId: c600773c-c1e4-418d-8ad9-0c7d0fbc78ed
      type: playbook
      version: -1
    taskid: 32fdcbd1-66fc-42f3-8f78-8dd57c2b7c52
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 1950,
          "y": 290
        }
      }
  "25":
    continueonerrortype: ""
    id: "25"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 100
      wait: 1
    nexttasks:
      '#none#':
      - "5"
    note: false
    quietmode: 0
    scriptarguments:
      Domain:
        complex:
          accessor: Domain
          root: ExtractedIndicators
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: b75fe695-98e5-4cc7-8902-0fc229553e61
      iscommand: false
      name: TCS-Domain Owner Verification  v3.3_copy
      playbookId: bbf78894-1a36-465f-8b22-7c59370eff6c
      type: playbook
      version: -1
    taskid: b75fe695-98e5-4cc7-8902-0fc229553e61
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 1960,
          "y": 730
        }
      }
  "26":
    continueonerrortype: ""
    id: "26"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "4"
    note: false
    quietmode: 0
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      id: 93352b1b-6d51-4750-8068-022c63565bd6
      iscommand: false
      name: TCS-IP Address Owner Verification_Playbook  v3.3
      playbookId: d0467e0b-cffe-40cd-883c-dd52a89e5833
      type: playbook
      version: -1
    taskid: 93352b1b-6d51-4750-8068-022c63565bd6
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 160,
          "y": 500
        }
      }
version: -1
view: |-
  {
    "linkLabelsPosition": {
      "12_1_yes": 0.4
    },
    "paper": {
      "dimensions": {
        "height": 2255,
        "width": 3800,
        "x": -480,
        "y": -730
      }
    }
  }
