playbook-email_send_v3.yml
contentitemexportablefields:
  contentitemfields:
    definitionid: ""
    fromServerVersion: ""
    itemVersion: ""
    packID: ""
    packName: ""
    prevname: ""
    propagationLabels:
    - all
    toServerVersion: ""
id: 268f7745-9661-4ce1-8a03-65e8529591c0
inputs: []
name: email send v3
outputs: []
quiet: true
sourceplaybookid: 3a4f4315-6e77-4b29-8799-c922921edb01
starttaskid: "0"
tasks:
  "0":
    continueonerrortype: ""
    id: "0"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "6"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: c3b0b88a-caff-4fc0-80b8-a4f98c37b70a
      iscommand: false
      name: ""
      version: -1
    taskid: c3b0b88a-caff-4fc0-80b8-a4f98c37b70a
    timertriggers: []
    type: start
    view: |-
      {
        "position": {
          "x": 130,
          "y": -690
        }
      }
  "1":
    continueonerrortype: ""
    id: "1"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "2"
    note: false
    quietmode: 0
    scriptarguments:
      emailnewbody:
        simple: |-
          <!DOCTYPE html>
          <html>

          <table>
          <thead>
          <tr>
          <th>ID</th>
          <th>CSPID</th>
          <th>Email</th>
          <th>SponserID</th>
          <th>SEmail</th>
          </tr>
          </thead>

          <tbody>
          <tr>
          <td>4</td>
          <td>emp123</td>
          <td>test@test.com</td>
          <td>123</td>
          <td>cortexxsoar2023@gmail.com</td>
          </tr>

          <tr>
          <td>3</td>
          <td>emp789</td>
          <td>def@test.com</td>
          <td>123</td>
          <td>cortexxsoar2023@gmail.com</td>
          </tr>

          </tbody>
          </table>

          </body>
          </html>
      emailnewrecipients:
        simple: cortexxsoar2023@paloaltonetworks.com
      emailnewsubject:
        simple: Test Email Communication 3
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: commands.local.cmd.set.incident
      id: 82aa1f07-e80b-4bb7-8d8b-e6e7d4c7a0bc
      iscommand: true
      name: Set Incident Fields
      script: Builtin|||setIncident
      type: regular
      version: -1
    taskid: 82aa1f07-e80b-4bb7-8d8b-e6e7d4c7a0bc
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 110,
          "y": -130
        }
      }
  "2":
    continueonerrortype: ""
    evidencedata:
      customfields: {}
      description:
        simple: User Email Communication
    id: "2"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "5"
    note: false
    quietmode: 2
    scriptarguments:
      mail_sender_instance:
        simple: Gmail Single User_instance_1
      new_thread:
        simple: "true"
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: |-
        Send email reply
        This automation runs using the default Limited User role, unless you explicitly change the permissions.
        For more information, see the section about permissions here:
        https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/6.10/Cortex-XSOAR-Administrator-Guide/Automations
      id: eb110793-d2eb-499f-8cc9-55a2b1db0c86
      iscommand: false
      name: Send Email
      script: SendEmailReply
      type: regular
      version: -1
    taskid: eb110793-d2eb-499f-8cc9-55a2b1db0c86
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 130,
          "y": 130
        }
      }
  "3":
    continueonerrortype: ""
    id: "3"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "4"
    note: false
    quietmode: 0
    scriptarguments:
      sla:
        simple: "600"
      slaField:
        simple: demosla
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: commands.local.cmd.set.incident
      id: 32bed709-1858-4a43-82c8-63e71bc655ce
      iscommand: true
      name: Set SLA
      script: Builtin|||setIncident
      type: regular
      version: -1
    taskid: 32bed709-1858-4a43-82c8-63e71bc655ce
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -430,
          "y": 670
        }
      }
  "4":
    continueonerrortype: ""
    id: "4"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 517088a8-8b2b-43c5-8d82-654258bc7a8c
      iscommand: false
      name: wait for user response
      tags:
      - userreply2
      type: regular
      version: -1
    taskid: 517088a8-8b2b-43c5-8d82-654258bc7a8c
    timertriggers:
    - action: start
      fieldname: demosla
    type: regular
    view: |-
      {
        "position": {
          "x": -440,
          "y": 840
        }
      }
  "5":
    continueonerrortype: ""
    id: "5"
    ignoreworker: true
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "7"
    note: false
    quietmode: 0
    scriptarguments:
      seconds:
        simple: "60"
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Sleep for X seconds.
      id: 7fecdf85-d439-4699-85f3-840a8956247f
      iscommand: false
      name: Sleep 1 sec
      script: Sleep
      type: regular
      version: -1
    taskid: 7fecdf85-d439-4699-85f3-840a8956247f
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 110,
          "y": 340
        }
      }
  "6":
    continueonerrortype: ""
    id: "6"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "1"
    note: false
    quietmode: 0
    scriptarguments:
      name:
        simple: email-${incident.id}
      timeout:
        simple: "500"
    separatecontext: false
    skipunavailable: false
    task:
      brand: Demisto Lock
      description: Gets a specific lock. If the lock doesn't exist, it creates one.
        If the lock is already in use, the command waits until the lock is released
        or until timeout is reached. If timeout is reached and the lock hasn't been
        released, the command fails to get the lock.
      id: b2c507d9-33b1-4b6b-8e0c-122197de5cc8
      iscommand: true
      name: demisto lock
      script: Demisto Lock|||demisto-lock-get
      type: regular
      version: -1
    taskid: b2c507d9-33b1-4b6b-8e0c-122197de5cc8
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 110,
          "y": -380
        }
      }
  "7":
    continueonerrortype: ""
    id: "7"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "8"
    note: false
    quietmode: 0
    scriptarguments:
      name:
        simple: email-${incident.id}
    separatecontext: false
    skipunavailable: false
    task:
      brand: Demisto Lock
      description: Release a lock
      id: aa0446a5-1535-4cd4-8915-68b1b1b00de5
      iscommand: true
      name: demisto release lock
      script: Demisto Lock|||demisto-lock-release
      type: regular
      version: -1
    taskid: aa0446a5-1535-4cd4-8915-68b1b1b00de5
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 110,
          "y": 525
        }
      }
  "8":
    continueonerrortype: ""
    id: "8"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 420c2d76-dfe4-4a00-8d1d-00c11298555b
      iscommand: false
      name: end
      type: title
      version: -1
    taskid: 420c2d76-dfe4-4a00-8d1d-00c11298555b
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 110,
          "y": 790
        }
      }
version: -1
view: |-
  {
    "linkLabelsPosition": {},
    "paper": {
      "dimensions": {
        "height": 1625,
        "width": 950,
        "x": -440,
        "y": -690
      }
    }
  }
