playbook-PostIncidentReportPlaybook.yml
contentitemexportablefields:
  contentitemfields:
    definitionid: ""
    fromServerVersion: ""
    itemVersion: ""
    packID: ""
    packName: ""
    prevname: ""
    propagationLabels:
    - all
    toServerVersion: ""
id: a9314178-d928-4008-89c3-c96311128390
inputs:
- description: ""
  key: name
  playbookInputQuery: null
  required: false
  value: {}
- description: ""
  key: closedtime
  playbookInputQuery: null
  required: false
  value: {}
- description: ""
  key: assigneduser
  playbookInputQuery: null
  required: false
  value: {}
name: PostIncidentReportPlaybook
outputs: []
starttaskid: "0"
tasks:
  "0":
    continueonerrortype: ""
    id: "0"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "1"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 5f8d36ba-ff28-4936-85b9-0f3bd2d4fc29
      iscommand: false
      name: ""
      version: -1
    taskid: 5f8d36ba-ff28-4936-85b9-0f3bd2d4fc29
    timertriggers: []
    type: start
    view: |-
      {
        "position": {
          "x": 50,
          "y": 50
        }
      }
  "1":
    continueonerrortype: ""
    form:
      description: ""
      expired: false
      questions:
      - defaultrows: []
        fieldassociated: ""
        gridcolumns: []
        id: "0"
        label: ""
        labelarg:
          simple: Summary of the Incident
        options: []
        optionsarg: []
        placeholder: ""
        readonly: false
        required: false
        tooltip: ""
        type: longText
      - defaultrows: []
        fieldassociated: ""
        gridcolumns: []
        id: "1"
        label: ""
        labelarg:
          simple: Affected Resources in the Incident
        options: []
        optionsarg: []
        placeholder: ""
        readonly: false
        required: false
        tooltip: ""
        type: longText
      - defaultrows: []
        fieldassociated: ""
        gridcolumns: []
        id: "2"
        label: ""
        labelarg:
          simple: Impact due to the incident
        options: []
        optionsarg: []
        placeholder: ""
        readonly: false
        required: false
        tooltip: ""
        type: shortText
      - defaultrows: []
        fieldassociated: ""
        gridcolumns: []
        id: "3"
        label: ""
        labelarg:
          simple: Root Cause of the incident
        options: []
        optionsarg: []
        placeholder: ""
        readonly: false
        required: false
        tooltip: ""
        type: shortText
      - defaultrows: []
        fieldassociated: ""
        gridcolumns: []
        id: "4"
        label: ""
        labelarg:
          simple: Lessons Learned from this Incident
        options: []
        optionsarg: []
        placeholder: ""
        readonly: false
        required: false
        tooltip: ""
        type: shortText
      - defaultrows: []
        fieldassociated: ""
        gridcolumns: []
        id: "5"
        label: ""
        labelarg:
          simple: Planned Actions from the Incident
        options: []
        optionsarg: []
        placeholder: ""
        readonly: false
        required: false
        tooltip: ""
        type: longText
      sender: ""
      title: Post Incident Report
      totalanswers: 0
    id: "1"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    message:
      bcc: null
      body:
        simple: Please fill in the PIR
      cc: null
      format: ""
      methods:
      - email
      subject:
        simple: Please fill in the Data for Post Incident Report
      timings:
        completeafterreplies: 1
        completeaftersla: false
        completeafterv2: true
        retriescount: 2
        retriesinterval: 360
      to:
        simple: sramesh1@paloaltonetworks.com
    nexttasks:
      '#none#':
      - "2"
    note: true
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: a411b09b-dce8-4fb3-8a47-c4a61c5d901a
      iscommand: false
      name: Post Incident Report Data Collection
      type: collection
      version: -1
    taskid: a411b09b-dce8-4fb3-8a47-c4a61c5d901a
    timertriggers: []
    type: collection
    view: |-
      {
        "position": {
          "x": 50,
          "y": 195
        }
      }
  "2":
    continueonerrortype: ""
    id: "2"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "4"
    note: false
    quietmode: 0
    scriptarguments:
      body:
        simple: "Hi, \n\n\nHere is the PIR for your reference\n\n\n\nRegards,\nSrikanth
          Ramesh"
      subject:
        simple: Post Incident Report for Incident ID ${incident.id}
      to:
        simple: sramesh1@paloaltonetworks.com
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Sends an email using EWS.
      id: 97f60a3c-e8c9-4593-8c8c-89b93da70f6a
      iscommand: true
      name: Send Post Incident Report Data to Stakeholders
      script: '|||send-mail'
      type: regular
      version: -1
    taskid: 97f60a3c-e8c9-4593-8c8c-89b93da70f6a
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 50,
          "y": 370
        }
      }
  "3":
    continueonerrortype: ""
    id: "3"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    scriptarguments:
      id:
        complex:
          accessor: id
          root: incident
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: commands.local.cmd.close.inv
      id: 648a8421-ff62-4503-8f51-110d54120d27
      iscommand: true
      name: Close Main Incident
      script: Builtin|||closeInvestigation
      type: regular
      version: -1
    taskid: 648a8421-ff62-4503-8f51-110d54120d27
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 50,
          "y": 1070
        }
      }
  "4":
    continueonerrortype: ""
    id: "4"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    message:
      bcc: null
      body:
        simple: Are there any actions to be Tracked from this incident
      cc: null
      format: ""
      methods: []
      replyOptions:
      - "Yes"
      - "No"
      subject: null
      timings:
        completeafterreplies: 1
        completeaftersla: false
        completeafterv2: true
        retriescount: 2
        retriesinterval: 360
      to: null
    nexttasks:
      "No":
      - "3"
      "Yes":
      - "5"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 55f6ca65-de70-4fc3-8edd-ba68706de828
      iscommand: false
      name: Are there any actions to be Tracked from this incident
      type: condition
      version: -1
    taskid: 55f6ca65-de70-4fc3-8edd-ba68706de828
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 50,
          "y": 545
        }
      }
  "5":
    continueonerrortype: ""
    id: "5"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    message:
      bcc: null
      body:
        simple: What is the Planned Action Status
      cc: null
      format: ""
      methods: []
      replyOptions:
      - Pending
      - Completed
      subject: null
      timings:
        completeafterreplies: 1
        completeaftersla: false
        completeafterv2: true
        retriescount: 2
        retriesinterval: 360
      to: null
    nexttasks:
      Completed:
      - "3"
      Pending:
      - "7"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: d4af144f-def5-41d8-8e84-db6f73df6903
      iscommand: false
      name: Planned Action Status
      type: condition
      version: -1
    taskid: d4af144f-def5-41d8-8e84-db6f73df6903
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 162.5,
          "y": 720
        }
      }
  "7":
    continueonerrortype: ""
    id: "7"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "3"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 96fbcb4b-9545-4c00-8fb8-1c7a6e700e68
      iscommand: false
      name: Close this task after completion of Planned activities
      type: regular
      version: -1
    taskid: 96fbcb4b-9545-4c00-8fb8-1c7a6e700e68
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 275,
          "y": 895
        }
      }
version: -1
view: |-
  {
    "linkLabelsPosition": {},
    "paper": {
      "dimensions": {
        "height": 1115,
        "width": 605,
        "x": 50,
        "y": 50
      }
    }
  }
