playbook-TCS-Tag_TCS_Public_CIDR_Address_v1.0_Kunal.yml
contentitemexportablefields:
  contentitemfields:
    definitionid: ""
    fromServerVersion: ""
    itemVersion: ""
    packID: ""
    packName: ""
    prevname: ""
    propagationLabels:
    - all
    toServerVersion: ""
id: 4aba31a5-af91-4101-889b-885b17a45e87
inputs:
- description: ""
  key: CIDR
  playbookInputQuery: null
  required: false
  value: {}
name: TCS-Tag TCS Public CIDR Address v1.0_Kunal
outputs: []
sourceplaybookid: 4f9ba77e-c7d6-4a06-8c5a-10cb765b9c20
starttaskid: "0"
tasks:
  "0":
    continueonerrortype: ""
    id: "0"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "1"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 5b010e81-cc61-407b-83fb-c27472037f70
      iscommand: false
      name: ""
      version: -1
    taskid: 5b010e81-cc61-407b-83fb-c27472037f70
    timertriggers: []
    type: start
    view: |-
      {
        "position": {
          "x": 650,
          "y": -200
        }
      }
  "1":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                root: indicator
          operator: isExists
          right:
            value: {}
      label: "yes"
    continueonerrortype: ""
    id: "1"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "3"
      "yes":
      - "2"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: e642a9f6-25c2-4bc7-82e1-58a5b90df876
      iscommand: false
      name: Is Indicator Context Set ?
      type: condition
      version: -1
    taskid: e642a9f6-25c2-4bc7-82e1-58a5b90df876
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 650,
          "y": -20
        }
      }
  "2":
    continueonerrortype: ""
    id: "2"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "3"
    note: false
    quietmode: 0
    scriptarguments:
      key:
        simple: indicator
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Delete field from context
      id: 93cfb3be-2347-4d4c-8d07-fe5f0787e233
      iscommand: false
      name: Delete 'Indicator' Context
      script: DeleteContext
      type: regular
      version: -1
    taskid: 93cfb3be-2347-4d4c-8d07-fe5f0787e233
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 650,
          "y": 190
        }
      }
  "3":
    continueonerrortype: ""
    id: "3"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "4"
    note: false
    quietmode: 0
    scriptarguments:
      extend-context:
        simple: indicator.value=value::indicator.tag=CustomFields.tags
      using:
        simple: InnerServicesModule
      value:
        complex:
          root: inputs.CIDR
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: commands.local.cmd.find.indicators
      id: a545458a-66a2-4073-89dd-2862e456983c
      iscommand: true
      name: Check If Indicator Exists
      script: Builtin|||findIndicators
      type: regular
      version: -1
    taskid: a545458a-66a2-4073-89dd-2862e456983c
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 650,
          "y": 410
        }
      }
  "4":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                accessor: value
                root: indicator
          operator: isExists
          right:
            value: {}
      label: "yes"
    continueonerrortype: ""
    id: "4"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "8"
      "yes":
      - "5"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: bd7ebe81-28c7-4f02-8d35-2d1ad2a09e0e
      iscommand: false
      name: Found Indicator ?
      type: condition
      version: -1
    taskid: bd7ebe81-28c7-4f02-8d35-2d1ad2a09e0e
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 650,
          "y": 590
        }
      }
  "5":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                accessor: tag
                root: indicator
                transformers:
                - operator: toLowerCase
          operator: isEqualString
          right:
            value:
              simple: tcspublicip
      label: "yes"
    continueonerrortype: ""
    id: "5"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "7"
      "yes":
      - "9"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 09afa274-389a-4676-8352-aa8217f8953c
      iscommand: false
      name: Is This Indicator TCSPublicIP Tagged ?
      type: condition
      version: -1
    taskid: 09afa274-389a-4676-8352-aa8217f8953c
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 650,
          "y": 800
        }
      }
  "6":
    continueonerror: true
    continueonerrortype: ""
    id: "6"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    scriptarguments:
      field:
        simple: tags
      fieldValue:
        simple: ${indicator.tag}
      indicatorsValues:
        simple: ${inputs.IP}
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: commands.local.cmd.remove.values.to.indicator.multi.select.field
      id: f5031b16-5d29-4893-8b72-07aec11437e0
      iscommand: true
      name: Remove Old Tag
      script: Builtin|||removeIndicatorField
      type: regular
      version: -1
    taskid: f5031b16-5d29-4893-8b72-07aec11437e0
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 650,
          "y": 1020
        }
      }
  "7":
    continueonerrortype: ""
    id: "7"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "9"
    note: false
    quietmode: 0
    scriptarguments:
      tags:
        simple: TCSPublicIP
      value:
        simple: ${inputs.CIDR}
      verdict:
        simple: Benign
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: commands.local.cmd.set.indicator
      id: 2ad28d0b-c997-46c2-87ca-5ee232ce1fed
      iscommand: true
      name: Add New TCSPublicIP Tag
      script: Builtin|||setIndicator
      type: regular
      version: -1
    taskid: 2ad28d0b-c997-46c2-87ca-5ee232ce1fed
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 650,
          "y": 1210
        }
      }
  "8":
    continueonerrortype: ""
    id: "8"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "9"
    note: false
    quietmode: 0
    scriptarguments:
      execution-timeout:
        simple: "1000000"
      retry-count:
        simple: "3"
      source:
        simple: ${incident.id}
      tags:
        simple: TCSPublicIP
      type:
        simple: CIDR
      value:
        simple: ${inputs.CIDR}
      verdict:
        simple: Benign
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: commands.local.cmd.new.indicator
      id: 5ca43da2-692d-4d99-817d-c3258956be4c
      iscommand: true
      name: Tag The Indicator With 'TCSPublicIP'
      script: Builtin|||createNewIndicator
      type: regular
      version: -1
    taskid: 5ca43da2-692d-4d99-817d-c3258956be4c
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 170,
          "y": 1210
        }
      }
  "9":
    continueonerrortype: ""
    id: "9"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 10f8ee93-fcd5-46cd-8058-f05ba92878ca
      iscommand: false
      name: The End
      type: title
      version: -1
    taskid: 10f8ee93-fcd5-46cd-8058-f05ba92878ca
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 650,
          "y": 1500
        }
      }
version: -1
view: |-
  {
    "linkLabelsPosition": {},
    "paper": {
      "dimensions": {
        "height": 1765,
        "width": 860,
        "x": 170,
        "y": -200
      }
    }
  }
