playbook-TCS-Add_New_RF80_URL_Indicator_v1.0_KK.yml
contentitemexportablefields:
  contentitemfields:
    definitionid: ""
    fromServerVersion: ""
    itemVersion: ""
    packID: ""
    packName: ""
    prevname: ""
    propagationLabels:
    - all
    toServerVersion: ""
id: 0a5ef012-0b42-45c7-87e6-2295cb107ebe
inputs:
- description: ""
  key: URL
  playbookInputQuery: null
  required: false
  value: {}
name: TCS-Add New RF80 URL Indicator v1.0_KK
outputs: []
sourceplaybookid: a69ebb8f-5c40-468e-822c-d117da401d5c
starttaskid: "0"
tasks:
  "0":
    continueonerrortype: ""
    id: "0"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "1"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: aec71591-3594-41a3-8793-9b0f4ad86df3
      iscommand: false
      name: ""
      version: -1
    taskid: aec71591-3594-41a3-8793-9b0f4ad86df3
    timertriggers: []
    type: start
    view: |-
      {
        "position": {
          "x": -350,
          "y": -1410
        }
      }
  "1":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                root: indicator
          operator: isExists
      label: "yes"
    continueonerrortype: ""
    id: "1"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "3"
      "yes":
      - "2"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 9ce24e11-53ce-4065-8dea-b9bcad32209e
      iscommand: false
      name: Is Indicator Context Set ?
      type: condition
      version: -1
    taskid: 9ce24e11-53ce-4065-8dea-b9bcad32209e
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": -350,
          "y": -920
        }
      }
  "2":
    continueonerrortype: ""
    id: "2"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "3"
    note: false
    quietmode: 0
    scriptarguments:
      key:
        simple: indicator
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Delete field from context
      id: fdc4dcfa-227b-42db-828f-da26f64f1619
      iscommand: false
      name: Delete 'Indicator' Context
      script: DeleteContext
      type: regular
      version: -1
    taskid: fdc4dcfa-227b-42db-828f-da26f64f1619
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -350,
          "y": -710
        }
      }
  "3":
    continueonerrortype: ""
    id: "3"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "4"
    note: false
    quietmode: 0
    scriptarguments:
      extend-context:
        simple: indicator.value=value::indicator.tag=CustomFields.tags
      using:
        simple: InnerServicesModule
      value:
        complex:
          root: inputs.URL
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: commands.local.cmd.find.indicators
      id: a74728d5-44b5-4c87-8115-0400f6450322
      iscommand: true
      name: Check If Indicator Exists
      script: Builtin|||findIndicators
      type: regular
      version: -1
    taskid: a74728d5-44b5-4c87-8115-0400f6450322
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -350,
          "y": -480
        }
      }
  "4":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                accessor: value
                root: indicator
          operator: isExists
          right:
            value: {}
      label: "yes"
    continueonerrortype: ""
    id: "4"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "9"
      "yes":
      - "5"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: ff5a143d-59a7-46c2-84d0-3ec60c82ad35
      iscommand: false
      name: Found Indicator ?
      type: condition
      version: -1
    taskid: ff5a143d-59a7-46c2-84d0-3ec60c82ad35
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": -350,
          "y": -300
        }
      }
  "5":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                accessor: tag
                root: indicator
                transformers:
                - operator: toLowerCase
          operator: isEqualString
          right:
            value:
              simple: CERTBlockURL
        - left:
            iscontext: true
            value:
              complex:
                accessor: tag
                root: indicator
                transformers:
                - operator: toLowerCase
          operator: isEqualString
          right:
            value:
              simple: COSCBlockURL
      label: "yes"
    continueonerrortype: ""
    id: "5"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "6"
      "yes":
      - "10"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 1ca24c92-fdcb-439d-89d3-b953571cd84e
      iscommand: false
      name: Is This Indicator CERT or CSOC Tagged ?
      type: condition
      version: -1
    taskid: 1ca24c92-fdcb-439d-89d3-b953571cd84e
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": -350,
          "y": -70
        }
      }
  "6":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                accessor: tag
                root: indicator
          operator: isExists
      label: "yes"
    continueonerrortype: ""
    id: "6"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "8"
      "yes":
      - "7"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: fd3c3cd3-b791-46b4-8c34-268943119e73
      iscommand: false
      name: Is Indicator Tag Context Defined ?
      type: condition
      version: -1
    taskid: fd3c3cd3-b791-46b4-8c34-268943119e73
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": -350,
          "y": 210
        }
      }
  "7":
    continueonerrortype: ""
    id: "7"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "8"
    note: false
    quietmode: 0
    scriptarguments:
      field:
        simple: tags
      fieldValue:
        simple: ${indicator.tag}
      indicatorsValues:
        simple: ${inputs.URL}
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: commands.local.cmd.remove.values.to.indicator.multi.select.field
      id: 7502f5fe-91cd-410a-82dc-47dd76570295
      iscommand: true
      name: Remove Old Tag
      script: Builtin|||removeIndicatorField
      type: regular
      version: -1
    taskid: 7502f5fe-91cd-410a-82dc-47dd76570295
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -350,
          "y": 490
        }
      }
  "8":
    continueonerrortype: ""
    id: "8"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "10"
    note: false
    quietmode: 0
    scriptarguments:
      tags:
        simple: rfblockedURL
      value:
        simple: ${inputs.URL}
      verdict:
        simple: Malicious
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: commands.local.cmd.set.indicator
      id: 88c283f1-47bb-4a2f-8538-23747f19f4e8
      iscommand: true
      name: Add New 'rfblockedURL' Tag
      script: Builtin|||setIndicator
      type: regular
      version: -1
    taskid: 88c283f1-47bb-4a2f-8538-23747f19f4e8
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -350,
          "y": 700
        }
      }
  "9":
    continueonerrortype: ""
    id: "9"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "10"
    note: false
    quietmode: 0
    scriptarguments:
      execution-timeout:
        simple: "1000000"
      retry-count:
        simple: "3"
      source:
        simple: ${incident.id}
      tags:
        simple: rfblockedURL
      type:
        simple: URL
      value:
        complex:
          root: inputs.URL
      verdict:
        simple: Malicious
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: commands.local.cmd.new.indicator
      id: a0ff757f-053a-4631-81a6-192de1a47141
      iscommand: true
      name: Tag The Indicator With 'rfblockedURL'
      script: Builtin|||createNewIndicator
      type: regular
      version: -1
    taskid: a0ff757f-053a-4631-81a6-192de1a47141
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -810,
          "y": 700
        }
      }
  "10":
    continueonerrortype: ""
    id: "10"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: a9c1ff88-bc83-4a36-88d0-a30b772bd8dd
      iscommand: false
      name: Done
      type: title
      version: -1
    taskid: a9c1ff88-bc83-4a36-88d0-a30b772bd8dd
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": -80,
          "y": 980
        }
      }
version: -1
view: |-
  {
    "linkLabelsPosition": {
      "1_3_#default#": 0.78
    },
    "paper": {
      "dimensions": {
        "height": 2455,
        "width": 1110,
        "x": -810,
        "y": -1410
      }
    }
  }
