playbook-TCS-Investigation_Playbook-Attack_Vector-C&C_V2.0_KK.yml
contentitemexportablefields:
  contentitemfields:
    definitionid: ""
    fromServerVersion: ""
    itemVersion: ""
    packID: ""
    packName: ""
    prevname: ""
    propagationLabels:
    - all
    toServerVersion: ""
hidden: true
id: 306eced3-4963-4554-810e-73fd5a766efd
inputs: []
name: TCS-Investigation Playbook-Attack Vector-C&C V2.0_KK
outputs: []
quiet: true
sourceplaybookid: 988d87a9-fb4c-4d7b-82cd-f2fbfa1b2070
starttaskid: "0"
tasks:
  "0":
    continueonerrortype: ""
    id: "0"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "58"
      - "53"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 885bed2c-1932-46fc-8bd1-d2c23788180b
      iscommand: false
      name: ""
      version: -1
    taskid: 885bed2c-1932-46fc-8bd1-d2c23788180b
    timertriggers: []
    type: start
    view: |-
      {
        "position": {
          "x": 480,
          "y": -410
        }
      }
  "2":
    continueonerrortype: ""
    id: "2"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "3"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Expose the incident owner into IncidentOwner context key
      id: e13248fa-5fa1-40ec-8bf2-de278f806fc0
      iscommand: false
      name: Populate Incident Owner Context
      script: ExposeIncidentOwner
      type: regular
      version: -1
    taskid: e13248fa-5fa1-40ec-8bf2-de278f806fc0
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 480,
          "y": 1465
        }
      }
  "3":
    continueonerrortype: ""
    id: "3"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "21"
    note: false
    quietmode: 0
    scriptarguments:
      roles:
        complex:
          accessor: demisto
          root: IncidentOwner.roles
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: commands.local.cmd.set.incident
      id: 889dde6e-d891-49e6-8092-88f5d064a131
      iscommand: true
      name: Set Investigator Role In Context
      script: Builtin|||setIncident
      type: regular
      version: -1
    taskid: 889dde6e-d891-49e6-8092-88f5d064a131
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 480,
          "y": 1625
        }
      }
  "4":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                accessor: runStatus
                root: incident.responsesla
          operator: isEqualString
          right:
            value:
              simple: running
      label: "yes"
    continueonerrortype: ""
    id: "4"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "11"
      "yes":
      - "5"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 37bdb213-4892-4d00-87f3-c5dbb6948d4b
      iscommand: false
      name: Is Response SLA Still Running ?
      type: condition
      version: -1
    taskid: 37bdb213-4892-4d00-87f3-c5dbb6948d4b
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 480,
          "y": 2470
        }
      }
  "5":
    continueonerrortype: ""
    form:
      description: ""
      expired: false
      questions:
      - defaultrows: []
        fieldassociated: ""
        gridcolumns: []
        id: "0"
        label: ""
        labelarg:
          simple: Have You Completed This Task
        options: []
        optionsarg:
        - {}
        - simple: Yes - Move To The Next Task
        placeholder: ""
        readonly: false
        required: true
        tooltip: ""
        type: singleSelect
      sender: ""
      title: Please Click The 'Lets Get Started!' Button
      totalanswers: 0
    id: "5"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    message:
      bcc: null
      body: null
      cc: null
      format: ""
      methods: []
      subject: null
      timings:
        completeafterreplies: 1
        completeaftersla: false
        completeafterv2: true
        retriescount: 2
        retriesinterval: 360
      to: null
    nexttasks:
      '#none#':
      - "11"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 9b66e42e-fb08-46cb-8c12-f0ee2b6f2a70
      iscommand: false
      name: Please Click The 'Lets Get Started!' Button
      type: collection
      version: -1
    taskid: 9b66e42e-fb08-46cb-8c12-f0ee2b6f2a70
    timertriggers: []
    type: collection
    view: |-
      {
        "position": {
          "x": 1022.5,
          "y": 2645
        }
      }
  "7":
    continueonerrortype: ""
    id: "7"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    message:
      bcc: null
      body:
        simple: Is This a True Positive Alert ?
      cc: null
      format: ""
      methods: []
      replyOptions:
      - No, Its a Confirmed - False Positive
      - Not Sure - To Be Determined
      - No, Its a Benign-True Positive
      - Yes, it is True Positive
      subject: null
      timings:
        completeafterreplies: 1
        completeaftersla: false
        completeafterv2: true
        retriescount: 2
        retriesinterval: 360
      to:
        simple: Analyst
    nexttasks:
      No, Its a Benign-True Positive:
      - "73"
      No, Its a Confirmed - False Positive:
      - "40"
      Not Sure - To Be Determined:
      - "44"
      Yes, it is True Positive:
      - "77"
    note: false
    quietmode: 2
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 66d607ea-50bb-4ffd-85e7-8d02ee4a63c1
      iscommand: false
      name: Is This a True Positive Alert ?
      tags:
      - report
      type: condition
      version: -1
    taskid: 66d607ea-50bb-4ffd-85e7-8d02ee4a63c1
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 140,
          "y": 2965
        }
      }
  "11":
    continueonerrortype: ""
    id: "11"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "7"
      - "56"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 5c6707a2-6028-4abb-87d8-4128a120079d
      iscommand: false
      name: Stop Response SLA
      type: title
      version: -1
    taskid: 5c6707a2-6028-4abb-87d8-4128a120079d
    timertriggers:
    - action: stop
      fieldname: responsesla
    type: title
    view: |-
      {
        "position": {
          "x": 480,
          "y": 2820
        }
      }
  "21":
    continueonerrortype: ""
    id: "21"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "35"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 0e2e14a2-0d38-480b-8dfd-45770cb2b27f
      iscommand: false
      name: Stage 2
      type: title
      version: -1
    taskid: 0e2e14a2-0d38-480b-8dfd-45770cb2b27f
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 480,
          "y": 1800
        }
      }
  "32":
    continueonerrortype: ""
    id: "32"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "64"
    note: false
    quietmode: 0
    scriptarguments:
      desc:
        complex:
          accessor: description
          root: incident.labels
      incidentid:
        complex:
          accessor: id
          root: incident
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: ceae15cb-e5d2-4ff9-8f08-1bbae8ac5660
      iscommand: false
      name: AutoAssign Analyst To Incident
      script: 0021cb92-321d-4754-81a1-66fc6a41635d
      type: regular
      version: -1
    taskid: ceae15cb-e5d2-4ff9-8f08-1bbae8ac5660
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 840,
          "y": 1070
        }
      }
  "35":
    continueonerrortype: ""
    id: "35"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "36"
    note: false
    quietmode: 0
    scriptarguments:
      key:
        simple: OrignalSeverity
      value:
        simple: ${incident.severity}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Set a value in context under the key you entered.
      id: 23093148-5ec0-4d56-8096-58a6cd918b35
      iscommand: false
      name: Set Orignal Severity to Context
      script: Set
      type: regular
      version: -1
    taskid: 23093148-5ec0-4d56-8096-58a6cd918b35
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 480,
          "y": 1945
        }
      }
  "36":
    continueonerrortype: ""
    id: "36"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "37"
    note: false
    quietmode: 0
    scriptarguments:
      severity:
        simple: "0.5"
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: commands.local.cmd.set.incident
      id: f96a42ac-8f7f-4027-8d8f-5a5a42973d72
      iscommand: true
      name: Set Severity to Informational
      script: Builtin|||setIncident
      type: regular
      version: -1
    taskid: f96a42ac-8f7f-4027-8d8f-5a5a42973d72
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 480,
          "y": 2120
        }
      }
  "37":
    continueonerrortype: ""
    id: "37"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "4"
    note: false
    quietmode: 0
    scriptarguments:
      severity:
        simple: ${OrignalSeverity}
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: commands.local.cmd.set.incident
      id: 0351ce2f-b2ca-441e-8e0c-23f5502c0001
      iscommand: true
      name: 'Set Original Severity to Incident '
      script: Builtin|||setIncident
      type: regular
      version: -1
    taskid: 0351ce2f-b2ca-441e-8e0c-23f5502c0001
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 480,
          "y": 2295
        }
      }
  "40":
    continueonerrortype: ""
    id: "40"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "45"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: e1136034-96fc-4edf-8e79-790f1de31332
      iscommand: false
      name: Document & Close Investigation - False Positive
      type: title
      version: -1
    taskid: e1136034-96fc-4edf-8e79-790f1de31332
    timertriggers:
    - action: stop
      fieldname: detectionsla
    type: title
    view: |-
      {
        "position": {
          "x": 570,
          "y": 4375
        }
      }
  "43":
    continueonerrortype: ""
    id: "43"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: dc2d9067-143e-467d-84ae-734f52b123d5
      iscommand: false
      name: The End
      type: title
      version: -1
    taskid: dc2d9067-143e-467d-84ae-734f52b123d5
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 1000,
          "y": 7610
        }
      }
  "44":
    continueonerrortype: ""
    id: "44"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "79"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 6826929b-fb85-4a40-8c7d-cf35b5d61d10
      iscommand: false
      name: Triage
      type: title
      version: -1
    taskid: 6826929b-fb85-4a40-8c7d-cf35b5d61d10
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 777.5,
          "y": 3140
        }
      }
  "45":
    continueonerrortype: ""
    id: "45"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "104"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: e62384b0-74ec-44c9-8f88-76aa468b2216
      iscommand: false
      name: Document & Close Investigation
      type: title
      version: -1
    taskid: e62384b0-74ec-44c9-8f88-76aa468b2216
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 1000,
          "y": 7250
        }
      }
  "53":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                accessor: sourceBrand
                root: incident
                transformers:
                - operator: toLowerCase
          operator: isEqualString
          right:
            value:
              simple: manual
      label: Manual
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                accessor: sourceBrand
                root: incident
                transformers:
                - operator: toLowerCase
          operator: isNotEqualString
          right:
            value:
              simple: manual
      label: Tool
    continueonerrortype: ""
    id: "53"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      Manual:
      - "2"
      Tool:
      - "108"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 2d706745-eeb9-4b02-81bb-3bb4809d8ec5
      iscommand: false
      name: Manual or Tool Triggered ?
      type: condition
      version: -1
    taskid: 2d706745-eeb9-4b02-81bb-3bb4809d8ec5
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 480,
          "y": -180
        }
      }
  "56":
    continueonerror: true
    continueonerrortype: ""
    id: "56"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "44"
    note: false
    quietmode: 0
    scriptarguments:
      assigned_to:
        complex:
          accessor: phone
          root: IncidentOwner
          transformers:
          - args:
              to:
                value:
                  simple: '@'
            operator: substringTo
      execution-timeout:
        simple: "1000000"
      offense_id:
        simple: ${incident.labels.id}
      retry-count:
        simple: "3"
      using:
        simple: QRadar v3_Typosquat Offences
    separatecontext: false
    skipunavailable: false
    task:
      brand: QRadar v3
      description: Updates an offense.
      id: f45ba90c-3237-4dd6-80c6-75dc190bb4d1
      iscommand: true
      name: Update Incident Owner & Status In Qradar
      script: QRadar v3|||qradar-offense-update
      type: regular
      version: -1
    taskid: f45ba90c-3237-4dd6-80c6-75dc190bb4d1
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -300,
          "y": 2960
        }
      }
  "57":
    continueonerrortype: ""
    id: "57"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 100
      wait: 1
    nexttasks:
      '#none#':
      - "21"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 044419b5-6d02-45ee-8cce-c730cda7e6e0
      iscommand: false
      name: 'TCS-Contextualize Qradar Offence Data 1.0_KK_WIP '
      playbookId: 003de9e0-5f09-4905-85ee-3b0874f039e1
      type: playbook
      version: -1
    taskid: 044419b5-6d02-45ee-8cce-c730cda7e6e0
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 50,
          "y": 1625
        }
      }
  "58":
    continueonerrortype: ""
    id: "58"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "57"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 0c8a8b06-6463-4b8c-8065-902e6db5854d
      iscommand: false
      name: 'Contextualize & Enrich Qradar Offence '
      type: title
      version: -1
    taskid: 0c8a8b06-6463-4b8c-8065-902e6db5854d
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 50,
          "y": 1465
        }
      }
  "63":
    continueonerror: true
    continueonerrortype: ""
    id: "63"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "32"
    note: false
    quietmode: 0
    scriptarguments:
      name:
        simple: AutoAssignment_Lock
      timeout:
        simple: "600"
    separatecontext: false
    skipunavailable: false
    task:
      brand: Demisto Lock
      description: Gets a specific lock. If the lock doesn't exist, it creates one.
        If the lock is already in use, the command waits until the lock is released
        or until timeout is reached. If timeout is reached and the lock hasn't been
        released, the command fails to get the lock.
      id: 2979ab65-49c5-4eaf-87b7-8e24d3c5eef9
      iscommand: true
      name: Locking the Assignment Task
      script: Demisto Lock|||demisto-lock-get
      type: regular
      version: -1
    taskid: 2979ab65-49c5-4eaf-87b7-8e24d3c5eef9
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 840,
          "y": 915
        }
      }
  "64":
    continueonerrortype: ""
    id: "64"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "2"
    note: false
    quietmode: 0
    scriptarguments:
      name:
        simple: AutoAssignment_Lock
    separatecontext: false
    skipunavailable: false
    task:
      brand: Demisto Lock
      description: Release a lock
      id: 272e4036-5e8b-4dbb-8d28-d1455715ac1e
      iscommand: true
      name: Release the Assignment Task
      script: Demisto Lock|||demisto-lock-release
      type: regular
      version: -1
    taskid: 272e4036-5e8b-4dbb-8d28-d1455715ac1e
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 840,
          "y": 1235
        }
      }
  "73":
    continueonerrortype: ""
    id: "73"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "45"
    note: true
    quietmode: 2
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 2480e056-9ba9-4f36-85ca-eec2f66095a9
      iscommand: false
      name: Document & Close - Benign True Positive
      type: title
      version: -1
    taskid: 2480e056-9ba9-4f36-85ca-eec2f66095a9
    timertriggers:
    - action: stop
      fieldname: detectionsla
    type: title
    view: |-
      {
        "position": {
          "x": 140,
          "y": 4375
        }
      }
  "75":
    continueonerrortype: ""
    id: "75"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    message:
      bcc: null
      body:
        simple: Based on Your Investigation So Far - Is This a True Positive Alert
          ?
      cc: null
      format: ""
      methods: []
      replyOptions:
      - No, Its a Confirmed - False Positive
      - No, Its a Benign-True Positive
      - Yes, it is True Positive
      subject: null
      timings:
        completeafterreplies: 1
        completeaftersla: false
        completeafterv2: true
        retriescount: 2
        retriesinterval: 360
      to:
        simple: Analyst
    nexttasks:
      No, Its a Benign-True Positive:
      - "73"
      No, Its a Confirmed - False Positive:
      - "40"
      Yes, it is True Positive:
      - "76"
    note: false
    quietmode: 2
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: a2ef65dd-b78c-460c-8303-6c49b20d3ad1
      iscommand: false
      name: Based on Your Investigation So Far - Is This a True Positive Alert ?
      tags:
      - report
      type: condition
      version: -1
    taskid: a2ef65dd-b78c-460c-8303-6c49b20d3ad1
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 777.5,
          "y": 4100
        }
      }
  "76":
    continueonerrortype: ""
    id: "76"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "82"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 001d1d7c-25c3-47da-8faf-790f7bf5a539
      iscommand: false
      name: Stop Detection SLA
      type: title
      version: -1
    taskid: 001d1d7c-25c3-47da-8faf-790f7bf5a539
    timertriggers:
    - action: stop
      fieldname: detectionsla
    type: title
    view: |-
      {
        "position": {
          "x": 1000,
          "y": 4375
        }
      }
  "77":
    continueonerrortype: ""
    id: "77"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "97"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 78703886-f95b-42a2-8c78-4f85b8fd9dfc
      iscommand: false
      name: Triage
      type: title
      version: -1
    taskid: 78703886-f95b-42a2-8c78-4f85b8fd9dfc
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 1320,
          "y": 3140
        }
      }
  "79":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: ${incident.offenceSource}
          operator: IsRFC1918Address
          right:
            value:
              simple: as
      label: "yes"
    continueonerrortype: ""
    formDisplay:
      bodybackgroundcolor: ""
      bodyfontcolor: ""
      headerbackgroundcolor: ""
      headerfontcolor: ""
      isexternalrtl: false
      sender: ""
      submitbuttonbackgroundcolor: ""
      submitbuttonfontcolor: ""
      submittext: ""
    id: "79"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      Private:
      - "80"
      Public:
      - "81"
    note: false
    quietmode: 2
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 5a750de8-913f-4584-8348-2629d9e3cb2c
      iscommand: false
      name: Is source IP Private or Public ?
      tags:
      - report
      type: condition
      version: -1
    taskid: 5a750de8-913f-4584-8348-2629d9e3cb2c
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 777.5,
          "y": 3280
        }
      }
  "80":
    continueonerrortype: ""
    id: "80"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    message:
      bcc: null
      body:
        simple: Based on The IoC Intel, Do You Need To Change The Alert Severity ?
      cc: null
      format: ""
      methods: []
      replyOptions:
      - "Yes"
      - "No"
      subject: null
      timings:
        completeafterreplies: 1
        completeaftersla: false
        completeafterv2: true
        retriescount: 2
        retriesinterval: 360
      to: null
    nexttasks:
      "No":
      - "75"
      "Yes":
      - "98"
    note: false
    quietmode: 2
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: fe39f12f-3500-45cc-8a9c-34f7eb4ecc4f
      iscommand: false
      name: Based on The IoC Intel, Do You Need To Change The Alert Severity ?
      tags:
      - report
      type: condition
      version: -1
    taskid: fe39f12f-3500-45cc-8a9c-34f7eb4ecc4f
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 777.5,
          "y": 3670
        }
      }
  "81":
    continueonerrortype: ""
    id: "81"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    message:
      bcc: null
      body:
        simple: Review The IoC Intel To Assess The Threat Severity. Once Your Ready
          - Move To The Next Task
      cc: null
      format: ""
      methods: []
      replyOptions:
      - I'm Ready - Procced To Next Task
      subject: null
      timings:
        completeafterreplies: 1
        completeaftersla: false
        completeafterv2: true
        retriescount: 2
        retriesinterval: 360
      to: null
    nexttasks:
      Procced To Next Task:
      - "80"
    note: false
    quietmode: 2
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 92497bd7-da96-46a3-83fd-95161278df81
      iscommand: false
      name: Review The IoC Intel To Assess The Threat Severity. Once Your Ready -
        Move To The Next Task
      tags:
      - report
      type: condition
      version: -1
    taskid: 92497bd7-da96-46a3-83fd-95161278df81
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 1000,
          "y": 3465
        }
      }
  "82":
    continueonerrortype: ""
    id: "82"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    message:
      bcc: null
      body:
        simple: Any IoCs You'd Like To Block ?
      cc: null
      format: ""
      methods: []
      replyOptions:
      - "Yes"
      - No - They Are Already Blocked
      subject: null
      timings:
        completeafterreplies: 1
        completeaftersla: false
        completeafterv2: true
        retriescount: 2
        retriesinterval: 360
      to: null
    nexttasks:
      No - They Are Already Blocked:
      - "84"
      "Yes":
      - "105"
    note: false
    quietmode: 2
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 44e4d931-a98e-4783-8936-81e893f89351
      iscommand: false
      name: Any IoCs You'd Like To Block ?
      tags:
      - report
      type: condition
      version: -1
    taskid: 44e4d931-a98e-4783-8936-81e893f89351
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 1000,
          "y": 4510
        }
      }
  "83":
    continueonerrortype: ""
    id: "83"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    message:
      bcc: null
      body:
        simple: Have You Identified The Source of The C&C Request ? (identify the
          source application\script\document...etc)
      cc: null
      format: ""
      methods: []
      replyOptions:
      - "Yes"
      - "No"
      subject: null
      timings:
        completeafterreplies: 1
        completeaftersla: false
        completeafterv2: true
        retriescount: 2
        retriesinterval: 360
      to: null
    nexttasks:
      "No":
      - "85"
      "Yes":
      - "87"
    note: false
    quietmode: 2
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 2f2a9f18-1170-49c3-878f-55cb29c81a83
      iscommand: false
      name: Have You Identified The Source of The C&C Request ? (identify the source
        application\script\document...etc)
      tags:
      - report
      type: condition
      version: -1
    taskid: 2f2a9f18-1170-49c3-878f-55cb29c81a83
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 1000,
          "y": 5550
        }
      }
  "84":
    continueonerrortype: ""
    id: "84"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    message:
      bcc: null
      body:
        simple: Would You Like To Contain Any Host via CrowdStrike ?
      cc: null
      format: ""
      methods: []
      replyOptions:
      - "Yes"
      - "No"
      subject: null
      timings:
        completeafterreplies: 1
        completeaftersla: false
        completeafterv2: true
        retriescount: 2
        retriesinterval: 360
      to: null
    nexttasks:
      "No":
      - "83"
      "Yes":
      - "86"
    note: false
    quietmode: 2
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 18e05eb8-e046-4e59-816b-586835d4fb80
      iscommand: false
      name: Would You Like To Contain Any Host via CrowdStrike ?
      tags:
      - report
      type: condition
      version: -1
    taskid: 18e05eb8-e046-4e59-816b-586835d4fb80
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 1000,
          "y": 5150
        }
      }
  "85":
    continueonerrortype: ""
    id: "85"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    message:
      bcc: null
      body:
        simple: 'Collaborate With Senior L1/L2 To Identify The Source '
      cc: null
      format: ""
      methods: []
      replyOptions:
      - Yes - Source Identified - Move To Next Step
      subject: null
      timings:
        completeafterreplies: 1
        completeaftersla: false
        completeafterv2: true
        retriescount: 2
        retriesinterval: 360
      to: null
    nexttasks:
      Yes - Source Identified - Move To Next Step:
      - "87"
    note: false
    quietmode: 2
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: c95a316d-577a-46d4-8daa-89e4300ec010
      iscommand: false
      name: 'Collaborate With Senior L1/L2 To Identify The Source '
      tags:
      - report
      type: condition
      version: -1
    taskid: c95a316d-577a-46d4-8daa-89e4300ec010
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 1360,
          "y": 5720
        }
      }
  "86":
    continueonerrortype: ""
    id: "86"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 100
      wait: 1
    nexttasks:
      '#none#':
      - "83"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 7b4847cd-933f-47ca-8ddc-67eb6b0ed961
      iscommand: false
      name: TCS-OnDemand Host Containment Playbook v1.4_CM_Kunal
      playbookId: a4d833cf-d2ae-4de1-846a-992f5293b414
      type: playbook
      version: -1
    taskid: 7b4847cd-933f-47ca-8ddc-67eb6b0ed961
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 1000,
          "y": 5360
        }
      }
  "87":
    continueonerrortype: ""
    id: "87"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    message:
      bcc: null
      body:
        simple: Is There Any File You'd Like To Sandbox ? (make sure the .zip file
          is protected with password 'infected')
      cc: null
      format: ""
      methods: []
      replyOptions:
      - "Yes"
      - "No"
      subject: null
      timings:
        completeafterreplies: 1
        completeaftersla: false
        completeafterv2: true
        retriescount: 2
        retriesinterval: 360
      to: null
    nexttasks:
      "No":
      - "92"
      "Yes":
      - "88"
    note: false
    quietmode: 2
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: d6ddff64-755e-4519-861c-2e6ab0a7407c
      iscommand: false
      name: Is There Any File You'd Like To Sandbox ? (make sure the .zip file is
        protected with password 'infected')
      tags:
      - report
      type: condition
      version: -1
    taskid: d6ddff64-755e-4519-861c-2e6ab0a7407c
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 1000,
          "y": 5930
        }
      }
  "88":
    continueonerrortype: ""
    id: "88"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 100
      wait: 1
    nexttasks:
      '#none#':
      - "89"
    note: false
    quietmode: 1
    scriptarguments:
      File:
        complex:
          root: File
      Interval:
        simple: "1"
      Timeout:
        simple: "15"
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: |-
        Detonate one or more files using the Wildfire integration. This playbook
        returns relevant reports to the War Room and file reputations to the context data.
        The detonation supports the following file types -
        APK, JAR, DOC, DOCX, RTF, XLS, XLSX, PPT, PPTX, OOXML, PE32, PDF, DMG, PKG, RAR, 7Z
      id: effde168-3c73-41be-8c58-a095732cf6dc
      iscommand: false
      name: TCS-OnDemand-WildFire-Detonate File v3_KK
      playbookId: f6c63e73-b7a8-4dec-813b-cca83d83f590
      type: playbook
      version: -1
    taskid: effde168-3c73-41be-8c58-a095732cf6dc
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 1000,
          "y": 6110
        }
      }
  "89":
    continueonerrortype: ""
    id: "89"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    message:
      bcc: null
      body:
        simple: Review The Sandbox Report
      cc: null
      format: ""
      methods: []
      replyOptions:
      - Report Reviewed - Move To Next Step
      subject: null
      timings:
        completeafterreplies: 1
        completeaftersla: false
        completeafterv2: true
        retriescount: 2
        retriesinterval: 360
      to: null
    nexttasks:
      Report Reviewed - Move To Next Step:
      - "92"
    note: false
    quietmode: 2
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: dc3f1961-fd61-406f-8600-3733e10a31cd
      iscommand: false
      name: Go To The 'Evidence Dashboard' And Review The Sandbox Report
      tags:
      - report
      type: condition
      version: -1
    taskid: dc3f1961-fd61-406f-8600-3733e10a31cd
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 1000,
          "y": 6290
        }
      }
  "90":
    continueonerrortype: ""
    id: "90"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    message:
      bcc: null
      body:
        simple: Based on The IoC Intel, Do You Need To Change The Alert Severity ?
      cc: null
      format: ""
      methods: []
      replyOptions:
      - "Yes"
      - "No"
      subject: null
      timings:
        completeafterreplies: 1
        completeaftersla: false
        completeafterv2: true
        retriescount: 2
        retriesinterval: 360
      to: null
    nexttasks:
      "No":
      - "45"
      "Yes":
      - "99"
    note: false
    quietmode: 2
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: f6a8a5b2-1793-42aa-8ce4-94ae51b60992
      iscommand: false
      name: Based on The IoC Intel, Do You Need To Change The Alert Severity ?
      tags:
      - report
      type: condition
      version: -1
    taskid: f6a8a5b2-1793-42aa-8ce4-94ae51b60992
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 1000,
          "y": 6880
        }
      }
  "92":
    continueonerrortype: ""
    id: "92"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    message:
      bcc: null
      body:
        simple: Any New IoC(s) Discovered For Blocking ?
      cc: null
      format: ""
      methods: []
      replyOptions:
      - "Yes"
      - "No"
      subject: null
      timings:
        completeafterreplies: 1
        completeaftersla: false
        completeafterv2: true
        retriescount: 2
        retriesinterval: 360
      to: null
    nexttasks:
      "No":
      - "90"
      "Yes":
      - "93"
    note: false
    quietmode: 2
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 0a2a5655-c111-4b95-8fe8-b930700a19ee
      iscommand: false
      name: Any New IoC(s) Discovered For Blocking ?
      tags:
      - report
      type: condition
      version: -1
    taskid: 0a2a5655-c111-4b95-8fe8-b930700a19ee
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 1000,
          "y": 6490
        }
      }
  "93":
    continueonerrortype: ""
    id: "93"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 100
      wait: 1
    nexttasks:
      '#none#':
      - "90"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 3ca0fd6d-0670-49a7-8f87-c969a90bfdaf
      iscommand: false
      name: TCS-Respond Section Case Management v1.0_Kunal
      playbookId: 76dc63ee-7a36-456c-8fe3-b1d4e9198c97
      type: playbook
      version: -1
    taskid: 3ca0fd6d-0670-49a7-8f87-c969a90bfdaf
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 1000,
          "y": 6695
        }
      }
  "97":
    continueonerrortype: ""
    id: "97"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 100
      wait: 1
    nexttasks:
      '#none#':
      - "76"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 52ae765d-6f84-44f8-8f05-cd7bfb3605ad
      iscommand: false
      name: TCS-Triage-Case Management v2_KK_WIP
      playbookId: b82a6df1-9a17-4fae-889e-c6f7bde37df1
      type: playbook
      version: -1
    taskid: 52ae765d-6f84-44f8-8f05-cd7bfb3605ad
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 1320,
          "y": 4100
        }
      }
  "98":
    continueonerrortype: ""
    id: "98"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 100
      wait: 1
    nexttasks:
      '#none#':
      - "75"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 8c482107-3ab9-4903-87f5-d1f8cecb8172
      iscommand: false
      name: TCS-Triage-Case Management v2_KK_WIP
      playbookId: b82a6df1-9a17-4fae-889e-c6f7bde37df1
      type: playbook
      version: -1
    taskid: 8c482107-3ab9-4903-87f5-d1f8cecb8172
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 777.5,
          "y": 3895
        }
      }
  "99":
    continueonerrortype: ""
    id: "99"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 100
      wait: 1
    nexttasks:
      '#none#':
      - "45"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: ec20435f-d456-473d-8911-2988321935ea
      iscommand: false
      name: TCS-Triage-Case Management v2_KK_WIP
      playbookId: b82a6df1-9a17-4fae-889e-c6f7bde37df1
      type: playbook
      version: -1
    taskid: ec20435f-d456-473d-8911-2988321935ea
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 1140,
          "y": 7060
        }
      }
  "104":
    continueonerrortype: ""
    id: "104"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 100
      wait: 1
    nexttasks:
      '#none#':
      - "43"
    note: false
    quietmode: 1
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 87a3c552-ea2b-4f77-8d2e-32a49de638a0
      iscommand: false
      name: TCS-Document & Close Section v1_KK
      playbookId: 4a46e3dc-82da-4b3a-86ca-eb2f9dfd589f
      type: playbook
      version: -1
    taskid: 87a3c552-ea2b-4f77-8d2e-32a49de638a0
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 1000,
          "y": 7410
        }
      }
  "105":
    continueonerrortype: ""
    id: "105"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 100
      wait: 1
    nexttasks:
      '#none#':
      - "106"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: f13e8fc3-b813-462c-8996-cfd422fee3e8
      iscommand: false
      name: TCS-Select IOC To Block_CM Playbook v1_KK
      playbookId: 9dacaaf8-64e7-4758-822e-694b991ee19c
      type: playbook
      version: -1
    taskid: f13e8fc3-b813-462c-8996-cfd422fee3e8
    timertriggers:
    - action: start
      fieldname: mitigationsla
    type: playbook
    view: |-
      {
        "position": {
          "x": 1320,
          "y": 4690
        }
      }
  "106":
    continueonerrortype: ""
    id: "106"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 100
      wait: 1
    nexttasks:
      '#none#':
      - "84"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 03ba7747-f337-4d73-891d-e820fbc985b6
      iscommand: false
      name: TCS-Block-CyberSOC Shared IOC v1_KK
      playbookId: 00a90bfa-b2f8-4ee1-8f6f-84824afdd3f2
      type: playbook
      version: -1
    taskid: 03ba7747-f337-4d73-891d-e820fbc985b6
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 1320,
          "y": 4865
        }
      }
  "108":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                accessor: assigneduser
                root: incident
          operator: isNotEmpty
          right:
            value: {}
      label: "yes"
    continueonerrortype: ""
    id: "108"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "111"
      "yes":
      - "109"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: d36ce800-804e-4b8e-8e3e-53e9f6a2bf9d
      iscommand: false
      name: Check if owner is assigned in Qradar
      type: condition
      version: -1
    taskid: d36ce800-804e-4b8e-8e3e-53e9f6a2bf9d
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 840,
          "y": 180
        }
      }
  "109":
    continueonerrortype: ""
    defaultassigneecomplex: {}
    id: "109"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "110"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: commands.local.cmd.get.users
      id: d0a4bdb0-c029-493a-8c20-4418a455e955
      iscommand: true
      name: Get User List
      script: Builtin|||getUsers
      type: regular
      version: -1
    taskid: d0a4bdb0-c029-493a-8c20-4418a455e955
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1140,
          "y": 360
        }
      }
  "110":
    continueonerrortype: ""
    id: "110"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "111"
    note: false
    quietmode: 0
    scriptarguments:
      email:
        complex:
          accessor: email
          filters:
          - - left:
                iscontext: true
                value:
                  simple: DemistoUsers.phone
              operator: containsGeneral
              right:
                iscontext: true
                value:
                  simple: incident.assigneduser
          root: DemistoUsers
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: |-
        Assign analyst to incident.
        By default,  the analyst is picked randomly from the available users, according to the provided roles (if no roles provided, will fetch all users).
        Otherwise, the analyst will be picked according to the 'assignBy' arguments.
        machine-learning: DBot will calculated and decide who is the best analyst for the job.
        top-user: The user that is most commonly owns this type of incident
        less-busy-user: The less busy analyst will be picked to be the incident owner.
        online: The analyst is picked randomly from all online analysts, according to the provided roles (if no roles provided, will fetch all users).
        current: The user that executed the command
      id: b329a862-e69f-4bfb-88c6-8a917cef97bd
      iscommand: false
      name: Assign Same Analyst to XSOAR Incident
      script: AssignAnalystToIncident_V2
      type: regular
      version: -1
    taskid: b329a862-e69f-4bfb-88c6-8a917cef97bd
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1140,
          "y": 530
        }
      }
  "111":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                accessor: owner
                root: incident
          operator: isNotEmpty
          right:
            value: {}
      label: "yes"
    continueonerrortype: ""
    id: "111"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "63"
      "yes":
      - "2"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 72bd5fef-f37c-4b39-8583-b29f25f79db9
      iscommand: false
      name: Is Owner Assigned ?
      type: condition
      version: -1
    taskid: 72bd5fef-f37c-4b39-8583-b29f25f79db9
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 840,
          "y": 710
        }
      }
  "112":
    continueonerrortype: ""
    id: "112"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "108"
    note: false
    quietmode: 0
    scriptarguments:
      offense_id:
        simple: ${incident.labels.id}
      retry-count:
        simple: "3"
      retry-interval:
        simple: "180"
      using:
        simple: QRadar v3_Offence Fetch
    separatecontext: false
    skipunavailable: false
    task:
      brand: QRadar v3
      description: Gets offenses from QRadar.
      id: 6f975aef-07ec-4967-8799-023ae49dba0e
      iscommand: true
      name: Get Offence Details from Qradar
      script: QRadar v3|||qradar-offenses-list
      type: regular
      version: -1
    taskid: 6f975aef-07ec-4967-8799-023ae49dba0e
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 840,
          "y": 0
        }
      }
version: -1
view: |-
  {
    "linkLabelsPosition": {
      "53_2_Manual": 0.36,
      "75_40_No, Its a Confirmed - False Positive": 0.3,
      "79_80_Private": 0.48,
      "7_40_No, Its a Confirmed - False Positive": 0.5,
      "80_98_Yes": 0.84,
      "81_80_Procced To Next Task": 0.45,
      "82_84_No - They Are Already Blocked": 0.51,
      "83_87_Yes": 0.45,
      "85_87_Yes - Source Identified - Move To Next Step": 0.42,
      "90_99_Yes": 0.86
    },
    "paper": {
      "dimensions": {
        "height": 8085,
        "width": 2040,
        "x": -300,
        "y": -410
      }
    }
  }
