playbook-TCS-Blacklist_IOC_v3.0_KK.yml
contentitemexportablefields:
  contentitemfields:
    definitionid: ""
    fromServerVersion: ""
    itemVersion: ""
    packID: ""
    packName: ""
    prevname: ""
    propagationLabels:
    - all
    toServerVersion: ""
id: 7e0105f5-2558-456a-85df-77c9558ebba6
inputs:
- description: ""
  key: suspiciousiocs
  playbookInputQuery: null
  required: false
  value:
    complex:
      accessor: entertheiocsforblocking
      root: incident
name: TCS-Blacklist IOC v3.0_KK
outputs: []
starttaskid: "0"
tasks:
  "0":
    continueonerrortype: ""
    id: "0"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "3"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 6c90f40b-53a9-48d1-8cda-8d6564cd531b
      iscommand: false
      name: ""
      version: -1
    taskid: 6c90f40b-53a9-48d1-8cda-8d6564cd531b
    timertriggers: []
    type: start
    view: |-
      {
        "position": {
          "x": 1100,
          "y": -510
        }
      }
  "1":
    continueonerrortype: ""
    id: "1"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 100
      wait: 1
    nexttasks:
      '#none#':
      - "8"
    note: false
    quietmode: 2
    scriptarguments:
      suspiciousiocs:
        complex:
          root: inputs.suspiciousiocs
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: e73ef0ca-2242-4ef0-84ce-2032e380b394
      iscommand: false
      name: 'Sub Playbook: Validate Submitted IoC Against The Trusted IoCs List'
      playbookId: 8552084b-38e8-4976-8485-776e45de3584
      type: playbook
      version: -1
    taskid: e73ef0ca-2242-4ef0-84ce-2032e380b394
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 1100,
          "y": -200
        }
      }
  "2":
    continueonerrortype: ""
    id: "2"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 100
      wait: 1
    nexttasks:
      '#none#':
      - "5"
    note: false
    quietmode: 2
    scriptarguments:
      Domain:
        complex:
          accessor: Domain
          root: FinalBlacklist
      File:
        complex:
          accessor: Hash
          root: FinalBlacklist
      IP:
        complex:
          accessor: IPV4
          root: FinalBlacklist
      MD5:
        complex:
          accessor: MD5
          root: Blacklist
      SHA1:
        complex:
          accessor: SHA1
          root: File
          transformers:
          - operator: uniq
      SHA256:
        complex:
          accessor: SHA256
          root: Blacklist
      URL:
        complex:
          accessor: URL
          root: FinalBlacklist
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Entity Reputation using sub-playbooks
      id: 0205193b-de62-4ef5-8817-02d1559c8dd9
      iscommand: false
      name: 'Sub Playbook: Get Recorded Future IoC Risk Score'
      playbookId: 03487cba-86c9-4b9b-8a78-3805d1df14e3
      type: playbook
      version: -1
    taskid: 0205193b-de62-4ef5-8817-02d1559c8dd9
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 1810,
          "y": 500
        }
      }
  "3":
    continueonerrortype: ""
    id: "3"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "1"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: acae8203-afb6-45dd-8d14-2618693dd7d4
      iscommand: false
      name: Check For Trusted IoC(s)
      type: title
      version: -1
    taskid: acae8203-afb6-45dd-8d14-2618693dd7d4
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 1100,
          "y": -340
        }
      }
  "4":
    continueonerrortype: ""
    id: "4"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "2"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 0c7f257b-e467-4909-860d-e87a93de65cf
      iscommand: false
      name: Check For IoC(s) Below Risk Score 65
      type: title
      version: -1
    taskid: 0c7f257b-e467-4909-860d-e87a93de65cf
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 1810,
          "y": 350
        }
      }
  "5":
    continueonerrortype: ""
    id: "5"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "6"
      - "15"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: bb11f5fd-82c0-4211-853f-62d69eac46e3
      iscommand: false
      name: Check For Blacklist IoC(s) Above & Below Risk Score 65
      type: title
      version: -1
    taskid: bb11f5fd-82c0-4211-853f-62d69eac46e3
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 1810,
          "y": 705
        }
      }
  "6":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                root: SIXFIVE
          operator: isExists
      label: "yes"
    continueonerrortype: ""
    id: "6"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "20"
      "yes":
      - "14"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 58befb15-fcfa-4f07-8bff-af231f2248c8
      iscommand: false
      name: 'Any IoC(s) Above Risk Score 65 ? '
      type: condition
      version: -1
    taskid: 58befb15-fcfa-4f07-8bff-af231f2248c8
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 1810,
          "y": 910
        }
      }
  "8":
    continueonerrortype: ""
    id: "8"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "10"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 5bc7efb3-a2b0-40eb-8f8f-411e47cf9e62
      iscommand: false
      name: Are IoC(s) Shared By CSO ?
      type: title
      version: -1
    taskid: 5bc7efb3-a2b0-40eb-8f8f-411e47cf9e62
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 1100,
          "y": 10
        }
      }
  "9":
    continueonerrortype: ""
    id: "9"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 100
      wait: 1
    nexttasks:
      '#none#':
      - "22"
    note: false
    quietmode: 0
    scriptarguments:
      Domain:
        complex:
          accessor: Domain
          root: Blacklist
      Hash:
        complex:
          accessor: File
          root: ExtractedIndicators
      IP:
        complex:
          accessor: IPV4
          root: Blacklist
      URL:
        complex:
          accessor: URL
          root: Blacklist
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 48d3e786-0227-42b0-86a3-12fd505f6e04
      iscommand: false
      name: 'Sub Playbook: Send All Submitted IoC(s) For Blocking'
      playbookId: 71e9b7f6-fe01-4655-8cf3-8240c7153c57
      type: playbook
      version: -1
    taskid: 48d3e786-0227-42b0-86a3-12fd505f6e04
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 840,
          "y": 910
        }
      }
  "10":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                accessor: whoistheblockrequestfrom
                root: incident
          operator: isEqualString
          right:
            value:
              simple: CSO\CERT Team
      label: "yes"
    continueonerrortype: ""
    id: "10"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "4"
      "yes":
      - "11"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 066bf5a7-546c-4b1f-8200-2cc2abae728f
      iscommand: false
      name: Is The Blacklist Request From CSO/CERT ?
      type: condition
      version: -1
    taskid: 066bf5a7-546c-4b1f-8200-2cc2abae728f
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 1100,
          "y": 160
        }
      }
  "11":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                root: Trusted
          operator: isExists
          right:
            value: {}
      label: "yes"
    continueonerrortype: ""
    id: "11"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "9"
      "yes":
      - "12"
    note: false
    quietmode: 2
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: d6239706-f0ec-4039-80f7-f36f4c3b176e
      iscommand: false
      name: Any Trusted IoC(s) Found ?
      type: condition
      version: -1
    taskid: d6239706-f0ec-4039-80f7-f36f4c3b176e
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 1100,
          "y": 500
        }
      }
  "12":
    continueonerrortype: ""
    id: "12"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    message:
      bcc: null
      body:
        simple: "Trusted IoC(s) Have Been Found in CSO/CERT Blacklist Submission.
          \nDo You Want to Proceed with Blacklisting These IoC(s) ?\n(Review the 'Trusted
          IoC(s) and make an informed decision.)"
      cc: null
      format: ""
      methods: []
      replyOptions:
      - Yes, Blacklist All Submitted IoC(s)
      - No, Exclude The Trusted IoC(s) From Being Blacklisted
      subject: null
      timings:
        completeafterreplies: 1
        completeaftersla: false
        completeafterv2: true
        retriescount: 2
        retriesinterval: 360
      to: null
    nexttasks:
      No, Exclude The Trusted IoC(s) From Being Blacklisted:
      - "13"
      Yes, Blacklist All Submitted IoC(s):
      - "9"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 7d052c43-69a7-4073-85a5-889fc00324ee
      iscommand: false
      name: 'Trusted IoC(s) Found in CSO/CERT Submission '
      type: condition
      version: -1
    taskid: 7d052c43-69a7-4073-85a5-889fc00324ee
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 1100,
          "y": 690
        }
      }
  "13":
    continueonerrortype: ""
    id: "13"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 100
      wait: 1
    nexttasks:
      '#none#':
      - "23"
    note: false
    quietmode: 0
    scriptarguments:
      Domain:
        complex:
          accessor: Domain
          root: FinalBlacklist
      Hash:
        complex:
          accessor: Hash
          root: FinalBlacklist
      IP:
        complex:
          accessor: IPV4
          root: FinalBlacklist
      URL:
        complex:
          accessor: URL
          root: FinalBlacklist
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: b5edbc0d-49e2-4324-8b31-672d2574ffc9
      iscommand: false
      name: 'Sub Playbook: Send Validated IoC(s) For Blacklisting [Excluding Trusted
        IoC(s)]'
      playbookId: 71e9b7f6-fe01-4655-8cf3-8240c7153c57
      type: playbook
      version: -1
    taskid: b5edbc0d-49e2-4324-8b31-672d2574ffc9
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 1340,
          "y": 910
        }
      }
  "14":
    continueonerrortype: ""
    id: "14"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 100
      wait: 1
    nexttasks:
      '#none#':
      - "21"
    note: false
    quietmode: 0
    scriptarguments:
      Domain:
        complex:
          accessor: Domain
          root: SIXFIVE
      Hash:
        complex:
          accessor: File
          root: SIXFIVE
      IP:
        complex:
          accessor: IP
          root: SIXFIVE
      URL:
        complex:
          accessor: URL
          root: SIXFIVE
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: a832cb09-7823-41ba-8fef-8cc2c7ce89ec
      iscommand: false
      name: 'Sub Playbook: Blacklist IoC(s) Above Risk Score 65'
      playbookId: 232d5d44-d909-4dfd-879c-d8b9d153dc0a
      type: playbook
      version: -1
    taskid: a832cb09-7823-41ba-8fef-8cc2c7ce89ec
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 1810,
          "y": 1160
        }
      }
  "15":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                root: BELOWSIXFIVE
          operator: isExists
          right:
            value: {}
      label: "yes"
    continueonerrortype: ""
    id: "15"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "20"
      "yes":
      - "18"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 6ffa3af6-75d1-4041-82a6-7b039b1a9d92
      iscommand: false
      name: 'Any IoC(s) Below Risk Score 65 ? '
      type: condition
      version: -1
    taskid: 6ffa3af6-75d1-4041-82a6-7b039b1a9d92
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 2240,
          "y": 910
        }
      }
  "16":
    continueonerrortype: ""
    id: "16"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "20"
    note: false
    quietmode: 0
    scriptarguments:
      actionnotification:
        simple: '<h2 style="text-align: center;"><em><span style="color: #ff00ff;">IoCs
          With Risk Score Below 65 Have Been Submitted For L3 Review</span><br /></em></h2>'
      below65:
        simple: '<h2 style="text-align: center;"><em><span style="color: #ff00ff;">IoCs
          With Risk Score Below 65 Have Been Submitted For L3 Review</span><br /></em></h2>'
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: commands.local.cmd.set.incident
      id: 3dc6d4c8-c0b7-428b-8112-c6ae13e289d0
      iscommand: true
      name: Set Action Notification - IoCs With Risk Score Below 65 Have Been Submitted
        For L2 Review
      script: Builtin|||setIncident
      type: regular
      version: -1
    taskid: 3dc6d4c8-c0b7-428b-8112-c6ae13e289d0
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 2240,
          "y": 1560
        }
      }
  "18":
    continueonerrortype: ""
    id: "18"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 100
      wait: 1
    nexttasks:
      '#none#':
      - "19"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: e374212a-828c-4e1b-8257-697006f719f4
      iscommand: false
      name: 'Sub Playbook: Preprocess IoC Information For L3 Review '
      playbookId: 45310316-33ad-43c8-8d62-e52d24af459e
      type: playbook
      version: -1
    taskid: e374212a-828c-4e1b-8257-697006f719f4
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 2240,
          "y": 1160
        }
      }
  "19":
    continueonerrortype: ""
    id: "19"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "16"
    note: false
    quietmode: 0
    scriptarguments:
      blockrequestfrom:
        simple: ${incident.owner}
      blockrequestreviewer:
        complex:
          accessor: selectl3csocreviewername
          root: incident
      emailbodyhtml:
        simple: ${HTMLBody}
      iocvalue:
        complex:
          root: Below65
          transformers:
          - operator: StringifyArray
          - args:
              chars:
                value:
                  simple: '[" "]'
            operator: StripChars
          - args:
              delimiter:
                value:
                  simple: \n
            operator: split
          - args:
              delimiter:
                value:
                  simple: '","'
            operator: split
          - args:
              separator:
                value:
                  simple: |2+

            operator: join
      justificationfortheiocblockrequest:
        simple: ${incident.justificationfortheiocblockrequest}
      name:
        simple: IoC Block Review - ${incident.id} - ${incident.rawType} - ${incident.owner}
      owner:
        complex:
          accessor: selectl3csocreviewername
          root: incident
      parentincidentlink:
        simple: ${incidentlink}
      reviewdomain:
        complex:
          accessor: Domain
          root: BELOWSIXFIVE
          transformers:
          - operator: StringifyArray
          - args:
              chars:
                value:
                  simple: '[" "]'
            operator: StripChars
          - args:
              delimiter:
                value:
                  simple: '","'
            operator: split
          - args:
              separator:
                value:
                  simple: |2+

            operator: join
      reviewhash:
        complex:
          accessor: File
          root: BELOWSIXFIVE
          transformers:
          - operator: StringifyArray
          - args:
              chars:
                value:
                  simple: '[" "]'
            operator: StripChars
          - args:
              delimiter:
                value:
                  simple: '","'
            operator: split
          - args:
              separator:
                value:
                  simple: |2+

            operator: join
      reviewipaddress:
        complex:
          accessor: IP
          root: BELOWSIXFIVE
          transformers:
          - operator: StringifyArray
          - args:
              chars:
                value:
                  simple: '[" "]'
            operator: StripChars
          - args:
              delimiter:
                value:
                  simple: '","'
            operator: split
          - args:
              separator:
                value:
                  simple: |2+

            operator: join
      reviewurl:
        complex:
          accessor: URL
          root: BELOWSIXFIVE
          transformers:
          - operator: StringifyArray
          - args:
              chars:
                value:
                  simple: '[" "]'
            operator: StripChars
          - args:
              delimiter:
                value:
                  simple: '","'
            operator: split
          - args:
              separator:
                value:
                  simple: |2+

            operator: join
      severity:
        complex:
          accessor: severity
          root: incident
      ticketnumber:
        simple: HT-${incident.id}
      type:
        simple: Blacklist IOC Review
      whyareyoublacklistingtheseiocs:
        simple: ${incident.whyareyoublacklistingtheseiocs}
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: commands.local.cmd.create.inc
      id: b0667da8-5ae6-46ad-850f-13d1d72e3350
      iscommand: true
      name: Create a New Ticket To Track IoC Blocking
      script: Builtin|||createNewIncident
      type: regular
      version: -1
    taskid: b0667da8-5ae6-46ad-850f-13d1d72e3350
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 2240,
          "y": 1370
        }
      }
  "20":
    continueonerrortype: ""
    id: "20"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "27"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 28c9e8dd-a631-4eeb-839e-eb3bef864c4a
      iscommand: false
      name: Close
      type: title
      version: -1
    taskid: 28c9e8dd-a631-4eeb-839e-eb3bef864c4a
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 1810,
          "y": 1870
        }
      }
  "21":
    continueonerrortype: ""
    id: "21"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "20"
    note: false
    quietmode: 0
    scriptarguments:
      above65:
        simple: '<h2 style="text-align: center;"><em><span style="color: #ff00ff;">All
          IoC(s) Above Risk Score 65 Have Been Blacklisted</span><br /></em></h2>'
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: commands.local.cmd.set.incident
      id: b1de75ae-2a9e-4786-83dc-ac555661dee0
      iscommand: true
      name: Set Action Notification - All IoCs Blocked
      script: Builtin|||setIncident
      type: regular
      version: -1
    taskid: b1de75ae-2a9e-4786-83dc-ac555661dee0
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1810,
          "y": 1560
        }
      }
  "22":
    continueonerrortype: ""
    id: "22"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "20"
    note: false
    quietmode: 0
    scriptarguments:
      above65:
        simple: '<h2 style="text-align: center;"><em><span style="color: #ff00ff;">All
          CSO/CERT Submitted IoC(s) Have Been Blacklisted</span><br /></em></h2>'
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: commands.local.cmd.set.incident
      id: 93640089-5e27-4288-86bc-b96d34c8f6c4
      iscommand: true
      name: Set Action Notification - All IoCs Blocked
      script: Builtin|||setIncident
      type: regular
      version: -1
    taskid: 93640089-5e27-4288-86bc-b96d34c8f6c4
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 840,
          "y": 1560
        }
      }
  "23":
    continueonerrortype: ""
    id: "23"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "20"
    note: false
    quietmode: 0
    scriptarguments:
      below65:
        simple: '<h2 style="text-align: center;"><em><span style="color: #ff00ff;">Excluding
          The Trusted IoC(s) All Other IoC(s) Have been Blacklisted</span><br /></em></h2>'
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: commands.local.cmd.set.incident
      id: a10aa8e4-d314-4bb4-86ba-ee90590f2c9d
      iscommand: true
      name: Set Action Notification - IoCs With Risk Score Below 65 Have Been Submitted
        For L2 Review
      script: Builtin|||setIncident
      type: regular
      version: -1
    taskid: a10aa8e4-d314-4bb4-86ba-ee90590f2c9d
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1340,
          "y": 1560
        }
      }
  "24":
    continueonerrortype: ""
    id: "24"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "25"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: commands.local.cmd.close.inv
      id: 3a559002-740d-4ea6-8831-2738a537b4c3
      iscommand: true
      name: Close Automation
      script: Builtin|||closeInvestigation
      type: regular
      version: -1
    taskid: 3a559002-740d-4ea6-8831-2738a537b4c3
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1810,
          "y": 2220
        }
      }
  "25":
    continueonerrortype: ""
    id: "25"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 7b3c6130-fa71-492d-896f-ad58f2f74983
      iscommand: false
      name: The End
      type: title
      version: -1
    taskid: 7b3c6130-fa71-492d-896f-ad58f2f74983
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 1810,
          "y": 2450
        }
      }
  "26":
    continueonerrortype: ""
    id: "26"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 100
      wait: 1
    note: false
    quietmode: 0
    scriptarguments:
      suspiciousiocs:
        complex:
          accessor: entertheiocsforblocking
          root: incident
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 34f10aa1-6246-45af-873c-dc5a80d5fed9
      iscommand: false
      name: Sub Playbook:TCS-Validate Submitted IOC v3.1
      playbookId: d225a56b-e807-4561-85ad-464d65b08963
      type: playbook
      version: -1
    taskid: 34f10aa1-6246-45af-873c-dc5a80d5fed9
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 2380,
          "y": -210
        }
      }
  "27":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                accessor: type
                root: incident
                transformers:
                - operator: toLowerCase
          operator: isEqualString
          right:
            value:
              simple: blacklist ioc
      label: "yes"
    continueonerrortype: ""
    id: "27"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "25"
      "yes":
      - "24"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: a787ec66-25bb-4633-8d24-ee67f1c15476
      iscommand: false
      name: Is The Blacklist Request from 'Type' Blacklist IOC ?
      type: condition
      version: -1
    taskid: a787ec66-25bb-4633-8d24-ee67f1c15476
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 1810,
          "y": 2020
        }
      }
version: -1
view: |-
  {
    "linkLabelsPosition": {
      "10_11_yes": 0.48,
      "10_4_#default#": 0.5,
      "11_12_yes": 0.46,
      "12_13_No, Exclude The Trusted IoC(s) From Being Blacklisted": 0.77,
      "12_9_Yes, Blacklist All Submitted IoC(s)": 0.89,
      "15_18_yes": 0.49,
      "15_20_#default#": 0.19,
      "27_24_yes": 0.47,
      "6_14_yes": 0.35,
      "6_20_#default#": 0.19
    },
    "paper": {
      "dimensions": {
        "height": 3025,
        "width": 1920,
        "x": 840,
        "y": -510
      }
    }
  }
