playbook-TCS-Recorded_Future_URL_Reputation_v2.0_KK.yml
contentitemexportablefields:
  contentitemfields:
    definitionid: ""
    fromServerVersion: 5.0.0
    itemVersion: 1.2.1
    packID: ""
    packName: ""
    prevname: ""
    propagationLabels:
    - all
    toServerVersion: ""
description: URL reputation using Recorded Future SOAR enrichment
id: ca20ff9f-5c28-487f-8456-cc0f243192e2
inputs:
- description: URL to get reputation of.
  key: URL
  playbookInputQuery: null
  required: false
  value:
    complex:
      accessor: Data
      root: URL
      transformers:
      - operator: uniq
name: TCS-Recorded Future URL Reputation v2.0_KK
outputs:
- contextPath: DBotScore.Indicator
  description: The indicator that was tested
  type: string
- contextPath: DBotScore.Type
  description: Indicator type
  type: string
- contextPath: DBotScore.Vendor
  description: Vendor used to calculate the score
  type: string
- contextPath: DBotScore.Score
  description: The actual score
  type: number
- contextPath: URL.Malicious.Vendor
  description: For malicious URLs, the vendor that made the decision
  type: string
- contextPath: URL.Malicious.Description
  description: For malicious URLs, the reason that the vendor made the decision
  type: string
- contextPath: URL.Data
  description: URL name
  type: string
- contextPath: RecordedFuture.URL.riskScore
  description: Recorded Future URL Risk Score
  type: number
- contextPath: RecordedFuture.URL.riskLevel
  description: Recorded Future URL Risk Level
  type: string
- contextPath: RecordedFuture.URL.Evidence.rule
  description: Recorded Future Risk Rule Name
  type: string
- contextPath: RecordedFuture.URL.Evidence.mitigation
  description: Recorded Future Risk Rule Mitigation
  type: string
- contextPath: RecordedFuture.URL.Evidence.description
  description: Recorded Future Risk Rule description
  type: string
- contextPath: RecordedFuture.URL.Evidence.timestamp
  description: Recorded Future Risk Rule timestamp
  type: date
- contextPath: RecordedFuture.URL.Evidence.level
  description: Recorded Future Risk Rule Level
  type: number
- contextPath: RecordedFuture.URL.Evidence.ruleid
  description: Recorded Future Risk Rule ID
  type: string
- contextPath: RecordedFuture.URL.name
  description: URL
  type: string
- contextPath: RecordedFuture.URL.maxRules
  description: Maximum count of Recorded Future URL Risk Rules
  type: number
- contextPath: RecordedFuture.URL.ruleCount
  description: Number of triggered Recorded Future URL Risk Rules
  type: number
sourceplaybookid: Recorded Future URL Reputation
starttaskid: "0"
tasks:
  "0":
    continueonerrortype: ""
    id: "0"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "16"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 5da6dd39-7474-478e-8db9-69d6fcf71fff
      iscommand: false
      name: ""
      version: -1
    taskid: 5da6dd39-7474-478e-8db9-69d6fcf71fff
    timertriggers: []
    type: start
    view: |-
      {
        "position": {
          "x": 50,
          "y": 0
        }
      }
  "16":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: inputs.URL
          operator: isExists
      label: "yes"
    continueonerrortype: ""
    id: "16"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "24"
      "yes":
      - "35"
    note: false
    quietmode: 0
    scriptarguments:
      value:
        simple: inputs.url
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: do we have a url to check
      id: 8531e9dd-30b7-42fe-8698-101fb925cfe4
      iscommand: false
      name: Is there a URL to get reputation of?
      type: condition
      version: -1
    taskid: 8531e9dd-30b7-42fe-8698-101fb925cfe4
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 50,
          "y": 160
        }
      }
  "24":
    continueonerrortype: ""
    id: "24"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 25da1d59-6430-4969-8d99-aa08535cf453
      iscommand: false
      name: Done
      type: title
      version: -1
    taskid: 25da1d59-6430-4969-8d99-aa08535cf453
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 50,
          "y": 1955
        }
      }
  "35":
    continueonerrortype: ""
    id: "35"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "36"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 45cf7dc4-aa81-4d49-81aa-eb03e798ed29
      iscommand: false
      name: Get reputation using Recorded Future API
      type: title
      version: -1
    taskid: 45cf7dc4-aa81-4d49-81aa-eb03e798ed29
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 470,
          "y": 350
        }
      }
  "36":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                accessor: brand
                filters:
                - - ignorecase: true
                    left:
                      iscontext: true
                      value:
                        simple: modules.brand
                    operator: containsString
                    right:
                      value:
                        simple: Recorded Future
                - - ignorecase: true
                    left:
                      iscontext: true
                      value:
                        simple: modules.state
                    operator: isEqualString
                    right:
                      value:
                        simple: active
                root: modules
          operator: isExists
      label: "yes"
    continueonerrortype: ""
    id: "36"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "24"
      "yes":
      - "37"
      - "44"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Checks if there is an active instance of the Recorded Future API
        enabled.
      id: 87246b8a-5ef4-4d64-8f6d-e02c9d28ea19
      iscommand: false
      name: Is Recorded Future API enabled?
      type: condition
      version: -1
    taskid: 87246b8a-5ef4-4d64-8f6d-e02c9d28ea19
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 470,
          "y": 495
        }
      }
  "37":
    continueonerrortype: ""
    id: "37"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "38"
    note: false
    quietmode: 0
    scriptarguments:
      url:
        simple: ${inputs.URL}
    separatecontext: false
    skipunavailable: false
    task:
      brand: Recorded Future v2.1
      description: Gets a quick indicator of the risk associated with a URL.
      id: 290ae2f2-0838-4cf0-8093-cf30c0c0ddf0
      iscommand: true
      name: Get URL reputation from Recorded Future
      script: Recorded Future v2.1|||url
      type: regular
      version: -1
    taskid: 290ae2f2-0838-4cf0-8093-cf30c0c0ddf0
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 470,
          "y": 700
        }
      }
  "38":
    continueonerrortype: ""
    id: "38"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "45"
    note: false
    quietmode: 0
    scriptarguments:
      recordedfutureriskrules:
        simple: ${RecordedFuture.URL.rules}
      value:
        simple: ${RecordedFuture.URL.name}
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: Change the properties of an indicator
      id: 6792e22a-ed6e-45b4-86cd-50c37f16cb14
      iscommand: true
      name: setIndicator
      script: Builtin|||setIndicator
      type: regular
      version: -1
    taskid: 6792e22a-ed6e-45b4-86cd-50c37f16cb14
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 470,
          "y": 885
        }
      }
  "39":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                accessor: riskScore
                root: RecordedFuture.URL
          operator: lessThan
          right:
            value:
              simple: "65"
      label: "yes"
    continueonerrortype: ""
    id: "39"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "24"
      "yes":
      - "40"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: abf2026b-0d73-40e8-8cc0-2065c1cb6d6b
      iscommand: false
      name: Are There Any URLs  With Risk Score <  65
      type: condition
      version: -1
    taskid: abf2026b-0d73-40e8-8cc0-2065c1cb6d6b
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 470,
          "y": 1260
        }
      }
  "40":
    continueonerrortype: ""
    id: "40"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "43"
    note: false
    quietmode: 0
    scriptarguments:
      append:
        simple: "true"
      key:
        simple: BELOWSIXFIVE.URL
      value:
        complex:
          accessor: name
          filters:
          - - left:
                iscontext: true
                value:
                  simple: RecordedFuture.URL.riskScore
              operator: lessThan
              right:
                value:
                  simple: "65"
          root: RecordedFuture.URL
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Set a value in context under the key you entered.
      id: 93ec0e22-99ba-4022-8abe-db73b73c0eb6
      iscommand: false
      name: 'Set URL Below 65 To Context '
      script: Set
      type: regular
      version: -1
    taskid: 93ec0e22-99ba-4022-8abe-db73b73c0eb6
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 470,
          "y": 1440
        }
      }
  "41":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                accessor: riskScore
                root: RecordedFuture.URL
          operator: greaterThanOrEqual
          right:
            value:
              simple: "65"
      label: "yes"
    continueonerrortype: ""
    id: "41"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "24"
      "yes":
      - "42"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: ea630adf-5faf-49ff-8319-3a8e6a678fb8
      iscommand: false
      name: Are There Any URLs  With Risk Score >  65
      type: condition
      version: -1
    taskid: ea630adf-5faf-49ff-8319-3a8e6a678fb8
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 900,
          "y": 1260
        }
      }
  "42":
    continueonerrortype: ""
    id: "42"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "24"
    note: false
    quietmode: 0
    scriptarguments:
      append:
        simple: "true"
      key:
        simple: SIXFIVE.URL
      value:
        complex:
          accessor: name
          filters:
          - - left:
                iscontext: true
                value:
                  simple: RecordedFuture.URL.riskScore
              operator: greaterThanOrEqual
              right:
                value:
                  simple: "65"
          root: RecordedFuture.URL
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Set a value in context under the key you entered.
      id: 01a31981-62de-466d-8014-aedd313e89c1
      iscommand: false
      name: 'Set URLs Greater 65 To Context '
      script: Set
      type: regular
      version: -1
    taskid: 01a31981-62de-466d-8014-aedd313e89c1
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 900,
          "y": 1440
        }
      }
  "43":
    continueonerrortype: ""
    id: "43"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "24"
    note: false
    quietmode: 0
    scriptarguments:
      append:
        simple: "true"
      key:
        simple: Below65
      value:
        complex:
          accessor: URL
          root: BELOWSIXFIVE
          transformers:
          - operator: StringifyArray
          - args:
              chars:
                value:
                  simple: '[" "] "'
            operator: StripChars
          - args:
              regex:
                value:
                  simple: '","'
              replaceWith:
                value:
                  simple: ' '
            operator: replaceMatch
          - args:
              delimiter:
                value:
                  simple: ' '
            operator: split
          - args:
              separator:
                value:
                  simple: |2+

            operator: join
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Set a value in context under the key you entered.
      id: b4bb40ce-bcf6-4211-8299-8c1f18ab2b61
      iscommand: false
      name: Set IP Below 65 To Common Context
      script: Set
      type: regular
      version: -1
    taskid: b4bb40ce-bcf6-4211-8299-8c1f18ab2b61
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 470,
          "y": 1620
        }
      }
  "44":
    continueonerrortype: ""
    id: "44"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "38"
    note: false
    quietmode: 0
    reputationcalc: 1
    scriptarguments:
      entity:
        simple: ${inputs.URL}
      entity_type:
        simple: url
      using:
        simple: Recorded Future v2_instance_1
    separatecontext: false
    skipunavailable: false
    task:
      brand: Recorded Future v2
      description: Get threat intelligence for an IP, Domain, CVE, URL, File or Malware.
      id: b7b9cda0-0b4c-480a-87f5-d147e69bdd72
      iscommand: true
      name: Get URL Intelligence From Recorded Future
      script: Recorded Future v2|||recordedfuture-intelligence
      type: regular
      version: -1
    taskid: b7b9cda0-0b4c-480a-87f5-d147e69bdd72
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 910,
          "y": 700
        }
      }
  "45":
    continueonerror: true
    continueonerrortype: ""
    id: "45"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "39"
      - "41"
    note: false
    quietmode: 0
    scriptarguments:
      recordedfutureaiinsights:
        simple: ${RecordedFuture.URL.aiInsights.text}
      recordedfutureriskrule:
        simple: ${RecordedFuture.URL.concatRules}
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: commands.local.cmd.set.incident
      id: e06d9788-d089-44eb-889a-cd60584a94f0
      iscommand: true
      name: Set Incident Field
      script: Builtin|||setIncident
      type: regular
      version: -1
    taskid: e06d9788-d089-44eb-889a-cd60584a94f0
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 470,
          "y": 1070
        }
      }
version: -1
view: |-
  {
    "linkLabelsPosition": {},
    "paper": {
      "dimensions": {
        "height": 2020,
        "width": 1240,
        "x": 50,
        "y": 0
      }
    }
  }
