playbook-TCS-Recorded_Future_Investigation_Master_Playbook_v1.1_WIP.yml
contentitemexportablefields:
  contentitemfields:
    definitionid: ""
    fromServerVersion: ""
    itemVersion: ""
    packID: ""
    packName: ""
    prevname: ""
    propagationLabels:
    - all
    toServerVersion: ""
description: Master Playbook for Recorded Future Alerts and Autoassignment
id: 2be24ce9-101b-4e93-8081-90d8a73053c7
inputs: []
name: TCS-Recorded Future Investigation Master Playbook v1.1_WIP
outputs: []
quiet: true
sourceplaybookid: c24ac7bb-3c75-46ce-83ce-b9e7f7b868fa
starttaskid: "0"
tasks:
  "0":
    continueonerrortype: ""
    id: "0"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "7"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 57b9259b-c698-47f8-8940-fc99d2cbbc74
      iscommand: false
      name: ""
      version: -1
    taskid: 57b9259b-c698-47f8-8940-fc99d2cbbc74
    timertriggers: []
    type: start
    view: |-
      {
        "position": {
          "x": 120,
          "y": -1430
        }
      }
  "1":
    continueonerror: true
    continueonerrortype: ""
    id: "1"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "2"
    note: false
    quietmode: 0
    scriptarguments:
      name:
        simple: AutoAssignment_Lock
      timeout:
        simple: "600"
    separatecontext: false
    skipunavailable: false
    task:
      brand: Demisto Lock
      description: Gets a specific lock. If the lock doesn't exist, it creates one.
        If the lock is already in use, the command waits until the lock is released
        or until timeout is reached. If timeout is reached and the lock hasn't been
        released, the command fails to get the lock.
      id: e484dc71-6fc4-4ab8-87b0-b5cdea538f32
      iscommand: true
      name: Locking the Assignment Task
      script: Demisto Lock|||demisto-lock-get
      type: regular
      version: -1
    taskid: e484dc71-6fc4-4ab8-87b0-b5cdea538f32
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 120,
          "y": -1125
        }
      }
  "2":
    continueonerrortype: ""
    id: "2"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "3"
    note: false
    quietmode: 0
    scriptarguments:
      desc:
        complex:
          accessor: title
          root: incident.labels
      incidentid:
        complex:
          accessor: id
          root: incident
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 57910fb9-ab47-46bc-8668-cd1ed6afe9d9
      iscommand: false
      name: AutoAssign Analyst To Incident
      script: 0021cb92-321d-4754-81a1-66fc6a41635d
      type: regular
      version: -1
    taskid: 57910fb9-ab47-46bc-8668-cd1ed6afe9d9
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 120,
          "y": -980
        }
      }
  "3":
    continueonerrortype: ""
    id: "3"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "26"
    note: false
    quietmode: 0
    scriptarguments:
      name:
        simple: AutoAssignment_Lock
    separatecontext: false
    skipunavailable: false
    task:
      brand: Demisto Lock
      description: Release a lock
      id: e33860b0-feb8-4f82-87f8-10a8b9f5cd7b
      iscommand: true
      name: Release the Assignment Task
      script: Demisto Lock|||demisto-lock-release
      type: regular
      version: -1
    taskid: e33860b0-feb8-4f82-87f8-10a8b9f5cd7b
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 120,
          "y": -815
        }
      }
  "5":
    continueonerrortype: ""
    id: "5"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      id: 45496376-1056-457c-8aff-7baff734ca12
      iscommand: false
      name: TCS-RF IP Mention Alert  v1.1_Kunal_copy
      playbookId: f8e30913-439c-4864-89e8-c6bed2f29d48
      type: playbook
      version: -1
    taskid: 45496376-1056-457c-8aff-7baff734ca12
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": -1380,
          "y": 340
        }
      }
  "6":
    continueonerrortype: ""
    id: "6"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      id: d06fea78-6bf0-4586-82a3-8eb180d9cc41
      iscommand: false
      name: TCS-Typosquat Response v1.2_Kunal_copy
      playbookId: 70079c62-6f24-4cd6-80c0-0dae8967c82b
      type: playbook
      version: -1
    taskid: d06fea78-6bf0-4586-82a3-8eb180d9cc41
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": -1380,
          "y": 590
        }
      }
  "7":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: ${incident.name}
          operator: inList
          right:
            iscontext: true
            value:
              simple: lists.RFAlertsToBeAssigned
      label: "yes"
    continueonerrortype: ""
    id: "7"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "23"
      "yes":
      - "1"
    note: false
    quietmode: 2
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 62808036-bdb5-48b2-8ef9-ee90d7ab48b1
      iscommand: false
      name: Does this Alert need to be assigned to Analyst?
      type: condition
      version: -1
    taskid: 62808036-bdb5-48b2-8ef9-ee90d7ab48b1
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 120,
          "y": -1305
        }
      }
  "10":
    continueonerrortype: ""
    id: "10"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 0
      wait: 1
    nexttasks:
      '#none#':
      - "27"
    note: false
    quietmode: 0
    scriptarguments:
      KnownEmail:
        simple: alert@recordedfuture.com,sonam.bhandari@tcs.com,nishanth.dharuman@tcs.com,v.ghule@tcs.com
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 8d621349-2905-4615-8d62-25cc59b79fa7
      iscommand: false
      name: TCS-Process RF Credential Leakage v1.1_Kunal
      playbookId: 7270eae2-2923-4598-8112-878da331cae6
      type: playbook
      version: -1
    taskid: 8d621349-2905-4615-8d62-25cc59b79fa7
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 120,
          "y": -530
        }
      }
  "11":
    continueonerrortype: ""
    form:
      description: ""
      expired: false
      questions:
      - defaultrows: []
        fieldassociated: anyimpact
        gridcolumns: []
        id: "0"
        label: ""
        labelarg:
          simple: Was there any impact?
        options: []
        optionsarg:
        - simple: "No"
        - simple: "Yes"
        placeholder: ""
        readonly: false
        required: true
        tooltip: ""
        type: singleSelect
      - defaultrows: []
        fieldassociated: remediationrequired
        gridcolumns: []
        id: "1"
        label: ""
        labelarg:
          simple: Is there any remediation required?
        options: []
        optionsarg:
        - {}
        - simple: Not Applicable
        - simple: "No"
        - simple: "Yes"
        placeholder: ""
        readonly: false
        required: true
        tooltip: ""
        type: singleSelect
      - defaultrows: []
        fieldassociated: forensicsdone
        gridcolumns: []
        id: "2"
        label: ""
        labelarg:
          simple: Forensics Done?
        options: []
        optionsarg:
        - {}
        - simple: Not Applicable
        - simple: "No"
        - simple: "Yes"
        placeholder: ""
        readonly: false
        required: true
        tooltip: ""
        type: singleSelect
      - defaultrows: []
        fieldassociated: imtraised
        gridcolumns: []
        id: "3"
        label: ""
        labelarg:
          simple: IMT Raised?
        options: []
        optionsarg:
        - {}
        - simple: "No"
        - simple: "Yes"
        placeholder: ""
        readonly: false
        required: true
        tooltip: ""
        type: singleSelect
      sender: ""
      title: True Positive Investigation Summary
      totalanswers: 0
    id: "11"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    message:
      bcc: null
      body: null
      cc: null
      format: ""
      methods: []
      subject: null
      timings:
        completeafterreplies: 1
        completeaftersla: false
        completeafterv2: true
        retriescount: 2
        retriesinterval: 360
      to: null
    nexttasks:
      '#none#':
      - "12"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: dcc2a0ec-d865-4d1b-817d-9a70f7956c2f
      iscommand: false
      name: True Positive Investigation Summary
      type: collection
      version: -1
    taskid: dcc2a0ec-d865-4d1b-817d-9a70f7956c2f
    timertriggers: []
    type: collection
    view: |-
      {
        "position": {
          "x": 650,
          "y": 1225
        }
      }
  "12":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: incident.anyimpact
          operator: isEqualString
          right:
            value:
              simple: "Yes"
      label: "yes"
    continueonerrortype: ""
    id: "12"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "14"
      "yes":
      - "13"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: e56e1b02-a675-4f35-82ab-f155f3a6b94c
      iscommand: false
      name: Is there any impact?
      type: condition
      version: -1
    taskid: e56e1b02-a675-4f35-82ab-f155f3a6b94c
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 650,
          "y": 1395
        }
      }
  "13":
    continueonerrortype: ""
    form:
      description: ""
      expired: false
      questions:
      - defaultrows: []
        fieldassociated: whatwastheimpact
        gridcolumns: []
        id: "0"
        label: ""
        labelarg:
          simple: What was the impact?
        options: []
        optionsarg: []
        placeholder: ""
        readonly: false
        required: true
        tooltip: ""
        type: shortText
      sender: ""
      title: What was the impact?
      totalanswers: 0
    id: "13"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    message:
      bcc: null
      body: null
      cc: null
      format: ""
      methods: []
      subject: null
      timings:
        completeafterreplies: 1
        completeaftersla: false
        completeafterv2: true
        retriescount: 2
        retriesinterval: 360
      to: null
    nexttasks:
      '#none#':
      - "14"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 9ec3b123-4a6d-4e88-86f1-e12f054063f3
      iscommand: false
      name: What was the impact?
      type: collection
      version: -1
    taskid: 9ec3b123-4a6d-4e88-86f1-e12f054063f3
    timertriggers: []
    type: collection
    view: |-
      {
        "position": {
          "x": 820,
          "y": 1570
        }
      }
  "14":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: incident.imtraised
          operator: isEqualString
          right:
            value:
              simple: "Yes"
      label: "yes"
    continueonerrortype: ""
    id: "14"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "22"
      "yes":
      - "15"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 12e6afcf-d883-43e6-88d7-d27298f2cf16
      iscommand: false
      name: Is IMT Raised
      type: condition
      version: -1
    taskid: 12e6afcf-d883-43e6-88d7-d27298f2cf16
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 610,
          "y": 1750
        }
      }
  "15":
    continueonerrortype: ""
    form:
      description: IMT Number
      expired: false
      questions:
      - defaultrows: []
        fieldassociated: imtnumber
        gridcolumns: []
        id: "0"
        label: ""
        labelarg:
          simple: IMT Number
        options: []
        optionsarg: []
        placeholder: ""
        readonly: false
        required: true
        tooltip: ""
        type: shortText
      - defaultrows: []
        fieldassociated: imtcreationdate
        gridcolumns: []
        id: "1"
        label: ""
        labelarg:
          simple: IMT Raised Date
        options: []
        optionsarg: []
        placeholder: ""
        readonly: false
        required: true
        tooltip: ""
        type: date
      - defaultrows: []
        fieldassociated: imtlocation
        gridcolumns: []
        id: "2"
        label: ""
        labelarg:
          simple: IMT Location
        options: []
        optionsarg: []
        placeholder: 'Enter Branch and Location.  Eg: TCS-Mumbai-Olympus'
        readonly: false
        required: false
        tooltip: ""
        type: shortText
      sender: ""
      title: IMT Number
      totalanswers: 0
    id: "15"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    message:
      bcc: null
      body: null
      cc: null
      format: ""
      methods: []
      subject: null
      timings:
        completeafterreplies: 1
        completeaftersla: false
        completeafterv2: true
        retriescount: 2
        retriesinterval: 360
      to: null
    nexttasks:
      '#none#':
      - "22"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 4fc448ee-fcc3-4e48-898f-6ba811085d04
      iscommand: false
      name: IMT Details
      type: collection
      version: -1
    taskid: 4fc448ee-fcc3-4e48-898f-6ba811085d04
    timertriggers: []
    type: collection
    view: |-
      {
        "position": {
          "x": 780,
          "y": 1930
        }
      }
  "16":
    continueonerrortype: ""
    id: "16"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "17"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Expose the incident owner into IncidentOwner context key
      id: deb9477b-de92-4890-8715-b1f6bd2a81bf
      iscommand: false
      name: Populate Incident Owner Context
      script: ExposeIncidentOwner
      type: regular
      version: -1
    taskid: deb9477b-de92-4890-8715-b1f6bd2a81bf
    timertriggers:
    - action: start
      fieldname: closuresla
    - action: start
      fieldname: detectionsla
    type: regular
    view: |-
      {
        "position": {
          "x": 120,
          "y": 445
        }
      }
  "17":
    continueonerrortype: ""
    id: "17"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "18"
    note: false
    quietmode: 0
    scriptarguments:
      username:
        complex:
          accessor: owner
          root: incident
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: commands.local.cmd.get.user.by.username
      id: ac863ce3-6f65-45ff-8930-4cf79b500e8d
      iscommand: true
      name: Get Incident Owner Details
      script: Builtin|||getUserByUsername
      type: regular
      version: -1
    taskid: ac863ce3-6f65-45ff-8930-4cf79b500e8d
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 120,
          "y": 590
        }
      }
  "18":
    continueonerrortype: ""
    id: "18"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "19"
    note: false
    quietmode: 0
    scriptarguments:
      selectshift:
        complex:
          accessor: roles
          root: UserByUsername
          transformers:
          - args:
              from:
                value:
                  simple: '['
            operator: substringFrom
          - args:
              to:
                value:
                  simple: ']'
            operator: substringTo
          - args:
              delimiter:
                value:
                  simple: ' '
            operator: splitAndTrim
          - args:
              separator:
                value:
                  simple: ' '
            operator: join
          - args:
              regex:
                value:
                  simple: ' CSOC-XSOAR-Admin'
              replaceWith: {}
            operator: replaceMatch
          - args:
              regex:
                value:
                  simple: ' Read-Only'
              replaceWith: {}
            operator: replaceMatch
          - args:
              regex:
                value:
                  simple: ' Operator'
              replaceWith: {}
            operator: replaceMatch
          - args:
              delimiter: {}
            operator: splitAndTrim
      shift:
        complex:
          accessor: roles
          root: UserByUsername
          transformers:
          - args:
              from:
                value:
                  simple: '['
            operator: substringFrom
          - args:
              to:
                value:
                  simple: ']'
            operator: substringTo
          - args:
              delimiter: {}
            operator: splitAndTrim
          - args:
              separator:
                value:
                  simple: ' '
            operator: join
          - args:
              regex:
                value:
                  simple: ' CSOC-XSOAR-Admin'
              replaceWith: {}
            operator: replaceMatch
          - args:
              regex:
                value:
                  simple: ' Read-Only'
              replaceWith: {}
            operator: replaceMatch
          - args:
              regex:
                value:
                  simple: ' Operator'
              replaceWith: {}
            operator: replaceMatch
          - args:
              delimiter: {}
            operator: splitAndTrim
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: commands.local.cmd.set.incident
      id: c6b1890a-78fd-4eda-8852-7ee1e1841413
      iscommand: true
      name: Set Investigator Role In Context
      script: Builtin|||setIncident
      type: regular
      version: -1
    taskid: c6b1890a-78fd-4eda-8852-7ee1e1841413
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 120,
          "y": 750
        }
      }
  "19":
    continueonerrortype: ""
    id: "19"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    message:
      bcc: null
      body:
        simple: "Is This a True Positive Alert ?\n(Study The IoC Threat Intelligence
          Report. Are IoCs Part of The XSOAR Block List ? Check if the indicators
          have block tags and the expiration status. Also check for 'Related Incidents') "
      cc: null
      format: ""
      methods: []
      replyOptions:
      - 'No, It is False Positive '
      - No, its a Benign-True Positive
      - Yes, it is True Positive
      subject: null
      timings:
        completeafterreplies: 1
        completeaftersla: false
        completeafterv2: true
        retriescount: 2
        retriesinterval: 360
      to: {}
    nexttasks:
      'No, It is False Positive ':
      - "20"
      No, its a Benign-True Positive:
      - "21"
      Yes, it is True Positive:
      - "25"
    note: true
    quietmode: 2
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: c91fd5ce-36a8-427d-85bb-75239dc7ff00
      iscommand: false
      name: "Is This a True Positive Alert ? \n(Study The IoC Threat Intelligence
        Report. Are IoCs Part of The XSOAR Block List ? Check if the indicators have
        block tags and the expiration status. Also check for 'Related Incidents') "
      tags:
      - Note
      type: condition
      version: -1
    taskid: c91fd5ce-36a8-427d-85bb-75239dc7ff00
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 120,
          "y": 910
        }
      }
  "20":
    continueonerrortype: ""
    id: "20"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "22"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: ea2bfa1b-8519-4e1f-8f80-cff19a617b7f
      iscommand: false
      name: Close Investigation- False Positive
      type: title
      version: -1
    taskid: ea2bfa1b-8519-4e1f-8f80-cff19a617b7f
    timertriggers:
    - action: stop
      fieldname: detectionsla
    type: title
    view: |-
      {
        "position": {
          "x": -430,
          "y": 1780
        }
      }
  "21":
    continueonerrortype: ""
    id: "21"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "22"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 211f7e0b-2524-45b7-8e55-c9b402f27b34
      iscommand: false
      name: 'Close Investigation -Benign True positive '
      type: title
      version: -1
    taskid: 211f7e0b-2524-45b7-8e55-c9b402f27b34
    timertriggers:
    - action: stop
      fieldname: detectionsla
    type: title
    view: |-
      {
        "position": {
          "x": 120,
          "y": 1800
        }
      }
  "22":
    continueonerrortype: ""
    id: "22"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 100
      wait: 1
    nexttasks:
      '#none#':
      - "24"
    note: false
    quietmode: 2
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      id: b58c1589-3942-40ad-8f8c-58aa14a0b119
      iscommand: false
      name: 'Sub Playbook: Document & Close'
      playbookId: 4a46e3dc-82da-4b3a-86ca-eb2f9dfd589f
      type: playbook
      version: -1
    taskid: b58c1589-3942-40ad-8f8c-58aa14a0b119
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 120,
          "y": 2115
        }
      }
  "23":
    continueonerrortype: ""
    id: "23"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "24"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: commands.local.cmd.close.inv
      id: 008eee9d-e450-4a7a-8870-782ea2f0f33c
      iscommand: true
      name: Close Investigation
      script: Builtin|||closeInvestigation
      type: regular
      version: -1
    taskid: 008eee9d-e450-4a7a-8870-782ea2f0f33c
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -920,
          "y": 625
        }
      }
  "24":
    continueonerrortype: ""
    id: "24"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 5e0a0af6-d2b4-4682-89ba-7b3b438520c6
      iscommand: false
      name: End
      type: title
      version: -1
    taskid: 5e0a0af6-d2b4-4682-89ba-7b3b438520c6
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 120,
          "y": 2280
        }
      }
  "25":
    continueonerrortype: ""
    id: "25"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "11"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: a4ad2542-d522-47b4-8cc3-9c822e82fce7
      iscommand: false
      name: 'Close Investigation -True positive '
      type: title
      version: -1
    taskid: a4ad2542-d522-47b4-8cc3-9c822e82fce7
    timertriggers:
    - action: stop
      fieldname: detectionsla
    type: title
    view: |-
      {
        "position": {
          "x": 650,
          "y": 1095
        }
      }
  "26":
    continueonerrortype: ""
    id: "26"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "10"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 1929ff94-5e2e-41d9-8f97-822982eb4f8b
      iscommand: false
      name: Start Acknowledgement SLA
      type: title
      version: -1
    taskid: 1929ff94-5e2e-41d9-8f97-822982eb4f8b
    timertriggers:
    - action: start
      fieldname: responsesla
    - action: start
      fieldname: acknowledgementsla
    type: title
    view: |-
      {
        "position": {
          "x": 120,
          "y": -665
        }
      }
  "27":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                accessor: runStatus
                root: incident.acknowledgementsla
          operator: isEqualString
          right:
            value:
              simple: running
      label: "yes"
    continueonerrortype: ""
    id: "27"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "30"
      "yes":
      - "28"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: d578a3bd-8baa-457b-81b1-0130f7c57363
      iscommand: false
      name: Is Acknowledgement SLA Still Running ?
      type: condition
      version: -1
    taskid: d578a3bd-8baa-457b-81b1-0130f7c57363
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 120,
          "y": -370
        }
      }
  "28":
    continueonerrortype: ""
    form:
      description: ""
      expired: false
      questions:
      - defaultrows: []
        fieldassociated: ""
        gridcolumns: []
        id: "0"
        label: ""
        labelarg:
          simple: Have You Completed This Task
        options: []
        optionsarg:
        - {}
        - simple: Yes - Move To The Next Task
        placeholder: ""
        readonly: false
        required: true
        tooltip: ""
        type: singleSelect
      sender: ""
      title: Please Click The 'Lets Get Started!' Button
      totalanswers: 0
    id: "28"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    message:
      bcc: null
      body: null
      cc: null
      format: ""
      methods: []
      subject: null
      timings:
        completeafterreplies: 1
        completeaftersla: false
        completeafterv2: true
        retriescount: 2
        retriesinterval: 360
      to: null
    nexttasks:
      '#none#':
      - "29"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 6403c211-d525-4c36-80c9-cbfd17ccc1a5
      iscommand: false
      name: Please Click The 'Lets Get Started!' Button
      type: collection
      version: -1
    taskid: 6403c211-d525-4c36-80c9-cbfd17ccc1a5
    timertriggers: []
    type: collection
    view: |-
      {
        "position": {
          "x": 120,
          "y": -200
        }
      }
  "29":
    continueonerrortype: ""
    id: "29"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "30"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 6fb80a96-0ba0-4c8d-8e3c-60d6492a035f
      iscommand: false
      name: Stop Acknowledgement SLA
      type: title
      version: -1
    taskid: 6fb80a96-0ba0-4c8d-8e3c-60d6492a035f
    timertriggers:
    - action: stop
      fieldname: responsesla
    - action: stop
      fieldname: acknowledgementsla
    type: title
    view: |-
      {
        "position": {
          "x": 120,
          "y": -30
        }
      }
  "30":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                accessor: whichslabreached
                root: incident
          operator: isEqualString
          right:
            value:
              simple: acknowledgementsla
        - left:
            iscontext: true
            value:
              complex:
                accessor: whichslabreached
                root: incident
          operator: containsGeneral
          right:
            value:
              simple: acknowledgementsla
      label: "yes"
    continueonerrortype: ""
    id: "30"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "16"
      "yes":
      - "31"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 228561fb-ae76-4e23-8cef-17577d7fc800
      iscommand: false
      name: Is response sla breached?
      type: condition
      version: -1
    taskid: 228561fb-ae76-4e23-8cef-17577d7fc800
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 120,
          "y": 90
        }
      }
  "31":
    continueonerrortype: ""
    form:
      description: ""
      expired: false
      questions:
      - defaultrows: []
        fieldassociated: justificationforacknowledgementslabreached
        gridcolumns: []
        id: "0"
        label: ""
        labelarg:
          simple: Provide justification for response sla violated
        options: []
        optionsarg: []
        placeholder: ""
        readonly: false
        required: true
        tooltip: ""
        type: longText
      sender: Your SOC team
      title: Provide justification for response sla violated
      totalanswers: 0
    id: "31"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    message:
      bcc: null
      body:
        simple: Provide justification for acknowledgement sla violated
      cc: null
      format: ""
      methods: []
      subject: null
      timings:
        completeafterreplies: 1
        completeaftersla: false
        completeafterv2: true
        retriescount: 2
        retriesinterval: 360
      to: null
    nexttasks:
      '#none#':
      - "16"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: commands.local.cmd.set.incident
      id: 4573797d-0fcf-4b23-8757-3496befb076c
      iscommand: false
      name: Provide justification for acknowledgement sla violated
      type: collection
      version: -1
    taskid: 4573797d-0fcf-4b23-8757-3496befb076c
    timertriggers: []
    type: collection
    view: |-
      {
        "position": {
          "x": 120,
          "y": 285
        }
      }
  "32":
    continueonerrortype: ""
    id: "32"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      id: c410693e-8727-442a-823e-289487735fab
      iscommand: false
      name: TCS-Process RF Credential Leakage v1.1_Kunal_WIP
      playbookId: 17d53b3b-31f4-4021-8a2a-3e4552d270b4
      type: playbook
      version: -1
    taskid: c410693e-8727-442a-823e-289487735fab
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 710,
          "y": 380
        }
      }
version: -1
view: |-
  {
    "linkLabelsPosition": {
      "14_15_yes": 0.45,
      "30_31_yes": 0.43
    },
    "paper": {
      "dimensions": {
        "height": 3775,
        "width": 2580,
        "x": -1380,
        "y": -1430
      }
    }
  }
