playbook-TCS-OnDemand_Host_Containment_Playbook_v1.5.yml
contentitemexportablefields:
  contentitemfields:
    definitionid: ""
    fromServerVersion: ""
    itemVersion: ""
    packID: ""
    packName: ""
    prevname: ""
    propagationLabels:
    - all
    toServerVersion: ""
id: 0f26659a-009a-45d1-8ff3-20f42484a887
inputs: []
name: TCS-OnDemand Host Containment Playbook v1.5
outputs: []
sourceplaybookid: dc7d02c4-9e4e-4e78-866e-35dde9c38272
starttaskid: "0"
tasks:
  "0":
    continueonerrortype: ""
    id: "0"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "33"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 966dd3f2-63ba-4eed-8224-9cf1a477d34e
      iscommand: false
      name: ""
      version: -1
    taskid: 966dd3f2-63ba-4eed-8224-9cf1a477d34e
    timertriggers: []
    type: start
    view: |-
      {
        "position": {
          "x": 1125,
          "y": 0
        }
      }
  "1":
    continueonerrortype: ""
    id: "1"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "2"
    note: false
    quietmode: 0
    scriptarguments:
      entryID:
        complex:
          accessor: EntryID
          filters:
          - - left:
                iscontext: true
                value:
                  simple: File.Extension
              operator: isEqualString
              right:
                value:
                  simple: txt
          root: File
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Load the contents of a file into context.
      id: a7a196a8-714d-4d11-82da-1c45d4ba7d9c
      iscommand: false
      name: Read The Text Attachment
      script: ReadFile
      type: regular
      version: -1
    taskid: a7a196a8-714d-4d11-82da-1c45d4ba7d9c
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1125,
          "y": 400
        }
      }
  "2":
    continueonerrortype: ""
    id: "2"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "32"
    note: false
    quietmode: 0
    scriptarguments:
      key:
        simple: TCSHostname
      value:
        complex:
          root: FileData
          transformers:
          - operator: trim
          - args:
              delimiter:
                value:
                  simple: |2+

            operator: splitAndTrim
          - args:
              separator:
                value:
                  simple: ','
            operator: join
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Set a value in context under the key you entered.
      id: 70bbaecb-5f71-46f0-8d2f-5c1cdf634876
      iscommand: false
      name: Set Data To Context
      script: Set
      type: regular
      version: -1
    taskid: 70bbaecb-5f71-46f0-8d2f-5c1cdf634876
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1125,
          "y": 535
        }
      }
  "3":
    continueonerrortype: ""
    id: "3"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "10"
    note: false
    quietmode: 0
    scriptarguments:
      hostname:
        complex:
          root: TCSHostname
      using:
        simple: CrowdstrikeFalcon_instance_1
    separatecontext: false
    skipunavailable: false
    task:
      brand: CrowdstrikeFalcon
      description: Searches for a device that matches the query.
      id: 8613e829-6169-4222-815a-7c7396d3a187
      iscommand: true
      name: Get Host Data From Crowdstrike
      script: CrowdstrikeFalcon|||cs-falcon-search-device
      type: regular
      version: -1
    taskid: 8613e829-6169-4222-815a-7c7396d3a187
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1125,
          "y": 1140
        }
      }
  "4":
    continueonerrortype: ""
    id: "4"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "5"
    note: false
    quietmode: 0
    scriptarguments:
      csvArray:
        complex:
          accessor: Device
          root: CrowdStrike
      fileName:
        simple: Crowdstrike_Host_Contained_Report.csv
      headers:
        simple: Hostname,ID,FirstSeen,LastSeen,OS,ExternalIP,LocalIP
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Export given array to csv file
      id: bf3a8e3c-b839-4e87-8ca2-4775d98d557c
      iscommand: false
      name: Create Excel Report
      script: ExportToCSV
      type: regular
      version: -1
    taskid: bf3a8e3c-b839-4e87-8ca2-4775d98d557c
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1125,
          "y": 2150
        }
      }
  "5":
    continueonerrortype: ""
    id: "5"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "6"
    note: false
    quietmode: 0
    scriptarguments:
      key:
        simple: Report
      value:
        simple: '${.=(val.File instanceof Array ? val.File[val.File.length-1].EntryID
          : val.File.EntryID)}'
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Set a value in context under the key you entered.
      id: 8bed5448-f877-462b-8111-6aadcf472c60
      iscommand: false
      name: Set Report To New Context
      script: Set
      type: regular
      version: -1
    taskid: 8bed5448-f877-462b-8111-6aadcf472c60
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1125,
          "y": 2325
        }
      }
  "6":
    continueonerrortype: ""
    id: "6"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "7"
    note: false
    quietmode: 0
    scriptarguments:
      left:
        complex:
          root: TCSHostname
          transformers:
          - operator: toUpperCase
      right:
        complex:
          accessor: Hostname
          root: CrowdStrike.Device
          transformers:
          - operator: toUpperCase
          - args:
              delimiter:
                value:
                  simple: ','
            operator: splitAndTrim
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Compare  two lists and put the differences in context.
      id: 651b326d-a2be-496d-8b5c-d29b8d984658
      iscommand: false
      name: Compare Submitted List With CS Results
      script: CompareLists
      type: regular
      version: -1
    taskid: 651b326d-a2be-496d-8b5c-d29b8d984658
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1125,
          "y": 2500
        }
      }
  "7":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                accessor: LeftOnly
                root: ListCompare
          operator: isExists
      - - left:
            iscontext: true
            value:
              complex:
                accessor: LeftOnly
                root: ListCompare
          operator: isNotEmpty
      label: "yes"
    continueonerrortype: ""
    id: "7"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "12"
      "yes":
      - "8"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: b601e14f-cd24-492a-8663-5a16a6c3ea2d
      iscommand: false
      name: Are There Any Hosts Not Found in CrowdStrike ?
      type: condition
      version: -1
    taskid: b601e14f-cd24-492a-8663-5a16a6c3ea2d
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 1125,
          "y": 2675
        }
      }
  "8":
    continueonerrortype: ""
    id: "8"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "20"
    note: false
    quietmode: 0
    scriptarguments:
      key:
        simple: Hostnotfound
      value:
        complex:
          accessor: LeftOnly
          root: ListCompare
          transformers:
          - args:
              delimiter:
                value:
                  simple: ','
            operator: splitAndTrim
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Set a value in context under the key you entered.
      id: ac89217d-99a9-448f-827f-4c5a3a916ba0
      iscommand: false
      name: Set The Host To Context
      script: Set
      type: regular
      version: -1
    taskid: ac89217d-99a9-448f-827f-4c5a3a916ba0
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1340,
          "y": 2850
        }
      }
  "10":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                root: CrowdStrike
          operator: isExists
      - - left:
            iscontext: true
            value:
              complex:
                accessor: Hostname
                root: CrowdStrike.Device
          operator: isNotEmpty
      label: "yes"
    continueonerrortype: ""
    id: "10"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "11"
      "yes":
      - "24"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 842d1412-f744-4858-8632-2e2b8213f243
      iscommand: false
      name: Host Found on CrowdStrike?
      type: condition
      version: -1
    taskid: 842d1412-f744-4858-8632-2e2b8213f243
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 1125,
          "y": 1285
        }
      }
  "11":
    continueonerrortype: ""
    id: "11"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "16"
    note: false
    quietmode: 0
    scriptarguments:
      body:
        simple: |
          Hello Human,

          None of the Hostname in this list - ${incident.attachment.name} were found in Crowdstrike.

          Regards,
          Cyber Autobot
          Automation task id : ${incident.id}
      cc:
        simple: v.ghule@tcs.com,InternalIS.SecurityCompliance@tcs.com
      subject:
        simple: None of The Hostname in this list - ${incident.attachment.name} Were
          Found in Crowdstrike
      to:
        complex:
          accessor: Email/from
          root: incident.labels
    separatecontext: false
    skipunavailable: false
    task:
      brand: EWS Mail Sender
      description: Sends an email using EWS.
      id: 08711457-88be-4de4-894b-0cfc9ddeff73
      iscommand: true
      name: Send Notification 'No Hosts Found on Crowdstrike'
      script: EWS Mail Sender|||send-mail
      type: regular
      version: -1
    taskid: 08711457-88be-4de4-894b-0cfc9ddeff73
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 480,
          "y": 3550
        }
      }
  "12":
    continueonerrortype: ""
    id: "12"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "16"
    note: false
    quietmode: 0
    scriptarguments:
      attachIDs:
        simple: ${Report}
      body:
        simple: |
          Hello Human,

          I have contained all the hosts shared in this list - ${incident.attachment.name}. Please refer to the attached report.


          Regards,
          Cyber Autobot
          Automation id : ${incident.id}
      cc:
        simple: v.ghule@tcs.com,kunal.krushev@tcs.com,internalis.cybersecurityops@tcs.com,InternalIS.SecurityCompliance@tcs.com
      subject:
        simple: ' Crowdstrike Contained Host Report For Submitted File (Compliance
          Team)- ${incident.attachment.name}'
      to:
        complex:
          accessor: Email/from
          root: incident.labels
    separatecontext: false
    skipunavailable: false
    task:
      brand: EWS Mail Sender
      description: Sends an email using EWS.
      id: 66b53c2c-993a-442d-8f8b-024a64fcd950
      iscommand: true
      name: Send Host Containment Report (All Hosts)
      script: EWS Mail Sender|||send-mail
      type: regular
      version: -1
    taskid: 66b53c2c-993a-442d-8f8b-024a64fcd950
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 910,
          "y": 3550
        }
      }
  "13":
    continueonerrortype: ""
    id: "13"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "16"
    note: false
    quietmode: 0
    scriptarguments:
      attachIDs:
        simple: ${Report}
      body:
        simple: |
          Hello Human,

          I have contained some of the hosts shared in this list - ${incident.attachment.name}

          PFA report of hosts contained and also a list of hosts not found in the CrowdStrike database.


          Regards,
          Cyber Autobot
          Automation id : ${incident.id}
      cc:
        simple: v.ghule@tcs.com,kunal.krushev@tcs.com,internalis.cybersecurityops@tcs.com,InternalIS.SecurityCompliance@tcs.com
      subject:
        simple: ' Crowdstrike Contained Host Report For Submitted File(Compliance
          Team) - ${incident.attachment.name}'
      to:
        complex:
          accessor: Email/from
          root: incident.labels
    separatecontext: false
    skipunavailable: false
    task:
      brand: EWS Mail Sender
      description: Sends an email using EWS.
      id: 10337122-2656-4b57-8d03-769d71c68b15
      iscommand: true
      name: Send Host Containment Report (Some Hosts)
      script: EWS Mail Sender|||send-mail
      type: regular
      version: -1
    taskid: 10337122-2656-4b57-8d03-769d71c68b15
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1340,
          "y": 3550
        }
      }
  "15":
    continueonerrortype: ""
    id: "15"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "16"
    note: false
    quietmode: 0
    scriptarguments:
      body:
        simple: |-
          Hello Human,

          You are not on my authorized list of senders. Please contact Your XSOAR Support team.

          Regards,
          CSOC Cyber AutoBot
          Automation task id : ${incident.id}
      cc:
        simple: kunal.krushev@tcs.com,v.ghule@tcs.com,sonam.bhandari@tcs.com,InternalIS.SecurityCompliance@tcs.com
      subject:
        simple: Not Authorized For This Task
      to:
        complex:
          accessor: Email/from
          root: incident.labels
      using:
        simple: Mail Sender_instance_AutoBot
    separatecontext: false
    skipunavailable: false
    task:
      brand: Mail Sender (New)
      description: Send an email
      id: 496548c4-a55c-4f78-84a0-cca00a2472e2
      iscommand: true
      name: Send Notification 'Not Authorized Sender'
      script: Mail Sender (New)|||send-mail
      type: regular
      version: -1
    taskid: 496548c4-a55c-4f78-84a0-cca00a2472e2
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 150,
          "y": 1530
        }
      }
  "16":
    continueonerrortype: ""
    id: "16"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "17"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: commands.local.cmd.close.inv
      id: 25fb69d7-6aa4-4f12-8e15-4892b18565dd
      iscommand: true
      name: Close Playbook
      script: Builtin|||closeInvestigation
      type: regular
      version: -1
    taskid: 25fb69d7-6aa4-4f12-8e15-4892b18565dd
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 910,
          "y": 3725
        }
      }
  "17":
    continueonerrortype: ""
    id: "17"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: e09101e1-fcb0-4daa-86ef-04a49702148e
      iscommand: false
      name: The End
      type: title
      version: -1
    taskid: e09101e1-fcb0-4daa-86ef-04a49702148e
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 910,
          "y": 3900
        }
      }
  "18":
    continueonerrortype: ""
    id: "18"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "19"
    note: false
    quietmode: 0
    scriptarguments:
      context_key:
        simple: Hostnotfoundarray
      file_name:
        simple: Host_Not_Found.csv
      header:
        simple: Hostname
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 4c6e4110-ebe7-4f77-8f8d-40a5dae6665c
      iscommand: false
      name: Create Excel Report of Hosts Not Found
      script: 98fd7176-124d-4739-8f9d-2f1edb20aa55
      type: regular
      version: -1
    taskid: 4c6e4110-ebe7-4f77-8f8d-40a5dae6665c
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1340,
          "y": 3200
        }
      }
  "19":
    continueonerrortype: ""
    id: "19"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "13"
    note: false
    quietmode: 0
    scriptarguments:
      append:
        simple: "true"
      key:
        simple: Report
      value:
        simple: '${.=(val.File instanceof Array ? val.File[val.File.length-1].EntryID
          : val.File.EntryID)}'
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Set a value in context under the key you entered.
      id: 20cdc22d-76f1-409d-8267-f4ad60d82b23
      iscommand: false
      name: Set Report To New Context
      script: Set
      type: regular
      version: -1
    taskid: 20cdc22d-76f1-409d-8267-f4ad60d82b23
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1340,
          "y": 3375
        }
      }
  "20":
    continueonerrortype: ""
    id: "20"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "18"
    note: false
    quietmode: 0
    scriptarguments:
      arrayData:
        complex:
          root: Hostnotfound
      contextKey:
        simple: Hostnotfoundarray
      separator:
        simple: ','
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: 'Will create an array object in context from given string input '
      id: 141a9a46-83e5-4af9-89a6-7ed4aba03b2d
      iscommand: false
      name: Create Array For Report
      script: CreateArray
      type: regular
      version: -1
    taskid: 141a9a46-83e5-4af9-89a6-7ed4aba03b2d
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1340,
          "y": 3025
        }
      }
  "21":
    continueonerror: true
    continueonerrortype: ""
    id: "21"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "28"
    note: false
    quietmode: 0
    scriptarguments:
      ids:
        complex:
          accessor: ID
          root: CrowdStrike.Device
          transformers:
          - operator: uniq
      using:
        simple: CrowdstrikeFalcon_instance_1
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Contains containment for a specified host. When contained, a host
        can only communicate with the CrowdStrike cloud and any IPs specified in your
        containment policy.
      id: 2d7cc230-7263-4a73-8630-7a9227acd418
      iscommand: true
      name: Contain Host
      script: '|||cs-falcon-contain-host'
      type: regular
      version: -1
    taskid: 2d7cc230-7263-4a73-8630-7a9227acd418
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1125,
          "y": 1800
        }
      }
  "22":
    continueonerrortype: ""
    id: "22"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "23"
    note: false
    quietmode: 0
    scriptarguments:
      arrayData:
        simple: ${TCSHostname}
      contextKey:
        simple: TCSHostnameArray
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: 'Will create an array object in context from given string input '
      id: fcb96c7c-def4-4488-8782-e1bfab766713
      iscommand: false
      name: Create Array of Input Data
      script: CreateArray
      type: regular
      version: -1
    taskid: fcb96c7c-def4-4488-8782-e1bfab766713
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1125,
          "y": 830
        }
      }
  "23":
    continueonerrortype: ""
    id: "23"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "3"
    note: false
    quietmode: 0
    scriptarguments:
      array:
        simple: ${TCSHostnameArray}
      contextKey:
        simple: TCSHostnameArrayCount
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Count an array size
      id: 75116697-cdb8-4f68-8fa7-80c0b86b682b
      iscommand: false
      name: Count The Array Data And Set It To Context
      script: CountArraySize
      type: regular
      version: -1
    taskid: 75116697-cdb8-4f68-8fa7-80c0b86b682b
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1125,
          "y": 985
        }
      }
  "24":
    continueonerrortype: ""
    id: "24"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "25"
    note: false
    quietmode: 0
    scriptarguments:
      array:
        simple: ${CrowdStrike.Device.ID}
      contextKey:
        simple: CrowdStrikeDeviceIDCount
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Count an array size
      id: db61a94a-c288-4fd8-8f74-5ba82d8a6a0f
      iscommand: false
      name: Count The CS Host ID Array Count And Set It To Context
      script: CountArraySize
      type: regular
      version: -1
    taskid: db61a94a-c288-4fd8-8f74-5ba82d8a6a0f
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1340,
          "y": 1470
        }
      }
  "25":
    continueonerror: true
    continueonerrortype: ""
    id: "25"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      "no":
      - "21"
      "yes":
      - "26"
    note: false
    quietmode: 0
    scriptarguments:
      first:
        simple: ${CrowdStrikeDeviceIDCount}
      second:
        simple: ${TCSHostnameArrayCount}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: |-
        Checks if one number(float) as bigger than the other(float)
        Returns yes: if first > second
        Returns no: if first <= second
        Returns exception if one of the inputs is not a number
      id: 8b4d5455-85aa-4667-808d-0f13221eaab6
      iscommand: false
      name: Compare The Count Value Of The CrowdStrike Output With The Original Input
      script: IsGreaterThan
      type: condition
      version: -1
    taskid: 8b4d5455-85aa-4667-808d-0f13221eaab6
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 1340,
          "y": 1625
        }
      }
  "26":
    continueonerrortype: ""
    id: "26"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "16"
    note: false
    quietmode: 0
    scriptarguments:
      body:
        simple: |
          Hello Human,

          One of the Hostnames in this list - ${incident.attachment.name} is not unique, and resolves to multiple device IDs. Unfortunately I've not yet learnt to identify the hostname causing the issue. Request you to review this manually.

          Regards,
          Cyber Autobot
          Automation task id : ${incident.id}
      cc:
        simple: v.ghule@tcs.com, kunal.krushev@tcs.com,internalis.cybersecurityops@tcs.com,InternalIS.SecurityCompliance@tcs.com
      subject:
        simple: One of The CrowdStrike Host(s) Is Not Unique - ${incident.attachment.name}
      to:
        complex:
          accessor: Email/from
          root: incident.labels
    separatecontext: false
    skipunavailable: false
    task:
      brand: EWS Mail Sender
      description: Sends an email using EWS.
      id: d6f792d5-8015-4e0f-871a-9d5acdd5a8c4
      iscommand: true
      name: Send Notification 'One of The Host Inputs is Not Unique'
      script: EWS Mail Sender|||send-mail
      type: regular
      version: -1
    taskid: d6f792d5-8015-4e0f-871a-9d5acdd5a8c4
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1770,
          "y": 3550
        }
      }
  "27":
    continueonerrortype: ""
    id: "27"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    scriptarguments:
      key:
        simple: ${CrowdStrike}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Delete field from context
      id: 3940bdc0-c206-4c61-82e2-422ff1a25382
      iscommand: false
      name: Delete Crowdstrike Context
      script: DeleteContext
      type: regular
      version: -1
    taskid: 3940bdc0-c206-4c61-82e2-422ff1a25382
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 560,
          "y": 1840
        }
      }
  "28":
    continueonerrortype: ""
    id: "28"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "4"
    note: false
    quietmode: 0
    scriptarguments:
      relateToIncident:
        simple: "true"
      tags:
        simple: hostcontaincompliance
      type:
        simple: Host
      value:
        complex:
          accessor: Hostname
          root: CrowdStrike.Device
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: commands.local.cmd.new.indicator
      id: 6c029a05-d5fb-4812-8b13-5cd7b4a0538f
      iscommand: true
      name: Create Host Indicator
      script: Builtin|||createNewIndicator
      type: regular
      version: -1
    taskid: 6c029a05-d5fb-4812-8b13-5cd7b4a0538f
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1125,
          "y": 1975
        }
      }
  "32":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: ${TCSHostname}
          operator: isNotEmpty
      label: "yes"
    continueonerrortype: ""
    id: "32"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "16"
      "yes":
      - "22"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 5d70631e-29a2-4128-851f-2f853a7300c8
      iscommand: false
      name: 'Attachment contains hostname '
      type: condition
      version: -1
    taskid: 5d70631e-29a2-4128-851f-2f853a7300c8
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 1450,
          "y": 690
        }
      }
  "33":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: ${incident.emailfrom}
          operator: isEqualString
          right:
            value:
              simple: komal.lugade@tcs.com
        - left:
            iscontext: true
            value:
              simple: ${incident.emailfrom}
          operator: isEqualString
          right:
            value:
              simple: InternalIS.SecurityCompliance@tcs.com
        - left:
            iscontext: true
            value:
              simple: ${incident.emailfrom}
          operator: isEqualString
          right:
            value:
              simple: kunal.krushev@tcs.com
        - left:
            iscontext: true
            value:
              simple: ${incident.emailfrom}
          operator: isEqualString
          right:
            value:
              simple: sonam.bhandari@tcs.com
        - left:
            iscontext: true
            value:
              simple: ${incident.emailfrom}
          operator: isEqualString
          right:
            value:
              simple: komala.kp@tcs.com
        - left:
            iscontext: true
            value:
              simple: ${incident.emailfrom}
          operator: isEqualString
          right:
            value:
              simple: ramprakash1.r@tcs.com
        - left:
            iscontext: true
            value:
              simple: ${incident.emailfrom}
          operator: isEqualString
          right:
            value:
              simple: sonali.teli@tcs.com
        - left:
            iscontext: true
            value:
              simple: ${incident.emailfrom}
          operator: isEqualString
          right:
            value:
              simple: manoharan.g@tcs.com
        - left:
            iscontext: true
            value:
              simple: ${incident.emailfrom}
          operator: isEqualString
          right:
            value:
              simple: shreya.nayak@tcs.com
        - left:
            iscontext: true
            value:
              simple: ${incident.emailfrom}
          operator: isEqualString
          right:
            value:
              simple: k.premanandhan@tcs.com
        - left:
            iscontext: true
            value:
              simple: ${incident.emailfrom}
          operator: isEqualString
          right:
            value:
              simple: somraj.chakravarty@tcs.com
        - left:
            iscontext: true
            value:
              simple: ${incident.emailfrom}
          operator: isEqualString
          right:
            value:
              simple: s.moharana@tcs.com
        - left:
            iscontext: true
            value:
              simple: ${incident.emailfrom}
          operator: isEqualString
          right:
            value:
              simple: arunsastha.p@tcs.com
        - left:
            iscontext: true
            value:
              simple: ${incident.emailfrom}
          operator: isEqualString
          right:
            value:
              simple: sala.e@tcs.com
        - left:
            iscontext: true
            value:
              simple: ${incident.emailfrom}
          operator: isEqualString
          right:
            value:
              simple: vanita.gonjare@tcs.com
        - left:
            iscontext: true
            value:
              simple: ${incident.emailfrom}
          operator: isEqualString
          right:
            value:
              simple: pawan.pavanje@tcs.com
        - left:
            iscontext: true
            value:
              simple: ${incident.emailfrom}
          operator: isEqualString
          right:
            value:
              simple: umarshariff.a@tcs.com
        - left:
            iscontext: true
            value:
              simple: ${incident.emailfrom}
          operator: isEqualString
          right:
            value:
              simple: Hemnath.V@tcs.com
        - left:
            iscontext: true
            value:
              simple: ${incident.emailfrom}
          operator: isEqualString
          right:
            value:
              simple: ${lists.AuthorizedsendersCompliance}
      label: "yes"
    continueonerrortype: ""
    id: "33"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "15"
      "yes":
      - "1"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 4892890a-b957-47ea-8a81-d00a9756080f
      iscommand: false
      name: Is Email From Authorized Sender ?
      type: condition
      version: -1
    taskid: 4892890a-b957-47ea-8a81-d00a9756080f
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 1125,
          "y": 190
        }
      }
version: -1
view: |-
  {
    "linkLabelsPosition": {
      "25_26_yes": 0.24
    },
    "paper": {
      "dimensions": {
        "height": 3965,
        "width": 2000,
        "x": 150,
        "y": 0
      }
    }
  }
