playbook-PrintinLoop.yml
contentitemexportablefields:
  contentitemfields:
    definitionid: ""
    fromServerVersion: ""
    itemVersion: ""
    packID: ""
    packName: SplitData Contribution Pack
    prevname: ""
    propagationLabels:
    - all
    toServerVersion: ""
id: c33af6c7-700a-4110-8c69-1fa70909d05f
inputs:
- description: ""
  key: DataPrint
  playbookInputQuery: null
  required: false
  value: {}
name: PrintinLoop
outputs: []
quiet: true
starttaskid: "0"
tasks:
  "0":
    continueonerrortype: ""
    id: "0"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "1"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: e0db16e3-07f6-46b6-866a-b8159751a8cb
      iscommand: false
      name: ""
      version: -1
    taskid: e0db16e3-07f6-46b6-866a-b8159751a8cb
    timertriggers: []
    type: start
    view: |-
      {
        "position": {
          "x": 450,
          "y": 50
        }
      }
  "1":
    continueonerrortype: ""
    id: "1"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "2"
    note: false
    quietmode: 2
    scriptarguments:
      value:
        complex:
          accessor: DataPrint}
          root: ${inputs
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Prints text to war room (Markdown supported)
      id: 5657c681-4e63-48ae-83ab-4612681ffc21
      iscommand: false
      name: Print Data
      script: Print
      type: regular
      version: -1
    taskid: 5657c681-4e63-48ae-83ab-4612681ffc21
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 450,
          "y": 240
        }
      }
  "2":
    continueonerrortype: ""
    id: "2"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: ccc77f7a-515b-4261-84b2-a6f143d8b5a1
      iscommand: false
      name: End
      type: title
      version: -1
    taskid: ccc77f7a-515b-4261-84b2-a6f143d8b5a1
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 450,
          "y": 390
        }
      }
version: -1
view: |-
  {
    "linkLabelsPosition": {},
    "paper": {
      "dimensions": {
        "height": 405,
        "width": 380,
        "x": 450,
        "y": 50
      }
    }
  }
