playbook-Crowdstrike_test.yml
contentitemexportablefields:
  contentitemfields:
    definitionid: ""
    fromServerVersion: ""
    itemVersion: ""
    packID: ""
    packName: ""
    prevname: ""
    propagationLabels:
    - all
    toServerVersion: ""
id: 3c223493-e889-4907-85d8-f05480dcd83b
inputs: []
name: Crowdstrike test
outputs: []
starttaskid: "0"
tasks:
  "0":
    continueonerrortype: ""
    id: "0"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "1"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 98b56504-2bdd-4d04-819d-9aaceacbce95
      iscommand: false
      name: ""
      version: -1
    taskid: 98b56504-2bdd-4d04-819d-9aaceacbce95
    timertriggers: []
    type: start
    view: |-
      {
        "position": {
          "x": 560,
          "y": -20
        }
      }
  "1":
    continueonerrortype: ""
    id: "1"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    scriptarguments:
      list:
        simple: ${File.EntryID}
    separatecontext: false
    skipunavailable: false
    task:
      brand: Recorded Future
      description: Gets the URL risk list as a CSV file from Recorded Future.
      id: 2f8f3c59-86b4-4b12-8f83-af75c1032017
      iscommand: true
      name: 'Untidownload Url '
      script: Recorded Future|||recorded-future-get-url-risklist
      type: regular
      version: -1
    taskid: 2f8f3c59-86b4-4b12-8f83-af75c1032017
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 560,
          "y": 225
        }
      }
  "2":
    continueonerrortype: ""
    id: "2"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      id: 442cf6e0-5f7f-48f6-8491-87876ee4dd1f
      iscommand: false
      name: Access Investigation - Generic
      playbookId: access_investigation_-_generic
      type: playbook
      version: -1
    taskid: 442cf6e0-5f7f-48f6-8491-87876ee4dd1f
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 560,
          "y": 400
        }
      }
version: -1
view: |-
  {
    "linkLabelsPosition": {},
    "paper": {
      "dimensions": {
        "height": 515,
        "width": 380,
        "x": 560,
        "y": -20
      }
    }
  }
