playbook-HealthCheck.yml
contentitemexportablefields:
  contentitemfields:
    definitionid: ""
    fromServerVersion: 6.9.0
    itemVersion: 3.0.0
    packID: HealthCheck
    packName: System Diagnostics and Health Check
    packPropagationLabels:
    - all
    prevname: ""
    propagationLabels:
    - all
    toServerVersion: ""
description: New version for HealthCheck main playbook.
id: HealthCheck
inputs:
- description: ""
  key: ChangeThresholdsRequired
  playbookInputQuery: null
  required: false
  value:
    simple: "false"
name: HealthCheck
outputs: []
starttaskid: "0"
system: true
tasks:
  "0":
    continueonerrortype: ""
    id: "0"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "36"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: de2d5100-330b-480d-8c3c-d2ba326ae21e
      iscommand: false
      name: ""
      version: -1
    taskid: de2d5100-330b-480d-8c3c-d2ba326ae21e
    timertriggers: []
    type: start
    view: |-
      {
        "position": {
          "x": 1237.5,
          "y": 50
        }
      }
  "1":
    continueonerrortype: ""
    id: "1"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 100
      wait: 1
    nexttasks:
      '#none#':
      - "3"
    note: false
    quietmode: 0
    scriptarguments:
      Thresholds:
        simple: |-
          {
            "LargeInvestigations": {
              "numberofincidentswithmorethan500entries": 300,
              "numberofincidentsbiggerthan10mb": 1,
              "numberofincidentsbiggerthan1mb": 300
            },
            "LargeInputsOutputs": {
              "numberofincidentsIObiggerthan10mb": 1,
              "numberofincidentsIObiggerthan1mb": 10
            },
            "Indicators": {
              "relatedIndicatorCount": 100
            },
            "CPU": {
              "CPUHighUsage": 90,
              "CPULowUsage": 30,
              "CPUMediumUsage": 70
            },
            "Disk": {
              "DiskUsageHigh": 90,
              "DiskUsageMedium": 80,
              "DiskUsageLow": 70,
              "DiskUsageDailyIncrease": 2
            },
            "Docker": {
              "DockerContainerCPUUsage": 10,
              "DockerContainerRAMUsage": 10
            },
            "DB": {
              "FSPartitionsMedium": 12,
              "FSPartitionsLow": 6
            },
            "Playbooks": {
              "CustomPlaybookLength": 30,
              "CustomPlaybookSetIncidentCount": 4,
              "CustomPlaybookDeprecatedScriptIds": [
                "Sleep",
                "EmailAskUser"
              ]
            },
            "Incidents": {
              "NumberOfDroppedIncidents": 2000
            }
          }
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      description: "Collect Log bundle and parse data\n\nHolding the default Thresholds:\n{\n\t\"LargeInvestigations\":
        {\n\t\t\"numberofincidentswithmorethan500entries\": 300,\n\t\t\"numberofincidentsbiggerthan10mb\":
        1,\n\t\t\"numberofincidentsbiggerthan1mb\": 300\n\t},\n\t\"LargeInputsOutputs\":
        {\n\t\t\"numberofincidentsIObiggerthan10mb\": 1,\n\t\t\"numberofincidentsIObiggerthan1mb\":
        10\n\t},\n\t\"Indicators\": {\n\t\t\"relatedIndicatorCount\": 100\n\t},\n\t\"CPU\":
        {\n\t\t\"CPUHighUsage\": 90,\n\t\t\"CPULowUsage\": 30,\n\t\t\"CPUMediumUsage\":
        70\n\t},\n\t\"Disk\": {\n\t\t\"DiskUsageHigh\": 90,\n\t\t\"DiskUsageMedium\":
        80,\n\t\t\"DiskUsageLow\": 70,\n\t\t\"DiskUsageDailyIncrease\": 2\n\t},\n\t\"Docker\":
        {\n\t\t\"DockerContainerCPUUsage\": 10,\n\t\t\"DockerContainerRAMUsage\":
        10\n\t},\n\t\"DB\": {\n\t\t\"FSPartitionsMedium\": 12,\n\t\t\"FSPartitionsLow\":
        6\n\t},\n\t\"Playbooks\": {\n\t\t\"CustomPlaybookLength\": 30,\n\t\t\"CustomPlaybookSetIncidentCount\":
        4,\n\t\t\"CustomPlaybookDeprecatedScriptIds\": [\n\t\t\t\"Sleep\",\n\t\t\t\"EmailAskUser\"\n\t\t]\n\t},\n\t\"Incidents\":
        {\n\t\t\"NumberOfDroppedIncidents\": 2000\n\t}\n}"
      id: cdeb61e9-0442-401e-8b61-f74d6d45be68
      iscommand: false
      name: Health Check - Collect Log Bundle
      playbookId: Health Check - Collect Log Bundle
      type: playbook
      version: -1
    taskid: cdeb61e9-0442-401e-8b61-f74d6d45be68
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 1452.5,
          "y": 1215
        }
      }
  "3":
    continueonerrortype: ""
    id: "3"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "26"
      - "39"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: c2c984fd-3847-4c70-85fe-d0eed5d0edab
      iscommand: false
      name: Collect Information
      type: title
      version: -1
    taskid: c2c984fd-3847-4c70-85fe-d0eed5d0edab
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 1452.5,
          "y": 1390
        }
      }
  "4":
    continueonerrortype: ""
    fieldMapping:
    - incidentfield: XSOAR Version
      output:
        simple: ${DemistoVersion.version}
    - incidentfield: XSOAR Build
      output:
        simple: ${DemistoVersion.buildNumber}
    - incidentfield: name
      output:
        simple: System Diagnostics and Health Check Report
    id: "4"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "42"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Return the Demisto server version.
      id: 6d664315-e10a-442f-83d0-2e4fc4ce1763
      iscommand: false
      name: Set version and incident name
      script: DemistoVersion
      type: regular
      version: -1
    taskid: 6d664315-e10a-442f-83d0-2e4fc4ce1763
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1237.5,
          "y": 865
        }
      }
  "5":
    continueonerrortype: ""
    id: "5"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "14"
    note: false
    quietmode: 0
    scriptarguments:
      isWidget:
        simple: "False"
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Present or analyze workers usage
      id: 10982ac3-7098-41d7-85fc-4f1c07c4c42b
      iscommand: false
      name: HealthCheckWorkers
      script: HealthCheckWorkers
      type: regular
      version: -1
    taskid: 10982ac3-7098-41d7-85fc-4f1c07c4c42b
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 2385,
          "y": 1795
        }
      }
  "6":
    continueonerrortype: ""
    id: "6"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "17"
    note: false
    quietmode: 0
    scriptarguments:
      entryID:
        simple: "0"
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: "Read the installedpacks.json. \n\nCount and get packs names"
      id: bb77ac80-c57c-455e-8194-cd8c40b06350
      iscommand: false
      name: Installed Packs
      script: HealthCheckInstalledPacks
      type: regular
      version: -1
    taskid: bb77ac80-c57c-455e-8194-cd8c40b06350
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1340,
          "y": 2670
        }
      }
  "7":
    continueonerrortype: ""
    id: "7"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "17"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Trend graph for incidents created per day
      id: 7a1df602-ded5-4e3c-89f0-6e9d6dc6f1f0
      iscommand: false
      name: Integrations instances
      script: HealthCheckIntegrations
      type: regular
      version: -1
    taskid: 7a1df602-ded5-4e3c-89f0-6e9d6dc6f1f0
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 910,
          "y": 2670
        }
      }
  "8":
    continueonerrortype: ""
    id: "8"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "4"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 0ad58a24-1f65-4e05-87c6-d39ed77ae9aa
      iscommand: false
      name: System Details
      type: title
      version: -1
    taskid: 0ad58a24-1f65-4e05-87c6-d39ed77ae9aa
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 1237.5,
          "y": 720
        }
      }
  "12":
    continueonerrortype: ""
    id: "12"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "7"
      - "6"
      - "37"
      - "41"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: e12cd0ae-cda7-4cfc-8f95-877d6874712e
      iscommand: false
      name: Packs and Integrations
      type: title
      version: -1
    taskid: e12cd0ae-cda7-4cfc-8f95-877d6874712e
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 695,
          "y": 2525
        }
      }
  "13":
    continueonerrortype: ""
    id: "13"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "5"
      - "15"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 9f90bcde-0948-41bc-8c4c-d1d594ea804e
      iscommand: false
      name: System Resources
      type: title
      version: -1
    taskid: 9f90bcde-0948-41bc-8c4c-d1d594ea804e
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 2600,
          "y": 1650
        }
      }
  "14":
    continueonerrortype: ""
    id: "14"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "43"
    note: false
    quietmode: 0
    scriptarguments:
      isWidget:
        simple: "False"
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: 'Present or parse CPU usage stats '
      id: 9ccf28eb-f527-4114-87c8-98bbdb7188ca
      iscommand: false
      name: HealthCheckCPU
      script: HealthCheckCPU
      type: regular
      version: -1
    taskid: 9ccf28eb-f527-4114-87c8-98bbdb7188ca
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 2385,
          "y": 1970
        }
      }
  "15":
    continueonerrortype: ""
    id: "15"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "16"
    note: false
    quietmode: 0
    scriptarguments:
      isWidget:
        simple: "False"
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: 'Present or parse Disk usage stats '
      id: 3ba8a1c5-1ff1-4907-8dda-da771d5d4611
      iscommand: false
      name: HealthCheckDiskUsage
      script: HealthCheckDiskUsage
      type: regular
      version: -1
    taskid: 3ba8a1c5-1ff1-4907-8dda-da771d5d4611
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 2885,
          "y": 1795
        }
      }
  "16":
    continueonerrortype: ""
    id: "16"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "43"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Containers status
      id: 4f9bc57e-4f87-4f8b-8ddd-6921521003fa
      iscommand: false
      name: HealthCheckContainersStatus
      script: HealthCheckContainersStatus
      type: regular
      version: -1
    taskid: 4f9bc57e-4f87-4f8b-8ddd-6921521003fa
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 2885,
          "y": 1970
        }
      }
  "17":
    continueonerrortype: ""
    id: "17"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "18"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 34f6c1eb-8e9a-426c-8744-01f0692c0407
      iscommand: false
      name: Playbook Analysis
      type: title
      version: -1
    taskid: 34f6c1eb-8e9a-426c-8744-01f0692c0407
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 807.5,
          "y": 2845
        }
      }
  "18":
    continueonerrortype: ""
    id: "18"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "19"
    note: false
    quietmode: 0
    scriptarguments:
      Thresholds:
        simple: ${Health Check Thresholds.Playbooks}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Parsing playbooks
      id: 3562c402-f577-44a9-86bc-3ec38e104532
      iscommand: false
      name: Analyze playbooks
      script: HealthCheckPlaybookAnalysis
      type: regular
      version: -1
    taskid: 3562c402-f577-44a9-86bc-3ec38e104532
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 807.5,
          "y": 2990
        }
      }
  "19":
    continueonerrortype: ""
    id: "19"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "20"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 54191f45-09dd-4cfe-8bd7-d91bfd092a52
      iscommand: false
      name: Incidents
      type: title
      version: -1
    taskid: 54191f45-09dd-4cfe-8bd7-d91bfd092a52
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 807.5,
          "y": 3180
        }
      }
  "20":
    continueonerrortype: ""
    id: "20"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "21"
    note: false
    quietmode: 0
    scriptarguments:
      Thresholds:
        simple: ${Health Check Thresholds.Incidents}
      isWidget:
        simple: "False"
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Number of dropped incidents
      id: 4e125e3c-76bd-46a8-8c36-caafd4e0424a
      iscommand: false
      name: Dropped Incidents
      script: HealthCheckNumberOfDroppedIncidents
      type: regular
      version: -1
    taskid: 4e125e3c-76bd-46a8-8c36-caafd4e0424a
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 807.5,
          "y": 3340
        }
      }
  "21":
    continueonerrortype: ""
    id: "21"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "22"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: df2811a4-f0c2-4bed-8ba5-fabb58df68a5
      iscommand: false
      name: Indicators
      type: title
      version: -1
    taskid: df2811a4-f0c2-4bed-8ba5-fabb58df68a5
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 807.5,
          "y": 3530
        }
      }
  "22":
    continueonerrortype: ""
    id: "22"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "23"
    note: false
    quietmode: 0
    scriptarguments:
      Thresholds:
        simple: ${Health Check Thresholds.Indicators}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Reports on common indicators
      id: d3878e5e-57d5-4b09-811b-815aa324d580
      iscommand: false
      name: Analyze Indicators
      script: HealthCheckCommonIndicators
      type: regular
      version: -1
    taskid: d3878e5e-57d5-4b09-811b-815aa324d580
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 807.5,
          "y": 3690
        }
      }
  "23":
    continueonerrortype: ""
    id: "23"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "24"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 4effe8ff-81ed-4de0-8c61-3f8879c06257
      iscommand: false
      name: Conclusions
      type: title
      version: -1
    taskid: 4effe8ff-81ed-4de0-8c61-3f8879c06257
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 807.5,
          "y": 3865
        }
      }
  "24":
    continueonerrortype: ""
    id: "24"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "25"
    note: false
    quietmode: 0
    scriptarguments:
      columns:
        simple: category,severity,description,resolution
      context_path:
        simple: HealthCheck.ActionableItems
      grid_id:
        simple: healthcheckactionableitems
      keys:
        simple: category,severity,description,resolution
      overwrite:
        simple: "false"
      sort_by:
        simple: severity
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Creates a Grid table from items or key-value pairs.
      id: 5ed1d49c-7e6d-4790-831c-ecb82175cd5d
      iscommand: false
      name: Save to action items table
      script: SetGridField
      type: regular
      version: -1
    taskid: 5ed1d49c-7e6d-4790-831c-ecb82175cd5d
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 807.5,
          "y": 4010
        }
      }
  "25":
    continueonerrortype: ""
    id: "25"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 95f6960a-0fde-4462-8234-69334764de93
      iscommand: false
      name: Done
      type: title
      version: -1
    taskid: 95f6960a-0fde-4462-8234-69334764de93
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 1565,
          "y": 4185
        }
      }
  "26":
    continueonerrortype: ""
    id: "26"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 100
      wait: 1
    nexttasks:
      '#none#':
      - "13"
    note: false
    quietmode: 0
    scriptarguments:
      LogFiles:
        simple: ${File}
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      description: Parse files
      id: 3930e5c0-f2fc-49cf-8a47-9189eaf92221
      iscommand: false
      name: Health Check - Log Analysis Read All files
      playbookId: Health Check - Log Analysis Read All files
      type: playbook
      version: -1
    taskid: 3930e5c0-f2fc-49cf-8a47-9189eaf92221
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 2600,
          "y": 1475
        }
      }
  "27":
    continueonerror: true
    continueonerrortype: ""
    id: "27"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "28"
    note: false
    quietmode: 0
    scriptarguments:
      Append:
        simple: "True"
      Thresholds:
        simple: ${Health Check Thresholds.LargeInvestigations}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Analyze large investigation
      id: 251c3764-c478-4943-8bf1-2affd87bdcd8
      iscommand: false
      name: Large Investigations
      script: HealthCheckAnalyzeLargeInvestigations
      type: regular
      version: -1
    taskid: 251c3764-c478-4943-8bf1-2affd87bdcd8
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1892.5,
          "y": 3340
        }
      }
  "28":
    continueonerror: true
    continueonerrortype: ""
    id: "28"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "33"
    note: false
    quietmode: 0
    scriptarguments:
      Append:
        simple: "True"
      Thresholds:
        simple: ${Health Check Thresholds.LargeInputsOutputs}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: 'Returns inputs and outputs larger than 1 MB from all Cortex XSOAR
        investigations in the last 6 months '
      id: b61105f9-9903-4d1f-85ff-0276273132bb
      iscommand: false
      name: Large inputs and outputs
      script: HealthCheckGetLargestInputsAndOutputsInIncidents
      type: regular
      version: -1
    taskid: b61105f9-9903-4d1f-85ff-0276273132bb
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1892.5,
          "y": 3515
        }
      }
  "30":
    continueonerrortype: ""
    id: "30"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "12"
    note: false
    quietmode: 0
    scriptarguments:
      entryID:
        simple: "0"
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Read the license_data.log file extracted from the log bundle
      id: 91a0c066-15b9-4c0e-8dcf-3d0d83952069
      iscommand: false
      name: Server Configuration
      script: HealthCheckServerConfiguration
      type: regular
      version: -1
    taskid: 91a0c066-15b9-4c0e-8dcf-3d0d83952069
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 695,
          "y": 2350
        }
      }
  "31":
    continueonerrortype: ""
    id: "31"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "25"
    note: false
    quietmode: 0
    scriptarguments:
      columns:
        simple: category,severity,description,resolution
      context_path:
        simple: dbstatactionableitems
      grid_id:
        simple: healthcheckactionableitems
      keys:
        simple: category,severity,description,resolution
      overwrite:
        simple: "false"
      sort_by:
        simple: severity
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Creates a Grid table from items or key-value pairs.
      id: 5e51ddc7-bbc0-40d1-89fb-cff7f0bf33bd
      iscommand: false
      name: Save to action items table
      script: SetGridField
      type: regular
      version: -1
    taskid: 5e51ddc7-bbc0-40d1-89fb-cff7f0bf33bd
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1667.5,
          "y": 4010
        }
      }
  "32":
    continueonerrortype: ""
    id: "32"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "31"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: b3042565-6465-44a2-8e52-624f4bca63be
      iscommand: false
      name: DB Stats Conclusions
      type: title
      version: -1
    taskid: b3042565-6465-44a2-8e52-624f4bca63be
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 1667.5,
          "y": 3865
        }
      }
  "33":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: dbstatactionableitems
          operator: isNotEmpty
      label: "yes"
    continueonerrortype: ""
    id: "33"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "25"
      "yes":
      - "32"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Check DB stats output
      id: c95b65d3-53a3-4971-8b81-481a0b9bd1aa
      iscommand: false
      name: DB stats conclusions
      type: condition
      version: -1
    taskid: c95b65d3-53a3-4971-8b81-481a0b9bd1aa
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 1892.5,
          "y": 3690
        }
      }
  "34":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: inputs.ChangeThresholdsRequired
          operator: isTrue
      label: "yes"
    continueonerrortype: ""
    id: "34"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "8"
      "yes":
      - "35"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Checking if default thresholds were changed
      id: a93d9d0c-ed32-4968-82c1-5c4b7869c083
      iscommand: false
      name: Is Change Thresholds Required?
      type: condition
      version: -1
    taskid: a93d9d0c-ed32-4968-82c1-5c4b7869c083
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 1237.5,
          "y": 370
        }
      }
  "35":
    continueonerrortype: ""
    id: "35"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "8"
    note: false
    quietmode: 0
    scriptarguments:
      key:
        simple: Health Check Thresholds
      value:
        simple: |-
          {
            "LargeInvestigations": {
              "numberofincidentswithmorethan500entries": 300,
              "numberofincidentsbiggerthan10mb": 1,
              "numberofincidentsbiggerthan1mb": 300
            },
            "LargeInputsOutputs": {
              "numberofincidentsIObiggerthan10mb": 1,
              "numberofincidentsIObiggerthan1mb": 10
            },
            "Indicators": {
              "relatedIndicatorCount": 100
            },
            "CPU": {
              "CPUHighUsage": 90,
              "CPULowUsage": 30,
              "CPUMediumUsage": 70
            },
            "Disk": {
              "DiskUsageHigh": 90,
              "DiskUsageMedium": 80,
              "DiskUsageLow": 70,
              "DiskUsageDailyIncrease": 2
            },
            "DB": {
              "FSPartitionsMedium": 12,
              "FSPartitionsLow": 6
            },
            "Playbooks": {
              "CustomPlaybookLength": 30,
              "CustomPlaybookSetIncidentCount": 4,
              "CustomPlaybookDeprecatedScriptIds": [
                "Sleep",
                "EmailAskUser"
              ]
            },
            "Incidents": {
              "NumberOfDroppedIncidents": 2000
            }
          }
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Set a value in context under the key you entered.
      id: 6d395bb1-aadb-48ec-804b-41e1b07956c8
      iscommand: false
      name: Set Thresholds
      script: Set
      type: regular
      version: -1
    taskid: 6d395bb1-aadb-48ec-804b-41e1b07956c8
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1350,
          "y": 545
        }
      }
  "36":
    continueonerrortype: ""
    id: "36"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "34"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: |-
        Validate if API Integration was defined correctly.
        If not detect what is the problem and warn about it.
      id: 931a9081-f8bf-450d-83fe-35d7082117d3
      iscommand: false
      name: Validate API Integration
      script: HealthCheckAPIvalidation
      type: regular
      version: -1
    taskid: 931a9081-f8bf-450d-83fe-35d7082117d3
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1237.5,
          "y": 195
        }
      }
  "37":
    continueonerrortype: ""
    id: "37"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "17"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Parsing custom fields to detect indexed fields for risky field
        types
      id: eee268d2-7173-4429-8599-c3bf89b247ad
      iscommand: false
      name: Fields settings
      script: HealthCheckFields
      type: regular
      version: -1
    taskid: eee268d2-7173-4429-8599-c3bf89b247ad
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 50,
          "y": 2670
        }
      }
  "38":
    continueonerrortype: ""
    id: "38"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "27"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Collect data from System Diagnostics tool
      id: b5065db9-518f-4ed8-8129-25995f4aa759
      iscommand: false
      name: DB System Diagnostics
      script: HealthCheckSystemDiagnostics
      type: regular
      version: -1
    taskid: b5065db9-518f-4ed8-8129-25995f4aa759
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1892.5,
          "y": 3180
        }
      }
  "39":
    continueonerrortype: ""
    id: "39"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "38"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 0662f4a9-0ea0-4a3a-84ab-6314d8a93e7b
      iscommand: false
      name: Database Diagnostics
      type: title
      version: -1
    taskid: 0662f4a9-0ea0-4a3a-84ab-6314d8a93e7b
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 1892.5,
          "y": 3020
        }
      }
  "41":
    continueonerrortype: ""
    id: "41"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "17"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: "Identify custom and detached system incidents type.  \nChecking
        if 'Auto Extraction' is turned on for:\nExtract from all\nExtract from specific
        indicators doesn't have any settings."
      id: 456a3919-a7f6-49b1-89e1-89069529f723
      iscommand: false
      name: Types settings
      script: HealthCheckIncidentTypes
      type: regular
      version: -1
    taskid: 456a3919-a7f6-49b1-89e1-89069529f723
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 480,
          "y": 2670
        }
      }
  "42":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                accessor: version
                root: DemistoVersion
                transformers:
                - args:
                    delimiter:
                      value:
                        simple: .
                  operator: split
                - operator: FirstArrayElement
          operator: isEqualNumber
          right:
            value:
              simple: "8"
      label: V8
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                accessor: version
                root: DemistoVersion
                transformers:
                - args:
                    delimiter:
                      value:
                        simple: .
                  operator: split
                - operator: FirstArrayElement
          operator: isEqualNumber
          right:
            value:
              simple: "6"
      label: V6
    continueonerrortype: ""
    id: "42"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      V6:
      - "1"
      V8:
      - "43"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Checking the Cortex XSOAR version.
      id: d442451b-736c-43ff-8100-ea23eeabce29
      iscommand: false
      name: XSOAR Version
      type: condition
      version: -1
    taskid: d442451b-736c-43ff-8100-ea23eeabce29
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 1237.5,
          "y": 1040
        }
      }
  "43":
    continueonerrortype: ""
    id: "43"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "30"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: f109a77c-1302-4ede-87e4-068015e5cabf
      iscommand: false
      name: Server Configuration
      type: title
      version: -1
    taskid: f109a77c-1302-4ede-87e4-068015e5cabf
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 695,
          "y": 2205
        }
      }
version: -1
view: |-
  {
    "linkLabelsPosition": {},
    "paper": {
      "dimensions": {
        "height": 4200,
        "width": 3215,
        "x": 50,
        "y": 50
      }
    }
  }
