playbook-UCD.yml
contentitemexportablefields:
  contentitemfields:
    definitionid: ""
    fromServerVersion: ""
    itemVersion: ""
    packID: ""
    packName: ""
    prevname: ""
    propagationLabels:
    - all
    toServerVersion: ""
id: 42b0a515-f790-4e50-86de-736cb0bdc444
inputs: []
name: UCD
outputs: []
starttaskid: "0"
tasks:
  "0":
    continueonerrortype: ""
    id: "0"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "1"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 6ce00a95-1aa0-4ebf-8158-913ca3c47352
      iscommand: false
      name: ""
      version: -1
    taskid: 6ce00a95-1aa0-4ebf-8158-913ca3c47352
    timertriggers: []
    type: start
    view: |-
      {
        "position": {
          "x": 50,
          "y": 50
        }
      }
  "1":
    continueonerrortype: ""
    id: "1"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "2"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: f4a84b74-b5d1-44d6-81f0-56fde51d6ddd
      iscommand: false
      name: Extract IOCs
      type: regular
      version: -1
    taskid: f4a84b74-b5d1-44d6-81f0-56fde51d6ddd
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 50,
          "y": 195
        }
      }
  "2":
    continueonerrortype: ""
    id: "2"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "3"
      - "6"
    note: false
    quietmode: 0
    scriptarguments:
      left:
        simple: 10.0.0.0
      right:
        simple: 10.0.10.255
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: |-
        checks if left side is in range of right side (from,to anotation)
        e.g. - InRange left=4right=1,8 will return true.
      id: 0cf2fde2-06cc-4270-8e32-a0642ce89f31
      iscommand: false
      name: Exclude any Internal IP or Host
      script: InRange
      type: regular
      version: -1
    taskid: 0cf2fde2-06cc-4270-8e32-a0642ce89f31
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 50,
          "y": 370
        }
      }
  "3":
    continueonerrortype: ""
    id: "3"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      "no":
      - "5"
      "yes":
      - "4"
    note: false
    quietmode: 0
    scriptarguments:
      value:
        simple: ${IP}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Check if a given value exists in the context. Will return 'no'
        for empty empty arrays. To be used mostly with DQ and selectors.
      id: 8c12a933-a395-4d55-8112-f1469310a9b6
      iscommand: false
      name: Is IP Present
      script: Exists
      type: condition
      version: -1
    taskid: 8c12a933-a395-4d55-8112-f1469310a9b6
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": -100,
          "y": 570
        }
      }
  "4":
    continueonerrortype: ""
    id: "4"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "7"
    note: false
    quietmode: 0
    scriptarguments:
      ip:
        simple: ${IP}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Provides data enrichment for ips.
      id: 0ef31828-87e7-4348-8ec3-f52b264c3ec6
      iscommand: true
      name: IP Reputation Check
      script: '|||ip'
      type: regular
      version: -1
    taskid: 0ef31828-87e7-4348-8ec3-f52b264c3ec6
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -280,
          "y": 770
        }
      }
  "5":
    continueonerrortype: ""
    id: "5"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    scriptarguments:
      closeReason:
        simple: No IP Present
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: commands.local.cmd.close.inv
      id: 9f212f59-099f-40fe-8424-becc6259a9a2
      iscommand: true
      name: End Investigation
      script: Builtin|||closeInvestigation
      type: regular
      version: -1
    taskid: 9f212f59-099f-40fe-8424-becc6259a9a2
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 130,
          "y": 1030
        }
      }
  "6":
    continueonerrortype: ""
    id: "6"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "7"
    note: false
    quietmode: 0
    scriptarguments:
      url:
        simple: ${URL}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Checks the reputation of a URL.
      id: 8822982a-2c20-4ccd-8dd5-0a73e32c0db6
      iscommand: true
      name: Check If URL is present
      script: '|||url'
      type: regular
      version: -1
    taskid: 8822982a-2c20-4ccd-8dd5-0a73e32c0db6
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 440,
          "y": 590
        }
      }
  "7":
    continueonerrortype: ""
    id: "7"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    scriptarguments:
      htmlBody:
        simple: |-
          Hi,


          This email has ${IP(val.Malicious).Address}. This needs to be blocked




          ${URL}${URL.Malicious.Vendor}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Sends an email.
      id: 1e475eaf-96c0-437e-888c-c7949c67cc77
      iscommand: true
      name: Untitled Task
      script: '|||send-mail'
      type: regular
      version: -1
    taskid: 1e475eaf-96c0-437e-888c-c7949c67cc77
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 440,
          "y": 820
        }
      }
version: -1
view: |-
  {
    "linkLabelsPosition": {},
    "paper": {
      "dimensions": {
        "height": 1075,
        "width": 1100,
        "x": -280,
        "y": 50
      }
    }
  }
