playbook-TCS-Crowdstrike_Hash_detection_playbook.yml
contentitemexportablefields:
  contentitemfields:
    definitionid: ""
    fromServerVersion: ""
    itemVersion: ""
    packID: ""
    packName: ""
    prevname: ""
    propagationLabels:
    - all
    toServerVersion: ""
id: 4cba8e1c-b958-4629-8ecf-b7cddccf9ec0
inputs: []
name: TCS-Crowdstrike Hash detection playbook
outputs: []
starttaskid: "0"
tasks:
  "0":
    continueonerrortype: ""
    id: "0"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "21"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: afa72f3d-67f9-4128-8481-2606c33ffb8d
      iscommand: false
      name: ""
      version: -1
    taskid: afa72f3d-67f9-4128-8481-2606c33ffb8d
    timertriggers: []
    type: start
    view: |-
      {
        "position": {
          "x": 910,
          "y": -460
        }
      }
  "1":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: incident.labels.Email/from
          operator: isEqualString
          right:
            value:
              simple: v.ghule@tcs.com
        - left:
            iscontext: true
            value:
              simple: incident.labels.Email/from
          operator: isEqualString
          right:
            value:
              simple: yogesh.gholap@tcs.com
        - left:
            iscontext: true
            value:
              simple: incident.labels.Email/from
          operator: isEqualString
          right:
            value:
              simple: kunal.krushev@tcs.com
        - left:
            iscontext: true
            value:
              simple: incident.labels.Email/from
          operator: isEqualString
          right:
            value:
              simple: internalis.cybersecurityops@tcs.com
        - left:
            iscontext: true
            value:
              simple: incident.labels.Email/from
          operator: isEqualString
          right:
            value:
              simple: nishanth.dharuman@tcs.com
      label: "yes"
    continueonerrortype: ""
    id: "1"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 3aaa89a2-37e4-4293-871e-6cbbc5601275
      iscommand: false
      name: Is Email From Authorized Sender ?
      type: condition
      version: -1
    taskid: 3aaa89a2-37e4-4293-871e-6cbbc5601275
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 1340,
          "y": -400
        }
      }
  "2":
    continueonerrortype: ""
    id: "2"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "4"
    note: false
    quietmode: 0
    scriptarguments:
      entryID:
        simple: ${File.EntryID}
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: commands.local.cmd.extract.indicators
      id: 7b1ae490-dd76-4e59-8d57-0172a000fe0a
      iscommand: true
      name: Extract Indicators From Text File
      script: Builtin|||extractIndicators
      type: regular
      version: -1
    taskid: 7b1ae490-dd76-4e59-8d57-0172a000fe0a
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 680,
          "y": 110
        }
      }
  "3":
    continueonerrortype: ""
    id: "3"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "17"
    note: false
    quietmode: 0
    scriptarguments:
      body:
        simple: |-
          Hello Human,

          You are not on my authorized list of senders to block these Hashes. Please contact Your XSOAR Support team.

          Regards,
          CSOC Cyber AutoBot
      cc:
        simple: v.ghule@tcs.com
      subject:
        simple: Not Authorized To Send Mail For Hash blocking on CS
      to:
        complex:
          accessor: labels.Email/from
          root: incident
    separatecontext: false
    skipunavailable: false
    task:
      brand: EWS Mail Sender
      description: Sends an email using EWS.
      id: 9faf3d0a-a209-4584-8fc1-1d15ea3c7bfb
      iscommand: true
      name: Send Email Notification - Not Authorized User
      script: EWS Mail Sender|||send-mail
      type: regular
      version: -1
    taskid: 9faf3d0a-a209-4584-8fc1-1d15ea3c7bfb
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 2000,
          "y": 620
        }
      }
  "4":
    continueonerrortype: ""
    id: "4"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "6"
      - "9"
      - "11"
      - "12"
      - "14"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 21fa3677-4d02-45b5-845f-36a91868d22d
      iscommand: false
      name: Crowdstrike  Detection
      type: title
      version: -1
    taskid: 21fa3677-4d02-45b5-845f-36a91868d22d
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 690,
          "y": 400
        }
      }
  "5":
    continueonerrortype: ""
    id: "5"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "16"
    note: false
    quietmode: 0
    scriptarguments:
      ioc_type:
        simple: domain
      policy:
        simple: detect
      share_level:
        simple: red
      value:
        simple: ${ExtractedIndicators.Domain_Test_}
    separatecontext: false
    skipunavailable: false
    task:
      brand: CrowdstrikeFalcon
      description: Uploads an indicator for CrowdStrike to monitor.
      id: 7b9bbdb2-b644-445f-8919-c9fda8c54570
      iscommand: true
      name: Detect Domain  on Crowdstrike
      script: CrowdstrikeFalcon|||cs-falcon-upload-ioc
      type: regular
      version: -1
    taskid: 7b9bbdb2-b644-445f-8919-c9fda8c54570
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 320,
          "y": 855
        }
      }
  "6":
    continueonerrortype: ""
    id: "6"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      "no":
      - "16"
      "yes":
      - "8"
    note: false
    quietmode: 0
    scriptarguments:
      value:
        simple: ${ExtractedIndicators.IP}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Check if a given value exists in the context. Will return 'no'
        for empty empty arrays. To be used mostly with DQ and selectors.
      id: 42c748f5-1725-49a7-88d4-3f06f3a538bb
      iscommand: false
      name: Are there IP to Detect?
      script: Exists
      type: condition
      version: -1
    taskid: 42c748f5-1725-49a7-88d4-3f06f3a538bb
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": -90,
          "y": 680
        }
      }
  "8":
    continueonerrortype: ""
    id: "8"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "16"
    note: false
    quietmode: 0
    scriptarguments:
      ioc_type:
        simple: ipv4
      policy:
        simple: detect
      share_level:
        simple: red
      value:
        simple: ${ExtractedIndicators.IP}
    separatecontext: false
    skipunavailable: false
    task:
      brand: CrowdstrikeFalcon
      description: Uploads an indicator for CrowdStrike to monitor.
      id: 2a7a7182-fd31-4606-8eec-a8ad257534a9
      iscommand: true
      name: Detect IP's  on Crowdstrike
      script: CrowdstrikeFalcon|||cs-falcon-upload-ioc
      type: regular
      version: -1
    taskid: 2a7a7182-fd31-4606-8eec-a8ad257534a9
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -90,
          "y": 855
        }
      }
  "9":
    continueonerrortype: ""
    id: "9"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      "no":
      - "16"
      "yes":
      - "5"
    note: false
    quietmode: 0
    scriptarguments:
      value:
        simple: ${ExtractedIndicators.Domain_Test_}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Check if a given value exists in the context. Will return 'no'
        for empty empty arrays. To be used mostly with DQ and selectors.
      id: acc41a21-c440-4104-81f7-dd44f8efff05
      iscommand: false
      name: Are there Domain to Detect?
      script: Exists
      type: condition
      version: -1
    taskid: acc41a21-c440-4104-81f7-dd44f8efff05
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 320,
          "y": 680
        }
      }
  "10":
    continueonerrortype: ""
    id: "10"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "16"
    note: false
    quietmode: 0
    scriptarguments:
      ioc_type:
        simple: md5
      policy:
        simple: detect
      share_level:
        simple: red
      value:
        simple: ${ExtractedIndicators.File_MD5}
    separatecontext: false
    skipunavailable: false
    task:
      brand: CrowdstrikeFalcon
      description: Uploads an indicator for CrowdStrike to monitor.
      id: 317149fe-11ec-4534-8910-1491638956e5
      iscommand: true
      name: Detect MD5  on Crowdstrike
      script: CrowdstrikeFalcon|||cs-falcon-upload-ioc
      type: regular
      version: -1
    taskid: 317149fe-11ec-4534-8910-1491638956e5
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 740,
          "y": 855
        }
      }
  "11":
    continueonerrortype: ""
    id: "11"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      "no":
      - "16"
      "yes":
      - "10"
    note: false
    quietmode: 0
    scriptarguments:
      value:
        simple: ${ExtractedIndicators.File_MD5}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Check if a given value exists in the context. Will return 'no'
        for empty empty arrays. To be used mostly with DQ and selectors.
      id: 1f1e3b1a-e1a7-4c4c-8862-a57de9485250
      iscommand: false
      name: Are there MD5 to Detect?
      script: Exists
      type: condition
      version: -1
    taskid: 1f1e3b1a-e1a7-4c4c-8862-a57de9485250
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 740,
          "y": 665
        }
      }
  "12":
    continueonerrortype: ""
    id: "12"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      "no":
      - "16"
      "yes":
      - "13"
    note: false
    quietmode: 0
    scriptarguments:
      value:
        simple: ${ExtractedIndicators.File_SHA1}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Check if a given value exists in the context. Will return 'no'
        for empty empty arrays. To be used mostly with DQ and selectors.
      id: 353065ea-77dd-42c6-892d-6b76c63e6562
      iscommand: false
      name: Are there SHA1 to Detect?
      script: Exists
      type: condition
      version: -1
    taskid: 353065ea-77dd-42c6-892d-6b76c63e6562
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 1140,
          "y": 670
        }
      }
  "13":
    continueonerror: true
    continueonerrortype: ""
    id: "13"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "16"
    note: false
    quietmode: 0
    scriptarguments:
      ioc_type:
        simple: SHA1
      policy:
        simple: detect
      share_level:
        simple: red
      value:
        simple: ${ExtractedIndicators.File_SHA1}
    separatecontext: false
    skipunavailable: false
    task:
      brand: CrowdstrikeFalcon
      description: Uploads an indicator for CrowdStrike to monitor.
      id: f887ae64-f1c4-40df-867f-997f974da487
      iscommand: true
      name: Detect SHA1  on Crowdstrike
      script: CrowdstrikeFalcon|||cs-falcon-upload-ioc
      type: regular
      version: -1
    taskid: f887ae64-f1c4-40df-867f-997f974da487
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1140,
          "y": 860
        }
      }
  "14":
    continueonerrortype: ""
    id: "14"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      "no":
      - "16"
      "yes":
      - "15"
    note: false
    quietmode: 0
    scriptarguments:
      value:
        simple: ${ExtractedIndicators.File_SHA256}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Check if a given value exists in the context. Will return 'no'
        for empty empty arrays. To be used mostly with DQ and selectors.
      id: 2c0f7ed1-a284-4ebf-8008-3d7e05158c5e
      iscommand: false
      name: Are there SHA256 to Detect?
      script: Exists
      type: condition
      version: -1
    taskid: 2c0f7ed1-a284-4ebf-8008-3d7e05158c5e
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 1540,
          "y": 670
        }
      }
  "15":
    continueonerrortype: ""
    id: "15"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "16"
    note: false
    quietmode: 0
    scriptarguments:
      ioc_type:
        simple: sha256
      policy:
        simple: detect
      share_level:
        simple: red
      value:
        simple: ${ExtractedIndicators.File_SHA256}
    separatecontext: false
    skipunavailable: false
    task:
      brand: CrowdstrikeFalcon
      description: Uploads an indicator for CrowdStrike to monitor.
      id: aa408cda-ab09-4ea7-89e2-13fe69b56de7
      iscommand: true
      name: Detect SHA256 on Crowdstrike
      script: CrowdstrikeFalcon|||cs-falcon-upload-ioc
      type: regular
      version: -1
    taskid: aa408cda-ab09-4ea7-89e2-13fe69b56de7
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1540,
          "y": 870
        }
      }
  "16":
    continueonerrortype: ""
    id: "16"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "17"
    note: false
    quietmode: 0
    scriptarguments:
      body:
        simple: |-
          Hello Human,

          IOC list is added in Crowdstrike hash detection- ${incident.attachment.name}

          XSOAR Investigation id - ${incident.id}


          Regards,
          Cyber AutoBot
      cc:
        simple: v.ghule@tcs.com
      subject:
        simple: IOC Detection on Crowdstrike List Name - ${incident.attachment.name}
      to:
        complex:
          accessor: labels.Email/from
          root: incident
    separatecontext: false
    skipunavailable: false
    task:
      brand: EWS Mail Sender
      description: Sends an email using EWS.
      id: 473b9dd4-4b67-4bc4-8d9c-6157873e627e
      iscommand: true
      name: Send Notification Mail
      script: EWS Mail Sender|||send-mail
      type: regular
      version: -1
    taskid: 473b9dd4-4b67-4bc4-8d9c-6157873e627e
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 740,
          "y": 1170
        }
      }
  "17":
    continueonerrortype: ""
    id: "17"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "18"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 0b9c1d84-a465-4953-8857-6874616e03d1
      iscommand: false
      name: Close
      type: title
      version: -1
    taskid: 0b9c1d84-a465-4953-8857-6874616e03d1
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 740,
          "y": 1350
        }
      }
  "18":
    continueonerrortype: ""
    id: "18"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "19"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: commands.local.cmd.close.inv
      id: 9b662f76-c41b-4ab0-8309-cdde5188900b
      iscommand: true
      name: Close Investigation
      script: Builtin|||closeInvestigation
      type: regular
      version: -1
    taskid: 9b662f76-c41b-4ab0-8309-cdde5188900b
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 740,
          "y": 1500
        }
      }
  "19":
    continueonerrortype: ""
    id: "19"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 62b53fcd-0b79-4bc7-8e69-6c0a4db8afc9
      iscommand: false
      name: End
      type: title
      version: -1
    taskid: 62b53fcd-0b79-4bc7-8e69-6c0a4db8afc9
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 740,
          "y": 1690
        }
      }
  "20":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: ${incident.emailfrom}
          operator: isEqualString
          right:
            value:
              simple: v.ghule@tcs.com
        - left:
            iscontext: true
            value:
              simple: ${incident.emailfrom}
          operator: isEqualString
          right:
            value:
              simple: yogesh.gholap@tcs.com
        - left:
            iscontext: true
            value:
              simple: ${incident.emailfrom}
          operator: isEqualString
          right:
            value:
              simple: kunal.krushev@tcs.com
        - left:
            iscontext: true
            value:
              simple: ${incident.emailfrom}
          operator: isEqualString
          right:
            value:
              simple: internalis.cybersecurityops@tcs.com
        - left:
            iscontext: true
            value:
              simple: ${incident.emailfrom}
          operator: isEqualString
          right:
            value:
              simple: komal.lugade@tcs.com
      label: "yes"
    continueonerrortype: ""
    id: "20"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "3"
      "yes":
      - "2"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 165369b7-2080-4dda-8a8c-d41af1870d10
      iscommand: false
      name: Is Email From Authorized Sender ?
      type: condition
      version: -1
    taskid: 165369b7-2080-4dda-8a8c-d41af1870d10
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 1470,
          "y": -20
        }
      }
  "21":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: ${incident.emailfrom}
          operator: inList
          right:
            value:
              simple: ${lists.AuthorizedSenders}
        - left:
            iscontext: true
            value:
              simple: ${incident.emailfrom}
          operator: isEqualString
          right:
            value:
              simple: internalis.cybersecurityops@tcs.com
      label: "yes"
    continueonerrortype: ""
    id: "21"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "20"
      - "3"
      "yes":
      - "2"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 850ae43a-c805-45cc-869a-33dfcfb2df35
      iscommand: false
      name: check if sender is present in  list of authorize senders.
      type: condition
      version: -1
    taskid: 850ae43a-c805-45cc-869a-33dfcfb2df35
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 880,
          "y": -250
        }
      }
  "22":
    continueonerrortype: ""
    id: "22"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    scriptarguments:
      action:
        simple: detect
      description:
        simple: XSOAR-Detect
      ioc_type:
        simple: sha256
      platforms:
        simple: mac,windows,linux
      severity:
        simple: high
      using:
        simple: Crowdstrike Falcon v2.0_instance_1
      value:
        simple: ${ExtractedIndicators.File_SHA256}
    separatecontext: false
    skipunavailable: false
    task:
      brand: Crowdstrike Falcon v2.0
      description: Uploads an indicator for CrowdStrike to block and monitor.
      id: 5265e8ad-35b9-4f5b-87fb-df29ce7b875d
      iscommand: true
      name: Detect SHA256 on Crowdstrike
      script: Crowdstrike Falcon v2.0|||csfalcon-upload-ioc
      type: regular
      version: -1
    taskid: 5265e8ad-35b9-4f5b-87fb-df29ce7b875d
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 2050,
          "y": 1010
        }
      }
  "23":
    continueonerrortype: ""
    id: "23"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    scriptarguments:
      action:
        simple: detect
      description:
        simple: XSOAR-Detect
      ioc_type:
        simple: md5
      platforms:
        simple: mac,windows,linux
      severity:
        simple: high
      using:
        simple: Crowdstrike Falcon v2.0_instance_1
      value:
        simple: ${ExtractedIndicators.File_SHA256}
    separatecontext: false
    skipunavailable: false
    task:
      brand: Crowdstrike Falcon v2.0
      description: Uploads an indicator for CrowdStrike to block and monitor.
      id: 45920bd5-020d-4e4a-8335-77b8faa78b8e
      iscommand: true
      name: Detect MD5 on Crowdstrike
      script: Crowdstrike Falcon v2.0|||csfalcon-upload-ioc
      type: regular
      version: -1
    taskid: 45920bd5-020d-4e4a-8335-77b8faa78b8e
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 2050,
          "y": 1190
        }
      }
  "24":
    continueonerrortype: ""
    id: "24"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    scriptarguments:
      action:
        simple: detect
      description:
        simple: XSOAR-Detect
      ioc_type:
        simple: domain
      platforms:
        simple: mac,windows,linux
      severity:
        simple: high
      using:
        simple: Crowdstrike Falcon v2.0_instance_1
      value:
        simple: ${ExtractedIndicators.File_SHA256}
    separatecontext: false
    skipunavailable: false
    task:
      brand: Crowdstrike Falcon v2.0
      description: Uploads an indicator for CrowdStrike to block and monitor.
      id: 595a9309-b2e3-4435-8044-6088db5529fb
      iscommand: true
      name: Detect Domain on Crowdstrike
      script: Crowdstrike Falcon v2.0|||csfalcon-upload-ioc
      type: regular
      version: -1
    taskid: 595a9309-b2e3-4435-8044-6088db5529fb
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 2050,
          "y": 1370
        }
      }
  "25":
    continueonerrortype: ""
    id: "25"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    scriptarguments:
      action:
        simple: detect
      description:
        simple: XSOAR-Detect
      ioc_type:
        simple: ipv4
      platforms:
        simple: mac,windows,linux
      severity:
        simple: high
      using:
        simple: Crowdstrike Falcon v2.0_instance_1
      value:
        simple: ${ExtractedIndicators.File_SHA256}
    separatecontext: false
    skipunavailable: false
    task:
      brand: Crowdstrike Falcon v2.0
      description: Uploads an indicator for CrowdStrike to block and monitor.
      id: 39bc645e-9cd0-44b7-8eed-20ef7f4ae742
      iscommand: true
      name: Detect IPv4 on Crowdstrike
      script: Crowdstrike Falcon v2.0|||csfalcon-upload-ioc
      type: regular
      version: -1
    taskid: 39bc645e-9cd0-44b7-8eed-20ef7f4ae742
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 2050,
          "y": 1550
        }
      }
  "26":
    continueonerrortype: ""
    id: "26"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    scriptarguments:
      action:
        simple: detect
      description:
        simple: XSOAR-Detect
      ioc_type:
        simple: ipv6
      platforms:
        simple: mac,windows,linux
      severity:
        simple: high
      using:
        simple: Crowdstrike Falcon v2.0_instance_1
      value:
        simple: ${ExtractedIndicators.File_SHA256}
    separatecontext: false
    skipunavailable: false
    task:
      brand: Crowdstrike Falcon v2.0
      description: Uploads an indicator for CrowdStrike to block and monitor.
      id: 5ce9d487-45d4-4ae3-8912-abddd7f0fc6a
      iscommand: true
      name: Detect IPv6 on Crowdstrike
      script: Crowdstrike Falcon v2.0|||csfalcon-upload-ioc
      type: regular
      version: -1
    taskid: 5ce9d487-45d4-4ae3-8912-abddd7f0fc6a
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 2050,
          "y": 1730
        }
      }
version: -1
view: |-
  {
    "linkLabelsPosition": {
      "20_3_#default#": 0.45
    },
    "paper": {
      "dimensions": {
        "height": 2285,
        "width": 2520,
        "x": -90,
        "y": -460
      }
    }
  }
