playbook-sha.yml
contentitemexportablefields:
  contentitemfields:
    definitionid: ""
    fromServerVersion: ""
    itemVersion: ""
    packID: ""
    packName: ""
    prevname: ""
    propagationLabels:
    - all
    toServerVersion: ""
id: 87933269-f606-46f9-8641-c505b5aa013c
inputs: []
name: sha
outputs: []
starttaskid: "0"
tasks:
  "0":
    continueonerrortype: ""
    id: "0"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "1"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 0d222497-77ab-4063-8c2e-8e0e9b5ed573
      iscommand: false
      name: ""
      version: -1
    taskid: 0d222497-77ab-4063-8c2e-8e0e9b5ed573
    timertriggers: []
    type: start
    view: |-
      {
        "position": {
          "x": 450,
          "y": 50
        }
      }
  "1":
    continueonerrortype: ""
    id: "1"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "2"
    note: false
    quietmode: 0
    scriptarguments:
      all:
        simple: "yes"
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: |-
        Delete field from context.

        This automation runs using the default Limited User role, unless you explicitly change the permissions.
        For more information, see the section about permissions here:
        https://docs.paloaltonetworks.com/cortex/cortex-xsoar/6-2/cortex-xsoar-admin/playbooks/automations.html
      id: 8bd8fd9f-e550-4580-8814-7fae58a11b40
      iscommand: false
      name: delete context
      script: DeleteContext
      type: regular
      version: -1
    taskid: 8bd8fd9f-e550-4580-8814-7fae58a11b40
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 450,
          "y": 190
        }
      }
  "2":
    continueonerrortype: ""
    form:
      description: ""
      expired: false
      questions:
      - defaultrows: []
        fieldassociated: ""
        gridcolumns: []
        id: "0"
        label: ""
        labelarg:
          simple: New CVE ${newCVE} found. You want to take action on it?
        options: []
        optionsarg:
        - simple: "Yes"
        - simple: "No"
        - simple: Need more information
        placeholder: ""
        readonly: false
        required: true
        tooltip: ""
        type: singleSelect
      sender: ""
      title: New CVE Alert !!!!
      totalanswers: 0
    id: "2"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    message:
      bcc: null
      body:
        simple: New message from the XBot
      cc: null
      format: ""
      methods:
      - SlackV2
      subject: null
      timings:
        completeafterreplies: 1
        completeaftersla: false
        completeafterv2: true
        retriescount: 2
        retriesinterval: 360
      to:
        simple: shapatil@paloaltonetworks.com
    nexttasks:
      '#none#':
      - "4"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: c2933846-e1e9-4b50-8404-b7680e2bbab2
      iscommand: false
      name: CVE found! Ask manager for approval
      type: collection
      version: -1
    taskid: c2933846-e1e9-4b50-8404-b7680e2bbab2
    timertriggers: []
    type: collection
    view: |-
      {
        "position": {
          "x": 450,
          "y": 350
        }
      }
  "3":
    continueonerrortype: ""
    id: "3"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    scriptarguments:
      ignoreAddURL:
        simple: "true"
      message:
        simple: Blocked. Thank you for your response!
      to:
        simple: shapatil@paloaltonetworks.com
    separatecontext: false
    skipunavailable: false
    task:
      brand: SlackV2
      description: Sends a message to a user, group, or channel.
      id: 19d711c3-ee05-461d-8919-eaaf512d3804
      iscommand: true
      name: Block it
      script: SlackV2|||send-notification
      type: regular
      version: -1
    taskid: 19d711c3-ee05-461d-8919-eaaf512d3804
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 210,
          "y": 770
        }
      }
  "4":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: New CVE Alert !!!!.Answers.0
          operator: isEqualString
          right:
            value:
              simple: "Yes"
      label: "yes"
    - condition:
      - - left:
            iscontext: true
            value:
              simple: New CVE Alert !!!!.Answers.0
          operator: isEqualString
          right:
            value:
              simple: "No"
      label: "no"
    - condition:
      - - left:
            iscontext: true
            value:
              simple: New CVE Alert !!!!.Answers.0
          operator: isEqualString
          right:
            value:
              simple: Need more information
      label: need more info
    continueonerrortype: ""
    id: "4"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      need more info:
      - "6"
      "no":
      - "5"
      "yes":
      - "3"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 59ac4b51-186f-4447-8ccb-2d8ea668cd9c
      iscommand: false
      name: Check Manager response
      type: condition
      version: -1
    taskid: 59ac4b51-186f-4447-8ccb-2d8ea668cd9c
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 450,
          "y": 520
        }
      }
  "5":
    continueonerrortype: ""
    id: "5"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    scriptarguments:
      ignoreAddURL:
        simple: "true"
      message:
        simple: Ignored. Thank you for your response!
      to:
        simple: shapatil@paloaltonetworks.com
    separatecontext: false
    skipunavailable: false
    task:
      brand: SlackV2
      description: Sends a message to a user, group, or channel.
      id: e5af1899-c41a-4908-821e-859fe744c5eb
      iscommand: true
      name: Ignored it
      script: SlackV2|||send-notification
      type: regular
      version: -1
    taskid: e5af1899-c41a-4908-821e-859fe744c5eb
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 630,
          "y": 770
        }
      }
  "6":
    continueonerrortype: ""
    id: "6"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "7"
    note: false
    quietmode: 0
    scriptarguments:
      Question:
        simple: Explain vulnerability cve-2017-20
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 4a2d9fa3-bf07-4eef-84f6-142aa0e78691
      iscommand: false
      name: Query ChatGPT
      script: fb578079-3b32-485e-8cff-d23fff27b1c1
      type: regular
      version: -1
    taskid: 4a2d9fa3-bf07-4eef-84f6-142aa0e78691
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1110,
          "y": 760
        }
      }
  "7":
    continueonerrortype: ""
    id: "7"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "8"
    note: false
    quietmode: 0
    scriptarguments:
      ignoreAddURL:
        simple: "true"
      message:
        simple: ${ChatGPT.response}
      to:
        simple: shapatil@paloaltonetworks.com
    separatecontext: false
    skipunavailable: false
    task:
      brand: SlackV2
      description: Sends a message to a user, group, or channel.
      id: eca69b5f-a061-43a0-8352-931b74daf241
      iscommand: true
      name: Send ChatGPT response to Manager
      script: SlackV2|||send-notification
      type: regular
      version: -1
    taskid: eca69b5f-a061-43a0-8352-931b74daf241
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1110,
          "y": 970
        }
      }
  "8":
    continueonerrortype: ""
    id: "8"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "9"
    note: false
    quietmode: 0
    scriptarguments:
      uri:
        simple: /search/playbooks
    separatecontext: false
    skipunavailable: false
    task:
      brand: Core REST API
      description: send HTTP GET requests
      id: 4affbc18-8382-4ba7-8812-1739e9153839
      iscommand: true
      name: Untitled Task
      script: Core REST API|||core-api-get
      type: regular
      version: -1
    taskid: 4affbc18-8382-4ba7-8812-1739e9153839
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1110,
          "y": 1200
        }
      }
  "9":
    continueonerrortype: ""
    id: "9"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    scriptarguments:
      body:
        simple: test
      uri:
        simple: /automations/search
    separatecontext: false
    skipunavailable: false
    task:
      brand: Core REST API
      description: send HTTP POST request
      id: fb340123-3ea1-4d5e-8a7d-a176f2a58b56
      iscommand: true
      name: Untitled Task
      script: Core REST API|||core-api-post
      type: regular
      version: -1
    taskid: fb340123-3ea1-4d5e-8a7d-a176f2a58b56
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1110,
          "y": 1370
        }
      }
version: -1
view: |-
  {
    "linkLabelsPosition": {},
    "paper": {
      "dimensions": {
        "height": 1415,
        "width": 1280,
        "x": 210,
        "y": 50
      }
    }
  }
