playbook-TCS-IOC_Enrichment_Playbook_v_3.1_copy.yml
contentitemexportablefields:
  contentitemfields:
    definitionid: ""
    fromServerVersion: ""
    itemVersion: ""
    packID: ""
    packName: ""
    prevname: ""
    propagationLabels:
    - all
    toServerVersion: ""
hidden: true
id: 297d1ace-db76-43c7-8b30-30c4f22ae3f3
inputs: []
name: TCS-IOC Enrichment Playbook v 3.1_copy
outputs: []
sourceplaybookid: 08c3b260-77a7-4316-8c5d-802cc55f4e22
starttaskid: "0"
tasks:
  "0":
    continueonerrortype: ""
    id: "0"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "54"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 5519acf5-9f3e-4b62-8d26-7b22d33ab455
      iscommand: false
      name: ""
      version: -1
    taskid: 5519acf5-9f3e-4b62-8d26-7b22d33ab455
    timertriggers: []
    type: start
    view: |-
      {
        "position": {
          "x": 450,
          "y": -180
        }
      }
  "3":
    continueonerrortype: ""
    id: "3"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: ec023e20-cf4b-467d-83bc-a75a47188090
      iscommand: false
      name: Done
      type: title
      version: -1
    taskid: ec023e20-cf4b-467d-83bc-a75a47188090
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 450,
          "y": 1870
        }
      }
  "28":
    continueonerrortype: ""
    id: "28"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "29"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: |-
        A script to generate investigation summary report in an automated way
        Can be used in post-processing flow as well.
      id: 40eec4d0-df75-4d12-85c5-9003c5b1f02f
      iscommand: false
      name: Generate Investigation Summary Report
      type: title
      version: -1
    taskid: 40eec4d0-df75-4d12-85c5-9003c5b1f02f
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 450,
          "y": 870
        }
      }
  "29":
    continueonerrortype: ""
    id: "29"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "45"
    note: false
    quietmode: 0
    scriptarguments:
      incidentId:
        simple: ${incident.id}
      name:
        simple: IOC Threat Intel
      type:
        simple: pdf
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: |-
        A script to generate investigation summary report in an automated way
        Can be used in post-processing flow as well.
      id: 3f8e73ba-6f06-4cb8-8eec-6daca241a67e
      iscommand: false
      name: Generate Report
      script: GenerateInvestigationSummaryReport
      type: regular
      version: -1
    taskid: 3f8e73ba-6f06-4cb8-8eec-6daca241a67e
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 450,
          "y": 1190
        }
      }
  "31":
    continueonerrortype: ""
    id: "31"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "3"
    note: false
    quietmode: 0
    scriptarguments:
      attachIDs:
        simple: ${.=val.File.filter(function(f){return f.EntryID;}).reduce(function(acc,
          f) {return f;}, null).EntryID}
      body:
        simple: |-
          Hello Human,

          PFA Demisto Cyber Bot Score and Investigation Summary Report for Incident ${incident.id}


          Regards,
          CSOC Cyber Bot
      retry-count:
        simple: "1"
      retry-interval:
        simple: "30"
      subject:
        simple: IOC Investigation Summary - ${incident.id}
      to:
        complex:
          accessor: labels.Email/from
          root: incident
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Send an email
      id: a85536ad-07bc-4c38-8813-0f17ab85e3cc
      iscommand: true
      name: Email Report Summary
      script: '|||send-mail'
      type: regular
      version: -1
    taskid: a85536ad-07bc-4c38-8813-0f17ab85e3cc
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 450,
          "y": 1650
        }
      }
  "45":
    continueonerrortype: ""
    id: "45"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "31"
    note: false
    quietmode: 0
    scriptarguments:
      entryID:
        simple: ${InfoFile.EntryID}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Zip a file and upload to war room
      id: a5ef8140-adf9-48cb-8162-000a6d0f5b09
      iscommand: false
      name: Zip The Report
      script: ZipFile
      type: regular
      version: -1
    taskid: a5ef8140-adf9-48cb-8162-000a6d0f5b09
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 450,
          "y": 1400
        }
      }
  "46":
    continueonerrortype: ""
    id: "46"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 0
      wait: 1
    nexttasks:
      '#none#':
      - "47"
    note: false
    quietmode: 0
    scriptarguments:
      Domain:
        complex:
          accessor: Domain
          root: ExtractedIndicators
      IP:
        complex:
          accessor: IP
          root: ExtractedIndicators
          transformers:
          - operator: uniq
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: f4c80bc2-214a-4c0d-8d06-0a9c1fd2af88
      iscommand: false
      name: TCS-Recorded Future IOC Enrichment Playbook v 1.0
      playbookId: 1328b1fc-695e-4f06-8272-d3223a7640c2
      type: playbook
      version: -1
    taskid: f4c80bc2-214a-4c0d-8d06-0a9c1fd2af88
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": -940,
          "y": 580
        }
      }
  "47":
    continueonerrortype: ""
    id: "47"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 0
      wait: 1
    nexttasks:
      '#none#':
      - "48"
    note: false
    quietmode: 0
    scriptarguments:
      Domain:
        complex:
          accessor: Domain
          root: ExtractedIndicators
      IP:
        complex:
          accessor: IP
          root: ExtractedIndicators
          transformers:
          - operator: uniq
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 13a577c3-3d6e-417c-8d24-bf26bfa85090
      iscommand: false
      name: TCS-Cisco Umbrella  IOC Enrichment Playbook v 1.0
      playbookId: 801a53c2-3def-4a8d-811e-97ddfb6d0f99
      type: playbook
      version: -1
    taskid: 13a577c3-3d6e-417c-8d24-bf26bfa85090
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": -480,
          "y": 580
        }
      }
  "48":
    continueonerrortype: ""
    id: "48"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 0
      wait: 1
    nexttasks:
      '#none#':
      - "49"
    note: false
    quietmode: 0
    scriptarguments:
      Domain:
        complex:
          accessor: Domain
          root: ExtractedIndicators
      IP:
        complex:
          accessor: IP
          root: ExtractedIndicators
          transformers:
          - operator: uniq
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 1efb0e9b-a350-4f24-81c2-1df9d8faccde
      iscommand: false
      name: TCS-Auto Focus IOC Enrichment Playbook v 1.0
      playbookId: ff9792aa-d59f-4a0d-8cf4-d23be764eed7
      type: playbook
      version: -1
    taskid: 1efb0e9b-a350-4f24-81c2-1df9d8faccde
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": -10,
          "y": 580
        }
      }
  "49":
    continueonerrortype: ""
    id: "49"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 0
      wait: 1
    nexttasks:
      '#none#':
      - "50"
    note: false
    quietmode: 0
    scriptarguments:
      Domain:
        complex:
          accessor: Domain
          root: ExtractedIndicators
      IP:
        complex:
          accessor: IP
          root: ExtractedIndicators
          transformers:
          - operator: uniq
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: d00c3dc7-48db-4b29-89c3-e78c43acddf6
      iscommand: false
      name: TCS-VirusTotal IOC Enrichment Playbook v 1.0
      playbookId: 514f1d8a-3612-45f6-851e-3b68f7a748ec
      type: playbook
      version: -1
    taskid: d00c3dc7-48db-4b29-89c3-e78c43acddf6
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 450,
          "y": 580
        }
      }
  "50":
    continueonerrortype: ""
    id: "50"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 0
      wait: 1
    nexttasks:
      '#none#':
      - "51"
    note: false
    quietmode: 0
    scriptarguments:
      Domain:
        complex:
          accessor: Domain
          root: ExtractedIndicators
      IP:
        complex:
          accessor: IP
          root: ExtractedIndicators
          transformers:
          - operator: uniq
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 6cc706d1-9285-47a8-8368-6149a558875a
      iscommand: false
      name: TCS-AbuseIODB IOC Enrichment Playbook v 1.0
      playbookId: 3814a004-f94f-4f0a-8586-a0e453056f44
      type: playbook
      version: -1
    taskid: 6cc706d1-9285-47a8-8368-6149a558875a
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 910,
          "y": 580
        }
      }
  "51":
    continueonerrortype: ""
    id: "51"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 0
      wait: 1
    nexttasks:
      '#none#':
      - "28"
    note: false
    quietmode: 0
    scriptarguments:
      Domain:
        complex:
          accessor: Domain
          root: ExtractedIndicators
      IP:
        complex:
          accessor: IP
          root: ExtractedIndicators
          transformers:
          - operator: uniq
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 68af67dd-c761-4157-84dc-138fdfdb0c75
      iscommand: false
      name: TCS-Shodan IOC Enrichment Playbook v 1.0
      playbookId: 781f8111-fc1a-462a-8213-0906ea056f0d
      type: playbook
      version: -1
    taskid: 68af67dd-c761-4157-84dc-138fdfdb0c75
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 1370,
          "y": 580
        }
      }
  "52":
    continueonerrortype: ""
    id: "52"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 0
      wait: 1
    nexttasks:
      '#none#':
      - "28"
    note: false
    quietmode: 0
    scriptarguments:
      Domain:
        complex:
          accessor: Domain
          root: ExtractedIndicators
      IP:
        complex:
          accessor: IP
          root: ExtractedIndicators
          transformers:
          - operator: uniq
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 8ccbc712-04a8-406e-8902-1aa6cc4b9fb9
      iscommand: false
      name: TCS-Censys IOC Enrichment Playbook v 1.0
      playbookId: bba1bf3c-2503-48c9-8d09-dc3d87fa7797
      type: playbook
      version: -1
    taskid: 8ccbc712-04a8-406e-8902-1aa6cc4b9fb9
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 1830,
          "y": 580
        }
      }
  "53":
    continueonerrortype: ""
    id: "53"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 3588999a-d528-4121-8dde-e62a713824ae
      iscommand: false
      name: Populate The Threat Verdict Grid
      script: dd263f09-938b-4928-89e2-eee12978fef8
      type: regular
      version: -1
    taskid: 3588999a-d528-4121-8dde-e62a713824ae
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 790,
          "y": 1000
        }
      }
  "54":
    continueonerrortype: ""
    id: "54"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "55"
    note: false
    quietmode: 0
    reputationcalc: 1
    scriptarguments:
      entryID:
        simple: ${File.EntryID}
      using:
        simple: InnerServicesModule
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: commands.local.cmd.extract.indicators
      id: 8c20efcd-5e5b-40ed-8dee-f7124e20cbf2
      iscommand: true
      name: Extract Indicator From File
      script: Builtin|||extractIndicators
      type: regular
      version: -1
    taskid: 8c20efcd-5e5b-40ed-8dee-f7124e20cbf2
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 450,
          "y": -30
        }
      }
  "55":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                accessor: Domain_Test_
                root: ExtractedIndicators
          operator: isExists
        - left:
            iscontext: true
            value:
              complex:
                accessor: Domain
                root: ExtractedIndicators
          operator: isExists
      label: "yes"
    continueonerrortype: ""
    id: "55"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "46"
      "yes":
      - "60"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 76933a2e-238c-47ce-8670-187bdbffd3b6
      iscommand: false
      name: Are There Domains?
      type: condition
      version: -1
    taskid: 76933a2e-238c-47ce-8670-187bdbffd3b6
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 450,
          "y": 140
        }
      }
  "56":
    continueonerrortype: ""
    id: "56"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "57"
    note: false
    quietmode: 0
    scriptarguments:
      key:
        simple: Domain2
      value:
        complex:
          accessor: Domain
          root: ExtractedIndicators
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Set a value in context under the key you entered.
      id: 048e313a-fcf8-4f9d-8b83-070372a99562
      iscommand: false
      name: Set Domain In New Context For DeDup
      script: Set
      type: regular
      version: -1
    taskid: 048e313a-fcf8-4f9d-8b83-070372a99562
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 450,
          "y": 330
        }
      }
  "57":
    continueonerrortype: ""
    id: "57"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "58"
    note: false
    quietmode: 0
    scriptarguments:
      append:
        simple: "true"
      key:
        simple: Domain2
      value:
        complex:
          accessor: Domain_Test_
          root: ExtractedIndicators
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Set a value in context under the key you entered.
      id: af5e1cf8-b88f-4e5f-83c6-2a0cd87b6f49
      iscommand: false
      name: Set Unique Domain In New Context
      script: Set
      type: regular
      version: -1
    taskid: af5e1cf8-b88f-4e5f-83c6-2a0cd87b6f49
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 900,
          "y": 330
        }
      }
  "58":
    continueonerrortype: ""
    id: "58"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "59"
    note: false
    quietmode: 0
    scriptarguments:
      key:
        simple: ExtractedIndicators.Domain
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Delete field from context
      id: 3559a53b-47b8-4a89-8a39-087efc0b4300
      iscommand: false
      name: Delete Extracted Indicators Context
      script: DeleteContext
      type: regular
      version: -1
    taskid: 3559a53b-47b8-4a89-8a39-087efc0b4300
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1340,
          "y": 330
        }
      }
  "59":
    continueonerrortype: ""
    id: "59"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "46"
    note: false
    quietmode: 0
    scriptarguments:
      append:
        simple: "true"
      key:
        simple: ExtractedIndicators.Domain
      value:
        complex:
          root: Domain2
          transformers:
          - operator: 538d1053-bf0f-476b-8458-5f1927a2aeff
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Set a value in context under the key you entered.
      id: 7d456d1c-2dbe-43fe-8344-00eacb8b49af
      iscommand: false
      name: Set New DeDup Domains
      script: Set
      type: regular
      version: -1
    taskid: 7d456d1c-2dbe-43fe-8344-00eacb8b49af
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1800,
          "y": 330
        }
      }
  "60":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                accessor: Domain
                root: ExtractedIndicators
          operator: isExists
      label: "yes"
    continueonerrortype: ""
    id: "60"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "57"
      "yes":
      - "56"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: fbe6e176-a076-4be4-80ed-e2866d9d50cf
      iscommand: false
      name: Is There Extracted Indicator Context ?
      type: condition
      version: -1
    taskid: fbe6e176-a076-4be4-80ed-e2866d9d50cf
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 900,
          "y": 140
        }
      }
version: -1
view: |-
  {
    "linkLabelsPosition": {},
    "paper": {
      "dimensions": {
        "height": 2115,
        "width": 3150,
        "x": -940,
        "y": -180
      }
    }
  }
