playbook-Test_-_loop.yml
contentitemexportablefields:
  contentitemfields:
    definitionid: ""
    fromServerVersion: ""
    itemVersion: ""
    packID: ""
    packName: ""
    prevname: ""
    propagationLabels:
    - all
    toServerVersion: ""
id: 21ba03ad-3a71-446e-81cc-2d416b846bb6
inputs: []
name: Test - loop
outputs: []
starttaskid: "0"
tasks:
  "0":
    continueonerrortype: ""
    id: "0"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "1"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 3674179a-981a-4c5c-8e2c-3dcc51f073c4
      iscommand: false
      name: ""
      version: -1
    taskid: 3674179a-981a-4c5c-8e2c-3dcc51f073c4
    timertriggers: []
    type: start
    view: |-
      {
        "position": {
          "x": 450,
          "y": 50
        }
      }
  "1":
    continueonerrortype: ""
    id: "1"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      forEach: true
      iscommand: false
      max: 100
      wait: 1
    note: false
    quietmode: 0
    scriptarguments:
      account:
        complex:
          accessor: clickers_sam_string}
          root: ${TestData
          transformers:
          - args:
              delimiter:
                value:
                  simple: ','
            operator: splitAndTrim
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 573aa5d2-2cc3-45a2-8fae-f7a8e85ae820
      iscommand: false
      name: Test - Loop Playbook
      playbookId: 99f8bec3-c22d-4d2a-85bf-5f76bb4a668a
      type: playbook
      version: -1
    taskid: 573aa5d2-2cc3-45a2-8fae-f7a8e85ae820
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 450,
          "y": 230
        }
      }
version: -1
view: |-
  {
    "linkLabelsPosition": {},
    "paper": {
      "dimensions": {
        "height": 275,
        "width": 380,
        "x": 450,
        "y": 50
      }
    }
  }
