playbook-OnDemand_Risk_Score_Check.yml
contentitemexportablefields:
  contentitemfields:
    definitionid: ""
    fromServerVersion: ""
    itemVersion: ""
    packID: ""
    packName: ""
    prevname: ""
    propagationLabels:
    - all
    toServerVersion: ""
id: 9982ea55-79eb-4481-8f98-e95dd03f3bf2
inputs: []
name: OnDemand Risk Score Check
outputs: []
starttaskid: "0"
tasks:
  "0":
    continueonerrortype: ""
    id: "0"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "4"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 193b7a90-99cf-4929-8018-5c92a144fc82
      iscommand: false
      name: ""
      version: -1
    taskid: 193b7a90-99cf-4929-8018-5c92a144fc82
    timertriggers: []
    type: start
    view: |-
      {
        "position": {
          "x": 450,
          "y": 80
        }
      }
  "3":
    continueonerrortype: ""
    id: "3"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: c8c46025-fdee-4eff-82af-f974cd4d3400
      iscommand: false
      name: Done
      type: title
      version: -1
    taskid: c8c46025-fdee-4eff-82af-f974cd4d3400
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 450,
          "y": 635
        }
      }
  "4":
    continueonerrortype: ""
    id: "4"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "6"
    note: false
    quietmode: 0
    scriptarguments:
      entryID:
        simple: ${File.EntryID}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Load the contents of a file into context.
      id: ae616e39-b862-4ada-8b48-09dadd17c289
      iscommand: false
      name: Read File
      script: ReadFile
      type: regular
      version: -1
    taskid: ae616e39-b862-4ada-8b48-09dadd17c289
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 450,
          "y": 200
        }
      }
  "5":
    continueonerrortype: ""
    id: "5"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "3"
    note: false
    quietmode: 0
    scriptarguments:
      array:
        simple: ${IP.Address}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Count an array size
      id: 6322a65e-faaa-49f1-8ec5-a1a308ecc334
      iscommand: false
      name: Count array size
      script: CountArraySize
      type: regular
      version: -1
    taskid: 6322a65e-faaa-49f1-8ec5-a1a308ecc334
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 450,
          "y": 490
        }
      }
  "6":
    continueonerrortype: ""
    id: "6"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "5"
    note: false
    quietmode: 0
    scriptarguments:
      key:
        simple: IP.Address
      value:
        complex:
          root: FileData
          transformers:
          - args:
              error_if_no_match: {}
              ignore_case: {}
              multi_line: {}
              period_matches_newline: {}
              regex:
                value:
                  simple: \b(?:(?:25[0-5]|2[0-4][0-9]|1[0-9][0-9]|[1-9]?[0-9])(?:\[\.\]|\.)){3}(?:25[0-5]|2[0-4][0-9]|1[0-9][0-9]|[1-9]?[0-9])\b
            operator: RegexExtractAll
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Set a value in context under the key you entered.
      id: a611a777-230c-420e-859f-add0010ce803
      iscommand: false
      name: set Context Data
      script: Set
      type: regular
      version: -1
    taskid: a611a777-230c-420e-859f-add0010ce803
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 450,
          "y": 330
        }
      }
  "7":
    continueonerrortype: ""
    id: "7"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    scriptarguments:
      ignore-outputs:
        simple: "false"
      ip:
        simple: ${IP.Address}
      using:
        simple: Recorded Future v2_instance_1
    separatecontext: false
    skipunavailable: false
    task:
      brand: Recorded Future v2
      description: Gets a quick indicator of the risk associated with an IP address.
      id: 72e12916-9793-428b-8bb3-abbefc4dc799
      iscommand: true
      name: RF Riskscore Check
      script: Recorded Future v2|||ip
      type: regular
      version: -1
    taskid: 72e12916-9793-428b-8bb3-abbefc4dc799
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 930,
          "y": 700
        }
      }
version: -1
view: |-
  {
    "linkLabelsPosition": {},
    "paper": {
      "dimensions": {
        "height": 715,
        "width": 860,
        "x": 450,
        "y": 80
      }
    }
  }
