playbook-TCS-Offense_Closure_Qradar_v1.0_KK.yml
contentitemexportablefields:
  contentitemfields:
    definitionid: ""
    fromServerVersion: ""
    itemVersion: ""
    packID: ""
    packName: ""
    prevname: ""
    propagationLabels:
    - all
    toServerVersion: ""
id: 69c9cb1c-1aa2-4efe-86db-edc23d80f678
inputs: []
name: TCS-Offense Closure Qradar v1.0_KK
outputs: []
starttaskid: "0"
tasks:
  "0":
    continueonerrortype: ""
    id: "0"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "24"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 0e54b954-1313-4392-890f-27d680ad3326
      iscommand: false
      name: ""
      version: -1
    taskid: 0e54b954-1313-4392-890f-27d680ad3326
    timertriggers: []
    type: start
    view: |-
      {
        "position": {
          "x": -770,
          "y": -160
        }
      }
  "1":
    continueonerrortype: ""
    id: "1"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    scriptarguments:
      contextKey:
        simple: currentTime
      dateFormat:
        simple: UTC
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: |
        Retrieves the current date and time.
      id: ae0d38e3-8833-4f31-8773-f1ffb5e75a75
      iscommand: false
      name: get time
      script: GetTime
      type: regular
      version: -1
    taskid: ae0d38e3-8833-4f31-8773-f1ffb5e75a75
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1120,
          "y": 200
        }
      }
  "2":
    continueonerrortype: ""
    id: "2"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "7"
    note: false
    quietmode: 0
    scriptarguments:
      execution-timeout:
        simple: "1500"
      fields:
        simple: id
      filter:
        simple: status=OPEN
      headers:
        simple: ID
      range:
        simple: 0-5
      using:
        simple: QRadar_instance_1
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Gets offenses from QRadar.
      id: 3579b3b2-8bcb-4015-847a-4137444728f2
      iscommand: true
      name: Qradar Open Offense id fetch
      script: '|||qradar-offenses'
      type: regular
      version: -1
    taskid: 3579b3b2-8bcb-4015-847a-4137444728f2
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 2105,
          "y": 75
        }
      }
  "3":
    continueonerror: true
    continueonerrortype: ""
    id: "3"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    scriptarguments:
      closing_reason_id:
        simple: "2"
      closing_reason_name:
        simple: False-Positive
      execution-timeout:
        simple: "1500"
      fields:
        simple: id
      offense_id:
        simple: ${QRadar.Offense.ID}
      status:
        simple: CLOSED
      using:
        simple: QRadar v3_Typosquat Offences
    separatecontext: false
    skipunavailable: false
    task:
      brand: QRadar v3
      description: Updates an offense.
      id: 6e980cca-35b2-46eb-8b55-80fbf8aa5738
      iscommand: true
      name: Updation of offense
      script: QRadar v3|||qradar-offense-update
      type: regular
      version: -1
    taskid: 6e980cca-35b2-46eb-8b55-80fbf8aa5738
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1930,
          "y": 960
        }
      }
  "4":
    continueonerrortype: ""
    id: "4"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: af5e5dab-39d0-467c-8390-cf52a6e5ca36
      iscommand: false
      name: close
      type: title
      version: -1
    taskid: af5e5dab-39d0-467c-8390-cf52a6e5ca36
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": -800,
          "y": 1310
        }
      }
  "5":
    continueonerrortype: ""
    id: "5"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    scriptarguments:
      key:
        simple: AllOffense
      value:
        complex:
          root: QRadar.Offense.ID
          transformers:
          - args:
              separator:
                value:
                  simple: ','
            operator: join
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Set a value in context under the key you entered.
      id: 4659539f-ff67-46f8-88aa-492afd53eb3e
      iscommand: false
      name: Closing the qradar cases
      script: Set
      type: regular
      version: -1
    taskid: 4659539f-ff67-46f8-88aa-492afd53eb3e
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1125,
          "y": 50
        }
      }
  "6":
    continueonerrortype: ""
    id: "6"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    scriptarguments:
      Offenseid:
        complex:
          root: QRadar.Offense.ID
          transformers:
          - args:
              separator:
                value:
                  simple: ','
            operator: join
      instanceName:
        simple: '"QRadar v3_Typosquat Offences"'
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: e813e4a8-a749-4842-8a6b-57f006076873
      iscommand: false
      name: offense automation
      script: 90114593-cbe1-4298-8b91-850fd918b4ed
      type: regular
      version: -1
    taskid: e813e4a8-a749-4842-8a6b-57f006076873
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1125,
          "y": 350
        }
      }
  "7":
    continueonerrortype: ""
    id: "7"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "8"
    note: false
    quietmode: 0
    scriptarguments:
      seconds:
        simple: "120"
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Sleep for X seconds
      id: 5e1dd77b-86d1-4ca4-8489-13123064d758
      iscommand: false
      name: 'waiting  for latest offense to fetch '
      script: Sleep
      type: regular
      version: -1
    taskid: 5e1dd77b-86d1-4ca4-8489-13123064d758
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 2105,
          "y": 200
        }
      }
  "8":
    continueonerrortype: ""
    id: "8"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    scriptarguments:
      fromDate:
        simple: Today
      incidentTypes:
        simple: QRadar offences onboarding
      includeContext:
        simple: "true"
      limit:
        simple: "1"
      outputFormat:
        simple: json
      query:
        simple: type:"QRadar offences onboarding" and status:"open"
      toDate:
        simple: 4 Hours Ago
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: |-
        Gets a list of incident objects and the associated incident outputs that
        match the specified query and filters. The results are returned in a structured data file.

        This automation runs using the default Limited User role, unless you explicitly change the permissions.
        For more information, see the section about permissions here:
        https://docs.paloaltonetworks.com/cortex/cortex-xsoar/6-5/cortex-xsoar-admin/playbooks/automations.html
      id: d7d07a0b-5a5e-4889-8e71-b0d12ab88d35
      iscommand: false
      name: get latest incident fetched in Demisto
      script: GetIncidentsByQuery
      type: regular
      version: -1
    taskid: d7d07a0b-5a5e-4889-8e71-b0d12ab88d35
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 2105,
          "y": 325
        }
      }
  "9":
    continueonerrortype: ""
    id: "9"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "10"
    note: false
    quietmode: 2
    scriptarguments:
      entryID:
        simple: ${File.EntryID}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Load the contents of a file into context.
      id: 11475928-6840-4f0e-8b4d-373921e34392
      iscommand: false
      name: Read Duplicate incident data from file
      script: ReadFile
      type: regular
      version: -1
    taskid: 11475928-6840-4f0e-8b4d-373921e34392
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 2105,
          "y": 460
        }
      }
  "10":
    continueonerrortype: ""
    id: "10"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "11"
    note: false
    quietmode: 0
    scriptarguments:
      key:
        simple: OffenseID
      value:
        complex:
          root: FileData
          transformers:
          - operator: ParseJSON
          - args:
              field:
                value:
                  simple: idoffense
            operator: getField
    separatecontext: false
    skipunavailable: false
    task:
      brand: CrowdstrikeFalcon
      description: Set a value in context under the key you entered.
      id: 72ebf292-3669-4c85-8c2d-6ad618fd44dc
      iscommand: false
      name: 'Get recently fetched offense id '
      script: Set
      type: regular
      version: -1
    taskid: 72ebf292-3669-4c85-8c2d-6ad618fd44dc
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 2105,
          "y": 595
        }
      }
  "11":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: ${OffenseID}
          operator: greaterThanOrEqual
          right:
            value:
              simple: ${QRadar.Offense.[0].ID}
      label: "yes"
    continueonerrortype: ""
    id: "11"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "18"
      "yes":
      - "3"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 60a34242-bff5-419d-8402-b551145c314b
      iscommand: false
      name: Matching the recently fetched offense
      type: condition
      version: -1
    taskid: 60a34242-bff5-419d-8402-b551145c314b
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 2105,
          "y": 730
        }
      }
  "14":
    continueonerrortype: ""
    id: "14"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 0
      wait: 1
    note: false
    quietmode: 0
    scriptarguments:
      Ids:
        complex:
          root: OffenseID
      Interval:
        complex:
          root: inputs.Interval
      PollingCommandArgName:
        simple: hash
      PollingCommandName:
        simple: wildfire-report
      Timeout:
        complex:
          root: inputs.Timeout
      dt:
        simple: WildFire.Report(val.Status != 'Success').SHA256
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      description: |-
        Use this playbook as a sub-playbook to block execution of the master playbook until a remote action is complete.
        This playbook implements polling by continuously running the command in Step \#2 until the operation completes.
        The remote action should have the following structure:

        1. Initiate the operation.
        2. Poll to check if the operation completed.
        3. (optional) Get the results of the operation.
      id: 616fc750-6265-4053-8200-f60eec31b852
      iscommand: false
      name: GenericPolling
      playbookId: GenericPolling
      type: playbook
      version: -1
    taskid: 616fc750-6265-4053-8200-f60eec31b852
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 1575,
          "y": 35
        }
      }
  "15":
    continueonerrortype: ""
    id: "15"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    scriptarguments:
      name:
        simple: Duplicate offense update qradar_WIP
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: commands.local.cmd.set.playbook
      id: eb78a327-a326-45eb-8b61-f1feec0bba69
      iscommand: true
      name: wait and rerun the playbook
      script: Builtin|||setPlaybook
      type: regular
      version: -1
    taskid: eb78a327-a326-45eb-8b61-f1feec0bba69
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1570,
          "y": 350
        }
      }
  "16":
    continueonerrortype: ""
    id: "16"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "15"
    note: false
    quietmode: 0
    scriptarguments:
      all:
        simple: "yes"
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: |-
        Delete field from context.

        This automation runs using the default Limited User role, unless you explicitly change the permissions.
        For more information, see the section about permissions here:
        https://docs.paloaltonetworks.com/cortex/cortex-xsoar/6-2/cortex-xsoar-admin/playbooks/automations.html
      id: ad3eee90-2f65-4db1-8749-a1402683bbce
      iscommand: false
      name: Delete context
      script: DeleteContext
      type: regular
      version: -1
    taskid: ad3eee90-2f65-4db1-8749-a1402683bbce
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1570,
          "y": 180
        }
      }
  "18":
    continueonerrortype: ""
    id: "18"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "20"
    note: false
    quietmode: 0
    scriptarguments:
      key:
        simple: UpdatedID
      value:
        complex:
          filters:
          - - left:
                iscontext: true
                value:
                  simple: QRadar.Offense.ID
              operator: lessThanOrEqual
              right:
                value:
                  simple: ${OffenseID}
          root: QRadar.Offense.ID
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Set a value in context under the key you entered.
      id: a4e18681-930c-4e56-85c8-e70f3cd6af97
      iscommand: false
      name: Remove latest Triggered offense
      script: Set
      type: regular
      version: -1
    taskid: a4e18681-930c-4e56-85c8-e70f3cd6af97
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 2320,
          "y": 960
        }
      }
  "19":
    continueonerrortype: ""
    id: "19"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    scriptarguments:
      key:
        simple: OID
      value:
        simple: "363485"
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Set a value in context under the key you entered.
      id: 97fe6f2a-823c-4a9f-88fd-db4300a710c2
      iscommand: false
      name: set oid
      script: Set
      type: regular
      version: -1
    taskid: 97fe6f2a-823c-4a9f-88fd-db4300a710c2
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1575,
          "y": 35
        }
      }
  "20":
    continueonerror: true
    continueonerrortype: ""
    id: "20"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    scriptarguments:
      closing_reason_id:
        simple: "2"
      closing_reason_name:
        simple: False-Positive
      execution-timeout:
        simple: "1500"
      fields:
        simple: id
      offense_id:
        simple: ${UpdatedID}
      status:
        simple: CLOSED
      using:
        simple: QRadar v3_Typosquat Offences
    separatecontext: false
    skipunavailable: false
    task:
      brand: QRadar v3
      description: Updates an offense.
      id: e158cdc4-e4c5-4c88-80f5-3db76e500b3f
      iscommand: true
      name: Updation of offense
      script: QRadar v3|||qradar-offense-update
      type: regular
      version: -1
    taskid: e158cdc4-e4c5-4c88-80f5-3db76e500b3f
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 2320,
          "y": 1090
        }
      }
  "21":
    continueonerrortype: ""
    id: "21"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "22"
    note: false
    quietmode: 0
    scriptarguments:
      fromDate:
        simple: 540 minutes ago
      incidentTypes:
        simple: QRadar offences onboarding
      includeContext:
        simple: "false"
      limit:
        simple: "3000"
      outputFormat:
        simple: json
      populateFields:
        simple: idoffense
      query:
        simple: type:"QRadar offences onboarding" and status:Active
      toDate:
        simple: Now
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: |-
        Gets a list of incident objects and the associated incident outputs that
        match the specified query and filters. The results are returned in a structured data file.

        This automation runs using the default Limited User role, unless you explicitly change the permissions.
        For more information, see the section about permissions here:
        https://docs.paloaltonetworks.com/cortex/cortex-xsoar/6-5/cortex-xsoar-admin/playbooks/automations.html
      id: 55bada5e-c3f5-4781-8ffa-27b88fb77674
      iscommand: false
      name: Get all incident fetched in Demisto
      script: GetIncidentsByQuery
      type: regular
      version: -1
    taskid: 55bada5e-c3f5-4781-8ffa-27b88fb77674
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -510,
          "y": 445
        }
      }
  "22":
    continueonerrortype: ""
    id: "22"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "23"
    note: false
    quietmode: 2
    scriptarguments:
      entryID:
        simple: ${File.EntryID}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Load the contents of a file into context.
      id: 491cf571-d353-4d41-892d-5b8ecab891d5
      iscommand: false
      name: Parse incident data from file
      script: ReadFile
      type: regular
      version: -1
    taskid: 491cf571-d353-4d41-892d-5b8ecab891d5
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -510,
          "y": 610
        }
      }
  "23":
    continueonerrortype: ""
    id: "23"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "31"
    note: false
    quietmode: 0
    scriptarguments:
      key:
        simple: OffenseID
      value:
        complex:
          root: FileData
          transformers:
          - operator: ParseJSON
          - args:
              field:
                value:
                  simple: idoffense
            operator: getField
    separatecontext: false
    skipunavailable: false
    task:
      brand: CrowdstrikeFalcon
      description: Set a value in context under the key you entered.
      id: 50f48c5b-ffa2-481e-8356-f4735304d368
      iscommand: false
      name: 'Get list of offense id '
      script: Set
      type: regular
      version: -1
    taskid: 50f48c5b-ffa2-481e-8356-f4735304d368
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -510,
          "y": 760
        }
      }
  "24":
    continueonerrortype: ""
    id: "24"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "26"
    note: false
    quietmode: 0
    scriptarguments:
      dateFormat:
        simple: Hours
      hoursAgo:
        simple: "6"
      minutesAgo:
        simple: "30"
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: |
        Retrieves the current date and time.
      id: 01d0efb0-16a0-4e7c-8efb-6facb69fc4b9
      iscommand: false
      name: Get current time
      script: GetTime
      type: regular
      version: -1
    taskid: 01d0efb0-16a0-4e7c-8efb-6facb69fc4b9
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -770,
          "y": -20
        }
      }
  "26":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: TimeNow
          operator: lessThanOrEqual
          right:
            value:
              simple: "1"
      label: Night
    continueonerrortype: ""
    id: "26"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "27"
      Night:
      - "21"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Compares a single timestamp to a list of timestamps.
      id: 17135b20-7a9b-4f1f-8c98-ac8b89f86fe7
      iscommand: false
      name: compare time
      type: condition
      version: -1
    taskid: 17135b20-7a9b-4f1f-8c98-ac8b89f86fe7
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": -770,
          "y": 145
        }
      }
  "27":
    continueonerrortype: ""
    id: "27"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "28"
    note: false
    quietmode: 0
    scriptarguments:
      fromDate:
        simple: 8 hours ago
      incidentTypes:
        simple: QRadar offences onboarding
      includeContext:
        simple: "false"
      limit:
        simple: "3000"
      outputFormat:
        simple: json
      populateFields:
        simple: idoffense
      query:
        simple: type:"QRadar offences onboarding" and status:Active
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: |-
        Gets a list of incident objects and the associated incident outputs that
        match the specified query and filters. The results are returned in a structured data file.

        This automation runs using the default Limited User role, unless you explicitly change the permissions.
        For more information, see the section about permissions here:
        https://docs.paloaltonetworks.com/cortex/cortex-xsoar/6-5/cortex-xsoar-admin/playbooks/automations.html
      id: 22e16a83-ca4f-4825-8743-c0cb95ae4f6a
      iscommand: false
      name: Get all incident fetched in Demisto
      script: GetIncidentsByQuery
      type: regular
      version: -1
    taskid: 22e16a83-ca4f-4825-8743-c0cb95ae4f6a
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -1060,
          "y": 440
        }
      }
  "28":
    continueonerrortype: ""
    id: "28"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "29"
    note: false
    quietmode: 2
    scriptarguments:
      entryID:
        simple: ${File.EntryID}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Load the contents of a file into context.
      id: 8e9d635a-9116-4218-8da9-653ececa321b
      iscommand: false
      name: Parse incident data from file
      script: ReadFile
      type: regular
      version: -1
    taskid: 8e9d635a-9116-4218-8da9-653ececa321b
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -1060,
          "y": 610
        }
      }
  "29":
    continueonerrortype: ""
    id: "29"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "30"
    note: false
    quietmode: 0
    scriptarguments:
      key:
        simple: OffenseID
      value:
        complex:
          root: FileData
          transformers:
          - operator: ParseJSON
          - args:
              field:
                value:
                  simple: idoffense
            operator: getField
    separatecontext: false
    skipunavailable: false
    task:
      brand: CrowdstrikeFalcon
      description: Set a value in context under the key you entered.
      id: 2912ca70-e916-4bc5-8794-00ebe1d22a0a
      iscommand: false
      name: 'Get list of offense id '
      script: Set
      type: regular
      version: -1
    taskid: 2912ca70-e916-4bc5-8794-00ebe1d22a0a
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -1060,
          "y": 760
        }
      }
  "30":
    continueonerror: true
    continueonerrortype: ""
    id: "30"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "32"
    note: false
    quietmode: 0
    scriptarguments:
      closing_reason_id:
        simple: "55"
      closing_reason_name:
        simple: False Positive
      execution-timeout:
        simple: "1500"
      fields:
        simple: id
      offense_id:
        simple: ${OffenseID}
      status:
        simple: CLOSED
      using:
        simple: QRadar v3_Offence Fetch
    separatecontext: false
    skipunavailable: false
    task:
      brand: QRadar v3
      description: Updates an offense.
      id: fbcbed63-cc7d-4076-86c9-732376e0bc2a
      iscommand: true
      name: Closure of offense
      script: QRadar v3|||qradar-offense-update
      type: regular
      version: -1
    taskid: fbcbed63-cc7d-4076-86c9-732376e0bc2a
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -1060,
          "y": 925
        }
      }
  "31":
    continueonerror: true
    continueonerrortype: ""
    id: "31"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "32"
    note: false
    quietmode: 0
    scriptarguments:
      closing_reason_id:
        simple: "55"
      closing_reason_name:
        simple: False Positive
      execution-timeout:
        simple: "1500"
      fields:
        simple: id
      offense_id:
        simple: ${OffenseID}
      status:
        simple: CLOSED
      using:
        simple: QRadar v3_Offence Fetch
    separatecontext: false
    skipunavailable: false
    task:
      brand: QRadar v3
      description: Updates an offense.
      id: d76d7aa7-2360-43e8-8606-3c1fbcf9c01a
      iscommand: true
      name: Closure of offense
      script: QRadar v3|||qradar-offense-update
      type: regular
      version: -1
    taskid: d76d7aa7-2360-43e8-8606-3c1fbcf9c01a
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -510,
          "y": 925
        }
      }
  "32":
    continueonerrortype: ""
    id: "32"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "4"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: commands.local.cmd.close.inv
      id: c87c3f31-289a-42b9-8525-6f91a1752925
      iscommand: true
      name: Close Investigation
      script: Builtin|||closeInvestigation
      type: regular
      version: -1
    taskid: c87c3f31-289a-42b9-8525-6f91a1752925
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -800,
          "y": 1150
        }
      }
version: -1
view: |-
  {
    "linkLabelsPosition": {},
    "paper": {
      "dimensions": {
        "height": 1535,
        "width": 3760,
        "x": -1060,
        "y": -160
      }
    }
  }
