playbook-TCS_-_Recorded_Future_Watchlist_CVE_Reputation_v0.1_WIP.yml
contentitemexportablefields:
  contentitemfields:
    definitionid: ""
    fromServerVersion: 5.0.0
    itemVersion: 1.2.1
    packID: ""
    packName: ""
    prevname: ""
    propagationLabels:
    - all
    toServerVersion: ""
description: CVE reputation with Recorded Future SOAR enrichment
id: 94fb747c-4f14-4481-83e3-23da3ab467f5
inputs:
- description: The CVE ID for which to get the reputation.
  key: CVE
  playbookInputQuery: null
  required: false
  value:
    complex:
      accessor: ID
      root: CVE
name: TCS - Recorded Future Watchlist CVE Reputation_v0.1_WIP
outputs:
- contextPath: DBotScore.Indicator
  description: The indicator that was tested
  type: string
- contextPath: DBotScore.Type
  description: Indicator type
  type: string
- contextPath: DBotScore.Vendor
  description: Vendor used to calculate the score
  type: string
- contextPath: DBotScore.Score
  description: The actual score
  type: number
- contextPath: CVE.ID
  description: Vulnerability name
  type: string
- contextPath: RecordedFuture.CVE.riskLevel
  description: Recorded Future vulnerability risk level
  type: string
- contextPath: RecordedFuture.CVE.riskScore
  description: Risk score
  type: number
- contextPath: RecordedFuture.CVE.Evidence.rule
  description: Recorded Future risk rule name
  type: string
- contextPath: RecordedFuture.CVE.Evidence.mitigation
  description: Recorded Future risk rule mitigation
  type: string
- contextPath: RecordedFuture.CVE.Evidence.description
  description: Recorded Future risk rule description
  type: string
- contextPath: RecordedFuture.CVE.Evidence.timestamp
  description: Recorded Future risk rule timestamp
  type: date
- contextPath: RecordedFuture.CVE.Evidence.level
  description: Recorded Future risk rule level
  type: number
- contextPath: RecordedFuture.CVE.Evidence.ruleid
  description: Recorded Future risk rule ID
  type: string
- contextPath: RecordedFuture.CVE.name
  description: Vulnerability name
  type: string
- contextPath: RecordedFuture.CVE.maxRules
  description: Maximum count of Recorded Future vulnerability risk rules
  type: number
- contextPath: RecordedFuture.CVE.ruleCount
  description: Number of triggered Recorded Future vulnerability risk rules
  type: number
sourceplaybookid: Recorded Future CVE Reputation
starttaskid: "0"
tasks:
  "0":
    continueonerrortype: ""
    id: "0"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "31"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 35bf053c-cb28-4fa3-816b-28db5fde3b73
      iscommand: false
      name: ""
      version: -1
    taskid: 35bf053c-cb28-4fa3-816b-28db5fde3b73
    timertriggers: []
    type: start
    view: |-
      {
        "position": {
          "x": 50,
          "y": -150
        }
      }
  "16":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: inputs.CVE
          operator: isExists
      label: "yes"
    continueonerrortype: ""
    id: "16"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Checks whether the playbook's input contains at least one domain
        name for which to retrieve the reputation.
      id: d8785afc-a138-46de-8e54-be7eb3dcba76
      iscommand: false
      name: Is there a CVE ID to get reputation of?
      type: condition
      version: -1
    taskid: d8785afc-a138-46de-8e54-be7eb3dcba76
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": -830,
          "y": 320
        }
      }
  "24":
    continueonerrortype: ""
    id: "24"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: d7892bb1-6dbf-4edd-8299-8ffb6c41ccbd
      iscommand: false
      name: Done
      type: title
      version: -1
    taskid: d7892bb1-6dbf-4edd-8299-8ffb6c41ccbd
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 50,
          "y": 1145
        }
      }
  "26":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                accessor: brand
                filters:
                - - ignorecase: true
                    left:
                      iscontext: true
                      value:
                        simple: modules.brand
                    operator: containsString
                    right:
                      value:
                        simple: Recorded Future
                - - ignorecase: true
                    left:
                      iscontext: true
                      value:
                        simple: modules.state
                    operator: isEqualString
                    right:
                      value:
                        simple: active
                root: modules
          operator: isExists
      label: "yes"
    continueonerrortype: ""
    id: "26"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "24"
      "yes":
      - "28"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Checks if there is an active instance of the Recorded Future API
        integration enabled.
      id: 02f0bcb8-803b-43d1-8b38-4444ab7f38ce
      iscommand: false
      name: Is Recorded Future API enabled?
      type: condition
      version: -1
    taskid: 02f0bcb8-803b-43d1-8b38-4444ab7f38ce
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 410,
          "y": 505
        }
      }
  "28":
    continueonerrortype: ""
    id: "28"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "30"
    note: false
    quietmode: 0
    reputationcalc: 1
    scriptarguments:
      cve:
        simple: ${inputs.CVE}
    separatecontext: false
    skipunavailable: false
    task:
      brand: Recorded Future v2
      description: Get a quick indicator of the risk associated with a specific CVE.
      id: ddd20f5f-2ee9-45bb-8f22-1b7e47f12ef6
      iscommand: true
      name: Get CVE reputation from Recorded Future
      script: Recorded Future v2|||cve
      type: regular
      version: -1
    taskid: ddd20f5f-2ee9-45bb-8f22-1b7e47f12ef6
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 530,
          "y": 700
        }
      }
  "29":
    continueonerrortype: ""
    id: "29"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "26"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 3dda4f1a-0d5d-4ebf-879c-a07e647586b4
      iscommand: false
      name: Get reputation using Recorded Future API
      type: title
      version: -1
    taskid: 3dda4f1a-0d5d-4ebf-879c-a07e647586b4
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 410,
          "y": 370
        }
      }
  "30":
    continueonerrortype: ""
    id: "30"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "24"
    note: false
    quietmode: 0
    scriptarguments:
      recordedfutureriskrules:
        simple: ${RecordedFuture.CVE.rules}
      value:
        simple: ${RecordedFuture.CVE.name}
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: Change the properties of an indicator
      id: 52ab0955-f9d0-458c-899f-8ec55703bae0
      iscommand: true
      name: setIndicator
      script: Builtin|||setIndicator
      type: regular
      version: -1
    taskid: 52ab0955-f9d0-458c-899f-8ec55703bae0
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 530,
          "y": 850
        }
      }
  "31":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                accessor: brand
                filters:
                - - ignorecase: true
                    left:
                      iscontext: true
                      value:
                        simple: modules.brand
                    operator: containsString
                    right:
                      value:
                        simple: RecordedFutureLists
                - - ignorecase: true
                    left:
                      iscontext: true
                      value:
                        simple: modules.state
                    operator: isEqualString
                    right:
                      value:
                        simple: active
                root: modules
          operator: isExists
          right:
            value: {}
      label: "yes"
    continueonerrortype: ""
    id: "31"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Checks if there is an active instance of the Recorded Future API
        integration enabled.
      id: 45c60f6c-2175-4e2c-866d-b60769afc21e
      iscommand: false
      name: Is Recorded Future API enabled?
      type: condition
      version: -1
    taskid: 45c60f6c-2175-4e2c-866d-b60769afc21e
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 50,
          "y": 15
        }
      }
version: -1
view: |-
  {
    "linkLabelsPosition": {
      "26_24_#default#": 0.55,
      "26_28_yes": 0.61
    },
    "paper": {
      "dimensions": {
        "height": 1360,
        "width": 1740,
        "x": -830,
        "y": -150
      }
    }
  }
