playbook-Cloud_Credentials_Rotation_-_Azure.yml
contentitemexportablefields:
  contentitemfields:
    definitionid: ""
    fromServerVersion: 6.9.0
    itemVersion: 1.1.19
    packID: Azure-Enrichment-Remediation
    packName: Azure Enrichment and Remediation
    packPropagationLabels:
    - all
    prevname: ""
    propagationLabels: []
    toServerVersion: ""
description: |-
  ## **Azure Credentials Rotation Playbook**

  ### **IAM Remediation**
  Protect your identity and access management:
  - **Reset Password**: Resets the user password to halt any unauthorized access.

  - **Revoke Session**: Terminates current active sessions to ensure the malicious actor is locked out.

  - **Combo Action**: Resets the password and terminates all active sessions.

  ### **Service Principal Remediation**
  Guard your applications:
  - **Password Regeneration**: Generate a new password for the service principal, making sure the old one becomes obsolete.
id: Cloud Credentials Rotation - Azure
inputs:
- description: |-
    The response playbook provides the following remediation actions using MSGraph Users:

    Reset: By entering "Reset" in the input, the playbook will execute password reset.

    Revoke: By entering "Revoke" in the input, the playbook will revoke the user's session.

    ALL: By entering "ALL" in the input, the playbook will execute the reset password and revoke session tasks.
  key: IAMRemediationType
  playbookInputQuery: null
  required: false
  value: {}
- description: This is the unique application (client) ID of the application.
  key: appID
  playbookInputQuery: null
  required: false
  value: {}
- description: This is the unique ID of the service principal object associated with
    the application.
  key: objectID
  playbookInputQuery: null
  required: false
  value: {}
- description: The user ID or user principal name.
  key: userID
  playbookInputQuery: null
  required: false
  value: {}
- description: |-
    The type of identity involved. Usually mapped to incident field named 'cloudidentitytype'.
    e.g.
    IAM,APPLICATION
  key: identityType
  playbookInputQuery: null
  required: false
  value: {}
name: Cloud Credentials Rotation - Azure
outputs:
- contextPath: MSGraphUser
  description: The Microsoft Graph Users information.
  type: unknown
- contextPath: MSGraphApplication
  description: The Microsoft Graph Application information.
  type: unknown
starttaskid: "0"
system: true
tasks:
  "0":
    continueonerrortype: ""
    id: "0"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "18"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 44de7b7b-6a93-4318-86c0-fd5242772161
      iscommand: false
      name: ""
      version: -1
    taskid: 44de7b7b-6a93-4318-86c0-fd5242772161
    timertriggers: []
    type: start
    view: |-
      {
        "position": {
          "x": 620,
          "y": -80
        }
      }
  "1":
    continueonerrortype: ""
    id: "1"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "9"
    note: false
    quietmode: 0
    scriptarguments:
      updated_fields:
        simple: 'passwordProfile: forceChangePasswordNextSignIn=true, password=${NEW_PASSWORD}'
      user:
        complex:
          root: inputs.userID
    separatecontext: false
    skipunavailable: true
    task:
      brand: ""
      description: |-
        Updates the properties of a user object.
        Permissions: - User.ReadWrite (Delegated & Application)
      id: cfd89e24-29c0-421e-856e-13b9e94d9a49
      iscommand: true
      name: Reset password
      script: '|||msgraph-user-update'
      type: regular
      version: -1
    taskid: cfd89e24-29c0-421e-856e-13b9e94d9a49
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 930,
          "y": 860
        }
      }
  "3":
    continueonerrortype: ""
    id: "3"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "9"
    note: false
    quietmode: 0
    scriptarguments:
      user:
        complex:
          root: inputs.userID
    separatecontext: false
    skipunavailable: true
    task:
      brand: ""
      description: |-
        Revoke a user session- Invalidates all the refresh tokens issued to applications for a user.
        Permission: Directory.AccessAsUser.All(Delegated)
      id: ba96f9ab-7419-450e-8dc4-56d941385c82
      iscommand: true
      name: Revoke session
      script: '|||msgraph-user-session-revoke'
      type: regular
      version: -1
    taskid: ba96f9ab-7419-450e-8dc4-56d941385c82
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1350,
          "y": 690
        }
      }
  "7":
    continueonerrortype: ""
    id: "7"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "8"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: daf80df8-2d73-4de6-8bff-93c21a978c75
      iscommand: false
      name: IAM Users
      type: title
      version: -1
    taskid: daf80df8-2d73-4de6-8bff-93c21a978c75
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 930,
          "y": 230
        }
      }
  "8":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                root: inputs.IAMRemediationType
          operator: isEqualString
          right:
            value:
              simple: Reset
      label: Reset Password
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                root: inputs.IAMRemediationType
          operator: isEqualString
          right:
            value:
              simple: Revoke
      label: Revoke Session
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                root: inputs.IAMRemediationType
          operator: isEqualString
          right:
            value:
              simple: ALL
      label: ALL
    continueonerrortype: ""
    id: "8"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "9"
      ALL:
      - "17"
      Reset Password:
      - "16"
      Revoke Session:
      - "3"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Checks the remediation type provided by the user.
      id: 689c1495-e695-4b88-8151-3f625345ad05
      iscommand: false
      name: Check remediation type
      type: condition
      version: -1
    taskid: 689c1495-e695-4b88-8151-3f625345ad05
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 930,
          "y": 380
        }
      }
  "9":
    continueonerrortype: ""
    id: "9"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: f424dee6-ce56-48d2-80ce-dc9e9bc67e40
      iscommand: false
      name: Done
      type: title
      version: -1
    taskid: f424dee6-ce56-48d2-80ce-dc9e9bc67e40
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 620,
          "y": 1030
        }
      }
  "10":
    continueonerrortype: ""
    id: "10"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "11"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: a439157f-37d2-47be-882d-dde93d9099d5
      iscommand: false
      name: Service Principals
      type: title
      version: -1
    taskid: a439157f-37d2-47be-882d-dde93d9099d5
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 300,
          "y": 220
        }
      }
  "11":
    continueonerrortype: ""
    id: "11"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "12"
    note: false
    quietmode: 0
    scriptarguments:
      app_id:
        complex:
          root: inputs.appID
      id:
        complex:
          root: inputs.objectID
    separatecontext: false
    skipunavailable: true
    task:
      brand: ""
      description: Retrieve the properties and relationships of a servicePrincipal
        object.
      id: d90a9e64-8ba7-47a7-8001-2aa0c94e4394
      iscommand: true
      name: Get the service principal
      script: '|||msgraph-apps-service-principal-get'
      type: regular
      version: -1
    taskid: d90a9e64-8ba7-47a7-8001-2aa0c94e4394
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 300,
          "y": 360
        }
      }
  "12":
    continueonerrortype: ""
    id: "12"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "14"
    note: false
    quietmode: 0
    scriptarguments:
      id:
        complex:
          accessor: id
          root: MSGraphApplication
    separatecontext: false
    skipunavailable: true
    task:
      brand: ""
      description: Unlock configuration of a service principal.
      id: 6161eb05-12cd-4e34-8ebb-2ce5bcf0e090
      iscommand: true
      name: Unlock the service principal configuration
      script: '|||msgraph-apps-service-principal-unlock-configuration'
      type: regular
      version: -1
    taskid: 6161eb05-12cd-4e34-8ebb-2ce5bcf0e090
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 300,
          "y": 520
        }
      }
  "14":
    continueonerrortype: ""
    id: "14"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "19"
    note: false
    quietmode: 0
    scriptarguments:
      app_id:
        complex:
          accessor: appId
          root: MSGraphApplication
    separatecontext: false
    skipunavailable: true
    task:
      brand: ""
      description: Add a strong password or secret to a service principal. To allow
        this command, use msgraph-apps-service-principal-unlock-configuration. The
        password will be expired in 1 hour by default.
      id: c1aee4c9-eb27-4401-85d3-dc7f5b8dfc8d
      iscommand: true
      name: Add new password to the service principal
      script: '|||msgraph-apps-service-principal-password-add'
      type: regular
      version: -1
    taskid: c1aee4c9-eb27-4401-85d3-dc7f5b8dfc8d
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 300,
          "y": 690
        }
      }
  "16":
    continueonerrortype: ""
    id: "16"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "1"
    note: false
    quietmode: 0
    scriptarguments:
      min_digits:
        simple: "5"
      min_lcase:
        simple: "5"
      min_symbols:
        simple: "1"
      min_ucase:
        simple: "1"
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: "This function generates a password and allows various parameters
        to customize the properties of the password depending on the use case (e.g.
        password complexity requirements).  The default behavior is to generate a
        password of  *random length* including all four character classes (upper,
        lower, digits, symbols) with at least five and at most ten characters per
        class. \n\nThe min_* values all default to 0. This means that if the command
        is executed in this way:\n!GeneratePassword max_lcase=10\nIt is possible that
        a password of length zero could be generated. It is therefore recommended
        to always include a min_* parameter that matches. \n\nThe debug parameter
        will print certain properties of the command into the WarRoom for easy diagnostics."
      id: c297534a-534b-4d72-8640-4e36d83cd4ef
      iscommand: false
      name: Generate password
      script: GeneratePassword
      type: regular
      version: -1
    taskid: c297534a-534b-4d72-8640-4e36d83cd4ef
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 930,
          "y": 690
        }
      }
  "17":
    continueonerrortype: ""
    id: "17"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "16"
      - "3"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: c99cf073-a673-497b-8b42-e78cdf7739f2
      iscommand: false
      name: ALL
      type: title
      version: -1
    taskid: c99cf073-a673-497b-8b42-e78cdf7739f2
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 1730,
          "y": 550
        }
      }
  "18":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                root: inputs.identityType
          operator: isEqualString
          right:
            value:
              simple: Application
      - - left:
            iscontext: true
            value:
              complex:
                root: inputs.appID
          operator: isNotEmpty
        - left:
            iscontext: true
            value:
              complex:
                root: inputs.objectID
          operator: isNotEmpty
      label: SP
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                root: inputs.identityType
          operator: isEqualString
          right:
            value:
              simple: IAM
      - - left:
            iscontext: true
            value:
              complex:
                root: inputs.userID
          operator: isNotEmpty
      label: IAM
    continueonerrortype: ""
    id: "18"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "9"
      IAM:
      - "7"
      SP:
      - "10"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Checks the identity type that was part of the alert.
      id: 1423427f-02ea-4e80-8c54-0aa434688e44
      iscommand: false
      name: Check identity type
      type: condition
      version: -1
    taskid: 1423427f-02ea-4e80-8c54-0aa434688e44
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 620,
          "y": 50
        }
      }
  "19":
    continueonerrortype: ""
    id: "19"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "9"
    note: false
    quietmode: 0
    scriptarguments:
      id:
        complex:
          accessor: id
          root: MSGraphApplication
    separatecontext: false
    skipunavailable: true
    task:
      brand: ""
      description: Lock configuration of a service principal.
      id: a20b5dd2-9d50-4573-8627-5c9d5ba0885f
      iscommand: true
      name: Lock the service principal configuration
      script: '|||msgraph-apps-service-principal-lock-configuration'
      type: regular
      version: -1
    taskid: a20b5dd2-9d50-4573-8627-5c9d5ba0885f
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 300,
          "y": 860
        }
      }
version: -1
view: |-
  {
    "linkLabelsPosition": {
      "18_10_SP": 0.53,
      "18_7_IAM": 0.67,
      "18_9_#default#": 0.11,
      "8_16_Reset Password": 0.63,
      "8_17_ALL": 0.33
    },
    "paper": {
      "dimensions": {
        "height": 1175,
        "width": 1810,
        "x": 300,
        "y": -80
      }
    }
  }
