playbook-TCS-Search_And_Delete_Emails__EWS_V1.0_KR.yml
contentitemexportablefields:
  contentitemfields:
    definitionid: ""
    fromServerVersion: 5.0.0
    itemVersion: 2.0.10
    packID: ""
    packName: EWS
    prevname: ""
    propagationLabels:
    - all
    toServerVersion: ""
description: This playbook searches EWS to identify and delete emails with similar
  attributes of a malicious email.
id: fcaab462-bbfa-4926-8638-1d2b7f8c6c60
inputs:
- description: The value of the malicious email's "From" attribute.
  key: From
  playbookInputQuery: null
  required: true
  value:
    complex:
      accessor: emailfrom
      root: incident
- description: The value of the malicious email's "Subject" attribute.
  key: Subject
  playbookInputQuery: null
  required: false
  value:
    complex:
      accessor: emailsubject
      root: incident
- description: The value of the malicious email's "AttachmentName" attribute.
  key: AttachmentName
  playbookInputQuery: null
  required: false
  value:
    complex:
      accessor: attachmentname
      root: incident
- description: Limit the search to the current week (true/false).
  key: SearchThisWeek
  playbookInputQuery: null
  required: true
  value:
    simple: "true"
- description: The maximum number of search results.
  key: Limit
  playbookInputQuery: null
  required: true
  value:
    simple: "20"
- description: The deletion type (trash, soft, or hard).
  key: DeleteType
  playbookInputQuery: null
  required: true
  value:
    simple: trash
name: TCS-Search And Delete Emails  EWS V1.0_KR
outputs: []
sourceplaybookid: search_and_delete_emails_-_ews
starttaskid: "0"
tasks:
  "0":
    continueonerrortype: ""
    id: "0"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "18"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 29ad5b22-21a8-4fd9-8e8f-149e8011be2a
      iscommand: false
      name: ""
      version: -1
    taskid: 29ad5b22-21a8-4fd9-8e8f-149e8011be2a
    timertriggers: []
    type: start
    view: |-
      {
        "position": {
          "x": 260,
          "y": 50
        }
      }
  "1":
    continueonerrortype: ""
    id: "1"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "17"
    note: false
    quietmode: 0
    scriptarguments:
      extend-context:
        simple: output=itemId
      folder-path:
        simple: Sent Items
      ignore-outputs:
        simple: "true"
      limit:
        simple: "100"
      query:
        simple: from:InternalIS CyberAutoBot
      selected-fields:
        simple: all
      target-mailbox:
        simple: internalis.cyberautobot@india.tcs.com
      using:
        simple: EWS v2_instance_AutoBotv2
    separatecontext: false
    skipunavailable: false
    task:
      brand: EWS v2
      description: Searches for items in the specified mailbox. Specific permissions
        are needed for this operation to search in a target mailbox other than the
        default.
      id: ff29f683-61ea-4a82-8b65-a94f014aa333
      iscommand: true
      name: Search EWS for Mails In sent items
      script: EWS v2|||ews-search-mailbox
      type: regular
      version: -1
    taskid: ff29f683-61ea-4a82-8b65-a94f014aa333
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 275,
          "y": 380
        }
      }
  "13":
    continueonerrortype: ""
    id: "13"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "16"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 2d64052f-a876-4d0e-8d6e-0c35ee289dda
      iscommand: false
      name: Delete similar emails
      type: title
      version: -1
    taskid: 2d64052f-a876-4d0e-8d6e-0c35ee289dda
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 275,
          "y": 790
        }
      }
  "15":
    continueonerrortype: ""
    id: "15"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "19"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: commands.local.cmd.close.inv
      id: 0a2d4d1e-b1c2-4261-8768-ccfc262adc61
      iscommand: true
      name: Close investigation
      script: Builtin|||closeInvestigation
      type: regular
      version: -1
    taskid: 0a2d4d1e-b1c2-4261-8768-ccfc262adc61
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 275,
          "y": 1170
        }
      }
  "16":
    continueonerrortype: ""
    id: "16"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "15"
    note: false
    quietmode: 0
    scriptarguments:
      delete-type:
        simple: hard
      item-ids:
        simple: ${output}
      using:
        simple: EWS v2_instance_AutoBotv2
    separatecontext: false
    skipunavailable: false
    task:
      brand: EWS v2
      description: Delete all similar emails from all mailboxes in EWS.
      id: a7bc0263-b103-40cd-86d7-135d9d3df62c
      iscommand: true
      name: Delete emails from EWS
      script: EWS v2|||ews-delete-items
      type: regular
      version: -1
    taskid: a7bc0263-b103-40cd-86d7-135d9d3df62c
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 275,
          "y": 970
        }
      }
  "17":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                root: output
          operator: isExists
          right:
            value: {}
      label: "yes"
    continueonerrortype: ""
    id: "17"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "15"
      "yes":
      - "13"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: 'Did the EWS search identify emails similar to the malicious email? '
      id: 90c4615c-958e-4a6d-8383-054f019312b4
      iscommand: false
      name: Were similar emails found?
      type: condition
      version: -1
    taskid: 90c4615c-958e-4a6d-8383-054f019312b4
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 275,
          "y": 590
        }
      }
  "18":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                accessor: brand
                filters:
                - - ignorecase: true
                    left:
                      iscontext: true
                      value:
                        simple: modules.brand
                    operator: isEqualString
                    right:
                      value:
                        simple: EWS v2
                - - left:
                      iscontext: true
                      value:
                        simple: modules.state
                    operator: isEqualString
                    right:
                      value:
                        simple: active
                root: modules
          operator: isExists
          right:
            value: {}
      label: "yes"
    continueonerrortype: ""
    id: "18"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "15"
      "yes":
      - "1"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: |
        Verify that there’s a valid instance of EWS v2 enabled.
      id: ede2c893-5b50-4bde-8545-610f8778cfe0
      iscommand: false
      name: Is EWS v2 enabled?
      type: condition
      version: -1
    taskid: ede2c893-5b50-4bde-8545-610f8778cfe0
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 260,
          "y": 200
        }
      }
  "19":
    continueonerrortype: ""
    id: "19"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 71f27aca-cdba-4576-8654-b3cd435fde7d
      iscommand: false
      name: DONE
      type: title
      version: -1
    taskid: 71f27aca-cdba-4576-8654-b3cd435fde7d
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 275,
          "y": 1340
        }
      }
version: -1
view: |-
  {
    "linkLabelsPosition": {
      "18_15_#default#": 0.6
    },
    "paper": {
      "dimensions": {
        "height": 1355,
        "width": 395,
        "x": 260,
        "y": 50
      }
    }
  }
