playbook-Testarrayinsubplaybook.yml
contentitemexportablefields:
  contentitemfields:
    definitionid: ""
    fromServerVersion: ""
    itemVersion: ""
    packID: ""
    packName: ""
    prevname: ""
    propagationLabels:
    - all
    toServerVersion: ""
id: bd2300f8-ae84-43a2-804f-b51b2d88969e
inputs: []
name: Testarrayinsubplaybook
outputs: []
starttaskid: "0"
tasks:
  "0":
    continueonerrortype: ""
    id: "0"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "1"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 0d1ac1bf-d3b5-4714-87d8-ad6f39c6644e
      iscommand: false
      name: ""
      version: -1
    taskid: 0d1ac1bf-d3b5-4714-87d8-ad6f39c6644e
    timertriggers: []
    type: start
    view: |-
      {
        "position": {
          "x": 50,
          "y": 50
        }
      }
  "1":
    continueonerrortype: ""
    id: "1"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "2"
    note: false
    quietmode: 0
    reputationcalc: 2
    scriptarguments:
      text:
        simple: 1.1.1.1,2.2.2.2,3.3.3.3,4.4.4.4
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: commands.local.cmd.extract.indicators
      id: c38aae30-ea1b-4cb1-8892-74da6cc81b83
      iscommand: true
      name: ExtractIP
      script: Builtin|||extractIndicators
      type: regular
      version: -1
    taskid: c38aae30-ea1b-4cb1-8892-74da6cc81b83
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 50,
          "y": 195
        }
      }
  "2":
    continueonerrortype: ""
    id: "2"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 100
      wait: 1
    nexttasks:
      '#none#':
      - "3"
    note: false
    quietmode: 0
    scriptarguments:
      IP:
        complex:
          accessor: Address
          root: IP
          transformers:
          - operator: uniq
      InternalRange:
        simple: inputs.InternalRange
      ResolveIP:
        complex:
          root: inputs.ResolveIP
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      description: |-
        Enrich IP addresses using one or more integrations.

        - Resolve IP addresses to hostnames (DNS)
        - Provide threat information
        - Separate internal and external addresses
      id: 22472614-2296-4bac-8a7b-6a1f562a03ac
      iscommand: false
      name: IP Enrichment - External - Generic v2
      playbookId: IP Enrichment - External - Generic v2
      type: playbook
      version: -1
    taskid: 22472614-2296-4bac-8a7b-6a1f562a03ac
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 50,
          "y": 370
        }
      }
  "3":
    continueonerrortype: ""
    id: "3"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Checks if the investigation found any malicious indicators (file,
        URL, IP address, domain, or email). Returns "yes" if at least one malicious
        indicator is found.
      id: 25f6c900-ca3d-4398-8b24-ee410e4a5729
      iscommand: false
      name: Is Malicious Indicator
      script: IsMaliciousIndicatorFound
      type: condition
      version: -1
    taskid: 25f6c900-ca3d-4398-8b24-ee410e4a5729
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 50,
          "y": 545
        }
      }
version: -1
view: |-
  {
    "linkLabelsPosition": {},
    "paper": {
      "dimensions": {
        "height": 590,
        "width": 380,
        "x": 50,
        "y": 50
      }
    }
  }
