playbook-TCS_Haxm_False_Positive_v1.0_KL.yml
contentitemexportablefields:
  contentitemfields:
    definitionid: ""
    fromServerVersion: ""
    itemVersion: ""
    packID: ""
    packName: ""
    prevname: ""
    propagationLabels:
    - all
    toServerVersion: ""
id: 93e56fa2-c986-4ee1-80d3-f9691adf7180
inputs: []
name: TCS Haxm False Positive v1.0_KL
outputs: []
starttaskid: "0"
tasks:
  "0":
    continueonerrortype: ""
    id: "0"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "1"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: ac49a239-4526-4dc0-8142-ccb1c26fc38a
      iscommand: false
      name: ""
      version: -1
    taskid: ac49a239-4526-4dc0-8142-ccb1c26fc38a
    timertriggers: []
    type: start
    view: |-
      {
        "position": {
          "x": 310,
          "y": 40
        }
      }
  "1":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                accessor: crowdstriketactic
                root: incident
                transformers:
                - operator: toLowerCase
          operator: containsString
          right:
            value:
              simple: credential access
      - - left:
            iscontext: true
            value:
              complex:
                accessor: crowdstriketechnique
                root: incident
                transformers:
                - operator: toLowerCase
          operator: containsString
          right:
            value:
              simple: os credential dumping
      - - left:
            iscontext: true
            value:
              complex:
                accessor: crowdstrikefilename
                root: incident
                transformers:
                - operator: toLowerCase
          operator: containsString
          right:
            value:
              simple: haxm.exe
      label: "yes"
    continueonerrortype: ""
    id: "1"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "6"
      "yes":
      - "2"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 89fc4ccf-f2a3-49a9-85b4-8bf87f17f861
      iscommand: false
      name: Is the CS Trigger Logic Satisfied ?(Haxm.exe)
      type: condition
      version: -1
    taskid: 89fc4ccf-f2a3-49a9-85b4-8bf87f17f861
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 310,
          "y": 195
        }
      }
  "2":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: incident.crowdstrikefilehash
          operator: isEqualString
          right:
            value:
              simple: 8eda5b8eb4b7269fc4d7046d66bdb10ee40be3d7833e2f08f2346168fdc51449
        - left:
            iscontext: true
            value:
              simple: incident.crowdstrikefilehash
          operator: isEqualString
          right:
            value:
              simple: a65df98bf1a0cf9461f38da2b97702cbe51f6ee52ffa4d91724ae0134218e93d
        - left:
            iscontext: true
            value:
              simple: incident.crowdstrikefilehash
          operator: isEqualString
          right:
            value:
              simple: 8803458deeda0a67320633cd49097c924f80957ea4d4470c1097f73dfc0fb240
        - left:
            iscontext: true
            value:
              simple: incident.crowdstrikefilehash
          operator: isEqualString
          right:
            value:
              simple: be217975675182dfc6924a4b08ec9af85d3c2a6086565264aa8ac35d00d82981
      label: "yes"
    continueonerrortype: ""
    id: "2"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "6"
      "yes":
      - "4"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 5aefd623-e9a0-4b95-8fa0-a5fea0134496
      iscommand: false
      name: is the File Hash one of the following?
      type: condition
      version: -1
    taskid: 5aefd623-e9a0-4b95-8fa0-a5fea0134496
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 310,
          "y": 410
        }
      }
  "4":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                accessor: crowdstrikecmdline
                root: incident
                transformers:
                - operator: toLowerCase
          operator: containsString
          right:
            value:
              simple: c:\program files\xm\haxm\
        - left:
            iscontext: true
            value:
              complex:
                accessor: crowdstrikecmdline
                root: incident
                transformers:
                - operator: toLowerCase
          operator: containsString
          right:
            value:
              simple: c:\program files (x86)\xm\haxm\
      label: "yes"
    continueonerrortype: ""
    id: "4"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "6"
      "yes":
      - "5"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 1488f87b-feb0-4bf7-8d4d-1ffef9ecf93e
      iscommand: false
      name: Do command line contains
      type: condition
      version: -1
    taskid: 1488f87b-feb0-4bf7-8d4d-1ffef9ecf93e
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 140,
          "y": 710
        }
      }
  "5":
    continueonerrortype: ""
    id: "5"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "6"
    note: false
    quietmode: 0
    scriptarguments:
      key:
        simple: create Ticket
      value:
        simple: "Yes"
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Set a value in context under the key you entered.
      id: 7db89f80-f455-409b-862c-0035468cc22b
      iscommand: false
      name: Ticket creation needed or not
      script: Set
      type: regular
      version: -1
    taskid: 7db89f80-f455-409b-862c-0035468cc22b
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 110,
          "y": 930
        }
      }
  "6":
    continueonerrortype: ""
    id: "6"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 3a26652b-6a88-4054-8acd-4927b8ec2401
      iscommand: false
      name: Close Task
      type: title
      version: -1
    taskid: 3a26652b-6a88-4054-8acd-4927b8ec2401
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 420,
          "y": 1220
        }
      }
version: -1
view: |-
  {
    "linkLabelsPosition": {},
    "paper": {
      "dimensions": {
        "height": 1245,
        "width": 690,
        "x": 110,
        "y": 40
      }
    }
  }
